@import (reference) '~assets/styles/shared';

.ReportingResolved__heading {
  color: @color-white;
  font-size: @font-size-large;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: @font-size-large;
  padding: 0 2rem 1rem;
  text-transform: uppercase;

  @media @breakpoint-mobile {
    padding-left: 1rem;
  }
}

.ReportingResolved__forked-market-card {
  margin-bottom: 3rem;
}
