@import (reference) "~assets/styles/shared";

.Wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > div:last-of-type {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    margin-bottom: @size-12;
    padding: 0 @size-12;

    > button {
      .mono-14-bold;

      border-width: 2px;
      padding: 0;
      text-transform: uppercase;
      width: 100%;
    }

    &.Full {
      flex-grow: unset;
    }
  }
}

.Buy > li {
  &.active {
    color: @color-positive;

    &:hover {
      color: @color-positive;
    }
  }
}

.Sell > li {
  &.active {
    color: @color-negative;
    &:hover {
      color: @color-negative;
    }
  }
}

.Buy,
.Sell {
  background-color: @color-dark-grey;
  color: @color-inactive-text;
  display: flex;

  > li {
    color: @color-secondary-text;
    text-align: center;

    &:hover {
      color: @color-primary-text;
    }

    > div {
      padding: @size-20 0;
      width: 100%;
    }

    > button {
      .mono-11-bold;

      align-items: center;
      display: flex;
      flex-direction: column;
      padding: @size-8 0;
      position: relative;
      text-transform: uppercase;
    }

    &:first-of-type {
      > button {
        margin-left: @size-16;
        margin-right: @size-24;
      }
    }
  }
}

.Scalar {
  margin-bottom: @size-8;
}

@media @breakpoint-mobile-mid {
  .Wrapper {
    > div:last-of-type {
      margin-top: @size-16;
    }
  }

  .Buy,
  .Sell {
    justify-content: center;

    > li > button {
      padding: @size-12 0;
    }
  }
}