@import (reference) '~assets/styles/shared';

.PortfolioReports {
  padding: 0 2rem;

  > h4 {
    color: @color-white;
    font-size: @font-size-rather-large;
    line-height: @font-size-rather-large;
    padding-top: 0.75rem;
  }

  > h5 {
    color: @color-white;
    padding: 0.75rem 0 3rem;
  }
}

button.PortfolioReports__claim {
  &:extend(.button--bright all);

  align-self: flex-end;
}

@media @breakpoint-mobile {
  .PortfolioReports {
    padding: 0 1rem 1rem;
  }

  button.PortfolioReports__claim {
    margin-top: 3rem;
    width: 100%;
  }
}
