@import (reference) '~assets/styles/shared';

.LandingHero {
  position: relative;
  display: flex;
  margin-top: @size-28;
  background-color: @color-dark-grey;
  border-radius: @border-radius-default;
  height: 304px;
  background-image: url('../../../assets/images/hero-background.png');
  background-position: 100% center;
  background-size: contain;
  background-repeat: no-repeat;

  > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 324px;
    height: 324px;
  }

  > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-width: 480px;
    margin: @size-40 @size-16 @size-48 @size-48;

    > h1 {
      .text-30-bold;

      color: @color-primary-text;
      margin-bottom: 0;

      > span {
        color: @color-brand;
      }
    }

    > span:first-of-type {
      .text-14;

      line-height: 140%;
      color: @color-primary-text;
      margin: @size-16 0 @size-28;
    }

    > div {
      > button:last-of-type {
        margin-left: @size-18;
        background-color: transparent;
        border: 0;
      }
    }
  }

  > div:last-of-type {
    display: grid;
    grid-gap: 54px;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: 11%;

    > img:first-of-type {
      max-width: 152px;
      align-self: flex-end;
      padding-bottom: @size-31;
    }

    > img:nth-of-type(2) {
      max-width: 92px;
      align-self: flex-start;
      padding-top: @size-17;
    }

    > img:last-of-type {
      display: none;
    }
  }

  @media @breakpoint-mobile-tablet {
    background-position: 120% center;

    > div:first-of-type {
      z-index: 1;
      max-width: 340px;
    }

    > div:last-of-type {
      margin-right: 0;
      position: absolute;
      right: 3%;
      height: 100%;
      grid-gap: @size-20;
    }
  }

  @media (max-width: @step-2-15) {
    background-image: none;
    margin-top: @size-10;
    height: 100%;
    padding: @size-24 @size-16;

    > div:first-of-type {
      align-items: center;
      justify-content: center;
      max-width: 340px;
      width: 100%;
      margin: 0 auto;

      > h1 {
        .text-24-bold;

        text-align: center;
        margin-bottom: 0;
      }

      > span:last-of-type {
        .text-14-medium;

        margin: @size-12 0 @size-24;
        line-height: @size-18;
        text-align: center;
      }

      > div {
        display: flex;
        flex-direction: column;
        width: 100%;

        > button:first-of-type {
          margin: auto;
          max-width: 100%;
          width: 100%;
        }

        > button:last-of-type {
          max-width: fit-content;
          margin: @size-24 auto 0;
        }
      }
    }

    > div:last-of-type {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 @size-78;

      > img:first-of-type {
        align-self: flex-end;
        padding-bottom: @size-31;
        opacity: 0.4;
        filter: blur(1px);
      }

      > img:nth-of-type(2) {
        justify-self: flex-end;
        padding-top: @size-17;
        opacity: 0.4;
        filter: blur(1px);
      }

      > img:last-of-type {
        display: block;
        position: absolute;
        bottom: -@size-5;
        right: 20%;
      }
    }
  }

  @media @breakpoint-mobile {
    > div:last-of-type {
      padding: 0 0 0 @size-8;

      > img:last-of-type {
        right: @size-23;
      }
    }
  }
}
