@import (reference) '~assets/styles/shared';

.LandingHero {
  position: relative;
  display: flex;
  margin-top: @size-28;
  padding: @size-40 72px;
  background: @color-dark-grey;
  border-radius: @border-radius-default;
  height: 324px;

  @media all and (min-width: @step-2-2) and (max-width: @step-2-0) {
    padding-right: 0;
  }

  > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 324px;
    height: 324px;
  }

  > div:first-of-type {
    z-index: @default-z-index;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    @media @breakpoint-min-desktop-min {
      margin-right: 120px;
    }

    > h1 {
      .text-36-bold;

      color: var(--color-primary-text);
      margin-bottom: 0;
    }

    > span:first-of-type {
      .text-14;

      line-height: 140%;
      color: var(--color-primary-text);
      margin: @size-20 0;
    }

    > div {
      > button:last-of-type {
        margin-left: @size-24;
      }
    }
  }

  > div:last-of-type {
    z-index: @default-z-index;
    display: flex;

    > img {
      height: 270px;
    }
  }

  @media @breakpoint-mobile-tablet {
    height: 100%;
    padding: @size-24 @size-16;

    > img {
      height: 100%;
      width: fit-content;
    }

    > div:first-of-type {
      align-items: center;
      justify-content: center;
      max-width: 340px;
      width: 100%;
      margin: 0 auto;

      > h1 {
        .text-24-bold;

        text-align: center;
        margin-bottom: 0;
      }

      > span:last-of-type {
        .text-14-medium;

        margin: @size-12 0 @size-24;
        line-height: @size-18;
        text-align: center;
      }

      > div {
        display: flex;
        flex-direction: column;
        width: 100%;

        > button:first-of-type {
          margin: auto;
          max-width: 156px;
          width: 100%;
        }

        > button:last-of-type {
          max-width: fit-content;
          margin: @size-24 auto 0;
        }
      }
    }

    > div:last-of-type {
      display: none;
    }
  }

  @media @breakpoint-mobile {
    > div:first-of-type {
      > div > button:first-of-type {
        max-width: 100%;
      }
    }
  }
}
