@import (reference) '~assets/styles/shared';

.MarketsHeader {
  display: flex;
  flex-direction: column;
  padding: @size-16 0 0 0;

  > div > button {
    display: none;
  }

  @media @breakpoint-mobile {
    padding: @size-20 0 0 0;

    > div > button {
      display: flex;
      margin-left: @size-16;
    }
  }


  > div > div > div > div {
    display: flex;
  }

  > div > div > div > div {
    @media @breakpoint-mobile {
      display: none;
    }
  }

  > div:first-of-type {
    @media @breakpoint-mobile {
      display: flex;
      flex-direction: row;
    }
  }

  > div:nth-of-type(2) {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    @media @breakpoint-mobile {
      align-items: center;
      flex-direction: row;
      margin-bottom: 0;
      margin-top: @size-4;
    }

    > h1 {
      .text-24-bold;

      color: @color-alternate-info-text;
      letter-spacing: 0.125rem;
      margin-bottom: 0;
      text-transform: capitalize;

      @media @breakpoint-mobile {
        order: 0;
        margin-bottom: @size-16;
      }
    }

    > div {
      display: flex;
      align-items: center;

      @media @breakpoint-mobile {
        flex-direction: column;
      }
    }
  }

  > div > article {
    flex: 1;
    margin-bottom: @size-16;
    height: 44px;

    @media @breakpoint-mobile {
      margin-bottom: @size-16;
      order: 0;
    }
  }
}

.DisableFilters {
  article,
  input,
  > div > div {
    pointer-events: none;
    opacity: 1;
  }
}
