@import (reference) '~assets/styles/shared';

.MarketsView {
  flex: 1;
  max-width: 1200px;
  margin: auto;
  padding: 0 @size-16;

  @media @breakpoint-mobile-tablet {
    margin: 0 @size-14;
    padding: 0;
  }

  > section:not([class*='LandingHero']) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div:first-of-type {
      flex: 2;
    }

    > div:nth-of-type(2) {
      margin: @size-4 @size-24 @size-4 0;
    }

    @media @breakpoint-mobile-tablet {
      align-items: baseline;
      margin: 0;

      > div:nth-of-type(2) {
        display: none;
      }

      // Hide DropDownFilter on mobile
      > div:last-of-type {
        display: none;
      }
    }
  }
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .MarketsView {
    margin: 0;
    padding: 0 0 0 @size-40;

    > article {
      max-width: 760px;
      width: 100%;

      @media @breakpoint-mobile-tiny {
        max-width: none;
      }
    }

    > section:not([class*='LandingHero']) {
      // this is the sportsbook/betting-ui topsection
      align-items: center;
      display: grid;
      grid-gap: 0 @size-8;
      grid-template-columns: 0fr 1fr minmax(270px, 1fr);
      margin-top: @size-32;
      margin-bottom: @size-24;
      max-width: 760px;

      @media @breakpoint-mobile-tiny {
        max-width: none;
      }

      > h3 {
        .text-24-bold;

        color: var(--color-primary-text);
        display: none;
        text-transform: capitalize;
      }

      > button {
        display: none;
      }

      > ul {
        grid-column: 1;
      }

      > div {
        justify-self: flex-end;
        grid-column: 2;
        margin-right: @size-16;
      }

      @media @breakpoint-mobile-tablet {
        grid-template-columns: 1fr 1fr auto;
        grid-gap: @size-16 @size-6;
        margin-top: 0;

        > h3 {
          display: block;
        }

        > button {
          display: flex;
          width: auto;
          height: @size-38;
          padding: @size-8;
        }
      }

      @media @breakpoint-mobile {
        grid-template-columns: 1fr auto;

        > h3 {
          grid-column: span 2;
        }
      }
    }

    div[class*='Search'] {
      height: @size-38;
    }

    @media @breakpoint-tablet {
      padding: @size-32;
    }

    @media @breakpoint-mobile {
      padding: @size-24 @size-12;
    }
  }
}

.Disabled {
  > div {
    pointer-events: none;
    opacity: 0.5;
  }
}
