@import (reference) '~assets/styles/shared';

.MarketsHeader {
  display: flex;
  flex-direction: column;
  padding: @size-48 @size-16 0 @size-16;

  > div > h1 {
    .text-30-bold;

    color: @color-alternate-info-text;
    letter-spacing: 0.125rem;
    margin-bottom: @size-24;
    text-transform: capitalize;

    @media @breakpoint-mobile {
      order: 0;
    }
  }

  > div > h4 {
    .text-18-bold;

    color: @color-secondary-text;
  }

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media @breakpoint-mobile {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  > article {
    flex: 1;
    margin-bottom: @size-28;

    @media @breakpoint-mobile {
      margin-bottom: @size-16;
      order: 0;
    }
  }
}

.DisableFilters {
  > article {
    pointer-events: none;
    opacity: 0.5;
  }

  > div > div {
    pointer-events: none;
    opacity: 0.5;
  }
}
