@import (reference) '~assets/styles/shared';

.SliderContainer {
  border-radius: @border-radius-rounded;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  > button {
    position: absolute;
    z-index: @above-all-content-above;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;

    > svg {
      width: @size-24;
      height: @size-24;
      stroke: var(--color-secondary-action);
    }

    &.LeftArrow {
      left: 0;
      padding-left: @size-16;
    }

    &.RightArrow {
      right: 0;
      padding-right: @size-16;
    }
  }
}

.SliderInfoOverlay {
  > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary-action);
    padding: 0 @size-32;

    > h2 {
      .text-30-bold;

      text-align: center;
      margin-bottom: @size-24;
      white-space: pre-wrap;

      @media @breakpoint-mobile {
        .text-20-bold;

        margin-bottom: @size-40;
      }
    }

    &.LeftAligned {
      align-items: flex-start;

      > h2 {
        text-align: left;
      }
    }

    &.RightAligned {
      align-items: flex-end;

      > h2 {
        text-align: right;
      }
    }
  }
}

.Slider {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;

  > div {
    min-width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .SliderInfoOverlay;
  }

  > a,
  > a > img {
    min-width: 100%;
    width: 100%;
    height: 100%;
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .Slider {
    > div > div > a > button {
      color: var(--color-secondary-action);
    }
  }
}
