@import (reference) '../../../../assets/styles/shared';

:local(.ShowErrors) {
  color: white;
  height: 100px;
  width: 100%;
  overflow-y: scroll;
}

:local(.ShowErrors__body) {
  height: 100px;
  width: 100%;
}

:local(.ShowErrors__bodyText) {
  height: 100px;
  width: 100%;
}

:local(.ShowErrors__close) {
  height: 100px;
  width: 100%;
}

:local(.ShowErrors__icon) {
  color: red;
}
