@import (reference) '~assets/styles/shared';

// Used in Betting UI
.HeadingBar {
  align-items: center;
  display: flex;
  flex: 1;
  min-height: @size-20;
  max-height: @size-20;
  padding-left: @size-16;
  padding-right: @size-8;
  margin: @size-8 0 @size-4;

  > section {
    display: none;
  }

  @media @breakpoint-mobile {
    min-height: @size-40;
    max-height: @size-40;
    display: grid;
    grid-template-columns: min-content 1fr @size-16 repeat(3, @size-24);
    grid-template-rows: @size-20 @size-20;
    padding-left: @size-12;
    padding-right: @size-12;

    > div[class*='WordTrail'] {
      grid-column: 1 / span 6;
      grid-row: 2;
    }

    > button[id='facebookButton'] {
      grid-column: 3 / span 1;
    }
    > button[id='twitterButton'] {
      grid-column: 4 / span 1;
    }

    > div[class*='CopyButton'] {
      grid-column: 5 / span 1;
    }

    > button[class*='FavoriteButton'] {
      grid-column: 6 / span 1;
    }
  }

  > div[class*='WordTrail'] > button[class*='WordTrailButton'] {
    .mono-10-bold;
  }

  > span {
    .mono-10-bold;

    margin: 0 @size-8 0 0;
    height: fit-content;
  }

  > div[class*='CopyButton'],
  > button:not([class*='BackButton']) {
    height: @size-16;
    margin-left: @size-8;
    width: @size-16;
  }

  > label {
    height: @size-16;
    margin-bottom: 0;
    margin-right: @size-8;
    max-width: fit-content;
  }

  > button[id='facebookButton'] {
    justify-content: flex-end;
    margin-left: auto;

    > svg {
      height: @size-16;
      width: @size-16;

      > path:first-of-type {
        fill: var(--color-facebook);
      }

      > path:last-of-type {
        fill: var(--color-facebook-2);
      }
    }
  }

  > button[id='twitterButton'] {
    > svg {
      height: @size-16;
      width: @size-16;

      > path:first-of-type {
        fill: var(--color-twitter);
      }

      > path:last-of-type {
        fill: var(--color-twitter-2);
      }
    }
  }

  > div[class*='CopyButton'],
  > button:last-of-type {
    height: @size-16;
    margin-left: @size-8;

    > svg {
      height: @size-16;
      width: @size-16;
      cursor: pointer;
      fill: none;
    }
  }

  > div[class*='CopyButton'] > svg > path {
    fill: var(--color-primary-text);
  }
}

.ExpandedHeading {
  position: absolute;
  width: 100%;

  @media @breakpoint-mobile {
    position: inherit;
    box-shadow: none;
    z-index: unset;
  }
}

.BackButton {
  .mono-10;

  align-items: center;
  color: var(--color-primary-text);
  display: flex;
  text-transform: uppercase;
  margin-right: @size-10;

  span {
    color: var(--color-primary-text);
  }

  svg {
    height: @size-6;
    width: @size-10;

    path {
      stroke: var(--color-primary-text);
    }
  }
}

.CopyButton {
  position: relative;

  > div {
    .text-12-medium;

    background: var(--color-secondary-action);
    border: @size-1 solid var(--color-secondary-action-outline);
    color: var(--color-primary-text);
    border-radius: @border-radius-default;
    padding: @size-4;
    position: absolute;
    top: 125%;
    left: -@size-16;
    z-index: @mask-modal;
    max-width: @size-52;

    &:before {
      content: '';
      position: absolute;
      top: -@size-5;
      left: @size-21;
      margin: 0;
      border-top: 0;
      border-left: @size-5 solid transparent;
      border-right: @size-5 solid transparent;
      border-bottom: @size-5 solid var(--color-secondary-action-outline);
      padding: 0;
      width: 0;
      height: 0;
    }
  }
}

@media @breakpoint-mobile-tablet {
  .BackButton {
    display: none;
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .HeadingBar {
    margin: 0;
    padding: 0;

    > label {
      height: unset;
    }

    > div[class*='CopyButton'],
    > button:not([class*='BackButton']),
    > button:not(:first-of-type) {
      height: @size-20;
      width: @size-20;

      > svg {
        height: @size-20;
        width: @size-20;
      }
    }

    > section > div[class*='WordTrail'] > button[class*='WordTrailButton'],
    > div[class*='WordTrail'] > button[class*='WordTrailButton'] {
      .mono-12-semi-bold;

      color: var(--color-primary-text);
    }

    > section > button[class*="BackButton"],
    > button[class*='BackButton'] {
      height: @size-20;
      width: @size-20;
      background: var(--color-module-background);
      border: @size-1 solid var(--color-dark-text);
      border-radius: @border-radius-soft;
      margin-right: @size-8;
      display: flex;
      justify-content: center;

      > svg {
        width: @size-16;
        height: @size-16;
        padding: @size-4;

        > path {
          stroke: var(--color-primary-text);
        }
      }

      > span {
        display: none;
      }

      &:not(:disabled):hover {
        border: @size-1 solid var(--color-primary-text);
      }

      &:not(:disabled):focus {
        background: transparent;
      }

      &:disabled {
        opacity: 0.25;
      }
    }

    > button:nth-of-type(2) {
      margin-left: auto;
    }

    @media @breakpoint-mobile-tablet {
      grid-gap: 0 @size-4;
      grid-template-columns: min-content 1fr repeat(3, @size-20);

      > div[class*='CopyButton'],
      > button:not([class*='BackButton']),
      > button:not(:first-of-type) {
        margin-left: 0;
      }
    }

    @media @breakpoint-mobile {
      display: flex;
      flex-flow: row wrap;
      max-height: unset;
      grid-gap: @size-16 @size-8;

      > section {
        display: flex;
        flex: 1 100%;
        background: var(--color-module-background);
        padding: @size-10 @size-12;
        border-bottom: @size-1 solid var(--color-dark-grey);
        margin: 0 -@size-12;

        > div[class*='WordTrail'] > button[class*='WordTrailButton'] {
          .text-10-semi-bold;
        }
      }

      > button[class*='BackButton'],
      > div[class*="WordTrail"] {
        display: none;
      }

      > button[id='facebookButton'] {
        margin-left: auto;
      }
    }
  }

  .CopyButton > div {
    .text-12-medium;

    background: var(--color-primary-text-80);
    border: @size-1 solid transparent;
    color: var(--color-module-background);
    padding: @size-8;
    max-width: @size-60;

    &:before {
      border-bottom: @size-5 solid var(--color-primary-text-80);
      top: -@size-6;
    }
  }
}

:root[theme='SPORTS'] {
  .HeadingBar {
    grid-gap: 0 @size-8;

    @media @breakpoint-mobile {
      grid-gap: @size-16 @size-8;
    }

    > button,
    > span {
      margin: 0;
    }

    > button[class*="BackButton"] {
      margin-right: 0;
    }

    > div[class*="CopyButton"] {
      margin: 0;
    }

    > button[id*="facebookButton"] {
      margin-left: auto;
    }

    > button[class*="FavoriteButton"] {
      display: none;
    }
  }
}

.InfoTicket {
  background: var(--color-module-background);
  box-shadow: 0 0 @size-4 var(--color-primary-text-15);
  border-radius: @border-radius-default;
  padding: @size-10 @size-28 @size-10 @size-14;
  display: grid;
  flex: 1;
  grid-gap: 0 @size-8;
  grid-template-columns: 0fr 1fr;
  grid-template-rows: @size-28 auto;
  position: relative;

  &::before {
    background-color: var(--color-brand);
    content: '';
    position: absolute;
    width: @size-2;
    top: @size-4;
    bottom: @size-4;
    border-bottom-right-radius: @border-radius-default;
    border-top-right-radius: @border-radius-default;
  }

  > svg {
    height: @size-24;
    width: @size-24;
    grid-column: 1;
    grid-row: span 2;

    &[name*='BettorsIcon'] > path {
      stroke: var(--color-primary-text);
      fill: none;

      &:nth-of-type(3) {
        stroke: none;
        fill: var(--color-primary-text);
      }
    }

    &[name='DaiLogoIcon'] > g > path {
      fill: var(--color-primary-text);
    }

    &[name*='BetsIcon'] > g {
      opacity: 1;

      > path {
        stroke: var(--color-primary-text);
      }
    }
  }

  > span:first-of-type {
    .text-24-bold;

    color: var(--color-primary-text);
    line-height: @size-28;
  }

  > span:nth-of-type(2) {
    .text-14;

    grid-column: 2;
    color: var(--color-secondary-text);
    line-height: 140%;
  }
}
