@import (reference) '~assets/styles/shared';

.MarketTemplateTitle {
  color: @color-primary-text;
  display: flex;
  flex-direction: column;
  font-weight: bold;

  > a > div,
  > div {
    display: flex;
  }
}

.TEXT {
  white-space: nowrap;
  border-bottom: 1px solid @color-highlight-template-text;
}

.CustomMarket {
  .mono-10-bold;

  background: fade(@color-error, 20%);
  border-radius: @size-3;
  color: @color-error;
  margin: 0 0 @size-8 0;
  text-transform: uppercase;
  width: max-content;

  &.TopMargin {
    margin-top: @size-8;
  }

  > svg {
    width: @size-8;
    height: @size-8;
    margin-right: @size-4;

    > circle {
      fill: @color-error;
    }
  }
}
