@import (reference) '~assets/styles/shared';

.MarketTemplateTitle {
  color: @color-primary-text;
  display: flex;
  flex-direction: column;
  font-weight: bold;

  > a > span:nth-of-type(2),
  > span:nth-of-type(2) {
    display: inline-block;
  }
}

.TEXT {
  position: relative;

  &:after {
    position: absolute;
    height: 2px;
    background: @color-highlight-template-text;
    content: ' ';
    width: 100%;
    left: 0;
    bottom: 0;
  }
}