@import (reference) '~assets/styles/shared';

.MarketTemplateTitle {
  color: var(--color-primary-text);
  display: flex;
  flex-direction: column;
  font-weight: bold;

  > a > div,
  > div {
    display: flex;
  }
}

.TEXT {
  position: relative;
  white-space: nowrap;
  
  &:after {
    position: absolute;
    height: 2px;
    background: var(--color-highlight-template-text);
    content: ' ';
    width: 100%;
    left: 0;
    bottom: 0;
  }
}