@import (reference) '~assets/styles/shared';

@keyframes fadeinout {
  100% { opacity: 1; }
}

.TutorialPopUp {
  position: absolute;
  z-index: 102;
  pointer-events: all;
  background: @color-page-background;
  border-radius: @border-radius-default;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border: 1px solid fade(@color-outline, 50%);
  animation: fadeinout 0.5s linear forwards;
  opacity: 0;

  > div {
    position: relative;
    padding: @size-16 @size-12 @size-12;
    display: flex;
    flex-direction: column;

    > h1 {
      .text-14-medium;

      color: @color-primary-text;
      margin-bottom: @size-8;
    }

    > span {
      .text-12;

      color: @color-secondary-text;
      line-height: 140%;
      margin-bottom: @size-16;

      > a {
        margin-left: @size-3;
        color: @color-primary-action;
      }
    }

    > div:nth-last-child(2) {
      margin-bottom: @size-12;
    }

    > div:last-of-type {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      > span {
        .mono-9-bold;

        color: @color-secondary-text;
        line-height: @size-12;

        > span {
          color: @color-primary-text;
          margin-right: @size-4;
        }
      }

      > div {
          width: @size-32;
      }
    }

    &::before {
      width: 0;
      height: 0;
      content: ' ';
      position: absolute;
      border-style: solid;
    }

    &::after {
      width: 0;
      height: 0;
      content: ' ';
      position: absolute;
      border-style: solid;
    }
  }

  &.Top {
    > div {
      &::before {
        border-color: transparent transparent @color-outline transparent;
        border-width: @size-7;
        bottom: 100%;
      }

      &::after {
        border-color: transparent transparent @color-page-background transparent;
        border-width: @size-6;
        bottom: 100%;
        margin-left: 1px;
      }
    }
  }

  &.Bottom {
    > div {
      &::before {
        border-color: @color-outline transparent transparent transparent;
        border-width: @size-7;
        top: 100%;
      }

      &::after {
        border-color: @color-page-background transparent transparent transparent;
        border-width: @size-6;
        top: 100%;
        margin-left: 1px;
      }
    }
  }

  &.Left {
    > div {
      &::before {
        border-color: transparent @color-outline transparent transparent;
        border-width: @size-7;
        right: 100%;
      }

      &::after {
        border-color: transparent @color-page-background transparent transparent;
        border-width: @size-6;
        right: 100%;
        margin-top: 1px;
      }
    }
  }

  &.LeftBottom {
    > div {
      &::before {
        border-color: transparent @color-outline transparent transparent;
        border-width: @size-7;
        right: 100%;
        bottom: @size-10;
      }

      &::after {
        border-color: transparent @color-page-background transparent transparent;
        border-width: @size-6;
        right: 100%;
        margin-bottom: 1px;
        bottom: @size-10;
      }
    }
  }

  &.Right {
    > div {
      &::before {
        border-color: transparent transparent transparent @color-outline;
        border-width: @size-7;
        left: 100%;
      }

      &::after {
        border-color: transparent transparent transparent @color-page-background;
        border-width: @size-6;
        left: 100%;
        margin-top: 1px;
      }
    }
  }
}

.Lighten {
  color: @color-primary-text !important;
}
