@import (reference) "~assets/styles/shared";

.GasPriceEdit {
  align-items: center;
  color: @color-secondary-text;
  flex-direction: column;
  justify-content: center;
  max-width: 162px;
  width: unset !important;

  &:hover {
    background-color: @color-primary-light;
  }
}

.GasPriceEdit__container {
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 18px 24px;
  width: 100%;

  &:focus {
    outline: none;
  }

  @media @breakpoint-mobile {
    padding-bottom: 10px;
    padding-top: 8px;
  }
}

.GasPriceEdit__title {
  color: @color-less-neutral;
  font-size: 10px;
  line-height: 2;
}

.GasPriceEdit__info {
  align-items: flex-end;
  display: flex;
}

.GasPriceEdit__price {
  .mono-14-bold;

  color: @color-secondary-text;
  margin-bottom: -2px;
  margin-right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.GasPriceEdit__description_non_standard {
  .text-10-bold;

  color: @color-in-reporting;
  margin-right: 4px;
}

.GasPriceEdit__description_standard {
  .text-10-bold;

  color: @color-secondary-text;
  margin-right: 4px;
}

.GasPriceEdit__edit {
  color: @color-secondary-text;
  font-size: 10px;
  text-decoration: underline;
}

@media @breakpoint-mobile-mid {
  .GasPriceEdit {
    max-width: unset;
  }

  .GasPriceEdit__container {
    flex-direction: row;
    padding: 16px 24px;
  }

  .GasPriceEdit__unit {
    display: none;
  }

  .GasPriceEdit__info {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .GasPriceEdit__price {
    max-width: 40px;
  }
}
