.outcomes {

	.table();

	margin-top: 1em;

	.outcomes-header,
	.outcome-row {
		& > * {
			&:first-child {
				flex: 3;
			}

			flex: 1;
		}

		span:not(:first-child) {
			text-align: center;
		}
	}
}
