.outcome {

	.outcome-trade {
		display: none;
	}

	&.selected {
		.outcome-trade {
			@media @breakpoint-mobile {
				display: flex;
				flex-direction: column;
			}
		}
	}

	.outcome-row {

		.table-row();

		&.link {
			cursor: default;
		}
	}
}
