.outcome-trade-action {
	display: flex;
	justify-content: center;
	margin: 1em;

	.trade-confirmation {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;

		span {

			.font-size-large();

			align-self: center;
		}

		.trade-confirmation-actions {
			display: flex;

			button {
				flex: 1;

				margin: 1em 1em 0;

				&.cancel {
					background-color: @color-gray;
				}
			}
		}
	}
}
