@import (reference) '~assets/styles/shared.less';

.Migrate {
    background-color: var(--color-module-background);
    padding: @size-40 @size-38;
    color: var(--color-secondary-text);
    max-width: 644px;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: @size-3;

    > span {
        text-align: center;

        > button {
            margin-left: @size-4;
        }
    }

    > div {
        display: flex;

        > div {
            .text-20-semi-bold;

            display: flex;
            flex-direction: column;
            background-color: var(--light-background-color);
            padding: @size-16;
            color: var(--simple-primary-text);
            height: 196px;
            width: 86px;
            border-radius: @size-8;
            justify-content: center;
            align-items: center;

            > span {
                .text-16;

                margin-bottom: @size-8;
                color: var(--simple-secondary-text);
            }

            &:first-of-type {
                margin-right: @size-50;
            }
        }
    }
    > button {
        margin-top: @size-38;
        width: fit-content;
    }
}