@import '~assets/styles/shared.less';

.FilterSort { // view-header

}

.FilterSort__wrapper { // view-header-group
  display: flex;
  flex-wrap: nowrap;

  > *:not(:first-child) {
    margin-left: 1.625rem;
  }
}
