.my-market {
  .portfolio-main-group {
    align-items: center;
    justify-content: flex-start;

    @media @breakpoint-2-3 {
      padding: 0.4em 1em 1em;
    }

    @media @breakpoint-1 {
      padding: 0.4em 1em 1em;
    }
  }

  @media @breakpoint-2-3 {
    &.portfolio-detail:first-of-type .portfolio-group {
      .portfolio-pair:not(:last-of-type) {
        flex-basis: 10%;
      }

      .portfolio-pair {
        margin-right: 0;
      }
    }
  }

  @media @breakpoint-1 {
    &.portfolio-detail:first-of-type .portfolio-group {
      .portfolio-pair:not(:last-of-type) {
        flex-basis: 10%;
      }

      .portfolio-pair {
        margin-right: 0;
      }
    }
  }
}
