@import (reference) '~assets/styles/shared';

.TransactionsBoxContent {
  align-items: center;
  background: @color-tertiary-background;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: @size-24;

  > button:first-of-type {
    flex: 0 0 auto;
    margin: auto;
  }

  > button:nth-of-type(2) {
    margin-left: auto;
    margin-right: @size-8;
    width: 8.125rem;
  }

  > button:nth-of-type(3) {
    margin-right: auto;
    width: 8.125rem;
  }

  > p {
    .mono-11;

    color: @color-shadow-text;
    flex: 1 100%;
    margin: @size-24 auto @size-12;
    text-align: center;
    text-transform: uppercase;
  }

  > p:first-of-type {
    margin: 0 auto @size-12;
  }

  > div {
    display: flex;
    flex: 1 100%;
    flex-flow: column nowrap;

    > p {
      .mono-11;

      color: @color-shadow-text;
      flex: 1 100%;
      margin: @size-24 auto @size-12;
      text-align: center;
      text-transform: uppercase;
    }

    > button {
      flex: 0 0 16.75rem;
      margin: auto;
    }
  }

  @media @breakpoint-mobile-mid {
    background: unset;
    padding-top: 0;

    > button:first-of-type {
      flex: 1;
    }

    > button:nth-of-type(2) {
      flex: 1;
    }

    > button:nth-of-type(3) {
      flex: 1;
    }

    > div {
      margin-top: 0;

      > button {
        flex: 1;
        margin: unset;
      }
    }
  }
}
