<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en">

<head>

<title>augur</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="apple-touch-icon" sizes="57x57" href="static/images/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="static/images/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/images/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="static/images/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/images/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="static/images/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="static/images/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="static/images/icons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="static/images/icons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="static/images/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="static/images/icons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="static/images/icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="static/images/icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="static/images/icons/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="static/images/icons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="static/bootstrap.css">
<link rel="stylesheet" href="static/font-awesome.min.css" />
<link rel="stylesheet" href="static/augur.css" />

<script src="static/jquery.min.js"></script>
<script src="static/jquery.cookie.js"></script>
<script src="static/bootstrap.min.js"></script>

<script src="static/lodash.js"></script>
<script src="static/bignumber.min.js"></script>
<script src="static/ethereum.js"></script>

<script src="static/augur.js"></script>
<script src="static/augur_stub.js"></script>

<body class="stopped">

    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand"><span>augur</span></h1>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div>BALANCE: <b class="balance">-</b></div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#account-modal" data-toggle="modal">Details</li>
                        <li><a href="#send-cash-modal" data-toggle="modal">Send Cash</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <section id="logo" class="container">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
        </div>
    </section>

    <section id="main" class="container">

        <div class="dash page row">

            <div class="col-md-3 hidden-sm hidden-xs sidebar">
                <div class="panel panel-info">
                    <div class="panel-heading clearfix">
                        <span class="pull-left">Branches</span>
                        <a class="pull-right" href="#create-branch-modal" data-toggle="modal">create</a>
                    </div>
                    <div class="panel-body branches"></div>
                </div>    

                <div class="panel panel-default network">
                    <div class="panel-heading clearfix"><span class="pull-left">Ethereum</span></div>
                    <div class="panel-body">
                        <p class="host">HOST<span class="pull-right">-</span></p>
                        <p class="peers">PEERS<span class="pull-right">-</span></p>
                        <p class="blocks">BLOCKS<span class="pull-right">-</span></p>
                        <p class="miner">MINER<span class="pull-right">-</span></p>
                        <p class="gas">GAS<span class="pull-right">-</span></p>
                        <p class="gas-price">GAS PRICE<span class="pull-right">-</span></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="period">
                    <h3 class="clearfix"><span class="branch-name"></span><span class="period-ending"></span></h3>
                    <script type="text/template" id="progress-template">
                        <div class="progress-bar <%= type %>" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;">
                        </div>
                    </script>
                    <div class="progress"></div>
                    <div id="report" style="display: none;">
                        <ul class="list-group" id="report-decisions"></ul>
                        <script type="text/template" id="report-template">
                            <li class="list-group-item clearfix<% if (d.state) { %> reported<% }; %>" id="<%= d.decision_id %>">
                                <p><%= d.txt %></p>
                                <label class="radio-inline">
                                    <input type="radio" name="<%= d.decision_id %>" value="1" <% if (d.state == '1') { %>checked<% }; %>> True
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="<%= d.decision_id %>" value="0" <% if (d.state == '0') { %>checked<% }; %>> False
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="<%= d.decision_id %>" value="0.5" <% if (d.state == '0.5') { %>checked<% }; %>> Ambiguous or Indeterminent
                                </label>
                                <p class="my-choice"><%= d.state_desc %></p>
                                <span class="pull-right" style="margin-left: 6px;"><%= d.reported %> report</span>
                                <span class="pull-right glyphicon glyphicon-ok"></span>
                            </li>
                        </script>
                        <p id="error" class="hidden pull-right"></p>
                    </div>
                </div>

                <div class="markets">
                    <h4 class="clearfix">Markets <a href="#add-market-modal" data-toggle="modal" class="pull-right">Add market</a>
                    </h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Description</th><th>Volume</th><th>Fee</th><th style="text-align: right;">Status</th>
                            <tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="no-markets">
                    <h4>No markets exist in this branch.  <a href="#add-market-modal" data-toggle="modal" class="pull-right">Add market</a></h4>
                </div>

                <div class="events">
                    <h4 class="clearfix">Events <a href="#add-event-modal" data-toggle="modal" class="pull-right">Add event</a>
                    </h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Description</th><th>Matures</th><th>Status</th>
                            <tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="no-events">
                    <h4>No events exist in this branch.  <a href="#add-event-modal" data-toggle="modal" class="pull-right">Add event</a></h4>
                </div>

            </div>
        </div>

    </section>

    <footer>

        <div class="row container clearfix"></div>

    </footer>

    <div id="alert" class="alert alert-dismissible" role="alert">
        <button type="button" class="close" onclick="$('#alert').hide()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div></div>
    </div>

    <!-- modals dialogs -->

    <div id="no-eth-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <h4>Ethereum not found</h4>
                    <p>Augur requires a local node of the Ethereum client running<p>
                    <p>Visit <a href="https://github.com/ethereum/cpp-ethereum/wiki">the ethereum github wiki</a> for help installing the lastest client</p>
                </div>
            </div>
        </div>
    </div>

    <div id="evm-address-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <h4>No EVM address set</h4>
                    <p>The EVM address for Augur hasn't be set.  Please enter an address where Augur can be found.</p>
                    <form method="POST" id="evm-address-form">
                        <div class="input-group">
                            <input name="evm-address" id="evm-address" class="form-control" placeholder="Enter the EVM address" autofocus>
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Load</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="confirm-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <div class="message"></div>
                    <button class="btn btn-success confirm pull-right" data-dismiss="modal">Okay</button>
                    <button class="btn btn-default cancel pull-right" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="downloading-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <h4>Downloading blockchain from peers</h4>
                    <script type="text/template" id="downloading-template">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;"><%= text %>
                        </div>
                    </script>
                    <div class="progress"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="parsing-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <h4>Parsing blockchain</h4>
                    <script type="text/template" id="parsing-template">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;"><%= text %>
                        </div>
                    </script>
                    <div class="progress"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="create-branch-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <p>Create a new branch under <b class="branch-name">General</b> by entering a new branch name.  All reputation from the parent branch will be transfered into this new subbranch.</p>
                    <form>
                        <input type="hidden" class="branch-id" name="branch-id" value="1010101">
                        <div class="input-group">
                            <input type="text" name="new-branch-name" class="new-branch-name form-control" placeholder="Enter a new branch name">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Create branch</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="send-cash-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <h4>Send cash</h4>
                    <form class="form-inline pull-right" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="dest-address">Destination address</label>
                            <input type="text" class="form-control" name="cash-dest-address" id="cash-dest-address" placeholder="destination address">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <input type="text" name="cash-amount" id="cash-amount" class="form-control" placeholder="amount">
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                    <p>BALANCE: <b class="balance"></b></p>
                </div>
            </div>
        </div>
    </div>

    <div id="send-rep-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <h4>Send <b class="branch"></b> reputation</h4>
                    <form class="form-inline pull-right" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="rep-dest-address">Destination address</label>
                            <input type="text" class="form-control" name="rep-dest-address" id="rep-dest-address" placeholder="destination address">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="rep-amount">Amount</label>
                            <input type="text" name="rep-amount" class="rep-amount form-control" placeholder="amount">
                        </div>
                        <input type="hidden" class="branch-id" name="branch-id"></input>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                    <p>REPUTATION: <b class="rep-balance"></b></p>
                </div>
            </div>
        </div>
    </div>

    <div id="trade-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" name="trade-type" value="buy" autocomplete="off"> Buy
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="trade-type" value="sell" autocomplete="off"> Sell
                        </label>
                    </div>
                </div>
                <div class="modal-body">
                    <p class="decision-text"></p>
                    <div class="balances"></div>
                </div>
                <div class="modal-footer">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="market-state">State</label>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="market-state">State</label>
                            <div id="market-state"></div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <input type="text" name="trade-amount" id="trade-amount" class="form-control" placeholder="Amount">
                        </div>
                        <input type="hidden" name="trade-market" id="trade-market">
                        <button type="submit" class="trade btn btn-primary" disabled><span class="trade-type">-</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="add-market-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <h4>Add market in <b class="branch-name"></b></h4>
                    <form role="form">
                        <input type="hidden" class="branch-id" id="market-branch-id" name="market-branch-id" />
                        <div class="form-group">
                            <label for="market-text">Market description</label>
                            <input type="text" class="form-control" id="market-text" placeholder="Enter a a description for this market">
                        </div>
                        <div class="form-group">
                            <label for="market-alpha">Alpha</label>
                            <input type="text" class="form-control" id="market-alpha" placeholder="Enter the market alpha">
                        </div>
                        <div class="form-group">
                            <label for="market-investment">Initial liquidity</label>
                            <input type="text" class="form-control" id="market-investment" placeholder="Your initial liquidity">
                        </div>
                        <div class="form-group">
                            <label for="market-events">Events</label>
                            <select class="form-control" id="market-events"></select>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Submit Market</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="add-event-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <h4>Add event in <b class="branch-name"></b></h4>
                    <form role="form">
                        <input type="hidden" class="branch-id" id="event-branch-id" name="event-branch-id" />
                        <div class="form-group">
                            <label for="decision-text">Event text</label>
                            <input type="text" class="form-control" id="event-text" placeholder="Enter a true or false question for this event">
                        </div>
                        <div class="form-group">
                            <label for="event-end-block">Maturation block</label>
                            <span class="help-text pull-right">must be greater than current period ending at <b class="period-end-block">-</b></span>
                            <input type="text" class="form-control" id="event-end-block" placeholder="Enter block number that event matures">
                        </div>
                        <input type="hidden" id="event-min-value" name="event-min-value" />
                        <input type="hidden" id="event-max-value" name="event-max-value" />
                        <input type="hidden" id="event-num-outcomes" name="event-num-outcomes" />
                        <button type="submit" class="btn btn-primary pull-right">Submit Event</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>