<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en">

<head>

<title>augur</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="static/bootstrap.css">
<link rel="stylesheet" href="static/font-awesome.min.css" />
<link rel="stylesheet" href="static/augur.css" />

<script src="static/jquery.min.js"></script>
<script src="static/bootstrap.min.js"></script>

<script src="static/lodash.js"></script>
<script src="static/bignumber.js"></script>
<script src="static/ethereum.min.js"></script>

<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand"><span>augur</span></h1>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <h2><span>BALANCE: </span><b class="balance"></b></h2>
                </li>
            </ul>
        </div>
        <script type="text/template" id="parsing-template">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;">
            </div>
        </script>
    </nav>

    <section id="logo" class="container">a</section>
    <section id="main" class="container">

        <div class="dash page row">

            <div class="col-sm-3 sidebar">
                <div class="panel panel-success account">
                    <div class="panel-heading clearfix">Account</div>
                    <div class="panel-body">
                        <p class="address"></p>
                        <p><a href="#send-cash-modal" data-toggle="modal">send cash</a></p>       
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading clearfix"><span class="pull-left">Branches</span><a class="pull-right" href="#create-branch-modal" data-toggle="modal">create</a></div>
                    <div class="panel-body branches">
                    </div>
                </div>

                <div class="panel panel-default network">
                    <div class="panel-heading clearfix"><span class="pull-left">Network</span></div>
                    <div class="panel-body">
                        <p class="blocks clearfix"></p>
                        <p class="peers clearfix"></p>
                    </div>
                </div>

            </div>
          
            <div class="col-sm-9">
                <div class="cycle">
                    <h3 class="clearfix"></h3>
                    <script type="text/template" id="progress-template">
                        <div class="progress-bar <%= type %>" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;">
                        </div>
                    </script>
                    <div class="progress"></div>
                    <div id="report" style="display: none;">
                        <ul class="list-group" id="report-decisions"></ul>
                        <script type="text/template" id="report-template">
                            <li class="list-group-item clearfix<% if (d.state) { %> reported<% }; %>" id="<%= d.decision_id %>">
                                <p><%= d.txt %></p>
                                <label class="radio-inline">
                                    <input type="radio" name="<%= d.decision_id %>" value="1" <% if (d.state == '1') { %>checked<% }; %>> True
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="<%= d.decision_id %>" value="0" <% if (d.state == '0') { %>checked<% }; %>> False
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="<%= d.decision_id %>" value="0.5" <% if (d.state == '0.5') { %>checked<% }; %>> Ambiguous or Indeterminent
                                </label>
                                <p class="my-choice"><%= d.state_desc %></p>
                                <span class="pull-right" style="margin-left: 6px;"><%= d.reported %> report</span>
                                <span class="pull-right glyphicon glyphicon-ok"></span>
                            </li>
                        </script>
                        <p id="error" class="hidden pull-right"></p>
                    </div>
                </div>

                <h4 class="clearfix">Decisions <a href="#add-decision-modal" data-toggle="modal" class="pull-right">Add decision</a>
                </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Description</th><th>Branch</th><th>Matures</th><th style="text-align: right;">Status</th>
                        <tr>
                    </thead>
                    <tbody class="decisions"></tbody>
                </table>
            </div>
        </div>

    </section>

    <footer>

        <div class="row container clearfix">

        </div>

    </footer>

    <div id="alert" class="alert alert-dismissible" role="alert">
        <button type="button" class="close" onclick="$('#alert').hide()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div></div>
    </div>

    <!-- modals dialogs -->

    <div id="password-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <form method="POST">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="password" name="password" class="form-control" placeholder="Enter your password or public key" autofocus>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Start</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="confirm-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <p class="message"><p>
                </div>
                <div class="modal-footer clearfix">
                    <button class="btn btn-success confirm pull-right" data-dismiss="modal">Okay</button>
                    <button class="btn btn-default cancel pull-right" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="downloading-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <h4>Downloading blockchain from peers</h4>
                    <script type="text/template" id="downloading-template">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;"><%= text %>
                        </div>
                    </script>
                    <div class="progress"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="parsing-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <h4>Parsing blockchain</h4>
                    <script type="text/template" id="parsing-template">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;"><%= text %>
                        </div>
                    </script>
                    <div class="progress"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="create-branch-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Create a new branch by entering a unique ID.  You will automatically be added to this branch and awarded all reputation to start.</p>
                </div>
                <div class="modal-body clearfix">
                    <form>
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="text" name="branch-id" id="branch-id" class="form-control" placeholder="Enter a branch ID">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Create branch</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="send-cash-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <h4>Send cash</h4>
                    <form class="form-inline pull-right" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="dest-address">Destination address</label>
                            <input type="text" class="form-control" name="cash-dest-address" id="cash-dest-address" placeholder="destination address">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <input type="text" name="cash-amount" id="cash-amount" class="form-control" placeholder="amount">
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                    <p>BALANCE: <b class="balance"></b> CASH</p>
                </div>
            </div>
        </div>
    </div>

    <div id="send-rep-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Send <span class="branch"></span> reputation</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="dest-address">Destination address</label>
                            <input type="text" class="form-control" name="rep-dest-address" id="rep-dest-address" placeholder="Enter destination address">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <input type="text" name="rep-amount" id="rep-amount" class="form-control" placeholder="Amount">
                        </div>
                        <input type="hidden" name="rep-branch" id="rep-branch">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="trade-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" name="trade-type" value="buy" autocomplete="off"> Buy
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="trade-type" value="sell" autocomplete="off"> Sell
                        </label>
                    </div>
                </div>
                <div class="modal-body">
                    <p class="decision-text"></p>
                    <div class="balances"></div>
                </div>
                <div class="modal-footer">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="market-state">State</label>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="market-state">State</label>
                            <div id="market-state"></div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <input type="text" name="trade-amount" id="trade-amount" class="form-control" placeholder="Amount">
                        </div>
                        <input type="hidden" name="trade-market" id="trade-market">
                        <button type="submit" class="trade btn btn-primary" disabled><span class="trade-type">-</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="add-decision-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add decision</h4>
                </div>
                <div class="modal-body clearfix">
                    <form role="form">
                        <div class="form-group">
                            <label for="decision-branch">Branch</label>
                            <select class="form-control branches" id="decision-branch" name="decision-branch"></select>
                        </div>
                        <div class="form-group">
                            <label for="decision-text">Decision text</label>
                            <input type="text" class="form-control" id="decision-text" placeholder="Enter a true or false question">
                        </div>
                        <div class="form-group">
                            <label for="decision-date">Maturation block</label>
                            <input type="text" class="form-control" id="decision-time" placeholder="Enter block number that decision matures">
                        </div>
                        <div class="form-group">
                            <label for="market-investment">Initial investment</label>
                            <input type="text" class="form-control" id="market-investment" placeholder="Your initial investment (in cash)">
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Submit Decision</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/webworker" id="nodeMonitor">

    console.log('[augur] starting node monitor');

    importScripts("https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.3.0/lodash.min.js");
    importScripts("https://cdn.jsdelivr.net/bignumber.js/1.3.0/bignumber.min.js");
    importScripts("https://raw.githubusercontent.com/ethereum/ethereum.js/master/dist/ethereum.js");

    var abi = [
        {
            "name": "api(int256,int256,int256,int256)",
            "type": "function",
            "inputs": [{ "name": "dataStructure", "type": "int256" }, { "name": "itemNumber", "type": "int256" }, { "name": "arrayIndex", "type": "int256" }, { "name": "ID", "type": "int256" }],
            "outputs": [{ "name": "unknown_out", "type": "int256[]" }]
        },
        {
            "name": "balance(int256)",
            "type": "function",
            "inputs": [{ "name": "address", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "buyShares(int256,int256,int256,int256)",
            "type": "function",
            "inputs": [{ "name": "branch", "type": "int256" }, { "name": "market", "type": "int256" }, { "name": "outcome", "type": "int256" }, { "name": "amount", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "calibrate_sets(int256[],int256,int256)",
            "type": "function",
            "inputs": [{ "name": "scores", "type": "int256[]" }, { "name": "num_players", "type": "int256" }, { "name": "num_events", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256[]" }]
        },
        {
            "name": "calibrate_wsets(int256[],int256[],int256[],int256[],int256,int256)",
            "type": "function",
            "inputs": [{ "name": "set1", "type": "int256[]" }, { "name": "set2", "type": "int256[]" }, { "name": "reputation", "type": "int256[]" }, { "name": "reports", "type": "int256[]" }, { "name": "num_players", "type": "int256" }, { "name": "num_events", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256[]" }]
        },
        {
            "name": "center(int256[],int256[],int256[],int256[],int256[],int256)",
            "type": "function",
            "inputs": [{ "name": "reports_filled", "type": "int256[]" }, { "name": "reputation", "type": "int256[]" }, { "name": "scaled", "type": "int256[]" }, { "name": "scaled_max", "type": "int256[]" }, { "name": "scaled_min", "type": "int256[]" }, { "name": "max_iterations", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256[]" }]
        },
        {
            "name": "checkQuorum(int256)",
            "type": "function",
            "inputs": [{ "name": "branch", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "closeBet(int256)",
            "type": "function",
            "inputs": [{ "name": "betID", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "closeMarket(int256,int256)",
            "type": "function",
            "inputs": [{ "name": "branch", "type": "int256" }, { "name": "market", "type": "int256" }],
            "outputs": [{ "name": "unknown_out", "type": "int256[]" }]
        },
        {
            "name": "consensus(int256[],int256[],int256[],int256[],int256[],int256,int256)",
            "type": "function",
            "inputs": [{ "name": "smooth_rep", "type": "int256[]" }, { "name": "reports", "type": "int256[]" }, { "name": "scaled", "type": "int256[]" }, { "name": "scaled_max", "type": "int256[]" }, { "name": "scaled_min", "type": "int256[]" }, { "name": "num_players", "type": "int256" }, { "name": "num_events", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256[]" }]
        },
        {
            "name": "createEvent(int256,string,int256,int256,int256,int256)",
            "type": "function",
            "inputs": [{ "name": "branch", "type": "int256" }, { "name": "description", "type": "string" }, { "name": "expDate", "type": "int256" }, { "name": "minValue", "type": "int256" }, { "name": "maxValue", "type": "int256" }, { "name": "numOutcomes", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "createMarket(int256,string,int256,int256,int256,int256[])",
            "type": "function",
            "inputs": [{ "name": "branch", "type": "int256" }, { "name": "description", "type": "string" }, { "name": "alpha", "type": "int256" }, { "name": "initialLiquidity", "type": "int256" }, { "name": "tradingFee", "type": "int256" }, { "name": "events", "type": "int256[]" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "eventsExpApi(int256,int256,int256,int256,int256)",
            "type": "function",
            "inputs": [{ "name": "expDateIndex", "type": "int256" }, { "name": "itemNumber", "type": "int256" }, { "name": "arrayIndexOne", "type": "int256" }, { "name": "arrayIndexTwo", "type": "int256" }, { "name": "ID", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "faucet()",
            "type": "function",
            "inputs": [],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "getRepBalance(int256,int256)",
            "type": "function",
            "inputs": [{ "name": "branch", "type": "int256" }, { "name": "address", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "interpolate(int256[],int256[],int256[],int256[],int256[])",
            "type": "function",
            "inputs": [{ "name": "reports", "type": "int256[]" }, { "name": "reputation", "type": "int256[]" }, { "name": "scaled", "type": "int256[]" }, { "name": "scaled_max", "type": "int256[]" }, { "name": "scaled_min", "type": "int256[]" }],
            "outputs": [{ "name": "out", "type": "int256[]" }]
        },
        {
            "name": "makeBallot(int256)",
            "type": "function",
            "inputs": [{ "name": "branch", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256[]" }]
        },
        {
            "name": "makeBet(int256,int256)",
            "type": "function",
            "inputs": [{ "name": "eventID", "type": "int256" }, { "name": "amtToBet", "type": "int256" }],
            "outputs": []
        },
        {
            "name": "makeSubBranch(string,int256,int256,int256)",
            "type": "function",
            "inputs": [{ "name": "description", "type": "string" }, { "name": "periodLength", "type": "int256" }, { "name": "parent", "type": "int256" }, { "name": "repRequired", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "marketParticipantsApi(int256,int256,int256,int256,int256)",
            "type": "function",
            "inputs": [{ "name": "participantIndex", "type": "int256" }, { "name": "itemNumber", "type": "int256" }, { "name": "eventID", "type": "int256" }, { "name": "outcomeNumber", "type": "int256" }, { "name": "marketID", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "participation(int256[],int256[],int256[],int256[],int256,int256)",
            "type": "function",
            "inputs": [{ "name": "outcomes_final", "type": "int256[]" }, { "name": "consensus_reward", "type": "int256[]" }, { "name": "smooth_rep", "type": "int256[]" }, { "name": "reports_mask", "type": "int256[]" }, { "name": "num_players", "type": "int256" }, { "name": "num_events", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256[]" }]
        },
        {
            "name": "pca_adjust(int256[],int256[],int256[],int256[],int256[],int256[],int256,int256)",
            "type": "function",
            "inputs": [{ "name": "old", "type": "int256[]" }, { "name": "new1", "type": "int256[]" }, { "name": "new2", "type": "int256[]" }, { "name": "set1", "type": "int256[]" }, { "name": "set2", "type": "int256[]" }, { "name": "scores", "type": "int256[]" }, { "name": "num_players", "type": "int256" }, { "name": "num_events", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256[]" }]
        },
        {
            "name": "pca_loadings(int256[],int256[],int256[],int256,int256)",
            "type": "function",
            "inputs": [{ "name": "loading_vector", "type": "int256[]" }, { "name": "weighted_centered_data", "type": "int256[]" }, { "name": "reputation", "type": "int256[]" }, { "name": "num_players", "type": "int256" }, { "name": "num_events", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256[]" }]
        },
        {
            "name": "pca_scores(int256[],int256[],int256,int256)",
            "type": "function",
            "inputs": [{ "name": "loading_vector", "type": "int256[]" }, { "name": "weighted_centered_data", "type": "int256[]" }, { "name": "num_players", "type": "int256" }, { "name": "num_events", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256[]" }]
        },
        {
            "name": "redeem(int256,int256)",
            "type": "function",
            "inputs": [{ "name": "branch", "type": "int256" }, { "name": "step", "type": "int256" }],
            "outputs": [{ "name": "unknown_out", "type": "int256[]" }]
        },
        {
            "name": "reputationApi(int256,int256,int256)",
            "type": "function",
            "inputs": [{ "name": "reputationIndex", "type": "int256" }, { "name": "itemNumber", "type": "int256" }, { "name": "branchID", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "sellShares(int256,int256,int256,int256,int256)",
            "type": "function",
            "inputs": [{ "name": "branch", "type": "int256" }, { "name": "market", "type": "int256" }, { "name": "outcome", "type": "int256" }, { "name": "amount", "type": "int256" }, { "name": "participantNumber", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "send(int256,int256)",
            "type": "function",
            "inputs": [{ "name": "recver", "type": "int256" }, { "name": "value", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "sendFrom(int256,int256,int256)",
            "type": "function",
            "inputs": [{ "name": "recver", "type": "int256" }, { "name": "value", "type": "int256" }, { "name": "from", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "sendMoneytoBet(int256,int256)",
            "type": "function",
            "inputs": [{ "name": "betID", "type": "int256" }, { "name": "outcome", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        },
        {
            "name": "sendReputation(int256,int256,int256)",
            "type": "function",
            "inputs": [{ "name": "branch", "type": "int256" }, { "name": "recver", "type": "int256" }, { "name": "value", "type": "int256" }],
            "outputs": [{ "name": "unknown_out", "type": "int256[]" }]
        },
        {
            "name": "smooth(int256[],int256[],int256,int256)",
            "type": "function",
            "inputs": [{ "name": "adjusted_scores", "type": "int256[]" }, { "name": "reputation", "type": "int256[]" }, { "name": "num_players", "type": "int256" }, { "name": "num_events", "type": "int256" }],
            "outputs": [{ "name": "out", "type": "int256[]" }]
        },
        {
            "name": "vote(int256,int256[])",
            "type": "function",
            "inputs": [{ "name": "branch", "type": "int256" }, { "name": "report", "type": "int256[]" }],
            "outputs": [{ "name": "out", "type": "int256" }]
        }
    ];

    // get the web3 object
    if (typeof web3 === 'undefined') {

        var web3 = require('web3');
        web3.setProvider(new web3.providers.HttpSyncProvider('http://localhost:8080'))
    }

    var augur = {
        address: '0x1b0d9c2449fb543016d2827e7342ec44a8dd7f09',  // this is the address returned from the loader
        account: web3.eth.accounts[0],
        balance: 0,
        decisions: {},
        branches: {},
        markets: {},
        cycle: {
            count: 0,
            decisions: {}
        }
    }

    var contract = web3.eth.contract(augur.address, abi);
    console.log('[augur] contract loaded from ' + augur.address);

    var network = {
        host: 'localhost:8080',
        peerCount: web3.eth.peerCount,
        blockNumber: web3.eth.blockNumber,
        mining: web3.eth.mining,
        ether: 0,
        gasPrice: web3.eth.gasPrice.toString(10)
    }

    // init data
    augur.balance = contract.call().balance(augur.account).toString(10);
    //network.ether = web3.toDecimal(web3.eth.getBalance(web3.eth.coinbase));

    // init page
    self.postMessage(augur);
    self.postMessage(network);

    // message listeners from DOM script
    self.addEventListener('message', function(m) {

        _.each(m.data, function (data, prop) {

            if (prop in update) {

                update[prop](data);

            } else {

                console.log('[augur] unknown message type: '+prop);
            }
        });
    });

    var update = {

        addDecision: function(data) {


        },

        reportDecision: function(data) {

            augur.decisions[data.decision_id]['state'] = data.stage;

            var d = _.extend(augur.decisions[data.decision_id], data);
            socket.emit('report', d);

        },

        trade: function(data) {

            self.postMessage({'trade': augur.markets[data]});
        
        },

        sendCash: function(data) {

            contract.call().send(data.address, data.amount);
        }
    }

    // start pinging node for updates
    //setInterval(function() { console.log('ping') }, 2500);

</script>

<script type="text/javascript" src="static/augur.js"></script>

</html>