@import (reference) '~assets/styles/shared';

.OrderHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: @default-above;

  > span {
    .mono-12-bold;

    background: @color-dark-grey;
    color: @color-primary-text;
    padding: @size-8 @size-10 @size-8 @size-16;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    height: @size-32;
    max-height: @size-32;
    min-height: @size-32;

    &.WithStatus {
      padding: @size-8 @size-10 @size-8 @size-8;
    }

    @media @breakpoint-mobile {
      display: none;
    }
  }

  > ul {
    align-items: center;
    background-color: @color-table-header;
    border-bottom: 1px solid @color-dark-grey;
    height: @size-32;
    max-height: @size-32;
    min-height: @size-32;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0 @size-16;

    > li {
      .mono-10-medium;

      color: @color-secondary-text;
      text-transform: capitalize;
      white-space: nowrap;
      text-align: right;
    }

    > li:first-of-type {
      margin-left: @size-40;
      text-align: left;
    }

    > li:nth-of-type(2) {
      text-align: center;
    }

    > li:last-of-type {
      padding-right: @size-16;
    }
  }
}
