@import (reference) '~assets/styles/shared.less';

.App {
  background: var(--light-background-color);
  display: flex;
  flex: 1;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 1fr;

  > div:first-of-type {
    border-bottom: @size-1 solid var(--simple-border);
    padding: @size-16;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;

    > button {
      margin-left: auto;
    }
  }

  > span:first-of-type {
    .text-38-bold;

    margin: @size-42 0 @size-40;
    color: var(--simple-primary-text);
    grid-column: 1 / span 3;
    justify-content: center;
    display: flex;
  }

  > div:last-of-type {
    grid-column: 1 / span 3;
    margin-left: auto;
    margin-right: auto;
  }
  
  > span:nth-of-type(2) {
    grid-column: 1 / span 3;
    margin-top: @size-40;
    margin-left: auto;
    margin-right: auto;
  }

  > article {
    grid-column: 1 / span 3;
    max-width: 603px;
    margin: @size-20 auto;
  }

  @media @breakpoint-mobile-tablet { 
    margin-bottom: @size-50;
   
    > div:last-of-type {
      margin: 0 auto;
    }

    > article {
      max-width: 306px;
    }
  }
}

body {
  @media @breakpoint-mobile-tablet {
    --is-mobile: true;
  }
}
