@import (reference) '~assets/styles/shared.less';

.App {
  background: var(--color-page-background);
  display: flex;
  flex: 1;
  height: 100vh;
  padding: @size-12 @size-16;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;

  > button {
    height: 100px;
    width: 100px;
    margin-left: auto;
  }

  > span {
    .text-24-bold;

    margin: @size-42 0 @size-40;
    color: var(--color-primary-text);
    grid-column: 1 / span 3;
    justify-content: center;
    display: flex;
  }

  > div {
    grid-row: 3;
    grid-column: 1 / span 3;
    margin-left: auto;
    margin-right: auto;
  }
}