.button {
  align-items: center;
  border: none;
  border-radius: 3px;
  color: @color-secondary-text;
  cursor: pointer;
  display: flex;
  font-size: @size-14;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.3px;
  min-height: 2.5rem;
  min-width: 9.75rem;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;

  &:disabled,
  &.button--disabled {
    background-color: @color-disabled-text-secondary;
    color: @color-disabled-text;
    cursor: default;
  }

  &.imperative {
    background-color: @color-error-text;
  }

  &.navigational {
    cursor: pointer;
  }

  &:visited {
    color: @color-secondary-text;
  }
}

.button--text-only {
  .button;

  background-color: transparent;
  color: inherit;
}

.button--offWhite {
  .button;

  background-color: @color-alternate-contrast;
  color: @color-secondary-action;
  font-size: @size-14;
  text-transform: capitalize;

  &:hover {
    background-color: @color-secondary-text;
  }
}

.button--offWhite--disabled,
.button--offWhite:disabled,
.button--offWhite:disabled:hover {
  background-color: @color-tertiary-info-text;
  color: @color-alternate-info-text;
  cursor: default;
}

.button--gray {
  .button;

  background-color: transparent;
  border: 2px solid @color-shadow-text;
  color: @color-shadow-text;

  &:hover {
    background-color: @color-tertiary-info-text;
    border: 2px solid black;
    color: black;
  }
}

.button--gray--disabled,
.button--gray:disabled,
.button--gray:disabled:hover {
  background-color: @color-tertiary-info-text;
  color: @color-alternate-info-text;
  cursor: default;
}

.button--bright {
  background: @color-outcome-seven;
  border-radius: 3px;
  color: @color-secondary-action;
  font-family: @roboto;
  font-size: @size-14;
  font-weight: 700;
  padding: 0.75rem 1.5rem;

  &:hover {
    background: @color-primary-button-background-hover;
    border: 0;
    color: @color-secondary-action;
  }

  &:disabled {
    background: @color-outcome-seven;
    border: 0;
    cursor: default;
    opacity: 0.3;

    &:hover {
      background: @color-outcome-seven;
      border: 0;
    }
  }
}
