// Colors for the V2 Redesign
@color-primary-text: #1A1D23;
@color-secondary-text: #FFFFFF;
@color-alternate-text: #777777;
@color-tertiary-text: #CED7D8;
@color-primary-light: #443B59;
@color-primary-alternate: #2B2438;
@color-primary-alternate-two: #665789;
@color-tertiary-one: #1A1627;
@color-primary-dark: #000000;
@color-secondary-dark: #07030E;

@color-alternate-info-text: #E9E5F2;
@color-tertiary-info-text: #AFA7C1;
@color-shadow-text: #76737E;
@color-disabled-text: #666666;
@color-disabled-text-secondary: #BDBDBD;
@color-primary-background: #0F0A19;
@color-secondary-background: #120D1B;
@color-tertiary-background: #1B1528;
@color-theme-primary: #211A32;
@color-theme-secondary: #141313;
@color-contrast-background: #FBE9A6;

@color-primary-action: #09CFE1;
@color-secondary-action: #161022;
@color-highlight-background: #4F4761;
@color-open: #7DFFA8;
@color-in-reporting: #F1E700;
@color-resolved: #F12B00;

@color-highlight: #665789;
@color-bright-highlight: #988FEA;
@color-highlight-fade: #C4C4C4;
@color-highlight-masked: fade(@color-highlight-fade, 10%);

@color-positive: #00F1C4;
@color-neutral: #999999;
@color-negative: #FF7D5E;
@color-error-text: #ff2727;
@color-error-fade: #52121D;
@color-neutral-secondary: #484552;
@color-invalid-primary: #FD6266;
@color-neutral-affirmative: #AEFFF0;
@color-faded-bright: #FFB47E;

@color-active: #8579A1;
@color-active-hover: #211B2E;

@color-underline: #7EC9FF;

@color-primary-button-background-hover: fade(@color-primary-action, 90%);
@color-primary-button-background-focus: fade(@color-primary-action, 80%);
@color-primary-button-background-active: fade(@color-primary-action, 70%);
@color-primary-button-background-disabled: fade(@color-primary-action, 40%);

@color-buy-order-button-background: fade(@color-positive, 40%);
@color-buy-order-button-background-hover: fade(@color-positive, 60%);
@color-buy-order-button-background-disabled: fade(@color-positive, 20%);
@color-buy-order-button-border-disabled: fade(@color-positive, 10%);

@color-sell-order-button-background: fade(@color-negative, 40%);
@color-sell-order-button-background-hover: fade(@color-negative, 60%);
@color-sell-order-button-background-disabled: fade(@color-negative, 20%);

@color-sell-order-button-border-disabled: fade(@color-negative, 10%);

@color-secondary-button-text-disabled: fade(@color-secondary-text, 20%);

@color-error-message-fade: fade(@color-error-fade, 90%);
@color-error-message-bright-fade: fade(@color-error-text, 20%);

//  Chart
@color-outcome-one: #fadca2;
@color-outcome-two: #f3a2fa;
@color-outcome-three: #ffffff;
@color-outcome-four: #00EAFF;
@color-outcome-five: #a5a5a5;
@color-outcome-six: #665cdf;
@color-outcome-seven: #09cfe1;
@color-outcome-eight: #5cdf88;
@color-outcome-nine: #F12B00;
@color-outcome-list: @color-outcome-one @color-outcome-two @color-outcome-three @color-outcome-four @color-outcome-five @color-outcome-six @color-outcome-seven @color-outcome-eight @color-outcome-nine;

.generate-indexed-color-outcome-classes(@rules) {
  each(@color-outcome-list, {
    @newIndex: @index;
    @rules();
  });
}

// Outcomes
@color-one: #3DDE8D;
@color-two: #FE367E;
@color-three: #3E8BFF;
@color-four: #09CFE1;
@color-five: #FCBD43;
@color-six: #FF6DE8;
@color-seven: #FFFFFF;
@color-invalid: #FF7E9D;
@color-outcome-alternate-list: @color-one @color-two @color-three @color-four @color-five @color-six @color-seven @color-invalid;

.generate-indexed-color-outcome-alternate-classes(@rules) {
  each(@color-outcome-alternate-list, {
    @newIndex: @index;
    @rules();
  });
}

