// theme divided values
// TRADING is default theme, hence root by itself.
:root[theme="TRADING"],
:root {
  // texts
  --color-primary-text: #D7DDE0;
  --color-primary-text-15: fade(#D7DDE0, 15%);
  --color-primary-text-20: fade(#D7DDE0, 20%);
  --color-primary-text-30: fade(#D7DDE0, 30%);
  --color-primary-text-40: fade(#D7DDE0, 40%);
  --color-primary-text-90: fade(#D7DDE0, 90%);
  
  --color-secondary-text: #9599A5;
  --color-secondary-text-30: fade(#9599A5, 30%);
  --color-secondary-text-50: fade(#9599A5, 50%);
  --color-secondary-text-75: fade(#9599A5, 75%);
  --color-secondary-text-80: fade(#9599A5, 80%);

  // UI
  --color-module-background: #1B1A1E;
  --color-module-background-action-focus: #27262B;
  --color-page-background: #201E22;
  --color-page-background-80: fade(#201E22, 80%);

  // market Status:
  --color-open: #7DFFA8;
  --color-open-15: fade(#7DFFA8, 15%);
  --color-open-40: fade(#7DFFA8, 40%);
  --color-reporting: #F1E700;
  --color-reporting-15: fade(#F1E700, 15%);
  --color-resolved: #F12B00;
  --color-resolved-15: fade(#F12B00, 15%);

  // Trading
  --color-primary-action: #09CFE1;
  --color-prmary-action-5: fade(#09CFE1, 5%);
  --color-prmary-action-10: fade(#09CFE1, 10%);
  --color-prmary-action-15: fade(#09CFE1, 15%);
  --color-prmary-action-20: fade(#09CFE1, 20%);
  --color-prmary-action-40: fade(#09CFE1, 40%);
  --color-prmary-action-70: fade(#09CFE1, 70%);
  --color-prmary-action-80: fade(#09CFE1, 80%);
  --color-prmary-action-90: fade(#09CFE1, 90%);
}

:root[theme="BETTING"] {
  // texts
  --color-primary-text: #0E0E21;
  --color-primary-text-15: fade(#0E0E21, 15%);
  --color-primary-text-20: fade(#0E0E21, 20%);
  --color-primary-text-30: fade(#0E0E21, 30%);
  --color-primary-text-40: fade(#0E0E21, 40%);
  --color-primary-text-90: fade(#0E0E21, 90%);

  --color-secondary-text: #555577;
  --color-secondary-text-30: fade(#555577, 30%);
  --color-secondary-text-50: fade(#555577, 50%);
  --color-secondary-text-75: fade(#555577, 75%);
  --color-secondary-text-80: fade(#555577, 80%);

  // UI
  --color-module-background: #FFFFFF;
  --color-module-background-action-focus: #FFFFFF; // no equivalent
  --color-page-background: #F5F5F8;
  --color-page-background-80: fade(#F5F5F8, 80%);

  // market Status:
  --color-open: #0CCE8D;
  --color-open-15: fade(#0CCE8D, 15%);
  --color-open-40: fade(#0CCE8D, 40%);
  --color-reporting: #F59300;
  --color-reporting-15: fade(#F59300, 15%);
  --color-resolved: #FF4E27;
  --color-resolved-15: fade(#FF4E27, 15%);

  // Trading
  --color-primary-action: #0CCE8D;
  --color-prmary-action-5: fade(#0CCE8D, 5%);
  --color-prmary-action-10: fade(#0CCE8D, 10%);
  --color-prmary-action-15: fade(#0CCE8D, 15%);
  --color-prmary-action-20: fade(#0CCE8D, 20%);
  --color-prmary-action-40: fade(#0CCE8D, 40%);
  --color-prmary-action-70: fade(#0CCE8D, 70%);
  --color-prmary-action-80: fade(#0CCE8D, 80%);
  --color-prmary-action-90: fade(#0CCE8D, 90%);
}
// Text
// @color-primary-text: #D7DDE0;
// @color-secondary-text: #9599A5;
@color-inactive-text: #4E4C57; // 43 files
@color-dark-text: #848294;

// UI
@color-brand: #2AE7A8; // augur brand color
@color-dark-grey: #0E0E0F; // (TBD Name) - 53 files
@color-table-header: #161518; // 7 files
// @color-module-background: #1B1A1E; // 51 files
// @color-module-background-action-focus: #27262B; // 1 file
@color-active-background: #222126;
// @color-page-background: #201E22; // 3 files
@color-dismissable-notice-background: #DFF1FE;
@color-outline: #7EC9FF;
@color-highlight-template-text: #F9FFD7;

// Market status
// @color-open: #7DFFA8; // 5 files
// @color-reporting: #F1E700; // 8 files
// @color-resolved: #F12B00; // 6 files
@color-scalar: #FFB47E; // temporary name... used in more things than scalar
// Trades
@color-positive: #00F1C4; // 13 files
@color-negative: #FF7D5E; // 15 files
// Interactions:
// @color-primary-action: #09CFE1; // 19 files
@color-secondary-action: #252429; // 26 files
@color-secondary-action-outline: #3C3B43; // 25 files
@color-secondary-hover: #302F36;
// Other
@color-error: #FF2727; // 9 files
@color-alternate-error: #F3E7E7;
// Social
@color-twitter: #55ACEE;
@color-facebook: #3B5998;
// Outcomes:
@color-tenative-winner: #AEFFF0; // 2 files
@color-outcome-invalid: #FF7E9D; // 6 files
@color-outcome-one: #F3A2FA; // 2 files
@color-outcome-two: #09CFE1; // 2 files
@color-outcome-three: #665CDF; // 2 files
@color-outcome-four: #5CDF88; // 5 files
@color-outcome-five: #FD6266; // 2 files
@color-outcome-six: #FFF966; // 2 files
@color-outcome-seven: #FFFFFF; // 4 files
//  Chart / Outcome color helpers
@color-outcome-list: @color-outcome-invalid @color-outcome-one @color-outcome-two @color-outcome-three @color-outcome-four @color-outcome-five @color-outcome-six @color-outcome-seven;

.generate-indexed-color-outcome-classes(@rules) {
  each(@color-outcome-list, {
    @newIndex: @index;
    @rules();
  });
} // 2 files
