// Redesigned Borders, Border Radius, Box Shadow, and Dash Lines values
//arrangements
@default-behind: -1;
@default-z-index: 1;
@default-above: 2;
//	Above Content
@above-all-content: 10;
@above-all-content-above: 11;
@above-all-content-top-layer: 12;
//	View Chrome
@mask: 20;
@mask-above: 30;
// Modal
@mask-modal: 100;
// Toast
@mask-toast: 110;

// Trading tutorial
@mask-obscure: 101;
@mask-illuminate: 102;

//top bar height
@top-bar-height: 3.5rem;
@top-bar-height-mobile: 3rem; // 48px
@side-bar-top-menu-height-mobile: 4.5rem;
@charts-min-height: 14.5rem;
@charts-max-height: 17.5rem;
// top nav height
@top-nav-height: 2.3125rem;
// full top area height
@multi-top-bar-height-mobile: 6rem;
@multi-top-bar-height: 90px;
@tutorial-banner-height: 2rem;

@add-funds-height: 492px;

@markets-list-footer-padding: 250px;

// desktop search bar width
@search-bar-width: 411px;

// cursors
@button-cursor: pointer;
@button-cursor-disabled: not-allowed;

// Landing Page
@landing-page-margin: 244px;
@landing-page-width: 411px;

// Account Details
@account-details-menu-width: 335px;

@login-signup-modal-width: 425px;
@login-signup-modal-height: 433px;

// default measurements
@button-height-default: @size-40; // 40px

// borders
@border-default: 1px solid transparent;

// border radius
@border-radius-default: @size-3;
@border-radius-rounded: @size-6;
@border-radius-extra-rounded: @size-8;
@border-radius-full-round: 6.25rem; // 100px
// box shadows

// dash lines
@dash-normal: 1 3;
@dash-long: 1 5;

.default-dashline {
  fill: none;
  stroke: @color-primary-text;
}

.dashline-normal {
  .default-dashline;

  stroke-dasharray: @dash-normal;
}

.dashline-long {
  .default-dashline;

  stroke-dasharray: @dash-long;
}

.limit-lines(@amount) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: @amount;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
