@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
       url('../fonts/Inter-Regular.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Inter-Italic.woff2') format('woff2'),
       url('../fonts/Inter-Italic.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Inter-Medium.woff2') format('woff2'),
       url('../fonts/Inter-Medium.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Inter-MediumItalic.woff2') format('woff2'),
       url('../fonts/Inter-MediumItalic.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
       url('../fonts/Inter-SemiBold.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Inter-SemiBoldItalic.woff2') format('woff2'),
       url('../fonts/Inter-SemiBoldItalic.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
       url('../fonts/Inter-Bold.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Inter-BoldItalic.woff2') format('woff2'),
       url('../fonts/Inter-BoldItalic.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
       url('../fonts/Inter-ExtraBold.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/Inter-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/Inter-ExtraBoldItalic.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Inter-Black.woff2') format('woff2'),
       url('../fonts/Inter-Black.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Inter-BlackItalic.woff2') format('woff2'),
       url('../fonts/Inter-BlackItalic.woff') format('woff2');
}
// font-families
@Inter: 'Inter', sans-serif;

// sizes
@size-1: 0.0625rem; // 1px
@size-2: 0.125rem; // 2px
@size-3: 0.1875rem; // 3px
@size-4: 0.25rem; // 4px
@size-5: 0.3125rem; // 5px
@size-6: 0.375rem; // 6px
@size-7: 0.4375rem; // 7px
@size-8: 0.5rem; // 8px
@size-9: 0.5625rem; // 9px
@size-10: 0.625rem; // 10px
@size-11: 0.6875rem; // 11px
@size-12: 0.75rem; // 12px
@size-13: 0.8125rem; // 13px
@size-14: 0.875rem; // 14px
@size-15: 0.9375rem; // 15px
@size-16: 1rem; // 16px
@size-17: 1.0625rem; // 17px
@size-18: 1.125rem; // 18px
@size-19: 1.1875rem; // 19px
@size-20: 1.25rem; // 20px
@size-21: 1.3125rem; // 21px
@size-22: 1.375rem; // 22px
@size-23: 1.4375rem; // 22px
@size-24: 1.5rem; // 24px
@size-25: 1.5625rem; // 25px
@size-26: 1.625rem; // 26px
@size-28: 1.75rem; // 28px
@size-30: 1.875rem; // 30px
@size-31: 1.9375rem; // 31px
@size-32: 2rem; // 32px
@size-34: 2.125rem; // 34px
@size-36: 2.25rem; // 36px
@size-35: 2.1875rem; // 35px
@size-38: 2.375rem; // 38px
@size-40: 2.5rem; // 40px
@size-42: 2.625rem; // 42px
@size-44: 2.75rem; // 44px
@size-48: 3rem; // 48px
@size-50: 3.125rem; // 50px
@size-52: 3.25rem; // 52px
@size-56: 3.5rem; // 56px
@size-57: 3.5625rem; // 57px
@size-60: 3.75rem; // 60px
@size-64: 4rem; // 64px
@size-66: 4.125rem; // 66px
@size-72: 4.5rem; // 72px
@size-78: 4.875rem; // 78px
@size-80: 5rem; // 80px
@size-85: 5.3125rem; // 85px
@size-88: 5.5rem; // 88px
@size-110: 6.875rem; // 110px
@size-120: 7.5rem; // 120px
@size-136: 8.5rem; // 136px
@size-150: 9.375rem; // 150px
@size-155: 9.6875rem; // 155px
@size-165: 10.3125rem; // 165px
@size-168: 10.5rem; // 168px
@size-178: 11.125rem; // 178px
@size-210: 13.125rem; // 210px
@size-250: 15.625rem; // 250px
@size-260: 16.25rem; // 260px
@size-400: 25rem; // 400px

// font-weights
@weight-light: 300; // 300
@weight-normal: 400; // 400
@weight-medium: 500; // 500
@weight-semi-bold: 600; // 600
@weight-bold: 700; // 700
@weight-extra-bold: 800; // 800
@weight-black: 900; // 900

// line-heights
@line-height-normal: normal; // this is 120% of the font-size. 10px = 12px
@line-height-paragraph: 1.25rem; // 20px for the 12px paragraph font-size
@line-height-small-spacing: 0.9375rem; // 15px for smallest text

// defaults
.text-default {
  font-family: @Inter;
  font-style: normal;
  font-weight: @weight-normal;
  line-height: @line-height-normal;
}

.mono-default {
  .text-default;

  font-family: @Inter;
  font-feature-settings: "tnum";
}

// text sizes
.text-36 {
  .text-default;

  font-size: @size-36;
}

.text-36-medium {
  .text-36;

  font-weight: @weight-medium;
}

.text-36-semi-bold {
  .text-36;

  font-weight: @weight-semi-bold;
}

.text-36-bold {
  .text-36;

  font-weight: @weight-bold;
}

.text-36-extra-bold {
  .text-36;

  font-weight: @weight-extra-bold;
}

.text-36-black {
  .text-36;

  font-weight: @weight-black;
}

.text-30 {
  .text-default;

  font-size: @size-30;
}

.text-30-medium {
  .text-30;

  font-weight: @weight-medium;
}

.text-30-semi-bold {
  .text-30;

  font-weight: @weight-semi-bold;
}

.text-30-bold {
  .text-30;

  font-weight: @weight-bold;
}

.text-30-extra-bold {
  .text-30;

  font-weight: @weight-extra-bold;
}

.text-30-black {
  .text-30;

  font-weight: @weight-black;
}

.text-28 {
  .text-default;

  font-size: @size-28;
}

.text-28-medium {
  .text-28;

  font-weight: @weight-medium;
}

.text-28-semi-bold {
  .text-28;

  font-weight: @weight-semi-bold;
}

.text-28-bold {
  .text-28;

  font-weight: @weight-bold;
}

.text-28-extra-bold {
  .text-28;

  font-weight: @weight-extra-bold;
}

.text-28-black {
  .text-28;

  font-weight: @weight-black;
}

.text-24 {
  .text-default;

  font-size: @size-24;
}

.text-24-medium {
  .text-24;

  font-weight: @weight-medium;
}

.text-24-semi-bold {
  .text-24;

  font-weight: @weight-semi-bold;
}

.text-24-bold {
  .text-24;

  font-weight: @weight-bold;
}

.text-24-extra-bold {
  .text-24;

  font-weight: @weight-extra-bold;
}

.text-24-black {
  .text-24;

  font-weight: @weight-black;
}

.text-22 {
  .text-default;

  font-size: @size-22;
}

.text-22-medium {
  .text-22;

  font-weight: @weight-medium;
}

.text-22-semi-bold {
  .text-22;

  font-weight: @weight-semi-bold;
}

.text-22-bold {
  .text-22;

  font-weight: @weight-bold;
}

.text-22-extra-bold {
  .text-22;

  font-weight: @weight-extra-bold;
}

.text-22-black {
  .text-22;

  font-weight: @weight-black;
}

.text-18 {
  .text-default;

  font-size: @size-18;
}

.text-18-medium {
  .text-18;

  font-weight: @weight-medium;
}

.text-18-semi-bold {
  .text-18;

  font-weight: @weight-semi-bold;
}

.text-18-bold {
  .text-18;

  font-weight: @weight-bold;
}

.text-18-extra-bold {
  .text-18;

  font-weight: @weight-extra-bold;
}

.text-18-black {
  .text-18;

  font-weight: @weight-black;
}

.text-16 {
  .text-default;

  font-size: @size-16;
}

.text-16-medium {
  .text-16;

  font-weight: @weight-medium;
}

.text-16-semi-bold {
  .text-16;

  font-weight: @weight-semi-bold;
}

.text-16-bold {
  .text-16;

  font-weight: @weight-bold;
}

.text-16-extra-bold {
  .text-16;

  font-weight: @weight-extra-bold;
}

.text-16-black {
  .text-16;

  font-weight: @weight-black;
}

.text-14 {
  .text-default;

  font-size: @size-14;
}

.text-14-medium {
  .text-14;

  font-weight: @weight-medium;
}

.text-14-semi-bold {
  .text-14;

  font-weight: @weight-semi-bold;
}

.text-14-bold {
  .text-14;

  font-weight: @weight-bold;
}

.text-14-extra-bold {
  .text-14;

  font-weight: @weight-extra-bold;
}

.text-14-black {
  .text-14;

  font-weight: @weight-black;
}

.text-14-paragraph {
  .text-14;

  line-height: 110%;
}

.text-14-medium-paragraph {
  .text-14-medium;

  line-height: 110%;
}

.text-14-bold-paragraph {
  .text-14-bold;

  line-height: 110%;
}

.text-12 {
  .text-default;

  font-size: @size-12;
}

.text-12-medium {
  .text-12;

  font-weight: @weight-medium;
}

.text-12-semi-bold {
  .text-12;

  font-weight: @weight-semi-bold;
}

.text-12-bold {
  .text-12;

  font-weight: @weight-bold;
}

.text-12-extra-bold {
  .text-12;

  font-weight: @weight-extra-bold;
}

.text-12-black {
  .text-12;

  font-weight: @weight-black;
}

.text-12-paragraph {
  .text-12;

  line-height: 140%;
}

.text-12-medium-paragraph {
  .text-12-medium;

  line-height: 140%;
}

.text-12-bold-paragraph {
  .text-12-bold;

  line-height: 140%;
}

.text-11 {
  .text-default;

  font-size: @size-11;
}

.text-11-medium {
  .text-11;

  font-weight: @weight-medium;
}

.text-11-semi-bold {
  .text-11;

  font-weight: @weight-semi-bold;
}

.text-11-bold {
  .text-11;

  font-weight: @weight-bold;
}

.text-11-extra-bold {
  .text-11;

  font-weight: @weight-extra-bold;
}

.text-11-black {
  .text-11;

  font-weight: @weight-black;
}

.text-10 {
  .text-default;

  font-size: @size-10;
}

.text-10-medium {
  .text-10;

  font-weight: @weight-medium;
}

.text-10-semi-bold {
  .text-10;

  font-weight: @weight-semi-bold;
}

.text-10-bold {
  .text-10;

  font-weight: @weight-bold;
}

.text-10-extra-bold {
  .text-10;

  font-weight: @weight-extra-bold;
}

.text-10-black {
  .text-10;

  font-weight: @weight-black;
}

.text-10-paragraph {
  .text-10;

  line-height: 125%;
}

.text-9 {
  .text-default;

  font-size: @size-9;
}

.text-9-medium {
  .text-9;

  font-weight: @weight-medium;
}

.text-9-semi-bold {
  .text-9;

  font-weight: @weight-semi-bold;
}

.text-9-bold {
  .text-9;

  font-weight: @weight-bold;
}

.text-9-extra-bold {
  .text-9;

  font-weight: @weight-extra-bold;
}

.text-9-black {
  .text-9;

  font-weight: @weight-black;
}

// mono sizes
.mono-24 {
  .mono-default;

  font-size: @size-24;
}

.mono-24-medium {
  .mono-24;

  font-weight: @weight-medium;
}

.mono-24-semi-bold {
  .mono-24;

  font-weight: @weight-semi-bold;
}

.mono-24-bold {
  .mono-24;

  font-weight: @weight-bold;
}

.mono-24-extra-bold {
  .mono-24;

  font-weight: @weight-extra-bold;
}

.mono-24-black {
  .mono-24;

  font-weight: @weight-black;
}

.mono-22 {
  .mono-default;

  font-size: @size-22;
}

.mono-22-medium {
  .mono-22;

  font-weight: @weight-medium;
}

.mono-22-semi-bold {
  .mono-22;

  font-weight: @weight-semi-bold;
}

.mono-22-bold {
  .mono-22;

  font-weight: @weight-bold;
}

.mono-22-extra-bold {
  .mono-22;

  font-weight: @weight-extra-bold;
}

.mono-22-black {
  .mono-22;

  font-weight: @weight-black;
}

.mono-14 {
  .mono-default;

  font-size: @size-14;
}

.mono-14-medium {
  .mono-14;

  font-weight: @weight-medium;
}

.mono-14-semi-bold {
  .mono-14;

  font-weight: @weight-semi-bold;
}

.mono-14-bold {
  .mono-14;

  font-weight: @weight-bold;
}

.mono-14-extra-bold {
  .mono-14;

  font-weight: @weight-extra-bold;
}

.mono-14-black {
  .mono-14;

  font-weight: @weight-black;
}

.mono-12 {
  .mono-default;

  font-size: @size-12;
}

.mono-12-medium {
  .mono-12;

  font-weight: @weight-medium;
}

.mono-12-semi-bold {
  .mono-12;

  font-weight: @weight-semi-bold;
}

.mono-12-bold {
  .mono-12;

  font-weight: @weight-bold;
}

.mono-12-extra-bold {
  .mono-12;

  font-weight: @weight-extra-bold;
}

.mono-12-black {
  .mono-12;

  font-weight: @weight-black;
}

.mono-11 {
  .mono-default;

  font-size: @size-11;
}

.mono-11-medium {
  .mono-11;

  font-weight: @weight-medium;
}

.mono-11-semi-bold {
  .mono-11;

  font-weight: @weight-semi-bold;
}

.mono-11-bold {
  .mono-11;

  font-weight: @weight-bold;
}

.mono-11-extra-bold {
  .mono-11;

  font-weight: @weight-extra-bold;
}

.mono-11-black {
  .mono-11;

  font-weight: @weight-black;
}

.mono-10 {
  .mono-default;

  font-size: @size-10;
}

.mono-10-medium {
  .mono-10;

  font-weight: @weight-medium;
}

.mono-10-semi-bold {
  .mono-10;

  font-weight: @weight-semi-bold;
}

.mono-10-bold {
  .mono-10;

  font-weight: @weight-bold;
}

.mono-10-extra-bold {
  .mono-10;

  font-weight: @weight-extra-bold;
}

.mono-10-black {
  .mono-10;

  font-weight: @weight-black;
}

.mono-9 {
  .mono-default;

  font-size: @size-9;
}

.mono-9-medium {
  .mono-9;

  font-weight: @weight-medium;
}

.mono-9-semi-bold {
  .mono-9;

  font-weight: @weight-semi-bold;
}

.mono-9-bold {
  .mono-9;

  font-weight: @weight-bold;
}

.mono-9-extra-bold {
  .mono-9;

  font-weight: @weight-extra-bold;
}

.mono-9-black {
  .mono-9;

  font-weight: @weight-black;
}

// Site Wide Typography:
h1 {
  font-size: @size-30;
  font-weight: @weight-normal;
  line-height: @size-35;
  margin-bottom: @size-20;

  @media @breakpoint-mobile-small {
    font-size: @size-24;
    line-height: @size-30;
  }
}
