// NOTE -- There is import order dependence, so please don't reorder before checking inheritence
// This is so that there is not circular dependencies amoung these stylesheets
@import '_normalize';
@import '_colors_OLD';
@import '_colors';
@import '_colors_redesign';
@import '_typography';
@import '_typography_redesign';
@import '_misc_redesign';
@import '_animations';
@import '_arrangement';
@import '_borders';
@import '_box-shadow';
@import '_buttons';
@import '_responsive';
@import '_inputs';

@max-width: 75rem;

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: @color-extra-darkpurple;
  font-family: @roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.view {
  min-height: 100%;
  padding: 2rem;
  width: 100%;

  @media @breakpoint-mobile {
    padding: 0;
  }
}

.view--constrained {
  max-width: @max-width;
  min-height: 100%;
}

:global .App--windowsScrollBars {
  ::-webkit-scrollbar {
    width: 0.375rem;
  }

  ::-webkit-scrollbar-thumb {
    background: @color-primary-light;
    border-radius: @border-radius-full-round;
  }
}
