// NOTE -- There is import order dependence, so please don't reorder before checking inheritence
// This is so that there is not circular dependencies amoung these stylesheets
@import '_normalize';
@import '_colors';
@import '_typography';
@import '_misc_redesign';
@import '_responsive';
@import '_animations';
@import '_buttons';

@max-width: 75rem;

html {
  font-size: @size-16;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: @color-dark-grey;
  font-family: @Inter;
  font-size: @size-16;
  font-style: normal;
  font-weight: 400;
  overflow: hidden;
}

label {
  color: @color-primary-text;
  display: block;
  margin-bottom: @size-10;

  &[for] {
    cursor: pointer;
  }
}

input,
textarea {
  background-color: @color-dark-grey;
  border: @size-1 solid transparent;
  color: @color-primary-text;
  display: block;
  font-family: @Inter;
  padding: @size-12 @size-16;
  width: 100%;

  &:focus {
    border: @size-1 solid @color-secondary-action-outline;
  }

  &:disabled {
    background-color: @color-inactive-text;
    cursor: default;
  }

  &::placeholder {
    color: @color-secondary-text;
    font-family: @Inter;
  }
}

:global .App--windowsScrollBars {
  ::-webkit-scrollbar {
    width: @size-6;
  }

  ::-webkit-scrollbar-thumb {
    background: @color-secondary-action-outline;
    border-radius: @border-radius-full-round;
  }
}

:global .App--noScroll {
  overflow-y: hidden;
}
