// ANIMATIONS
// shared animations
// all mixins are pre-pended with `animation`
// animations are assumed to be infinitely looped
// appended `-<times>` denotes finite iteration

// Default Animation Values
@timing: ease-in-out;
@speed-slow: 0.7s;

// 	Notifications
.animation-flash-slow(@color) {
	.animation(@speed-slow @timing infinite alternate flash-slow);

	.keyframes(flash-slow, {
	0% { background: fade(@color, @amount-subtle) }
	100% { background: fade(@color, @amount-light) }
	});
}

//	Helpers
.animation(@args) {
	animation: @args;
}

.keyframes(@name; @args) {
	@keyframes @name { @args(); }
}
