// BORDERS
//	Constants
@border-all: 'all sides';
@border-top: border-top;
@border-right: border-right;
@border-bottom: border-bottom;
@border-left: border-left;

@border-default-chroma: @color-border;
@border-muted: @color-border-muted;
@border-light: @color-border-light;

@default-values: 1px solid;

.border(@side: false; @property: @border-all; @chroma: @border-default-chroma) {
	& when (@side) {
		& when (@property = @border-all) {
			border: @default-values @chroma;
		}

		@{property}: @default-values @chroma;
	}

	& when not (@side) {
		border: none;
	}
}
