.checkbox-container {
  display: flex;
  flex: 1;
  max-width: @side-bar-max-width;
}

.checkbox {
  cursor: default;
  flex: 1;

  &:disabled {
    opacity: 0.4;
  }

  .fa-check {
    color: @color-text-dark;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .checkbox-box {

    .border(true);

    background: #fafafa;
    display: inline-block;
    height: 0.8rem;
    margin-right: 0.5rem;
    position: relative;
    vertical-align: middle;
    width: 0.8rem;
  }

  .checkbox-label {
    //  Increase subtracted amount below (to ~100px) when any tag has more than 999 markets in it; doing so will further truncate the tag name
    max-width: calc(@side-bar-max-width - 90px);
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
  }

  .checkbox-label,
  .checkbox-label2 {
    display: inline-block;
    margin-left: 0.25em;
    position: relative;
    vertical-align: middle;
  }
}
