//  COLORS
//    General

@color-background: #ECECEC;

@color-white: #FFFFFF;

@color-blue: #5195E4;
@color-blue-light: #F5FAFE;

@color-red: #F55055;
@color-red-light: #FFECEC;

@color-green: #3BB477;
@color-light: #E6F7EF;

//    Specific

@color-border: #C8C8C8;

@color-disabled: #B4B4B4;

@color-divider-strong: #E5E5E5;
@color-divider-soft: #F1F1F1;

@color-text-light: @color-white;
@color-text-light-muted: #A4AAAC;

@color-text-dark: #2A373E;
@color-text-dark-muted: #63707C;
@color-text-dark-light: #ABB1B8;

@color-input-border: #DEE5E7;
@color-input-background: #FBFBFB;