//  COLORS
//    General

@color-background: #ececec;

@color-white: #ffffff;

@color-blue: #5195e4;
@color-blue-light: #f5fafe;

@color-red: #f55055;
@color-red-light: #ffecec;

@color-green: #3bb477;
@color-light: #e6f7ef;

//    Specific

@color-border: #c8c8c8;

@color-disabled: #b4b4b4;

@color-divider-strong: #e5e5e5;
@color-divider-soft: #f1f1f1;

@color-text-light: @color-white;
@color-text-light-muted: #a4aaac;

@color-text-dark: #2a373e;
@color-text-dark-muted: #63707c;
@color-text-dark-light: #abb1b8;

@color-input-border: #dee5e7;
@color-input-background: #fbfbfb;


// HISTORICAL
// TODO -- remove
@color-site-background: rgba(250, 250, 255, 1);
@color-main: rgba(240, 240, 240, 0.95);
@color-body-bg: rgba(235, 235, 240, 1);

//@color-border: #eeeeef;
@color-border-dark: #d3d3da;
@color-border-darker: #c3c3ca;

@color-purple: #a15e87;
@color-purple-dark: #864f71;
@color-purple-lighter: #d491ba;

@color-positive: #00c853; // green, up-arrows
@color-positive-light: #61ffa3; // green, up-arrows

@color-negative: #ff5050; // red, down-arrows

@color-primary-lightest: #e3f2fd;
@color-primary-normal: #62a8ea;
@color-primary-hover: #3583ca;
@color-primary-active: #3075b5;

@color-plain-normal: #e4eaec;
@color-plain-hover: #ccd5db;
@color-plain-active: #76838f;

@color-dark-normal: #222229;
@color-dark-hover: #32323a; // font/text color
@color-dark-active: #43505c;

@color-light-normal: #eaeaef;
@color-light-hover: #dadadf;
@color-light-active: #cacacf;

@color-muted-normal: #bdbdbd;
@color-muted-hover: #a0a0a0;
@color-muted-active: #838383;

@color-success-normal: #54b530;
@color-success-hover: #479929;
@color-success-active: #3c8122;

@color-info-normal: #57c7d4;
@color-info-hover: #77d6e1;
@color-info-active: #47b8c6;

@color-warning-normal: #fcb531;
@color-warning-hover: #f19e04;
@color-warning-active: #e79704;

@color-danger-normal: #f96868;
@color-danger-hover: #fa7a7a;
@color-danger-active: #e9595b;
@color-danger-dark: #8c1717;