// General
// app wide common styles
// if a component is shared, those styles are better left to it's respective stylesheets

//		Tags
html,
body {
	background: linear-gradient(to right, @color-white-subtle 0%, @color-app-background 50%, @color-white-subtle 	100%);
	color: @color-text-dark;
	font-size: 16px;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, 'Open Sans', sans-serif;
	font-weight: @font-weight-normal;

	.light-weight {
		font-weight: @font-weight-light;
	}

	.semi-bold-weight {
		font-weight: @font-weight-semi-bold;
	}
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:visited {
		color: inherit;
	}

	&[disabled] {
		cursor: default;
		opacity: 0.3;
	}
}

th {
	padding: 0 0.5em;
	text-align: left;
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
}

hr {
	border-color: @color-border;
}

input,
select,
textarea {
	padding: 0.7rem 1rem;
	box-sizing: border-box;
	color: inherit;
	border: 1px solid @color-border-darker;
	border-radius: 1px;
	font-family: inherit;
	font-size: inherit;
}

input,
textarea {
	background: @color-input-background;
	resize: both;

	&:focus {
		border: 1px solid @color-border-darker;
	}
}

button {
	cursor: pointer;
}


// 		Classes
.augur-brand {
	font-family: 'Core Mellow', 'Helvetica Neue', Arial, 'Open Sans', sans-serif;
	font-weight: @font-weight-light;
}

.fa {
	font-family: 'Font Awesome';
	font-weight: @font-weight-normal;
}

.clickable {
	cursor: pointer;
}

.link {
	padding: 0;
	cursor: pointer;
	background: none;
	border: none;
}

.displayNone {
	display: none !important;
}

.fade {
	opacity: 0.25;
}

.unfade {
	opacity: 1;
}

.component-header {
	display: flex;
	width: 100%;
	padding: 1vmin 0 0;

	.header-bar {
		display: flex;
		flex: 2;
		width: 100%;
		margin-left: 1vmin;
		padding: 0 0 0 5vmin;
		background: white;
		font-size: 1.6rem;
		font-weight: @font-weight-normal;
	}
}

//		Pseudo
::selection {
	color: white;
	background-color: #6f6f6f;
}

*:focus {
	outline-width: 0;
	outline-style: dotted;
	outline-color: @color-border;
}

::placeholder {
	color: @color-plain-hover;
}

//		Selectors
[contenteditable=true] {
	outline: 1px solid @color-border;
	outline-offset: 1px;
	cursor: text;

	&:empty::before {
		display: block;
		content: attr(placeholder);
		color: #dddddd;
	}
}

[type=button],
[type=submit],
[type=file] {
	cursor: pointer;
}

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
	display: none;
}

// HISTORICAL
// TODO -- remove
@site-header-height: 10vmin;
@market-section-padding: 4vmin 6vmin;
@filters-width: 21rem;

