.component-nav {
	display: flex;
	flex: 1;

	.border(true, @border-bottom, @border-muted);

	li {
		padding: 1em 0 0.5em;
		margin: 0 1em -1px; // -1px pulls bottom `up` one pixel to stylistically overlap w/ component-nav bottom border

		// .transition(border-bottom @animation-speed-very-fast); // Not a great transition in testing...leaving for now

		&.selected {

			.border(true, @border-bottom, @color-purple, @border-width-3);
		}

		&:hover:not(.selected) {
			.border(true, @border-bottom, @color-purple, @border-width-2);
		}
	}
}
