.core-stats {

	.border(true, @border-right);
	.border(true, @border-bottom);
	.border(true, @border-left);

	background-color: @color-white;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2); // NOTE -- this is the only use of box-shadow...any more and it needs a mixin
	display: flex;
	flex: 1;
	justify-content: space-around;
	margin-bottom: 1em;
	padding: 0 1em;

	.core-stats-group {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		margin: 0 1em;

		&:first-child {
			justify-content: flex-start;
		}

		&:last-child {
			justify-content: flex-end;
		}

		.core-stat {
			padding: 1em;

			.core-stat-label {
				margin-right: 0.4em;
			}

			.core-stat-value {
				.font-weight-normal();
			}
		}
	}
}
