.dropdown {
	display: flex;
	position: relative;
	background-color: @color-white;
	border: 1px solid @color-border;
	color: @color-text-dark;

	select {
		appearance: none;
		background-color: transparent;
		border: none;
	}

	i {

		.fa();
		.font-size-medium();

		position: absolute;
		top: 50%;
		pointer: default;
		pointer-events: none;
		right: 0.4em;
		transform: translateY(-50%);
	}
}