.input {
	display: inline-block;

	&.clearable {
		.box {
			padding: 0.5em 2em 0.5em 0.5em;
		}
	}

	.box {
		width: 100%;
		font-size: inherit;
		padding: 0.5em;
	}

	.clear {
		display: inline-block; position: absolute;
		top: 26%; right: 0.1em;
		margin: 0;
		color: @color-border-darker;
		background: transparent;
		border: 0;
		font-size: inherit;
		font-family: 'FontAwesome';
	}
}