.input {
	.border(true);

	input {
		.border(false);
	}

	&.clearable {
		.box {
			padding-right: 2em;
		}
	}

	&.input-error {
		border-color: @color-red-light;
	}

	&.is-incrementable {
		display: flex;

		input[type='number'] {
			appearance: textfield;
		}

		input {
			flex: 1;
		}

		.value-incrementers {

			.border(true, @border-left);

			display: flex;
			flex-direction: column;

			button {
				cursor: default;
				flex: 1;
				padding: 0 0.2em;

				&:active {
					background-color: @color-gray;
				}
			}
		}
	}

	.box {
		font-size: inherit;
		height: 100%;
		padding: 0.5em;
		width: 100%;
	}
}
