// LAYOUT
// parent level structural styling
// These classes may also have presentational styling housed in separate stylesheets

.contained {
	margin-left: auto;
	margin-right: auto;
	max-width: @max-app-width;
	overflow-x: hidden;
}

#site_container {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.site-header {
		flex: 0 0 auto;
	}

	#view_container {
		flex: 1 1 auto;
		justify-content: center;
		overflow-y: auto;
		position: relative;

		#view_content_container {

			.contained();

			display: flex;
			flex: 1;
			flex-direction: row;

			.view-content {
				display: flex;

				&.view-content-group-1 {
					flex: 1;

					.side-bar {
						flex: 1;
					}
				}

				&.view-content-group-2 {
					display: flex;
					flex: 4;
					flex-direction: column;

					.view {
						display: flex;
						flex: 1;
						flex-direction: column;
						margin: 2rem 6rem 0;
						max-width: @max-content-width;

						.view-header {
							align-items: center;
							display: flex;
							flex: 1;
							padding: 1.5em 0;
						}
					}
				}
			}
		}
	}
}
