// LAYOUT
// parent level structural styling

.contained {
	margin-left: auto;
	margin-right: auto;
	max-width: @max-app-width;
	overflow-x: hidden;
}

.view-container {

	.contained();

	display: flex;

	.side-bar {
		flex: 1;
	}

	.view-content-container {
		display: flex;
		flex: 4;
	}
}

.l-space-between {
	display: flex;
	justify-content: space-between;
}
