// LAYOUT
// parent level structural styling
// These classes may also have presentational styling housed in separate stylesheets

.contained {
	margin: 0 auto;
	max-width: @max-app-width;
	overflow-x: hidden;
}

#site_container {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.site-header {
		flex: none;
	}

	#view_container {
		display: flex;
		flex: auto;
		flex-direction: column;
		justify-content: center;
		overflow-y: auto;
		position: relative;

		#view_content_container {
			display: flex;
			flex: auto;
			flex-direction: column;

			#footer_push {
				flex: auto;
			}

			.view-content-row {

				.contained();

				display: flex;
				flex: 1 0 auto;
				width: 100vw;

				.view-content{
					
					&.view-content-group-1 {
						display: flex;
						flex: 1;

						.side-bar {
							flex: 1;
						}

						&.collapsed {
							display: none;
						}
					}

					&.view-content-group-2 {
						flex: 4;

						.view {
							display: flex;
							flex-direction: column;
							margin: 2rem 6rem 0;
							max-width: @max-content-width;

							.view-header {
								align-items: center;
								display: flex;
								flex: 1;
								padding: 1.5em 0;
							}
						}
					}
				}
			}
		}

		footer {
			flex: none;
		}
	}
}
