.page {

}

.page-header {
    top: @site-header-height; left: 0; right :0;
    max-width: @media-large-width;
    margin: 0 auto;
    padding: 3.5vmin 3rem 2.5vmin 2.9rem;
	line-height: 2.2em;
    color: white;
    background: @color-dark-hover;
    font-size: 3.4vmin;

    .big-line {
        font-size: 1.3em;
        font-weight: 700;
    }
}

.page-content {
    top: 0; left: 0; right: 0;
    max-width: @media-large-width;
    margin: @site-header-height auto 0 auto;
    padding: 0;
    color: @color-dark-active;
}