.paginator {
  .font-size-large();
  height: 50px;
  margin-top: 40px;

  .paginator-controls {
    display: flex;
    height: 100%;
  }

  .paginator-back,
  .paginator-location,
  .paginator-forward {
    .font-color-light();
    .font-family-dinpro();
    .font-size-extra-large();
    flex: 1;
    height: 100%;
    justify-content: center;
  }

  .paginator-location {
    display: flex;
    align-items: center;
  }

  .button {
    background: none;
    display: block;
    height: 100%;
    padding: 0;
    i {
      .font-size-extra-large();
      vertical-align: middle;
    }
  }

  .paginator-back .button {
    padding-left: 20px;
    text-align: left;
  }

  .paginator-forward .button {
    padding-right: 20px;
    text-align: right;
  }
}
