.paginator {
  .font-size-large();

  display: flex;

  .paginator-controls {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-around;

    & > div {
      display: flex;
      flex: 1;
    }
  }

  .paginator-back {
    margin-left: -1.5em; // Derived from the default padding applied to buttons
  }

  .paginator-location {
    justify-content: center;
    padding: 1em 0;
  }

  .paginator-forward {
    justify-content: flex-end;
    margin-right: -1.5em; // Derived from the default padding applied to buttons
  }

  .button {

    .font-size-extra-large();

    background-color: @color-transparent;
    color: @color-text-dark;
  }
}
