.paginator {
  .font-size-large();

  display: flex;

  .pagination-control-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-around;

    & > div {
      display: flex;
      flex: 1;
    }
  }

  .pagination-group-1 {
    margin-left: -1.5em; // Derived from the default padding applied to buttons
  }

  .pagination-group-2 {
    justify-content: center;
  }

  .pagination-group-3 {
    justify-content: flex-end;
    margin-right: -1.5em; // Derived from the default padding applied to buttons
  }

  .button {

    .font-size-extra-large();

    background-color: @color-transparent;
    color: @color-text-dark;
  }
}
