// RESPONSIVE
// NOTES --
// These are determined by the content being displayed NOT the device displaying the content.
// This allows for the most optimal presentation regardless of the device.

// Break Points
// NOTES --
// Levels:
// 1: Smallest layout @ < 600px (Default)
// 2: TODO
@breakpoint: 1;

@media(max-width: 600px){
	@breakpoint: 1;
}

// HISTORICAL
// TODO -- remove
@media-mobile-width: 550px;
@media-small-width: 770px;
@media-large-width: 1250px;
@media-small-height: 450px;