// RESPONSIVE
// These are determined by the content being displayed NOT the device displaying the content.
// This allows for the most optimal presentation regardless of the device.

// Maximum app width
// .contained elements will max at this width, elements without that style will flow to full window width
@max-app-width: 1800px;
@max-content-width: 1500px;

// Break Points
// 1: Smallest layout @ < 600px (Default)
@breakpoint-1: true;
@breakpoint-1-max-width: 600px;
// 2: TODO
@breakpoint-2: false;

@media all and (max-width: @breakpoint-1-max-width) {
	@breakpoint-1: true;
}

// HISTORICAL
// TODO -- remove
@media-mobile-width: 550px;
@media-small-width: 770px;
@media-large-width: 1250px;
@media-small-height: 450px;
