.tab-navigator {
    width: 100%;

    display: flex;
    align-items: stretch;

    font-size: 2vmin;

    .nav-item {
        flex: 1;
        display: flex;
        align-items: center;

        background: white;
        color: black;

        &:hover, &:active {
            background: @color-light-hover;
        }

        &.active {
            background: @color-dark-hover;
            color: @color-light-normal;
        }

        border: 1px solid @color-border-dark;
        &:not(:last-of-type) {
            border-right: none;
        }

        .nav-label {
            flex: 1;
            display: flex;
            justify-content: center;

            font-size: 2.5vmin;

            padding-left: 1em;
        }

        .nav-values {
            display: flex;
            height: 62%;

            justify-content: flex-end;
            align-items: center;

            font-size: 2vmin;

            padding-right: 1em;

            .value-denomination {
                display: flex;
                align-items: center;
                height: 100%;

                padding: 0 1em;

                border-left: 1px solid @color-border;

                &:last-of-type {
                    padding-right: 0;
                    border-right: none;
                }

                &.colorize {
                    .colorize();
                }
            }
        }
    }
}