.value-denomination {
	.value {

		.font-weight-normal();
	}

	.denomination {

		.font-weight-light();

		margin-left: 0.2em;
	}

	.prefix {

		.font-weight-light();

		margin-right: 0.3em;
	}

	.postfix {

		.font-weight-light();

		margin-left: 0.3em;
	}
}

.colorize {
	&.positive,
	.positive {
		.value {
			color: @color-positive;
		}

		.denomination {
			color: fade(@color-positive, 80%);
		}
	}

	&.negative,
	.negative {
		.value {
			color: @color-negative;
		}

		.denomination {
			color: fade(@color-negative, 80%);
		}
	}
}

.value-date {

	.font-weight-normal();
}

.value-timestamp {

	.font-weight-light();
}
