.value-denomination {
	.value {
		font-weight: 900;
	}
	.denomination {
		margin-left: 0.2em;
		font-weight: 400;
	}
	.prefix {
		margin-right: 0.3em;
		font-weight: 400;
	}
	.postfix {
		margin-left: 0.3em;
		font-weight: 400;
	}
}

.colorize() {
	&.positive, .positive {
		.value {
			color: @color-positive;
		}
		.denomination {
			color: fade(@color-positive, 80%);
		}
	}
	&.negative, .negative {
		.value {
			color: @color-negative;
		}
		.denomination {
			color: fade(@color-negative, 80%);
		}
	}
}

.value-date {
	font-weight: 900;
}

.value-timestamp {
	font-weight: 400;
}

.colorize {
	.colorize();
}