// NOTE -- additional styles located in common/less/layout.less
.view-header {
	.left-header {
		flex: 1;
		justify-content: flex-start;
		align-self: center;
	}
	.right-header {
		flex: 1;
		justify-content: flex-end;
		align-self: center;
	}
}