@import (reference) '../../../../../../assets/styles/shared';

:local(.ModalDownloadGeth) {
  
}

:local(.ModalDownloadGeth__container) {
	background: white;
	width: 244px;
    height: 181px;
    border-radius: 2px;
    padding: 24px 32px;
}

:local(.ModalDownloadGeth__header) {
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: @color-almostblack;
  margin-bottom: 16px;
}


:local(.ModalDownloadGeth__subheader) {
  font-size: 12px;
  font-weight: normal;
  font-style: 400;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: @color-almostblack;
}

:local(.ModalDownloadGeth__buttonContainer) {
  margin-top: 22px;
	display: flex;
}

:local(.ModalDownloadGeth__cancel) {
  .button--transparent();

  font-size: 14px;
  font-weight: 500;
  padding: 8px 24px;
  height: 14px;
}

:local(.ModalDownloadGeth__save) {
  .button--purple();
	
  font-size: 14px;
  font-weight: 500;
  margin-left: 16px;
  border-radius: 32px;
  padding: 8px 24px;
  text-transform: none;
  height: 16px;
  min-height: unset;
  min-width: unset;
}
