.auth-import-form {
  .auth-import-file {
    z-index: @mask-above;

    &.input-error {
      border-color: @color-red;
    }
  }

  .auth-import-password {
    border-top: 0;
    height: 0;
    opacity: 0;
    z-index: @mask;
  }

  .auth-import-actions {
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
    z-index: @above-all-content;
  }
}
