// NOTE -- additional styles located in common/less/layout.less
.side-bar {
	.header-container {
		border-bottom: 1px solid @color-text-light-light;
		height: 100%;
		margin: 0 2rem;

		h3 {

			.font-weight-light();
			.font-size-medium();

			color: @color-text-light;
			padding-top: 1rem;
		}
	}

	.tags {
		display: flex;
		flex: 1;
		flex-direction: column;
		padding-top: 0.5rem;

		.checkbox.tag {

			.transition(background-color @speed-very-fast, color @speed-very-fast;);

			padding: 1em 2rem;
			text-align: left;

			&:hover {
				background-color: @color-nav-background-active;
				color: @color-text-light;
			}
		}
	}
}
