// SIDEBAR

.side-bar {
	background-color: @color-side-bar-background;
	color: @color-text-light-muted;

	.filters {
		display: flex;
		flex-direction: column;

		h3 {

			.font-weight-light();
			.font-size-medium();

			color: @color-text-light;

			margin: 2rem 2rem 0;
			padding-bottom: 1rem;
			border-bottom: 1px solid @color-text-light-light;
		}

		.filters-group {
			display: flex;
			flex: 1;
			flex-direction: column;

			padding-top: 0.5rem;

			.checkbox.filter {
				padding: 1em 2rem;
			}
		}
	}
}