.site-header {

	.font-weight-extra-light();

	background: @color-nav-background;
	color: @color-text-light-muted;
	display: flex;
	flex: 1;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: @above-all-content;

	.site-nav {

		.contained();

		display: flex;
		flex: 1;
		justify-content: center;

		.nav-group {
			display: flex;
			flex: 1;
			justify-content: center;

			&.left-navs {
				justify-content: flex-start;
			}

			&.right-navs {
				justify-content: flex-end;

				.augur-logo {
					height: 100px;
					width: 50px;
				}
			}

			&.left-navs,
			&.right-navs {
				vertical-align: middle;
			}

			&.branding .link,
			&.left-navs .link,
			&.right-navs .link {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			&.branding .link {
				padding: 0 1em;

				.augur-logo {
					height: 1.2em;
				}
			}
		}

		.link {
			padding: 1.8em;

			&:hover,
			&:active {
				background: @color-nav-background-active;
				color: @color-text-light;
			}

			&.active {

				.font-weight-light();

				background: @color-nav-background-active;
				color: @color-text-light;
			}

			&.transactions {
				&.working {
					&:not(.active) {

						.animation-flash-slow(@color-orange);

						color: @color-text-light;
					}
				}

				.link-text {
					white-space: nowrap;
				}
			}
		}

		.search.header-search {

		}
	}
}
