footer {

	.border(true, @border-top);
	.contained();

	background: rgba(250, 250, 255, 1);
	display: block;
	font-size: 1rem;
	font-weight: 700;
	padding: 0;
	text-align: center;
	width: 100%;

	.link {
		background: rgba(250, 250, 255, 1);
		color: @color-dark-normal;
		display: inline-block;
		font-size: 0.9rem;
		margin: 0.1rem;
		padding: 1.5rem;
		white-space: nowrap;

		&:hover,
		&:active,
		&:focus {
			text-decoration: underline;
		}
	}
}
