@import (reference) '~assets/styles/shared';

.Markets {
  align-items: center;
  text-align: left;
  width: 100%;
}

.Markets__SortBar {
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 0 2rem;
}

.Markets__SortBar-title {
  font-size: @font-size-extra-large;
  color: @color-white;
}

.Markets__SortBar-sort {
  display: flex;
  flex: 1;
  margin-left: 1rem;
}

.Markets__SortBar-filter {
  display: flex;
}
