@import (reference) '~assets/styles/shared';

.Markets {
  align-items: center;
  // background: @color-white;
  // display: flex;
  // justify-content: space-between;
  // padding: 2rem;
  text-align: left;
  width: 100%;
}

.Markets__SortBar {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.Markets__SortBar-title {
  flex: 1;
}

.Markets__SortBar-dropdowns {
  display: flex;
}
