@import '~assets/styles/shared';

.TopBar {
  background: @color-gray;
  height: 100%;
  padding-left: 295px;
}

.TopBar__stat {
  .font-size-medium();

  display: inline-block;
  font-weight: 300;
  letter-spacing: 0.75px;
  line-height: 42px;
  margin-right: 40px;
  width: 110px;
}

.TopBar__stat-label {
  color: rgba(255, 255, 255, 0.25);
  margin-right: 10px;
}

.TopBar__stat-value {
  color: @color-white;
}

.TopBar__logo-text {
  display: none;
}

@media @breakpoint-mobile {
  padding: 0;

  .TopBar__stat { display: none; }

  .TopBar__logo-text {
    color: @color-white;
    display: block;
    float: right;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
    margin-right: 10px;
    text-transform: uppercase;
  }
}
