@import (reference) "~assets/styles/shared";

.TradingForm {
  > ul {
  padding: @size-12 @size-12 0;

    > li {
      color: @color-primary-text;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;

      &.yesOption {
        padding: @size-16 @size-32;
      }

      > div.TradingFormInputContainer {
        max-height: @size-32;
        min-height: @size-32;

        > span {
          .mono-10-bold;

          max-height: @size-32;
          min-height: @size-32;
          padding: @size-10 @size-16 @size-10 0;
        }

        > input {
          .mono-12;

          max-height: @size-30;
          min-height: @size-30;
          padding: 0 @size-16;
        }
      }

      &:not(:nth-of-type(4)) {
        margin-bottom: @size-12;

        > label {
          .mono-10-bold;

          color: @color-secondary-text;
          text-transform: uppercase;
        }
      }

      &:nth-of-type(3) {
        margin-bottom: @size-8;
      }

      &:nth-of-type(4) {
        align-items: center;
        border: none;
        flex-direction: row;
        min-height: @size-22;
        display: flex;
        flex: 1;

        > button {
          .mono-10-bold;
          
          min-height: @size-22;
          padding: @size-3 @size-6;
        }

        > button:not(:first-of-type) {
          margin-left: @size-4;
        }

        > button:last-of-type {
          margin-left: auto;
        }

        > label {
          .mono-10-bold;

          color: @color-primary-text;
          margin-bottom: 0;
          padding: 0;
          margin-left: @size-22;
          margin-top: @size-1;
          text-transform: uppercase;
        }
      }

      &:nth-of-type(4),
      &:nth-of-type(5) {
        > label {
          align-items: center;
          text-transform: uppercase;
          border: none;
          display: flex;

          > svg {
            margin-right: @size-6;
          }
        }
      }

      &:nth-of-type(6) {
        margin: @size-12 0;
        width: fit-content;

        > button {
          .mono-10-bold;

          min-height: @size-22;
          padding: @size-3 @size-6;
        }
      }

      &:nth-of-type(7) {
        display: flex;
        flex-direction: row;

        > span {
          .text-10;

          color: @color-dark-text;
          margin-left: @size-12;
        }

        > div:first-of-type {
          > button {
            .mono-10-bold;
          }
          
          height: fit-content;
        }

        > div:nth-of-type(2) {
          display: flex;
          flex-direction: column;
          flex: 1;

          > div:first-of-type {
            display: flex;
            justify-content: flex-end;

            > div > div > input {
              min-width: @size-36;
              width: @size-36;
              padding: @size-4 @size-8;
              height: unset;
            }

            > div:last-of-type {
              margin-left: @size-3;
            }
          }

          > span {
            .mono-10;

            color: @color-primary-text;
            text-transform: uppercase;
            margin-top: @size-8;
            text-align: right;
            white-space: nowrap;
          }
        }
      }

      > label {
        color: @color-inactive-text;
        margin-bottom: 0;
        padding-bottom: @size-4;
        width: 100%;

        &.smallLabel {
          .mono-10-bold;

          color: @color-primary-text;
          padding-top: @size-12;
          text-transform: none;

          > svg {
            height: @size-12;
            width: @size-12;

            > circle {
              opacity: 1;
              stroke: @color-primary-text;
              fill: none;
            }

            > rect {
              fill: @color-primary-text;
            }

            > path {
              fill: @color-primary-text;
            }
          }
        }

        &.Liquidity {
          margin-left: 0;

          > svg {
            height: @size-12;
            width: @size-12;

            > circle {
              opacity: 1;
              stroke: @color-primary-text;
              fill: none;
            }

            > rect {
              fill: @color-primary-text;
            }

            > path {
              fill: @color-primary-text;
            }
          }
        }
      }
    }
  }
}

.ErrorContainer {
  background: fade(@color-error, 20%);
  border: 1px solid @color-error;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  font-size: @size-12;
  line-height: @size-14;
  margin: @size-16;
  padding: @size-13 @size-8;
}

.Error {
  .mono-10-bold;

  align-items: center;
  color: @color-primary-text;
  margin-bottom: @size-4;
  text-transform: uppercase;
  display: grid;
  grid-gap: @size-8;
  grid-template-columns: @size-12 auto;
  grid-template-rows: auto;

  &:last-of-type {
    margin-bottom: 0;
  }

  > svg {
    height: @size-12;
    vertical-align: text-bottom;
    width: @size-12;

    > circle {
      fill: fade(@color-error, 20%);
      opacity: 0.5;
      stroke: @color-error;
    }

    > rect {
      fill: @color-error;
    }

    > path {
      fill: @color-error;
    }
  }
}

.Outcome {
  padding: @size-12 @size-12 0;
  > div > button {
    .text-12;
  }
}

.HideOnMobile {
  @media @breakpoint-mobile {
    display: none;
  }
}

.Yes {
  .text-14-medium;

  background-color: @color-secondary-action;
  border: 1px solid @color-secondary-action-outline;
  border-radius: @border-radius-default;
  padding: @size-10 @size-10 @size-10 @size-16;

  > span {
    .mono-11;

    color: @color-inactive-text;
    text-transform: uppercase;
  }
}

.TradingFormInput {
  display: flex;
  flex-grow: 1;
  padding: @size-10 @size-12;
  width: auto;
  border-radius: @size-3;
  line-height: normal;
}

.TradingFormInputContainer {
  .mono-11;

  align-items: center;
  background-color: @color-secondary-action;
  border: 1px solid @color-secondary-action-outline;
  display: flex;
  flex-direction: row;
  border-radius: @size-3;

  > input[type="number"] {
    background-color: @color-secondary-action;
    border-width: 0;
    color: @color-primary-text;

    &::placeholder {
      color: fade(@color-primary-text, 20%);
    }
  }

  &.error {
    border: 1px solid fade(@color-error, 50%);

    &:focus-within,
    &:focus {
      border: 1px solid fade(@color-error, 50%);
    }
  }

  > span {
    .mono-10;

    color: @color-secondary-text;
    overflow: hidden;
    padding: @size-10 @size-12;
    text-align: right;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    &.isScalar_smallText {
      font-size: @size-9;
    }

    &.isScalar_largeText {
      font-size: @size-11;
    }
  }

  > label {
    color: @color-inactive-text;
    font-size: @size-12;
  }

  &:focus-within {
    border: 1px solid @color-secondary-action-outline;

    > input {
      border: 0;
    }
  }
}

@media @breakpoint-mobile {
  .Outcome {
    background: @color-dark-grey;
    margin-bottom: @size-24;
    margin-top: @size-16;
    padding-bottom: 0;
    padding-top: 0;
  }

  .TradingFormInputContainer {
    > span {
      font-size: @size-10;
    }

    > input[type="number"] {
      font-size: @size-12;

      &::placeholder {
        font-size: @size-12;
      }
    }
  }

  .TradingForm__error_message {
    > svg {
      fill: none;
      height: @size-16;
      width: @size-16;

      > circle {
        stroke: @color-secondary-action-outline;
        fill: @color-secondary-action;
      }
    }
  }
}
