@import (reference) "~assets/styles/shared";

.TradingForm {
  background-color: @color-module-background;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 575px;
  position: relative;
}

@media @breakpoint-mobile {
  .TradingForm {
    flex-grow: 1;
    min-height: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    border-bottom: 1px solid @color-dark-grey;
    border-left: 1px solid @color-dark-grey;
    border-right: 1px solid @color-dark-grey;
  }
}
