@import (reference) "~assets/styles/shared";

.Wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > div:nth-of-type(2) {
    align-items: flex-end;
    display: flex;
    padding: @size-12;

    > button[class*='PrimaryButton'] {
      .text-12-bold;

      height: @size-32;
      max-height: @size-32;
      margin: auto;
    }
  }

  > div:nth-of-type(3) {
    .text-12;

    border: 1px solid @color-secondary-action-outline;
    border-radius: @border-radius-default;
    color: @color-secondary-text;
    margin: auto @size-12 @size-12;
    padding: @size-12;

    > span {
      .text-12-bold;

      color: @color-negative;
    }

  }
}

.Buy > li {
  &.active {
    color: @color-positive;

    > button {
      border-bottom: 1px solid @color-positive;
    }

    &:hover {
      color: @color-positive;
    }
  }
}

.Sell > li {
  &.active {
    color: @color-negative;

    > button {
      border-bottom: 1px solid @color-negative;
    }

    &:hover {
      color: @color-negative;
    }
  }
}

.Buy,
.Sell {
  background-color: @color-dark-grey;
  color: @color-inactive-text;
  display: flex;
  min-height: @size-32;
  max-height: @size-32;

  > li {
    color: @color-secondary-text;
    text-align: center;

    &:hover {
      color: @color-primary-text;
    }

    > button {
      .mono-12-bold;

      align-items: center;
      display: flex;
      flex-direction: column;
      padding: @size-8 0 @size-7;
      position: relative;
      text-transform: uppercase;
      width: 100%;
    }

    &:first-of-type {
      margin-left: @size-16;
      margin-right: @size-18;
    }
  }
}

.Scalar {
  margin-bottom: @size-8;
}

@media @breakpoint-mobile-mid {
  .Buy,
  .Sell {
    justify-content: center;
  }
}
