@import (reference) '~assets/styles/shared';
@import (reference) '~modules/market/components/common/market-common.styles';

.MarketBasics {
  &__header {
    .MarketCommon__header;

    align-items: center;
    margin-bottom: 1rem;
  }

  &__reportingends {
    .label-12--dark;

    align-items: center;
    display: inline-flex;

    > div {
      padding-right: 0.4rem;
    }
  }
}

.MarketBasics__round-number {
  margin-top: -0.5rem;
}

.MarketBasics__round-label {
  color: @color-white;
  font-size: @font-size-small;
  line-height: 1.25rem;
  margin-right: 0.75rem;
  text-transform: capitalize;
}

.MarketBasics__round-text {
  align-items: center;
  background: @color-medium-gray;
  border-radius: 100%;
  color: @color-white;
  display: inline-flex;
  font-size: @font-size-small;
  font-weight: 600;
  height: 1.875rem;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.125rem;
  width: 1.875rem;
}
