@import (reference) '~assets/styles/shared';

.DefaultModalBorder {
  border: @size-3 solid @color-secondary-action-outline;
  border-radius: @border-radius-extra-rounded;

  @media @breakpoint-mobile {
    border: @size-2 solid @color-secondary-action-outline;
    border-radius: @border-radius-default;
  }
}

.Container {
  .DefaultModalBorder;

  background: @color-module-background;
  display: flex;
  flex-flow: column nowrap;
  max-height: 90vh;
  max-width: 35rem;
  position: relative;
  width: 100%;

  > main {
    overflow: auto;
    padding: @size-16 @size-24;
  }

  > main > h1 {
    .text-12;

    color: @color-primary-text;
    font-weight: @weight-medium;
    line-height: @size-16;
    margin-bottom: @size-16;
    text-align: left;
    text-transform: uppercase;
  }

  > main > h2 {
    .text-16;

    color: @color-primary-text;
    font-weight: @weight-medium;
    margin: @size-8 0 @size-24;
    word-break: break-word;
  }

  > main > h3 {
    .text-12-bold;

    color: @color-primary-text;
    line-height: @size-16;
    margin: 0 0 @size-14;
  }

  > div:last-of-type {
    display: flex;
    flex-flow: row-reverse nowrap;

    > button,
    > a {
      margin-left: @size-16;
    }
  }
}

.LargeSubheader {
  .text-22-bold;

  color: @color-primary-text;
  justify-content: center;
  display: flex;

  @media @breakpoint-mobile {
    .text-16-bold;
  }
}

.SmallSubheader {
  .text-14;

  color: @color-secondary-text;
  justify-content: center;
  line-height: 150%;
  margin-top: @size-4;
  display: flex;
}

.MediumSubheader {
  .text-16-bold;

  color: @color-primary-text;
}

.DaiGraphic {
  margin: @size-42 0 @size-36;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    display: flex;
    flex-direction: column;
    > span {
      .text-18-bold;

      color: @color-primary-text;
      margin-top: @size-14;
      text-transform: uppercase;
    }
  }

  > div:first-of-type {
    > svg {
      height: @size-64;
      width: @size-64;

      > path {
        fill: @color-secondary-text;
      }
    }
  }

  > div:last-of-type {
    > svg {
      height: @size-64;
      width: 52px;

      > path {
        fill: @color-secondary-text;
      }
    }
  }

  > span {
    .text-28-bold;

    color: @color-primary-text;
    margin: 0 @size-32;
  }
}

.LinkContentSection {
  .text-14;

  margin: @size-8 0 @size-28;
  color: @color-secondary-text;
  line-height: 150%;
  text-align: center;

  > div {
    margin-top: @size-4;

    > a {
      color: @color-primary-action;

      > button {
        .text-12;
      }
    }
  }
}

div.Onboarding {
  .Message;

  align-items: center;
  border: 3px solid @color-secondary-action-outline;
  height: 598px;
  justify-content: center;
  padding: @size-32 @size-28 @size-32;
  width: 568px;

  @media @breakpoint-mobile {
    border: 2px solid @color-secondary-action-outline;
    height: 100%;
    margin: @size-32 @size-8;
    max-width: 100%;
    padding: 0;
    justify-content: space-between;
  }

  > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;

    @media @breakpoint-mobile {
      display: flex;
      flex-direction: column;
      overflow: auto;
      padding: @size-16 @size-22 0 @size-22;

      > div:first-of-type {
        margin: 0 0 1rem 0;
      }
    }

    > main {
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: center;

      @media @breakpoint-mobile {
        margin: 0 @size-16;
      }

      > div {
        text-align: center;
      }

      > div:nth-of-type(1) {
        > svg {
          height: 62px;
          fill: @color-primary-text;
        }
      }

      > div[class*='LargeSubheader'] {
        margin: @size-16 0 0 0;
      }


      > div[class*="LinkContentSection"] {
        margin: @size-12 0 0 0;
        text-align: center;

        > div {
          margin: @size-16 0 0 0;
        }

        button {
          .text-10-semi-bold;

          color: @color-primary-text;
          background: none;
          border: none;

          > svg path:first-of-type {
            fill: @color-primary-text;
          }

          > svg path:last-of-type {
            stroke: @color-primary-text;
          }
        }
      }
    }

    > div.OnboardingNav {
      display: flex;
      align-items: center;
      flex-direction: column;

      @media @breakpoint-mobile {
        display: none;
      }

      > div:first-of-type {
        display: flex;
        flex-direction: row;

        > div:first-of-type {
          display: flex;
          flex-direction: row-reverse;
          padding: 0;

          > button:first-of-type {
            margin-left: @size-16;
          }

          > button:only-of-type {
            margin: 0;
          }
        }

        > button {
          margin-left: @size-16;
        }
      }
    }
  }

  > div.OnboardingMobileNav {
    display: none;

    @media @breakpoint-mobile {
      border-top: 1px solid @color-secondary-action-outline;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-height: 100px;
      width: 100%;
    }

    > div:first-of-type,
    > div:last-of-type {
      height: @size-6;
      width: @size-6;
      margin: 0;

      > svg {
        stroke: @color-secondary-text;
      }
    }

    > div:last-of-type > svg {
      transform: rotate(-180deg);
    }

    > div:nth-of-type(2) {
      align-items: center;
      display: flex;
      flex-direction: column;

      > div:first-of-type {
        display: flex;
        align-items: center;
      }

      div[class*="ButtonsRow"] {
        display: flex;
        flex-direction: row-reverse;
      }
    }

    button[class*="SecondaryButton"] {
      margin: 0 @size-12 0 0;
    }

    div[class*="Stepper"] {
      margin-top: @size-6;
    }
  }

  &.Condensed {
    min-height: 200px;
    width: 445px;
    padding: @size-32 @size-24 @size-12;

    > main {
      > div:nth-of-type(1) {
        .text-18-bold;
      }

      > div:nth-of-type(2) {
        .text-12;

        margin-top: @size-16;
        line-height: 140%;
      }
    }
  }
}


.Stepper {
  align-items: center;
  display: flex;
  height: @size-12;
  margin-top: @size-32;

  > span {
    background: @color-inactive-text;
    border-radius: 50%;
    cursor: pointer;
    height: @size-8;
    margin: @size-4;
    width: @size-8;

    &:hover {
      background: @color-dark-text;
      height: @size-12;
      margin: @size-2;
      width: @size-12;
    }

    &.Current {
      background: @color-primary-text;
    }
  }

  > span:last-of-type {
    &:hover {
      margin-left: @size-2;
    }
  }
}

.TitleHeader {
  align-items: center;
  border-bottom: 1px solid @color-secondary-action-outline;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: @size-24;
  display: grid;
  grid-template-columns: 2fr 1fr;

  &.Bright {
    > h1 {
      color: @color-reporting;
    }
  }

  &.ShortBorder {
    padding: 0 0 @size-24;
    margin: @size-24 @size-24 0;
  }

  @media @breakpoint-mobile {
    padding: @size-8 @size-16 @size-16;
  }

  > h1 {
    .text-12;

    color: @color-primary-text;
    font-weight: @weight-medium;
    line-height: @size-16;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
  }

  > h2 {
    .text-12;

    color: @color-primary-text;
    margin-top: @size-16;
    grid-row: 2;
  }

  > button:first-of-type {
    display: flex;
    justify-content: flex-end;
    > svg {
      height: @size-12;
      width: @size-12;

      > path {
        stroke: @color-primary-text;
      }
    }
  }
}

div.ButtonsRow:last-of-type {
  padding: @size-12 @size-24;

  @media @breakpoint-mobile {
    padding: @size-8 @size-16;
  }
}

.FundsHelp {
  > p {
    .text-12-bold;

    color: @color-primary-text;
    margin: 50px 0 @size-8;
  }

  > div  {
    .text-12;

    color: @color-secondary-text;
    line-height: 140%;

    > span {
      width: @size-16;
      height: @size-16;
      margin: 0 @size-2;

      > span svg {
        height: @size-12;
        transform: translateY(@size-2);
        width: @size-12;
      }
    }

    > button {
      .text-10-bold;

      background: none;
      border: none;
      padding: 0 0 0 @size-2;

      @media @breakpoint-mobile {
        padding: 0;
      }

      > svg {
        height: @size-10;
        width: @size-10;
      }
    }

  }
}

.AddFunds {
  &.hideOnMobile {
    @media @breakpoint-mobile {
      display: none;
    }
  }

  &.hideOnDesktop {
    display: none;

    @media @breakpoint-mobile {
      display: flex;
      margin: @size-48 0;
    }

    @media all and (max-width: 320px) { // iPhone 5
      margin: @size-2;
    }
  }

  .Container;

  flex-direction: row;
  max-width: 800px;
  min-height: @add-funds-height;

  > div {
    flex: 1;
  }

  > div:first-of-type {
    background: @color-module-background;
    padding: @size-32;

    > div:first-of-type {
      > button {
        display: none;
      }
    }

    > div:last-of-type {
      > h1 {
        .text-24-bold;

        color: @color-primary-text;
        margin: 0;
      }

      > h2 {
        .text-14;

        margin: @size-4 0 @size-24;
        color: @color-secondary-text;
      }

      > div:first-of-type {
        min-height: 242px;
      }
    }
  }

  > div:last-of-type {
    background: @color-page-background;
    padding: @size-16 @size-16 @size-32 @size-32;
    flex-direction: column;
    justify-content: space-between;

    @media @breakpoint-mobile {
      justify-content: flex-start;
    }

    > div:first-of-type {
      display: flex;

      > button:first-of-type {
        display: none;
      }
    }

    > div:last-of-type {
      align-items: flex-end;
      display: flex;
      justify-content: flex-end;

      > button {
        .text-12-bold;

        align-items: center;
        border: 1px solid @color-secondary-action-outline;
        border-radius: @border-radius-default;
        color: @color-secondary-text;
        display: flex;
        padding: @size-9 @size-12;

        @media all and (max-width: 320px) { // iPhone 5
          display: none;
        }
      }
    }

    > div:nth-of-type(2) {
      padding-right: @size-16;
      > h1 {
        .text-16-bold;

        color: @color-primary-text;
        margin: 0;
      }

      > h2 {
        .text-12;

        color: @color-secondary-text;
      }

      > h3 {
        .mono-10-bold;

        color: @color-primary-text;
        text-transform: uppercase;
        margin-bottom: @size-8;
      }

      > h4 {
        .text-12;

        @media @breakpoint-mobile {
          .text-14;
        }

        color: @color-dark-text;
        line-height: 140%;
        display: flex;
        margin-top: @size-12;
      }

      > ol {
        margin: 0 0 @size-24;
        padding: 0;
        list-style: none;
        counter-reset: custom-counter;

        > li {
          .text-14;

          line-height: 140%;
          color: @color-secondary-text;
          counter-increment: custom-counter;

          &:not(:first-of-type) {
            margin-top: @size-12;
          }

          > a {
            color: @color-primary-action;
          }

          &::before {
            .text-14-bold;

            color: @color-primary-text;
            content: counter(custom-counter) '. ';
          }
        }
      }
    }

    > div:nth-of-type(3) {
      visibility: hidden;

      @media @breakpoint-mobile {
        visibility: visible;

        > span:first-of-type {
          margin: @size-24 0 @size-8;
        }
      }

      @media all and (max-width: 320px) { // iPhone 5
        visibility: hidden;
      }
    }
  }

  @media @breakpoint-mobile {
    flex: 1;
    padding: 0;
    max-width: unset;
    max-height: unset;

    > div:first-of-type {
      display: flex;
      flex-direction: column;
      padding: @size-24;
      flex: 1;

      > div:first-of-type {
        justify-content: flex-end;
        display: flex;

        > button {
          display: flex;
        }
      }

      > div:nth-of-type(2) {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }

    > div:last-of-type {
      display: none;
      flex-direction: column;
      padding: @size-16 @size-16 @size-24 @size-24;

      > div:first-of-type {
        flex-direction: row;
        margin-bottom: @size-16;

        > button:last-of-type {
          justify-content: flex-end;
        }

        > button:first-of-type,
        > button:last-of-type {
          display: flex;
        }

        > span:first-of-type {
          flex: 1;
          align-items: flex-end;
        }
      }

      > div:nth-of-type(2) {
        flex-direction: column;
      }

      > div:last-of-type {
        display: flex;
      }
    }

    &.ShowSelected {
      > div:first-of-type {
        display: none;
      }

      > div:last-of-type {
        display: flex;
      }
    }
  }
}

.AddFundsToolTip {
  > label {
    display: inline;
  }

  svg > path {
    fill: @color-secondary-text;
  }
}



.AddFundsCoinbase,
.AddFundsCreditDebit {
  > h2 {
    margin: @size-4 0 @size-24 0;

    svg {
      height: @size-12;
      transform: translateY(2px);
      width: @size-12;
    }
  }
}

.AddFundsCreditDebit {
  > button {
    margin-top: @size-8;
  }
}

.AddFundsCoinbase {
  > button {
    .text-10-bold;

    background: none;
    border: none;

    > svg {
      height: @size-10;
      width: @size-10;
    }
  }
}

.AddFundsTransfer {
  > h2 {
    margin: @size-4 0 @size-24;
  }

  > ol svg {
    height: @size-12;
    transform: translateY(2px);
    width: @size-12;
  }

  > button:last-of-type {
    .text-10-bold;

    background: none;
    border: none;

    > svg {
      height: @size-10;
      width: @size-10;
    }
  }
}

.AddFundsError {
  .text-12;

  color: @color-error;
}

.DaiEthSelector {
  display: flex;

  > div {
    .text-16-bold;

    align-items: center;
    background: @color-secondary-action;
    border: 2px solid @color-secondary-action-outline;
    border-radius: @border-radius-rounded;
    cursor: pointer;
    color: @color-primary-text;
    display: flex;
    height: 48px;
    justify-content: center;
    padding: @size-14 @size-12 @size-14 @size-4;
    width: 87px;

    &.selected {
      border: 2px solid @color-primary-action;
    }

    > svg {
      height: @size-28;
      width: @size-28;
      fill: @color-primary-text;
    }
  }

  > div:last-of-type {
    margin-left: @size-12;

    > svg {
      height: @size-21;
      width: @size-21;
    }
  }
}

.CondensedContainer {
  .Container;

  max-width: 20rem;
}

.DescriptionWithLink {
  > p {
    .text-14-paragraph;

    @media @breakpoint-mobile {
      .text-12-paragraph;
    }

    color: @color-primary-text;
    line-height: 150%;
    margin: 0 0 @size-2 0;
  }

  > a {
    color: @color-primary-action
  }
}

.Message {
  .Container;

  > header > h1 {
    .text-16;
    text-transform: capitalize;

    @media @breakpoint-mobile {
      .text-14;
    }
  }

  > main > p {
    .text-14-paragraph;

    @media @breakpoint-mobile {
      .text-12-paragraph;
    }

    color: @color-primary-text;
    line-height: 150%;
    margin: 0 0 @size-16 0;
  }

  > main > ol {
    .text-14;

    color: @color-primary-text;
    line-height: 150%;

    @media @breakpoint-mobile {
      .text-12-paragraph;
    }

    > li > span {
      color: @color-primary-action;
      cursor: pointer;
    }

    > li:first-of-type {
      margin-bottom: @size-16;
    }
  }

  > div:last-of-type {
    padding-bottom: @size-24;
  }

  &.Help {
    > main {
      padding: 0;
      > div {
        position: static;
        border: 0;
        width: 100%;

        > span:first-of-type {
          display: none;
        }

        > span:nth-of-type(2) {
          border-top: 0;
        }
      }
    }
  }
}

.SignIn,
.HardwareWallet,
.Loading {
  .Container;

  background: @color-module-background;
  box-shadow: 0px @size-4 @size-4 rgba(0, 0, 0, 0.25);
  max-width: @login-signup-modal-width;
  padding: 48px 56px;

  @media @breakpoint-mobile {
    padding: @size-24;
    flex: 1;
    max-width: unset;
    max-height: unset;
  }
}

.CloseButton {
  cursor: pointer;
  height: @size-12;
  position: absolute;
  right: 17px;
  top: 17px;
  width: @size-12;

  @media @breakpoint-mobile {
    height: @size-16;
    width: @size-16;
  }

  > svg {
    fill: @color-primary-text;
  }
}

.SignIn {
  @media @breakpoint-mobile {
    margin: @size-48 0;
    margin: @size-48 0;
    padding-top: 57px;
  }

  > div:first-of-type {
    .CloseButton;

    > svg {
      fill: @color-secondary-text;
    }
  }

  > header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: @size-32;

    @media @breakpoint-mobile {
      align-items: end;
      flex-direction: column;
    }

    > div:first-of-type {
      .text-24-bold;

      color: @color-primary-text;

      @media @breakpoint-mobile {
        margin-bottom: @size-4;
      }
    }

    > div:last-of-type {
      .text-12;

      color: @color-secondary-text;
      margin-bottom: @size-5;

      > span {
        color: @color-primary-action;
        cursor: pointer;
      }
    }
  }

  > div:nth-of-type(2) {
    .text-12;

    align-items: center;
    color: @color-secondary-text;
    display: flex;
    justify-content: center;
    margin: @size-32 0;

    &:before,
    &:after {
      content: '';

      border: 1px solid @color-secondary-action-outline;
      width: 100%;
    }

    &:before {
      margin: 0 0 0 @size-21;
    }

    &:after {
      margin: 0 @size-21 0 0;
    }
  }

  > button {
    .text-14-bold;

    margin: 0 0 @size-8 0;
    text-align: left;
  }

  > button:first-of-type {
    margin: 0;
    background: darken(@color-primary-action, 15%);
  }

  > button:first-of-type:hover {
    background: darken(@color-primary-action, 5%);
  }

  > button:last-of-type {
    margin: 0 0 @size-32 0;
  }

  > footer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    > div:first-of-type {
      .text-12;

      color: @color-secondary-text;

      > span {
        color: @color-primary-action;
        cursor: pointer;
      }
    }

    > div:last-of-type {
      .text-12;

      color: @color-secondary-text;
      cursor: pointer;
      text-align: center;
    }
  }
}

.HardwareWallet {
  @media @breakpoint-mobile {
    margin: @size-48 0;
    padding-top: 57px;
  }

  > div:first-of-type {
    .mono-12;

    color: @color-primary-text;
    cursor: pointer;
    position: absolute;
    top: 23px;

    > svg {
      height: @size-7;
      fill: @color-primary-text;
    }
  }

  > div:last-of-type {
    .CloseButton;

    display: block;

    > svg {
      fill: @color-secondary-text;
    }
  }

  > section {
    margin: 0 0 @size-16 0;

    > div:first-of-type {
      .text-24-bold;

      color: @color-primary-text;
      margin-bottom: @size-8;
    }

    > div:last-of-type {
      .text-14;

      color: @color-secondary-text;
      line-height: @size-20;
    }
  }

  > button {
    > a {
      .text-10;

      color: @color-primary-action;
      text-transform: uppercase;
    }

    > svg {
      margin-top: 0;
    }

    path {
      &:nth-child(odd) {
        fill: @color-primary-action;
        stroke: none;
      }

      &:nth-child(even) {
        stroke: @color-primary-action;
      }
    }
  }
}

.Loading {
  .Container;

  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: @login-signup-modal-height;
  min-height: @login-signup-modal-width;

  > svg {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
    height: @size-32;
    width: @size-32;
  }

  > article {
    right: 50px;
  }

  > div {
    .text-14;

    color: @color-secondary-text;
    text-align: center;
    margin-top: @size-28;
  }

  > div:last-of-type {
    flex-direction: column;

    > button {
      margin: @size-8 auto;
      max-width: fit-content;
    }
  }

  > button {
    position: absolute;
    right: @size-12;
    top: @size-12;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CreateMarketMessage {
  .Container;

  max-width: 45rem;
}

.NoScroll {
  > main {
    overflow: visible;
  }
}

.CategorySelection {
  min-height: 44px;
  max-height: 108px;
  padding: 0 @size-16;

  @media @breakpoint-mobile {
    padding: 0 0 @size-8;
  }

  > div {
    align-items: center;
    background: @color-module-background;
    border: 1px solid @color-dark-grey;
    border-radius: @border-radius-default;
    height: 44px;

    > span:first-of-type {
      .text-14;

      color: @color-primary-text;
    }

    > span:last-of-type > svg > g > g > polyline {
      color: @color-primary-text;
    }

    > select,
    > select[class$='selected'] {
      color: @color-primary-text;
    }

    > span[class$='selected']:first-of-type {
      color: @color-primary-text;
    }
  }

  > input {
    margin-top: @size-16;
  }
}

.Examples {
  > h5 {
    .text-16-medium;

    color: @color-primary-text;
    margin-bottom: @size-4;
  }

  > div {
    background: @color-module-background;
    border: 1px solid @color-dark-grey;
    border-radius: @border-radius-default;
    height: 82px;
    margin-top: @size-8;
    padding: @size-20 @size-24;
    width: 100%;

    @media @breakpoint-mobile {
      height: 111px;
      padding: @size-16;
    }

    > h6 {
      .text-14-medium;

      color: @color-primary-text;
      margin-bottom: @size-4;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media @breakpoint-mobile {
        margin-bottom: @size-8;
        overflow-x: unset;
        text-overflow: unset;
        white-space: normal;
      }
    }

    > p {
      .text-14;

      color: @color-secondary-text;
      margin: 0;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media @breakpoint-mobile {
        .text-12;

        overflow-x: unset;
        text-overflow: unset;
        white-space: normal;
      }
    }
  }
}

.bid {
  color: @color-positive;
}

.ask {
  color: @color-negative;
}

.Orders {
  .Message;

  min-width: 842px;

  @media @breakpoint-mobile {
    min-width: 328px;
  }

  > main {
    > .Orders__header {
      align-items: center;
      background: @color-module-background;
      border-top: 1px solid @color-dark-grey;
      display: flex;
      flex-flow: row nowrap;
      height: @size-40;
      justify-content: space-between;
      padding: @size-12 @size-24;

      > span {
        .text-10-medium;

        color: @color-secondary-text;
        flex: 0 0 5.5rem;
        text-transform: uppercase;
      }

      > span:first-of-type {
        flex: 0 1 15.5rem;
      }

      > span:last-of-type {
        flex: 1 0 6.5rem;
      }

      @media @breakpoint-mobile {
        border-bottom: 1px solid @color-dark-grey;
        height: @size-32;
        margin: 0 -@size-16 @size-4;
        padding: @size-10 @size-16;
        grid-template-columns: repeat(4, 1fr);
        display: grid;

        > span {
          .mono-9;

          flex: 0 0 3.75rem;
        }

        > span:first-of-type,
        > span:last-of-type {
          display: none;
        }
      }
    }

    > section {
      border-bottom: 1px solid @color-dark-grey;
      color: @color-primary-text;
      margin-bottom: @size-24;
      max-height: 450px;
      overflow-y: auto;

      > div {
        align-items: center;
        background: @color-module-background;
        border-top: 1px solid @color-dark-grey;
        color: @color-primary-text;
        display: flex;
        flex-flow: row nowrap;
        height: @size-32;
        justify-content: space-between;
        padding: @size-8 @size-24;

        > span:first-of-type {
          .mono-12-bold;

          flex: 0 1 15.5rem;
          text-transform: capitalize;

          > span {
            max-width: fit-content;
            margin-left: auto;
            margin-right: auto;
          }
        }

        > span:nth-of-type(2) {
          .mono-12-bold;

          text-transform: uppercase;
        }

        > span {
          .mono-12;

          flex: 0 0 5.5rem;
        }

        > div {
          align-items: center;
          display: flex;
          flex: 1 0 6.5rem;

          > button:first-of-type {
            margin-left: auto;
            margin-right: 1rem;
          }
        }
      }

      @media @breakpoint-mobile {
        margin: 0 -@size-16 @size-24;

        > div {
          flex-flow: row wrap;
          height: 7.25rem;
          padding: @size-12 @size-16;
          grid-template-columns: repeat(4, 1fr);
          display: grid;

          > span:first-of-type {
            .mono-11;

            flex: 1 100%;
            margin-bottom: @size-8;
            grid-column: 1 / span 5;
          }

          > span {
            .mono-10;

            flex: 0 1 auto;
          }

          > span:nth-of-type(2) {
            .mono-11-bold;
          }

          > div {
            flex: 1 100%;
            margin: @size-24 0;
            grid-column: 3 / span 3;
          }
        }
      }
    }

    > div:first-of-type > div > div {
      background: @color-module-background;
      min-height: unset;
    }

    > div:last-of-type {
      margin-top: 1rem;
    }
  }

  > span:last-of-type {
    display: flex;
    flex-flow: row-reverse;
    padding: 0 @size-24 @size-24;
  }
}

.Subheader {
  display: flex;
  flex-direction: column;

  > span:first-of-type {
    .text-16-medium;

    color: @color-primary-text;
  }

  > ol {
    margin: 0;
    padding-left: @size-14;
  }

  > span:not(:first-of-type),
  > ol > li {
    .text-14;

    color: @color-secondary-text;
    line-height: @size-18;
    margin-top: @size-4;
  }

  &:nth-of-type(1) {
    margin-top: @size-8;
  }

  &:nth-of-type(2) {
    margin-top: @size-24;
    margin-bottom: @size-8;
  }
}

.Content {
  > h5 {
    .text-16-medium;

    color: @color-primary-text;
    line-height: @size-19;
  }

  > p {
    .text-14-paragraph;

    color: @color-secondary-text;
  }
}

.MigrateRep {
  .Message;
  max-width: 614px;

  > main {
    margin: @size-22 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      .text-16-medium;

      color: @color-primary-text;
      margin: 0 0 @size-16 0;
      text-transform: unset;
    }

    > h2 {
      .text-14;

      color: @color-secondary-text;
      line-height: 140%;
      margin: @size-6 0 0;
      padding: 0 @size-50;

      @media @breakpoint-mobile {
        padding: 0;
      }

      > button {
        .text-10;

        background: none;
        border: none;
        margin-left: @size-3;
        text-transform: uppercase;
      }
    }

    > div:first-of-type {
      align-items: center;
      background: @color-secondary-action;
      border-radius: @size-6;
      display: flex;
      flex-direction: column;
      padding: @size-22 0;
      margin: @size-35 0;
      width: 222px;

      > span:first-of-type {
        .text-14;

        color: @color-secondary-text;
        margin-bottom: @size-4;
      }

      > span:nth-of-type(2) {
        .mono-24-bold;

        color: @color-primary-text;
      }
    }

    > div:nth-of-type(2),
    > div:nth-of-type(3) {
      width: 330px;

    }

    > div:nth-of-type(2) {

      > div {
        > span:last-of-type {
          .mono-12;
        }

      }
    }

    > div:last-of-type {
      .text-11;

      color: @color-secondary-text;
      margin-top: @size-21;
      display: flex;
      align-items: center;
      justify-content: center;

      > span {
        .text-11-bold;

        margin: 0 @size-3;
      }

      > svg {
        width: @size-10;
        height: @size-10;
        margin-right: @size-3;

        > path {
          fill: @color-secondary-text;
        }

        > circle {
          stroke: @color-secondary-text;
        }
      }
    }
  }

  > div {
    border-top: 1px solid @color-secondary-action-outline;
  }
}

.MigrateRepInfo {
  .Message;
  max-width: 614px;

  > span {
    margin: 0;
  }

  > main {
    margin: @size-22 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      .text-16-medium;

      color: @color-primary-text;
      margin: 0 0 @size-16 0;
      text-transform: unset;
    }

    > h2 {
      .text-14;

      color: @color-secondary-text;
      line-height: 140%;
      margin-bottom: @size-28;
      padding: 0 @size-50;
      text-align: center;
      @media @breakpoint-mobile {
        padding: 0;
      }

      > button {
        .text-10;

        background: none;
        border: none;
        text-transform: uppercase;
      }
    }

    > h3 {
      margin-bottom: @size-4;
      text-transform: uppercase;
    }

    > span {
      margin-bottom: @size-16;
    }

    > button {
      .text-10;

      background: none;
      border: none;
      text-transform: uppercase;
    }
  }

  > div {
    border-top: 1px solid @color-secondary-action-outline;
  }
}

.WithdrawForm {
  .Message;

  background: @color-module-background;
  border-radius: @border-radius-extra-rounded;
  max-width: 432px;

  @media @breakpoint-mobile {
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
  }

  > header {
    margin: @size-32 @size-32 0;

    @media @breakpoint-mobile {
      margin: @size-24 @size-24 0;
    }

    > div:first-of-type {
      > button {
        position: absolute;
        top: @size-24;
        right: @size-24;
      }
    }

    > div:last-of-type {
      margin-bottom: @size-24;

      > h1 {
        .text-24-bold;

        color: @color-primary-text;
        text-transform: none;
        margin: 0;
      }

      > h2 {
        .text-14;

        color: @color-secondary-text;
        margin-top: @size-4;
      }
    }
  }

  > main {
    padding: 0 @size-32;

    @media @breakpoint-mobile {
      padding: 0 @size-24;
    }

    > div:first-of-type {
      border: 0;
      margin: 0;

      > div > label {
        .mono-11-bold;

        color: @color-primary-text;
        text-transform: uppercase;
      }

      > div > div > div > input {
        background: @color-dark-grey;
        border: 1px solid @color-secondary-action;
      }
    }

    > div:last-of-type {
      margin-bottom: @size-24;
    }
  }

  > div:last-of-type {
    padding: 0;
    margin: @size-24 @size-32 @size-32;

    @media @breakpoint-mobile {
      margin: @size-24;
    }
  }
}

.GroupedForm {
  border-bottom: 1px solid @color-dark-grey;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-bottom: @size-24;

  > div {
    > span {
      .text-10;

      align-content: center;
      color: @color-error;
      display: flex;
      flex-flow: row nowrap;
      margin-top: @size-8;

      > svg {
        fill: none;
        height: @size-12;
        margin-right: @size-8;
        width: @size-12;

        > circle {
          stroke: @color-error;
        }

        > rect,
        > path {
          fill: @color-error;
        }
      }
    }

    > label {
      .mono-10;

      color: @color-inactive-text;
      margin-bottom: @size-8;
      text-transform: capitalize;
    }

    > div:last-of-type {
      margin-bottom: @size-24;
    }

    > button {
      .mono-12;

      color: @color-primary-text;
    }

    > input {
      .text-14;

      background: @color-secondary-action;
      border: 1px solid @color-secondary-action-outline;
      border-radius: @border-radius-default;
      color: @color-primary-text;
      height: @size-40;
      line-height: 1rem;

      &::placeholder {
        color: @color-inactive-text;
      }
    }

    > input[type='number']::-webkit-outer-spin-button,
    > input[type='number']::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    > input[type='number'] {
      appearance: textfield;
    }
  }

  > div:nth-of-type(2) {
    display: flex;
    flex-flow: column;

    > div:first-of-type {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      margin-bottom: @size-8;
    }

    > div {
      > label {
        .mono-11-bold;

        text-transform: uppercase;
        color: @color-primary-text;
        margin-bottom: 0;
      }

      > span {
        .mono-9-bold;

        color: @color-dark-text;
        margin-left: auto;
        text-transform: uppercase;
      }

      > button {
        padding: @size-10 @size-12;
      }

      > button,
      > div > button {
        .text-14;

        line-height: @size-16;
      }
    }
  }

  > div:last-of-type {
    align-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr;

    > button {
      .mono-11-bold;

      height: @size-16;
      margin-left: auto;
    }

    > div {
      grid-column: 1 / span 2;
    }
  }

  > div:first-of-type {
    flex: 1;
  }
}

.Gas {
  .Container;

  max-width: 30rem; // 480px
  @media @breakpoint-mobile-mid {
    max-width: 21.5rem; // 340px
  }

  > main {
    > h2 {
      .text-12;

      color: @color-primary-text;
      margin-top: @size-16;
    }

    > p:first-of-type {
      .text-12;

      color: @color-primary-text;
      margin: 0 0 @size-24;

      @media @breakpoint-mobile-mid {
        margin: 0 0 @size-16;
      }
    }

    > p:last-of-type {
      .text-10;

      color: @color-dark-text;
      margin-top: @size-12;

      @media @breakpoint-mobile-mid {
        margin-top: @size-20;
      }
    }

    > button {
      .button;

      background: transparent;
      border: 1px solid @color-secondary-action-outline;
      color: @color-primary-text;
      max-height: @button-height-default;
      padding: @size-8 @size-12;

      &:disabled {
        background: @color-inactive-text;
      }

      &:hover:enabled {
        background: fade(@color-primary-action, 5%);
      }

      &:focus:enabled {
        background: fade(@color-primary-action, 10%);
      }

      &:active:enabled {
        background: fade(@color-primary-action, 15%);
      }

      .mono-10-bold;

      align-items: center;
      background: @color-secondary-action;
      color: @color-primary-text;
      display: flex;
      text-transform: uppercase;
      margin-left: auto;
      min-height: unset;
      min-width: unset;
      padding: @size-4;

      > span {
        > svg {
          margin-left: @size-4;

          path {
            stroke: @color-secondary-text;
          }
        }
      }
    }

    > div:first-of-type {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: @size-12;

      @media @breakpoint-mobile-mid {
        flex-direction: column;
        margin-bottom: @size-16;
      }

      > div {
        background-color: @color-secondary-action;
        cursor: pointer;
        padding: 4px 8px;
        color: @color-primary-text;
        border-radius: @size-3;
        border: @size-1 solid @color-secondary-action-outline;
        width: 100%;

        > div:first-of-type {
          font-weight: @weight-bold;

          > span:first-of-type {
            color: @color-secondary-text;
            font-family: @Inter;
            font-size: @size-10;
            text-transform: uppercase;
          }

          > span:nth-of-type(2) {
            color: @color-dark-text;
            font-family: @Inter;
            font-size: @size-10;
            font-weight: @weight-normal;
          }
        }

        > div:nth-of-type(2) {
          font-size: @size-10;

          > span:first-of-type {
            color: @color-secondary-text;
            font-family: @Inter;
          }

          > span:nth-of-type(2) {
            color: @color-dark-text;
            font-family: @Inter;
          }
        }
      }

      > div:nth-of-type(2) {
        margin: 0 @size-5;

        @media @breakpoint-mobile-mid {
          margin: @size-8 0;
        }
      }

      div.GasCheckedButton {
        background-color: @color-secondary-action;
        color: @color-primary-text;
        border: @size-1 solid @color-primary-action;

        > div:first-of-type {
          > span:first-of-type {
            color: @color-primary-text;
            font-family: @Inter;
            text-transform: uppercase;
          }
        }
      }
    }

    > div:nth-of-type(2) {
      display: grid;
      grid-template-columns: 4fr 3fr 3fr;
      grid-template-rows: auto;
      grid-gap: @size-16;
      align-items: flex-end;
      justify-content: space-between;
      background-color: @color-table-header;
      border-radius: @size-3;
      padding: @size-12;
      margin-top: @size-12;

      > div {
        width: 100%;
      }

      > div:first-of-type {
        label {
          .mono-9-bold;

          color: @color-secondary-text;
          text-transform: uppercase;
        }

        input[type='number'] {
          .mono-11;

          border: @size-1 solid @color-secondary-action-outline;
          color: @color-primary-text;
          padding: @size-6 @size-16;
          -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }

      > div:nth-of-type(2) {
        margin: 0 @size-5;
        border-right: @size-1 solid @color-secondary-action-outline;
        padding-left: @size-12;

        > div {
          > span:first-of-type {
            .mono-10-bold;

            color: @color-primary-text;
          }

          > span:last-of-type {
            .text-10-bold;

            color: @color-dark-text;
          }
        }

        > span {
          .text-10;

          color: @color-dark-text;
        }
      }

      > div:nth-of-type(3) {
        .text-14-bold;

        color: @color-primary-text;
        padding: 0 0 @size-10 @size-5;
      }

      @media @breakpoint-mobile-mid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        background-color: transparent;
        padding: 0;

        > div:first-of-type {
          grid-row: 1;
          grid-column: 1 / span 2;

          input[type='number'] {
            .mono-14;

            padding: @size-13 @size-16;
          }
        }

        > div:nth-of-type(2) {
          grid-row: 2;
          grid-column: 1;
          padding-left: @size-30;
        }

        > div:nth-of-type(3) {
          grid-row: 2;
          grid-column: 2;
        }
      }
    }

    > div:nth-of-type(3) {
      margin-top: @size-12;
    }
  }
}

.Proceeds {
  .Container;

  background-color: @color-module-background;
  max-height: 80vh;
  max-width: 842px;

  > main {
    border-bottom: @size-1 solid @color-secondary-action-outline;

    > section {
      background-color: @color-active-background;
    }

    > section:not(:first-of-type) {
      margin-top: 0;
    }

    > section:first-of-type {
      margin-top: @size-22;
    }

    > section:last-of-type {
      margin-bottom: @size-26;
    }
  }

  > div:first-of-type:not(:last-of-type) {
    margin-top: @size-24;
  }

  @media @breakpoint-mobile {
    > main {
      > h1,
      > div:first-of-type,
      > button {
        padding: 0 0.5rem;
      }

      > section:first-of-type {
        margin-top: @size-16;
      }

      > section:last-of-type {
        margin-bottom: @size-18;
      }
    }

    > div:first-of-type:not(:last-of-type) {
      margin-top: @size-16;
    }
  }

  > span:last-of-type {
    display: flex;
    flex-flow: row-reverse;
    padding: 0 @size-24 @size-24;
  }
}

.DescriptionMessage {
  .text-12;

  color: @color-primary-text;
  line-height: 20px;
  margin: 0;
}

.TransactionsTable {
  align-items: center;
  border: 1px solid @color-dark-grey;
  display: grid;
  grid-template-columns:
    200px minmax(320px, 2fr) minmax(125px, 1fr) minmax(125px, 150px)
    repeat(2, 100px) 50px repeat(2, 100px) 100px;
  grid-template-rows: auto;
}

.NullTransactionsRow {
  grid-column: span 10;
  text-align: center;
}

@supports (-moz-appearance:none) {
  .Transactions {
    > div:first-of-type {
      // firefox doesn't support overlay. need auto
      overflow-y: auto;
    }
  }
}

.Transactions {
  .Container;

  max-width: 95vw;
  min-height: 500px;
  overflow: hidden;
  padding: 0 @size-20 @size-20;

  > header {
    border-bottom: 1px solid @color-secondary-action-outline;
    margin: 0 -@size-24 @size-24;

    @media @breakpoint-mobile {
      margin: 0 -@size-16 @size-16;
    }
  }

  @media @breakpoint-mobile {
    margin: 0;
    padding: @size-16;
  }

  > section:first-of-type {
    display: grid;
    grid-gap: @size-4;
    grid-template-columns: repeat(4, 135px) 130px 1fr;
    grid-template-rows: @size-14 @size-32;

    @media @breakpoint-mobile {
      grid-gap: @size-8 @size-4;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: @size-32 @size-24 @size-32 @size-24 @size-32 @size-32;
      height: auto;
      margin-bottom: @size-8;

      > span:first-of-type {
        order: 2;
      }

      > span:nth-of-type(2) {
        order: 3;
      }

      > span:nth-of-type(3) {
        order: 6;
      }

      > div[role='button'] {
        > div {
          left: 0;
          max-height: 40vh;
          overflow: auto;
          right: 0;

          > button {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      > div[class*='FormDropdown'] > div[class*='Normal'] {
        min-width: 100%;
        max-width: 100%;
      }

      > div:nth-of-type(2) {
        order: 4;
      }

      > div:nth-of-type(3) {
        order: 5;
      }

      > div:nth-of-type(4) {
        order: 8;
      }

      > div:nth-of-type(5) {
        order: 9;
      }

      > div:last-of-type {
        display: flex;
        flex-flow: row nowrap;
        order: 11;

        > button {
          padding: @size-8 @size-16;
        }

        > button:last-of-type {
          margin-left: @size-4;
        }
      }

      > button {
        grid-column: span 2;
        order: 1;
        width: 100%;
      }
    }

    > span {
      .mono-10-bold;

      color: @color-inactive-text;
      text-transform: uppercase;

      @media @breakpoint-mobile {
        margin-top: auto;
      }
    }

    > span:last-of-type {
      grid-column: span 3;

      @media @breakpoint-mobile {
        grid-column: span 1;
        order: 7;
      }
    }

    > div[class*='FormDropdown'] {
      > div {
        border: 1px solid @color-secondary-action-outline;
        max-height: @size-32;
        min-height: @size-32;
        min-width: 0;
        width: 100%;

        @media @breakpoint-mobile {
          max-height: none;
          max-width: none;
          min-height: 100%;
          min-width: 100%;
        }

        > button {
          > span {
            .text-14;

            padding: @size-3 0;
            text-align: left;
          }

          > svg {
            height: @size-6;
            width: @size-10;

            > path {
              fill: @color-secondary-text;
              stroke: @color-secondary-text;
            }
          }
        }
      }
    }

    > div[class*='DatePicker'] {
      :global {
        .DateInput_input_1,
        .DateInput_input__focused,
        .DateInput_input__focused_2 {
          min-height: @size-32;
          max-height: @size-32;
          min-width: 0;

          @media @breakpoint-mobile {
            min-width: 0;
          }
        }

        .SingleDatePickerInput_calendarIcon,.SingleDatePickerInput_calendarIcon_1 {
          padding: 0;
          margin-top: @size-6;
          margin-bottom: @size-3;
        }
      }
    }

    > div:first-of-type {
      display: none;

      @media @breakpoint-mobile {
        display: flex;
        order: 10;
      }
    }

    > div[role='button'] {
      height: @size-40;
      max-width: 100%;

      > div > button,
      > button {
        .text-12;
      }
    }

    > div:last-of-type {
      > button:last-of-type {
        margin-left: @size-3;
      }
    }

    > button:last-of-type {
      margin-left: auto;
    }
  }

  > section:nth-of-type(2) {
    width: fit-content;
    margin-top: @size-12;

    @media @breakpoint-mobile {
      margin-bottom: @size-12;
    }
  }

  > div:first-of-type {
    max-height: 650px;
    overflow: overlay;
  }

  > div:first-of-type > div:first-of-type {
    .TransactionsTable;
    .text-12;

    background: @color-table-header;
    border-bottom: 0;
    color: @color-secondary-text;
    margin: @size-24 0 0;
    min-height: @size-32;
    text-transform: uppercase;
    min-width: fit-content;

    @media @breakpoint-mobile {
      margin: 0;
    }

    > span {
      padding: 0 @size-12;
    }

    > span:first-of-type {
      padding-left: @size-24;
    }

    > span:nth-of-type(5),
    > span:nth-of-type(6),
    > span:nth-of-type(8),
    > span:nth-of-type(9) {
      text-align: right;

      > button {
        width: 100%;
      }
    }

    > span:last-of-type {
      padding-right: @size-24;
    }
  }

  > div:first-of-type > section:last-of-type {
    .TransactionsTable;

    border-top: 0;
    color: @color-primary-text;
    margin-bottom: @size-32;
    min-width: fit-content;

    @media @breakpoint-mobile {
      max-height: 600px;
      margin-bottom: @size-16;
    }

    > span {
      .mono-11;

      border-top: 1px solid @color-dark-grey;
      height: @size-32;
      line-height: @size-13;
      overflow: hidden;
      padding: @size-10 @size-12;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > span:nth-of-type(9n + 1) {
      .mono-12;

      line-height: @size-15;
      padding: @size-8 @size-12 @size-8 @size-24;
    }

    > span:nth-of-type(9n + 2),
    > span:nth-of-type(9n + 3) {
      .text-11;
    }

    > span:nth-of-type(9n + 4) {
      .mono-11-bold;

      text-transform: capitalize;
    }

    > span:nth-of-type(9n + 5),
    > span:nth-of-type(9n + 6),
    > span:nth-of-type(9n + 8),
    > span:nth-of-type(9n + 9) {
      text-align: right;
    }

    > div:nth-of-type(1n) {
      background: none;
      border: 0;
      border-radius: 0;
      border-top: 1px solid @color-dark-grey;
      display: flex;
      height: @size-32;
      justify-content: flex-end;
      padding: @size-12 @size-24 @size-10 0;

      &:hover {
        color: @color-primary-text;
      }
    }
  }

  > div:last-of-type {
    align-items: center;
    display: grid;
    grid-gap: @size-16;
    grid-template-columns: 130px 1fr 130px;
    grid-template-rows: @size-24;
    margin: auto 0 0;

    > div:first-of-type {
      grid-column: 2 / span 1;
      margin: 0 auto;

      @media @breakpoint-mobile {
        grid-column: 1 / span 3;
        margin: 0;
        width: 100%;
      }

      > section > button {
        height: @size-24;
        width: @size-24;
        padding: 0;
      }
    }

    > div:last-of-type {
      @media @breakpoint-mobile {
        display: none;
      }

      > div {
        border: 1px solid @color-secondary-action-outline;
        min-height: @size-24;
        max-height: @size-24;
        min-width: 0;

        > button {
          > span {
            .mono-9;

            padding: @size-3 0;
            text-align: left;
          }

          > svg {
            height: @size-6;
            width: @size-10;

            > path {
              fill: @color-secondary-text;
              stroke: @color-secondary-text;
            }
          }
        }
      }
    }
  }
}

.AlertMessage {
  .text-12;

  color: @color-resolved;
  margin: 0 0 @size-8;
}

.Breakdown {
  > h4 {
    .mono-10;

    color: @color-primary-text;
    margin-top: @size-24;
    margin-bottom: @size-24;
    text-transform: uppercase;
  }
}

.ShortBreakdown {
  .Breakdown;

  margin-left: auto;
  max-width: 15rem;

  @media @breakpoint-mobile {
    margin-left: 0;
    max-width: 100%;
  }
}

.ReverseBreakdown {
  .Breakdown;

  margin-right: auto;
  max-width: 15rem;
}

.ReadableAddress {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1rem;

  > h4 {
    .mono-10;

    color: @color-inactive-text;
    line-height: @size-14;
    margin-bottom: @size-14;
    text-transform: uppercase;
  }

  > canvas {
    border: @size-4 solid @color-primary-text;
  }
}

.AccountAddressDisplay {
  .mono-12;

  align-items: center;
  background: @color-page-background;
  border: 1px solid @color-secondary-action-outline;
  color: @color-secondary-text;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: @size-14;
  margin: @size-8 0;
  padding: @size-12 @size-9;
  padding-right: 0;
  width: fit-content;
  position: relative;

  > div {
    font-size: @size-12;
    margin-right: @size-12;
    max-width: 153px;
    word-break: break-all;
  }

  > button {
    align-items: center;
    color: @color-inactive-text;
    display: flex;
    font-size: @size-12;
    margin-left: @size-8;
    margin-right: @size-12;
    padding: @size-6;
    text-transform: uppercase;
    color: @color-primary-text;
    background: @color-secondary-action;
    border: 1px solid @color-secondary-action-outline;
    border-radius: @border-radius-default;

    @media @breakpoint-mobile {
      margin-left: @size-4;
      padding: @size-6;
    }
  }

  > button:hover {
    background: lighten(@color-secondary-action, 5%);
  }
}

.ShowConfirmaiton:after {
  content: '';

  border-top: solid @size-12 @color-primary-text;
  border-left: solid @size-12 transparent;
  border-right: solid @size-12 transparent;
  position: absolute;
  right: @size-21;
  top: -6px;
}

.ShowConfirmaiton:before {
  .text-10;
  content: 'Copied!';
  color: @color-inactive-text;
  position: absolute;
  bottom: 100%;
  background: @color-primary-text;
  padding: @size-8 @size-12;
  border-radius: @border-radius-default;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  text-transform: capitalize;
}

.ActionRow {
  align-items: center;
  background: @color-module-background;
  border-bottom: 1px solid @color-dark-grey;
  display: flex;
  flex-flow: column nowrap;
  padding: @size-16;

  &:not(:first-of-type) {
    margin-top: 0.25rem;
  }

  > section {
    align-content: center;
    display: flex;
    flex: 1 100%;
    flex-flow: row nowrap;
    justify-content: stretch;
    margin-bottom: @size-16;
    width: 100%;

    > div:first-of-type {
      align-items: center;
      flex: 0 0 auto;
      flex-flow: row nowrap;
      margin-left: 50px;
      max-width: 250px;

      > span {
        display: flex;
        margin-bottom: 0.25rem;
      }
    }

    > h2 {
      .text-12;

      color: @color-primary-text;
      flex: 1 auto;
      font-weight: @weight-medium;
      line-height: 15px;
      word-break: break-word;
    }

    @media @breakpoint-mobile {
      flex-direction: column;

      > h2 {
        margin-bottom: 1rem;
        word-break: break-word;
      }

      > div:first-of-type {
        margin-left: 0;
        max-width: unset;
      }
    }
  }

  > button {
    margin-left: auto;
  }

  > div {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    width: 100%;

    > span {
      margin-right: 0.75rem;
    }
  }

  > div[class*="DismissableNotice"] {
    justify-content: flex-start;
    margin-top: @size-16;
  }
}

.SelectableTable {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;

  > button {
    border: 1px solid @color-dark-grey;
    border-top: 0;
    color: @color-primary-text;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    width: 100%;

    > span {
      .mono-10;

      border-right: 1px solid @color-dark-grey;
      flex: 1;
      padding: @size-4 @size-8;
      text-align: left;
      white-space: nowrap;

      &:last-of-type {
        border-right: 0;
      }
    }

    &:hover {
      color: @color-inactive-text;
      cursor: pointer;
    }

    &:first-of-type {
      border-top: 1px solid @color-dark-grey;

      &:hover {
        color: @color-primary-text;
        cursor: auto;
      }
    }
  }
}

.DepositInfo {
  border-top: 1px solid @color-dark-grey;
  color: @color-primary-text;

  > h3 {
    .text-12-bold;

    margin: @size-24 0 @size-12;
  }

  > ul {
    .text-12;

    color: @color-primary-text;
    list-style-type: decimal;
    margin-left: @size-12;

    > li {
      margin: @size-4 0;
    }
  }
}

.ModalMarketReview {
  background-color: @color-module-background;
  margin: 0 0 @size-24;
  padding: @size-32 0 0;

  > div {
    .text-12;

    color: @color-primary-text;
    line-height: normal;
    margin: 0 0 @size-16;
    word-break: break-all;

    > div > button {
      .text-12;

      color: @color-primary-action;
      cursor: pointer;
    }

    > p {
      .mono-10;

      color: @color-inactive-text;
      margin: @size-4 0;
      text-transform: uppercase;
    }
  }

  > div:last-of-type {
    margin: 0;
  }
}

.CheckboxCTA {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  > label {
    .text-14-bold;

    align-items: center;
    color: @color-primary-text;
    display: flex;
    font-weight: 500;
    text-transform: none;
    user-select: none;

    > div {
      margin-right: 2.5rem;
    }
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.ModalMigrateMarket {
  .Message;

  max-width: 750px;

  > main {
    display: flex;
    flex-direction: column;
    padding: 0;

    > div:first-of-type {
      border-bottom: 1px solid @color-dark-grey;
      display: flex;
      flex-direction: column;
      padding: @size-24;

      > p {
        .text-12;

        color: @color-secondary-text;
        margin: 0 0 @size-32;
        padding: 0;
      }

      > h2 {
        .text-12-bold;

        color: @color-primary-text;
        margin: 0 @size-16 @size-24;
      }

      > div:first-of-type {
        margin: @size-8 0 @size-10;
      }
    }
  }

  @media @breakpoint-mobile-mid {
    > main {
      > div:first-of-type {
        padding: 0 @size-16;
      }

      > div:nth-of-type(2) {
        padding: @size-16;
      }

      > div:last-of-type {
        padding: @size-16;
      }
    }
  }
}

.ModalUniverseSelector {
  .Container;

  max-width: 50rem;

  > div:first-of-type {
    align-items: flex-start;
    display: flex;
    padding: @size-24;

    > h1 {
      color: @color-primary-text;
      margin-bottom: 0;
    }
  }

  > p {
    .text-12;

    color: @color-secondary-text;
    padding: 0 @size-24;
  }

  > main {
    align-items: flex-start;
    display: flex;

    > div:first-of-type {
      flex: 1;
    }

    > div:nth-of-type(2) {
      flex: 1;
      padding-left: @size-24;
    }
  }

  @media @breakpoint-mobile-small {
    > main {
      display: block;
    }
  }
}

.ModalReporting {
  .Message;

  max-width: 750px;

  > main {
    display: flex;
    flex-direction: column;
    padding: @size-16 0 0;

    > section {
      margin: 0 @size-16;
    }

    > div:first-of-type,
    > div[class*="ExplainerBlock"],
    > section[class*="MigrateRepInfo"] {
      margin: @size-8 @size-16 @size-24;
      padding: @size-24;
      border: none;
      background-color: @color-table-header;
    }

    > section[class*="MigrateRepInfo"] {
      margin-bottom: @size-8;
    }

    > div:nth-of-type(2) {
      border-bottom: 1px solid @color-dark-grey;
      border-top: 1px solid @color-dark-grey;
      display: flex;
      flex-direction: column;
      padding: @size-24 @size-40 0;

      > section {
        max-height: @size-16;
        height: @size-16;
        display: flex;
        flex-flow: row nowrap;

        > label {
          margin-bottom: 0;
          margin-left: @size-8;
        }

        > span {
          display: flex;
          align-items: center;
          height: @size-16;
        }
      }

      > span > a > span {
        &:hover {
          text-decoration: underline;
        }
      }

      .Details {
        .text-12;

        color: @color-secondary-text;

        > h2 {
          .text-10;
        }
      }

      > span:nth-of-type(1) {
        .text-24-bold;

        color: @color-primary-text;
        margin-top: @size-14;
        margin-bottom: @size-16;
        word-break: break-word;
      }

      > div:first-of-type > div:first-of-type >
      div:first-of-type {
        margin: 0.75rem 0;
      }
      @media @breakpoint-mobile {
        div:nth-of-type(2) {
          padding: 0.75rem 0;
        }
      }
    }

    > div:nth-of-type(3) {
      border-bottom: 1px solid @color-dark-grey;
      display: flex;
      padding: @size-16 @size-40;

      > button {
        margin-left: @size-38;
      }
    }

    > div:last-of-type {
      padding: @size-32 @size-40;
    }

    > div[class*="DismissableNotice"] {
      margin: @size-10 @size-32 0;
      width: unset;
      padding-left: @size-16;
    }
  }

  @media @breakpoint-mobile {
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
  }

  @media @breakpoint-mobile-mid {

    > main {
      > div:nth-of-type(2) {
        padding: 0 @size-16;
        min-height: min-content;
      }

      > div:nth-of-type(3) {
        padding: @size-16;
      }

      > div:last-of-type {
        min-height: min-content;
        padding: @size-16;
      }
    }
  }
}

.ModalOrbitChat {
  background: @color-dark-grey;
  bottom: @size-4;
  position: fixed;
  right: @size-22;
  z-index: @mask-modal;

  // Closed global chat window
  > button {
    .mono-9-bold;

    align-items: center;
    background: @color-module-background;
    color: @color-primary-text;
    display: flex;
    flex-direction: row-reverse;
    text-transform: uppercase;

    > svg {
      fill: @color-primary-text;
      height: @size-12;
      margin-left: @size-8;
      transform: rotate(180deg);
      width: @size-12;
    }
  }

  // Open global chat window
  > div {
    background-color: @color-module-background;
    border: 1px solid @color-dark-grey;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;

    // Header section
    > div:first-of-type {
      align-items: center;
      background-color: @color-dark-grey;
      border-bottom: 1px solid @color-dark-grey;
      display: flex;
      flex-direction: row;
      padding: @size-14 @size-16;

      > span {
        color: @color-primary-text;
        text-transform: uppercase;
      }

      > span:first-of-type {
        .mono-12-bold;
      }

      > span:nth-of-type(2) {
        .mono-9;

        background: fade(@color-open, 15%);
        border-radius: 0.1875rem;
        color: @color-open;
        padding: 0 1px;
      }

      > button {
        margin: 2px 2px 0 auto;

        > svg {
          height: @size-12;
          fill: @color-primary-text;
          margin: 0;
          width: @size-12;
        }
      }
    }

    iframe {
      border: 0;
      height: calc(100% - 48px);
      width: 100%;
    }
  }
}

.ModalThreeBoxChat {
  background: @color-dark-grey;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: @mask-modal;

  > div {
    background-color: @color-module-background;
    border-top: 1px solid @color-dark-grey;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    > button {
      position: absolute;
      top: calc(50% + 25px);
      left: 50%;
      transform: translate(-50%, -50%);
    }

    > div:first-of-type {
      align-items: center;
      background-color: @color-dark-grey;
      border-bottom: 1px solid @color-dark-grey;
      display: flex;
      flex-direction: row;
      padding: @size-14 @size-16;

      > span {
        color: @color-primary-text;
        text-transform: uppercase;
      }

      > span:first-of-type {
        .mono-12-bold;
      }

      > span:nth-of-type(2) {
        .mono-9;

        background: fade(@color-open, 15%);
        border-radius: 0.1875rem;
        color: @color-open;
        padding: 0 1px;
      }

      > button {
        margin: 2px 2px 0 auto;

        > svg {
          height: @size-12;
          fill: @color-primary-text;
          margin: 0;
          width: @size-12;
        }
      }
    }

    > span {
      display: flex;
      height: calc(100% - 49px);
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }

  div[class*='sc-launcher'],
  div[class*='sc-chat-window'],
  div[class*='sc-header'],
  form[class*='sc-user-input'] > textarea,
  div[class*='sc-popup-window--cointainer'],
  input[class*='sc-popup-window--search'],
  form[class*='sc-user-input active'] {
    background-color: @color-dark-grey;
  }

  div[class*='sc-message-list'],
  div[class*='onlineList'],
  div[class*='closeOnlineList'] {
    background-color: @color-active-background;
  }

  div[class*='onlineList'],
  input[class*='sc-popup-window--search'],
  form[class*='sc-user-input active'],
  input[class*='sc-popup-window--search'],
  form[class*='sc-user-input'] > textarea {
    color: @color-primary-text;
  }

  button[class*='sc-user-input--emoji-icon-wrapper'] path,
  button[class*='sc-user-input--emoji-icon-wrapper'] circle {
    fill: @color-primary-text;
  }

  button[class*='sc-user-input--send-icon-wrapper'] {
    margin: 0;
  }

  div[class*='chat'] {
    height: 100%;
    min-height: unset;
  }

  div[class*='sc-launcher'] {
    bottom: @size-10;
  }

  div[class*='popupChat'] > div {
    bottom: @size-10;
  }

  div[class*='sc-chat-window'] {
    border-top: @size-1 solid @color-secondary-action-outline;
    border-radius: @size-3;
    height: calc(100% - 49px);
    overflow: hidden;
    width: 100%;
  }

  form[class*='sc-user-input active'] > textarea {
    &:focus {
      border: none;
    }
  }

  div[class*='sc-user-input--button'] {
    justify-content: center;
  }

  div[class*='sc-header--close-button'] svg {
    padding: @size-4;
  }

  div[class*='sc-header--close-button'] path {
    stroke: @color-primary-text;
  }

  input[class*='sc-popup-window--search'] {
    width: 232px;

    &:focus {
      border: none;
    }
  }

  img[class*='input_user'] {
    padding: @size-7;
  }

  div[class*='sc-message--text'] {
    .text-12;

    background-color: @color-dark-grey !important;
    color: @color-primary-text !important;
  }

  div[class*='sc-header--team-name'] {
    padding: 0 @size-8;
  }

  div[class*='onlineList_members'] {
    overflow: auto;
  }

  div[class*='sc-header'] {
    padding: 0 @size-10;
    min-height: unset;
  }

  h3[class*='sc-header--team-name_text'] {
    .text-16-bold;
  }

  div[class*="sc-popup-window--cointainer"] {
    width: 282px;
    bottom: @size-16;
    right: -@size-18;

    &:after {
      background-color: @color-dark-grey;
      right: @size-12;
    }
  }
}

.Scalar {
  .Message;

  > header {
    border-bottom: 0;
  }

  > main {
    .text-14;
    border-top: 1px solid @color-secondary-action-outline;
    border-bottom: 1px solid @color-secondary-action-outline;
    color: @color-primary-text;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: @size-16 0;

    > h4 {
      .text-14-medium;
    }

    > ul {
      padding-left: @size-24;
      list-style: disc;
      > li {
        margin: @size-8 0;

        > button {
          background: none;
          border: 0;
        }
      }
    }
  }

  > div:last-of-type {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    padding: @size-16 @size-24;

    > label {
      color: @color-secondary-text;
      display: flex;
      flex-flow: row nowrap;
      flex: 1;
      margin-bottom: 0;

      > div {
        margin-right: @size-24;
      }
    }
  }
}

.AddFundsSwap {
  margin: @size-24 0 @size-16 0;

  > ul {
    height: @size-32;
    > li {
      background: @color-dark-grey;
      width: 100%;

      >  button {
        .text-12;

        color: @color-primary-text;
        cursor: default;
        text-transform: capitalize;
      }
    }
  }

  > ul > li[class*='Selected'] {
    background: @color-secondary-action;
  }

  > ul > li:first-of-type {
    border-bottom-left-radius: @size-24;
    border-top-left-radius: @size-24;
  }
  > ul > li:last-of-type {
    border-bottom-right-radius: @size-24;
    border-top-right-radius: @size-24;
  }
}

.AccountStatusTracker {
  display: flex;
  flex-direction: column;
  width: 346px;
  align-items: center;

  > div:first-of-type {
    display: flex;
    flex-direction: row;
    margin: 0 0 @size-4 0;

    div.AccountStep {
      display: inline-block;
      border: @size-2 solid @color-secondary-text;
      border-radius: 50%;
      width: @size-26;
      height: @size-26;
    }

    div.AccountStepCompleted {
      > svg {
        width: @size-14;
        height: @size-14;
        transform: translate(@size-4, @size-3);
      }
    }

    div.line {
      border-top: @size-2 solid @color-secondary-text;
      display: inline-block;
      margin: auto;
      width: 106px;
    }
  }

  > div:last-of-type {
    display: flex;
    text-align: center;

    width: 100%;

    > div {
      .text-10-semi-bold;

      color: @color-secondary-text;
      flex: 2;
    }

    > div:first-of-type,
    > div:last-of-type {
      flex: 1;
    }
  }
}

.TransferMyDai {
  align-items: center;
  display: flex;
  border: @size-2 solid @color-secondary-action-outline;
  border-radius: @size-3;
  justify-content: space-between;
  margin: @size-16 0 @size-24 0;
  padding: @size-12 @size-16;
  width: 100%;

  @media @breakpoint-mobile {
    flex-direction: column;
    text-align: center;

  }

  > div:first-of-type {
    display: flex;
    flex-direction: column;
    text-align: left;

    > span:first-of-type {
      .text-14-bold;

      color: @color-primary-text;
    }

    > span:last-of-type {
      .text-14;

      color: @color-secondary-text;
    }

    @media @breakpoint-mobile {
      > span {
        margin: 0 0 @size-6 0;
      }
    }
  }
}

.TransferMyDaiCondensed {
  align-items: center;
  background: @color-module-background;
  display: flex;
  justify-content: space-between;
  padding: @size-16;

  > div:first-of-type {
    display: flex;
    flex-direction: column;

    > span:first-of-type {
      .text-12-bold;

      color: @color-primary-text;
    }

    > span:last-of-type {
      .text-12;

      color: @color-secondary-text;
    }
  }
}
