{
	"env": {
		"test": {
			"presets": ["es2015", "stage-0", "react"]
		}
	},
	"presets": [["es2015", {"modules": false}], "stage-0", "react"],
	"plugins": [
		"react-hot-loader/babel",
		["module-resolver", {
			"root": ["./src", "./test"],
			"alias": {
				"src": "./src",
				"test": "./test",
				"modules": "modules",
				"utils": "utils",
				"services": "services"
			},
			"extensions": [".js", ".jsx"]
		}]
	],
	"compact": false
}
