.git
node_modules
build
webpack.config.js
config/*
server.js
postcss.config.js
scripts/*
test/*
src/version.js

# TODO fix issues with below files
src/modules/common-elements/labels.tsx
src/modules/portfolio/components/common/quads/filter-box.tsx