{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "eqeqeq": [2, "allow-null"],
    "no-eq-null": 0,
    "no-console": 0,
    "indent": [2, "tab"],
    "consistent-return": 0,
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "no-param-reassign": ["error", { "props": false }],
    "global-require": 0,
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "max-len": 0,
    "no-shadow": 0,
    "padded-blocks": 0,
    "prefer-template": 0,
    "space-infix-ops": 0,
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }]
  }
}
