node_modules
*.log

coverage/
build/
definitions/
augur.db
augur.zip
tags

junit.xml

*.swp
.DS_Store
.idea/

.#*

.indium.json
.projectile
*.tsbuildinfo
tsconfig.tsbuildinfo
tsconfig-local.json

package-lock.json
temp*.file
data/
*.sqlite

venv/
