
dist: trusty
sudo: required
language: node_js
services:
  - docker
branches:
  only:
    - master
    - stable
    - petong/travis-ci
    - "/^v\\d+\\.\\d+\\.\\d+(-\\d+)?$/"
node_js:
  - '9'
  - '8'
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
      - build-essential
      - libusb-1.0-0-dev
script:
  - yarn lint; yarn test;
  - NODE_ENV='test' node ./node_modules/nyc/bin/nyc.js ./node_modules/mocha/bin/_mocha --timeout 10000 --require babel-register && node ./node_modules/nyc/bin/nyc.js report --require babel-register --reporter=lcov && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
  - yarn build --dev
jobs:
  include:
  - stage: Deploy to stable
    if: branch = stable
    node_js: '8'
    script: skip
    deploy:
      provider: script
      script: docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"; npm run docker:release -- stable
      skip_cleanup: true
      on:
        all_branches: true
  - stage: Deploy to dev
    if: branch = master
    script: skip
    deploy:
      provider: script
      script: docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"; npm run docker:release -- dev
      skip_cleanup: true
      on:
        all_branches: true
env:
  global:
    - DOCKER_USERNAME=augurintegration
    - secure: "MO4JALU+CPvNHPPCUoBcOCdlK/Kuh2j/Po5a0goP/+mUX+KHDd9HlsNVT/aI4GQQcQ5Qal3tcw0Jwi7THPSq4uGqDi4s5i6luPkt8s+xdX3GSotpYCWGm0chLLbD+J1NW3H8T0aiSkXQIHy5PYEJVqpsL1RceRFWp2xcgN8GOlg="
    - secure: "DMLAQUAoS94gaJZIdcJWUk3aTP2ZAyiArCqU0OtJeOiTQHh9DPMZ5oywjJtj7kucwBu1uY4GzlPyokgtngWCEAGxpkc3J4Jfd7/mAbx59bHbEZURTOu4onJ7BzNS/V1mdZomVAJezlYBgImaHVfCflwz3g7wk7NPZnmxtlJlUKM="
    - secure: "VxySk4B7HqpbSwBNEb8qBbD7j9W2nRGo8hT0mFdK7uZmiqp404OAb+HUoR9ctPzRCQBsZTQIYxUOk5Dht0vavVW1WcTl9MXw5EjABJRb1K0zOWRhR/BFrNScjrw/mHrmwaLy0Ft2rzCwVJAAge4aPf/G/4mkC1yNdVhHU8uQXFg="
