variables:
  AWS_ACCESS_KEY_ID: $(AWS_KEY_ID)
  AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_KEY)

trigger:
- master


jobs:
  - job: test_ui
    pool:
      vmImage: 'Ubuntu-16.04'
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 10.15
      - script: yarn
      - script: yarn lint && yarn test
          # This is here to confirm the build works.
          # Nothing is done with the resulting artifacts.
      - script: yarn build --dev
        displayName: 'lint and test'
      - task: PublishTestResults@2
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: 'junit.xml'

  - job: deploy_ui_on_master
    dependsOn:
      - test_ui
    strategy:
      maxParallel: 10
      matrix:
        dev:
          COMMAND: run docker:release -- dev
        sneakpeak:
          COMMAND: run docker:release -- sneakpeak
        kovan:
          COMMAND: run docker:release -- kovan
        dev-optimized:
          COMMAND: run docker:release -- dev-optimized
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.6.5'
      - task: NodeTool@0
        inputs:
          versionSpec: 10.15
      - task: Docker@1
        displayName: docker login
        inputs:
          command: login
          containerRegistryType: Container Registry
          dockerRegistryEndpoint: dockerhub-augurproject
      - task: Npm@1
        inputs:
          command: custom
          customCommand: $(COMMAND)
      - task: Docker@1
        displayName: docker logout
        inputs:
          command: logout
          containerRegistryType: Container Registry
          dockerRegistryEndpoint: dockerhub-augurproject
    condition: |
      and
      (
          succeeded(),
          eq(variables['Build.SourceBranch'], 'refs/heads/master')
      )

  - job: deploy_ui_on_sneakpreview
    dependsOn:
      - test_ui
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.6.5'
      - task: NodeTool@0
        inputs:
          versionSpec: 10.15
      - task: Docker@1
        displayName: docker login
        inputs:
          command: login
          containerRegistryType: Container Registry
          dockerRegistryEndpoint: dockerhub-augurproject
      - task: Npm@1
        inputs:
          command: custom
          customCommand: run docker:release -- sneakpeak
      - task: Docker@1
        displayName: docker logout
        inputs:
          command: logout
          containerRegistryType: Container Registry
          dockerRegistryEndpoint: dockerhub-augurproject
    condition: |
      and
      (
          succeeded(),
          eq(variables['Build.SourceBranch'], 'refs/heads/sneakpeak')
      )

