@import '~assets/styles/shared';

.Topics {
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.Topics__container {
  position: relative;
  z-index: @above-all-content;
}

.TopicsHeading {
  margin: 85px 0 90px;

  > h2,
  > h3 {
    .font-color-light();

    margin: 0;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
  }

  > h2 {
    .font-size-most-massive();
    .font-weight-normal();

    letter-spacing: 2.3px;

    > a,
    > a:hover,
    > a:active,
    > a:visited {
      .font-color-light();

      text-decoration: none;
    }
  }

  > h3 {
    .font-size-massive();
    .font-weight-semibold();

    letter-spacing: 2.25px;
  }

}

.TopicsHeading__separator {
  background: @color-offwhite;
  height: 4px;
  margin: 0 auto;
  width: 70px;
}
