@import (reference) '~assets/styles/shared';

.Help {
  color: @color-text-light;

  @media @breakpoint-mobile {
    padding: 0 2em;
  }
}

.Help__Header {
  &:extend(.caps--large);

  margin: 1em 0;
}

.Help__Item {
  font-size: @font-size-large;
  position: relative;

  button {
    color: @color-text-light-muted;
    display: block;
    margin-bottom: 1em;
  }

  p {
    line-height: 1.3em;
    margin: 0 0 1.5em;
  }
}

.Help__items {
  height: 0;
  margin: @font-size-medium;
  overflow: auto;
  transition: height @animation-speed-normal @animation-default-type;

  &:global {
    &.help-items-appear {
      height: 0;
    }

    &.help-items-enter {
      height: auto;
    }

    &.help-items-exti {
      height: 0;
    }
  }
}
