@import '~assets/styles/shared.less';

.Help {
  color: @color-text-light;
}

.Help__Header {
  &:extend(.caps--large);

  margin: 1em 0;
}

.Help__Definition {
  font-size: @font-size-large;

  span {
    color: @color-text-light-muted;
    display: block;
    margin-bottom: 1em;
  }

  p {
    line-height: 1.3em;
    margin: 0 0 1.5em;
  }
}
