@import (reference) '~assets/styles/shared';

.Sidebar {
    position: absolute;
    background: var(--light-background-color);
    z-index: @above-all-content;
    top: 0;
    bottom: 0;
    margin: 0;
}