@import (reference) "~assets/styles/shared";

.BlockInfoData {
  align-items: center;
  color: @color-primary-text;
  flex-direction: column;
  justify-content: center;
  max-width: 162px;
  position: relative;
  width: unset;

  &:hover {
    background-color: @color-module-background;
  }

  @media @breakpoint-mobile { 
    display: none;
  }

  > button {
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: @size-8 @size-16;
    width: 100%;
  
    &:focus {
      outline: none;
    }
  
    @media @breakpoint-mobile {
      padding-bottom: @size-10;
      padding-top: @size-8;
    }
  
    > h3 {
      .text-10;
  
      color: @color-primary-text;
      line-height: 2;
  
      @media @breakpoint-mobile {
        line-height: unset;
      }
    }
  
    > div {
      .mono-14-bold;
  
      align-items: flex-end;
      display: flex;
  
      > span {
        .text-10;
  
        align-self: center;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding-left: @size-8;
        text-decoration: underline;
      }
    }
  }
}

.selected {
  background-color: @color-module-background;
}

.connectDropdown {
  background-color: @color-module-background;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 3px @size-4 -@size-4 rgba(0, 0, 0, 0.5);
  height: 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 100%;
  width: 308px;
  z-index: @above-all-content;

  > div {
    padding: @size-24;

    > h3 {
      .text-16;

      color: @color-primary-text;
    }

    > div:last-of-type {
      .text-18;

      color: @color-primary-text;
      margin-top: @size-8;
    }
  }

  @media @breakpoint-mobile {
    width: 250px;
  }

  @media @breakpoint-mobile-small {
    left: -1px;
    right: unset;
  }
}

.connectDropdownLogged {
  @media @breakpoint-mobile-small {
    left: unset;
    right: -1px;
  }
}

.percent {
  .text-24-bold;

  border-bottom: 1px solid fade(@color-primary-text, 30%);
  color: @color-primary-text;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: @size-16;
  margin-top: @size-8;
  padding-bottom: @size-16;
}

.bottom {
  color: @color-primary-text;

  > span {
    font-weight: normal;
    margin-left: @size-6;
    margin-right: @size-4;
  }
}
