@import (reference) "~assets/styles/shared";

.Container {
  background: var(--color-module-background);
  cursor: cell;
  flex: 1;
  max-height: @charts-max-height;
  min-height: @charts-min-height;
  padding-top: @size-8;
  padding-bottom: @size-4;
  display: grid;
  grid-template-columns: auto @size-24 @size-50 @size-24 auto;
  grid-template-rows: @size-12 @size-16 0fr;
  grid-gap: 0 @size-22;

  > button {
    align-items: center;
    display: flex;
    justify-content: center;
    width: @size-24;
    height: @size-24;
    background: var(--color-secondary-action);
    border: @size-1 solid var(--color-secondary-action-outline);
    border-radius: @border-radius-default;
    grid-row: span 2;

    &:first-of-type {
      grid-column: 2;
    }

    &:last-of-type {
      grid-column: 4;
    }

    &:disabled {
      cursor: not-allowed;
      border: @size-1 solid var(--color-inactive-text);

      > svg > rect {
        fill: var(--color-inactive-text);
      }
    }

    > svg {
      width: @size-12;
      height: @size-12;

      > rect {
        fill: var(--color-secondary-text);
      }
    }
  }

  > span:first-of-type {
    .mono-9-bold;

    flex: 1 100%;
    color: var(--color-secondary-text);
    text-align: center;
    text-transform: uppercase;
    grid-column: 3;
    grid-row: 1;
  }

  > span:last-of-type {
    .mono-12;

    flex: 1 100%;
    color: var(--color-primary-text);
    text-align: center;
    grid-column: 3;
    grid-row: 2;
  }

  > div {
    grid-column: span 5;
    grid-row: 3;
    flex: 1 auto;
    padding: @size-4 0;
  }

  :global {
    .hovered_tooltip_div {
      background-color: var(--color-module-background);
      border: @size-1 solid var(--color-primary-text);
      border-radius: @border-radius-default 0 0 @border-radius-default;
      border-right-width: @size-2;
      color: var(--color-primary-text);
      display: flex;
      flex: 1 @size-113;
      flex-flow: row nowrap;
      height: @size-56;
      padding: 0 @size-4;
      justify-content: space-between;
    }

    .hovered_tooltip_div.flip {
      border-left-width: @size-2;
      border-radius: 0 @border-radius-default @border-radius-default 0;
      border-right-width: @size-1;
    }

    .hovered_tooltip_div.bids {
      border-color: var(--color-positive-30);
      border-right-color: var(--color-positive);
    }

    .hovered_tooltip_div.bids.flip {
      border-left-color: var(--color-positive);
      border-right-color: var(--color-positive-30);
    }

    .hovered_tooltip_div.asks {
      border-color: var(--color-negative-30);
      border-right-color: var(--color-negative);
    }

    .hovered_tooltip_div.asks.flip {
      border-left-color: var(--color-negative);
      border-right-color:var(--color-negative-30);
    }

    .hovered_tooltip_labels {
      display: flex;
      flex: 0;
      flex-flow: column nowrap;

      > div {
        .mono-9-bold;

        flex: 1;
        line-height: @size-12;
        margin-bottom: @size-2;
        text-align: left;
        text-transform: uppercase;
      }

      > div#price_label {
        margin-top: @size-9;
      }

      > div#cost_label {
        margin-bottom: @size-4;
      }
    }

    .hovered_tooltip_values {
      display: flex;
      flex: 0 0 auto;
      flex-flow: column nowrap;
      margin-left: @size-8;

      > div {
        .mono-9;

        color: var(--color-primary-text);
        flex: 1;
        font-weight: bold;
        line-height: @size-12;
        text-align: right;
      }

      > div#price_value {
        line-height: @size-18;
        margin-top: @size-4;
      }

      > div#cost_value {
        margin-bottom: @size-4;
      }
    }

    .asks {
      color: var(--color-negative);
      stroke: var(--color-negative);
    }

    .bids {
      color: var(--color-positive);
      stroke: var(--color-positive);
    }

    #depth_range_bounds {
      .bounding-box {
        fill: var(--color-secondary-action-outline);
      }
    }

    .bounding-line,
    .tick-line {
      stroke: var(--color-secondary-action-outline);
    }
    .tick-line--midpoint {
      stroke: var(--color-primary-text);
    }

    .bounding-line:first-of-type {
      stroke: none;
    }

    .vertical-lines {
      fill: none;
      stroke: var(--color-secondary-action-outline-40);
    }

    .horizontal-lines {
      .dashline-normal;

      fill: none;
      stroke: var(--color-secondary-action-outline-40);
    }

    .tick-line--midpoint {
      .dashline-normal
    }

    .tick-line {
      color: var(--color-secondary-action-outline);
      stroke-width: @size-1;
    }

    .tick-value {
      fill: var(--color-primary-text);
      font-size: @size-12;
      font-weight: 400;
      letter-spacing: 0.3px;
      line-height: @size-10;
      text-transform: capitalize;
    }

    .tick > text {
      fill: var(--color-primary-text);
    }

    .depth-line-bids {
      fill: none;
      stroke: var(--color-positive);
      stroke-width: @size-2;
    }

    .depth-line-asks {
      fill: none;
      stroke: var(--color-negative);
      stroke-width: @size-2;
    }

    .stop-top-bid {
      stop-color: transparent;
    }

    .stop-top-ask {
      stop-color: transparent;
    }

    .stop-bottom-ask {
      stop-color: var(--color-negative);
    }

    .stop-bottom-bid {
      stop-color: var(--color-positive);
    }

    .filled-subtle-asks {
      fill: url("#subtleGradientAsk");
      opacity: 0.25;
    }

    .filled-subtle-bids {
      fill: url("#subtleGradientBid");
      opacity: 0.25;
    }

    .line .crosshair {
      .dashline-normal;
    }

    .line .crosshairDot {
      fill: var(--color-primary-text);
      stroke: var(--color-primary-text);
    }

    .line .crosshairDotOutline {
      fill: none;
      stroke: var(--color-primary-text);
    }

    .line .crosshair-bids {
      .dashline-normal;

      stroke: var(--color-positive);
    }

    .line .crosshair-asks {
      .dashline-normal;

      stroke: var(--color-negative);
    }

    .overlay {
      fill: none;
      pointer-events: visible;
    }

    #depth_y_ticks,
    #depth-x-axis {
      path {
        display: none;
      }

      text {
        fill: var(--color-primary-text);
      }
    }

    #depth-x-axis {
      line {
        stroke: var(--color-secondary-action-outline);
        transform: translateX(-0.03125rem);
      }

      text {
        .mono-9;
      }
    }

    #depth_y_ticks {
      line {
        display: none;
      }

      text {
        .mono-10-bold;
      }
    }
  }
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .Container {
    > button {
      display: none;
    }

    > span:first-of-type {
      display: none;
    }

    > span:last-of-type {
      display: none;
    }

    :global {
      .hovered_tooltip_div.bids {
        border-color: var(--color-negative-30);
        border-right-color: var(--color-negative);
      }

      .hovered_tooltip_div.bids.flip {
        border-left-color: var(--color-negative);
        border-right-color:var(--color-negative-30);
      }

      .hovered_tooltip_div.asks {
        border-color: var(--color-positive-30);
        border-right-color: var(--color-positive);
      }

      .hovered_tooltip_div.asks.flip {
        border-left-color: var(--color-positive);
        border-right-color: var(--color-positive-30);
      }

      .asks {
        color: var(--color-positive);
        stroke: var(--color-positive);
      }
  
      .bids {
        color: var(--color-negative);
        stroke: var(--color-negative);
      }

      .tick-line--midpoint {
        stroke: var(--color-secondary-text);
        stroke-dasharray: none;
      }

      .vertical-lines {
        display: none;
      }

      .horizontal-lines {
        stroke-dasharray: none;
  
        fill: none;
        stroke: var(--color-secondary-action-outline);
      }

      .depth-line-bids {
        fill: none;
        stroke: var(--color-negative);
        stroke-width: @size-2;
      }
  
      .depth-line-asks {
        fill: none;
        stroke: var(--color-positive);
        stroke-width: @size-2;
      }

      .filled-subtle-asks {
        fill: var(--color-positive-15);
        opacity: 1;
      }
  
      .filled-subtle-bids {
        fill: var(--color-negative-15);
        opacity: 1;
      }

      .line .crosshair {
        stroke-dasharray: none;
      }
    
      .line .crosshair-bids {
        stroke: var(--color-negative);
      }
  
      .line .crosshair-asks {  
        stroke: var(--color-positive);
      }

      #depth_y_ticks,
      #depth-x-axis {
        line {
          display: none;
        }
  
        text {
          .mono-10-semi-bold;
          fill: var(--color-secondary-text);
        }
      }
    }
  }
}
