.LedgerConnect {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.LedgerConnect__messages {
  visibility: hidden;
}

.LedgerConnect__messages--visible {
  visibility: visible;
}
