@import (reference) '~assets/styles/shared';

.Heading {
  .mono-12-bold;

  align-items: center;
  background-color: @color-dark-grey;
  border-bottom: 1px solid @color-dark-grey;
  display: flex;
  height: @size-32;
  justify-content: space-between;
  min-height: @size-32;
  padding: @size-8 @size-12 @size-8 @size-16;
  width: 100%;
  text-transform: uppercase;

  > span {
    display: flex;
  }
}

@media @breakpoint-mobile {
  .OutcomesList {
    background: @color-module-background;
    border-radius: 1px;
    color: @color-primary-text;
    border: 1px solid @color-dark-grey; 
    margin-top: @size-8;
    border-bottom: 0;
  }

  .Heading {
    .mono-12-bold;
    
    text-transform: uppercase;
    padding: @size-12 @size-16;
  }
}
