@import (reference) '~assets/styles/shared';

.OutcomesList {
  border-bottom: @size-8 solid @color-theme-primary;
}

.Heading {
  align-items: center;
  background-color: @color-theme-primary;
  border-bottom: 1px solid @color-extra-darkpurple;
  display: flex;
  font-size: @size-16;
  height: 3.5rem;
  justify-content: space-between;
  min-height: 3.5rem;
  padding: @size-14 @size-24;
  width: 100%;

  > span {
    display: flex;
  }
}

@media @breakpoint-mobile {
  .OutcomesList {
    background: @color-theme-primary;
    border-radius: @border-radius-default;
    color: @color-secondary-text;
  }

  .Heading {
    font-size: @size-14;
    padding-left: @size-16;
  }
}
