@import (reference) '~assets/styles/shared';

.OutcomesList {
  border-bottom: @size-8 solid @color-theme-primary;
}

.Heading {
  .mono-11-bold;

  align-items: center;
  background-color: @color-theme-primary;
  border-bottom: 1px solid @color-secondary-action;
  display: flex;
  height: @size-32;
  justify-content: space-between;
  min-height: @size-32;
  padding: @size-8 @size-12 @size-8 @size-16;
  width: 100%;

  > span {
    display: flex;
  }
}

@media @breakpoint-mobile {
  .OutcomesList {
    background: @color-theme-primary;
    border-radius: @border-radius-default;
    color: @color-secondary-text;
  }

  .Heading {
    font-size: @size-14;
    height: @size-48;
    min-height: @size-48;
    padding-left: @size-16;
  }
}
