@font-face {
    font-family: 'Core Mellow';
    font-weight: 200;
    src: url("fonts/S-Core - CoreMellow15Thin.otf") format("opentype");
}
@font-face {
    font-family: 'Core Mellow';
    font-weight: 300;
    src: url("fonts/S-Core - CoreMellow25ExtraLight.otf") format("opentype");
}
}
@font-face {
    font-family: 'Core Mellow';
    font-weight: 400;
    src: url("fonts/S-Core - CoreMellow35Light.otf") format("opentype");
}
@font-face {
    font-family: 'Core Mellow';
    font-weight: 500;
    src: url("fonts/S-Core - CoreMellow45Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Core Mellow';
    font-weight: 600;
    src: url("fonts/S-Core - CoreMellow55Medium.otf") format("opentype");
}
@font-face {
    font-family: 'Core Mellow';
    font-weight: 700;
    src: url("fonts/S-Core - CoreMellow65Bold.otf") format("opentype");
}

body {
    background-color: #f9f6ea;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5 {
    font-family: 'Core Mellow';
    font-weight: 500;
}

#app.stopped {
    height: 100%;
    width: 100%;
}
#app.stopped #main {
    display: none;
}
#app.stopped nav {
    display: none;
}
#app.stopped #loading {
    display: block;
}
#app.running {
    background-color: #f9f6ea;
    height: 100%;
    width: 100%;
}
#app.running #main {
    display: block;
}
#app.running #loading {
    display: none;
}

#loading {
    background-color: #602A52;
    background-image: url('../images/horse_head_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute;
    height: 100%;
    width: 100%;
}

#loading .logo {
    position:absolute;
    left:50%;
    top:50%;
    background-image: url('../images/augur_logo_200_white.png');
    background-repeat: no-repeat;
    background-position-x: 5px; 
    width: 180px;
    height: 200px;
    margin: -100px 0px 0px -90px;
    font-family: 'Core Mellow';
    color: rgb(209, 231, 231);
    text-align: center;
    opacity: 0.7;
}
#loading .progress {
    height: 5px;
    margin: 220px -15px 0px -15px;
    opacity: 0.5;
    background-color: #000;
}
#loading .progress-bar {
    background-color: #fff;
}

.spin {
    display: inline-block;
    -webkit-transform-origin: 47% 50%;
    transform-origin: 47% 50%;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav.header {
    background-color: #602A52;
    margin-bottom: 20px;
}
nav.header h1 {
    background-image: url('../images/augur_logo_small_white.png');
    background-repeat: no-repeat;
    background-size: 27px 32px;
    background-position: 8px 10px;
    font-size: 26px;
    margin: 0px 0px 0px 0px;
    position: relative;
    float: left;
    top: 0px;
    color: #fff;
    padding: 9px 10px 10px 44px;
    font-weight: 300;
}
nav.header h1 > i {
  color: #fff;
  position: relative;
  top: -8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  left: 4px;
  opacity: 0.75;
}
nav.header p {
    font-family: 'Core Mellow';
    font-weight: 300;
    font-size: 15px;
    color: #fff;
}
nav.header .navbar-text {
    margin-right: 0px;
}
nav.header .menu {
    float: left;
    display: none;
    padding: 0px;
    margin: 16px 10px 0px 20px;
}
nav.header .menu li {
    font-family: 'Core Mellow';
    letter-spacing: 0.05em;
    float: left;
    list-style: none;
    margin-right: 20px;
}
nav.header .menu li a {
    color: #fff;
}
@media (max-width: 990px) {
    nav.header h1 {
        margin-left: -8px;
    }
    nav.header .menu {
        display: block;
    }
}
@media (max-width: 650px) {
    nav.header .menu {
        clear: both;
        margin: 10px 10px 0px -1px;
    }
}
.shadow {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #f9f6ea;
}
.progress {
    background-color: #D6D8C6;

}

.panel.panel-default,
.panel.panel-default .panel-heading,
.panel.panel-default .panel-body {
    background-color: transparent;
    color: #333;
}

.side-nav {
    background-color: #602A52;
    margin-top: -25px;
    padding: 20px 0px 5px 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.side-nav p {
    font-family: 'Core Mellow';
    font-weight: 300;
    letter-spacing: 0.05em;
    padding: 0px 12px;
    font-size: 16px;
}
.side-nav p:hover {
}
.side-nav p a {
    color: #fff;
    text-decoration: none;
}
.side-nav p a {
    color: #fff;
    text-decoration: none;
}
.side-nav p a:hover {
    text-decoration: underline;
}
.side-nav p a.disabled:hover {
    text-decoration: none;
}
.side-nav p a.disabled {
    opacity: 0.5;
}
.side-nav div.divider {
    margin: 10px 10px;
    height: 1px;
    border-bottom: 1px solid #eee;
}
.side-nav p i {
    letter-spacing: 0.02em;
    font-style: normal;
    display: inline-block;
    background-color: #fff;
    color: #602A52;
    padding: 1px 6px 2px 6px;
    border-radius: 8px;
    margin: 0px 0px 0px 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 12px;
    opacity: 0.6;
    position: relative;
    top: -2px;
}

.account .address {
    overflow: hidden;
    text-overflow: ellipsis;
}

.network {
    box-shadow: none;
    border: none;
    -webkit-box-shadow: none;
    margin-top: 15px;
}
.network .panel-body,
.network .panel-heading {
    padding: 5px;
}
.network .panel-body p {
    padding: 0px 2px;
    margin-bottom: 4px;
    font-size: 12px;
}
.network .panel-body p:hover {
    background-color: transparent;
}
.network .panel-body p:last-child {
    margin-bottom: 0px;
}
.network .miner-off span {
    color: red;
}
.network .miner-on span {
    color: green;
    font-weight: bold;
}
.network fieldset {
    margin-top: 15px;
}
.network fieldset legend {
    font-size: 12px;
    margin-bottom: 10px;
}

#main h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CDCAC5;
}
#main h3 .subheading {
    font-size: 16px;
    margin-top: 3px;
}
#main div.subheading {
    font-size: 16px;
    margin: 10px 0px 20px 0px;
}
#main h4 {
    font-weight: 400;
}


.market-pane {
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    opacity: 0.9;
    display: block;
    margin-bottom: 25px;
}
.market-pane.pending,
.market-pane.invalid {
    opacity: 0.75;
}
.market-pane.loading {
    opacity: 0.50;
}
a.market-pane:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}
.market-pane h5 {
    position: relative;
    margin: 0px;
    padding: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
    text-align: justify;
    text-justify: inter-word;
    height: 84px;
    background-color: #18376f;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    overflow: hidden;
}
.market-pane .overlay {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0px;
    left: 0px;
background: -moz-linear-gradient(top, rgba(24,55,111,0) 0%, rgba(24,55,111,0.7) 74%, rgba(24,55,111,0.85) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(24,55,111,0)), color-stop(74%,rgba(24,55,111,0.7)), color-stop(100%,rgba(24,55,111,0.85))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(24,55,111,0) 0%,rgba(24,55,111,0.7) 74%,rgba(24,55,111,0.85) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(24,55,111,0) 0%,rgba(24,55,111,0.7) 74%,rgba(24,55,111,0.85) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(24,55,111,0) 0%,rgba(24,55,111,0.7) 74%,rgba(24,55,111,0.85) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(24,55,111,0) 0%,rgba(24,55,111,0.7) 74%,rgba(24,55,111,0.85) 100%); /* W3C */
}
.market-pane .summary {
    padding: 3px 12px;
    background-color: #a3b9e2;
    font-size: 20px;
}
.market-pane .summary i {
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    margin-top: 3px;
    height: 25px;
}
.market-pane.pending .summary {
    background-color: #E28B17;
    pointer-events: none;
}
.market-pane.invalid .summary {
    background-color: #C8C8C8;
    pointer-events: none;
}
.market-pane.matured .summary {
    background-color: #72D29B;
}
.market-pane .details {
    padding: 6px 6px;
    font-size: 14px;
    color: #333;
}
.market-pane .details p {
    margin: 0px;
    clear: right;
    padding: 0px 6px;
}
.market-pane .details p.alt {
    background-color: rgb(230, 244, 230);
}
.market-pane .details b {
    float: right;
}
@media (max-width: 480px) {
    .market-pane {
        margin-bottom: 25px;
    }
    .market-pane h5 {
        margin: 0px;
        padding: 10px;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.3em;
        height: 74px;
    }
    .market-pane .details {
        padding: 6px 6px;
        font-size: 14px;
    }
    .market-pane .summary {
        padding: 3px 12px;
        background-color: #a3b9e2;
        font-size: 20px;
    }
    .market-pane .summary i {
        font-weight: 100;
        font-style: normal;
        font-size: 16px;
        margin-top: 3px;
        height: 25px;
    }
    .market-pane .details {
        padding: 6px 6px;
        font-size: 14px;
        color: #333;
    }
    .market-pane .details p {
        margin: 0px;
        clear: right;
        padding: 0px 6px;
    }
}
#branch h4 {
    margin: 10px 0px 20px 0px;
}

#event {
    display: none;
}

#market {

}

.outcome {
    margin: 0px 0px 20px 0px;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    background-color: #F2F2F2;
    overflow: hidden;
    clear: both;
    position: relative;
    height: 90px;
}
.outcome.buy {

}
.outcome.sell {

}
.outcome h4 {
    color: #fff;
    background-color: #18376f;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    float: left;
    width: 75px;
    position: relative;
    margin: 0px;
}
.outcome h4 .name {
    position: absolute;
    top: 8px;
    left: 8px;
}
.outcome h4 .price {
    font-size: 20px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    position: absolute;
    bottom: 8px;
    right: 8px;
}
.outcome .summary {
    float: left;
    padding: 4px 8px;
    color: #555;
}
.outcome .summary p {
    margin: 0px;
    font-size: 15px;
}
.outcome .trade-button {
    position: absolute;
    right: -1px;
}
.outcome .trade-button button {
    float: right;
    width: 63px;
}
.outcome.matured .trade-button {
    display: none;
}
.outcome .shares-held.none {
    padding: 10px 10px;
    display: inline-block;
}   
.outcome .shares-held.btn {
    background-color: #FCFFFD;
    float: right;
    border-radius: 0px;
    border-top-left-radius: 3px;
}
.outcome .buy {
    top: -1px;
}
.outcome .buy .btn {
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
}
.outcome .sell,
.outcome .cancel {
    bottom: -1px;
}
.outcome .sell .btn,
.outcome .cancel .btn {
    border-radius: 0px;
    border-bottom-right-radius: 4px;
}
.outcome .cancel .btn {
    border-top-left-radius: 4px;
    color: #999;
    border-color: #DADADA;
}
.outcome .trade .price {
    margin-bottom: 10px;
    margin-top: 15px;
}
.outcome .trade .price i {
    margin: 0px 3px 0px 8px;
    position: relative;
    top: -1px;
}
.outcome .trade .new-price {
    font-size: 20px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #777;
    margin-top: 11px;
}
.outcome .trade .new-price i {
    margin-right: 2px;
}
.outcome .trade form {
    width: 150px;
}
.outcome .trade form input {
    border-radius: 0px;
    border-bottom-left-radius: 4px;
}

#market .price-history {
  height: 225px;
  margin-top: 10px;
  background-color: #373232;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#market .price-history h4 {
    margin: 95px auto 0px auto;
    width: 155px;
    color: #999;
}
#market .details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: 2px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
    margin-top: 10px;
    padding: 6px 6px;
    font-size: 14px;
    color: #333;
    height: 225px;
}
#market .details p {
    margin: 0px;
    clear: right;
    padding: 2px 6px;
}
#market .details p.alt {
    background-color: rgb(230, 244, 230);
}
#market .details b {
    float: right;
}
#market .details .author {
    text-align: right;
    width: 75%;
}
#market .comments {
    margin-top: 40px;
}
#market .comment {
    padding: 10px;
    background-color: #fff;
}
#market .comment .avatar {
    height: 57px;
    width: 57px;
    float: left;
    background-repeat: no-repeat;
    background-position: 10px 9px;
    background-size: 50px 50px;
    margin: 0px 0px 0px 4px;
}

#market .comment .box {
    margin-left: 70px;
    margin-top: 0px;
    padding: 30px 15px 15px 15px;
    position: relative;
}
#market .comment p {
    margin: 0px;
} 
#market .comment .date {
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 5px;
    left: 8px;
}
#market .comment .address {
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 5px;
    right: 8px;
}

#account h3 {
    margin-bottom: 0px;
}
#account h4 {
    margin-bottom: 20px;
}
#account div.subheading {
    margin-left: -15px;
    margin-right: -15px;
}
#account div.subheading .unit {
    font-weight: 200;
    color: #696969;
    text-transform: uppercase;
    margin-right: 10px;
}
#account div.subheading .rep-balance {
    text-align: center;
}
#account div.subheading .ether-balance {
    text-align: right;
}
#account div.subheading button {
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    top: -2px;
}
#account div.subheading button i {
    margin-left: 8px;
}
#account .shares-held {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 3px;
    color: #fff;
}
#account .yes.shares-held {
    background-color: green;
}
#account .no.shares-held {
    background-color: rgb(194, 64, 64);
}
#ballots h3 {
    border-bottom: none;
}
#ballots .now-marker {
    display: none;
    height: 6px;
    width: 10px;
    color: rgb(55, 117, 171);
    margin-bottom: -4px;
    position: relative;
    top: -11px;
    }
#ballots .period-progress {
    height: 1px;
    margin: 0px;
}
#ballots .ballot {
    border-radius: 5px;
    background-color: rgb(253, 253, 186);
    margin: 0px 0px 20px 0px;
    padding: 0px;
}
#ballots .ballot h4 {
    padding: 5px 12px;
}
#ballots .ballot p {
    padding: 2px 12px;
}
#ballots .ballot .decision {
    padding: 10px 10px 0px 10px;
    border-bottom: 1px dotted #D0C173;
}
#ballots .ballot .decision:last-child {
}
#ballots .ballot .decision h4 {
    margin-top: 3px;
}
#ballots .ballot .decision .outcomes {

}
#ballots .ballot button.submit-ballot {
    margin-top: 15px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
#ballots .no-decisions {
    text-align: center;
    margin-top: 50px;
}

#alert {
    padding: 10px;
    position: fixed;
    width: 100%;
    min-height: 40px;
    opacity: 0.8;
    bottom: 0;
    margin-bottom: 0px;
    border-radius: 0;
    display: none;
}
#alert div {
    max-height: 45px;
    overflow-y: scroll;
}
#alert div p {
    font-size: 13px;
    margin-bottom: 5px;
}

/* modals */

.modal-body h4 {
    margin-top: 0px;
}
#no-eth-modal .modal-dialog {
    max-width: 500px;
}
#no-eth-modal span.cmd {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
    margin-left: 8px;
}

.send-modal input.dest-address,
    margin-bottom: 10px;
}
.send-modal p {
    color: #555;
    margin: 15px 0px 0px 0px;
    float: left;
    font-size: 12px;
}
.send-modal .balance {
    text-transform: uppercase;
}


#confirm-modal button.confirm {
    margin-left: 10px;
}
#confirm-modal .modal-body p {
    font-size: 16px;
    margin: 0px;
    margin-bottom: 20px;
}
#add-market-modal h4 {
    margin: 0px;
    font-size: 20px;
}
#add-market-modal h4 .subheading {
    font-size: 16px;
}
#add-market-modal p {
    font-size: 16px;
}
#add-market-modal .help-block {
    float: left;
}
#add-market-modal .fees .help-block {
    position: absolute;
    top: 2px;
    left: 150px;
    width: 300px;
}
#add-market-modal .modal-body {
    height: 225px;
}
#add-market-modal .modal-footer {
    margin-top: 0px;
    padding: 15px;
}
#add-market-modal .fees input {
    text-align: right;
}
#add-market-modal .fees p.desc {
    margin: 10px 0px 20px 0px;
    font-size: 15px;
}
#add-market-modal .fees label {
    text-align: left;
}
#add-market-modal input, label {
    font-size: 16px;
}
#add-market-modal textarea {
    font-size: 16px;
    margin-top: 15px;
}
#add-market-modal .text-count {
    color: #777;
    position: relative;
    top: -15px;
    font-size: 12px;
}
#add-market-modal .date p {
    margin: 0px 0px 0px 0px;
}
#add-market-modal .date input {
  width: 130px;
  margin: 20px auto;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 8px 8px;
}

.paginator {
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: right;
    width: auto;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.paginator li {
    float: left;
    margin: 0px 4px 0px 4px;
    padding: 0px 0px 0px 0px;
}
.paginator li.disabled a {
    color: #ccc;
}
.paginator li.active a {
    color: #fff;
    background-color: #428bca;
}
.paginator .previous,
.paginator .next {
    font-size: 14px;
    position: relative;
    top: 3px;
}
.paginator .previous {
    margin-right: 6px;
}
.paginator .next {
    margin-left: 6px;
}
.paginator > .pages {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 22px 0px 22px;
}
.paginator > .pages > li {
    font-size: 16px;
    margin: 0px 2px 0px 2px;
}
.paginator > .pages > li > a {
    display: inline-block;
    padding: 0px 8px 1px 8px;
    border-radius: 5px;
}
.paginator > .pages > li:hover > a {
    text-decoration: none;
    background-color: #D7D3C2;
}
span.debug {
    font-size: 12px;
    display: inline-block;
    padding: 2px 8px;
    background-color: rgb(239, 239, 79);
    border: 1px solid rgb(182, 182, 59);
    color: #333;
    margin: 0px 8px;
}