.u-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.u-flex-flow-row,
.u-flex-row,
.date-picker .dp-footer {
  flex-direction: row;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  box-orient: horizontal;
  flex-direction: row;
  box-orient: horizontal;
}
.u-flex-flow-column,
.u-flex-column,
.date-picker .dp-inner {
  flex-direction: column;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  box-orient: vertical;
  box-orient: vertical;
}
.u-flex-row,
.date-picker .dp-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.u-flex-column,
.date-picker .dp-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.u-flex-centered {
  box-align: center;
  box-pack: center;
  align-items: center;
}
.u-inflexible,
.u-flex-0 {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  -ms-flex: 0;
  -webkit-flex: 0;
  flex: 0;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -ms-box-flex: 2;
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -ms-box-flex: 3;
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-4 {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -ms-box-flex: 4;
  -ms-flex: 4;
  -webkit-flex: 4;
  flex: 4;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-5 {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -ms-box-flex: 5;
  -ms-flex: 5;
  -webkit-flex: 5;
  flex: 5;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-6 {
  -webkit-box-flex: 6;
  -moz-box-flex: 6;
  -ms-box-flex: 6;
  -ms-flex: 6;
  -webkit-flex: 6;
  flex: 6;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-7 {
  -webkit-box-flex: 7;
  -moz-box-flex: 7;
  -ms-box-flex: 7;
  -ms-flex: 7;
  -webkit-flex: 7;
  flex: 7;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-8 {
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  -ms-box-flex: 8;
  -ms-flex: 8;
  -webkit-flex: 8;
  flex: 8;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-9 {
  -webkit-box-flex: 9;
  -moz-box-flex: 9;
  -ms-box-flex: 9;
  -ms-flex: 9;
  -webkit-flex: 9;
  flex: 9;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-flex-10 {
  -webkit-box-flex: 10;
  -moz-box-flex: 10;
  -ms-box-flex: 10;
  -ms-flex: 10;
  -webkit-flex: 10;
  flex: 10;
  flex-shrink: 1;
  flex-basis: 1;
}
.u-bold {
  font-weight: bold;
}
.u-nowrap {
  white-space: nowrap;
}
.u-nonav,
.u-unselectable,
.date-picker .dp-nav-view,
.date-picker .dp-nav-cell,
.date-picker .dp-week-day-name,
.date-picker .dp-decade-view,
.date-picker .dp-year-view,
.date-picker .dp-month-view {
  touch-callout: none;
}
.u-unselectable,
.date-picker .dp-nav-view,
.date-picker .dp-nav-cell,
.date-picker .dp-week-day-name,
.date-picker .dp-decade-view,
.date-picker .dp-year-view,
.date-picker .dp-month-view {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.u-height-auto {
  height: auto;
}
.u-width-auto {
  width: auto;
}
.u-height-fill,
.u-fill,
html.u-app,
html.u-app body {
  height: 100%;
}
.u-width-fill,
.u-fill,
html.u-app,
html.u-app body {
  width: 100%;
}
.u-margin-auto {
  margin: auto;
}
.u-border-box {
  box-sizing: border-box;
}
.u-border-box * {
  box-sizing: border-box;
}
.u-ellipsis,
.date-picker .dp-cell.dp-month,
.date-picker .dp-nav-view,
.date-picker .dp-nav-cell,
.date-picker .dp-week-day-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.u-absolute {
  position: absolute;
}
.u-relative {
  position: relative;
}
html.u-app,
html.u-app body {
  overflow: hidden;
  box-sizing: border-box;
}
html.u-app *,
html.u-app body * {
  box-sizing: border-box;
}
.date-picker .dp-inner {
  width: 100%;
  height: 100%;
  -webkit-flex-flow: column;
}
.date-picker .dp-footer {
  -webkit-flex-flow: row;
}
.date-picker .dp-body {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}
.date-picker .dp-body .dp-table {
  width: 100%;
  height: 100%;
}
.date-picker .dp-body .dp-month-view {
  position: absolute;
  transform: translate3d(0%, 0px, 0px);
}
.date-picker .dp-body .dp-month-view.dp-prev {
  left: -100%;
}
.date-picker .dp-body .dp-month-view.dp-next {
  left: 100%;
}
.date-picker .dp-body .dp-month-view .dp-week {
  display: table-row;
  list-style: none;
}
.date-picker .dp-nav-table,
.date-picker .dp-body .dp-table {
  table-layout: fixed;
}
.date-picker .dp-nav-table {
  width: 100%;
}
.date-picker .dp-anim-target {
  transform: translate3d(0px, 0px, 0px);
  position: absolute;
  width: 100%;
  height: 100%;
}
.date-picker .dp-anim-target.dp-transition-prev {
  animation-name: prev-month-nav;
}
.date-picker .dp-anim-target.dp-transition-next {
  animation-name: next-month-nav;
}
.date-picker {
  font-family: sans-serif;
  overflow: hidden;
  font-size: 12px;
  width: 250px;
  height: 180px;
}
.date-picker,
.date-picker * {
  box-sizing: border-box;
}
.date-picker .dp-cell {
  text-align: center;
  color: inherit;
  background: inherit;
  cursor: pointer;
}
.date-picker .dp-cell.dp-prev,
.date-picker .dp-cell.dp-next {
  color: #5c5c5c;
  background: inherit;
}
.date-picker .dp-cell.dp-in-range {
  background: #e2f0ff;
}
.date-picker .dp-cell.dp-disabled {
  cursor: default;
  opacity: 0.3;
  color: #5c5c5c;
  background: inherit;
}
.date-picker .dp-cell:hover {
  color: inherit;
  font-weight: inherit;
  background: #eee;
}
.date-picker .dp-cell.dp-value {
  color: #000;
  font-weight: bold;
  background: #eee;
}
.date-picker .dp-cell.dp-current {
  color: #2e99eb;
  background: inherit;
}
.date-picker .dp-cell.dp-in-range.dp-current,
.date-picker .dp-cell.dp-in-range.dp-value {
  background: #e2f0ff;
}
.date-picker .dp-inner {

}
.date-picker .dp-footer {
  padding: 3px;
  justify-content: center;
  -webkit-justify-content: center;
  flex-pack: center;
  -ms-flex-pack: center;
  border-top-width: 0px;
}
.date-picker .dp-footer .dp-footer-selected,
.date-picker .dp-footer .dp-footer-today {
  padding: 5px 15px;
  border-width: 1px;
  cursor: pointer;
}
.date-picker .dp-header {
  font-size: 14px;
}
.date-picker .dp-body {
  overflow: hidden;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}
.date-picker .dp-anim-target {
  animation-duration: 200ms;
}
.date-picker .dp-body .dp-cell:first-child,
.date-picker .dp-nav-table .dp-cell:first-child,
.date-picker .dp-body .dp-cell:last-child,
.date-picker .dp-nav-table .dp-cell:last-child {
  border-left-width: 0px;
  border-right-width: 0px;
}
.date-picker .dp-nav-table .dp-row:first-child,
.date-picker .dp-body .dp-row:first-child {
  height: 25px;
  font-weight: bold;
}
.date-picker .dp-week-day-name {
  cursor: default;
  font-size: 9px;
  color: #777;
}
.date-picker .dp-nav-view,
.date-picker .dp-nav-cell {
  cursor: pointer;
}
.date-picker .dp-nav-cell {
  background: inherit;
}
.date-picker .dp-nav-cell:hover {
  background: #eee;
}
.date-picker .dp-nav-view {
  background: inherit;
}
.date-picker .dp-nav-view:hover {
  background: #eee;
}
.date-picker .dp-nav-table .dp-cell {
  border-top-width: 0px;
  border-bottom-width: 0px;
}
@-moz-keyframes prev-month-nav {
  to {
    transform: translate3d(100%, 0px, 0px);
  }
}
@-webkit-keyframes prev-month-nav {
  to {
    transform: translate3d(100%, 0px, 0px);
  }
}
@-o-keyframes prev-month-nav {
  to {
    transform: translate3d(100%, 0px, 0px);
  }
}
@keyframes prev-month-nav {
  to {
    transform: translate3d(100%, 0px, 0px);
  }
}
@-moz-keyframes next-month-nav {
  to {
    transform: translate3d(-100%, 0px, 0px);
  }
}
@-webkit-keyframes next-month-nav {
  to {
    transform: translate3d(-100%, 0px, 0px);
  }
}
@-o-keyframes next-month-nav {
  to {
    transform: translate3d(-100%, 0px, 0px);
  }
}
@keyframes next-month-nav {
  to {
    transform: translate3d(-100%, 0px, 0px);
  }
}