@import (reference) '~assets/styles/shared';

.Order {
  background-color: #fff7cc;
  height: 120px;
  position: relative;
}

.Order__cancel {
  .button--transparent();
  display: inline-block;
}

.Order__learnMore {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 70px;
	background-color: @color-outcome-six;
	font-size: 12px;
  	color: @color-darkpurple;
  	padding: 16px 8px;
}

.Order__link {
	text-decoration: underline;
	font-size: 12px;
	color: @color-purple;
	font-weight: 700;
	margin-left: 8px;
}
.Order__learnMore::after {
	bottom: 100%;
	left: 1.1%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 213, 0, 0);
	border-bottom-color: @color-outcome-six;
	border-width: 11px;
	margin-left: -11px;
}