@import (reference) '~assets/styles/shared';

.Order {
  background-color: #fff7cc;
  height: 120px;
  position: relative;
}

.Order__cancel {
  .button--transparent();

  display: inline-block;
  margin-right: -32px; // center button
}

.Order__learnMore {
  background-color: @color-outcome-six;
  color: @color-darkpurple;
  font-size: 12px;
  left: 0;
  margin-top: 70px;
  padding: 16px 8px;
  position: absolute;
  right: 0;
}

.Order__link {
  color: @color-purple;
  font-size: 12px;
  font-weight: 700;
  margin-left: 8px;
  text-decoration: underline;
}

.Order__learnMore::after {
  border: solid transparent;
  border-bottom-color: @color-outcome-six;
  border-width: 11px;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 1.1%;
  margin-left: -11px;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.Order__learnMore-extended::after {
  left: 3.4%;
}
