@import (reference) '~assets/styles/shared';

.AddressPickerContent__direction {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: @roboto !important;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  text-transform: none;
}

.AddressPickerContent__arrow {
  align-items: center;
  display: flex;
  justify-content: center;
}

.AddressPickerContent__directionDisabled {
  cursor: default;
}
