@import (reference) "~assets/styles/shared";

.DerivationPathEditor {
  padding: 16px 24px 8px;
}

.DerivationPathEditor__title {
  color: @color-white;
  font-size: 13px;
  font-weight: bold;
}

.DerivationPathEditor__row {
  display: flex;
  margin-top: 12px;
}

.DerivationPathEditor__address {
  margin-left: 16px;
}

.DerivationPathEditor__pathDetails {
  color: @color-white;
  font-family: @roboto;
  font-size: 13px;
  margin-left: 8px;
  text-transform: none;
}

.DerivationPathEditor__path {
  color: @color-white;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  text-transform: none;
}

.DerivationPathEditor__pathInputContainer {
  display: flex;
  flex-grow: 1;
}

.DerivationPathEditor__radioButtons {
  display: flex;
  flex-grow: 1;

  > li {
    display: flex;
    flex-grow: 1;
    text-transform: none;

    > button {
      color: @color-white;
      cursor: pointer;
      display: flex;
      flex-grow: 1;
      font-size: @font-size-large;
      line-height: @font-size-large;
      min-height: 1.7rem;
      padding-left: 36px;
      position: relative;
      text-align: left;

      &::before {
        background-color: white;
        border: 0;
        border-radius: 100%;
        content: "";
        height: 20px;
        left: 0;
        margin: auto;
        margin-top: 5px;
        top: 0;
        width: 20px;
      }

      &::after {
        background-color: @color-purple;
        height: 11.75px;
        left: 0.25rem;
        margin-top: 5px;
        top: 0.25rem;
        width: 11.75px;
      }
    }
  }
}

.DerivationPathEditor__radioButtonsInput {
  > li {
    > button {
      padding-left: 32px;
    }
  }
}

.DerivationPathEditor__pathInput {
  border: none;
  color: @color-darkpurple;
  font-weight: bold;
  height: 24px;
  max-height: 24px;
  padding: 3px 12px;
  text-transform: none;

  &::placeholder {
    color: @color-lightgray;
    font-weight: normal;
  }

  &:focus {
    border: none;
  }
}
