@import (reference) '~assets/styles/shared';

.ErrorContainer__header {
  align-items: center;
  color: @color-white;
  display: flex;
  font-size: @font-size-small;
  font-weight: bold;
}

.ErrorContainer__headerIcon {
  margin-right: 8px;
}

.ErrorContainer__subheader {
  color: @color-white;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.54;
  margin-top: 8px;
}

.ErrorContainer__link {
  margin-left: 4px;
  text-decoration: underline;
  text-decoration-color: white;
}
