@import (reference) '~assets/styles/shared';

.Checkbox {
  cursor: pointer;
  display: block;
  font-size: 22px;
  margin-bottom: 8px;
  position: relative;
  user-select: none;
}

.Checkbox__checkmark {
  background-color: @color-theme-primary;
  border: 1px solid @color-highlight;
  border-radius: @border-radius-default;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;

  > svg {
    display: none;
    height: 9px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 11px;

    > path {
      stroke: @color-secondary-text;
    }
  }
}

.Checkbox__checkmark:focus {
  outline: none;
}

.Checkbox input {
  visibility: hidden;
}

.Checkbox:hover input ~ .Checkbox__checkmark {
  filter: brightness(95%);
}

.Checkbox input:checked ~ .Checkbox__checkmark {
  background: fade(@color-highlight, 30%);
  border: 1px solid @color-highlight;

  > svg {
    display: block;
  }
}

.Checkbox__small {
  margin-bottom: 0;
}

.Checkbox__checkmark__small {
  height: 16px;
  width: 16px;
}

.Checkbox__small .Checkbox__checkmark__small {
  > svg {
    height: 6px;
    left: 3px;
    top: 4px;
    width: 8px;
  }
}
