@import (reference) '~assets/styles/shared';

ul.ReportingReportForm__fields {
  flex-flow: column nowrap;
  font-size: @font-size-normal;
  justify-content: flex-start;
  min-height: 0;
}

.ReportingReport__RepLabel {
  margin-top: 2rem;
}

.ReportingReport__RepAmount {
  color: @color-white;
  font-size: @font-size-large;
  margin-top: 2rem;
}
