.auth-login-form {
  .auth-login-login-id {
    z-index: 40;
  }

  .auth-login-password {
    border-top: 0;
    height: 0;
    opacity: 0;
    z-index: 30;
  }

  .auth-login-actions {
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
    z-index: 20;
  }

  .auth-login-error {
    display: flex;
    height: 0;
    opacity: 0;
    z-index: 10;

    span {
      color: @color-red;
      font-weight: @font-weight-normal;
      margin: 0.5em 0 0 1em;
    }
  }
}
