#auth_view {
	width: 100%;

	.airbitz-button {
		background: #3b5998;
		border: 0;
		border-radius: 8px;
		color: #ffffff;
		display: inline-block;
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 80%;
		height: 2.8em;
		line-height: 2.8em;
		margin: 0;
		outline: 0;
		padding: 0 1em;
		text-transform: uppercase;
		transition: background 0.3s ease;
		white-space: nowrap;
	}

	.auth-form {
		display: block;
		font-size: 3vmin;
		margin: 5vmin auto 0;
		max-width: 90vmin;
		padding: 9vmin 5vmin;
		position: relative;
		text-align: left;
		width: 100%;

		.title {
			font-size: 140%;
			margin: 1vmin 0 2vmin;
		}

		.instruction {
			font-size: 0.8em;
			margin: 0.5em 0;
		}

		.msg {
			color: @color-danger-dark;
			display: inline-block;
			font-size: 80%;
			font-weight: 700;
			margin: 0;
			padding: 0 0 0 1.6vmin;
			position: relative;

			&.success {
				color: @color-success-normal;
			}
		}

		.loginID-generated {
			font-size: 0.45em;
			height: 10em;
			margin: 0.5em 0;
			overflow: hidden;
			resize: none;
			width: 100%;
			word-break: break-all;
			word-wrap: break-word;
		}

		.account-info-container {
			background: white;
			border: 1px solid @color-border-dark;
			border-radius: 1px;
			display: flex;
			flex-flow: row wrap;
			margin: 1.6vmin 0;
			padding: 1.6vmin;

			label {
				font-weight: bold;
				margin: 0 1vmin 0 0;
			}

			div {
				display: inline;
				word-break: break-all;
				word-wrap: break-word;
			}

			.link {
				align-self: center;
				margin: 0 0 0 1vmin;
			}
		}

		.auth-input {
			display: block;
			margin: 3vmin 0;
			padding: 3vmin;
			position: relative;
			width: 100%;
		}

		.login-id-input {
			display: block;
			position: relative;
			width: 100%;

			.box {
				padding: 3vmin;
			}
		}

		.top-link {
			bottom: 0.5vmin;
			color: fade(@color-dark-normal, 50%);
			display: inline-block;
			font-size: 60%;
			position: absolute;
			right: 2vmin;
		}

		.bottom-container {
			align-content: space-between;
			display: flex;
			flex-flow: row-reverse nowrap;

			.bottom-link {
				color: fade(@color-dark-normal, 50%);
				font-size: 80%;
				margin-right: 1.5vmin;
			}

			.checkbox {
				flex: 1 auto;
				text-align: left;
			}
		}

		.submit-button {
			display: inline;
			font-size: 80%;
			letter-spacing: 0.5px;
			margin-top: 2vmin;
			position: relative;
		}

		.airbitz-button-bottom {
			display: inline;
			float: right;
			margin-top: 2vmin;
			position: relative;
		}

		.x-button {
			display: block;
			opacity: 1;
			position: absolute;
			right: 5vmin;
			top: 0;
		}
	}
}
