.auth-signup-form {
  .isHidden {
    animation-delay: 0s, @animation-speed-very-fast;
    animation-duration: @animation-speed-very-fast, 0s;
    animation-fill-mode: forwards;
    animation-name: fadeOutUpFull, collapseElementHeight;
    animation-timing-function: @animation-default-type;
  }

  .isVisible {
    animation-delay: 0s, @animation-speed-fast;
    animation-duration: 0s, @animation-speed-fast;
    animation-fill-mode: forwards;
    animation-name: expandElementHeight, fadeInDownFull;
    animation-timing-function: @animation-default-type;
    opacity: 0;
  }

  .auth-signup-actions.isHidden {
    animation-delay: 0s, @animation-speed-very-fast;
    animation-duration: @animation-speed-very-fast, 0s;
    animation-fill-mode: forwards;
    animation-name: fadeOutUpPartial, collapseElementHeight;
    animation-timing-function: @animation-default-type;
  }

  .auth-signup-actions.isVisible {
    animation-delay: 0s, @animation-speed-fast;
    animation-duration: 0s, @animation-speed-fast;
    animation-fill-mode: forwards;
    animation-name: expandElementHeight, fadeInDownPartial;
    animation-timing-function: @animation-default-type;
    opacity: 0;
  }

  span:first-of-type {
    align-self: center;
    color: @color-text-light-extra-light;
    margin: 1em 0;
  }

  .auth-signup-password {
    z-index: 30;
  }

  .auth-signup-password-confirm {
    border-top: 0;
    z-index: 20;
  }

  .auth-signup-password-suggestions {
    .font-size-small();

    &.isHidden {
      margin-top: 0;
    }

    color: @color-orange-light;
    list-style-type: disc;
    margin-top: 0.6em;

    li {
      margin: 0.2em 0 0.2em 2em;
    }
  }

  .auth-signup-actions {
    display: flex;
    flex-direction: column;
    z-index: 10;

    .login-id {
      height: @font-size-normal * 5;
      resize: none;
    }

    .login-id-messaging {
      display: flex;
      flex-direction: column;
      margin: 1em 0;

      span {
        align-self: center;
        margin: 0;

        &.important {
          .font-weight-normal();

          color: @color-orange-light;
        }
      }
    }
  }
}

// Animations

.keyframes(expandElementHeight, {
to { height: auto; }
});

.keyframes(collapseElementHeight, {
to { height: 0; }
});

.keyframes(fadeInDownFull, {
from {
transform: translateY(-100%);
opacity: 0;
}
to {
transform: translateY(0%);
opacity: 1;
}
});

.keyframes(fadeOutUpFull, {
from {
transform: translateY(0);
opacity: 1;
}
to {
transform: translateY(-100%);
opacity: 0;
}
});

.keyframes(fadeInDownPartial, {
from {
transform: translateY(-20%);
opacity: 0;
}
to {
transform: translateY(0%);
opacity: 1;
}
});

.keyframes(fadeOutUpPartial, {
from {
transform: translateY(0);
opacity: 1;
}
to {
transform: translateY(-20%);
opacity: 0;
}
});
