@auth-button-height: 4em;

#auth_view {
  align-items: center;
  display: flex;
  margin: 0;

  .auth-methods {

    .border(true, @border-right);
    .border(true, @border-bottom);
    .border(true, @border-left);

    background-color: @color-white;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    width: 400px;

    h3 {
      align-self: flex-start;
      margin-left: 1em;
    }

    & > button {
      align-self: center;
    }

    h4 {
      color: @color-text-light-light;
      display: flex;
      flex: 1;
      font-size: @font-size-large;
      font-style: italic;
      font-weight: @font-weight-extra-light;
      justify-content: center;
      overflow: hidden;

      &::before,
      &::after {
        background-color: @color-border-light;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        top: 0.6em;
        width: 40%;
      }

      &::before {
        margin-left: -50%;
        right: 1em;
      }

      &::after {
        left: 1em;
        margin-right: -50%;
      }
    }

    .auth-button-title {
      line-height: @auth-button-height;
    }

    .default-auth {
      display: flex;
      flex-direction: column;
    }

    .auth-airbitz {
      align-items: center;
      align-self: center;
      background-color: @color-airbitz-logo-background;
      border-radius: 4px;
      color: @color-text-light;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 1.4em 0 1em;

      .airbitz-logo-icon {
        .border(true, @border-right, @color-gray);

        height: @font-size-large;
        padding: 0.6em;
      }

      span {
        padding: 0 1.2em;
      }
    }

    .auth-login-id {
      .auth-login-id-method-selection {
        display: flex;

        button {
          flex: 1;
          line-height: @auth-button-height;
        }
      }
    }

    & > form {
      display: flex;
      flex-direction: column;
      margin: 0 2em 2em;

      input {
        background-color: @color-white;
      }

      input[type='submit'] {
        align-self: flex-end;
      }

      .remember-me {
        align-self: flex-end;
        margin: 1em 0;
      }
    }
  }
}
