.page.auth {
    width: 100%;

    .auth-form {
        display: block; position: relative;
        width: 100%; max-width: 90vmin;
        margin: 5vmin auto 0 auto;
        padding: 9vmin 5vmin;
        font-size: 3vmin;
        text-align: left;

        .title {
            margin: 1vmin 0 2vmin 0;
            font-size: 140%;
        }

        .msg {
            display: inline-block; position: relative;
            margin: 0; padding: 0 0 0 1.6vmin;
            color: @color-danger-dark;
            font-size: 80%;
            font-weight: 700;
            &.success {
                color: @color-success-normal;
            }
        }

				.account-info-container {
					// margin: 1.6vmin 0;
					display: flex;
					flex-flow: row wrap;
					padding: 1.6vmin;
					background: white;
					border: 1px solid @color-border-dark;
					border-radius: 1px;

					div {
						flex-basis: 100%;
						margin: 1.6vmin 0;
					}

					.button {
						font-size: 1.25rem;
						margin: 1.6vmin 0;
					}
				}

        .auth-input {
            display: block; position: relative;
            width: 100%;
            margin: 3vmin 0;
            padding: 3vmin 3vmin;
        }

        .top-link {
            display: inline-block; position: absolute;
            right: 2vmin; bottom: 0.5vmin;
            color: fade(@color-dark-normal, 50%);
            font-size: 60%;
        }

        .bottom-link {
            display: inline-block; position: relative;
            top: -0.5rem; left: 0.75rem;
            color: fade(@color-dark-normal, 50%);
            font-size: 80%;
        }

        .submit-button {
            display: block; position: relative;
            margin-top: 2vmin;
            font-size: 80%;
            letter-spacing: 0.5px;
        }

        .x-button {
            display: block; position: absolute;
            top: 0; right: 5vmin;
            opacity: 1;
        }
    }
}
