@import (reference) "~assets/styles/shared";

.Quad__column {
  display: flex;
  flex-direction: column;

  > span:first-of-type {
    margin-bottom: 0.0625rem;
  }
}

.Quad__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.Quads__multiRightContent {
  display: flex;

  > span {
    margin-right: 1.25rem;
  }
}

.Quad__infoParent {
  background-color: fade(@color-primary-alternate, 40%);
  display: flex;
  flex: 1;
}

.Quad__infoContainer {
  align-items: flex-end;
  border-top: 0.0625rem solid fade(@color-primary-background, 50%);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 1.75rem;
  padding: 1rem 0;

  @media @breakpoint-mobile {
    align-items: unset;
  }
}

.Quad__info {
  max-width: 12rem;
}

@media @breakpoint-mobile {
  .Quad__info {
    max-width: unset;
  }

  .Quad__infoContainer {
    margin: 0 1rem;
  }
}
