.hoverText {
  cursor: pointer;
}

.hoverClose {
  cursor: pointer;
}

.hoverClose:hover {
  opacity: 0.6;
}


.SVGDark > svg {
  stroke: #FAFAFA;
}

.SVGLight > svg {
  stroke: #1F1F1F;
}

.darkLink {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: #FAFAFA;


  /* :hover {
    text-decoration: underline;
  }

  :focus {
    outline: none;
    text-decoration: underline;
  }

  :active {
    text-decoration: none;
  } */
}

.lightLink {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: #1F1F1F;

  /* :hover {
    text-decoration: underline;
  }

  :focus {
    outline: none;
    text-decoration: underline;
  }

  :active {
    text-decoration: none;
  } */
}