// ARRANGEMENT
// styles for the layering of the elements

//	Vars
// 	these are intended for use with `z-index`
//	so will ultimately be applied within the respective stacking context.

//	Above Content
@above-all-content: 1000;

//	Masking
@mask: 2000;
@mask-above: 3000;
