@import "../partials/variables";

.marketsPage {
    .search-sort-row {
        padding: 2rem 0 1.7rem 0;
        white-space: nowrap;

        .sort-container {
            float: left;
        }

        .search-container {
            float: right;
            width: 40%;

            .search-control {
                width: 100%;
            }
        }
    }
}

@media (max-width: @screen-xs) {
    .marketsPage {
        .search-sort-row {
            padding: 1rem 0 2rem 0;
            white-space: wrap;

            .sort-container {
                display: block;
                float: none;
            }

            .search-container {
                display: block; float: none;
                width: 100%; max-width: 22rem;
                margin-top: 0.5rem;
            }
        }
    }
}