.btn, .btn-primary {
    color: @color-slate;
    background: @color-grey-lighter;
    border: 1px solid @color-grey-light;
    border-radius: 3px;

    // turn off the smoothing for buttons, so they look same
    .font-render-auto();
    font-size: @font-size-base;

    &:hover, &:active, &:focus {
        color: white;
        background: @color-slate;
        border: 1px solid @color-slate;
    }
}

.btn-highlighted {
    color: white;
    background: @faded-blue;
    border: 1px solid @faded-blue;

    &:hover, &:active, &:focus {
        color: white;
        background: @color-slate;
        border: 1px solid @color-slate;
    }
}

.btn-success {
    .button-variant(@color-white, @color-green, darken(@color-green, 2%));
}

// not sure why .btn-simple.btn-info does not work, so this is a hack to make it work
.btn-simple.btn-info {
    background-color: transparent;
    color: @font-color-link;
    border: 0;
    &:hover {
        color: #1084FF;
    }
    &:active {
        box-shadow: none;
    }
}