@import (reference) "variables";

.btn, .btn-primary {
    color: @color-white;
    background: @color-info-normal;
    border: 1px solid @color-info-normal;
    border-radius: 3px;
    padding: 8px 18px;

    // turn off the smoothing for buttons, so they look same
    .font-render-auto();
    font-size: @font-size-button;
    line-height: 1.3384;

    &:hover {
        color: @color-white;
        background: @color-info-hover;
        border-color: @color-info-hover;
    }

    &:active, &:focus {
        color: @color-white;
        background: @color-info-active;
        border-color: @color-info-active;
    }
}

.btn-success {
    .button-variant(@color-white, @color-success-normal, @color-success-hover);
}

.btn-plain {
    .button-variant(@color-plain-active, @color-plain-normal, @color-plain-hover);
}

.btn-warning {
    .button-variant(@color-white, @color-warning-normal, @color-warning-hover);
}

.btn-danger {
    .button-variant(@color-white, @color-danger-normal, @color-danger-hover);
}

.btn[disabled] {
    .button-variant(@color-grey, @color-grey-lightest, @color-grey-lightest);
    opacity: 1;
}

// not sure why .btn-simple.btn-info does not work, so this is a hack to make it work
.btn-simple.btn-info {
    background-color: transparent;
    color: @font-color-link;
    border: 0;
    &:hover {
        color: #1084FF;
    }
    &:active {
        box-shadow: none;
    }
}