// forms

.form-control, input, textarea, checkbox, select, option {
    height: auto; width: auto;
    padding: 0.5rem 0.7rem;
    max-height: 12rem;
    font-weight: 500;
    background: @color-grey-lightest2;
    border: 1px solid @color-grey-lighter;
    border-radius: 3px;
    box-shadow: none;

    &:focus:not(select), &:active:not(select) {
        border: 1px solid @color-grey-light;
        background: white;
        box-shadow: none;
    }

    .has-error {
        border-color: @danger-color;
    }
}

option {
    padding: 0;
    border: 0;
}

form {
    h3 {
        margin-bottom: 30px;
    }
    label {
        font-size: @form-label-font-size;
        font-weight: @font-weight-bolder;
        .font-render-smooth();
    }
    input {
        &:not([type=checkbox]):not([type=radio]) {
            -webkit-appearance: none;
        }
    }

    .has-error {
        .control-label,
        .help-block {
            color: @color-red;
        }
        &.has-feedback.text-danger.errorMessage {
            margin-top: 15px;
        }
        .input-group-addon {
            border-top-color: @danger-color;
            border-right-color: @danger-color;
            border-bottom-color: @danger-color;
            // this needs to be here even though it should be inherited from above
            border-width: 2px;
        }
    }

    .error-message {
        color: @danger-color;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: @font-size-base;
        font-weight: @font-weight-bolder;
        .font-render-smooth()
    }

    .error-message a {
        color: currentcolor;
        border-bottom: 1px solid currentcolor;
    }
}

.form-horizontal {
    & .control-label,
    & .form-control-static {
        text-align: left;
    }
}

.form-gap {
    margin-top: 30px;

    & > *:not(:first-child) {
        margin-left: 20px;
    }
}

.form-group .btn + .btn {
    margin-left: 20px;
}

.passwordStrengthInfo {
    font-size: @font-size-small;
    display: inline-block;

    .invalidIcon {
        color: @form-color-invalid;
    }

    .validIcon {
        color: @form-color-valid;
    }

    .invalid .invalidIcon,
    .valid .validIcon {
        display: inline-block;
    }

    .invalid .validIcon,
    .valid .invalidIcon {
        display: none;
    }
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    color: @font-color-default
}

.form-control[disabled],
.form-control[readonly] {
    background: @color-grey-lighter;
}

label {
    font-size: @form-label-font-size;
    font-weight: @font-weight-bolder;
    margin-bottom: 10px;
}

// form validations
.formValidation {
    & .invalidIcon {
        color: @form-color-invalid;
    }
    & .validIcon {
        color: @form-color-valid;
    }
    &.passwordStrengthInfo {
        font-size: @font-size-small;
        & .invalid .invalidIcon,
        & .valid .validIcon {
            display: inline-block;
        }
        & .invalid .validIcon,
        & .valid .invalidIcon {
            display: none;
        }
    }
}

@media (max-width: @screen-sm-min) {
    form {
        .btn {
            padding: 9px 12px;
        }
    }
}

select.select--big {
    font-size: @font-size-base;
}