.input-clear {
    .box {}

    .clear {
        display: inline-block; position: relative;
        left: -2rem;
        color: @color-grey-light2;
        background: transparent;
        border: 0;
    }
}