@import "variables";

.labelValue {
    white-space: nowrap;
    .labelValue-label, .labelValue-value {
        vertical-align: inherit;
    }
}

// need to be over-specific to override Bootstrap and GSDK
.table.table-condensed .labelValue .labelValue-value,
.labelValue .labelValue-value {
    font-weight: @font-weight-bolder;
}
