.order-ticket-display {
    display: block;

    .outcome {
        display: inline-block;
        margin-right: 1rem;

        h4 {
            padding: 0 1rem;
            font-size: 16px;
        }
    }
}