.order-ticket-display {
    display: block;

    .outcome {
        display: inline-block;
        margin-right: 1rem;
        vertical-align: top;

        h4 {
            padding: 0 1rem;
            font-size: 16px;
        }

        input[type="text"] {
            width: 100%;
        }
    }
}