// help popovers
.helpPopover {
    cursor: pointer;
    svg {
        cursor: pointer;
        color: @color-grey-light;
        width: @font-size-base;
        height: @font-size-base;
        margin-left: 10px;
        vertical-align: baseline;
    }
    &:hover svg {
        color: @font-color-link;
    }
    &:focus {
        outline: none;
        svg {
            color: @font-color-link;
        }
    }
}

@media (max-width: @screen-sm-min) {
    // popovers
    .popover {
        right: 0 !important;
        left: 0 !important;
        .arrow {
            display: none;
        }

    }

}