.submenu {
    .list-group {
        display: block;
        margin-bottom: 0;
        border-bottom: 1px solid @color-grey-light;

        .list-group-item {
            display: inline-block;
            top: 1px;
            margin-right: 4vw; margin-bottom: 0;
            padding: 0;
            text-align: center;
            border: 0;
            border-radius: 0;
            white-space: nowrap;

            &.active,
            &:focus {
                z-index: 1;
                background: 0;
                border-bottom: 3px solid @color-purple-dark;
            }

            a {
                display: block;
                padding: 10px 0;
                color: @font-color-header;
                font-weight: 300;
                text-decoration: none;

                &:hover,
                &:focus,
                &:active,
                &.active {
                    color: @font-color-link;
                }
            }
        }
    }
}

@media (max-width: @screen-sm-min) {
    .submenu {
        .list-group {
            .list-group-item {
                a {
                    font-size: 0.9rem;
                }
            }
        }
    }
}