// from gsdk/typography.less
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, a, .td-name, td, body {
    font-family: @font-family;
}

body,
p {
    font-size: @font-size-base;
    line-height: @line-height;
}

body, .checkbox, .radio {
    color: @font-color-default;
}

h1 {
    margin: 55px 0 35px;
}

h2 {
    margin: 40px 0;
}

h3 {
    margin: 30px 0 25px 0;
    font-style: italic;
    & > * {
        font-style: normal;
    }
}

h5, .h5 {
    font-size: @font-size-h5;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-weight: @font-weight-bolder;
    color: @font-color-header;
    > a {
        color: @font-color-default;
        &:hover,
        &:focus {
            color: @font-color-link;
            text-decoration: none;
        }
    }
}

li {
    .font-render-smooth();
}

a {
    color: @font-color-link;
}

.text-danger a {
    color: currentcolor;
    border-bottom: 1px solid currentcolor;
}

small {
    font-size: @font-size-small;
}

.text--strong,
strong {
    font-weight: @font-weight-bolder;
}

svg {
    fill: currentColor;
    vertical-align: middle;
}

.text-danger, .text-danger:hover {
    color: @color-red !important; // overwritting the typography.less
}

.tab-pane > .table + h3,
.table + h3 {
    margin-top: 40px;
}

.checkIcon path {
    fill: @color-green;
    stroke: @color-green;
}

@media (max-width: @screen-sm-min) {
    h1 {
        margin: 30px 0 15px;
        font-size: 28px;
    }

    h2 {
        margin: 20px 0;
        font-size: 20px;
        &.subtitle {
            display: none;
        }
        .caret {
            border-width: 8px;
        }
    }

    h3 {
        margin: 18px 0;
        font-size: 18px;
    }

    h4 {
        margin: 15px 0;
        font-size: 16px;
    }
}


