@font-family: 'Roboto', 'Open Sans', sans-serif;

// define colors
@color-white: #fff;
@color-green: #16a085;
@color-red: #d57373;
@color-blue-light: #2ca8ff;

// !! new colors (per zeplin design) should remove above dupes, but don't know enough about the app yet to do that
@color-grey-dark: #526069;
@color-grey: #76838F;
@color-grey-light: #A3AFB7;
@color-grey-light2: #CCD5DB;
@color-grey-lighter: #E4EAEC;
@color-grey-lightest: #f3f7f9;
@color-grey-lightest2: #fcfdfd;

@color-slate: #54657e;
// !! end new colors

@color-base: #62A8EA;
@color-flat: #3c4d58;

@color-teal: #3aa99e;
@color-teal-dark: #33948a;

@color-purple: #a15e87;
@color-purple-dark: #864F71;
@color-purple-lighter: #D491BA;

@color-primary-normal: #62a8ea;
@color-primary-hover: #3583ca;
@color-primary-active: #3075b5;

@color-plain-normal: #e4eaec;
@color-plain-hover: #ccd5db;
@color-plain-active: #76838f;

@color-dark-normal: #526069;
@color-dark-hover: #76838F;
@color-dark-active: #37474F;

@color-success-normal: #3aa99e;
@color-success-hover: #269b8f;
@color-success-active: #1f7f76;

@color-info-normal: #57c7d4;
@color-info-hover: #77d6e1;
@color-info-active: #47b8c6;

@color-warning-normal: #f2a654;
@color-warning-hover: #f4b066;
@color-warning-active: #e79857;

@color-danger-normal: #f96868;
@color-danger-hover: #fa7a7a;
@color-danger-active: #e9595b;

@color-dark-bg: #34495E;
@color-dark-bg-active: #2C3E50;

@color-menu-border: @color-grey-lightest2;
@color-menu-border-active: @color-grey-lightest;

// override GSDK and bootstrap
@danger-color: @color-red;
@danger-bg: @color-red;
@state-danger-text: @color-red;
// used the same (approximate) desaturation they used in GSDK variables.less
@danger-states-color: desaturate(@color-red, 15%);

// fonts
@font-color-default: @color-plain-active;
@font-color-header: @color-dark-active;
@font-color-light: @color-dark-hover;
@font-color-link: @color-dark-normal;

@font-size-base: 14px;
@font-size-medium: 14px;
@font-size-small: 13px;

@font-size-h1: 32px;
@font-size-h2: 24px;
@font-size-h3: 24px;
@font-size-h4: 18px;
@font-size-h5: 14px;

@font-size-button: @font-size-small;
@font-weight-bolder: 600;
@font-weight-normal: 400;

@line-height: 1.7;

// forms
@form-label-font-size: @font-size-base;
@form-color-valid: @color-blue-light;
@form-color-invalid: @color-grey-light;

// footer
@color-footer-text: @color-grey-light;
@font-size-footer-title: 18px;

// tables
@font-size-table-row: @font-size-medium;
@table-border-color: @color-grey-light;
@table-border-color-active: @color-grey;
@table-row-height: 45px;
@table-row-height-small: 30px;
@table-row-height-large: 95px;
@table-bg-active: @color-grey-lighter;
