@import (reference) '~assets/styles/shared';

.AugurStatusContent {
  align-items: center;
  background: @color-tertiary-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: @size-24 0;

  > a {
    .mono-10;

    color: @color-shadow-text;
    margin: @size-12 0 @size-18;
    text-align: center;
    text-decoration-line: underline;
  }
}

@media @breakpoint-mobile-mid {
  .AugurStatusContent {
    background: unset;
    padding-top: 0;
  }
}
