@import (reference) '~assets/styles/shared';

.BlockStatus {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: @size-18 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  > div {
    flex: 1;

    > div:first-of-type {
      .mono-10;

      color: @color-shadow-text;
      text-align: center;
    }

    > div:nth-of-type(2) {
      .text-14;

      color: @color-secondary-text;
      margin: @size-4 0 0;
      text-align: center;
    }
  }
}

.ShowOnMobile {
  display: none;
}

.HideOnMobile {
  display: flex;
  padding-bottom: 1.5rem;
}

@media @breakpoint-mobile-mid {
  .ShowOnMobile {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
  }

  .HideOnMobile {
    display: none;
  }
}
