@import (reference) "~assets/styles/shared";

.CompleteSets {
  .text-12;

  align-items: center;
  background-color: @color-primary-alternate;
  color: @color-secondary-text;
  display: flex;
  justify-content: space-between;
  padding: @size-8 @size-32;
  width: 100%;

  > span {
    flex: 1;
  }

  > button {
    .button--whiteRound();

    &:disabled,
    &:disabled:hover {
      border-color: @color-disabled-text;
      color: @color-disabled-text;
      cursor: not-allowed;
      text-decoration: none;
    }
  }
}
