@import (reference) '~assets/styles/shared';

.Order {
  display: grid;
  flex-direction: row;
  flex-grow: 1;
  grid-template-columns: repeat(5, 1fr);

  > li {
    align-items: center;
    color: @color-less-neutral;
    display: flex;
    flex-grow: 1;
    font-family: @roboto-mono;
    font-size: @size-11;
    white-space: nowrap;

    > span > label {
      font-size: @size-11;
    }

    &:first-child {
      .text-12-bold;

      display: block;
      font-family: @roboto;
      font-weight: 500;
      margin: auto 0;
      max-width: 100%;
      overflow: hidden;
      padding-left: 0.5rem;
      text-overflow: ellipsis;
    }

    &:nth-of-type(2) {
      font-family: @roboto;
      position: relative;

      > span:nth-of-type(2) {
        display: none;
        left: 0;
        position: absolute;
      }
    }

    &:last-of-type {
      position: relative;

      > span {
        position: absolute;
        right: -2px;
      }
    }

    &:not(:first-child) {
      justify-content: flex-end;
    }
  }
}

.Order__group {
  padding: 0 1.75rem 0 1.5rem;
}

.Order__innerGroup {
  border-top: 0.0625rem solid @color-primary-background;
  padding: 0.5rem 0;
}

.Order__innerGroupExtended {
  border: 0;
}

.Order__extended {
  border-bottom: 0.0625rem solid @color-primary-background;
}

.Order__parentSingle {
  &:not(:first-of-type) {
    border-top: 0.0625rem solid @color-primary-background;
  }
}

.Order__single {
  padding: 0.5rem 1.75rem 0.5rem 1rem;
}

.Order__arrow {
  margin-left: 1.5rem;
  padding-right: 0;
}

.Order__border {
  border-bottom: 0.0625rem solid @color-primary-background;
}

.Order__extendedView {
  grid-template-columns: repeat(6, 1fr) 6.2rem;
}

.Position,
.FilledOrder {
  > li {
    &:first-child {
      font-weight: 500;
    }
  }
}

.FilledOrder {
  grid-template-columns: repeat(5, 1fr) minmax(5rem, 1fr) 3.2rem;
}

.FilledOrder__extendedView {
  grid-template-columns: repeat(5, 1fr) 6rem;

  > li {
    &:first-child {
      padding-left: 0;
    }
  }
}

.OpenOrder_infoContainer {
  background: @color-active-hover;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.OpenOrder__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.5rem 1.625rem 0.5rem 2rem;

  > div {
    display: flex;
    flex: 1;

    > button {
      display: none;
    }
  }

  > span {
    color: @color-white;
    display: flex;
    flex-direction: column;
    font-size: @size-11;
    font-weight: 500;
    margin-bottom: 0.625rem;
  }
}

.OpenOrder__infoSingle {
  padding-left: 1.5rem;
}

div.OpenOrder__labels {
  margin-bottom: 0;
  max-width: 12rem;

  > div:nth-of-type(2) {
    margin-bottom: 0;
  }

  > div:nth-of-type(3) {
    display: none;
  }
}

.OpenOrder__timestamp {
  align-items: flex-end;
  color: @color-alternate-text;
  display: flex;
  flex: 1;
  font-family: @roboto-mono;
  font-size: @size-11;
  justify-content: flex-end;
  text-align: right;
}

.Position {
  grid-template-columns: repeat(8, 1fr);

  > li {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      position: relative;

      > button {
        height: 1.25rem;
        left: 100%;
        margin-left: 0.375rem;
        position: absolute;
        width: 1.5rem;
      }
    }
  }
}

.Position_infoContainer {
  background: fade(@color-primary-alternate, 10%);
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem 4rem 0.5rem 0;
}

.Position__info {
  align-items: flex-end;
  flex: 1;
  flex-direction: column;
  grid-template-rows: repeat(2, 1fr);
  max-width: 250px;

  > span:first-of-type {
    display: none;
  }
}

.Position__border {
  border-top: 0.0625rem solid @color-primary-background;
}

.Position__innerSingle {
  padding: 0.5rem 0;
}

.Position__single {
  padding: 0 1.75rem 0 1.5rem;
}

.Position__arrow {
  margin-left: 1.25rem;
  padding-right: 0;
}

.Position__extended {
  grid-template-columns: repeat(6, 1fr);

  > li {
    &:first-child {
      padding-left: 0.5rem;
    }
  }
}

@media @breakpoint-mobile-mid {
  .Order {
    grid-template-columns: repeat(3, 1fr);
    position: relative;

    > li {
      > span > label {
        font-size: @size-10;
      }

      &:first-child {
        .text-11-bold;

        grid-column: 1 / span 6;
        margin-bottom: 0.375rem;
        padding-left: 0;
      }

      &:nth-of-type(2) {
        justify-content: flex-start;
        position: static;
        text-align: left;

        > span:nth-of-type(2) {
          display: block;
          left: unset;
          right: 0;
          top: 0;
        }
      }

      &:last-of-type {
        > button,
        > span {
          display: none;
        }
      }
    }
  }

  .Order__single {
    border: 1px solid @color-primary-alternate;
    border-radius: @border-radius-default;
    padding-bottom: @size-12;
    padding-left: @size-16;
    padding-right: @size-20;
  }

  .Order__parentSingle {
    border-radius: @border-radius-default;
    border-top: 0;
    margin-top: 0.125rem;
  }

  .Order__group {
    padding-left: @size-16;
    padding-right: @size-20;
  }

  .Order__arrow {
    margin-left: 1.25rem;
  }

  .FilledOrder {
    grid-template-columns: repeat(5, 1fr);
    position: relative;

    > li {
      &:first-child {
        grid-column: 1 / span 8;
      }

      &:nth-of-type(6) {
        display: none;
      }
    }
  }

  .Position {
    grid-template-columns: repeat(6, 1fr);

    > li {
      &:first-child {
        grid-column: 1 / span 8;
      }

      &:last-child {
        display: none;
      }
    }
  }

  .Position__innerSingle {
    padding: 0.75rem 0;
  }

  .Position__single {
    background: fade(@color-primary-alternate, 40%);
    border: 0;
    padding: 0 1rem;
  }

  .Position_infoContainer {
    padding: 0 0 0.75rem;
  }

  .Position__info {
    max-width: unset;

    > span:first-of-type {
      display: flex;
    }
  }

  .Position__extended {
    grid-template-columns: repeat(5, 1fr);

    > li {
      &:last-child {
        display: flex;
      }
    }
  }

  div.OpenOrder__labels {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: unset;

    > div:nth-of-type(2) {
      margin-bottom: 0.375rem;
    }

    > div:nth-of-type(3) {
      display: flex;
    }
  }

  .OpenOrder__timestamp {
    display: none;
  }

  .OpenOrder__info {
    padding: 0 @size-16 @size-8;

    > div {
      flex-direction: column;

      > button {
        display: flex;
        justify-content: flex-end;
        margin-top: @size-16;
        padding-bottom: @size-8;
      }
    }
  }

  .OpenOrder__infoSingle {
    border: 1px solid @color-primary-alternate;
    border-radius: @border-radius-default;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1rem;
  }

  .Order__border {
    border: 0;
    border-bottom: 0.0625rem solid @color-primary-background;
  }
}
