.my-reports {
  .report-committed {
    color: @color-red-light;
  }

  .portfolio-market .fa {
    padding: 0 0.4em;

    &.report-unequal,
    &.report-unethical,
    &.outcome-challenged {
      color: @color-red-light;
    }

    &.outcome-challengeable {
      color: @color-orange-light;
    }

    &.report-equal {
      color: @color-green-light;
    }
  }
}
