@import (reference) '~assets/styles/shared';

.Paginator {
  .mono-14;

  color: @color-less-neutral;
  height: 3.125rem;
  margin: 2.5rem 0;
}

.Paginator__controls {
  display: flex;
  height: 100%;
}

.Paginator__back,
.Paginator__location,
.Paginator__forward {
  flex: 1;
  height: 100%;
}

.Paginator__location {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  max-width: fit-content;
}

.Paginator__button {
  align-items: center;
  background: none;
  display: flex;
  height: 100%;
  padding: 0;
  text-decoration: none;

  button {
    align-items: center;
    background: @color-theme-primary;
    border: 1px solid @color-highlight;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;

    svg path {
      stroke: @color-neutral;
    }
  }

  button:hover {
    background: fade(@color-highlight, 30%);

    svg path {
      stroke: @color-secondary-text;
    }
  }
}

.Paginator__back > .Paginator__button {
  justify-content: flex-end;
  padding-left: 1.25rem;
}

.Paginator__forward > .Paginator__button {
  justify-content: flex-start;
  padding-right: 1.25rem;
}

.Paginator__forwardArrorw {
  transform: rotateY(180deg);
}

@media @breakpoint-mobile-small {
  .Paginator__location {
    flex: 2;
    max-width: none;
  }
}
