@import (reference) '~assets/styles/shared';

.OrphanedOrder {
  margin-bottom: 45px;
  position: relative;
}

.Order {
  display: flex;
  margin-bottom: 3rem;
}

.Order__learnMore {
  background-color: @color-dark-gray;
  border: 1px solid @color-outcome-four;
  color: @color-white;
  display: flex;
  font-family: @roboto;
  font-size: @font-size-small;
  left: 0;
  padding: @size-10 1.5rem;
  position: absolute;
  right: 0;

  &::before {
    border: 10px solid transparent;
    border-bottom-color: @color-outcome-four;
    bottom: 100%;
    content: '';
    display: block;
    height: 0;
    left: 18px;
    position: absolute;
    width: 0;
  }

  &::after {
    border: solid transparent;
    border-bottom-color: @color-dark-gray;
    border-width: 8px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 20px;
    pointer-events: none;
    position: absolute;
    width: 0;
  }

  > div {
    display: flex;

    > svg {
      margin-right: 0.5rem;

      > circle {
        opacity: 1;
        stroke: @color-outcome-four;
      }

      > rect {
        fill: @color-outcome-four;
      }

      > path {
        fill: @color-outcome-four;
      }
    }

    > span {
      .mono-11-bold;

      text-transform: uppercase;
    }
  }
}

.Order__link {
  .mono-12;

  color: @color-white;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

@media @breakpoint-mobile {
  .OrphanedOrder {
    margin-bottom: 67px;
  }

  .Order__learnMore {
    flex-direction: column;
    padding: @size-10 1rem;
  }

  .Order__link {
    margin-top: @size-10;
  }
}
