@import (reference) '~assets/styles/shared';

.AccountUniverseDescription {
  margin-bottom: 2em;

  h3 {
    color: @color-purple;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.AccountUniverseDescription__container {
  border-bottom: 1px solid @color-lightergray;
  height: 3em;
}

.AccountUniverseDescription__label {
  float: left;
  width: 50%;
}

.AccountUniverseDescription__winning_universe {
  color: #9e82ef;
  font-size: small;
  font-weight: bold;
  margin-top: 0.25em;
  text-transform: uppercase;
}

.AccountUniverseDescription__description {
  margin-top: 1em;

  div {
    font-size: 0.7em;
    font-weight: bold;
    padding: 0.5em 0;
    text-transform: uppercase;
  }
}

.AccountUniversesDescription__button {
  &:extend(.button--purple all);

  float: right;
}
