@import (reference) '~assets/styles/shared';

// Used in Betting UI
.ScalarOutcomes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: @size-8 @size-16;
  position: relative;

  @media @breakpoint-mobile {
    background: @color-module-background;
    padding: @size-24 @size-16 @size-10;
  }

  > div:first-of-type {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-bottom: @size-5;

    > div:first-of-type,
    > div:last-of-type {
      .mono-9-bold;

      display: flex;
      flex-direction: column;
      color: @color-secondary-text;
      text-transform: uppercase;
      line-height: 160%;

      > span {
        .mono-10;

        color: @color-primary-text;
        line-height: 100%;
      }
    }

    > div:nth-of-type(2) {
      .mono-9;

      color: @color-primary-text;
      display: flex;
      flex: 1;
      justify-content: center;
      text-transform: uppercase;
    }
  }

  > div:nth-of-type(2) {
    flex-grow: 1;
    position: relative;

    > svg {
      bottom: 25%;
      position: relative;
      top: -@size-10;
    }

    > div {
      .text-14-bold;

      left: 50%;
      position: absolute;
      top: @size-7;

      > span:first-of-type {
        .mono-9;

        color: @color-primary-text;

        &::before {
          background-color: @color-primary-action;
          border-radius: 50%;
          content: "";
          height: @size-5;
          left: 0;
          margin: auto;
          position: absolute;
          right: 0;
          top: -@size-7;
          width: @size-5;
        }
      }
    }
  }
}
