@import (reference) '~assets/styles/shared';

.ScalarOutcomes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: @size-40 @size-24 @size-16;
  padding-bottom: 1.7rem;
  position: relative;

  @media @breakpoint-mobile {
    background: @color-tertiary-background;
    padding: @size-24 @size-16 @size-10;
  }

  > div:first-of-type {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-bottom: @size-5;

    > div:first-of-type,
    > div:last-of-type {
      background-color: @color-secondary-text;
      height: @size-16;
      width: 1px;
    }

    > div:nth-of-type(2) {
      flex-grow: 1;
      margin-left: @size-6;
      margin-right: @size-6;
      position: relative;

      > svg {
        bottom: 25%;
        position: relative;
      }

      > div {
        .text-14-bold;

        left: 50%;
        position: absolute;
        top: -14.45px;
        transform: translateX(-50%);

        > span:first-of-type {
          &::before {
            background-color: @color-outcome-seven;
            border-radius: 50%;
            content: "";
            height: @size-5;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 1.3rem;
            width: @size-5;
          }
        }

        > span:nth-of-type(2) {
          left: @size-4;
          position: relative;
        }
      }
    }
  }

  > div:nth-of-type(2),
  > div:last-of-type {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    > div:first-of-type {
      flex-grow: 1;
    }
  }

  > div:nth-of-type(2) {
    .text-12;

    > div > span {
      font-weight: bold;
    }
  }

  > div:last-of-type {
    .text-10;

    margin-top: @size-4;
  }
}
