@import (reference) '~assets/styles/shared';

.Swap, .Pool {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div:nth-of-type(2) {
    align-items: center;
    background: var(--color-table-header);
    display: flex;
    height: @size-40;
    justify-content: center;
    margin: 0 @size-8;

    > svg {
      height: @size-16;
      width: @size-16;

      > path {
        stroke: var(--color-dark-text);
      }
    }
  }

  > div:last-of-type {
    margin: auto;

    > button {
      .text-12-bold;

      background: var(--color-primary-action);
      margin-top: @size-16;
      border-radius: @size-3;
      padding: @size-9 @size-12;
      color: var(--color-dark-grey);
    }
  }
}

.Pool {
  > div:nth-of-type(2) {
    .text-24;

    color: var(--color-dark-text);
  }
}
