@import (reference) '~assets/styles/shared';

.Swap, .Pool {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div:first-of-type {
    > div:nth-of-type(2) div {
      cursor: pointer;
    }

    > div:nth-of-type(2) > div:nth-of-type(2) > div:hover {
      border: @size-1 solid var(--color-primary-text);
    }
  }

  > div:nth-of-type(2) {
    align-items: center;
    background: var(--color-table-header);
    display: flex;
    height: @size-40;
    justify-content: center;
    margin: 0 @size-8;

    > svg {
      height: @size-16;
      width: @size-16;

      > path {
        stroke: var(--color-dark-text);
      }
    }
  }

  > div:last-of-type {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    > button {
      margin-top: @size-16;
    }
  }
}

.Pool {
  > div:nth-of-type(2) {
    .text-24;

    color: var(--color-dark-text);
  }
}

.SwapError {
  .text-12;

  color: var(--color-error);
  margin: @size-16 0 0 0;
}
