@import (reference) '~assets/styles/shared';

.SwapRow {
  background: var(--color-dark-grey);
  border-radius: @size-12;
  display: flex;
  flex-direction: column;
  height: 87px;
  justify-content: space-between;
  padding: @size-12 @size-16;

  > div {
    user-select: none;
    display: grid;
    grid-template-columns: 1fr auto;
  }

  > div:first-of-type {
    > div {
      .text-12;

      color: var(--color-primary-text);
      cursor: pointer;
    }
  }

  > div:last-of-type {
    > div {
      .text-24;

      color: var(--color-secondary-text);
    }

    > div:last-of-type {
      > div {
        .text-16;

        align-items: center;
        background: var(--color-secondary-action);
        border: @size-1 solid var(--color-secondary-action-outline);
        border-radius: @size-16;
        display: flex;
        justify-content: space-evenly;
        height: @size-32;
        width: 98px;

        > div {
          min-width: 110px;
        }

        svg:first-of-type {
          fill: var(--color-secondary-text);
          transform: scale(1.25);
          width: @size-16;
        }

        svg:last-of-type {
          width: @size-12;

          > g {
            stroke-width: 2;
            fill: var(--color-secondary-text);
          }
        }
      }
    }
  }
}

.SwapRow {
  div[class*='TextInput'] > div > input {
    .text-24;

    border: none;
    padding: 0;
  }

  div[class*='TextInput'] > div:hover {
    border: none;
  }
}
