@import (reference) '~assets/styles/shared';

.SwapRow {
  background: @color-dark-grey;
  border-radius: @size-12;
  display: flex;
  flex-direction: column;
  height: 87px;
  justify-content: space-between;
  padding: @size-12 @size-16;

  > div {
    user-select: none;
    display: grid;
    grid-template-columns: 1fr auto;
  }

  > div:first-of-type {
    > div {
      .text-12;

      cursor: pointer;
      color: @color-primary-text;
    }
  }

  > div:last-of-type {
    > div {
      .text-24;

      align-items: center;
      color: @color-secondary-text;
      display: flex;
    }

    > div:last-of-type {
      > div {
        .text-16;

        align-items: center;
        background: @color-secondary-action;
        border: @size-1 solid @color-secondary-action-outline;
        border-radius: @size-16;
        display: flex;
        justify-content: space-evenly;
        height: @size-32;
        width: 98px;
        margin: @size-12 0;

        svg:first-of-type {
          fill: @color-outcome-seven;
          transform: scale(1.25);
          width: @size-12;
        }

        svg:last-of-type {
          fill: @color-outcome-seven;
          width: @size-12;

          > g {
            stroke-width: 2;
          }
        }
      }
    }
  }
}

.SwapRow {
  div[class*='TextInput'] > div > input {
    .text-24;

    border: none;
    padding: 0;
  }

  div[class*='TextInput'] > div:hover {
    border: none;
  }

  div[class*='FormDropdown'] > div {
    min-width: 6.25rem;
  }
}
