@import (reference) '~assets/styles/shared';

.ReportDispute {
  color: @color-white;
  overflow: hidden;
}

.NoMarkets__container {
  color: @color-lightgray;
  font-size: @font-size-large;
  font-weight: 500;
  line-height: @font-size-rather-large;
  padding: 0 2rem;
}

.ReportDispute__details {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media @breakpoint-mobile {
  .NoMarkets__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
