@import (reference) "~assets/styles/shared";

.TradingForm {
  > ul {
  padding: @size-12 @size-16 0;

    > li {
      .text-16;

      color: @color-primary-text;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;

      &.yesOption {
        padding: @size-16 @size-32;
      }

      &:not(:last-child) {
        margin-bottom: @size-8;

        > label {
          .mono-10;

          text-transform: uppercase;
        }
      }

      &:last-child,
      &:nth-last-child(1) {
        align-items: center;
        border: none;
        flex-direction: row;
        font-size: @size-12;

        > label {
          color: @color-primary-text;
          padding: @size-7 0 0 @size-32;
        }
      }

      > label {
        color: @color-inactive-text;
        margin-bottom: 0;
        padding-bottom: @size-4;
        width: 100%;

        &.smallLabel {
          .text-10;

          color: @color-primary-text;
          padding-top: @size-8;
          text-transform: none;

          > svg {
            height: @size-12;
            width: @size-12;

            > circle {
              fill: @color-theme-primary;
              opacity: 1;
              stroke: @color-highlight;
            }

            > rect {
              fill: @color-inactive-text;
            }

            > path {
              fill: @color-inactive-text;
            }
          }
        }

        &:last-child,
        &:nth-last-child(2) {
          align-items: center;
          border: none;
          display: flex;

          > svg {
            margin-right: @size-6;
          }
        }
      }
    }
  }
}

.TradingForm__button__clear {
  .mono-12;

  color: @color-primary-action;
  display: inline-block;
  padding: @size-4 @size-12;
  text-transform: uppercase;
}

.TradingForm__error_message_container {
  background: fade(@color-error, 20%);
  border: 1px solid @color-error;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  font-size: @size-12;
  line-height: @size-14;
  margin: @size-16;
  padding: @size-13 @size-8;
}

.TradingForm__error_message {
  .mono-10-bold;

  color: @color-primary-text;
  margin-bottom: @size-4;
  text-transform: uppercase;
  white-space: nowrap;

  &:last-of-type {
    margin-bottom: 0;
  }

  > svg {
    height: @size-12;
    vertical-align: text-bottom;
    width: @size-12;

    > circle {
      fill: fade(@color-error, 20%);
      opacity: 0.5;
      stroke: @color-error;
    }

    > rect {
      fill: @color-error;
    }

    > path {
      fill: @color-error;
    }
  }

  span {
    white-space: nowrap;
  }
}

.Outcome {
  padding: @size-8 @size-16 0;
}

.HideOnMobile {
  @media @breakpoint-mobile {
    display: none;
  }
}

.Yes {
  .text-14-medium;

  background-color: @color-theme-primary;
  border: 1px solid @color-primary-alternate;
  border-radius: @border-radius-default;
  padding: @size-10 @size-10 @size-10 @size-16;

  > span {
    .mono-11;

    color: @color-inactive-text;
    text-transform: uppercase;
  }
}

.TradingForm__input {
  display: flex;
  flex-grow: 1;
  padding: @size-7 @size-16;
  width: auto;
}

.TradingForm__input__container {
  align-items: center;
  background-color: @color-dark-grey;
  border: 1px solid @color-primary-alternate;
  display: flex;
  flex-direction: row;
  font-family: @roboto-mono;

  > input[type="number"] {
    background-color: @color-dark-grey;
    border-width: 0;
    color: @color-primary-text;
    font-family: @roboto-mono;
    font-size: @size-14;

    &::placeholder {
      color: fade(@color-primary-text, 20%);
      font-family: @roboto-mono;
      font-size: @size-14;
    }
  }

  &.error {
    border: 1px solid fade(@color-error, 50%);

    &:focus-within,
    &:focus {
      border: 1px solid fade(@color-error, 50%);
    }
  }

  > span {
    .text-12;

    background: @color-tertiary-background;
    border-left: 1px solid @color-primary-alternate;
    color: @color-primary-text;
    min-width: 4.28rem;
    overflow: hidden;
    padding: @size-10 @size-12;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    &.isScalar_smallText {
      font-size: @size-9;
    }

    &.isScalar_largeText {
      font-size: @size-11;
    }

    &.error {
      background: fade(@color-error, 20%);
      border-left: 0;
      opacity: 0.5;
    }
  }

  > label {
    color: @color-inactive-text;
    font-size: @size-12;
  }

  &:focus-within {
    border: 1px solid @color-highlight;

    > span {
      background: @color-highlight;
      border-left: 0;

      &.error {
        background: fade(@color-error, 20%);
        opacity: 0.5;
      }
    }

    > input {
      border: 0;
    }
  }
}

@media @breakpoint-mobile {
  .Outcome {
    background: @color-dark-grey;
    margin-bottom: @size-24;
    margin-top: @size-16;
    padding-bottom: 0;
    padding-top: 0;
  }

  .TradingForm__input__container {
    > span {
      font-size: @size-9;
    }

    > input[type="number"] {
      font-size: @size-12;

      &::placeholder {
        font-size: @size-12;
      }
    }
  }

  .TradingForm__error_message {
    > svg {
      fill: none;
      height: @size-16;
      width: @size-16;

      > circle {
        stroke: @color-primary-light;
        fill: @color-tertiary-one;
      }
    }
  }
}
