@import (reference) "~assets/styles/shared";

.Container {
  margin-top: @size-40;
  display: flex;
  flex-flow: row nowrap;

  @media @breakpoint-mobile-tablet {
    flex-flow: row wrap;
  }

  @media @breakpoint-mobile {
    margin-top: @size-24;
  }
}

.ChartArea {
  padding: @size-16;
  background: var(--color-module-background);
  box-shadow: 0 0 @size-4 var(--color-primary-text-15);
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-template-rows: @size-32 0fr;

  @media @breakpoint-mobile-tablet {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
  }

  > h4 {
    .text-16-bold;

    color: var(--color-primary-text);
    text-transform: capitalize;
    grid-column: 1;
    grid-row: 1;

    @media @breakpoint-mobile-tablet {
      margin-bottom: @size-8;
    }
  }

  > div:first-of-type:not(:last-of-type) {
    grid-column: 1;
    grid-row: 1;
    align-items: flex-start;
    
    @media @breakpoint-mobile-tablet {
      flex-flow: column nowrap;
      align-items: center;
      margin-bottom: @size-4;

      &[class*="Minimal"] {
        height: unset;
      }
    }

    > span:first-of-type {
      .text-16-bold;

      color: var(--color-primary-text);
      text-transform: capitalize;
    }

    > button:first-of-type > span:first-of-type {
      .text-16-bold;

      color: var(--color-primary-text);
    }
  }

  > div:last-of-type {
    grid-column: span 2;
    grid-row: 2;
  } 
}

.RangeSelection {
  display: flex;
  flex-flow: row nowrap;
  grid-column: 2;
  grid-row: 1;

  > li {
    margin: 0 @size-8;

    > button {
      .text-12-semi-bold;

      color: var(--color-secondary-text);
      border-bottom: @size-2 solid transparent;
      white-space: nowrap;

      &.selected {
        color: var(--color-primary-text);
        border-bottom: @size-2 solid var(--color-primary-text);
      }
    }
  }
}

.Legend {
  width: @size-222;
  background: transparent;
  padding-left: @size-24;

  > h5 {
    .text-16-bold;

    color: var(--color-primary-text);
  }

  > ul {
    margin-top: @size-16;

    > li {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: @size-2;

      &.hidden {
        display: none;
      }

      > span:first-of-type {
        .text-14-bold;

        color: var(--color-primary-text);
        display: flex;
        align-items: center;

        &:before {
          content: " ";
  
          width: @size-6;
          height: @size-6;
          border-radius: @size-16;
          margin-right: @size-4;
        }
      }

      &.invalid {
        > span:first-of-type {
          color: var(--color-outcome-invalid);
        }
      }
      
      > span:last-of-type {
        .text-14;

        color: var(--color-primary-text);
        margin-left: @size-10;
      }

      &[id="legend-outcome-0"] > span:first-of-type:before {
        background: var(--color-outcome-invalid);
      }
      &[id="legend-outcome-1"] > span:first-of-type:before {
        background: var(--color-outcome-one);
      }
      &[id="legend-outcome-2"] > span:first-of-type:before {
        background: var(--color-outcome-two);
      }
      &[id="legend-outcome-3"] > span:first-of-type:before {
        background: var(--color-outcome-three);
      }
      &[id="legend-outcome-4"] > span:first-of-type:before {
        background: var(--color-outcome-four);
      }
      &[id="legend-outcome-5"] > span:first-of-type:before {
        background: var(--color-outcome-five);
      }
      &[id="legend-outcome-6"] > span:first-of-type:before {
        background: var(--color-outcome-six);
      }
      &[id="legend-outcome-7"] > span:first-of-type:before {
        background: var(--color-outcome-seven);
      }
      
    }
  }

  @media @breakpoint-mobile-tablet {
    flex: 1 100%;
    padding-left: 0;

    > h5 {
      display: none;
    }

    > ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: @size-8 @size-12;
      margin-top: @size-24;
    }
  }
}