@import (reference) '~assets/styles/shared';

.AdditionalDetails {
  .text-12-paragraph;

  color: @color-secondary-text;
  margin: auto;
  max-width: 62.75rem;
  overflow: auto;
  padding: @size-30 @size-32;
  transition: height @animation-speed-normal @animation-default-type;

  > h4 {
    .text-12;

    color: @color-tertiary-text;
    display: inline-block;
    padding-right: @size-8;
  }

  > p {
    margin-bottom: 0;
  }

  &.Text {
    background: none;
    border: 0;
    color: @color-tertiary-text;
    margin: @size-16 0 0;
    overflow: hidden;
    padding: 0;
    resize: none;
    text-transform: none;
    white-space: pre-wrap;
  }

  @media @breakpoint-mobile-medium {
    padding-left: @size-16;
    padding-right: @size-16;
  }
}