@import (reference) '~assets/styles/shared';

.Keystore {
  align-items: center;
  display: flex;
  padding: 2rem 6rem;
  width: 100%;
}

.Keystore__content {
  position: relative;
  width: 100%;
}

.Keystore__form {
  width: 100%;

  h3 {
    font-size: @font-size-large;
  }

  label {
    &:extend(.Label--dark);

    font-weight: 500;
  }

  input::placeholder {
    color: @color-lightgray;
  }
}

.Keystore__input-wrapper {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.75rem;
  width: 100%;

  > div {
    &:first-child {
      margin-right: 3rem;
      max-width: 22.5rem;
      width: 100%;
    }

    &:last-child {
      margin-top: 1rem;
      padding-bottom: 1rem;
      width: 10rem;
    }
  }
}

.Keystore__actions {
  display: flex;
  width: 100%;

  > button {
    &:extend(.button--purple all);
  }
}

.Keystore__instruction {
  margin-top: 2rem;
  position: absolute;
}

.Keystore__suggestions {
  ul {
    list-style: disc;

    li {
      font-size: @font-size-medium;
      margin: 1em 0 0 1em;
    }
  }
}

.Keystore__file {
  display: none;
}

.Keystore__label--upload {
  align-items: flex-end;
  display: flex;
  font-size: @font-size-large;
  line-height: 1.3rem;
  margin-bottom: 0;
  text-decoration: underline;

  > span {
    height: 1.2em;
    margin-right: 0.5em;
    width: 1.2em;

    > svg {
      height: 100%;
      width: 100%;
    }
  }
}

@media @breakpoint-mobile {
  .Keystore {
    padding: 0 2rem;
  }

  .Keystore__content {
    margin: auto;
    max-width: 36rem;
  }

  .Keystore__input-wrapper {
    margin-bottom: 2rem;
  }

  .Keystore__instruction {
    margin-top: 1rem;
  }
}

@media @breakpoint-mobile-small {
  .Keystore__input-wrapper > div:first-child {
    margin-right: 0;
  }
}
