@import (reference) '~assets/styles/shared';

.DataTableHeader {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(5, 1fr);
  min-height: @size-32;
  max-height: @size-32;
  width: 100%;
  margin-right: @size-26;

  &.NoRightMargin {
    margin-right: 0;
  }

  > li {
    .mono-10-bold;

    align-items: center;
    color: @color-secondary-text;
    display: flex;
    flex-grow: 1;
    padding: 0;
    text-transform: uppercase;
    white-space: nowrap;

    &:first-child {
      padding-left: 0;
    }

    &:not(:first-child) {
      justify-content: flex-end;
      text-align: right;
    }
  }

  &.Extended {
    grid-template-columns: repeat(6, 1fr);
  }
}

.FilledOrdersHeader {
  grid-template-columns: repeat(5, 1fr) minmax(5rem, 1fr) 3.2rem;
  padding-bottom: @size-4;
  padding-top: @size-4;
}

.PositionHeader {
  background: @color-active-background;
  grid-template-columns: repeat(8, 1fr);
  padding: @size-3 @size-42 @size-3 @size-16;
}

.DataTableHeader__extended {
  background: @color-table-header;
  grid-template-columns: repeat(6, 1fr) 6.2rem;
  padding: 0 @size-16;
}

.PositionHeader__extended {
  background: @color-table-header;
  grid-template-columns: repeat(6, 1fr);
  padding-right: @size-16;
}

.FilledOrdersHeader__extended {
  grid-template-columns: repeat(5, 1fr) 6rem;
  padding-right: @size-40;

  > li {
    &:nth-of-type(3) {
      display: none;
    }
  }
}

.OutcomesHeader {
  background-color: @color-table-header;
  border-bottom: 1px solid @color-dark-grey;  
  grid-template-columns: 2fr repeat(5, 1fr);
  padding: 0 @size-24 0 @size-16;
}

@media @breakpoint-mobile-mid {
  .DataTableHeader {
    grid-template-columns: repeat(3, 1fr);
    padding: @size-4 @size-42 @size-4 @size-12;

    > li {
      color: @color-inactive-text;
      font-size: @size-9;

      &:first-child {
        display: none;
      }

      &:nth-of-type(2) {
        justify-content: flex-start;
      }
    }
  }

  .DataTableHeader__extended {
    > li {
      &:nth-of-type(2) {
        min-height: @size-22;
      }

      &:nth-of-type(5),
      &:nth-of-type(6) {
        display: none;
      }
    }
  }

  .FilledOrdersHeader {
    background: @color-table-header;
    grid-template-columns: repeat(5, 1fr);

    > li {
      &:nth-of-type(5) {
        display: flex;
      }

      &:nth-of-type(6) {
        display: none;
      }
    }
  }

  .FilledOrdersHeader__extended {
    > li {
      &:nth-of-type(3) {
        display: flex;
      }
    }
  }

  .PositionHeader {
    grid-template-columns: repeat(6, 1fr);
    padding: @size-4 @size-12;

    > li {
      &:last-child {
        display: none;
      }
    }
  }

  .PositionHeader__extended {
    border-bottom: 1px solid @color-table-header;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: @size-6;
    padding-left: @size-16;
    padding-top: @size-6;

    > li {
      padding-left: @size-10;
      white-space: pre-line;

      &:nth-of-type(2) {
        padding: 0;
      }

      &:nth-of-type(5),
      &:last-child {
        display: flex;
      }
    }
  }

  .OutcomesHeader {
    grid-template-columns: 2fr repeat(5, 1fr);
    padding: 0 @size-12;

    > li {
      font-size: @size-9;

      &:first-of-type {
        display: flex;
      }

      &:nth-of-type(2) {
        text-align: right;
        justify-content: flex-end;
      }
    }
  }
}

@media @breakpoint-mobile-small {
  .OutcomesHeader {
    > li {
      min-width: unset;

      &:first-child {
        min-width: 50px;
      }
    }
  }
}
