@import (reference) "~assets/styles/shared";

.MarketRow {
  border-bottom: 1px solid @color-dark-grey;
}

.MarketRowContent {
  display: flex;
  flex: 1;

  &.NoToggle {
    background-color: @color-module-background;
    padding-right: @size-16;
  }

  > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: @size-16 0 @size-16 @size-16;

    &.Show {
      padding-bottom: @size-8;
      padding-top: @size-8;
    }

    &.Pending {
      > span > button {
        margin-left: @size-4;
        text-transform: capitalize;
      }
    }

    > div {
      padding: 0 0 @size-8;
    }

    > span {
      .text-12-medium;

      align-items: center;
      color: @color-primary-text;
      display: flex;
      flex: 1;
      line-height: @size-14;
      margin-right: @size-16;

      > a {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    > span:nth-of-type(2) {
      .text-10;

      color: @color-secondary-text;
      margin-top: @size-4;
    }
  }

  > span {
    .mono-12-bold;

    align-items: center;
    color: @color-primary-text;
    display: flex;
    justify-content: center;
    min-width: min-content;
    text-align: right;

    &.Show {
      padding-bottom: 2px;
    }
  }
}

.Arrow {
  margin-left: @size-12;
  margin-right: @size-18;
}

@media @breakpoint-mobile-mid {
  .MarketRow {
    > div {
      &.Show {
        padding-left: @size-16;
      }
    }
  }

  .Arrow {
    margin-right: @size-12;
  }

  .MarketRowContent {
    > div {
      padding: @size-8 0 @size-8 @size-12;
    }
  }
}
