@import (reference) "~assets/styles/shared";

.MarketRow {
  border-bottom: @size-1 solid var(--color-dark-grey);
  border-bottom-left-radius: @size-20;
  border-bottom-right-radius: @size-20;
}

.MarketRowContent {
  display: flex;
  flex: 1;

  &.NoToggle {
    background-color: var(--color-module-background);
    padding-right: @size-16;
  }

  > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: @size-16 0 @size-16 @size-16;

    &.Show {
      padding-bottom: @size-8;
      padding-top: @size-8;
    }

    &.Pending {
      > span > button {
        .text-14;

        margin-left: @size-4;
      }
    }

    > div {
      align-items: center;
      display: flex;
      padding: 0 0 @size-8;

      > span[class*="MarketTypeLabel"] {
        margin-left: @size-8;
      }

      > label {
        margin-bottom: 0;
        height: @size-16;
        margin-right: @size-8;
      }
    }

    > span {
      .text-12-medium;

      color: var(--color-primary-text);
      display: flex;
      flex: 1;
      line-height: @size-14;
      margin-right: @size-16;
      word-break: break-word;

      > a {
        .limit-lines(2);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    > span:nth-of-type(2) {
      .text-14;

      color: var(--color-secondary-text);
      margin-top: @size-4;
    }

    > span:last-of-type {
      display: none;
    }
  }

  > div:first-of-type > div:first-of-type > span:last-of-type {
    display: none;
  }

  > span {
    .mono-12-bold;

    align-items: center;
    color: var(--color-primary-text);
    display: flex;
    justify-content: center;
    min-width: min-content;
    text-align: right;

    &.Show {
      padding-bottom: @size-2;
    }
  }

  @media @breakpoint-mobile-tablet {
    > div > span:nth-of-type(2) {
      .text-12-medium;

      display: flex;
      flex-direction: column;

      > button {
        .text-12-medium;

        text-align: left;
        margin-left: 0;
      }
    }
  }
}

.Arrow {
  margin-left: @size-12;
  margin-right: @size-18;
}

@media @breakpoint-mobile {
  .MarketRow {
    > div {
      &.Show {
        padding-left: @size-16;
      }
    }
  }

  .Arrow {
    margin-right: @size-12;
  }

  .MarketRowContent {
    > div {
      padding: @size-8 0 @size-8 @size-12;
    }
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .MarketRow {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .MarketRowContent {
    &.NoToggle {
      padding-right: 0;
    }

    > div {
      > span {
        .text-12-semi-bold;
        margin-right: 0;
      }

      &.Show {
        padding: @size-12;
      }

      > span:last-of-type {
        display: initial;

        > div {
          > span {
            flex-flow: row;

            > span:first-of-type {
              .text-12;
              color: var(--color-secondary-text);
              padding-right: @size-4;
            }

            > span:nth-of-type(2) {
              .text-12-semi-bold;
              color: var(--color-primary-text);
            }
          }

          > button {
            display: none;
          }
        }
      }
    }

    > div:first-of-type > div:first-of-type > span:last-of-type {
      display: none;
      margin-left: auto;

      > div {
        > span {
          display: none;
        }
      }
    }

    > span {
      display: none;
    }
  }

  .Arrow {
    background: var(--color-module-background);
    border-radius: @border-radius-default;
    margin-top: auto;
    margin-bottom: auto;

    > span {
      border: @size-1 solid var(--color-dark-text);
      border-radius: @border-radius-default;
      padding: @size-7 @size-5;
     
      > svg > path {
        stroke: var(--color-primary-text);
      }
    }

    &:not(:disabled):hover {
      > span {
        border: @size-1 solid var(--color-primary-text);
      }
    }
  }
}
