@import (reference) '~assets/styles/shared';

.OrderMarket {
  background: @color-tertiary-background;
  border-bottom: 0.125rem solid @color-theme-primary;

  &:not(:last-of-type) {
    margin-bottom: 0.0625rem;
  }
}

.OrderMarket__description {
  .text-12-bold;

  color: @color-secondary-text;
  margin-bottom: @size-16;
  padding: @size-16 @size-24 0;
}

@media @breakpoint-mobile {
  .OrderMarket {
    border: 1px solid @color-theme-primary;
    border-radius: 3px;
    margin-top: 2px;
  }

  .OrderMarket__description {
    font-size: @size-11;
    padding: @size-16 @size-16 0;
  }
}
