@import (reference) '~assets/styles/shared';

.OrderMarket {
  background: @color-tertiary-background;

  &:not(:last-of-type) {
    margin-bottom: @size-2;
  }

  > div:first-of-type {
    .text-10;

    color: @color-secondary-text;
    margin-bottom: @size-12;
    padding: @size-12 @size-16 0;
  }
}

@media @breakpoint-mobile {
  .OrderMarket {
    border: 1px solid @color-theme-primary;
    border-radius: 3px;
    margin-top: 2px;

    > div:first-of-type {
      font-size: @size-11;
      padding: @size-16 @size-16 0;
    }
  }
}
