@import (reference) '~assets/styles/shared';

.OrderMarket {
  background: @color-module-background;
  border-bottom: 2px solid @color-dark-grey;

  &:not(:last-of-type) {
    margin-bottom: @size-2;
  }

  > div:first-of-type {
    .text-12-medium;

    color: @color-primary-text;
    margin-bottom: @size-12;
    padding: @size-12 @size-16 0;

    > span {
      .limit-lines(2);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media @breakpoint-mobile {
  .OrderMarket {
    margin-bottom: @size-8;
    margin-top: 0;
    border: 1px solid @color-dark-grey;

    &:not(:last-of-type) {
      margin-bottom: @size-8;
    }

    &:first-of-type {
      border-top: 0;
    }

    > div:first-of-type {
      .text-12-medium;

      padding: @size-8 @size-12 0;
      margin-bottom: @size-8;
    }
  }
}
