@import (reference) "~assets/styles/shared";

.Column {
  display: flex;
  flex-direction: column;

  > span:first-of-type {
    margin-bottom: 1px;
  }
}

.MultiColumn {
  display: flex;

  > span {
    margin-right: @size-24;
  }
}

.InfoParent {
  background-color: fade(@color-primary-alternate, 40%);
  display: flex;
  flex: 1;

  > div {
    align-items: flex-end;
    border-top: 1px solid fade(@color-primary-background, 50%);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 @size-28;
    padding: @size-16 0;

    @media @breakpoint-mobile {
      align-items: unset;
    }

    > div {
      max-width: 12rem;
    }
  }
}

@media @breakpoint-mobile {
  .InfoParent > div {
    margin: 0 @size-16;
    > div {
      max-width: unset;
    }
  }
}
