@import (reference) "~assets/styles/shared";

.Column {
  display: flex;
  flex-direction: column;

  > span:first-of-type {
    margin-bottom: 1px;
  }
}

.MultiColumn {
  display: flex;

  > span {
    margin-right: @size-24;
  }
}

.InfoParent {
  background-color: @color-active-background;
  display: flex;
  flex: 1;

  > div {
    align-items: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding: @size-8 @size-26 @size-8 0;
    border-top: 1px solid @color-dark-grey;
    margin: 0 @size-16;

    @media @breakpoint-mobile {
      align-items: unset;
    }

    > div {
      max-width: 300px;
    }

    > span {
      .text-12;

      color: @color-secondary-text;
      width: 100%;
    }
  }

  &.Failure {
    > div {
      align-items: flex-start;

      > span {
        margin-bottom: @size-24;
      }

      > div {
        display: flex;
        flex: 1;
        
        button:first-of-type {
          margin-right: @size-16;
        }
      }
    }
  }
}

@media @breakpoint-mobile {
  .InfoParent > div {
    > div {
      max-width: unset;
    }
  }
}
