@import (reference) '~assets/styles/shared';

.Quad {
  background: @color-table-header;
  border: 1px solid @color-dark-grey;
  border-radius: @border-radius-default;
  color: @color-primary-text;
  flex: 1;
  min-height: 50%;

  > * {
    margin-left: 1px;
    margin-right: 1px;
  }

  @media @breakpoint-mobile-mid {
    background: unset;
    border: 0;
    padding-bottom: 0;
  }

  > div:last-of-type {
    background: @color-module-background;
    flex: 1;
    overflow: auto;
    overflow-y: overlay;
    display: flex;
    flex-direction: column;

    @media @breakpoint-mobile-mid {
      background: unset;
      max-height: calc(~"100vh - @{multi-top-bar-height-mobile}");
      min-height: calc(~"100vh - @{multi-top-bar-height-mobile}");
      overflow-y: visible;
      padding: 0 @size-6 @size-4;
    }
  }

  &.NoBorders {
    padding-bottom: @size-8;

    > div:last-of-type {
      border-bottom: 0;
    }
  }

  &.HideToggle {
    max-height: 43px;
    min-height: unset;
    overflow-y: hidden;
    flex: 0;
  }

  &.Extend {
    min-height: calc(100% - 43px);
  }
}

.ShowOnMobile {
  display: none;
}

@media @breakpoint-mobile-mid {
  .NormalOnMobile {
    background: @color-module-background;
    border: 1px solid @color-dark-grey;
    padding-bottom: @size-24;
  }
  
  .ShowOnMobile {
    display: flex;
  }

  .HideOnMobile {
    display: none;
  }

  .Hide {
    display: none;
  }
}
