@import (reference) '~assets/styles/shared';

.Sidebar {
  > button {
    .text-12-semi-bold;

    width: 100%;
    height: @size-38;

    &.SportsbookFilterIcon > svg {
      width: @size-16;
      height: @size-16;
    }
  }
}

.SidebarMenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  transition: all .1s linear;
  background-color: var(--color-module-background);
  z-index: @mask-toast;
  overflow: auto;

  // header
  > div:first-of-type {
    display: grid;
    height: @size-64;
    align-items: center;
    justify-items: center;
    padding: 0 @size-16;
    grid-template-columns: @size-25 1fr @size-25;
    grid-template-rows: auto;
    border-bottom: 1px solid var(--color-dark-grey);

    > span {
      .text-16-bold;

      grid-column: 2;
    }

    button {
      grid-column: 3;
      height: @size-24;
      width: @size-24;

      > svg {
        height: @size-24;
        width: @size-24;

        > path {
          stroke: var(--color-primary-text);
        }
      }
    }
  }

  // container
  > div:nth-of-type(2) {
    padding: @size-24 @size-12;
    background-color: var(--color-page-background);

    > div {
      > div,
      > ul {
        margin-bottom: @size-24;
      }

      > div[class$="RadioBarGroup"] > div {
        grid-template-columns: @size-30 auto @size-16;
        height: @size-36;

        > span {
          .text-14;

          color: var(--color-secondary-text);
        }

        &[class*="Checked"] > span {
          .text-14-bold;

          color: var(--color-primary-text);
        }

        > svg {
          margin: unset;
        }
      }
    }

    > div,
    > div > ul {
      > span,
      > div > span {
        .text-10-medium;

        display: inline-block;
        text-transform: uppercase;
        margin-bottom: @size-16;
      }

      > li {
        flex: 1;
      }
    }

    > .ApplyButton {
      display: none;

      > button {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.ShowSidebar {
  left: 0;
  transition: all .1s linear;

  > .ApplyButton {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: @size-16 @size-12;
    background-color: var(--color-table-header);
    border-top: @size-1 solid var(--color-dark-grey);
  }
}

