@import (reference) '~assets/styles/shared';

.ProfitLossChart {
  height: 260px;
  text-align: center;
  // width: 100%;
}

.ProfitLossChart__Title {
  text-align: center;
  width: 100%;
}

@media @breakpoint-mobile {
  .ProfitLossChart {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100vw;

    > div {
      flex: 1 0 auto;
    }
  }

  .ProfitLossChart__Title {
    position: fixed;
    text-align: center;
    top: 18rem;
    width: 100%;
  }
}
