@import (reference) '~assets/styles/shared';

ul.MigrateRepForm__fields {
  flex-flow: column nowrap;
  justify-content: flex-start;

  h3 {
    color: @color-white;
  }
}

.MigrateRepForm__outcome_rep_total {
  color: white;
  font-size: 0.7em;
  padding-left: 1em;
}

.MigrateRepForm__winning_outcome {
  color: #9e82ef;
  font-size: small;
  font-weight: bold;
  margin-left: 2em;
  text-transform: uppercase;
}
