.LinkStyledButton {
  cursor: pointer;
  display: flex;
  text-decoration: none;
  background: none;
  border: 1px solid #DBE1E7;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  padding: 4px 8px;

  > span {
    font-size: 12px;
    font-weight: 500;
    color: #8B959E;
  }
}

.AccountControl > p {
  min-width: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}

.hoverClose {
  cursor: pointer;
}

.SVGDark > svg {
  stroke: #FAFAFA;
}

.SVGLight > svg {
  stroke: #1F1F1F;
}

.darkLink {
  cursor: pointer;
  font-weight: 500;
  color: #FAFAFA;
  font-size: 0.75rem;
  margin: auto;
  display: flex;
}

.lightLink {
  cursor: pointer;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  margin: auto 6px;
  padding: 4px 8px;
  border: 1px solid #DBE1E7;
  border-radius: 8px;
  color: #8B959E;
  text-decoration: none;
}
