.LinkStyledButton {
  text-decoration: none;
  background: none;
  border: 1px solid #575a68;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 9px 12px;
  cursor: pointer;
  font-weight: 500;
  outline: none;
}

.AccountControl > p {
    min-width: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hoverClose {
  cursor: pointer;
}

.SVGDark > svg {
  stroke: #FAFAFA;
}

.SVGLight > svg {
  stroke: #1F1F1F;
}

.darkLink {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: #FAFAFA;
  font-size: 1rem;
  margin: auto;
}

.lightLink {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: #1F1F1F;
  font-size: 1rem;
  margin: auto;
}