@import (reference) '~assets/styles/shared';

.MarketOutstandingReturns {
  align-items: center;
  background-color: @color-medium-gray;
  display: flex;
  justify-content: space-between;
}

.MarketOutstandingReturns__text {
  font-size: @font-size-normal;
}

.MarketOutstandingReturns__value {
  &:extend(.caps all);

  font-weight: bold;
  padding: 0 0.5rem;
}

.MarketOutstandingReturns__actions {
  display: flex;
  justify-content: flex-end;
}

.MarketOutstandingReturns__collect {
  &:extend(.button--bright all);
}

@media @breakpoint-mobile-medium {
  .MarketOutstandingReturns {
    display: block;
  }

  .MarketOutstandingReturns__actions {
    margin-top: 1.5rem;
  }
}
