.page.login-message {
  .page-content {
    font-size: 1.4em;

    h1 {
      margin: 14px 0 8px;
    }

    h2 {
      margin: 10px 0 6px;
    }

    ol {
      padding-left: 40px;
    }

    .link {
      color: @color-primary-active;

      &:hover, &:active, &:focus {
        color: @color-primary-hover;
        text-decoration: underline;
      }
    }
  }
}
