#login_message_view {
	.page-content {
		font-size: 1.4em;

		h1 {
			margin: 14px 0 8px;
		}

		h2 {
			margin: 10px 0 6px;
		}

		h3 {
			font-size: 1.4rem;
			font-weight: 500;
		}

		ol {
			padding-left: 40px;
		}

		.contained {
			padding: 2em;
		}

		.link {
			color: @color-primary-active;

			&:hover,
			&:active,
			&:focus {
				color: @color-primary-hover;
				text-decoration: underline;
			}
		}

		.lets-do-this-button {
			background-color: #43505c;
			border: 0;
			border-radius: 1px;
			color: #ffffff;
			display: inline-block;
			font-size: 2vmin;
			height: 2.8em;
			line-height: 2.8em;
			margin-top: 1em;
			padding: 0 1em;
			text-align: center;
			text-transform: uppercase;
			white-space: nowrap;
		}

		.lets-do-this-button:hover {
			background-color: @color-dark-hover;
			color: #ffffff;
			text-decoration: none;
		}
	}
}
