@import '~assets/styles/shared.less';

.MarketCard__topcontent {
  border-bottom: 1px solid @color-lightgray;
  padding-bottom: 0.3125rem;
}

.MarketCard__statlabel {
  color: @color-lightgray;
  font-size: 0.75rem;
  margin-right: 2.16em;
  text-transform: uppercase;
}

.MarketCard__stat {
  color: @color-purple;
  font-size: 0.875rem;
  margin-right: 4.375rem;
  text-transform: uppercase;
}

.MarketCard__statvalue {
  font-size: 1.5rem;
  margin-right: 0.208em;
}
