@import '~assets/styles/shared.less';
@import '~modules/market/components/common/market-common.styles.less';

.MarketCard__topcontent {
  border-bottom: 1px solid @color-lightgray;
  padding-bottom: 0.3125rem;
}

.MarketCard__statlabel {
  .MarketCommon__small-label();
}

.MarketCard__stat {
  color: @color-purple;
  font-size: 0.875rem;
  margin-right: 4.375rem;
  text-transform: uppercase;
}

.MarketCard__statvalue {
  font-size: 1.5rem;
  margin-right: 0.208em;
}

.MarketCard__tablesection {
  padding: 1.5rem 2rem;
}

.MarketCard__tableheading {
  color: @color-darkpurple;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: unset;
  margin: 0 0 1rem;
  text-transform: uppercase;
}
