@import (reference) '~assets/styles/shared';

li.CreateMarketResolution__expiry-source-specific,
li.CreateMarketResolution__designated-reporter-specific {
  flex-wrap: wrap;
  min-height: 3.25rem;

  > button {
    align-self: flex-start;
  }

  > div {
    margin-left: 3.75rem;
    position: relative;
    top: -0.75rem;
    width: 50%;
  }

  > input {
    margin-left: 3.75rem;
    max-width: 50%;
    position: relative;
    top: -0.75rem;
  }

  > span {
    bottom: 40%;
    margin-bottom: 0.5rem;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

@media @breakpoint-mobile {
  li.CreateMarketResolution__expiry-source-specific,
  li.CreateMarketResolution__designated-reporter-specific {
    flex-wrap: wrap;

    > button {
      order: 1;
    }

    > div,
    > input {
      margin-left: 0;
      margin-top: 2rem;
      max-width: none;
      order: 3;
      width: 100%;
    }

    > span {
      bottom: 0;
      margin: 0.5rem 0;
      order: 2;
      position: initial;
      white-space: normal;
    }
  }
}

.CreateMarketResolution__tooltip {
  width: 0.75rem;
}

.CreateMarketResolution__tooltipContainer {
  margin-left: 18px !important;
  margin-top: -5px !important;
}
