.report-form {
	display: flex;
	flex-direction: column;
	margin: 1em;

	& > div {
		display: flex;
		flex-direction: column;

		&:not(:first-child) {
			margin: 1em 0;
		}
	}

	.reportable-outcomes {
		display: flex;
		flex-direction: column;
		margin-top: 1em;

		.outcome-option {
			margin: 0.25em;

			.outcome-option-radio {
				margin-right: 1em;
			}
		}
	}

	.checkbox {
		margin-top: 1em;
	}

	.report-actions {
		flex-direction: row;
		margin-bottom: 0;
	}
}
