.snitch-form {
  display: flex;
  flex-direction: column;
  margin: 1em;

  & > div {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      margin: 1em 0;
    }
  }

  .checkbox {
    margin: 1em 0.25em 0;
    text-align: left;
  }
}
