@import (reference) '~assets/styles/shared';

.MarketsView {
  display: flex;
  flex-flow: column nowrap;
  grid-gap: @size-24;
  padding: @size-16 @size-88;

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    grid-gap: @size-20;
  }

  > section {
    display: grid;
    grid-gap: @size-16;
    grid-template-columns: repeat(3, 1fr);
  }
}

.MarketCard {
  > a {
    text-decoration: none;
    color: unset;
  }

  > a > div {
    .text-14-bold;

    border-radius: @size-16;
    border: @size-1 solid var(--simple-border);
    border-radius: @border-radius-default;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--simple-light-bg);
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding: @size-24;

    > div {
      display: flex;
    }

    > div:first-of-type {
      margin-right: @size-6;
      border: @size-1 solid var(--covid-color);
      border-radius: @size-8;
      justify-content: center;
      align-items: center;
      padding: @size-4 @size-10;
    }

    > div:nth-of-type(3) {
      justify-content: flex-end;
    }

    > span {
      .text-16-semi-bold;
      .limit-lines(3);

      color: var(--simple-primary-text);
      grid-column: 1 / span 3;
      margin-top: @size-16;
      margin-bottom: @size-38;
      text-align: left;
      height: @size-60;
    }

    > div:nth-of-type(4) {
      grid-column: 1 / span 2;
      margin-right: @size-32;
      margin-top: auto;
    }
  }

  &.NoLiquidity {
    > a > div  {
      > div:nth-of-type(4) {
        grid-column: 1 / span 3;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        
        > span {
          .text-14-semi-bold;

          color: var(--simple-secondary-text);
          margin-bottom: @size-16;
        }
      }
    }
  }
}

.OutcomesTable {
  display: flex;
  border: @size-1 solid var(--simple-border);
  border-radius: @size-8;
  flex-direction: column;

  > div {
    padding: @size-10 @size-16;
    display: flex;

    > span {
      display: flex;
      align-items: center;
      
      &:first-of-type {
        .text-14;

        flex: 1;
        color: var(--simple-primary-text);
        text-transform: capitalize;
      }

      &:last-of-type {
        .text-16-bold;

        color: var(--simple-primary-text);
      }
    }
    &:not(:first-of-type) {
      border-top: @size-1 solid var(--simple-border);
    }
  }
}

.MarketViewStats {
  display: flex;
  padding: 0 @size-36;
  border-radius: @size-16;
  border: @size-1 solid var(--simple-border);
  height: @size-150;
  background: var(--simple-light-bg);

  > div {
    display: flex;
    justify-content: center;
    border-right: @size-1 solid var(--simple-border);
    padding: @size-36;

    &:first-of-type {
      padding-left: 0;
    }

    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5) {
      margin: @size-36 0;
      padding: 0 @size-36;
    }
  }
}
