@import (reference) '~assets/styles/shared';

.MarketsView {
  display: flex;
  flex-flow: column nowrap;
  grid-gap: @size-24;

  > div {
    border: @size-1 solid black;
    border-radius: @border-radius-default;
    height: @size-120;
  }

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    grid-gap: @size-16;
  }

  > section {
    display: grid;
    grid-gap: @size-16;
    grid-template-columns: repeat(3, 1fr);

    > article {
      .text-14-bold;

      border: @size-1 solid black;
      border-radius: @border-radius-default;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 400px;
      min-height: 400px;
      max-height: 400px;
    }
  }
}

.MarketCard {

}