body, html, * {
  box-sizing: border-box;
}

body {
	@media @breakpoint-mobile {
		--is-mobile: true;
	}
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DINPro';
}

#root {
  height: 100%;
}

.app-wrap {
  display: grid;
  /* sidebar width */
  grid-template-columns: 72px auto;
  height: 100%;

	@media @breakpoint-mobile {
    /* disable sidebar mobile grid width */
    grid-template-columns: 0 auto;
  }
}

.main-wrap {
  display: grid;
  height: 100vh;
  overflow: hidden;
  /* topbar height */
  grid-template-rows: 42px auto;

	@media @breakpoint-mobile {
    /* topbar mobile height */
    grid-template-rows: 30px auto;
  }
}

.maincontent-row {
  display: grid;
  overflow: hidden;
  /* inner menubar width */
  grid-template-columns: 110px auto;

	@media @breakpoint-mobile {
    /* disable inner menubar mobile grid width */
    grid-template-columns: 0 auto;
  }
}

.innerMenuContainer {
  position: relative;
  height: 100vh;

  ul {
    font-family: 'DINPro';
    font-weight: @font-weight-light;
    text-transform: uppercase;
    list-style: none;
    height: 100%;
    padding: 42px 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;

    li {
      cursor: pointer;
      color: white;
      min-height: 26px;
      font-size: 12px;
      line-height: 29px;
      letter-spacing: 0.3px;
      padding-left: 11px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    li.selected, li:hover {
      background: #553580;
    }
  }

  ul.innermenubar {
    background: #44415A;
    position: relative;
    z-index: 999;
  }

  ul.submenubar {
    background: #372E4B;
    width: 110px;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
  }

	@media @breakpoint-mobile {
    left: -225px;
    width: 225px;
    overflow-x: hidden;
    transition: left 0.2s ease-in-out;

    &.mobileShow {
      left: 0px;
    }

    ul.innermenubar, ul.submenubar {
      width: 100%;
    }
    
    ul.submenubar {
      left: 225px;
      z-index: 999;
      transition: left 0.2s ease-in-out;

      &.mobileShow {
        left: 0px;
      }
    }
    
    ul li {
      line-height: 55px;
      font-size: 14px;
      padding-left: 50px;
    }
  }
}

.maincontent {
  background: #1E1B31;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(0); /* use gpu */
}

.topbar {
  background: #736E89;
  height: 100%;
  padding-left: 295px;

  span.stat {
    line-height: 42px;
    font-family: 'DINPro';
    font-weight: @font-weight-light;
    font-size: 13px;
    letter-spacing: 0.75px;
    margin-right: 40px;
    width: 110px;
    display: inline-block;

    span.stat-label {
      color: rgba(255,255,255,0.25);
      margin-right: 10px;
    }

    span.stat-value {
      color: white;
    }
  }

  span.mobile-logotext {
    display: none;
  }

	@media @breakpoint-mobile {
    padding: 0;

    span.stat { display: none; }

    span.mobile-logotext {
      display: block;
      float: right;
      margin-right: 14px;
      font-family: 'DINPro';
      font-weight: @font-weight-light;
      line-height: 30px;
      text-transform: uppercase;
      color: white;
    }
  }
}

.side-wrap {
  height: 100vh;
  z-index: 9999;
}

.sidebar {
  background: blue;
  background: #412468;
  height: 100%;
  padding-top: 84px;
  position: relative;

  ul.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #553580;
    border-left: none;
    border-right: none;
    
    li {
      height: 64px;
      padding-top: 8px;
      border-bottom: 1px solid #553580;
      position: relative;
      text-align: center;

      &.selected {
        background: #553580;
      }

      &:hover {
        background: #553580;
        cursor: pointer;
      }
      
      &:last-child { border: none; }

      img.nav-create {
        margin-top: 2px;
        transform: scale(0.85);
      }

      img.nav-portfolio {
        transform: scale(0.95);
      }

      span {
        position: absolute;
        bottom: 13px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 9px;
        font-family: 'DINPro';
        color: white;
        text-transform: uppercase;
        font-weight: @font-weight-light;
        letter-spacing: 0.3px;
      }
    }
  }

	@media @breakpoint-mobile {
    position: absolute;
    width: 225px;
    left: -225px;
    padding-top: 70px;
    transition: left 0.2s ease-in-out;
    
    &.mobileShow {
      left: 0px;
    }

    ul.sidebar-menu {
      padding-left: 20px;
      border: none;

      li {
        border: none;
        text-align: left;
        height: 70px;
        padding: 0;

        img {
          width: 30px;
          vertical-align: middle;
        }
        
        span {
          position: static;
          line-height: 50px;
          font-size: 14px;
          padding-left: 18px;
        }
      }
    }
  }
}

svg#paralellogo {
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0;
  pointer-events: none;
  z-index: 999;
}

.top-logo {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 120px;
  z-index: 999;

  &>* {
    display: inline-block;
  }

  svg.augur-logo-icon {
    height: 44px;
  }

  span.logotext {
    color: white;
    font-family: 'DINPro';
    font-weight: @font-weight-light;
    text-transform: uppercase;
    vertical-align: top;
    line-height: 44px;
    font-size: 14px;
    letter-spacing: 1.2px;
    margin-left: 8px;
  }

	@media @breakpoint-mobile {
    display: none;
  }
}
