.core-stats {

  .border(true, @border-right);
  .border(true, @border-bottom);
  .border(true, @border-left);

  background-color: @color-white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;

  .core-stats-group {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 1em;

    @media @breakpoint-mobile {
      flex-basis: 100%;
      flex-wrap: wrap;
    }

    &:first-of-type {
      justify-content: flex-start;
    }

    &:last-of-type {
      justify-content: flex-end;
    }

    @media @breakpoint-mobile {
      &:first-child,
      &:last-child {
        justify-content: center;
      }
    }

    .core-stat {
      padding: 1em;

      .core-stat-label {
        margin-right: 0.4em;
        white-space: nowrap;
      }

      .core-stat-value {
        .font-weight-normal();
      }
    }
  }

  .additional-stats {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    max-height: 0;
    opacity: 0;
    transition-duration: @animation-speed-fast;
    transition-property: opacity, visibility, max-height;
    visibility: hidden;

    &.display-additional-stats {
      max-height: 10000px; // Simply set larger than anticipated to attain
      opacity: 1;
      visibility: visible;
    }
  }
}
