footer {

	.border(true, @border-top);
	.transition(bottom @animation-speed-very-fast);

	background-color: @color-footer-background;
	width: 100vw;

	@media @breakpoint-1, @breakpoint-2-2 {
		position: fixed;
	}

	#footer_content {

		.contained();
		.font-size-medium();

		display: flex;
		justify-content: center;

		.link {
			padding: 1.5em;

			&:hover,
			&:active,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}
