// NOTE -- additional styles located in app/less/layout.less
.side-bar {

  .transition(bottom @animation-speed-very-fast);

  background-color: @color-side-bar-background;
  color: @color-text-light-muted;
  flex: 1 0 auto;
  width: 100%;

  @media @breakpoint-mobile {
    overflow-y: auto;
    position: fixed;
    width: @side-bar-max-width-mobile;
  }

  footer {
    display: none;

    @media @breakpoint-mobile {
      display: flex;
      visibility: hidden;
    }
  }

  h3 {
    .border(true, @border-bottom);
    .font-weight-light();
    .font-size-medium();

    color: @color-text-light;
    margin: 0 2rem;
    padding: 1rem 0;
  }

  .tags {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0.5rem 0;
    width: 100%;

    .null-state {
      align-self: center;
      position: fixed; // Simply for the case where tags are failing to load, scrolling won't cause this to go out of view
    }

    .checkbox.tag {
      .transition(background-color @animation-speed-very-fast, color @animation-speed-very-fast;);

      display: flex;
      flex: 1;
      flex-wrap: nowrap;
      padding: 1em 2rem;
      text-align: left;
      width: 100%;

      .checkbox-label {
        //  Increase subtracted amount below (to ~90px) when any tag has more than 999 markets in it; doing so will further truncate the tag name
        max-width: @side-bar-max-width;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        white-space: nowrap;

        @media @breakpoint-mobile {
          max-width: side-bar-max-width-mobile;
        }
      }

      .checkbox-label2 {
        flex: 1 0 auto;
      }

      &:hover,
      &.checked {
        background-color: @color-side-bar-background-active;
        color: @color-text-dark;
      }

      .checkbox-box {
        display: none;
      }
    }
  }
}
