@import (reference) "~assets/styles/shared";

.NullState {
  color: @color-lightgray;
  margin-top: 5rem;
}

.ReportingReport_form_message {
  margin-bottom: 1rem;
  padding: 1rem;

  > div {
    border-bottom: 1px solid rgba(206, 215, 216, 0.3);
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
  }
}
