@import (reference) '~assets/styles/shared.less';

.App {
  display: flex;
  flex-flow: column nowrap;
  grid-gap: @size-16;

  > div {
    max-width: @desktop-max;
    box-sizing: border-box;
    margin-top: @size-80;
    width: 100%;
    min-height: calc(100vh - @size-80);
    margin: @size-80 auto 0;
  }
}


body {
  @media @breakpoint-mobile-tablet {
    --is-mobile: true;
  }
}

html {
  display: flex;
}