@import (reference) '~assets/styles/shared';

.Button {
  .text-12-bold;

  border: @border-default;
  border-radius: @border-radius-default;
  cursor: @button-cursor;
  white-space: nowrap;

  &:disabled {
    cursor: @button-cursor-disabled;
  }

  &.Phantom {
    border: unset;
    border-radius: unset;
    background: unset;

    &:hover:enabled {
      background: unset;
    }
    &:focus:enabled {
      background: unset;
    }
    &:active:enabled {
      background: unset;
    }
    > svg {
      > path {
        fill: @color-primary-text;
      }
    }
  }

  &.Confirmed {
    color: @color-primary-text;
    background: fade(@color-positive, 20%);
    border: 1px solid @color-positive;
    border-radius: @border-radius-default;
    &:hover:enabled {
      background: fade(@color-positive, 20%);
    }

    &:focus:enabled {
      background: fade(@color-positive, 20%);
    }

    &:active:enabled {
      background: fade(@color-positive, 20%);
    }
    > svg {
      width: @size-8;
      height: @size-8;
      margin-left: @size-8;

      > path {
        stroke: @color-primary-text;
      }
    }
  }

  &.Failed {
    color: @color-primary-text;
    background: fade(@color-error, 20%);
    border: 1px solid @color-error;
    border-radius: @border-radius-default;
    &:hover:enabled {
      background: fade(@color-error, 20%);
    }

    &:focus:enabled {
      background: fade(@color-error, 20%);
    }

    &:active:enabled {
      background: fade(@color-error, 20%);
    }
    > svg {
      width: @size-8;
      height: @size-8;
      margin-left: @size-8;

      > path {
        stroke: @color-primary-text;
      }
    }
  }
}

.PrimaryButton {
  .Button;

  background: @color-primary-action;
  color: @color-dark-grey;
  max-height: @button-height-default;
  padding: @size-8 @size-12;

  &:not(:disabled):hover {
    background: fade(@color-primary-action, 90%);
  }

  &:not(:disabled):focus {
    background: fade(@color-primary-action, 80%);
  }

  &:not(:disabled):active {
    background: fade(@color-primary-action, 70%);
  }

  &:disabled {
    background: fade(@color-primary-action, 40%);
  }
}

.CloseButton {
  justify-content: flex-end;
  display: flex;
  flex: 1;

  > svg {
    height: @size-16;
    width: @size-16;

    > path {
      stroke: @color-secondary-text;
    }
  }
}

.BackButton {
  .mono-12;

  text-transform: uppercase;
  display: flex;
  color: @color-primary-text;
  display: flex;
  align-items: center;

  > svg {
    width: @size-16;
    height: @size-16;
    margin-right: @size-5;

    > path {
      fill: @color-primary-text;
    }
  }
}

.PrimarySignInButton {
  .Button;

  background: @color-primary-action;
  color: @color-dark-grey;
  padding: @size-12 @size-24;

  > div:first-of-type {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  > div > div:nth-of-type(2) {
    margin-left: @size-21;

    > div:first-of-type {
      .text-14-bold;

      color: @color-primary-text;
      margin-bottom: @size-4;
    }

    > div:last-of-type {
      .text-10;

      color: @color-primary-text;
    }
  }

  &:not(:disabled):hover {
    background: fade(@color-primary-action, 90%);
  }

  &:not(:disabled):focus {
    background: fade(@color-primary-action, 80%);
  }

  &:not(:disabled):active {
    background: fade(@color-primary-action, 70%);
  }

  &:disabled {
    background: fade(@color-primary-action, 40%);
  }
}

.SecondarySignInButton {
  .Button;

  background: transparent;
  border: @size-1 solid @color-secondary-action-outline;
  color: @color-primary-text;
  padding: @size-12 @size-24;

  > div:first-of-type {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  > div > div:nth-of-type(2) {
    margin-left: @size-21;

    > div:first-of-type {
      .text-14-bold;

      color: @color-primary-text;
      margin-bottom: @size-4;
    }

    > div:last-of-type {
      .text-10;

      color: @color-secondary-text;
    }
  }

  &:disabled {
    background: @color-inactive-text;
  }

  &:hover:enabled {
    background: fade(@color-primary-action, 5%);
  }

  &:focus:enabled {
    background: fade(@color-primary-action, 10%);
  }

  &:active:enabled {
    background: fade(@color-primary-action, 15%);
  }

  &.Small {
    .text-10-bold;

    padding: @size-6 @size-12;
  }
}

.SecondaryButton {
  .Button;

  background: @color-module-background;
  border: @size-1 solid @color-secondary-action-outline;
  color: @color-primary-text;
  max-height: @button-height-default;
  padding: @size-8 @size-12;

  &:disabled {
    background: fade(@color-secondary-hover, 25%);
    color: fade(@color-primary-text, 25%);
  }

  &:hover:enabled {
    background: lighten(@color-module-background, 5%);
  }

  &:focus:enabled {
    background: lighten(@color-module-background, 10%);
  }

  &:active:enabled {
    background: lighten(@color-module-background, 15%);
  }

  &.Small {
    .text-10-bold;

    padding: @size-6 @size-12;
  }

  > svg {
    height: @size-12;
    width: @size-12;

    > rect {
      fill: @color-primary-text;
      height: 1px;
      width: @size-8;
    }
  }
}

.BuyOrderButton {
  .Button;
  .mono-12-semi-bold;

  background: fade(@color-positive, 10%);
  border-color: @color-positive;
  border-width: @size-2;
  color: @color-positive;
  height: @button-height-default;
  max-height: @button-height-default;
  text-transform: uppercase;
  width: 100%;

  &:disabled {
    background: fade(@color-positive, 5%);
    border-color: fade(@color-positive, 10%);
    color: fade(@color-positive, 20%);
  }

  &:hover:enabled {
    background: fade(@color-positive, 20%);
  }
}

.ToggleExtendButton {
  display: flex;
  margin-left: @size-16;

  > svg {
    align-self: center;
    width: @size-6;
    height: @size-12;

    > path {
      stroke: @color-secondary-text;
    }
  }

  &:hover {
    cursor: pointer;

    > svg {
      > path {
        stroke: @color-primary-text;
      }
    }
  }

  @media @breakpoint-mobile {
    display: none;
  }
}

.SellOrderButton {
  .Button;
  .mono-12-semi-bold;

  background: fade(@color-negative, 10%);
  border-color: @color-negative;
  border-width: @size-2;
  color: @color-negative;
  height: @button-height-default;
  max-height: @button-height-default;
  text-transform: uppercase;
  width: 100%;

  &:disabled {
    background: fade(@color-negative, 5%);
    border-color: fade(@color-negative, 10%);
    color: fade(@color-negative, 20%);
  }

  &:hover:enabled {
    background: fade(@color-negative, 20%);
  }
}

.ChatButton {
  .mono-10-semi-bold;

  padding: @size-9;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  color: @color-primary-text;
  background: @color-secondary-action;
  cursor: pointer;
  border: @size-1 solid @color-secondary-action-outline;
  border-radius: @border-radius-default;

  > svg {
    width: @size-10;
    height: @size-10;
    fill: @color-primary-text;
    margin-left: @size-4;
    transform: rotate(180deg);

    path {
      fill: @color-primary-text;
    }
  }
}
// Used in Betting UI
.FavoriteButton {
  .text-12;

  align-items: center;
  color: @color-primary-text;
  cursor: @button-cursor;
  display: flex;
  flex-flow: row nowrap;

  > svg {
    height: @size-18;
    width: @size-18;
  }

  > svg > path {
    fill: @color-secondary-text;
    fill-opacity: 0.1;
    stroke: @color-secondary-text;
  }

  &:disabled {
    color: fade(@color-primary-text, 20%);
    cursor: @button-cursor-disabled;

    > svg > path {
      fill-opacity: 0.1;
      stroke: fade(@color-primary-text, 20%);
      stroke-opacity: 0.3;
    }
  }

  &:hover:enabled {
    > svg > path {
      fill: @color-primary-action;
      fill-opacity: 0.1;
      stroke: @color-primary-action;
    }
  }
}

.FavoriteButton_Favorite {
  .FavoriteButton;

  > svg > path {
    fill: @color-primary-action;
    fill-opacity: 1;
    stroke: @color-primary-action;
  }

  &:hover:enabled {
    > svg > path {
      fill: @color-primary-action;
      fill-opacity: 0.5;
      stroke: @color-primary-action;
    }
  }
}

.FavoriteButton_small {
  > svg {
    height: @size-16;
    width: @size-16;
  }
}

.CompactButton {
  .Button;
  .mono-9-bold;

  border: @border-default;
  background: @color-secondary-action;
  border-color: @color-secondary-action-outline;
  border-radius: @size-3;
  color: @color-primary-text;
  line-height: @size-10;
  padding: @size-2 @size-4;
  text-transform: uppercase;

  &:hover:enabled {
    color: @color-dismissable-notice-background;
  }
}

.CancelTextButton {
  .Button;
  .mono-10-semi-bold;

  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  text-transform: uppercase;
  background: @color-secondary-action;
  border: @size-1 solid @color-secondary-action-outline;
  border-radius: @size-3;
  color: @color-primary-text;
  padding: @size-4 @size-6;
  white-space: nowrap;

  &.IconButton {
    padding: @size-2;
  }

  &:disabled {
    color: fade(@color-primary-text, 20%);
  }

  > svg {
    fill: none;
    height: @size-8;
    width: @size-8;

    > path {
      stroke: @color-secondary-text;
    }
  }

  > span {
    margin-left: @size-4;
  }

  &:hover {
    color: @color-primary-text;

    > svg > path {
      stroke: @color-primary-text;
    }
  }

  @media @breakpoint-mobile {
    &:disabled {
      color: @color-inactive-text;
      opacity: 0.5;

      > svg > path {
        stroke: @color-inactive-text;
      }
    }
  }
}

.SubmitTextButton {
  .mono-10;

  align-items: center;
  color: @color-primary-action;
  display: flex;
  flex-flow: row nowrap;
  line-height: @size-10;
  text-transform: uppercase;

  @media @breakpoint-mobile {
    line-height: @size-24;
  }

  &:hover {
    font-weight: bold;
  }

  &:disabled {
    color: fade(@color-primary-text, 20%);

    &:hover {
      color: fade(@color-primary-text, 20%);
      font-weight: normal;
    }
  }

  &.Failed {
    color: @color-error;
  }

  &.Confirmed {
    color: @color-positive;
  }
}

.DaiPercentButton {
  display: flex;
  justify-content: center;
  padding: @size-3 @size-5;

  > svg {
    fill: none;
    height: @size-10;
    width: @size-10;

    > path {
      fill: @color-inactive-text;
    }
  }

  &:hover {
    > svg > path {
      fill: @color-primary-text;
    }
  }
}

.CurrenyActionButton {
  .Button;

  align-content: center;
  // background: @color-secondary-action;
  background: transparent;
  border: @size-1 solid @color-secondary-action-outline;
  color: @color-primary-text;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  line-height: @size-16;
  max-height: @button-height-default;
  padding: @size-12;

  > svg {
    fill: none;
    height: @size-16;
    margin: auto 0 auto @size-8;
    width: @size-16;

    > path {
      fill: @color-primary-text;
    }
  }

  &:disabled {
    background: @color-inactive-text;
    border-color: @color-inactive-text;
    color: @color-inactive-text;

    > svg {
      > path {
        stroke: @color-inactive-text;
      }

      > rect {
        fill: @color-inactive-text;
      }
    }
  }

  &:hover:enabled {
    background: @color-secondary-hover;
  }

  &:focus:enabled {
    background: @color-secondary-hover;
  }

  &:active:enabled {
    background: @color-secondary-hover;
  }
}

.ViewTransactionsButton {
  .CurrenyActionButton;

  > svg {
    height: @size-12;
    width: @size-12;

    > path {
      &:nth-child(even) {
        fill: @color-primary-text;
        stroke: none;
      }

      &:nth-child(odd) {
        fill: none;
        stroke: @color-primary-text;
      }
    }
  }

  &:disabled {
    > svg {
      > path {
        &:nth-child(even) {
          fill: @color-inactive-text;
        }

        &:nth-child(odd) {
          stroke: @color-inactive-text;
        }
      }
    }
  }
}

.DAIFaucetButton,
.REPFaucetButton {
  .ViewTransactionsButton;

  height: 100%;
  padding: @size-12;

  > svg {
    height: @size-16;
    width: @size-16;

    > path {
      &:nth-child(odd) {
        fill: @color-primary-text;
        stroke: none;
      }
    }
  }

  &:disabled {
    > svg > path {
      &:nth-child(odd) {
        fill: @color-inactive-text;
        stroke: none;
      }
    }
  }
}

.DAIFaucetButton {
  > svg > path {
    fill: @color-primary-text;
  }
}

.ViewTransactionDetailsButton {
  .mono-9-bold;

  background: @color-secondary-action;
  border: @size-1 solid @color-secondary-action-outline;
  border-radius: @border-radius-default;
  align-items: center;
  color: @color-primary-text;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: @size-2 @size-4;

  > span > a {
    display: flex;
  }

  > span > a > svg,
  > span > span > svg {
    fill: none;
    height: @size-10;
    margin-left: @size-4;
    width: @size-10;

    > path:nth-child(odd) {
      fill: @color-secondary-text;
    }

    > path:nth-child(even) {
      stroke: @color-secondary-text;
    }
  }

  > span > a {
    color: @color-primary-text;
    white-space: nowrap;
  }

  &:hover {
    > svg {
      > path:nth-child(odd) {
        fill: @color-primary-text;
      }

      > path:nth-child(even) {
        stroke: @color-primary-text;
      }
    }

    > span > a {
      color: @color-primary-text;
    }
  }

  &.Light {
    .mono-9-bold;

    padding: @size-4;

    > span > span,
    > span > a {
      color: @color-secondary-text;
      text-decoration: none;
    }

    > svg {
      > path {
        &:nth-child(even) {
          stroke: @color-secondary-text;
        }
        &:nth-child(odd) {
          fill: @color-secondary-text;
        }
      }
    }
  }
}

.ExternalLinkText {
  .text-14;

  @media @breakpoint-mobile {
    .text-12;
  }

  color: @color-primary-text;
  display: inline-flex;

  > a {
    color: @color-primary-text;
  }

  > svg {
    height: @size-12;
    margin-left: @size-4;
    margin-top: @size-2;
  }
}

.ExternalLinkButton {
  .ViewTransactionDetailsButton;

  color: @color-primary-action;
  display: inline-flex;

  > a {
    color: @color-primary-action;
  }

  &:hover {
    color: @color-primary-text;

    > a {
      color: @color-primary-text;
    }
  }

  > svg {
    margin-left: @size-4;
    height: @size-10;
    width: @size-10;

    > path {
      &:nth-child(odd) {
        fill: @color-primary-action;
        stroke: none;
      }

      &:nth-child(even) {
        stroke: @color-primary-action;
      }
    }
  }

  &.LightAlternate {
    color: @color-outcome-seven;

    > a {
      color: @color-outcome-seven;
    }

    > svg > path {
      &:nth-child(odd) {
        fill: @color-outcome-seven;
        stroke: none;
      }

      &:nth-child(even) {
        stroke: @color-outcome-seven;
      }
    }
  }
}

.DirectionButton {
  .Button;

  align-items: center;
  background: @color-secondary-action;
  border-color: @color-secondary-action-outline;
  display: flex;
  height: @size-32;
  padding: @size-8;
  width: @size-32;

  > svg {
    height: @size-16;
    margin: auto;
    width: @size-16;

    > path {
      stroke: @color-inactive-text;
      fill: none;
    }
  }

  &:hover {
    > svg > path {
      stroke: @color-primary-text;
    }
  }
}

.left {
  > svg {
    transform: rotate(180deg);
  }
}

.ExportButton {
  .CurrenyActionButton;

  align-items: center;
  line-height: @size-15;
  max-height: @size-32;
  min-width: 9rem;
  padding: 0 @size-24;
  white-space: nowrap;

  > svg {
    fill: none;
    height: @size-14;
    width: @size-10;
    margin: 0 @size-1 0 @size-8;

    > path {
      stroke: @color-primary-text;
    }

    > rect {
      fill: @color-primary-text;
    }
  }
}

.SortButton {
  align-items: center;
  display: flex;
  flex-flow: row-reverse nowrap;

  > svg {
    flex: 0 0 @size-8;
    height: @size-12;
    margin-left: @size-4;
    width: @size-8;

    > path {
      fill: @color-secondary-text;

      &:hover {
        fill: @color-primary-text;
      }
    }
  }
}

.Descending {
  > svg > path:first-of-type {
    fill: @color-primary-text;
  }
}

.Ascending {
  > svg > path:last-of-type {
    fill: @color-primary-text;
  }
}

.FilterButton {
  .Button;
  .text-12-bold;

  align-items: center;
  border: @size-1 solid @color-secondary-action-outline;
  border-radius: @border-radius-default;
  color: @color-primary-text;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: @size-32;
  width: @size-165;

  > svg {
    height: @size-10;
    width: @size-10;
    margin-left: @size-9;

    > path {
      fill: @color-primary-text;
    }
  }
}

.CategoryButtons {
  display: grid;
  grid-template-columns: repeat(5, @size-168);
  grid-column-gap: @size-17;
  justify-content: center;

  @media @breakpoint-mobile {
    display: flex;
    flex-wrap: wrap;

    > div {
      margin: @size-12;
    }
  }

  > div {
    .text-16-bold;

    align-items: center;
    background: @color-secondary-action;
    border: @size-1 solid @color-secondary-action-outline;
    border-radius: @size-3;
    color: @color-primary-text;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: @size-178;
    max-width: @size-168;
    min-height: @size-178;
    min-width: @size-168;

    > div:first-of-type {
      > svg {
        height: @size-42;
        width: @size-42;

        > path {
          stroke: @color-primary-text;
        }
      }
    }

    > div:nth-of-type(2) {
      margin: @size-22 0 @size-12 0;
    }

    > div:nth-of-type(3) {
      .text-14;

      color: @color-secondary-text;

      &.loading {
        animation: colorchange 0.5s infinite;
        animation-direction: alternate-reverse;
        background-color: @color-secondary-action-outline;
        height: @size-16;
        width: @size-80;
      }
    }
  }
}

@keyframes colorchange {
  0% {
    background-color: fade(@color-secondary-action-outline, 70);
  }

  100% {
    background-color: fade(@color-secondary-action-outline, 100);
  }
}
