@import (reference) '~assets/styles/shared';

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.Button {
  .text-12-bold;

  border: @border-default;
  border-radius: @border-radius-default;
  cursor: @button-cursor;
  white-space: nowrap;

  &:disabled {
    cursor: @button-cursor-disabled;
  }

  &.Phantom {
    border: unset;
    border-radius: unset;
    background: unset;

    &:hover:enabled {
      background: unset;
    }
    &:focus:enabled {
      background: unset;
    }
    &:active:enabled {
      background: unset;
    }
    > svg {
      > path {
        fill: var(--color-primary-text);
      }
    }
  }

  &.Confirmed {
    color: var(--color-primary-text);
    background: var(--color-positive-20);
    border: 1px solid var(--color-positive);
    border-radius: @border-radius-default;
    &:hover:enabled {
      background: var(--color-positive-20);
    }

    &:focus:enabled {
      background: var(--color-positive-20);
    }

    &:active:enabled {
      background: var(--color-positive-20);
    }
    > svg {
      width: @size-8;
      height: @size-8;
      margin-left: @size-8;

      > path {
        stroke: var(--color-primary-text);
      }
    }
  }

  &.Failed {
    color: var(--color-primary-text);
    background: var(--color-error-20);
    border: 1px solid var(--color-error);
    border-radius: @border-radius-default;
    &:hover:enabled {
      background: var(--color-error-20);
    }

    &:focus:enabled {
      background: var(--color-error-20);
    }

    &:active:enabled {
      background: var(--color-error-20);
    }
    > svg {
      width: @size-8;
      height: @size-8;
      margin-left: @size-8;

      > path {
        stroke: var(--color-primary-text);
      }
    }
  }
}

.PrimaryButton {
  .Button;

  background: var(--color-primary-action);
  color: var(--color-dark-grey);
  max-height: @button-height-default;
  padding: @size-8 @size-12;

  &:not(:disabled):hover {
    background: var(--color-primary-action-90);
  }

  &:not(:disabled):focus {
    background: var(--color-primary-action-80);
  }

  &:not(:disabled):active {
    background: var(--color-primary-action-70);
  }

  &:disabled {
    background: var(--color-primary-action-40);
  }
}
.TextUnderlineButton {
  .text-12-bold;

  text-decoration: underline;
  color: var(--color-primary-text);
}

.TextIconButton {
  .text-10-semi-bold;

  text-transform: uppercase;
  margin-left: auto;
  margin-right: @size-28;
  display: flex;
  align-items: center;

  > svg {
    width: @size-16;
    height: @size-18;
    margin-right: @size-6;

    > path {
      stroke: black;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.ProcessingSpinnerButton {
  &:disabled {
    opacity: 1;
  }
}

.LoadingEllipse {
  background: none;
  animation: spin 2s linear infinite;
  border: none;

  > svg {
    width: @size-16;
    height: @size-16;

    LinearGradient > stop {
      stop-color: var(--color-secondary-text);
    }
  }
}

.SportsBookFailedButton {
  opacity: 1;
  background: transparent;
  border: 0;
  padding: 0;

  > svg {
    display: none;
  }

  > span {
    .text-12;

    color: var(--color-error);
    text-transform: capitalize;

    > b {
      margin-left: @size-4;
      font-weight: 500;
    }
  }

  &:not(:disabled):focus,
  &:not(:disabled):focus:hover {
    background: transparent;
    border: 0;
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .Button {
    .text-14-bold;
  }

  .LoadingEllipse {
    > svg {
      LinearGradient > stop {
        stop-color: var(--color-reporting);
      }
    }
  }

  .SecondaryButton {
    .Button;

    align-items: center;
    background: var(--color-secondary-action);
    border: @size-1 solid var(--color-primary-text);
    color: var(--color-primary-text);
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    max-height: none;
    padding: 0 @size-24;
    height: @size-44;

    &:not(:disabled):hover {
      background: var(--color-primary-text);
      color: var(--color-secondary-action);
    }

    &:not(:disabled):focus,
    &:not(:disabled):focus:hover {
      background: var(--color-secondary-action);
      color: var(--color-primary-text);
      border: @size-2 solid var(--color-focused);
    }

    &:not(:disabled):active {
      background: var(--color-primary-text);
      color: var(--color-secondary-action);
    }

    &:disabled {
      opacity: 0.25;
    }

    &.Dark {
      background: transparent;
      color: var(--color-module-background);
      border: @size-1 solid var(--color-module-background);

      &:hover {
        color: var(--color-primary-text);
        background: var(--color-module-background);
      }
    }

    &.Small,
    &.Tiny {
      .text-10-semi-bold;

      align-items: center;
      padding: @size-12 @size-16;
      display: flex;
      background: var(--color-secondary-action);
      text-transform: uppercase;

      > svg {
        height: @size-12;
        margin-right: @size-6;

        > path {
          fill: var(--color-secondary-text);
        }
      }

      &:hover,
      &:active {
        background: var(--color-primary-text);
        color: var(--color-secondary-action);

        > svg > path {
          fill: var(--color-secondary-action);
          stroke: var(--color-secondary-action);
        }
      }
    }

    &.LightBorder,
    &.Tiny {
      border: @size-1 solid var(--color-dark-text);

      &:hover,
      &:active {
        border: @size-1 solid var(--color-primary-text);
        background: var(--color-secondary-action);
        color: var(--color-primary-text);

        > svg > path {
          stroke: var(--color-primary-text);
        }
      }

      &:active:hover:focus,
      &:focus:hover {
        > svg > path {
          stroke: var(--color-primary-text);
        }
      }

      > svg {
        width: @size-15;
        height: @size-17;
        margin-right: @size-8;

        > path {
          stroke: var(--color-primary-text);
        }
      }
    }

    &.Tiny {
      padding: @size-8;
      height: unset;

      &.Processing {
        opacity: 1;
        background: transparent;
        border: 0;
        padding: 0;
      }

      &.Failed {
        .SportsBookFailedButton;
      }
    }
  }

  .BackButton {
    height: @size-16;
    background: var(--color-module-background);
    border: @size-1 solid var(--color-dark-text);
    border-radius: @border-radius-soft;
    margin-right: @size-8;
    display: flex;
    justify-content: center;

    > svg {
      height: @size-6;
      width: @size-8;
      display: flex;
    }

    > span {
      display: none;
    }
  }

  .CashoutButton {
    .text-10-semi-bold;

    color: var(--color-primary-text);
    background: var(--color-module-background);
    border: @size-1 solid var(--color-dark-text);
    border-radius: @border-radius-default;
    padding: @size-3 @size-6;
    text-transform: uppercase;
    width: fit-content;
    margin-left: auto;

    &:hover {
      background: var(--color-page-background);
      border: @size-1 solid var(--color-primary-text);
    }

    &:focus {
      background: var(--color-module-background);
      border: @size-2 solid var(--color-focused);
    }

    &:disabled {
      border: @size-1 solid var(--color-dark-text);
      color: var(--color-primary-text);
      opacity: 0.5;

      &:hover {
        cursor: default;
        background: var(--color-module-background);
      }
    }

    &.Won {
      background: var(--color-open-15);
      color: var(--color-primary-text);
    }

    &.Loss {
      background: var(--color-resolved-15);
      color: var(--color-primary-text);
    }

    &.Won,
    &.Loss {
      opacity: 1;
    }

    &.CashedOut {
      border: 0;
      color: var(--color-dark-text);

      > span {
        color: var(--color-primary-text);
        margin-left: @size-4;
      }
    }

    &.CashoutAvailable {
      background: var(--color-module-background);
      color: var(--color-primary-text);

      > span {
        margin-left: @size-4;
      }

      &.Won {
        > span {
          color: var(--color-open);
        }
      }

      &.Loss {
        > span {
          color: var(--color-resolved);
        }
      }
    }

    &.WonPreCashout {
      border: 0;
      opacity: 1;
      justify-content: flex-end;
      background: transparent;

      > span {
        margin-left: @size-4;
      }

      &:hover {
        background: transparent;
      }
    }
  }

  .PrimaryButton {
    .Button;

    align-items: center;
    background: var(--color-primary-action-15);
    border: @size-1 solid var(--color-primary-action);
    color: var(--color-primary-text);
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    max-height: @size-44;
    height: @size-44;
    padding: 0 @size-24;

    &:not(:disabled):focus {
      background: var(--color-primary-action-15);
    }

    &:not(:disabled):active {
      background: var(--color-primary-action-40);
    }

    &:not(:disabled):hover {
      background: var(--color-primary-action-40);
    }

    &:disabled {
      background: var(--color-primary-action-15);
      border: @size-1 solid var(--color-primary-action-40);
      opacity: 0.25;
    }
  }

  .AddFundsButton {
    .text-10-semi-bold;

    color: var(--color-module-background);
    padding: @size-4 @size-8;
    width: unset;
    height: unset;
    text-transform: uppercase;

    > svg {
      height: @size-12;
      width: @size-12;
      margin-right: @size-4;

      > path {
        stroke: var(--color-module-background);
        fill: var(--color-module-background);
      }
    }
  }

  .FilterButton {
    text-transform: uppercase;
  }

  .ProcessingSpinnerButton {
    color: var(--color-module-background);

    > svg {
      width: @size-8;
      height: @size-8;
      margin: 0 @size-10 0 0;

      > path {
        stroke: var(--color-module-background);
      }
    }

    &:disabled {
      opacity: 1;
    }
  }
}

.CloseButton {
  justify-content: flex-end;
  display: flex;
  flex: 1;

  > svg {
    height: @size-16;
    width: @size-16;

    > path {
      stroke: var(--color-secondary-text);
    }
  }
}

.BackButton {
  .mono-12;

  text-transform: uppercase;
  display: flex;
  color: var(--color-primary-text);
  display: flex;
  align-items: center;

  > svg {
    width: @size-16;
    height: @size-16;
    margin-right: @size-5;

    > path {
      fill: var(--color-primary-text);
    }
  }
}

.PrimarySignInButton {
  .Button;

  background: var(--color-primary-action);
  color: var(--color-dark-grey);
  padding: @size-12 @size-24;

  > div:first-of-type {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  > div > div:first-of-type {
    > svg {
      width: @size-20;
      height: @size-20;

      > path {
        stroke: var(--color-primary-text);
      }
    }
  }

  > div > div:nth-of-type(2) {
    margin-left: @size-21;

    > div:first-of-type {
      .text-14-bold;

      color: var(--color-primary-text);
      margin-bottom: @size-4;
    }

    > div:last-of-type {
      .text-10;

      color: var(--color-primary-text);
    }
  }

  &:not(:disabled):hover {
    background: var(--color-primary-action-90);
  }

  &:not(:disabled):focus {
    background: var(--color-primary-action-80);
  }

  &:not(:disabled):active {
    background: var(--color-primary-action-70);
  }

  &:disabled {
    background: var(--color-primary-action-40);
  }
}

.SecondarySignInButton {
  .Button;

  background: transparent;
  border: @size-1 solid var(--color-secondary-action-outline);
  color: var(--color-primary-text);
  padding: @size-12 @size-24;

  > div:first-of-type {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  > div > div:first-of-type {
    > svg {
      width: @size-18;
      height: @size-18;

      > path {
        fill: var(--color-primary-text);
      }
    }
  }

  > div > div:nth-of-type(2) {
    margin-left: @size-21;

    > div:first-of-type {
      .text-14-bold;

      color: var(--color-primary-text);
      margin-bottom: @size-4;
    }

    > div:last-of-type {
      .text-10;

      color: var(--color-secondary-text);
    }
  }

  &:disabled {
    background: var(--color-inactive-text);
  }

  &:hover:enabled {
    background: var(--color-primary-action-5);
  }

  &:focus:enabled {
    background: var(--color-primary-action-10);
  }

  &:active:enabled {
    background: var(--color-primary-action-15);
  }

  &.Small {
    .text-10-bold;

    padding: @size-6 @size-12;
  }
}

.SecondaryButton {
  .Button;

  background: transparent;
  border: @size-1 solid var(--color-secondary-action-outline);
  color: var(--color-primary-text);
  max-height: @button-height-default;
  padding: @size-8 @size-12;

  &:disabled {
    background: var(--color-secondary-hover-25);
    color: var(--color-primary-text-25);
  }

  &:hover:enabled {
    background: var(--color-primary-action-5);
  }

  &:focus:enabled {
    background: var(--color-primary-action-10);
  }

  &:active:enabled {
    background: var(--color-primary-action-15);
  }

  &.Small {
    .text-10-bold;

    padding: @size-6 @size-12;
  }

  > svg {
    height: @size-12;
    width: @size-12;

    > rect {
      fill: var(--color-primary-text);
      height: 1px;
      width: @size-8;
    }
  }
}

.BuyOrderButton {
  .Button;
  .mono-12-semi-bold;

  background: var(--color-positive-10);
  border-color: var(--color-positive);
  border-width: @size-2;
  color: var(--color-positive);
  height: @button-height-default;
  max-height: @button-height-default;
  text-transform: uppercase;
  width: 100%;

  &:disabled {
    background: var(--color-positive-5);
    border-color: var(--color-positive-10);
    color: var(--color-positive-20);
  }

  &:hover:enabled {
    background: var(--color-positive-20);
  }
}

.ToggleExtendButton {
  display: flex;
  margin-left: @size-16;

  > svg {
    align-self: center;
    width: @size-6;
    height: @size-12;

    > path {
      stroke: var(--color-secondary-text);
    }
  }

  &:hover {
    cursor: pointer;

    > svg {
      > path {
        stroke: var(--color-primary-text);
      }
    }
  }

  @media @breakpoint-mobile {
    display: none;
  }
}

.SellOrderButton {
  .Button;
  .mono-12-semi-bold;

  background: var(--color-negative-10);
  border-color: var(--color-negative);
  border-width: @size-2;
  color: var(--color-negative);
  height: @button-height-default;
  max-height: @button-height-default;
  text-transform: uppercase;
  width: 100%;

  &:disabled {
    background: var(--color-negative-5);
    border-color: var(--color-negative-10);
    color: var(--color-negative-20);
  }

  &:hover:enabled {
    background: var(--color-negative-20);
  }
}

.ChatButton {
  .mono-10-semi-bold;

  padding: @size-9;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  color: var(--color-primary-text);
  background: var(--color-secondary-action);
  cursor: pointer;
  border: @size-1 solid var(--color-secondary-action-outline);
  border-radius: @border-radius-default;

  > svg {
    width: @size-10;
    height: @size-10;
    fill: var(--color-primary-text);
    margin-left: @size-4;
    transform: rotate(180deg);

    path {
      fill: var(--color-primary-text);
    }
  }
}
// Used in Betting UI
.FavoriteButton {
  .text-12;

  align-items: center;
  color: var(--color-primary-text);
  cursor: @button-cursor;
  display: flex;
  flex-flow: row nowrap;

  > svg {
    height: @size-18;
    width: @size-18;
  }

  > svg > path {
    fill: var(--color-secondary-text);
    fill-opacity: 0.1;
    stroke: var(--color-secondary-text);
  }

  &:disabled {
    color: var(--color-primary-text-20);
    cursor: @button-cursor-disabled;

    > svg > path {
      fill-opacity: 0.1;
      stroke: var(--color-primary-text-20);
      stroke-opacity: 0.3;
    }
  }

  &:hover:enabled {
    > svg > path {
      fill: var(--color-primary-action);
      fill-opacity: 0.1;
      stroke: var(--color-primary-action);
    }
  }
}

.FavoriteButton_Favorite {
  .FavoriteButton;

  > svg > path {
    fill: var(--color-primary-action);
    fill-opacity: 1;
    stroke: var(--color-primary-action);
  }

  &:hover:enabled {
    > svg > path {
      fill: var(--color-primary-action);
      fill-opacity: 0.5;
      stroke: var(--color-primary-action);
    }
  }
}

.FavoriteButton_small {
  > svg {
    height: @size-16;
    width: @size-16;
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .ParagraphButton {
    .text-14-bold;

    border-bottom: @size-1 dotted var(--color-primary-text);
    color: var(--color-primary-text);

    &:hover {
      border-bottom: @size-1 solid var(--color-primary-text);
    }
  }

  .PendingIconButton {
    &.NEWFILL {
      > svg {
        margin: 0;

        > path {
          stroke: var(--color-open);
        }
      }
    }
    &.FAILED {
      > svg {
        margin: 0;
        width: @size-12;
        height: @size-16;

        > path {
          fill: var(--color-error);
        }
      }
    }

    &.PENDING {
      > svg {
        animation: spin 2s linear infinite;
        height: @size-14;
        width: @size-14;
        margin: 0;

        > path {
          stroke: var(--color-reporting);
        }

        LinearGradient > stop {
          stop-color: var(--color-reporting);
        }
      }
    }

    &:hover {
      cursor: default;
      &.PENDING {
        > svg {
          > path {
            stroke: var(--color-reporting);
          }
        }
      }

      &.FAILED {
        > svg {
          > path {
            stroke: var(--color-error);
          }
        }
      }
    }
  }
  .FavoriteButton {
    > svg > path {
      fill: var(--color-dark-text);
      fill-opacity: 0.5;
      stroke: none;
    }

    &:hover:enabled {
      > svg > path {
        fill: var(--color-primary-text);
        fill-opacity: 1;
        stroke: none;
      }
    }
  }

  .FavoriteButton_Favorite {
    > svg > path {
      fill: var(--color-reporting);
      fill-opacity: 1;
      stroke: none;
    }

    &:hover:enabled {
      > svg > path {
        fill: var(--color-reporting);
        fill-opacity: 1;
        stroke: none;
      }
    }
  }
}

.CompactButton {
  .Button;
  .mono-9-bold;

  border: @border-default;
  background: var(--color-secondary-action);
  border-color: var(--color-secondary-action-outline);
  border-radius: @size-3;
  color: var(--color-primary-text);
  line-height: @size-10;
  padding: @size-2 @size-4;
  text-transform: uppercase;

  &:hover:enabled {
    color: var(--color-dismissable-notice-background);
  }
}

.CancelTextButton {
  .Button;
  .mono-10-semi-bold;

  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  text-transform: uppercase;
  background: var(--color-secondary-action);
  border: @size-1 solid var(--color-secondary-action-outline);
  border-radius: @size-3;
  color: var(--color-primary-text);
  padding: @size-4 @size-6;
  white-space: nowrap;

  &.IconButton {
    padding: @size-2;
  }

  &:disabled {
    color: var(--color-primary-text-20);
  }

  > svg {
    fill: none;
    height: @size-8;
    width: @size-8;

    > path {
      stroke: var(--color-secondary-text);
    }
  }

  > span {
    margin-left: @size-4;
  }

  &:hover {
    color: var(--color-primary-text);

    > svg > path {
      stroke: var(--color-primary-text);
    }
  }

  @media @breakpoint-mobile {
    &:disabled {
      color: var(--color-inactive-text);
      opacity: 0.5;

      > svg > path {
        stroke: var(--color-inactive-text);
      }
    }
  }

  &.Failed {
    border: 0;
    background: transparent;
    color: var(--color-error);

    > span {
      > svg {
        width: @size-7;
        height: @size-8;
        margin-left: @size-4;

        > path {
          fill: var(--color-error);
        }
      }
    }

    &:hover:enabled,
    &:hover {
      background: transparent;
    }
  }
}

.SubmitTextButton {
  .mono-10;

  align-items: center;
  color: var(--color-primary-action);
  display: flex;
  flex-flow: row nowrap;
  line-height: @size-10;
  text-transform: uppercase;

  @media @breakpoint-mobile {
    line-height: @size-24;
  }

  &:hover {
    font-weight: bold;
  }

  &:disabled {
    color: var(--color-primary-text-20);

    &:hover {
      color: var(--color-primary-text-20);
    }
  }

  &.Failed {
    color: var(--color-error);
  }

  &.Confirmed {
    color: var(--color-positive);
  }
}

.DaiPercentButton {
  display: flex;
  justify-content: center;
  padding: @size-3 @size-5;

  > svg {
    fill: none;
    height: @size-10;
    width: @size-10;

    > path {
      fill: var(--color-inactive-text);
    }
  }

  &:hover {
    > svg > path {
      fill: var(--color-primary-text);
    }
  }
}

.CurrenyActionButton {
  .Button;

  align-content: center;
  // background: var(--color-secondary-action);
  background: transparent;
  border: @size-1 solid var(--color-secondary-action-outline);
  color: var(--color-primary-text);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  line-height: @size-16;
  max-height: @button-height-default;
  padding: @size-12;

  > svg {
    fill: none;
    height: @size-16;
    margin: auto 0 auto @size-8;
    width: @size-16;

    > path {
      fill: var(--color-primary-text);
    }
  }

  &:disabled {
    background: var(--color-inactive-text);
    border-color: var(--color-inactive-text);
    color: var(--color-inactive-text);

    > svg {
      > path {
        stroke: var(--color-inactive-text);
      }

      > rect {
        fill: var(--color-inactive-text);
      }
    }
  }

  &:hover:enabled {
    background: var(--color-secondary-hover);
  }

  &:focus:enabled {
    background: var(--color-secondary-hover);
  }

  &:active:enabled {
    background: var(--color-secondary-hover);
  }
}

.ViewTransactionsButton {
  .CurrenyActionButton;

  > svg {
    height: @size-12;
    width: @size-12;

    > path {
      &:nth-child(even) {
        fill: var(--color-primary-text);
        stroke: none;
      }
    }
  }

  &:disabled {
    > svg {
      > path {
        &:nth-child(even) {
          fill: var(--color-inactive-text);
        }

        &:nth-child(odd) {
          stroke: var(--color-inactive-text);
        }
      }
    }
  }
}

.ProcessingCheckmark {
  > svg {
    margin: 0;
    width: @size-12;
    height: @size-10;

    > path {
      fill: var(--color-open);
    }
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .ViewTransactionsButton {
    .text-10-semi-bold;
  }

  .CancelTextButton {
    &:hover {
      border: @size-1 solid var(--color-primary-text);
    }
    &.Processing,
    &.Confirmed {
      border: 0;
      justify-content: flex-end;
    }

    &.Failed {
      .SportsBookFailedButton;

      justify-content: flex-end;
    }
  }
}

.DAIFaucetButton,
.REPFaucetButton {
  .ViewTransactionsButton;

  height: 100%;
  padding: @size-12;

  > svg {
    height: @size-16;
    width: @size-16;

    > path {
      &:nth-child(odd) {
        fill: var(--color-primary-text);
        stroke: none;
      }
    }
  }

  &:disabled {
    > svg > path {
      &:nth-child(odd) {
        fill: var(--color-inactive-text);
        stroke: none;
      }
    }
  }
}

.DAIFaucetButton {
  > svg > path {
    fill: var(--color-primary-text);
  }
}

.ViewTransactionDetailsButton {
  .mono-9-bold;

  background: var(--color-secondary-action);
  border: @size-1 solid var(--color-secondary-action-outline);
  border-radius: @border-radius-default;
  align-items: center;
  color: var(--color-primary-text);
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: @size-2 @size-4;

  > span > a {
    display: flex;
  }

  > span > a > svg,
  > span > span > svg {
    fill: none;
    height: @size-10;
    margin-left: @size-4;
    width: @size-10;

    > path:nth-child(odd) {
      fill: var(--color-secondary-text);
    }

    > path:nth-child(even) {
      stroke: var(--color-secondary-text);
    }
  }

  > span > a {
    color: var(--color-primary-text);
    white-space: nowrap;
  }

  &:hover {
    > svg {
      > path:nth-child(odd) {
        fill: var(--color-primary-text);
      }

      > path:nth-child(even) {
        stroke: var(--color-primary-text);
      }
    }

    > span > a {
      color: var(--color-primary-text);
    }
  }

  &.Light {
    .mono-9-bold;

    padding: @size-4;

    > span > span,
    > span > a {
      color: var(--color-secondary-text);
      text-decoration: none;
    }

    > svg {
      > path {
        &:nth-child(even) {
          stroke: var(--color-secondary-text);
        }
        &:nth-child(odd) {
          fill: var(--color-secondary-text);
        }
      }
    }
  }
}

.ExternalLinkText {
  .text-14;

  @media @breakpoint-mobile {
    .text-12;
  }

  color: var(--color-primary-text);
  display: inline-flex;

  > a {
    color: var(--color-primary-text);
  }

  > svg {
    height: @size-12;
    margin-left: @size-4;
    margin-top: @size-2;

    > path {
      &:nth-child(odd) {
        fill: var(--color-secondary-text);
        stroke: none;
      }

      &:nth-child(even) {
        stroke: var(--color-secondary-text);
      }
    }
  }
}

.ExternalLinkButton {
  .ViewTransactionDetailsButton;

  color: var(--color-primary-action);
  display: inline-flex;

  > a {
    color: var(--color-primary-action);
  }

  &:hover {
    color: var(--color-primary-text);

    > a {
      color: var(--color-primary-text);
    }
  }

  > svg {
    margin-left: @size-4;
    height: @size-10;
    width: @size-10;

    > path {
      &:nth-child(odd) {
        fill: var(--color-primary-action);
        stroke: none;
      }

      &:nth-child(even) {
        stroke: var(--color-primary-action);
      }
    }
  }

  &.LightAlternate {
    color: var(--color-outcome-seven);

    > a {
      color: var(--color-outcome-seven);
    }

    > svg > path {
      &:nth-child(odd) {
        fill: var(--color-outcome-seven);
        stroke: none;
      }

      &:nth-child(even) {
        stroke: var(--color-outcome-seven);
      }
    }
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .ExternalLinkButton {
    color: var(--color-text-secondary);
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;

    > a {
      .text-14;

      color: var(--color-text-secondary);
      text-transform: capitalize;
    }

    &:hover {
      color: var(--color-primary-text);

      > a {
        color: var(--color-primary-text);
      }
    }

    > svg {
      margin-left: 0;
      margin-right: @size-10;
      height: @size-12;
      width: @size-12;

      > path {
        &:nth-child(odd) {
          fill: var(--color-primary-text);
          stroke: none;
        }

        &:nth-child(even) {
          stroke: var(--color-primary-text);
        }
      }
    }

    &.LightAlternate {
      color: var(--color-secondary-text);

      > a {
        color: var(--color-secondary-text);
      }

      &:hover {
        color: var(--color-primary-text);

        > a {
          color: var(--color-primary-text);
        }
      }

      > svg > path {
        &:nth-child(odd) {
          fill: var(--color-primary-text);
          stroke: none;
        }

        &:nth-child(even) {
          stroke: var(--color-primary-text);
        }
      }
    }

    &.CondensedStyle {
      border: 0;
      background: transparent;

      > a {
        .text-10-medium;

        color: var(--color-primary-text);
        text-transform: uppercase;
      }

      > svg {
        margin-right: @size-6;
        width: @size-12;
        height: @size-12;

        > path {
          &:nth-child(odd) {
            fill: var(--color-primary-text);
            stroke: none;
          }

          &:nth-child(even) {
            stroke: var(--color-primary-text);
          }
        }
      }
    }
  }
}

.DirectionButton {
  .Button;

  align-items: center;
  background: var(--color-secondary-action);
  border-color: var(--color-secondary-action-outline);
  display: flex;
  height: @size-32;
  justify-content: center;
  width: @size-32;

  > svg {
    height: @size-16;
    margin: auto;
    width: @size-16;

    > path {
      stroke: var(--color-inactive-text);
      fill: none;
    }
  }

  &:hover > svg > path {
    stroke: var(--color-primary-text);
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .DirectionButton {
    // background: var(--color-module-background);
    background: transparent;
    border-color: var(--color-dark-text);

    > svg > path {
      stroke: var(--color-primary-text);
    }

    &:hover:enabled {
      border-color: var(--color-pimary-text);
    }

    &:focus {
      border: @size-2 solid var(--color-focused);
    }

    &:disabled {
      opacity: 0.25;
    }
  }
}

.left > svg {
  transform: rotate(180deg);
}

.ExportButton {
  .CurrenyActionButton;

  align-items: center;
  line-height: @size-15;
  max-height: @size-32;
  min-width: 9rem;
  padding: 0 @size-24;
  white-space: nowrap;

  > svg {
    fill: none;
    height: @size-14;
    width: @size-10;
    margin: 0 @size-1 0 @size-8;

    > path {
      stroke: var(--color-primary-text);
    }

    > rect {
      fill: var(--color-primary-text);
    }
  }
}

.SortButton {
  align-items: center;
  display: flex;
  flex-flow: row-reverse nowrap;

  > svg {
    flex: 0 0 @size-8;
    height: @size-12;
    margin-left: @size-4;
    width: @size-8;

    > path {
      fill: var(--color-secondary-text);

      &:hover {
        fill: var(--color-primary-text);
      }
    }
  }
}

.Descending {
  > svg > path:first-of-type {
    fill: var(--color-primary-text);
  }
}

.Ascending > svg > path:last-of-type {
  fill: var(--color-primary-text);
}

.FilterButton {
  .Button;
  .text-12-bold;

  align-items: center;
  border: @size-1 solid var(--color-secondary-action-outline);
  border-radius: @border-radius-default;
  color: var(--color-primary-text);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: @size-32;
  width: @size-165;

  > svg {
    height: @size-10;
    width: @size-10;
    margin-left: @size-9;

    > path {
      fill: var(--color-primary-text);
    }
  }
}

.SportsSortButton {
  .Button;
  .text-10-semi-bold;

  align-items: center;
  border: @size-1 solid var(--color-secondary-action-outline);
  border-radius: @border-radius-default;
  color: var(--color-primary-text);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-transform: uppercase;

  > svg {
    height: @size-16;
    width: @size-16;
    margin-right: @size-4;

    > path {
      fill: var(--color-primary-text);
    }
  }
}

.CategoryButtons {
  display: grid;
  grid-template-columns: repeat(5, @size-168);
  grid-column-gap: @size-17;
  justify-content: center;

  @media @breakpoint-mobile {
    display: flex;
    flex-wrap: wrap;

    > div {
      margin: @size-12;
    }
  }

  > div {
    .text-16-bold;

    align-items: center;
    background: var(--color-secondary-action);
    border: @size-1 solid var(--color-secondary-action-outline);
    border-radius: @size-3;
    color: var(--color-primary-text);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: @size-178;
    max-width: @size-168;
    min-height: @size-178;
    min-width: @size-168;

    > div:first-of-type {
      > svg {
        height: @size-42;
        width: @size-42;

        > path {
          stroke: var(--color-primary-text);
        }
      }
    }

    > div:nth-of-type(2) {
      margin: @size-22 0 @size-12 0;
    }

    > div:nth-of-type(3) {
      .text-14;

      color: var(--color-secondary-text);

      &.loading {
        animation: colorchange 0.5s infinite;
        animation-direction: alternate-reverse;
        background-color: var(--color-secondary-action-outline);
        height: @size-16;
        width: @size-80;
      }
    }
  }
}

.BettingButton {
  .Button;

  align-items: center;
  background: transparent;
  color: var(--color-primary-text);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: @size-36;
  min-width: @size-60;

  > div:first-of-type {
    .text-12-bold;

    color: var(--color-primary-text);
    text-align: center;
  }

  > div:last-of-type {
    .text-12;

    color: var(--color-primary-text);
    text-align: center;
  }

  &.Back {
    border: @size-1 solid var(--color-positive);
    background: var(--color-positive-15);

    &:disabled {
      opacity: 0.15;
    }

    &:hover:enabled {
      background: var(--color-positive-40);
    }

    &:focus:enabled {
      border: @size-2 solid var(--color-focused);
    }

    &:active:enabled {
      background: var(--color-positive-40);
    }
  }

  &.Lay {
    border: @size-1 solid var(--color-negative);
    background: var(--color-negative-15);

    &:disabled {
      opacity: 0.15;
    }

    &:hover:enabled {
      background: var(--color-negative-40);
    }

    &:focus:enabled {
      border: @size-2 solid var(--color-focused);
    }

    &:active:enabled {
      background: var(--color-negative-40);
    }
  }
}

@keyframes colorchange {
  0% {
    background-color: var(--color-secondary-action-outline-70);
  }

  100% {
    background-color: var(--color-secondary-action-outline);
  }
}
