@import (reference) '~assets/styles/shared';

.filterTags {
  display: none;

  @media @breakpoint-mobile {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: @size-16 0;

    > div {
      align-items: center;
      border: 1px solid @color-secondary-action-outline;
      border-radius: @size-6;
      display: flex;
      justify-content: center;
      padding: @size-4 @size-8;

      > span:first-of-type {
        .text-10;

        color: @color-secondary-text;
      }

      > span:nth-of-type(2) {
        cursor: pointer;
        margin-left: @size-8;
        transform: translateY(-@size-2);

        > svg {
          height: @size-8;
          stroke: @color-secondary-action-outline;
          width: @size-8;
        }
      }
    }

    > div:nth-of-type(2) {
      margin-left: @size-12;
    }
  }
}
