@import (reference) '~assets/styles/shared';

.filterNotice {
  margin: @size-24 0;

  @media @breakpoint-mobile {
    margin: @size-16 0;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: @size-1 solid var(--color-secondary-action-outline);
    border-radius: @border-radius-rounded;
    padding: @size-8 @size-16;
    width: 100%;

    > span:first-of-type {
      display: flex;
      margin: 0 @size-16 0 0;
    }

    > span:last-of-type {
      .text-12;

      color: var(--color-secondary-text);

      > a {
        color: var(--color-primary-action);
      }
    }

    > button {
      background-color: transparent;
      height: @size-10;
      line-height: @size-10;
      width: @size-10;
      margin-left: auto;

      > svg {
        height: @size-10;
        width: @size-10;

        > path {
          stroke: var(--color-secondary-action-outline)
        }
      }
    }
  }
}

.invalid {
  svg {
    height: @size-19;
    width: @size-19;
    fill: var(--color-outcome-invalid);
  }

  rect, path {
    fill: var(--color-inactive-text);
  }
}

.primary {
  svg {
    height: @size-19;
    width: @size-19;
    fill: var(--color-primary-text);
  }

  rect, path {
    fill: var(--color-secondary-action);
  }
}


:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .filterNotice {
    > div {
      border: @size-1 solid var(--color-error);
      border-radius: @border-radius-default;
      padding: @size-12 @size-16 @size-12 @size-6;
      background: var(--color-module-background);

      > span:first-of-type {
        margin: 0 @size-6 0 0;
      }

      > span:last-of-type {
        .text-12;

        color: var(--color-primary-text);

        > a {
          .text-12-semi-bold;

          color: var(--color-primary-text);

          text-decoration-line: underline;
          text-decoration-style: dotted;
          text-decoration-color: var(--color-primary-text);
        }
      }
    }
  }

  .invalid {
    svg {
      height: @size-20;
      width: @size-20;
      fill: var(--color-outcome-invalid);
    }
  
    rect, path {
      fill: var(--color-secondary-action);
    }
  }

  .primary {
    svg {
      height: @size-20;
      width: @size-20;
      fill: var(--color-error);
    }
  
    rect, path {
      fill: var(--color-secondary-action);
    }
  }
}
