@import (reference) '~assets/styles/shared';

.filterNotice {
  margin: @size-24 0;

  @media @breakpoint-mobile {
    margin: @size-16 0;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid @color-secondary-action-outline;
    border-radius: @size-6;
    padding: @size-8 @size-16;
    width: 100%;

    > span:first-of-type {
      display: flex;
      margin: 0 @size-16 0 0;
    }

    > span:last-of-type {
      .text-12;

      color: @color-secondary-text;

      > a {
        color: @color-primary-action;
      }
    }

    > button {
      background-color: transparent;
      height: @size-10;
      line-height: @size-10;
      width: @size-10;
      margin-left: auto;

      > svg {
        height: @size-10;
        width: @size-10;

        > path {
          stroke: @color-secondary-action-outline
        }
      }
    }
  }
}

.invalid {
  svg {
    height: @size-19;
    width: @size-19;
    fill: @color-outcome-invalid;
  }

  rect, path {
    fill: @color-inactive-text;
  }
}

.primary {
  svg {
    height: @size-19;
    width: @size-19;
    fill: @color-primary-text;
  }

  rect, path {
    fill: @color-secondary-action;
  }
}
