@import (reference) '~assets/styles/shared';

// Many labels can be used in Betting UI
.TimeLabel {
  display: flex;
  flex-flow: row wrap;

  > span {
    .mono-9-bold;

    color: @color-secondary-text;
    line-height: @size-14;
    line-height: 160%;
  }

  > span:first-of-type {
    display: flex;
    align-items: end;

    > label {
      display: inline-block;
      height: @size-12;
      margin: 0 0 0 @size-4;
      width: @size-12;

      > svg {
        height: @size-12;
        width: @size-12;

        > circle {
          fill: none;
          stroke: @color-secondary-text;
        }

        > path {
          fill: @color-secondary-text;
        }
      }
    }
  }

  > span:nth-of-type(2) {
    .mono-11;

    color: @color-primary-text;
    line-height: 160%;
  }

  > span:nth-of-type(3) {
    .mono-9;

    line-height: @size-11;
  }
}

.Dashline {
  .dashline-normal;
}

.DashlineLong {
  .dashline-long;
}

.ValueLabel {
  color: inherit;
  z-index: @default-z-index;

  &.DarkDash {
    color: @color-secondary-text;
  }

  &.Alert {
    color: @color-error;
  }

  > label {
    color: inherit;
    cursor: inherit;
    margin: 0;

    > span {
      color: @color-primary-text;
    }
  }
}

.SizableValueLabel {
  &.Large {
    .mono-14-bold;
  }

  &.Small {
    .mono-11;
  }

  &.Highlight {
    color: @color-primary-text;
  }
}

.TextLabel {
  .text-12;

  color: inherit;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  z-index: @default-z-index;

  > label {
    color: inherit;
    cursor: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > div {
    .text-12;

    max-width: 320px;
    padding: @size-12 @size-12 @size-8;
  }
}

.InvalidLabel {
  color: @color-outcome-invalid;
  display: flex;

  > label {
    margin-left: @size-8;
    margin-bottom: 0;

    > svg {
      cursor: pointer;
      height: @size-12;
      width: @size-12;

      > circle {
        stroke: @color-secondary-text;
        fill: none;
      }

      > path {
        fill: @color-secondary-text;
      }
    }
  }
}

.CountdownLabel {
  .text-12-medium;

  color: @color-secondary-text;
  margin-right: @size-12;
}

.HoverValueLabel {
  color: inherit;
  display: flex;
  flex: 1;

  > span {
    display: grid;
    flex: 1;
    grid-template-columns: minmax(0.625rem, 2.8125rem) 1fr;

    > span:first-of-type {
      display: flex;
      justify-content: flex-end;
    }

    > span:last-of-type {
      display: flex;
      justify-content: flex-start;
    }
  }
}

// Used in market-header in market detail page.
.PropertyLabel {
  display: flex;
  flex-flow: column nowrap;

  > span:first-of-type {
    .text-10-medium;

    align-items: end;
    color: @color-secondary-text;
    display: flex;
    flex-flow: row nowrap;
    text-transform: capitalize;
    line-height: 160%;

    > label {
      display: inline-block;
      height: @size-12;
      margin: 0 0 0 @size-4;
      width: @size-12;

      > svg {
        height: @size-12;
        width: @size-12;

        > circle {
          fill: none;
          stroke: @color-secondary-text;
        }

        > path {
          fill: @color-secondary-text;
        }
      }
    }
  }

  > span:last-of-type {
    .mono-12-medium;

    color: @color-primary-text;
    line-height: 160%;
  }
}

.LinearPropertyLabelPercent {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0;

  &:not(:last-of-type) {
    margin-bottom: 0.375rem;
  }

  > div:first-of-type {
    margin-right: @size-4;
  }

  > div {
    margin-bottom: 0 !important;
  }
}

.LinearPropertyLabelTooltip {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0;
  margin-top: @size-5;

  > div:first-of-type {
    max-width: 260px;
  }

  > div:last-of-type {
    margin-left: @size-10;

    > label {
      margin-bottom: 0;

      > svg {
        width: @size-16;
        height: @size-16;

        > path {
          fill: @color-primary-action;
        }
      }
    }
  }
}

.LinearPropertyLabel {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  white-space: nowrap;

  &:not(:last-of-type) {
    margin-bottom: @size-8;

    @media @breakpoint-mobile {
      margin-bottom: @size-8;
    }
  }

  > span:first-of-type {
    .text-10-medium;

    align-items: center;
    color: @color-secondary-text;
    flex-flow: row nowrap;
    text-transform: uppercase;

    > label {
      margin: 0 0 0 @size-4;
      width: @size-10;
    }
  }

  > svg {
    display: flex;
    flex-grow: 1;
    margin: @size-4 0 0 @size-8;
    min-width: 0.625rem;

    > line {
      stroke: fade(@color-primary-text, 40%);
    }
  }

  > span:nth-of-type(2),
  > span:last-of-type {
    .mono-12-medium;

    color: @color-primary-text;
    padding-left: @size-8;

    &.isHighlighted {
      color: @color-reporting;
    }
    &.isAccented {
      color: @color-error;
    }
  }

  &.HighlightAlternateBolded {
    > span:nth-of-type(2),
    > span:last-of-type {
      font-weight: bold;
    }
  }

  &.HighlightFirst {
    > span:first-of-type {
      .mono-10-bold;

      color: @color-secondary-text;
    }
  }

  &.Highlight {
    > span:first-of-type {
      .mono-10;

      color: @color-primary-text;
    }

    > span:nth-of-type(2),
    > span:last-of-type,
    > span:nth-of-type(2) > label,
    > span:last-of-type > label {
      .mono-12-bold;

      color: @color-primary-text;
    }
  }

  @media @breakpoint-mobile {
    &.HighlightFirst,
    &.Highlight {
      > span:first-of-type {
        .mono-9;
      }

      > span:nth-of-type(2),
      > span:last-of-type {
        .mono-10;

        color: @color-primary-text;
      }
    }

    > span:first-of-type {
      .mono-10-medium;

      color: @color-secondary-text;
    }

    > span:nth-of-type(2),
    > span:last-of-type {
      .mono-12-medium;

      color: @color-primary-text;
    }

    > span:nth-of-type(2) {
      display: block;
    }
  }
}

div.LinearPropertyViewTransaction {
  > div {
    margin-bottom: 0;
  }
}

.RepBalance {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  max-width: 300px;
  width: fit-content;

  &.Alternate {
    > span:first-of-type {
      .mono-12-semi-bold;

      color: @color-secondary-text;
    }

    > span:nth-of-type(2) {
      .mono-default;

      color: @color-primary-text;
    }

    > span:last-of-type {
      .mono-default;

      color: @color-secondary-text;
      position: relative;
      top: @size-3;
    }
  }

  @media @breakpoint-mobile {
    max-width: 150px;
  }

  > span {
    .mono-14-medium;

    color: @color-primary-text;
    flex: 0 auto;
    text-transform: uppercase;

    @media @breakpoint-mobile {
      .mono-14;
    }
  }

  > span:first-of-type {
    .text-12;

    color: @color-inactive-text;
    flex: 1 100%;
    font-weight: @weight-medium;
    margin-bottom: @size-4;

    @media @breakpoint-mobile {
      .text-10;
    }
  }

  > span:last-of-type {
    .text-12;

    flex: 0 auto;
    font-weight: @weight-medium;
    margin-left: @size-8;

    @media @breakpoint-mobile {
      .text-10;
    }
  }

  &.Larger {
    > span:nth-of-type(2) {
      .mono-22-bold;
    }
  }
}

.MarketTypeLabel {
  .mono-10-medium;

  background: fade(@color-secondary-text, 30%);
  border-radius: @border-radius-default;
  border: 1px solid transparent;
  color: @color-primary-text;
  line-height: @size-11;
  max-width: fit-content;
  padding: 0 @size-4;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &.MarketScalarLabel {
    background: fade(@color-scalar, 20%);
    color: @color-scalar;

    > svg {
      fill: none;
      height: @size-6;
      margin-left: @size-4;
      width: @size-20;

      > rect {
        fill: @color-scalar;
        height: 1.5px;
        width: @size-20;
      }

      > path {
        fill: @color-scalar;
      }
    }
  }
}

.MarketStatus {
  .mono-9-bold;

  border: @size-1 solid transparent;
  color: @color-primary-text;
  line-height: @size-11;
  padding: 0 @size-2;
  border-radius: @border-radius-default;
  text-transform: uppercase;
  width: max-content;
}

.MarketStatus_open {
  background: fade(@color-open, 15%);
  color: @color-open;
}

.MarketStatus_reporting {
  background: fade(@color-reporting, 15%);
  color: @color-reporting;
}

.MarketStatus_resolved {
  background: fade(@color-resolved, 15%);
  color: @color-resolved;
}

.MarketStatus_warpSync {
  background: fade(@color-primary-action, 20%);
  color: @color-primary-action;
}

.MarketStatus_forking {
  background: fade(@color-error, 20%);
  color: @color-error;
  display: flex;

  > svg {
    width: @size-10;
    height: @size-10;
    margin-right: @size-4;

    > circle {
      fill: @color-error;
    }
  }
}

.Archived {
  &:hover {
    > svg > g > path {
      stroke: @color-primary-text;
    }
  }
}

.LiquidityDepletedLabel {
  .text-9-medium;

  margin-left: @size-10;
  color: @color-outcome-five;
  background: fade(@color-outcome-five, 15%);
  border-radius: @border-radius-default;
  padding: 1px 2px;
}

.InReporting_reportingDetails {
  > svg {
    width: @size-10;
    height: @size-6;
    margin: 0 @size-4;

    > path {
      fill: @color-reporting;
    }
  }
}

.InReporting_reportingDetails__countdown {
  > span {
    > span:first-of-type {
      .mono-10;

      color: @color-inactive-text;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
    }

    > span:last-of-type {
      .mono-12;

      color: @color-primary-text;
      line-height: normal;
    }
  }

  @media @breakpoint-mobile {
    > span {
      > span:first-of-type {
        .mono-9;
      }

      > span:last-of-type {
        .mono-10;
      }
    }
  }
}

.PendingLabel {
  > span {
    .mono-9;

    align-items: center;
    background: @color-secondary-action-outline;
    border-radius: @border-radius-rounded;
    color: @color-primary-text;
    display: flex;
    flex-flow: row nowrap;
    height: @size-16;
    line-height: @size-10;
    padding: 1px 0.375rem;
    text-transform: uppercase;

    > div {
      border-width: 1px;
      margin-left: 0.3125rem;
    }
  }

  &.Failure {
    > span {
      .mono-10-medium;

      background: @color-error;
    }
  }
}

span.PendingLabel {
  > div {
    max-width: unset;
  }
}

.ConfirmedLabel {
  .PendingLabel;

  background: fade(@color-open, 40%);

  > svg {
    fill: @color-primary-text;
    height: @size-10;
    margin-left: 0.3125rem;
    width: @size-10;

    > path {
      fill: @color-primary-text;
    }
  }
}

.MovementLabel {
  align-items: center;
  color: @color-primary-text;
  display: flex;
  justify-content: flex-end;
}

.MovementLabel_Text {
  &_small {
    .mono-9-bold;
  }

  &_normal {
    .mono-12-medium;
  }

  &_large {
    .mono-10;
  }

  &_positive {
    color: @color-positive;
  }

  &_negative {
    color: @color-negative;
  }

  &_neutral {
    color: @color-secondary-text;
  }
}

.MovementLabel_Icon {
  margin: 0 @size-8 0 0;

  > svg {
    fill: none;
    height: @size-9;
    width: @size-14;
  }

  &_small {
    transform: scale(0.8);
  }

  &_normal {
    transform: scale(0.9);
  }

  &_large {
    transform: scale(1);
  }

  &_positive {
    > svg > path:nth-child(1) {
      fill: @color-positive;
    }

    > svg > path:nth-child(2) {
      stroke: @color-positive;
    }
  }

  &_negative {
    > svg {
      transform: rotateX(180deg);
    }

    > svg > path:nth-child(1) {
      fill: @color-negative;
    }

    > svg > path:nth-child(2) {
      stroke: @color-negative;
    }
  }
}

.PillLabel {
  .mono-10-medium;

  align-items: center;
  background: transparent;
  border: 1px solid @color-outline;
  border-radius: @border-radius-default;
  color: @color-outline;
  display: flex;
  justify-content: center;
  height: @size-18;
  min-height: @size-18;
  max-height: @size-18;
  padding: @size-2 @size-3;
  text-transform: capitalize;

  &.HideOnMobile {
    display: flex;

    @media @breakpoint-mobile {
      display: none;
    }
  }
}

.PositionTypeLabel {
  .mono-9-bold;

  color: @color-positive;
  font-weight: bold;
  text-transform: uppercase;

  &.Sell {
    color: @color-negative;
  }

  &.Closed {
    color: unset;
  }
}

.WordTrail {
  display: inline-flex;
  align-items: center;
  // Required to make ellipsis work.
  min-width: 0;

  > label {
    display: flex;
    margin-right: @size-8;
    margin-bottom: 0;
  }

  > button {
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:not(:first-of-type)::before {
      margin: 0 @size-4;
    }

    > span:nth-of-type(2) {
      margin: 0 @size-4;
    }
  }
}

.WordTrailButton {
  .mono-9-bold;

  color: @color-secondary-text;
  text-transform: uppercase;
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  &:hover {
    > span:first-of-type {
      text-decoration: underline;
    }
  }
}

.DataArchivedLabel {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  > label {
    .text-12;

    color: @color-secondary-text;
    display: flex;
    align-items: center;

    > svg {
      height: @size-12;
      margin-left: @size-2;
      width: @size-12;

      > circle {
        stroke: @color-secondary-text;
      }

      > path {
        fill: @color-secondary-text;
      }
    }
  }
}

.CategoryTagTrail {
  display: flex;
  // Required to make ellipsis work.
  min-width: 0;
}

.denomination {
  margin-left: @size-4;
}

.postfix {
  margin-left: @size-5;
}

.prefix {
  margin-right: @size-5;
}

.ModalMessageLabel {
  margin: 0 @size-24 @size-24;

  @media @breakpoint-mobile {
    margin: 0 @size-16 @size-16;
  }
}

.ModalMessageLabelInitWallet {
  margin: unset;

  @media @breakpoint-mobile {
    margin: unset;
  }
}

.ModalMessageAutoCancel {
  margin: @size-24 0;

  @media @breakpoint-mobile {
    margin: @size-24 0;
  }
}

.MarketLabel {
  .text-12-semi-bold;

  align-items: center;
  color: @color-secondary-text;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: @size-9 0;
  text-transform: uppercase;

  @media @breakpoint-mobile{
    padding-top: @size-6;
  }

  > div:nth-child(even) {
    margin: 0 0 0 @size-4;
  }

  &:hover {
    color: @color-primary-text;
  }

  &.loading {
    pointer-events: none;

    > div:last-of-type {
      > span svg {
        height: @size-10;
        width: @size-10;
        animation: spin 2s linear infinite;

        path {
          stroke: @color-secondary-text;
        }
      }
    }
  }

  &.selected {
    .text-12-semi-bold;

    color: @color-primary-text;
    padding: @size-9 0 @size-7 0;
    border-bottom: @size-2 solid @color-primary-text;

    &.open {
      border-color: @color-open;
    }

    &.inReporting {
      border-color: @color-reporting;
    }

    &.resolved {
      border-color: @color-resolved;
    }

    > div:nth-child(even) {
      font-weight: bold;
      margin: 0 0 0 @size-4;
    }

    > div:last-of-type {
      > span svg path {
        stroke: @color-primary-text;
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.discordLink {
  .text-14-paragraph;

  color: @color-primary-text;

  @media @breakpoint-mobile {
    .text-12-paragraph;
  }

  > a {
    color: @color-primary-action;
  }
}

.LabelWithTooltip {
  > span > label[class*="TooltipHint"] {
    display: inline-block;
    margin-bottom: 0;
  }
}

.TEXT {
  position: relative;
  white-space: nowrap;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.StatusDotTooltip {
  display: flex;

  > span {
    border-radius: 50%;
    height: @size-8;
    margin-right: @size-4;
    align-self: center;
    width: @size-8;

    &.Ready {
      background: @color-open;
    }
    &.Lag {
      background: @color-reporting;
      cursor: pointer;
    }
    &.Error {
      background: @color-error;
      cursor: pointer;
    }
  }
}


.StatusErrorMessage {
  display: flex;
  justify-content: center;
  padding: @size-5 0;
  left: 0;
  right: 0;
  z-index: @mask;
  background: @color-module-background-action-focus;

  @media @breakpoint-mobile {
    position: fixed;
  }

  > span {
    .text-10-bold;

    display: flex;
    background: fade(@color-error, 20%);
    border-bottom: @size-2 solid @color-error;
    border-left: @size-4 solid @color-error;
    border-right: @size-2 solid @color-error;
    border-top: @size-2 solid @color-error;
    border-radius: 3px;
    color: @color-primary-text;
    padding: 0.5rem 0;
    width: 21.125rem;
    text-transform: uppercase;

    @media @breakpoint-mobile {
      margin: 0 @size-5;
      width: 100%;
    }

    > svg {
      align-self: center;
      grid-row: span 2;
      fill: none;
      height: @size-12;
      margin: 0 0.35rem;
      width: @size-12;

      > circle {
        stroke: @color-error;
      }

      > rect,
      > path {
        fill: @color-error;
      }
    }
  }
}

.EthReserveNotice {
  margin: @size-8 @size-12;

  > div {
    padding: @size-5;
  }
}

.Checkbox {
  .text-10;

  align-items: center;
  color: @color-primary-text;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: @size-40 auto @size-16;
  width: 304px;

  > svg {
    margin: 0 @size-12;
    width: @size-20;

    > rect {
      stroke: @color-secondary-action-outline;
    }

    > path {
      stroke: @color-primary-text;
    }
  }
}

.CheckboxChecked {
  > svg > rect {
    fill: @color-secondary-action;
    fill-opacity: 0.3;
  }
}
