@import (reference) '~assets/styles/shared';

.TimeLabel {
  display: flex;
  flex-flow: row wrap;

  > span {
    .mono-9-bold;

    color: @color-secondary-text;
    line-height: @size-14;
    text-transform: uppercase;
    line-height: 160%;
  }

  > span:first-of-type {
    display: flex;
    align-items: center;

    > label {
      display: inline-block;
      height: @size-12;
      margin: 0 0 0 @size-4;
      width: @size-12;

      > svg {
        fill: none;
        height: @size-12;
        width: @size-12;

        > circle {
          fill: @color-primary-text;
          stroke: @color-primary-text;
          stroke-width: 1.5;
        }

        > path {
          fill: @color-inactive-text;
        }
      }
    }
  }

  > span:nth-of-type(2) {
    .mono-11;

    color: @color-primary-text;
    line-height: 160%;
  }

  > span:nth-of-type(3) {
    .mono-9;

    line-height: @size-11;
  }
}

.Dashline {
  .dashline-normal;
}

.DashlineLong {
  .dashline-long;
}

.ValueLabel {
  color: inherit;
  z-index: @default-z-index;

  &.DarkDash {
    color: @color-secondary-text;
  }

  > label {
    color: inherit;
    cursor: inherit;
    margin: 0;

    > span {
      color: @color-secondary-text;
    }
  }
}

.SizableValueLabel {
  &.Large {
    .mono-14-bold;
  }

  &.Small {
    .mono-11;
  }

  &.Highlight {
    color: @color-primary-text;
  }
}

.TextLabel {
  .text-12;

  color: inherit;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  z-index: @default-z-index;

  > label {
    color: inherit;
    cursor: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > div {
    .text-12;

    max-width: 320px;
    padding: @size-12 @size-12 @size-8;
  }
}

.InvalidLabel {
  color: @color-outcome-invalid;
  display: flex;

  > label {
    margin-left: @size-8;
    margin-bottom: 0;

    > svg {
      height: @size-12;
      width: @size-12;

      > circle {
        stroke: @color-secondary-text;
        fill: none;
      }

      > path {
        fill: @color-secondary-text;
      }
    }
  }

}

.HoverValueLabel {
  color: inherit;
  display: flex;
  flex: 1;

  > span {
    display: grid;
    flex: 1;
    grid-template-columns: minmax(0.625rem, 2.8125rem) 1fr;

    > span:first-of-type {
      display: flex;
      justify-content: flex-end;
    }

    > span:last-of-type {
      display: flex;
      justify-content: flex-start;
    }
  }
}

.PropertyLabel {
  display: flex;
  flex-flow: column nowrap;

  > span:first-of-type {
    .mono-9-bold;

    align-items: center;
    color: @color-secondary-text;
    display: flex;
    flex-flow: row nowrap;
    text-transform: uppercase;
    line-height: 160%;

    > label {
      display: inline-block;
      height: @size-12;
      margin: 0 0 0 @size-4;
      width: @size-12;

      > svg {
        fill: none;
        height: @size-12;
        width: @size-12;

        > circle {
          fill: @color-primary-text;
          stroke: @color-primary-text;
          stroke-width: 1.5;
        }

        > path {
          fill: @color-inactive-text;
        }
      }
    }
  }

  > span:last-of-type {
    .mono-11;

    color: @color-primary-text;
    line-height: 160%;
  }
}

.LinearPropertyLabelPercent {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0;

  &:not(:last-of-type) {
    margin-bottom: 0.375rem;
  }

  > div:first-of-type {
    margin-right: @size-4;
  }

  > div {
    margin-bottom: 0 !important;
  }
}

.LinearPropertyLabelTooltip {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0;
  margin-top: @size-5;

  > div:first-of-type {
    max-width: 260px;
  }

  > div:last-of-type {
    margin-left: @size-10;

    > label {
      margin-bottom: 0;

      > svg {
        width: @size-16;
        height: @size-16;

        > path {
          fill: @color-primary-action;
        }
      }
    }
  }
}

.LinearPropertyLabel {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  white-space: nowrap;

  &:not(:last-of-type) {
    margin-bottom: @size-8;

    @media @breakpoint-mobile {
      margin-bottom: @size-8;
    }
  }

  > span:first-of-type {
    .mono-10;

    align-items: center;
    color: @color-inactive-text;
    flex-flow: row nowrap;
    text-transform: uppercase;

    > label {
      margin: 0 0 0 @size-4;
      width: @size-10;
    }
  }

  > svg {
    display: flex;
    flex-grow: 1;
    margin: @size-4 0 0 @size-8;
    min-width: 0.625rem;

    > line {
      stroke: fade(@color-primary-text, 40%);
    }
  }

  > span:nth-of-type(2),
  > span:last-of-type {
    .mono-10-medium;

    color: @color-primary-text;
    padding-left: @size-8;

    &.isAccented {
      color: @color-error;
    }
  }

  &.HighlightAlternateBolded {
    > span:nth-of-type(2),
    > span:last-of-type {
      font-weight: bold;
    }
  }

  &.HighlightFirst {
    > span:first-of-type {
      .mono-10-bold;

      color: @color-secondary-text;
    }
  }

  &.Highlight {
    > span:first-of-type {
      .mono-10;

      color: @color-primary-text;
    }

    > span:nth-of-type(2),
    > span:last-of-type,
    > span:nth-of-type(2) > label,
    > span:last-of-type > label {
      .mono-12-bold;

      color: @color-primary-text;
    }
  }

  > span:nth-of-type(2) {
    display: none;
  }

  @media @breakpoint-mobile {
    &.HighlightFirst,
    &.Highlight {
      > span:first-of-type {
        .mono-9;
      }

      > span:nth-of-type(2),
      > span:last-of-type {
        .mono-10;

        color: @color-primary-text;
      }
    }

    > span:first-of-type {
      .mono-9;
    }

    > span:nth-of-type(2),
    > span:last-of-type {
      .mono-10;

      color: @color-primary-text;
    }

    > span:nth-of-type(2) {
      display: block;
    }

    > span:last-of-type {
      display: none;
    }
  }
}

div.LinearPropertyViewTransaction {
  > div {
    margin-bottom: 0;
  }
}

.RepBalance {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  max-width: 175px;
  width: fit-content;

  &.Alternate {
    > span:first-of-type {
      .mono-10;

      color: @color-secondary-text;
    }

    > span:nth-of-type(2) {
      .mono-default;

      color: @color-primary-text;
    }

    > span:last-of-type {
      .mono-default;

      color: @color-secondary-text;
    }
  }

  @media @breakpoint-mobile {
    max-width: 150px;
  }

  > span {
    .mono-14-medium;

    color: @color-primary-text;
    flex: 0 auto;
    text-transform: uppercase;

    @media @breakpoint-mobile {
      .mono-14;
    }
  }

  > span:first-of-type {
    .text-12;

    color: @color-inactive-text;
    flex: 1 100%;
    font-weight: @weight-medium;
    margin-bottom: @size-4;

    @media @breakpoint-mobile {
      .text-10;
    }
  }

  > span:last-of-type {
    .text-12;

    flex: 0 auto;
    font-weight: @weight-medium;
    margin-left: @size-8;

    @media @breakpoint-mobile {
      .text-10;
    }
  }

  &.Larger {
    > span:nth-of-type(2) {
      .mono-24;
    }
  }
}

.MarketTypeLabel {
  .mono-9-bold;

  background: fade(@color-secondary-text, 30%);
  border-radius: @border-radius-default;
  border: 1px solid transparent;
  color: @color-primary-text;
  line-height: @size-11;
  max-width: fit-content;
  padding: 0 @size-2;
  text-transform: uppercase;
}

.MarketStatus {
  .mono-9-bold;

  border: 1px solid transparent;
  color: @color-primary-text;
  line-height: @size-11;
  padding: 0 1px;
  position: relative;
  border-radius: @border-radius-default;
  text-transform: uppercase;
}

.MarketStatus_open {
  background: fade(@color-open, 15%);
  color: @color-open;
}

.MarketStatus_reporting {
  background: fade(@color-reporting, 15%);
  color: @color-reporting;
}

.MarketStatus_resolved {
  background: fade(@color-resolved, 15%);
  color: @color-resolved;
}

.InReporting_reportingDetails {
  > svg {
    width: @size-10;
    height: @size-6;
    margin: 0 @size-4;

    > path {
      fill: @color-reporting;
    }
  }
}

.InReporting_reportingDetails__countdown {
  > span {
    > span:first-of-type {
      .mono-10;

      color: @color-inactive-text;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
    }

    > span:last-of-type {
      .mono-12;

      color: @color-primary-text;
      line-height: normal;
    }
  }

  @media @breakpoint-mobile {
    > span {
      > span:first-of-type {
        .mono-9;
      }

      > span:last-of-type {
        .mono-10;
      }
    }
  }
}

.PendingLabel {
  > span {
    .mono-9;

    align-items: center;
    background: @color-secondary-action-outline;
    border-radius: @border-radius-rounded;
    color: @color-primary-text;
    display: flex;
    flex-flow: row nowrap;
    height: @size-16;
    line-height: @size-10;
    padding: 1px 0.375rem;
    text-transform: uppercase;

    > div {
      border-width: 1px;
      margin-left: 0.3125rem;
    }
  }

  &.Failure {
    > span {
      .mono-10-medium;

      background: @color-error;
    }
  }
}

.ConfirmedLabel {
  .PendingLabel;

  background: fade(@color-open, 40%);

  > svg {
    fill: @color-primary-text;
    height: @size-10;
    margin-left: 0.3125rem;
    width: @size-10;

    > path {
      fill: @color-primary-text;
    }
  }
}

.MovementLabel {
  align-items: center;
  color: @color-primary-text;
  display: flex;
  justify-content: flex-end;
}

.MovementLabel_Text {
  &_small {
    .mono-9-bold;
  }

  &_normal {
    .mono-9;
  }

  &_large {
    .mono-10;
  }

  &_positive {
    color: @color-positive;
  }

  &_negative {
    color: @color-negative;
  }
}

.MovementLabel_Icon {
  margin: 0 @size-8 0 0;

  > svg {
    fill: none;
    height: @size-9;
    width: @size-14;
  }

  &_small {
    transform: scale(0.8);
  }

  &_normal {
    transform: scale(0.9);
  }

  &_large {
    transform: scale(1);
  }

  &_positive {
    > svg > path:nth-child(1) {
      fill: @color-positive;
    }

    > svg > path:nth-child(2) {
      stroke: @color-positive;
    }
  }

  &_negative {
    > svg {
      transform: rotateX(180deg);
    }

    > svg > path:nth-child(1) {
      fill: @color-negative;
    }

    > svg > path:nth-child(2) {
      stroke: @color-negative;
    }
  }
}

.PillLabel {
  .mono-10;

  align-items: center;
  background: @color-secondary-action-outline;
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  padding: 0 0.375rem;

  &.HideOnMobile {
    display: flex;

    @media @breakpoint-mobile-mid {
      display: none;
    }
  }
}

.PositionTypeLabel {
  .mono-9-bold;

  color: @color-positive;
  font-weight: bold;
  text-transform: uppercase;

  &.Sell {
    color: @color-negative;
  }

  &.Closed {
    color: unset;
  }
}

.WordTrail {
  display: inline-flex;
  align-items: center;
  // Required to make ellipsis work.
  min-width: 0;

  > svg {
    display: flex;
    margin-right: @size-8;
  }

  > button {
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:not(:first-of-type)::before {
      margin: 0 @size-4;
    }

    > span:nth-of-type(2) {
      margin: 0 @size-4;
    }
  }
}

.WordTrailButton {
  .mono-9-bold;

  color: @color-secondary-text;
  text-transform: uppercase;
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  &:hover {
    > span:first-of-type {
      text-decoration: underline;
    }
  }
}

.CategoryTagTrail {
  display: flex;
  // Required to make ellipsis work.
  min-width: 0;
}

.denomination {
  margin-left: @size-4;
}

.postfix {
  margin-left: @size-5;
}

.prefix {
  margin-right: @size-5;
}

.BulkTxLabel {
  margin: 0 @size-24 @size-24;

  @media @breakpoint-mobile {
    margin: 0 @size-16 @size-16;
  }
}

.MarketLabel {
  .mono-12-bold;

  align-items: center;
  color: @color-inactive-text;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding-bottom: @size-12;
  text-transform: uppercase;

  > div:nth-child(even) {
    margin: 0 0 0 @size-4;
  }

  &.loading {
    pointer-events: none;

    > div:last-of-type {
      > span svg {
        animation: spin 2s linear infinite;

        path {
          stroke: @color-inactive-text;
        }
      }
    }
  }

  &.selected {
    .text-11-bold;

    color: @color-primary-text;
    border-bottom: 1px solid @color-primary-text;

    &.open {
      border-color: @color-open;
    }

    &.inReporting {
      border-color: @color-reporting;
    }

    &.resolved {
      border-color: @color-resolved;
    }

    > div:nth-child(even) {
      font-weight: bold;
      margin: 0 0 0 @size-8;
    }

    > div:last-of-type {
      > span svg path {
        stroke: @color-primary-text;
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
