@import (reference) '~assets/styles/shared';

// Many labels can be used in Betting UI
.TimeLabel {
  display: flex;
  flex-flow: row wrap;

  > span {
    .mono-9-bold;

    color: var(--color-secondary-text);
    line-height: @size-14;
    line-height: 160%;
  }

  > span:first-of-type {
    display: flex;
    align-items: center;

    > label {
      display: inline-block;
      height: @size-12;
      margin: 0 0 0 @size-4;
      width: @size-12;

      > svg {
        height: @size-12;
        width: @size-12;

        > circle {
          fill: none;
          stroke: var(--color-secondary-text);
        }

        > path {
          fill: var(--color-secondary-text);
        }
      }
    }
  }

  > span:nth-of-type(2) {
    .mono-11;

    color: var(--color-primary-text);
    line-height: 160%;
  }

  > span:nth-of-type(3) {
    .mono-9;

    line-height: @size-11;
  }
}

.FullTimeLabel {
  .TimeLabel;
}

.Dashline {
  .dashline-normal;
}

.DashlineLong {
  .dashline-long;
}

.ValueLabel {
  color: inherit;
  z-index: @default-z-index;

  &.DarkDash {
    color: var(--color-secondary-text);
  }

  &.Alert {
    color: var(--color-error);
  }

  > label {
    color: inherit;
    cursor: inherit;
    margin: 0;

    > span {
      color: var(--color-primary-text);
    }
  }
}

.SizableValueLabel {
  &.Large {
    .mono-14-bold;
  }

  &.Small {
    .mono-11;
  }

  &.Highlight {
    color: var(--color-primary-text);
  }
}

.TextLabel {
  .text-12;

  color: inherit;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  z-index: @default-z-index;

  > label {
    color: inherit;
    cursor: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > div {
    .text-12;

    max-width: 320px;
    padding: @size-12 @size-12 @size-8;
  }
}

.InvalidLabel {
  color: var(--color-outcome-invalid);
  display: flex;

  > label {
    margin-left: @size-8;
    margin-bottom: 0;

    > svg {
      cursor: pointer;
      height: @size-12;
      width: @size-12;

      > circle {
        stroke: var(--color-secondary-text);
        fill: none;
      }

      > path {
        fill: var(--color-secondary-text);
      }
    }
  }
}

.CountdownLabel {
  .text-12-medium;

  color: var(--color-secondary-text);
  margin-right: @size-12;
}

.HoverValueLabel {
  color: inherit;
  display: flex;
  flex: 1;

  > span {
    display: grid;
    flex: 1;
    grid-template-columns: minmax(0.625rem, 2.8125rem) 1fr;

    > span:first-of-type {
      display: flex;
      justify-content: flex-end;
    }

    > span:last-of-type {
      display: flex;
      justify-content: flex-start;
    }
  }
}

.TypeLabel {
  .text-8-semi-bold;

  padding: @size-1 @size-2;
  background: var(--color-positive-40);
  border-radius: @size-1;
  text-transform: uppercase;

  &.Ask {
    background: var(--color-negative-40);
  }
}
// Used in market-header in market detail page.
.PropertyLabel {
  display: flex;
  flex-flow: column nowrap;

  > span:first-of-type {
    .text-10-medium;

    align-items: flex-end;
    color: var(--color-secondary-text);
    display: flex;
    flex-flow: row nowrap;
    text-transform: capitalize;
    line-height: 160%;

    > label {
      display: inline-block;
      height: @size-12;
      margin: 0 0 0 @size-4;
      width: @size-12;

      > svg {
        height: @size-12;
        width: @size-12;

        > circle {
          fill: none;
          stroke: var(--color-secondary-text);
        }

        > path {
          fill: var(--color-secondary-text);
        }
      }
    }
  }

  > span:last-of-type {
    .mono-12-medium;

    color: var(--color-primary-text);
    line-height: 160%;
  }
}

.PropertyLabel,
.TimeLabel {
  &.Large {
    > span:first-of-type {
      .text-12-medium;

      text-transform: uppercase;
    }

    > span:nth-of-type(2) {
      .text-20-bold;
    }

    > span:nth-of-type(3) {
      .text-12;
    }
  }
}

.TimeLabel {
  &.Large {
    > span:nth-of-type(2) {
      .text-16-bold;
    }
  }
}

.LinearPropertyLabelPercent {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0;

  &:not(:last-of-type) {
    margin-bottom: 0.375rem;
  }

  > div:first-of-type {
    margin-right: @size-4;
  }

  > div {
    margin-bottom: 0 !important;
  }
}

.LinearPropertyLabelTooltip {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0;
  margin-top: @size-5;

  > div:first-of-type {
    max-width: 260px;
  }

  > div:last-of-type {
    margin-left: @size-10;

    > label {
      margin-bottom: 0;

      > svg {
        width: @size-16;
        height: @size-16;

        > path {
          fill: var(--color-primary-action);
        }
      }
    }
  }
}

.LinearPropertyLabel {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  white-space: nowrap;

  &:not(:last-of-type) {
    margin-bottom: @size-8;

    @media @breakpoint-mobile {
      margin-bottom: @size-8;
    }
  }

  > span:first-of-type {
    .text-10-medium;

    align-items: center;
    color: var(--color-secondary-text);
    flex-flow: row nowrap;
    text-transform: uppercase;

    &.RegularCase {
      text-transform: unset;
    }

    > label {
      margin: 0 0 0 @size-4;
      width: @size-10;
    }
  }

  > svg {
    display: flex;
    flex-grow: 1;
    margin: @size-4 0 0 @size-8;
    min-width: 0.625rem;

    > line {
      stroke: var(--color-primary-text-40);
    }
  }

  > span:nth-of-type(2),
  > span:last-of-type {
    .mono-12-medium;

    color: var(--color-primary-text);
    padding-left: @size-8;

    &.isHighlighted {
      color: var(--color-reporting);
    }
    &.isAccented {
      color: var(--color-error);
    }
    &.isSecondary {
      color: var(--color-secondary-text);
    }
    &.underline {
      cursor: pointer;
      text-decoration: underline;
    }
    &.Negative {
      color: var(--color-resolved);
    }
    &.Positive {
      color: var(--color-open);
    }
  }

  &.HighlightAlternateBolded {
    > span:nth-of-type(2),
    > span:last-of-type {
      font-weight: bold;
    }
  }

  &.HighlightFirst {
    > span:first-of-type {
      .mono-10-bold;

      color: var(--color-secondary-text);
    }
  }

  &.Highlight {
    > span:first-of-type {
      .mono-10;

      color: var(--color-primary-text);
    }

    > span:nth-of-type(2),
    > span:last-of-type,
    > span:nth-of-type(2) > label,
    > span:last-of-type > label {
      .mono-12-bold;

      color: var(--color-primary-text);
    }
  }

  @media @breakpoint-mobile {
    &.HighlightFirst,
    &.Highlight {
      > span:first-of-type {
        .mono-9;
      }

      > span:nth-of-type(2),
      > span:last-of-type {
        .mono-10;

        color: var(--color-primary-text);
      }
    }

    > span:first-of-type {
      .mono-10-medium;

      color: var(--color-secondary-text);
    }

    > span:nth-of-type(2),
    > span:last-of-type {
      .mono-12-medium;

      color: var(--color-primary-text);
    }

    > span:nth-of-type(2) {
      display: block;
    }
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .StatusErrorMessage {
    > span {
      .text-12;
      
      color: var(--color-primary-text);
      text-transform: unset;
      width: 100%;
      margin: @size-32;
      background: var(--color-module-background);
      border: @size-1 solid var(--color-outcome-invalid);
      align-items: center;
      
      > svg {
        height: @size-20;
        width: @size-20;
        background: var(--color-outcome-invalid);
        border-radius: 100px;

        > path,
        > rect {
          fill: var(--color-module-background);
        }

        > circle {
          stroke: var(--color-outcome-invalid);
        }
      }
    }
  }

  .LinearPropertyLabel {
    > svg > line {
      stroke: var(--color-dark-text);
    }

    &.Highlight {
      > span:first-of-type {
        .mono-10-semi-bold;

        color: var(--color-secondary-text);
      }

      > span:nth-of-type(2),
      > span:last-of-type,
      > span:nth-of-type(2) > label,
      > span:last-of-type > label {
        .mono-12;

        color: var(--color-primary-text);
      }
    }

    &.RecentlyUpdated {
      > span:last-of-type {
        background: var(--color-reporting-30);
      }
    }
  }
}

div.LinearPropertyViewTransaction {
  > div {
    margin-bottom: 0;
  }
}

.RepBalance {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  max-width: 300px;
  width: fit-content;

  &.Alternate {
    > span:first-of-type {
      .mono-12-semi-bold;

      color: var(--color-secondary-text);
    }

    > span:nth-of-type(2) {
      .mono-default;

      color: var(--color-primary-text);
    }

    > span:last-of-type {
      .mono-default;

      color: var(--color-secondary-text);
      position: relative;
      top: @size-3;
    }
  }

  @media @breakpoint-mobile {
    max-width: 150px;
  }

  > span {
    .mono-14-medium;

    color: var(--color-primary-text);
    flex: 0 auto;
    text-transform: uppercase;

    @media @breakpoint-mobile {
      .mono-14;
    }
  }

  > span:first-of-type {
    .text-12;

    color: var(--color-inactive-text);
    flex: 1 100%;
    font-weight: @weight-medium;
    margin-bottom: @size-4;

    @media @breakpoint-mobile {
      .text-10;
    }
  }

  > span:last-of-type {
    .text-12;

    flex: 0 auto;
    font-weight: @weight-medium;
    margin-left: @size-8;

    @media @breakpoint-mobile {
      .text-10;
    }
  }

  &.Larger {
    > span:nth-of-type(2) {
      .mono-22-bold;
    }
  }
}

.MarketTypeLabel {
  .mono-10-medium;

  background: --color-secondary-text-30;
  border-radius: @border-radius-default;
  border: 1px solid transparent;
  color: var(--color-primary-text);
  line-height: @size-11;
  max-width: fit-content;
  padding: 0 @size-4;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &.MarketScalarLabel {   
    background: var(--color-scalar-20);
    color: var(--color-scalar);
    display: inline-block;

    > svg {
      fill: none;
      height: @size-6;
      margin-left: @size-4;
      width: @size-20;

      > rect {
        fill: var(--color-scalar);
        height: 1.5px;
        width: @size-20;
      }

      > path {
        fill: var(--color-scalar);
      }
    }
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .MarketTypeLabel {
    &.MarketScalarLabel {
      .mono-10-semi-bold;

      background: var(--color-module-background);
      color: var(--color-secondary-text);
      border: @size-1 solid var(--color-outline);
      border-radius: @border-radius-default;
      height: @size-20;
      padding: 0px @size-7;

      display: flex;
      flex-direction: row-reverse;

      > svg {
        margin-left: 0px;
        margin-right: @size-4;
      }
    }
  }
}

.MarketStatus {
  .mono-9-bold;

  border: @size-1 solid transparent;
  color: var(--color-primary-text);
  line-height: @size-11;
  padding: 0 @size-2;
  border-radius: @border-radius-default;
  text-transform: uppercase;
  width: max-content;
}

.MarketStatus_open {
  background: var(--color-open-15);
  color: var(--color-open);
}

.MarketStatus_reporting {
  background: var(--color-reporting-15);
  color: var(--color-reporting);
}

.MarketStatus_resolved {
  background: var(--color-resolved-15);
  color: var(--color-resolved);
}

.MarketStatus_warpSync {
  background: var(--color-primary-action-20);
  color: var(--color-primary-action);
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .MarketStatus {
    .mono-10-semi-bold;

    border: none;
    line-height: @size-12;
    padding: @size-4 @size-5;
  }

  .MarketStatus_open {
    color: var(--color-secondary-text);
  }

  .MarketStatus_reporting {
    background: var(--color-reporting-15);
    color: var(--color-secondary-text);
  }

  .MarketStatus_resolved {
    background: var(--color-dark-text);
    color: var(--color-module-background);
  }
}

.MarketStatus_forking {
  background: var(--color-error-20);
  color: var(--color-error);
  display: flex;

  > svg {
    width: @size-10;
    height: @size-10;
    margin-right: @size-4;

    > circle {
      fill: var(--color-error);
    }
  }
}

.Archived {
  &:hover {
    > svg > g > path {
      stroke: var(--color-primary-text);
    }
  }
}

.LiquidityDepletedLabel {
  .text-9-medium;

  margin-left: @size-10;
  color: var(--color-outcome-five);
  background: var(--color-outcome-five-15);
  border-radius: @border-radius-default;
  padding: @size-1 @size-2;
}

.AddLiquidityButton {
  .text-12-bold;

  text-decoration: underline;
  margin-left: auto;
}

.InReporting_reportingDetails {
  > svg {
    width: @size-10;
    height: @size-6;
    margin: 0 @size-4;

    > path {
      fill: var(--color-reporting);
    }
  }
}

.InReporting_reportingDetails__countdown {
  > span {
    > span:first-of-type {
      .mono-10;

      color: var(--color-inactive-text);
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
    }

    > span:last-of-type {
      .mono-12;

      color: var(--color-primary-text);
      line-height: normal;
    }
  }

  @media @breakpoint-mobile {
    > span {
      > span:first-of-type {
        .mono-9;
      }

      > span:last-of-type {
        .mono-10;
      }
    }
  }
}

.PendingLabel {
  > span {
    .mono-9;

    align-items: center;
    background: var(--color-secondary-action-outline);
    border-radius: @border-radius-rounded;
    color: var(--color-primary-text);
    display: flex;
    flex-flow: row nowrap;
    height: @size-16;
    line-height: @size-10;
    padding: 1px 0.375rem;
    text-transform: uppercase;

    > div {
      border-width: 1px;
      margin-left: 0.3125rem;
    }
  }

  &.Failure {
    > span {
      .mono-10-medium;

      background: var(--color-error);
    }
  }
}

span.PendingLabel {
  > div {
    max-width: unset;
  }
}

.ConfirmedLabel {
  .PendingLabel;

  background: var(--color-open-40);

  > svg {
    fill: var(--color-primary-text);
    height: @size-10;
    margin-left: 0.3125rem;
    width: @size-10;

    > path {
      fill: var(--color-primary-text);
    }
  }
}

.MovementLabel {
  align-items: center;
  color: var(--color-primary-text);
  display: flex;
  justify-content: flex-end;
}

.MovementLabel_Text {
  &_small {
    .mono-9-bold;
  }

  &_normal {
    .mono-12-medium;
  }

  &_large {
    .mono-10;
  }

  &_positive {
    color: var(--color-positive);
  }

  &_negative {
    color: var(--color-negative);
  }

  &_neutral {
    color: var(--color-secondary-text);
  }
}

.MovementLabel_Icon {
  margin: 0 @size-8 0 0;

  > svg {
    fill: none;
    height: @size-9;
    width: @size-14;
  }

  &_small {
    > svg {
      height: @size-7;
      width: @size-12;
    }
  }

  &_normal {
    > svg {
      height: @size-8;
      width: @size-13;
    }
  }

  &_large {
    transform: scale(1);
  }

  &_positive {
    > svg > path:nth-child(1) {
      fill: var(--color-positive);
    }

    > svg > path:nth-child(2) {
      stroke: var(--color-positive);
    }
  }

  &_negative {
    > svg {
      transform: rotateX(180deg);
    }

    > svg > path:nth-child(1) {
      fill: var(--color-negative);
    }

    > svg > path:nth-child(2) {
      stroke: var(--color-negative);
    }
  }
}

.PillLabel {
  .mono-10-medium;

  align-items: center;
  background: transparent;
  border: @size-1 solid var(--color-outline);
  border-radius: @border-radius-default;
  color: var(--color-outline);
  display: flex;
  justify-content: center;
  height: @size-18;
  min-height: @size-18;
  max-height: @size-18;
  padding: @size-2 @size-3;
  text-transform: capitalize;

  &.HideOnMobile {
    display: flex;

    @media @breakpoint-mobile {
      display: none;
    }
  }
}

.PositionTypeLabel {
  .mono-9-bold;

  color: var(--color-positive);
  font-weight: bold;
  text-transform: uppercase;

  &.Sell {
    color: var(--color-negative);
  }

  &.Closed {
    color: unset;
  }
}

.WordTrail {
  display: inline-flex;
  align-items: center;
  // Required to make ellipsis work.
  min-width: 0;

  > label {
    display: flex;
    margin-right: @size-8;
    margin-bottom: 0;
  }

  > button {
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:not(:first-of-type)::before {
      margin: 0 @size-4;
    }

    > span:nth-of-type(2) {
      margin: 0 @size-4;
    }
  }
}

.WordTrailButton {
  .mono-9-bold;

  color: var(--color-secondary-text);
  text-transform: uppercase;
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  &:hover {
    > span:first-of-type {
      text-decoration: underline;
    }
  }
}

.DataArchivedLabel {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  > label {
    .text-12;

    color: var(--color-secondary-text);
    display: flex;
    align-items: center;

    > svg {
      height: @size-12;
      margin-left: @size-2;
      width: @size-12;

      > circle {
        stroke: var(--color-secondary-text);
      }

      > path {
        fill: var(--color-secondary-text);
      }
    }
  }
}

.CategoryTagTrail {
  display: flex;
  // Required to make ellipsis work.
  min-width: 0;
}

.denomination {
  margin-left: @size-4;
}

.postfix {
  margin-left: @size-5;
}

.prefix {
  margin-right: @size-5;
}

.ModalMessageLabel {
  margin: 0 @size-24 @size-24;

  @media @breakpoint-mobile {
    margin: 0 @size-16 @size-16;
  }
}

.ModalMessageLabelInitWallet {
  margin: unset;

  @media @breakpoint-mobile {
    margin: unset;
  }
}

.ModalMessageAutoCancel {
  margin: @size-24 0;

  @media @breakpoint-mobile {
    margin: @size-24 0;
  }
}

.MarketLabel {
  .text-12-semi-bold;

  align-items: center;
  color: var(--color-secondary-text);
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: @size-9 0;
  text-transform: uppercase;

  @media @breakpoint-mobile {
    padding-top: @size-6;
  }

  > div:nth-child(even) {
    margin: 0 0 0 @size-4;
  }

  &:hover {
    color: var(--color-primary-text);
  }

  &.loading {
    pointer-events: none;

    > div:last-of-type {
      > span svg {
        height: @size-10;
        width: @size-10;
        animation: spin 2s linear infinite;

        LinearGradient > stop {
          stop-color: var(--color-primary-text);
        }

        path {
          stroke: var(--color-secondary-text);
        }
      }
    }
  }

  &.selected {
    .text-12-semi-bold;

    color: var(--color-primary-text);
    padding: @size-9 0 @size-7 0;
    border-bottom: @size-2 solid var(--color-primary-text);

    &.open {
      border-color: var(--color-open);
    }

    &.inReporting {
      border-color: var(--color-reporting);
    }

    &.resolved {
      border-color: var(--color-resolved);
    }

    > div:nth-child(even) {
      font-weight: bold;
      margin: 0 0 0 @size-4;
    }

    > div:last-of-type {
      > span svg path {
        stroke: var(--color-primary-text);
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.discordLink {
  .text-14-paragraph;

  color: var(--color-primary-text);

  @media @breakpoint-mobile {
    .text-12-paragraph;
  }

  > a {
    color: var(--color-primary-action);
  }
}

.RedFlag {
  > svg {
    height: @size-16;
    width: @size-16;

    > circle {
      fill: var(--color-secondary-action);
      stroke: var(--color-secondary-action-outline);
    }

    > g {
      > path:first-of-type {
        fill: var(--color-error);
        stroke: none;
      }

      > path {
        stroke: var(--color-error);
      }
    }

    ClipPath > rect {
      fill: var(--color-brand-secondary);
    }
  }
}

.Template {
  > svg {
    height: @size-16;
    width: @size-16;

    > circle {
      fill: var(--color-secondary-action);
      stroke: var(--color-secondary-action-outline);
    }

    > g {
      > path:first-of-type {
        fill: var(--color-tenative-winner);
        stroke: none;
      }

      > path {
        fill: var(--color-module-background);
        stroke: var(--color-module-background);
      }
    }

    ClipPath > rect {
      fill: var(--color-brand-secondary);
    }
  }
}

.YellowTemplate {
  .Template;

  > svg {
    > g {
      > path:first-of-type {
        fill: var(--color-highlight-template-text);
      }

      > path {
        fill: var(--color-secondary-action);
        stroke: var(--color-secondary-action);
      }
    }
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .WordTrailButton {
    .text-10-semi-bold;
  }

  .YellowTemplate > svg > g > path:first-of-type {
    fill: var(--color-scalar);
  }

  label.RedFlag {
    .text-10-semi-bold;

    align-items: center;
    border-radius: @size-4;
    background: var(--color-resolved-10);
    color: var(--color-resolved);
    display: flex;
    padding: @size-4;
    text-transform: uppercase;
  }

  .MarketLabel {
    &.loading {
      > div:last-of-type {
        > span svg {
          LinearGradient > stop {
            stop-color: var(--color-reporting);
          }

          path {
            stroke: var(--color-reporting);
          }
        }
      }
    }
  }

  .MovementLabel_Text {
    &_positive {
      color: var(--color-open);
    }

    &_negative {
      color: var(--color-resolved);
    }

    &_neutral {
      color: var(--color-secondary-text);
    }
  }

  .MovementLabel_Icon {
    &_normal {
      > svg {
        height: @size-7;
        width: @size-12;
      }
    }

    &_positive {
      > svg > path:nth-child(1) {
        fill: var(--color-open);
      }

      > svg > path:nth-child(2) {
        stroke: var(--color-open);
      }
    }

    &_negative {
      > svg > path:nth-child(1) {
        fill: var(--color-resolved);
      }

      > svg > path:nth-child(2) {
        stroke: var(--color-resolved);
      }
    }
  }
}

.LabelWithTooltip {
  > span > label[class*='TooltipHint'] {
    display: inline-block;
    margin-bottom: 0;
  }
}

.TEXT {
  position: relative;
  white-space: nowrap;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.StatusDotTooltip {
  display: flex;

  > span {
    border-radius: 50%;
    height: @size-8;
    margin-right: @size-4;
    align-self: center;
    width: @size-8;

    &.Ready {
      background: var(--color-open);
    }
    &.Lag {
      background: var(--color-reporting);
      cursor: pointer;
    }
    &.Error {
      background: var(--color-error);
      cursor: pointer;
    }
  }
}

.StatusErrorMessage {
  display: flex;
  justify-content: center;
  padding: @size-5 0;
  order: 0;

  > span {
    .text-10-bold;

    display: flex;
    background: var(--color-error-20);
    border: @size-2 solid var(--color-error);
    border-left: @size-4 solid var(--color-error);
    border-radius: 3px;
    color: var(--color-primary-text);
    padding: 0.5rem 0;
    width: 21.125rem;
    text-transform: uppercase;

    @media @breakpoint-mobile {
      margin: 0 @size-5;
      width: 100%;
    }

    > svg {
      align-self: center;
      grid-row: span 2;
      fill: none;
      height: @size-12;
      margin: 0 0.35rem;
      width: @size-12;

      > circle {
        stroke: var(--color-error);
      }

      > rect,
      > path {
        fill: var(--color-error);
      }
    }
  }
}

.EthReserveNotice {
  margin: @size-8 @size-12;

  > div {
    padding: @size-5;
  }
}

.Checkbox {
  .text-10;

  align-items: center;
  color: var(--color-primary-text);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: @size-40 auto @size-16;
  width: 304px;
  padding: 0 0 @size-8;

  > svg {
    margin: 0 @size-12;
    width: @size-20;

    > rect {
      stroke: var(--color-secondary-action-outline);
    }

    > path {
      stroke: var(--color-primary-text);
    }
  }
}

.CheckboxChecked {
  > svg > rect {
    fill: var(--color-secondary-action);
    fill-opacity: 0.3;
  }
}
