@import (reference) '~assets/styles/shared';

.MarkdownRenderer {
  white-space: pre-wrap;

  &.NoPrewrap {
    white-space: unset;
  }
}

.MarkdownRenderer p {
  line-height: 140%;
  margin: 0;
  text-overflow: ellipsis;

  &:nth-of-type(2) {
    margin-top: @size-4;
  }
}

.MarkdownRenderer ul {
  display: block;
  list-style-type: disc;
  margin-block-end: @size-16;
  margin-block-start: @size-16;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-inline-start: @size-40;
}

.MarkdownRenderer ol {
  margin-block-end: @size-16;
  margin-block-start: @size-16;
}

.MarkdownRenderer h2,
.MarkdownRenderer h3,
.MarkdownRenderer h4,
.MarkdownRenderer h5,
.MarkdownRenderer h6 {
  margin-block-end: @size-16;
  margin-block-start: @size-16;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding: 0 !important;
}

.MarkdownRenderer del {
  text-decoration: none;
}
