@import (reference) '~assets/styles/shared';

.ProgressLabel {
  .mono-10-bold;

  align-items: baseline;
  color: @color-secondary-text;
  display: flex;
  flex-flow: column nowrap;
  white-space: nowrap;

  > span:first-of-type {
    margin-right: @size-4;
    text-transform: uppercase;
  }

  @media @breakpoint-mobile {
    .mono-9;

    color: @color-secondary-text;

    > span:first-of-type {
      margin-right: 0;
      text-transform: uppercase;
    }
  }

  > span:last-of-type {
    .mono-11-medium;

    color: @color-primary-text;
    text-align: left;
    width: 100%;
    margin-top: @size-3;
    text-transform: uppercase;
    line-height: @size-13;

    @media @breakpoint-mobile {
      .mono-10;
    }
  }

  &.FirstBreakpoint {
    > span:last-of-type {
      color: @color-reporting;
    }
  }

  &.SecondBreakpoint {
    > span:last-of-type {
      color: @color-resolved;
    }
  }

  &.Finished {
    > span:last-of-type {
      color: @color-secondary-text;
    }
  }

  &.AlignRight {
    > span:first-of-type {
      margin-right: 0;
    }

    > span:last-of-type {
      text-align: right;
    }
  }
}

.TimeLabel {
  color: @color-primary-text;
  display: flex;
  flex-flow: column nowrap;
  height: 2.875rem;
  line-height: @size-14;

  > span:first-of-type {
    .mono-12;

    color: @color-inactive-text;
    text-transform: capitalize;
  }

  > span {
    .mono-14-bold;
  }

  > span:last-of-type {
    .mono-10;

    line-height: @size-12;
  }

  @media @breakpoint-mobile {
    height: auto;
  }
}

.TimeProgressBar {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  height: @size-8;
  width: 100%;

  > span:first-of-type {
    background: @color-primary-action;
    height: 1px;
    position: relative;
    top: 0;
    width: var(--percent-done);
  }

  > span:last-of-type {
    background: @color-inactive-text;
    height: 1px;
    position: relative;
    top: 0;
    width: var(--percent-to-go);
  }

  @media @breakpoint-mobile {
    flex: 1;
    flex-flow: row nowrap;
    height: @size-8;
    width: 100%;

    > span:first-of-type {
      height: 1px;
      width: var(--percent-done);
    }

    > span:last-of-type {
      height: 1px;
      width: var(--percent-to-go);
    }
  }
}

.WindowProgress {
  background: @color-module-background;
  border: 1px solid @color-dark-grey;
  border-radius: @border-radius-default;
  height: 214px;
  padding: @size-24;
  width: 100%;
  max-width: 480px;
  min-width: 344px;

  @media @breakpoint-max-desktop-min {
    height: 161px;
    padding: @size-16;
    max-width: 376px;
    min-width: 344px;
  }

  @media @breakpoint-mobile-new {
    width: 100%;
    max-width: 100%;
  }

  > span {
    border: 1px solid @color-dark-grey;
    height: @size-12;

    > span:first-of-type {
      background: @color-reporting;
      height: @size-10;
      position: relative;
      top: 0;
      width: var(--percent-done);
    }

    > span:last-of-type {
      background: @color-dark-grey;
      height: @size-10;
      position: relative;
      top: 0;
      width: var(--percent-to-go);
    }

    @media @breakpoint-max-desktop-min {
      flex: 1;
      flex-flow: row nowrap;
      height: @size-4;
      margin-top: @size-12;
      width: 100%;

      > span:first-of-type {
        height: @size-2;
        width: var(--percent-done);
      }

      > span:last-of-type {
        height: @size-2;
        width: var(--percent-to-go);
      }
    }
  }

  > h4 {
    .mono-10;

    color: @color-secondary-text;
    text-align: center;
    margin: auto;
    text-transform: uppercase;

    &:first-of-type {
      color: @color-primary-text;
      text-align: left;

      @media @breakpoint-max-desktop-min {
        text-align: center;
      }
    }
  }

  > p {
    .mono-10;

    color: @color-reporting;
    text-align: center;

    &:first-of-type {
      .text-12;

      color: @color-secondary-text;
      text-align: left;
    }

    @media @breakpoint-max-desktop-min {
      .mono-9;

      margin: @size-4 0;

      &:first-of-type {
        .text-10;

        text-align: center;
        margin: @size-8 0 0;
      }
    }
  }

  > ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-gap: @size-2;
    margin: @size-12 0;
    width: 100%;

    @media @breakpoint-max-desktop-min {
      margin: @size-4 0;
    }

    > li {
      .mono-9;

      color: @color-primary-text;
      text-align: center;
      width: fit-content;

      &:before {
        content: '';
        border-left: 1px solid @color-dark-grey;
        height: @size-8;
        position: relative;
        bottom: @size-12;
        left: 50%;
        right: 50%;
      }

      &:first-of-type {
        text-align: left;
        white-space: normal;

        &:before {
          left: 0;
        }
      }

      &:last-of-type {
        text-align: right;
        white-space: normal;
        grid-column: 8 / span 1;

        &:before {
          content: none;
        }

        &:after {
          content: '';
          position: relative;
          height: @size-8;
          border-right: 1px solid @color-dark-grey;
          bottom: 102%;
        }
      }

      @media @breakpoint-max-desktop-min {
        display: none;

        &:first-of-type,
        &:last-of-type {
          display: block;
          grid-column: span 4;
          max-width: 80px;

          &:before,
          &:after {
            content: none;
          }
        }

        &:last-of-type {
          margin-left: auto;
        }
      }
    }
  }
}

.open,
.reported {
  .mono-10;

  color: @color-inactive-text;
  text-transform: uppercase;
}

.open {
  color: @color-inactive-text;
}

.reported {
  color: @color-primary-action;

  > div:first-of-type {
    color: @color-inactive-text;
  }
}
