@import (reference) '~assets/styles/shared';

.Row {
  display: grid;
  height: 100%;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;

  > li {
    .mono-10-bold;

    > button {
      .mono-10-bold;
    }

    align-items: center;
    color: @color-primary-text;
    display: flex;
    flex-grow: 1;
    white-space: nowrap;

    > span > label {
      .mono-10-bold;

      margin-bottom: 0;
    }

    &:first-child {
      .mono-11-bold;

      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;

      > span {
        max-width: inherit;
      }
    }

    &:nth-of-type(2) {
      position: relative;

      > div {
        display: none;
      }

      > span:nth-of-type(2) {
        display: none;
        left: 0;
        position: absolute;
      }
    }

    &:not(:first-child) {
      justify-content: flex-end;
    }
  }
}

.Row1 {
  width: 100%;

  > li {
    &:nth-of-type(5),
    &:nth-of-type(6) {
      display: none;
    }

    @media @breakpoint-mobile {
      &:nth-of-type(3) {
        padding-right: @size-24;
      }
    }
  }
}

.GroupRow {
  padding: 0 @size-16;
}

.InnerGroupRow {
  border-top: 0.0625rem solid @color-dark-grey;
  padding: @size-4 0;

  @media @breakpoint-mobile {
    border-top: 1px solid @color-dark-grey;
  }
}

.InnerGroupRow_a {
  border: 0;
}


div.SingleRow3 {
  background-color: @color-active-background;
  padding: 0 @size-16;
  border: 0;

  > div,
  > div:first-of-type {
    padding: @size-4 0;
    border-bottom: 0;
  }
}

.SingleRow {
  height: @size-25;
  max-height: @size-25;
  min-height: @size-25;
  padding: 0 @size-16;

  > div:first-of-type {
    border-bottom: 0.0625rem solid @color-dark-grey;
  }
}

.BottomBorder {
  padding: 0 1rem;
  border: 0;

  > ul > li {
    border-bottom: 0.0625rem solid @color-dark-grey;
    height: 100%;
  }

  &.Row4Parent:last-of-type > ul > li {
    border-bottom: none;
  }
}

.TopBorder {
  border-top: 0.0625rem solid @color-dark-grey;
}

.Row_a {
  grid-template-columns: repeat(6, 1fr) 6.2rem;
}

.Row2 {
  grid-template-columns: repeat(5, 1fr) minmax(5rem, 1fr) 3.2rem;
}

.Row2_a {
  grid-template-columns: repeat(5, 1fr) 6rem;

  > li {
    &:first-child {
      padding-left: 0;
    }

    &:nth-of-type(3) {
      display: none;
    }
  }
}

.Row3 {
  grid-template-columns: repeat(8, 1fr);

  > li {
    &:first-child {
      padding-left: 0;

      > span {
        max-width: 100%;
      }
    }

    &:last-child {
      position: relative;

      > button {
        left: 100%;
        margin-left: 0.375rem;
        position: absolute;
        width: @size-20;
      }
    }
  }
}

.Arrow {
  margin-left: @size-16;
  padding-right: 0;
}

.Row3_a {
  grid-template-columns: repeat(6, 1fr);
}

.Row4Parent {
  padding: 0;

  &:last-of-type {
    border-bottom: 0;
  }
}

.DarkRow {
  background-color: @color-table-header;

  &:not(:last-of-type) {
    border-bottom: 0.0625rem solid @color-dark-grey;
  }
}

.Row4 {
  grid-template-columns: 2fr repeat(5, 1fr);
  padding: 0 @size-24 0 @size-16;
  position: relative;

  > li {
    &:first-child {
      display: flex;
      padding-left: 0;

      > span {
        .text-14-bold;

        max-width: inherit;

        > label {
          .text-14-bold;
        }
      }

      > span:nth-of-type(2) {
        color: @color-secondary-text;
        display: inline-block;
        margin-left: 0.5rem;
      }
    }

    > span {
      .mono-12-medium;

      > label {
        .mono-12-medium;
      }
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      > span,
      > button > span {
        .mono-14-black;

        > label {
          .mono-14-black;
        }
      }

      @media @breakpoint-mobile {
        > span,
        > button > span {
          .mono-12-bold;

          > label {
            .mono-12-bold;
          }
        }
      }
    }
  }

  .generate-indexed-color-outcome-classes({
    &.Row4-@{newIndex} {
      cursor: pointer;
      &.active,
      &:hover {
        background: @color-module-background-action-focus;
      };
      &::before {
        background-color: @value;
      };
    }
  });

  &.active::before {
    left: 1px;
    width: 3px;
  }

  &::before {
    background-color: none;
    bottom: 0;
    content: "";
    display: block;
    height: 96%;
    left: 1px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
  }
}

.InvalidText {
  > li:first-of-type > span:first-of-type > label {
    color: @color-outcome-invalid;
  }
}

@media @breakpoint-mobile {

  .BottomBorder {
    > ul > li {
      border-bottom: 0;
    }
  }

  .Row {
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    padding: @size-4 0;

    > li {
      &:first-child {
        .text-11-bold;

        grid-column: 1 / span 6;
        margin-bottom: 0.375rem;
        padding-left: 0;
      }

      &:nth-of-type(2) {
        justify-content: flex-start;
        position: static;
        text-align: left;

        > div {
          display: flex;
          order: 2;
          margin-left: @size-12;
        }

        > span:nth-of-type(2) {
          display: block;
          left: unset;
          right: 0;
          top: 0;
        }
      }

      &:last-of-type {
        > button,
        > div {
          display: none;
        }
      }
    }
  }

  .SingleRow {
    border-radius: @border-radius-default;
    padding-left: @size-12;
    padding-right: @size-12;
    min-height: unset;
    height: unset;
    max-height: unset;
  }

  .GroupRow {
    padding-left: @size-12;
    padding-right: @size-12;
  }

  .Row2 {
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    padding: @size-4 0;

    > li {
      &:first-child {
        grid-column: 1 / span 8;
      }

      &:nth-of-type(6) {
        display: none;
      }
    }
  }

  .Row3 {
    grid-template-columns: repeat(6, 1fr);

    > li {
      &:first-child {
        grid-column: 1 / span 8;
      }

      &:last-child {
        display: none;
      }
    }
  }

  .Row3_a {
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid @color-dark-grey;

     > li {
      &:last-child {
        display: flex;

        > button {
          display: flex;
        }
      }
    }
  }

  .InnerSingleRow3 {
    padding: 0.75rem 0;
  }

  div.SingleRow3 {
    background: @color-active-background;
    border: 0;
    padding: 0 @size-12;

    > div:last-of-type {
      border-bottom: 1px solid @color-dark-grey;
      padding-bottom: @size-8;
    }

    &:last-of-type {
      > div:last-of-type {
        border-bottom: 0;
      }
    }
  }

  .Row2__a {
    grid-template-columns: repeat(5, 1fr);

    > li {
      &:last-child {
        display: flex;
      }
    }
  }

  .Row4Parent {
    border: 0;
    border-bottom: 0.0625rem solid @color-dark-grey;
    padding: 0;
  }

  .Row4 {
    grid-template-columns: @size-110 repeat(5, 1fr);
    grid-template-columns: minmax(@size-110, 2fr) repeat(5, 1fr);
    padding: @size-12;

    &::before {
      width: 2px;
    }

    > li {
      align-items: flex-end;

      &:first-of-type {
        grid-column: unset;
        margin-bottom: 0;

        > span {
          .text-12-bold;

          > label {
            .text-12-bold;
            .limit-lines(2);

            white-space: normal;
          }
        }
      }

      &:nth-of-type(2) {
        position: relative;
        justify-content: flex-end;
        text-align: right;
      }

      &:last-of-type {
        > span {
          display: flex;
        }
      }
    }
  }
}
