@import (reference) '~assets/styles/shared';

.SearchSort {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;

  @media @breakpoint-max-tablet {
    justify-content: space-between;
  }
  
  &.HideDropdown {
    > div:first-of-type {
      display: none;
    }
  }
}

.Dropdown {
  flex: 1;
  margin-top: 0.85rem;
  width: 100%;
}
