@import (reference) '~assets/styles/shared';

.SearchBar {
  .text-12;

  align-items: center;
  background: transparent;
  border-radius: @border-radius-default;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  padding-left: @size-16;
  color: var(--color-secondary-text);
  width: auto;

  > span {
    .text-10;

    color: var(--color-secondary-text);
    margin-right: @size-4;
    white-space: nowrap;
  }

  > svg {
    height: @size-16;
    width: @size-16;

    > g {
      fill: var(--color-primary-text);
    }
  }

  > input {
    background: transparent;
    border: 0;
    color: var(--color-primary-text);
    display: none;
    line-height: @size-16;
    padding: 0;

    &:focus {
      border: 0;
    }

    &::placeholder {
      color: var(--color-secondary-text);
    }
  }

  > div {
    display: none;
  }
}

.Container {
  display: flex;
}

.ContainerFocused {
  flex: 1;
  width: 100%;
  max-height: @size-32;
  align-items: center;

  > button {
    display: flex;
  }
}

.isFocused {
  background: var(--color-module-background);
  border: @size-1 solid var(--color-secondary-action-outline);
  border-radius: @border-radius-default;
  width: 100%;
  margin-left: 0;
  padding: @size-8 @size-12;
  transition: background 0.25s ease-in;

  > span {
    display: none;
  }

  > input {
    display: block;
  }

  > div {
    display: none;
  }

  > button {
    display: flex;
    > svg {
      width: @size-10;
      height: @size-10;

      > path {
        stroke: var(--color-inactive-text);
      }
    }
  }

  @media @breakpoint-mobile {
    .SearchBar {
      flex: 1;
      justify-content: flex-end;
      padding-right: @size-6;
      width: 100%;

      > div {
        .mono-12;

        color: var(--color-secondary-text);
        display: flex;
        margin-right: @size-8;
      }
    }

    .isFocused {
      margin-left: 0;

      > div {
        display: none;
      }
    }

    .Container {
      flex: 1;
      width: 100%;
    }

    .ContainerFocused {
      > button {
        padding-right: @size-16;
      }
    }
  }

  @media @breakpoint-mobile {
    padding: @size-8 @size-12;
    margin-left: 0;
  }
}

:root[theme="SPORTS"] {
  .isFocused > button > svg {
    width: @size-10;
    height: @size-10;

    > path {
      stroke: var(--color-primary-text);
    }
  }
}
