@import (reference) '~assets/styles/shared';

.SwitchLabelsGroup {
  display: flex;
  flex: 1;
  padding-top: @size-10;

  @media @breakpoint-mobile-mid {
    padding: @size-12 @size-10 0 @size-10;
    justify-content: space-evenly;
  }

  > label {
    .text-12;

    align-items: center;
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;

    @media @breakpoint-mobile {
      display: none;
    }

    > div {
      margin-right: @size-32;
    }
  }
}

.Label {
  .mono-11;

  color: @color-shadow-text;
  padding-bottom: @size-10;
  text-transform: uppercase;
  white-space: nowrap;

  &:not(:first-of-type) {
    margin-left: 1rem;
  }

  > span {
    flex-grow: 1;

    > span {
      font-weight: @weight-medium;
      margin-left: 0.1875rem;
    }
  }

  &.active {
    color: @color-secondary-text;
    position: relative;

    > span {
      &::after {
        background-color: @color-secondary-text;
        border-radius: 0.1875rem;
        bottom: 0;
        content: '';
        height: 0.125rem;
        left: 0;
        position: absolute;
        right: 0.125rem;
      }
    }
  }

  @media @breakpoint-mobile-mid {
    padding-bottom: @size-12;
    position: relative;


    > span {
      .mono-9;

      &::after {
        bottom: 0;
      }
    }

    &:not(:last-of-type) {
      margin-right: 10%;
    }

    &:not(:first-of-type) {
      margin-left: 0;
    }
  }

}

.Open {
  &.active {
    > span {
      &::after {
        background: @color-open;
      }
    }
  }
}

.Reporting {
  &.active {
    > span {
      &::after {
        background: @color-reporting;
      }
    }
  }
}

.Resolved {
  &.active {
    > span {
      &::after {
        background: @color-resolved;
      }
    }
  }
}
