@import (reference) '~assets/styles/shared';

.ToggleRow {
  background-color: @color-module-background;
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: row;
  }

  &:focus {
    outline: none;
  }
}

.ArrowContainer {
  align-items: center;
  display: flex;
  margin-left: 0.625rem;
  padding-right: 0;
}

div.RowActive {
  background-color: @color-active-background;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.RowContent {
  display: flex;
  flex-grow: 1;
}

.Arrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > svg > path {
    stroke: @color-secondary-text;
  }

  &:hover {
    > svg > path {
      stroke: @color-primary-text;
    }
  }
}

.Row {
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: @color-table-header;
  }
}

@media @breakpoint-mobile {
  .Row .Arrow {
    > svg {
      > path {
        stroke: @color-inactive-text;
      }
    }
  }

  .RowActive .Arrow {
    > svg {
      > path {
        stroke: @color-primary-text;
      }
    }
  }
}

.RowContainer {
  display: flex;
  flex: 1;
}

.ToggleContent {
  > div {
    min-height: fit-content;
  }
}
