@import (reference) '~assets/styles/shared';

div.Tooltip {
  .text-10;

  background-color: @color-primary-text;
  border: 1px solid transparent;
  border-radius: @border-radius-default;
  box-shadow: 0 -2px @size-4 0 rgba(0, 0, 0, 0.5);
  color: @color-inactive-text;
  line-height: @size-13;
  max-width: 13.7rem;
  padding: @size-8;
  pointer-events: auto;
  text-transform: none;
  white-space: initial;
  z-index: @mask-above;

  > h4 {
    font-weight: 500;
    margin-bottom: @size-8;
  }

  > p {
    margin: 0 0 @size-12;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover {
    opacity: 1;
    visibility: visible;
  }
}

div.RefreshSort {
  max-width: @size-66;
}

div.TooltipInvalidRules {
  max-width: 40%;
  width: 100%;
  border-radius: @size-1;
  padding: 0;

  > div {
    border-radius: @size-1;
    margin-bottom: 0;
    background-color: @color-dark-grey;
  }

  @media @breakpoint-max-desktop {
    max-width: 65%;
  }

  @media @breakpoint-mobile-tablet {
    max-width: 75%;
  }
}

.TooltipHint {
  > svg {
    max-height: @size-16;
    max-width: @size-16;

    > circle {
      fill: none;
      stroke: @color-secondary-text;
    }

    > path {
      fill: @color-secondary-text;
      stroke: none;
    }
  }

  &:hover {
    > svg {
      > circle {
        stroke: @color-primary-text;
      }

      > path {
        fill: @color-primary-text;
      }
    }
  }
}

:global {
  div.__react_component_tooltip {
    transition: none;

    &.show {
      opacity: 1;
    }

    &.place-top {
      box-shadow: 0 -1px @size-4 0 rgba(0, 0, 0, 0.2);
      margin-bottom: -@size-14;

      &::after {
        border-top: @size-8 solid @color-secondary-action-outline;
        bottom: -@size-8;
      }

      &.type-light::after {
        border-left-width: @size-8;
        border-right-width: @size-8;
        border-top-width: @size-8;
      }

      &::before {
        border: 0 solid transparent;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
        border-top-color: @color-secondary-action-outline;
        bottom: -@size-22;
        content: '';
        display: block;
        height: 0;
        left: 50.5%;
        margin-left: -@size-8;
        position: absolute;
        top: unset;
        width: 0;
      }
    }

    &.place-bottom {
      box-shadow: 0 1px @size-4 0 rgba(0, 0, 0, 0.5);
      margin-top: -@size-14;

      &::after {
        border-bottom-color: @color-secondary-action-outline;
        top: -@size-8;
      }

      &.type-light::after {
        border-bottom-width: @size-8;
        border-left-width: @size-8;
        border-right-width: @size-8;
      }

      &::before {
        border: 0 solid transparent;
        border-bottom-color: @color-secondary-action-outline;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
        bottom: 100%;
        content: '';
        display: block;
        height: 0;
        left: 50.5%;
        margin-left: -@size-8;
        position: absolute;
        top: unset;
        width: 0;
      }
    }

    &.place-left {
      margin-left: -@size-14;
      margin-top: -@size-8;

      &::after {
        border-left-color: @color-secondary-action-outline;
        right: -@size-8;
      }

      &.type-light::after {
        border-bottom-width: @size-8;
        border-left-width: @size-8;
        border-top-width: @size-8;
      }

      &::before {
        border: 0 solid transparent;
        border-bottom: 0 solid transparent;
        border-left-color: @color-secondary-action-outline;
        border-top: 0 solid transparent;
        bottom: unset;
        content: '';
        display: block;
        height: 0;
        left: unset;
        position: absolute;
        right: -@size-22;
        top: 50%;
        width: 0;
      }
    }

    &.place-right {
      margin-right: -@size-14;
      margin-top: -@size-8;

      &::after {
        border-right-color: @color-secondary-action-outline;
        left: -@size-8;
      }

      &.type-light::after {
        border-bottom-width: @size-8;
        border-right-width: @size-8;
        border-top-width: @size-8;
      }

      &::before {
        border: 0 solid transparent;
        border-bottom: 0 solid transparent;
        border-right-color: @color-secondary-action-outline;
        border-top: 0 solid transparent;
        bottom: unset;
        content: '';
        display: block;
        height: 0;
        left: -@size-22;
        position: absolute;
        right: unset;
        top: 50%;
        width: 0;
      }
    }
  }
}
