@font-face {
    font-family: 'Core Mellow';
    font-weight: 300;
    src: url("fonts/S-Core - CoreMellow35Light.otf") format("opentype");
}
@font-face {
    font-family: 'Core Mellow';
    font-weight: 400;
    src: url("fonts/S-Core - CoreMellow45Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Core Mellow';
    font-weight: 700;
    src: url("fonts/S-Core - CoreMellow55Medium.otf") format("opentype");
}
@font-face {
    font-family: 'Core Mellow';
    font-weight: 800;
    src: url("fonts/S-Core - CoreMellow65Bold.otf") format("opentype");
}
body {
    background-color: #f9f6ea;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
body.stopped #main {
    display: none;
}
body.stopped nav h2 {
    display: none;
}
body.stopped #logo {
    display: block;
}
body.running #main {
    display: block;
}
body.running #logo {
    display: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Core Mellow';
    font-weight: 400;
}
h4 a {
    font-size: 14px;
    margin-top: 3px;
}
table {
    font-size: 13px;
}

#logo {
    display: none;
    background-image: url('images/augur_logo_bg.png');
    background-repeat: no-repeat;
    width: 171px;
    height: 202px;
    margin: 0px auto 0px auto;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    font-family: 'Core Mellow';
    color: rgb(209, 231, 231);
    text-align: center;
    opacity: 0.5;
}
#logo .progress {
    height: 5px;
    margin: 213px -15px 0px -15px;
}
#logo .progress-bar {
    background-color: #737373;
}
nav.navbar {
    background-color: #602A52;
    border-radius: 0px;
    border: none;
}
nav h1.navbar-brand {
    background-image: url('images/augur_logo_small_white.png');
    background-repeat: no-repeat;
    background-size: 27px 32px;
    background-position: 15px 13px;
    font-size: 26px;
    margin: 0px 0px 0px 0px;
    position: relative;
    top: -3px;
}
nav h1.navbar-brand span {
    color: #fff;
    font-weight: 300;
    margin-left: 35px;
}
nav .navbar-right > li {
    font-family: 'Core Mellow';
    font-weight: 300;
    color: #ECECEC;
    font-size: 15px;
}
nav .dropdown > a {
    color: #ECECEC;
}
nav .nav .open > a, 
nav .nav .open > a:hover, 
nav .nav .open > a:focus,
nav .nav > li > a:hover, 
nav .nav > li > a:focus {
    background-color: #380B3F;
}
nav .navbar-right li div {
    padding: 15px;
} 


.modal-content {
    background-color: #f9f6ea;
}
.progress {
    background-color: #D6D8C6;

}

.sidebar .panel {
    font-size: 12px;
    border-radius: 0px;
    border: none;
}
.sidebar .panel .panel-body {
    padding: 5px;
}
.sidebar .panel .panel-body p {
    margin: 0px;
    padding: 6px 6px;
}
.sidebar .panel-heading {
    font-size: 14px;
    border-radius: 0px;
    padding: 5px 10px;
}
.panel.panel-default,
.panel.panel-default .panel-heading,
.panel.panel-default .panel-body {
    background-color: transparent;
    color: #333;
}

.branch-name:hover {
    cursor: pointer;
    text-decoration: underline;
}
.branches.panel-body p {
    font-size: 14px;
}
.branches.panel-body p a {
    display: none;
}
.branches.panel-body p:hover {
}
.branches.panel-body p:hover a {
    display: inline;
}
.branches .branches-toggle:before {
    content: 'show all';
}
.branches.all .branches-toggle:before {
    content: 'less';
}
.branches .other {
    display: none;
}
.branches.all .other {
    display: block;
}

#create-branch-modal .modal-dialog {
    width: 400px;
}

#trade-modal .modal-dialog {
    width: 450px;
}
#trade-modal .btn-group {
    width: 100%;
}
#trade-modal p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}
#trade-modal #trade-amount {
    width: 115px;
}
#trade-modal button {
    width: 100px;
    text-transform: capitalize;
}
#trade-modal .balances {
    margin-top: 18px;
}

#send-rep-modal .modal-dialog,
#send-cash-modal .modal-dialog {
    width: 550px;
}
#send-rep-modal h4,
#send-cash-modal h4 {
    margin-top: 0px;
}
#send-rep-modal #rep-dest-address,
#send-cash-modal #cash-dest-address {
    width: 290px;
}
#send-rep-modal form,
#send-cash-modal form {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
#send-rep-modal p,
#send-cash-modal p {
    color: #555;
    margin: 15px 0px 0px 0px;
    float: left;
    font-size: 12px;
} 
.account .address {
    overflow: hidden;
    text-overflow: ellipsis;
}

.network_old {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0.75;
    width: 200px;
    font-size: 12px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.sidebar .network .panel-body p {
    padding: 2px 6px;
}
.network .panel-body p:hover {
    background-color: transparent;
}
.network {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.network p:last-child {
    margin-bottom: 0px;
}
.network .miner-off span {
    color: red;
}
.network .miner-on span {
    color: green;
    font-weight: bold;
}
.network fieldset {
    margin-top: 15px;
}
.network fieldset legend {
    font-size: 12px;
    margin-bottom: 10px;
}

.period {
    margin-bottom: 30px;
}
.period .progress {
    height: 4px;
}
.period .progress-bar.reveal {
    background-color: rgb(239, 147, 5);
}
.period .progress-bar.svd {
    background-color: #000;
}
.period #report {
    display: none;
}
.period #report-decisions {
    margin-bottom: 0px;
}
.period #report-decisions li {
    background-color: rgb(255, 255, 228);
}
.period #report-decisions li:last-child {
    border-bottom-right-radius: 0; 
}
.period p,
.period label {
    font-size: 14px;
}
.period .my-choice {
    display: none;
    font-weight: bold;
    margin-bottom: 0px;
}
.period.reveal .my-choice,
.period.svd .my-choice {
    display: inline-block;
}
.period.reveal label,
.period.svd label {
    display: none;
}
.period h3 {
    margin: 5px 0px 10px 0px;
    font-size: 22px;
}
.period h3 .period-ending {
    float: right;
    font-size: 16px;
    margin-top: 6px;
}

.markets,
.no-markets,
.events,
.no-events {
    display: none;
}
.no-markets.has-events {
    display: block;
}
.events {
    margin-top: 20px;
}
.events td:last-child,
.events th:last-child {
    text-align: right;
}
.markets tr:hover td,
.events tr:hover td {
    cursor: pointer;
}
.markets tr:hover td:first-child,
.events tr:hover td:first-child {
    text-decoration: underline;
}

#event {
    display: none;
}

#market {
    display: none;
}
#market p {
    margin: 0px 0px 5px 0px;
    font-size: 15px;
}
#market .chart {
    height: 200px;
}
#market .details {
    display: none;
    margin: 0px 120px 0px 15px;
}
#market p {
    clear: right;
}
#market p > b {
    float: right;
}
#market .trade .delta {
    margin-left: 10px;
    color: green;
}
#market h3 {
    color: #602A52;
    font-size: 25px;
    margin-bottom: 20px;
    clear: left;
}
#market h3 .text {
    margin-left: 85px;
}
#market h3 .current {
    width: 68px;
    height: 68px;
    font-size: 23px;
    color: #000;
    background-color: #b1ddf1;
    text-align: center;
    padding: 6px;
    border-radius: 50%;
    float: left;
    padding-top: 23px;
    margin-top: -5px;
}
#market h4 {
    margin: 0px 0px 15px 0px;
}
#market h5 {
    font-size: 17px;
    margin-bottom: 30px;
}
#market .buy {
    text-align: left;
    margin-top: 20px;
}
#market .buy button {
    width: 100px;
}
#market .summary {
    margin-bottom: 30px;
}
#market #comments {
    background-color: #fff;
}
#market .comment {
    padding: 10px;
}
#market .comment .avatar {
    height: 57px;
    width: 57px;
    float: left;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 10px 9px;
    background-size: 50px 50px;
    margin: 0px 0px 0px 4px;
}

#market .comment .box {
    margin-left: 70px;
    margin-top: 0px;
    background-color: #fff;
    padding: 30px 15px 15px 15px;
    position: relative;
}
#market .comment p {
    margin: 0px;
} 
#market .comment .date {
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 5px;
    left: 8px;
}
#market .comment .address {
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 5px;
    right: 8px;
}
.spin {
    display: inline-block;
    -webkit-transform-origin: 47% 50%;
    transform-origin: 47% 50%;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
#alert {
    padding: 10px;
    position: fixed;
    width: 100%;
    min-height: 40px;
    opacity: 0.8;
    bottom: 0;
    margin-bottom: 0px;
    border-radius: 0;
    display: none;
}
#alert div {
    max-height: 45px;
    overflow-y: scroll;
}
#alert div p {
    font-size: 13px;
    margin-bottom: 5px;
}
#no-eth-modal .modal-dialog,
#confirm-modal .modal-dialog {
    width: 400px;
}
#confirm-modal button.confirm {
    margin-left: 10px;
}
#confirm-modal .modal-body p {
    font-size: 16px;
    margin: 0px;
    margin-bottom: 20px;
}