@import (reference) '~assets/styles/shared';

.CreateMarketView {
	display: flex;
    justify-content: center;

    > div {
    	max-width: 750px;
    }

    @media @breakpoint-mobile-mid {
    	margin-top: @size-24;
    }
}