@import (reference) '~assets/styles/shared';

.CreateMarketView {
	display: flex;
    justify-content: center;

    > div {
    	max-width: 750px;

      > div[class*="ContentBlock"] {
        width: 100%;
      }
    }

    @media @breakpoint-mobile {
        margin-top: 0;

        > div {
            max-width: calc(~"100% - @{size-10}");
            align-items: center;
        }
    }
}
