@import (reference) '~assets/styles/shared';

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .Markets {
    div[class*='Subheader'] {
      > div {
        display: flex;
        width: 100%;

        > span {
          .text-14;

          color: var(--color-secondary-text);
          margin: auto @size-4 auto 0;
        }

        > div {
          border: none;
          margin: auto 0;
          min-width: unset;

          > button {
            padding: 0;

            > span {
              .text-14;

              color: var(--color-primary-text);
              text-transform: none;
              border-right: none;
              padding: 0 0 @size-2 0;
              position: relative;

              &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: @size-2;
                border-bottom: @size-1 dotted var(--color-primary-text);
              }
            }

            > svg {
              margin: 0 0 0 @size-8;

              > path {
                fill: var(--color-primary-text);
              }
            }
          }

          &[class*="Disabled"] > button {
            > span {
              color: var(--color-inactive-text);
            }

            > svg > path {
              fill: var(--color-inactive-text);
            }
          }
        }

        > span:last-of-type {
          margin-left: auto;
        }
      }
    }

    > div:last-of-type {
      min-height: @size-414;
      position: relative;

      div[class*='RowContent'] {
        > div > div {
          > div > span > span[class*='ProgressLabel'] {
            display: none;
          }

          > span > span {
            flex-flow: row;

            > span:first-of-type {
              .text-12;
              color: var(--color-secondary-text);
              padding-right: @size-4;
            }

            > span:nth-of-type(2) {
              .text-12-semi-bold;
              color: var(--color-primary-text);
              text-align: left;
            }
          }
        }

        > span {
          display: none;
        }
      }
    }
  }

  .BottomContent {
    border-top: @size-1 solid var(--color-dark-grey);
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: @size-16;
    align-items: center;

    > span {
      .text-12;

      > button {
        font-size: @size-12;
      }
    }

    > a {
      margin-left: auto;

      > button {
        .mono-10-semi-bold;

        border: none;
        text-transform: uppercase;
        padding-right: 0;

        > svg {
          margin-right: @size-8;

          > path {
            fill: var(--color-primary-text);
          }
        }

        &:not(:disabled):hover,
        &:not(:disabled):focus,
        &:not(:disabled):focus:hover,
        &:not(:disabled):active {
          color: var(--color-primary-text);
          background: var(--color-secondary-action);
        }
      }
    }
  }
}
