.MetaMask__connect {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.MetaMask__content {
  max-width: 400px;

  a {
    text-decoration: underline;
  }

  hr {
    margin-bottom: 1em;
  }
}
