@import (reference) '~assets/styles/shared';

.FilterBox {
  background: @color-light-purple;
  border: 0.0625rem solid @color-dark-gray;
  border-radius: 0.1875rem;
  color: @color-white;
  flex: 1;
  max-height: 50%;
  min-height: 50%;
  padding-bottom: 1.5rem;

  @media @breakpoint-mobile-mid {
    background: unset;
    border: 0;
    padding-bottom: 0;
  }
}

.FilterBox__content {
  background: @color-secondary-background;
  border-bottom: 1px solid @color-secondary-background;
  flex: 1;
  overflow: auto;
  overflow-y: overlay;

  @media @breakpoint-mobile-mid {
    background: unset;
    max-height: calc(100vh - 150px);
    min-height: calc(100vh - 150px);
    overflow-y: visible;
    padding: 0 0.5rem 0.25rem;
  }
}

.FilterBox__bottomRow {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.FilterBox__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.ShowOnMobile {
  display: none;
}

@media @breakpoint-mobile-mid {
  .ShowOnMobile {
    display: flex;
  }

  .HideOnMobile {
    display: none;
  }
}
