@import (reference) '~assets/styles/shared';

.NotificationsView {
  background: @color-lighter-purple;
  color: @color-text-light;
  display: block;
  padding: 0.25em;
  position: relative;
  text-align: left;
  z-index: 1000;
}
