@import (reference) '~assets/styles/shared';

.Notification {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Notification-unseen {
  display: flex;
  flex-direction: column;
}

.Notification__link {
  display: flex;
  flex-direction: column;
}

.Notification__title {
  font-size: @font-size-small;
  line-height: 1em;
  text-transform: uppercase;
}

.Notification__title-unseen {
  font-size: @font-size-small;
  line-height: 1em;
  margin-left: 1rem;
  text-transform: uppercase;
}

.Notification__title-unseen::before {
  border: solid transparent;
  border-color: @color-lightpurple;
  border-radius: 50%;
  border-width: 0.3rem;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 94%;
  width: 0;
}

.Notification__description {
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Notification__time {
  font-size: @font-size-extra-small;
  line-height: 1rem;
}
