@import (reference) '~assets/styles/shared';

.MainErrorBoundary {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.MainErrorBoundary__container {
  background: @color-tertiary-background;
  border: 1px solid @color-primary-light;
  border-radius: @border-radius-default;
  color: @color-secondary-text;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 35rem;
  padding: 1.5rem 0;
  text-align: center;
  width: 100%;
}

.MainErrorBoundary__header {
  .text-24-bold;

  line-height: 1.75rem;
  margin: 0;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  padding: 0;
}

.MainErrorBoundary__description {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
}

.MainErrorBoundary__buttons {
  align-items: center;
  border-top: 1px solid @color-primary-background;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1.5rem 0 0;

  > a,
  > button {
    margin: auto;
  }
}

.MainErrorBoundary__refresh {
  &:extend(.button--gray all);

  line-height: 0;
  margin-left: auto;
  margin-right: 1rem;
}

.MainErrorBoundary__return {
  &:extend(.button--purple all);

  margin-right: auto;
}
