@import (reference) '~assets/styles/shared';

.TradingTypeIndicator {
  color: unset;
}

.TradingTypeIndicator__buy {
  color: @color-positive;
}

.TradingTypeIndicator__sell {
  color: @color-negative;
}
