@import (reference) '~assets/styles/shared';

.NoMarkets__container {
  color: @color-lightgray;
  font-size: @font-size-large;
  font-weight: 500;
  line-height: @font-size-rather-large;
  padding: 2rem;
  text-align: center;
}

.NoMarkets__link {
  color: @color-lightgray;
  margin-left: 0.5rem;
  text-decoration-line: underline;
}
