@import (reference) '../../../../../../assets/styles/shared';

:local(.ModalView) {
  background-color: #f6f6f6;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 3;
  opacity: 1;
  pointer-events: auto;
  transition: all 300ms ease-in;
  top: 0;
}

:local(.ModalView__hide) {
  opacity: 0;
  pointer-events: none;
  top: 50%;
}

:local(.ModalView__close) {
  color: @color-white;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
  background: url(../../../../../../assets/images/close.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

:local(.ModalView__content) {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  & > section {
    align-items: center;
    color: @color-white;
    display: flex;
    flex-direction: column;
  }
}

:local(.ModalView__button) {
  &:extend(.button--white);

  margin-top: 2rem;
}
