@import (reference) '~assets/styles/shared';

.Betslip {
  display: none;
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .Betslip {
    align-items: center;
    background: var(--color-module-background);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0;

    > div {
      display: none;
    }

    @media @breakpoint-mobile-tiny {
      position: fixed;
      right: 0;
      left: 0;
      z-index: @mask-toast;

      > div {
        display: flex;
        align-items: flex-end;
        background: var(--color-primary-text);
        flex-flow: column;
        transition: background .3s ease;
        width: 100%;

        > button:first-of-type {
          .text-12-bold;

          align-content: center;
          align-items: center;
          background: var(--color-primary-text);
          color: var(--color-module-background);
          cursor: pointer;
          display: flex;
          flex-flow: row nowrap;
          height: @size-36;
          justify-content: center;
          text-transform: uppercase;
          width: 100%;

          > svg {
            height: @size-8;
            width: @size-10;
            margin-left: @size-8;

            > path {
              fill: var(--color-module-background);
            }
          }
        }
      }

      &.Minimized {
        z-index: @mask-toast;

        > div {
          width: @size-36;
          height: @size-106;
          display: block;
          background: transparent;
          transition: background .3s ease, width 0s ease .3s, height 0s ease .3s;
        }
      }
    }

    @media @breakpoint-tiny {
      align-items: flex-start;
      background: transparent;
      top: calc(@top-bar-height + @size-1);
      right: -@size-326;
      bottom: 0;
      justify-content: flex-end;
      z-index: @mask-modal;

      -webkit-transform: translateX(-@size-326);
      transform: translateX(-@size-326);
      transition: transform .3s cubic-bezier(0.44, 0, 0.56, 1);
      will-change: transform;

      > div {
        background-color: var(--color-primary-text-50);
        height: 100%;

        > button:first-of-type {
          width: @size-106;
          border-top-left-radius: @border-radius-default;
          border-top-right-radius: @border-radius-default;
          transform: rotate(-0.25turn) translate(-@size-125, @size-36);
        }
      }

      &.Minimized {
        background: transparent;
        pointer-events: none;
        right: -@size-326;
        z-index: @mask-modal;

        -webkit-transform: none;
        transform: none;
        transition: transform .3s cubic-bezier(0.44, 0, 0.56, 1);

        > div {
          display: flex;
          align-items: flex-end;
          pointer-events: all;

          > button:first-of-type {
            transform: rotate(-0.25turn) translate(-@size-107, @size-54);
            transform-origin: bottom;

            > svg {
              transform: rotate(0.5turn);
            }
          }
        }
      }
    }

    @media @breakpoint-mobile-tablet {
      flex-direction: column;
      top: 120vh;
      bottom: -120vh;

      -webkit-transform: translateY(-120vh);
      transform: translateY(-120vh);
      transition: transform .3s cubic-bezier(0.44, 0, 0.56, 1);
      will-change: transform;

      > div {
        align-items: center;

        > button:first-of-type {
          .text-16-bold;

          text-transform: capitalize;
          height: @size-64;

          > svg {
            position: absolute;
            right: @size-18;
            height: @size-8;
          }
        }
      }

      &.Minimized {
        top: 120vh;
        bottom: -120vh;

        -webkit-transform: none;
        transform: none;
        transition: transform .3s cubic-bezier(0.44, 0, 0.56, 1);

        > div {
          width: 100%;
          height: unset;
        }
      }
    }

    &.MyBetsBetslip {
      @media @breakpoint-mobile-tiny {
        transition: none;
      }
      @media @breakpoint-tiny {
        transition: none;
      }
      @media @breakpoint-mobile-tablet {
        transition: none;

        > div:first-of-type > button:first-of-type {
          > svg {
            height: @size-12;
            width: @size-12;
          }
        }
      }
    }
  }

  .OpenBetslipButton {
    display: none;

    @media @breakpoint-mobile-tablet {
      &.Minimized {
        display: flex;
        position: fixed;
        bottom: @size-8;
        left: @size-8;
        right: @size-8;
        width: calc(100% - @size-16);
        padding: 0;
        z-index: @default-above;
      }
    }
  }

  .Container {
    max-width: @size-326;
    min-width: @size-326;
    width: @size-326;
    border: @size-1 solid var(--color-secondary-action-outline);
    border-radius: @border-radius-rounded;
    box-shadow: 0 0 @size-4 var(--color-primary-text-15);
    position: relative;
    top: 0;
    transition: all .3s cubic-bezier(0.44, 0, 0.56, 1);

    > ul,
    > section {
      min-width: @size-326;
    }

    @media @breakpoint-mobile-tablet {
      height: 100%;
      border: 0;
      border-radius: 0;
      width: 100%;
      max-width: unset;
      min-width: unset;
    }

    @media @breakpoint-tiny {
      height: 100%;
      border-radius: 0;
      border: 0;
      border-left: @size-1 solid var(--color-primary-text);
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  .MainSection {
    background: var(--color-module-background);
    border-bottom-left-radius: @border-radius-rounded;
    border-bottom-right-radius: @border-radius-rounded;
    min-height: @size-350;

    > span:first-of-type {
      .text-16-bold;

      width: 100%;
      padding: @size-12 @size-12 0 @size-12;
      color: var(--color-primary-text);
    }

    @media @breakpoint-tiny {
      height: 100%;
    }


    > span:nth-of-type(2) {
      .text-12-semi-bold;

      padding: @size-4 @size-13;
      background: var(--color-reporting-30);
      border-top: @size-1 solid var(--color-secondary-action-outline);
      color: var(--color-primary-text);
      white-space: nowrap;
    }
  }

  .BetslipEmpty {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    > div {
      border-radius: 100%;
      width: @size-80;
      height: @size-80;
      background: var(--color-page-background);
      margin-bottom: @size-16;
      display: flex;

      align-items: center;
      justify-content: center;

      > svg {
        width: @size-48;
        height: @size-48;

        > g > path {
          stroke: var(--color-primary-text);
        }
      }
    }

    > h3 {
      .text-14-bold;

      color: var(--color-primary-text);
      margin-bottom: @size-4;
    }

    > h4 {
      .text-14;

      color: var(--color-primary-text);
      margin-bottom: @size-12;
    }
  }

  .BetslipList {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @media @breakpoint-mobile-tablet {
      height: 100%;

      > section {
        display: flex;
        flex-flow: column nowrap;
        max-height: calc(100vh - 75px);

        > div {
          max-width: unset;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    @media @breakpoint-tiny {
      justify-content: flex-start;
    }
  }
}
