@import (reference) '~assets/styles/shared';

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .HeaderTabs {
    align-items: center;
    background: var(--color-primary-text);
    border-top-left-radius: @border-radius-rounded;
    border-top-right-radius: @border-radius-rounded;
    display: flex;
    flex-flow: row nowrap;
    height: @size-48;
    justify-content: space-around;
  
    @media @breakpoint-mobile-tablet {
      display: none;
    }
  
    > li {
      .text-14-bold;
  
      align-items: center;
      color: var(--color-dark-text);
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-flow: row nowrap;
      height: 100%;
      justify-content: center;
      text-transform: uppercase;
  
      > span {
        .text-10;
  
        align-items: center;
        align-content: center;
        border: @size-1 solid var(--color-outline);
        border-radius: @border-radius-default;
        display: flex;
        justify-content: center;
        height: @size-20;
        width: @size-20;
        margin-left: @size-10;
        color: var(--color-module-background);
      }
  
      &.Selected {
        color: var(--color-module-background);
  
        > span {
          background: var(--color-module-background);
          border: @size-1 solid var(--color-module-background);
          color: var(--color-primary-text);
        }
      }
    }
  }

  .MyBetsSubheader {
    align-items: center;
    background: var(--color-page-background);
    height: @size-36;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;

    > li {
      .text-12-bold;

      align-items: center;
      border-bottom: @size-1 solid var(--color-dark-grey);
      color: var(--color-inactive-text);
      cursor: pointer;
      display: flex;
      flex: 1;
      height: 100%;
      justify-content: center;
      text-transform: uppercase;

      &.Selected {
        color: var(--color-primary-text);
        border-bottom: @size-2 solid var(--color-primary-text);
      }
    }
  }

  .BetslipFooter {
    background: var(--color-table-header);
    border-top: @size-1 solid var(--color-secondary-action-outline);
    display: grid;
    grid-gap: @size-8 @size-16;
    grid-template-columns: 1fr 1fr;
    border-bottom-left-radius: @border-radius-rounded;
    border-bottom-right-radius: @border-radius-rounded;
    padding: @size-12;

    > div {
      grid-column: span 2;
      grid-row: 1;
    }

    > button:first-of-type {
      > svg {
        width: @size-15;
        height: @size-17;
        margin-right: @size-8;

        > path {
          stroke: var(--color-primary-text);
        }
      }

      &:hover {
        > svg > path {
          stroke: var(--color-module-background);
        }
      }
    }
  }
}
