.market-preview {

	.border-standard();

	background-color: @color-white;
	display: flex;
	flex: 1;
	padding: 2em;
	margin: 2em 0;

	.market-preview-group-1 {
		display: flex;
		flex-direction: column;
		flex: 4;
		padding-right: 2em;

		.market-link {
			display: flex;
		}
	}

	.market-preview-group-2 {
		border-left: 1px solid @color-border-muted;
		display: flex;
		flex: 1;
		padding-left: 2em;

		.outcome .outcome-price {
			color: @color-blue;
		}
	}
}