.market-details {
	display: flex;
	flex-direction: column;
	flex: 1;

	.properties {

		.table();

		.property {

			.table-cell-spacing();

			display: flex;
			flex: 1;

			.property-label {

				.font-weight-normal();

				flex: 1;
				padding-left: 1em;
			}

			.property-value {
				flex: 5;
			}
		}
	}
}
