.market-details {
  display: flex;
  flex: 1;
  flex-direction: column;

  .properties {

    .table();

    .property {

      .table-cell-spacing();

      display: flex;
      flex: 1;

      .property-label {
        flex: 1;
        font-weight: 400;
        padding-left: 1em;
      }

      .property-value {
        flex: 5;

        .fa {
          padding: 0 0.4rem;

          &.report-unethical {
            color: @color-red-light;
          }
        }
      }
    }
  }
}
