.market-open-orders-row {

	.table-row();

	&:not(.isFirst) {

		.border(false);
	}

	&:last-child {
		& > * {

			.border(false); // Non-ideal...but the mixin needs some work to accomodate this scenario
			.border(true, @border-left, @border-light);
		}
	}

	& > * {

		.border(true, @border-bottom, @border-light);

		flex: 1;

		&:first-child {

			.border(false);

			flex: 2;
		}

		&:last-child {
			.cancel {
				color: @color-red;
			}

			.yes {
				color: @color-red;
			}

			.confirm {
				padding: 0 1em;
			}
		}
	}
}
