@import (reference) '~assets/styles/shared';

.MarketOutcomesList {
  border-bottom: 1px solid @color-lightergray;
}

.MarketOutcomesList__heading {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;

  > h2 {
    &:extend(.caps--large);
  }

  > span {
    transition: transform 0.3s ease;

    &.is-open {
      transform: rotate(-180deg);
    }

    > svg {
      width: 1.5rem;
    }
  }
}

.MarketOutcomesList__outcomes {
  display: flex;
  width: 100%;
}

.MarketOutcomesList__outcomes-header {
  > ul > li:not(:first-child) {
    border: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
}

.MarketOutcomesList__outcomes-body {
  max-height: 19rem;
  overflow-y: scroll;

  > ul > li:first-child {
    border: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
}

.MarketOutcomesList__outcomes-column {
  flex-grow: 1;

  &:first-child > li {
    padding-left: 2rem;
    text-align: left;
  }

  &:last-child > li {
    padding-right: 4.5rem;
  }

  > li {
    background-color: @color-input-background;
    border-bottom: 1px solid @color-lightest-gray;
    font-size: @font-size-large;
    line-height: @font-size-large;
    padding: 1.125rem 0;
    text-align: right;

    &.MarketOutcomesList__outcomes-heading {
      &:extend(.caps--small);

      background-color: transparent;
      border-bottom: 0;
      color: @color-lightgray;
      padding-bottom: 0.625rem;
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.MarketOutcomesList__outcomes-column:first-child > li:not(:first-child) {
  position: relative;

  &:before {
    border-radius: 100%;
    content: "";
    display: block;
    height: 6px;
    left: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
  }

  &:nth-child(2):before {
    background-color: @color-outcome-one;
  }

  &:nth-child(3):before {
    background-color: @color-outcome-two;
  }

  &:nth-child(4):before {
    background-color: @color-outcome-three;
  }

  &:nth-child(5):before {
    background-color: @color-outcome-four;
  }

  &:nth-child(6):before {
    background-color: @color-outcome-five;
  }

  &:nth-child(7):before {
    background-color: @color-outcome-six;
  }

  &:nth-child(8):before {
    background-color: @color-outcome-seven;
  }

  &:nth-child(9):before {
    background-color: @color-outcome-eight;
  }
}

.MarketOutcomesList__outcomes-percent {
  color: @color-lightgray;
  margin-left: 0.25rem;
}
