.my-position {
  display: flex;
  flex-wrap: wrap;
  padding: 0.6em 1em;

  &:not(:first-of-type) {
    .border(true, @border-top, @border-light);
  }

  &:hover {
    background-color: @color-gray-light;
  }
}

.my-position-group {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  text-align: right;

  .my-position-pair {
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    white-space: nowrap;

    &.realized-net,
    &.unrealized-net,
    &.total-net {
      .colorize();
    }
  }
}

.main-group {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  & > * {
    flex: 0;
  }

  .my-position-name {
    .font-size-medium();

    flex-basis: 33%;
    text-align: left;
  }

  .value-denomination {
    .colorize();
  }
}
