.my-positions-market-overview {
  .font-size-large();

  display: flex;
  flex-wrap: wrap;
  padding: 1em;

  & > .link {
    align-self: center;
  }

  .my-positions-market-description {
    flex: 2 1 auto;
  }

  .my-position-group {
    flex: 1 1 auto;
    margin-top: 0.5em;
  }
}
