.my-position {
  .close-trades {
    display: flex;
    flex: 0.2;
    margin-left: 1em;

    @media @breakpoint-2-3 {
      flex-basis: 100%;
      margin-left: 0;
    }

    @media @breakpoint-1 {
      flex-basis: 100%;
      margin-left: 0;
    }

    .close-dialog {
      flex: 1;

      @media @breakpoint-2-3 {
        button,
        & > span {
          padding: 1em;
        }
      }

      @media @breakpoint-1 {
        button,
        & > span {
          padding: 1em;
        }
      }
    }
  }
}
