@import (reference) '~assets/styles/shared';

.MarketView {
  display: flex;
  flex-flow: row nowrap;

  > section {
    display: flex;

    &:first-of-type {
      flex: 1 100%;
    }

    &:last-of-type {
      flex: 0 35%;
    }
  }
}