@import (reference) '~assets/styles/shared';

.TradingForm {
  .HoverDropShadow;

  border-radius: @size-16;
  display: flex;
  height: fit-content;
  background: var(--simple-light-bg);
  display: flex;
  flex-direction: column;

  > div:first-of-type {
    padding: @size-16 @size-32;
    border-bottom: @size-1 solid var(--simple-border);
    display: grid;
    grid-template-columns: auto auto 1fr;
    flex: 1;
    align-items: center;
    margin-bottom: @size-24;

    > span {
      .text-20-bold;

      color: var(--simple-secondary-text);
      text-transform: capitalize;
      cursor: pointer;

      &:first-of-type {
        margin-right: @size-40;
      }

      &.Selected {
        color: var(--simple-primary-text);
      }

      &:hover {
        color: var(--simple-primary-text);
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      > span {
        &:first-of-type {
          .text-16;

          color: var(--simple-secondary-text);
          text-transform: capitalize;
        }

        &:nth-of-type(2) {
          .text-20-semi-bold;

          color: var(--simple-primary-text);
          margin-top: @size-4;
        }
      }
    }
  }

  > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 @size-24 @size-24;

    > button {
      flex: 1;
      margin-top: @size-24;

      &:nth-of-type(2) {
        margin-top: @size-8;
      }
    }

    > div:nth-of-type(2) {
      margin-top: @size-24;
    }

    > div:nth-of-type(3) {
      margin-top: @size-24;
    }
  }
}

.Outcomes {
  display: flex;
  flex-direction: column;

  > div {
    &:not(:first-of-type) {
      margin-top: @size-8;
    }
  }

  &.YesNo {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > div {
      &:not(:first-of-type) {
        margin-top: 0;
      }

      &:nth-of-type(3) {
        margin-top: @size-8;
      }
    }
  }
}

.SelectedBorders {
  border: @size-1 solid var(--simple-no);

  &.ShowAllHighlighted {
    border-left: 0;
  }

  &.Yes {
    background: var(--simple-yes-15);
    border: @size-1 solid var(--simple-yes);
  }

  &.Invalid {
    background: var(--simple-invalid-15);
    border: @size-1 solid var(--simple-invalid);
  }
}

.Outcome {
  .SimpleBorder;

  display: flex;
  color: var(--simple-primary-text);
  cursor: pointer;
  padding: @size-10 @size-16;
  flex: 1;
  text-transform: capitalize;

  > span {
    &:first-of-type {
      .text-14-semi-bold;
    }
    &:last-of-type {
      .text-16-semi-bold;

      flex: 1;
      justify-content: flex-end;
      display: flex;
    }
  }

  &.Selected,
  &:not(.Selected):hover {
    .SelectedBorders;

    background: var(--simple-no-15);
  }

  &.YesNo {
    color: var(--simple-secondary-text);
    display: flex;
    flex-direction: column;

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: transparent;
    }

    &:nth-of-type(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: transparent;
    }

    > span {
      &:first-of-type {
        .text-16-bold;
      }

      &:last-of-type {
        .text-30-bold;

        justify-content: flex-start;
        display: flex;
        margin-top: @size-8;
      }
    }

    > div {
      .text-30-bold;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: @size-8;

      > span {
        color: var(--simple-secondary-text-50);
      }

      &.edited {
        > span {
          color: var(--simple-primary-text);
        }
      }

      > input {
        .text-30-bold;

        justify-content: flex-start;
        display: flex;
        background: transparent;
        outline: 0;
        padding: 0;
        border: 0;
        color: var(--simple-primary-text);
        margin-left: @size-1;

        &:active,
        &:focus {
          outline: 0;
          border: 0;
        }
  
        &::placeholder {
         color: var(--color-secondary-text-50);
        }
      }
    }

    &.Selected,
    &:not(.Selected):hover {
      .SelectedBorders;

      color: var(--simple-primary-text);
    }

    &.Yes:not(.Selected):hover {
      border-right: @size-1 solid transparent;
    }

    &:not(.Yes):not(.Selected):hover {
      border-left: @size-1 solid transparent;
    }

    &.InvalidSelected {
      &:first-of-type {
        border-right: @size-1 solid var(--simple-border);
      }
    }
  }

  &.Invalid {
    color: var(--simple-secondary-text);
    grid-column: 1 / span 2;

    > span:first-of-type {
      .text-16;
    }
  }

  &.nonSelectable {
    > span:last-of-type {
      .text-20-bold;

      margin-top: @size-8;
    }

    &.Selected,
    &:not(.Selected):hover {
      .SimpleBorder;
  
      background: transparent;
      border-top-left-radius: 0; 
      border-bottom-left-radius: 0; 
      color: var(--simple-secondary-text);

      &.Yes {
        .SimpleBorder;

        background: transparent;
        border-top-right-radius: 0; 
        border-bottom-right-radius: 0;
      }

      > span:first-of-type {
        color: var(--simple-secondary-text);
      }
    }
  }
}

.AmountInput {
  .SimpleBorder;

  display: flex;
  padding: @size-24;
  background: var(--light-background-color);
  display: grid;
  grid-template-columns: 1fr 1fr;

  > span:first-of-type {
    .text-16-bold;

    text-transform: capitalize;
    color: var(--simple-secondary-text);
  }

  > span:nth-of-type(2) {
    .text-14;

    display: flex;
    justify-content: flex-end;
    text-transform: capitalize;
    color: var(--simple-secondary-text);
  }
}

.CurrencyLabel,
.SharesLabel {
  .text-16-semi-bold;

  align-items: center;
  color: var(--simple-primary-text);
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  justify-content: center;
  margin-right: @size-16;

  > svg {
    height: @size-24;
    width: @size-24;
    margin-right: @size-4;
  }
}

.SharesLabel {
  > button {
    margin-left: @size-12;
  }
}

.AmountInputDropdown {
  grid-column: 1 / span 2;
  margin-top: @size-14;
  background-color: var(--simple-light-bg);
  border-radius: @size-8;
  display: flex;
  height: @size-50;
  min-height: @size-50;
  border: @size-1 solid transparent;
  outline: 0;

  &:focus-within {
    border: @size-1 solid var(--simple-border);
    outline: 0;
  }

  > input {
    .text-20-bold;

    width: 100%;
    color: var(--simple-primary-text);
    background-color: var(--simple-light-bg);
    border-radius: @size-8;
    border: 0;
    outline: 0;
    flex: 1;

    &:focus {
      border: 0;
      outline: 0;
    }
  }

  > div {
    margin-left: -@size-80;
  }

}

.OrderInfo {
    display: flex;
    flex-direction: column;

    > div {
        display: flex;
        flex: 1;

        > span {
            .text-16-semi-bold;

            color: var(--simple-secondary-text);
            text-transform: capitalize;

            &:first-of-type {
                flex: 1;
            }
        }
        
        &:not(:last-of-type) {
            margin-bottom: @size-12;;
        }
    }
}

@media @breakpoint-mobile-tablet {
  .TradingForm {
    filter: unset;
    border-radius: unset;
    position: absolute;
    top: -@simple-top-bar-height;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    height: 100vh;
    width: unset;

    > div:first-of-type {
      flex: unset;
      grid-template-columns: auto auto 1fr auto;

      > div:last-of-type {
        .SimpleBorder;

        margin-left: @size-24;
        padding: @size-12 @size-16;
      }
    }
  }
}