@import (reference) '~assets/styles/shared';

.TradingForm {
  .FixedBoxShadow;

  border-radius: @size-16;
  display: flex;
  height: fit-content;
  background: var(--simple-light-bg);
  flex-direction: column;

  > div:first-of-type {
    padding: @size-16 @size-32;
    border-bottom: @size-1 solid var(--simple-border);
    display: grid;
    grid-template-columns: auto auto 1fr;
    flex: 1;
    align-items: center;
    margin-bottom: @size-24;

    > span {
      .text-20-bold;

      color: var(--simple-secondary-text);
      text-transform: capitalize;
      cursor: pointer;

      &:first-of-type {
        margin-right: @size-40;
      }

      &.Selected {
        color: var(--simple-primary-text);
      }

      &:hover {
        color: var(--simple-primary-text);
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      > span {
        &:first-of-type {
          .text-16;

          color: var(--simple-secondary-text);
          text-transform: capitalize;
        }

        &:nth-of-type(2) {
          .text-20-semi-bold;

          color: var(--simple-primary-text);
          margin-top: @size-4;
        }
      }

      &:last-of-type {
        display: none;
      }
    }
  }

  > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 @size-24 @size-24;

    > button {
      flex: 1;
      margin-top: @size-24;

      &:nth-of-type(2) {
        margin-top: @size-16;
      }
    }

    > div:nth-of-type(2) {
      margin-top: @size-16;
    }

    > div:nth-of-type(3) {
      margin-top: @size-24;
    }
  }
}

.Outcomes {
  display: flex;
  flex-direction: column;

  > div {
    &:not(:first-of-type) {
      margin-top: @size-8;
    }
  }

  &.YesNo {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > div {
      &:not(:first-of-type) {
        margin-top: 0;
      }

      &:nth-of-type(3) {
        margin-top: @size-8;
        height: unset;
        min-height: unset;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &.showAsButtons {
    > div:first-of-type {
      margin-right: @size-8;
    }
  }
}

.SelectedBorders {
  border: @size-1 solid var(--simple-no);

  &.ShowAllHighlighted {
    border-left-width: 0;

    &.showAsButton {
      border-left-width: @size-1;
    }
  }

  &.Yes {
    background: var(--simple-yes-15);
    border: @size-1 solid var(--simple-yes);
  }
}

.Outcome {
  .SimpleBorder;

  display: flex;
  color: var(--simple-primary-text);
  cursor: pointer;
  padding: @size-10 @size-16;
  flex: 1;
  text-transform: capitalize;
  min-height: @size-106;
  height: @size-106;
  max-height: @size-106;
  justify-content: center;

  > span {
    &:first-of-type {
      .text-14-semi-bold;
    }
    &:last-of-type {
      .text-16-semi-bold;

      justify-content: flex-end;
      display: flex;
    }
  }

  &.Selected,
  &:not(.Selected):hover:not(.Invalid) {
    .SelectedBorders;

    background: var(--simple-no-15);
  }

  &.Selected {
    &.Invalid:not(.loggedOut) {
      background: var(--simple-invalid-15);
      color: var(--simple-primary-text);
      border: @size-1 solid var(--simple-invalid);
    }
  }

  &:not(.Selected):hover {
    &.Invalid:not(.loggedOut) {
      background: transparent;
      color: var(--simple-primary-text);
      border: @size-1 solid var(--simple-invalid);

      > svg {
        > path {
          fill: var(--simple-primary-text);
        }
      }
    }
  }

  &.YesNo {
    color: var(--simple-secondary-text);
    display: flex;
    flex-direction: column;

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: transparent;
    }

    &:nth-of-type(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: transparent;
    }

    > span {
      &:first-of-type {
        .text-16-bold;
      }

      &:last-of-type {
        .text-30-bold;

        justify-content: flex-start;
        display: flex;
        margin-top: @size-8;
      }
    }

    > div {
      .text-30-bold;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: @size-8;
      justify-content: flex-start;
      display: flex;
      margin-top: @size-8;
      > span {
        color: var(--simple-secondary-text-50);
      }

      > input {
        .text-30-bold;

        justify-content: flex-start;
        display: flex;
        background: transparent;
        outline: 0;
        padding: 0;
        border: 0;
        color: var(--simple-primary-text);
        margin-left: @size-1;

        &:active,
        &:focus {
          outline: 0;
          border: 0;
        }

        &::placeholder {
          color: var(--color-secondary-text-50);
        }
      }
    }

    &.Selected,
    &:not(.Selected):hover {
      .SelectedBorders;

      color: var(--simple-primary-text);
    }

    &.InvalidSelected {
      &:first-of-type {
        border-right: @size-1 solid var(--simple-border);
      }
    }
  }

  &.nonSelectable {
    height: @size-80;
    min-height: @size-80;

    &.Yes {
      border-right-color: var(--simple-border);
    }

    > span:nth-of-type(2) {
      margin-top: @size-8;
    }

    > span:last-of-type,
    > div > span,
    > div > input {
      .text-20-bold;
    }

    > span:first-of-type {
      margin-top: 0;
    }

    &.Selected,
    &:not(.Selected):hover {
      .SimpleBorder;

      background: transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      color: var(--simple-secondary-text);
      border-left: @size-1 solid transparent;
      cursor: auto;

      &.Yes {
        .SimpleBorder;

        background: transparent;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      > span:first-of-type {
        color: var(--simple-secondary-text);
      }
    }

    &.Edited {
      > div > span {
        color: var(--simple-primary-text);
      }
    }
  }

  &.showAsButton {
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: @size-8;

    &:nth-of-type(2),
    &:nth-of-type(1) {
      border-radius: @size-8;
    }
  }

  &.Invalid {
    color: var(--simple-secondary-text);
    grid-column: 1 / span 2;

    > span:first-of-type {
      .text-16;
    }
  }

  &.disabled {
    pointer-events: none;
  }
}

.OrderInfo {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex: 1;

    > span {
      .text-16-semi-bold;

      color: var(--simple-secondary-text);

      &:first-of-type {
        display: flex;
        align-items: center;
        text-transform: capitalize;

        > span {
          margin-left: @size-4;
        }
      }

      &:last-of-type {
        flex: 1;
        justify-content: flex-end;
        display: flex;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: @size-8;
    }
  }

  &.Populated {
    > div > span:last-of-type {
      color: var(--simple-primary-text);
    }
  }
}

@media @breakpoint-mobile-tiny {
  .TradingForm {
    filter: unset;
    border-radius: unset;
    position: absolute;
    top: -@simple-top-bar-height;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    height: 100vh;
    width: unset;

    > div:first-of-type {
      flex: unset;
      grid-template-columns: auto auto 1fr auto;
      padding: @size-10 @size-16 @size-11;

      > div:last-of-type {
        .SimpleBorder;

        cursor: pointer;
        display: flex;
        margin-left: @size-24;
        padding: @size-12 @size-16;
      }
    }

    > div:nth-of-type(2) {
      padding: 0 @size-16 @size-24;
    }
  }
}

@media @breakpoint-tiny {
  .TradingForm {
    top: 0;
  }
}
