@import '~assets/styles/shared.less';

.NavPanel {
  display: grid;
  grid-template-columns: 15rem auto;
  height: 100%;
}

.NavPanel--flipped {
  display: block;
  grid-template-columns: none;
}

.NavPanel__controls {
  background: red;
  display: grid;
  grid-template-rows: auto;
}

.NavPanel--flipped .NavPanel__controls {
  display: block;
  font-size: 0;
  grid-template-rows: none;
}

.NavPanel__control {
  align-items: center;
  background: @color-purple;
  border: none;
  border-bottom: 1px solid @color-grayish-purple;
  color: @color-white;
  cursor: pointer;
  display: flex;
  font-family: @din-pro;
  font-size: 0.87rem;
  font-weight: 300;
  outline: none;
  padding-left: 2rem;
  text-align: left;

  &:hover {
    background: @color-grayish-purple;
  }

  &:last-child {
    border-bottom: none;
  }
}

.NavPanel--flipped .NavPanel__control {
  border-right: 1px solid @color-grayish-purple;
  display: inline-block;
  font-size: 0.75rem;
  height: 3.4375rem;
  padding: 0;
  text-align: center;
  width: 33.33%;

  &:nth-child(3n) {
    border-right: none;
  }

  &:nth-last-child(-n+3) {
    border-bottom: none;
  }
}

.NavPanel__control--active {
  background: @color-grayish-purple;
}

.NavPanel__icon {
  color: @color-text-light;
  height: 2.25em;
  margin-right: 1.5rem;
  vertical-align: middle;
  width: 2.25em;
}

.NavPanel--flipped .NavPanel__icon {
  display: block;
  margin: 0 auto;
  max-height: 1.5rem;
  max-width: 1.5rem;
  vertical-align: auto;
}

.NavPanel__title {
  flex: 1;
}
