@import (reference) '~assets/styles/shared';

.FeesLiquidity {
  > div {
    margin-bottom: @size-32;
  }

  > div:nth-of-type(2) {
    > div:last-of-type > div {
      @media @breakpoint-mobile {
        > span:first-of-type {
          right: unset;
          left: @size-60;
        }

        > span:last-of-type {
          margin-left: @size-16;
        }
      }
    }
  }

  > div:first-of-type,
  > div:nth-of-type(2) {
    > div:last-of-type > div > input {
      max-width: @size-210;

      @media @breakpoint-mobile {
        min-width: @size-80;
      }
    }

    > div:first-of-type {
      margin-bottom: @size-16;
    }

    div:nth-of-type(3),
    > div:nth-of-type(2) > div {
      width: @size-210;
    }
  }

  > div:nth-of-type(4) {
    flex-direction: row;
    flex: 1;
    display: flex;
    height: 450px;

    > section {
      min-height: unset;
      flex: 1;
    }

    > section:first-of-type {
      margin-right: @size-28;
    }
  }

  @media @breakpoint-mobile {
    > div {
      margin-bottom: @size-24;
      padding: 0 @size-8;
    }

    > div:nth-of-type(4),
    > div:nth-of-type(6),
    > div:nth-of-type(7) {
      padding: 0;
      margin-bottom: @size-8;
    }

    > div:nth-of-type(5) {
      margin-bottom: 0;
      padding: @size-24 @size-16;
    }


    > div:nth-of-type(4) {
      flex-direction: column;
      height: auto;

      > section:first-of-type {
        margin-right: 0;
        overflow-y: visible;
        margin-bottom: @size-8;
      }

      > section:nth-of-type(2) {
        height: auto;
        min-height: 200px;
        border: 1px solid @color-dark-grey;
      }
    }

    > div:nth-of-type(6),
    > div:last-of-type {
      max-height: unset;
      min-height: unset;

      > div {
        max-height: unset;
        min-height: unset;
        padding: 0;
      }
    }
  }
}
