@import (reference) '~assets/styles/shared';

.FeesLiquidity {
  > div {
    margin-bottom: @size-32;
  }

  > div:first-of-type,
  > div:nth-of-type(2) {
    > div:last-of-type > div > input {
      max-width: 210px;
    }

    > div:first-of-type {
      margin-bottom: @size-16;
    }

    > div:nth-of-type(2) > div {
      width: 210px;
    }
  }

  > div:nth-of-type(4) {
    flex-direction: row;
    flex: 1;
    display: flex;
    height: 450px;

    > section {
      min-height: unset;
      flex: 1;
    }

    > section:first-of-type {
      margin-right: @size-28;
    }
  }

  @media @breakpoint-mobile-mid {
    > div:nth-of-type(4) {
      flex-direction: column;
      height: auto;

      > section:first-of-type {
        margin-right: 0;
        overflow-y: visible;
      }
      > section:nth-of-type(2) {
        height: auto;
        min-height: 200px;
      }
    }

    > div:nth-of-type(6),
    > div:last-of-type {
      max-height: unset;
      min-height: unset;

      > div {
        max-height: unset;
        min-height: unset;
      }
    }
  }
}
