@import (reference) "~assets/styles/shared";

.FeesLiquidity {
	> div {
		margin-bottom: @size-32;

		> div:first-of-type {
			margin-bottom: @size-16;
		}
	}

	> div:first-of-type,
	> div:nth-of-type(2) {
		> div:last-of-type > input {
			max-width: 210px;
		}
	}
}