@import (reference) "~assets/styles/shared";

.Landing {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
    	> div:not(:last-of-type) {
    		margin-bottom: @size-12;
        min-height: unset;
    	}
    }

    > div:last-of-type {
    	margin-bottom: 102px;
    }

    @media @breakpoint-mobile {
        align-items: flex-start;
        padding: 0 @size-8;

        > div:last-of-type {
            margin-bottom: @size-20;
        }

        > div {
            > div:not(:last-of-type) {
                margin-bottom: @size-8;
            }
        }

        > div:nth-of-type(2) {
            padding-bottom: @size-10;
        }

        > div:last-of-type {

            > div:last-of-type {
                > div {
                    margin-bottom: @size-18;

                    > p {
                        margin-top: @size-8;
                    }
                }
            }

            > div:nth-of-type(2) {
                > div {
                    margin-bottom: @size-12;
                }
            }

            > div > div {
                min-height: unset;
                padding: unset;
                margin-bottom: @size-4;
            }
        }
    }
}
