@import (reference) "~assets/styles/shared";

.Landing {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
    	> div:not(:last-of-type) {
    		margin-bottom: @size-12;
    	}
    }

    > div:last-of-type {
    	margin-bottom: 102px;
    }

    @media @breakpoint-mobile-mid {
        align-items: flex-start;
        padding: 0 @size-8;

        > div:last-of-type {

            > div > div {
                min-height: unset !important;
                padding: unset !important;
            }
        }
    }
}