@import (reference) '~assets/styles/shared';

.Link {
	white-space: nowrap;
    color: @color-primary-action;

	&.underline {
		text-decoration: underline;
	}

	&.ownLine {
		display: block;
		margin: auto;
	}
}
