@import (reference) '~assets/styles/shared';

.Link {
	white-space: nowrap;
    color: @color-primary-action;

	&.underline {
		text-decoration: underline;
	}

	&.ownLine {
		display: block;
		margin: auto;

		@media @breakpoint-mobile {
			display: inline;
			margin: 0 0 0 @size-4;
		}
	}
}
