@import (reference) "~assets/styles/shared";

.SavedDrafts {
	max-height: 250px;
}

.DraftRow {
  border-bottom: 1px solid @color-dark-grey;
  display: flex;
  flex-grow: 1;
  padding: @size-18 @size-32;
  background-color: @color-module-background;
  flex-direction: row;
  cursor: pointer;
  align-items: center;

  > button:first-of-type {
    display: flex;
    flex: 1;
    flex-direction: column;
      
    > span:first-of-type {
      .text-12-medium;

      color: @color-primary-text;
      text-align: left;
    }

    > span:last-of-type {
      .mono-12-bold;

      color: @color-secondary-text;
      margin-top: @size-4;
      text-align: left;
    }
  }

  > button:last-of-type {
    height: min-content;
  }
  
  @media @breakpoint-mobile-mid {
    padding: @size-16 @size-16;
    
    > button:first-of-type {
      > span:first-of-type {
        display: none;
      }
    }
  }

  &:last-of-type {
    border-bottom: 0;
  }
}