@import (reference) '~assets/styles/shared';

.FilterDropdowns {
  display: flex;
  flex-flow: row nowrap;

  > div > button:first-child {
    &:extend(.caps--small);

    color: @color-white;
    font-size: @font-size-medium;
  }
}

.FilterDropdowns__hasOrders {
  color: @color-white;
  display:flex;
  flex-direction: row;
  padding-left: 1rem;

  > label {
    padding: 0.4rem 2rem;
  }
}
