@import (reference) "~assets/styles/shared";

@keyframes drawout-inner {
  0% {
    stroke-dashoffset: 335;
  }

  49% {
    stroke-dashoffset: 455;
  }

  51% {
    stroke-dashoffset: 455;
  }

  100% {
    stroke-dashoffset: 335;
  }
}

@keyframes drawout-inner-inverse {
  0% {
    stroke-dashoffset: 82;
  }

  49% {
    stroke-dashoffset: 0;
  }

  51% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 82;
  }
}

.ModalNetworkDisconnected {
  max-width: 35rem;
  padding: 1rem;
  position: relative;
  width: 100%;

  h1,
  span {
    color: @color-white;
  }

  h1 {
    .caps--extra-large();
  }

  div > span > button {
    text-decoration: underline;
  }
}

.ModalNetworkDisconnected__form {
  h1,
  input,
  label {
    margin-top: 1rem;
  }

  button {
    &:extend(.button--white);

    margin-top: 2rem;
  }
}

.ModalNetworkDisconnected__AugurLogo {
  backface-visibility: hidden; /* VERY IMPORTANT - PREVENTS FLICKER */
  margin-bottom: 2rem;
  width: 6.25rem;

  svg {
    :global {
      .outer-lines {
        fill: none;
        stroke: @color-white;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        stroke-width: 5;
      }

      .inner-lines {
        :local {
          animation: drawout-inner 2.5s both infinite;
          animation-direction: alternate;
        }

        fill: none;
        stroke: @color-white;
        stroke-dasharray: 230;
        stroke-dashoffset: 230;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        stroke-width: 5;
      }

      .inner-bottom-line {
        :local {
          animation: drawout-inner-inverse 2.5s both infinite;
          animation-direction: alternate;
        }

        fill: none;
        stroke: @color-white;
        stroke-dasharray: 82;
        stroke-dashoffset: 82;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        stroke-width: 5;
      }

      .mask {
        fill: @color-purple;
      }
    }
  }
}
