@import (reference) "~assets/styles/shared";

.BlockInfoData {
  align-items: center;
  color: @color-secondary-text;
  flex-direction: column;
  justify-content: center;
  max-width: 162px;
  position: relative;
  width: unset !important;

  &:hover {
    background-color: @color-primary-light;
  }
}

.BlockInfoData__container {
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 18px 24px;
  width: 100%;

  &:focus {
    outline: none;
  }

  @media @breakpoint-mobile {
    padding-bottom: 10px;
    padding-top: 8px;
  }
}

.BlockInfoData__title {
  color: @color-less-neutral;
  font-size: @font-size-extra-small;
  line-height: 2;

  @media @breakpoint-mobile {
    line-height: unset;
  }
}

.BlockInfoData__selected {
  background-color: @color-primary-light;
}

.BlockInfoData__info {
  .mono-14-bold;

  align-items: flex-end;
  display: flex;
}

.BlockInfoData__connectDropdown {
  background-color: @color-primary-light;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.5);
  height: 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 100%;
  width: 308px;
  z-index: @above-all-content;

  @media @breakpoint-mobile {
    width: 250px;
  }

  @media @breakpoint-mobile-small {
    left: -1px;
    right: unset;
  }
}

.BlockInfoData__connectDropdownLogged {
  @media @breakpoint-mobile-small {
    left: unset;
    right: -1px;
  }
}

.BlockInfoData__dropdownContainer {
  padding: 24px;
}

.BlockInfoData__dropdownTitle {
  color: @color-lightergray;
  font-size: @font-size-medium;
}

.BlockInfoData__percent {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: @color-white;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: @font-size-rather-large;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 8px;
  padding-bottom: 16px;
}

.BlockInfoData__processed {
  color: @color-white;
  font-size: @font-size-large;
  font-weight: bold;
  margin-top: 8px;
}

.BlockInfoData__slash {
  font-weight: normal;
  margin-left: 6px;
  margin-right: 4px;
}

.BlockInfoData__bottom {
  color: @color-white;
}

.BlockInfoData__blocksBehind {
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: @font-size-extra-small;
  font-weight: normal;
  margin-left: auto;
  padding-left: 8px;
  text-decoration: underline;
}

@media @breakpoint-mobile {
  .BlockInfoData {
    display: none;
  }
}
