@import (reference) "~assets/styles/shared";

.CreateMarketReview {
  color: @color-white;
  display: flex;
  flex-direction: row;
  min-width: 100%;

  > div.blockit {
    margin-left: 1rem;
    padding: 0.5rem 0 1rem;
  }

  > div {
    margin: 1rem 0;
  }
}

.CreateMarketReview_inline_property {
  color: @color-lightgray-2;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  > span:first-of-type {
    font-size: @font-size-small;
    text-transform: uppercase;
  }

  > span:last-of-type {
    color: @color-white;
    font-size: @font-size-medium;

    &.title {
      font-size: @font-size-extra-large;
    }
  }
}

.CreateMarketReview_line {
  border-bottom: 1px solid rgba(206, 215, 216, 0.3);
  min-width: 50%;
  padding: 1rem 0;
}

.CreateMarketReview_properties {
  color: @color-lightgray-2;
  display: flex;
  flex-direction: row;
  font-size: @font-size-medium;
  justify-content: flex-start;
  margin-bottom: 2rem;
  min-width: 4rem;
  text-transform: uppercase;

  > div {
    padding-right: 1rem;

    > span:last-of-type {
      color: @color-white;
    }
  }
}

.CreateMarketReview_market_properties_outcomes {
  color: @color-white;
  display: flex;
  flex-flow: row wrap;
  font-size: @font-size-small;
  justify-content: space-between;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.CreateMarketReview_market_properties {
  color: @color-lightgray-2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50%;
  text-transform: uppercase;

  > span:last-of-type {
    color: @color-white;
  }
}

.CreateMarketReview__AdditionalDetails-text {
  background: none;
  border: 0;
  color: @color-lightgray;
  margin: 0 0 2rem;
  overflow: hidden;
  padding: 0;
  resize: none;
  text-transform: none;
  white-space: pre-wrap;
}

.CreateMarketReview_spacer {
  border-bottom: 1px solid @color-input-background;
  font-weight: 700;
  margin-bottom: 1.375rem;
}

.CreateMarketReview__heading {
  &:extend(.caps--large);

  border-bottom: 1px solid @color-input-background;
  font-weight: 700;
  margin-bottom: 1.375rem;
  padding-bottom: 0.5rem;
}

.CreateMarketReview__list {
  > li {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    > span:first-child {
      &:extend(.caps--small);

      color: @color-lightergray;
      font-weight: 500;
    }

    > span:last-child {
      font-size: 1.125rem;
      text-transform: uppercase;
    }
  }
}

.CreateMarketReview__subheading {
  &:extend(.caps);

  font-size: 1rem;
  margin-bottom: 1.875rem;
}

.CreateMarketReview__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
  min-width: 50%;
}

.CreateMarketReview__smallheading {
  &:extend(.caps--small);

  margin-bottom: 1rem;
}

.CreateMarketReview__smallparagraph {
  color: @color-lightgray;
  font-size: @font-size-medium;
  margin: 0 0 3rem;
}

@media @breakpoint-mobile-medium {
  .CreateMarketReview__wrapper {
    flex-wrap: wrap;

    > div {
      width: 100%;

      &:first-child {
        margin-bottom: 2rem;
      }
    }
  }
}
