@import (reference) "~assets/styles/shared";
@import (reference) "~modules/market/components/market-view/market-view.styles";

.MarketHeaderMessage {
  background-color: @color-yellowish-alert;
  border-radius: 4px;
  color: @color-darkpurple;
  display: flex;
  flex-direction: row;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  padding: 1rem;

  > button {
    align-self: flex-start;
    display: block;
    padding-left: 0.5rem;

    > svg {
      height: 0.75rem;
      vertical-align: 0.5rem;
      width: 0.75rem;
    }
  }
}

.MarketHeaderMessage__tooltip__location {
  margin-left: 0.25rem;
  vertical-align: -0.2rem;
}

.MarketHeaderMessage__bolding {
  > span {
    &.bolden {
      font-weight: bold;
    }
  }
}

.MarketHeaderMessage__tooltip {
  > div > p:first-of-type {
    margin-top: 0;
  }

  > div > p:last-of-type {
    margin-bottom: 0;
  }
}
