@import '~assets/styles/shared.less';

@auth-button-height: 4em;

.AuthView {
  align-items: center;
  display: flex;
  margin: 0;
  z-index: @default-z-index;
}

.AuthView__default {
  display: flex;
  flex-direction: column;
}

.AuthView__airbitz {
  align-self: center;
  background-color: @color-airbitz-logo-background;
  border-radius: 4px;
  color: @color-text-light;
  cursor: pointer;
  margin: 1.4em 0 1em;

  > div {
    align-items: center;
    display: flex;

    > .airbitz-logo-icon {
      .border(true, @border-right, @color-gray);

      height: @font-size-large;
      padding: 0.6em;
    }

    > span {
      padding: 0 1.2em;
    }
  }
}

.AuthView__methods {
  .border(true, @border-right);
  .border(true, @border-bottom);
  .border(true, @border-left);

  background-color: @color-white;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  width: 400px;

  @media @breakpoint-mobile {
    width: 100%;
  }

  h3 {
    align-self: flex-start;
    margin-left: 1em;
  }

  & > button {
    align-self: center;
  }

  h4 {
    color: @color-text-light-light;
    display: flex;
    flex: 1;
    font-size: @font-size-large;
    font-style: italic;
    font-weight: 200;
    justify-content: center;
    overflow: hidden;

    &::before,
    &::after {
      background-color: @color-border-light;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      top: 0.6em;
      width: 40%;
    }

    &::before {
      margin-left: -50%;
      right: 1em;
    }

    &::after {
      left: 1em;
      margin-right: -50%;
    }
  }

  .auth-button-title {
    line-height: @auth-button-height;
  }

  .auth-login-id {
    .auth-login-id-method-selection {
      display: flex;

      button {
        flex: 1;
        line-height: @auth-button-height;
      }
    }
  }

  & > form {
    display: flex;
    flex-direction: column;
    margin: 0 2em 1em;

    span.soft-header {
      align-self: center;
      color: @color-text-light-extra-light;
      margin: 1em 0;
    }

    input[type='submit'] {
      align-self: flex-end;
    }

    .auth-error {
      display: flex;
      height: 0;
      opacity: 0;
      z-index: 10;

      span {
        color: @color-red;
        font-weight: 400;
        margin: 0.5em 0 0 1em;
      }
    }
  }
}

// Animations
.animateIn {
  animation-delay: 0s, @animation-speed-fast;
  animation-duration: 0s, @animation-speed-fast;
  animation-fill-mode: forwards;
  animation-name: expandElementHeight, fadeInDownFull;
  animation-timing-function: @animation-default-type;
  height: auto;
  opacity: 0;
}

.animateOut {
  animation-delay: 0s, @animation-speed-very-fast;
  animation-duration: @animation-speed-very-fast, 0s;
  animation-fill-mode: forwards;
  animation-name: fadeOutUpFull, collapseElementHeight;
  animation-timing-function: @animation-default-type;
}

.animateInPartial {
  animation-delay: 0s, @animation-speed-fast;
  animation-duration: 0s, @animation-speed-fast;
  animation-fill-mode: forwards;
  animation-name: expandElementHeight, fadeInDownPartial;
  animation-timing-function: @animation-default-type;
  height: auto;
  opacity: 0;
}

.animateOutPartial {
  animation-delay: 0s, @animation-speed-very-fast;
  animation-duration: @animation-speed-very-fast, 0s;
  animation-fill-mode: forwards;
  animation-name: fadeOutUpPartial, collapseElementHeight;
  animation-timing-function: @animation-default-type;
}

.keyframes(fadeInDownFull, {
from {
transform: translateY(-100%);
opacity: 0;
}
to {
transform: translateY(0%);
opacity: 1;
}
});

.keyframes(fadeOutUpFull, {
from {
transform: translateY(0);
height: auto;
opacity: 1;
}
to {
transform: translateY(-100%);
height: auto;
opacity: 0;
}
});

.keyframes(fadeInDownPartial, {
from {
transform: translateY(-20%);
opacity: 0;
}
to {
transform: translateY(0%);
opacity: 1;
}
});

.keyframes(fadeOutUpPartial, {
from {
transform: translateY(0);
height: auto;
opacity: 1;
}
to {
transform: translateY(-20%);
height: auto;
opacity: 0;
}
});
