@import '~assets/styles/shared.less';

.AuthView {
  &:extend(.view);

  display: flex;
  height: 100%;
}

.AuthView__content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  z-index: @default-z-index;
}

.AuthView__header {
  .caps();

  color: @color-white;
  text-align: center;

  @media @breakpoint-mobile {
    .caps--large();
  }
}

.AuthView__actions {
  align-items: center;
  display: flex;
  flex: 1;
}

.AuthView__button {
  &:extend(.button);
}
