@import (reference) '~assets/styles/shared';

.SearchInput {
  .SimpleBorder;

  border-radius: @size-16;
  background: var(--simple-light-bg);
  color: var(--simple-primary-text);
  display: flex;
  align-items: center;
  height: @size-56;

  &:focus-within {
    border: @size-1 solid var(--simple-secondary-text);
  }

  > div {
    border-radius: @size-100;
    background-color: var(--simple-alternate-background);
    min-width: @size-32;
    min-height: @size-32;
    width: @size-32;
    height: @size-32;
    display: flex;
    margin: 0 @size-12;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  > input {
    .text-16-bold;

    background: var(--simple-light-bg);
    color: var(--simple-primary-text);
    border-radius: @size-16;
    border: 0;

    &:focus,
    &:active {
      outline: 0;
      border: 0;
    }
  }
}

.faded {
  opacity: 0.5;
}

.AmountInput {
  .SimpleBorder;

  display: flex;
  padding: @size-24 @size-24 @size-40;
  background: var(--light-background-color);
  display: grid;
  grid-template-columns: 1fr 1fr;

  > span:first-of-type {
    .text-16-bold;

    text-transform: capitalize;
    color: var(--simple-secondary-text);
    align-items: center;
    display: flex;
  }

  > span:nth-of-type(2) {
    .text-14-semi-bold;

    display: flex;
    justify-content: flex-end;
    text-transform: capitalize;
    color: var(--simple-primary-text);
    cursor: pointer;
    text-align: right;

    > span {
      .text-14;

      color: var(--simple-secondary-text);
      margin-right: @size-4;
    }
  }

  > span.RateLabel {
    display: none;
  }

  &.Rate {
    padding-bottom: @size-12;

    > span.RateLabel {
      display: block;
    }
  }
}

.AmountInputField {
  .text-20-bold;

  grid-column: 1 / span 2;
  margin-top: @size-14;
  background-color: var(--simple-light-bg);
  border-radius: @size-8;
  display: flex;
  flex-flow: row nowrap;
  height: @size-56;
  min-height: @size-56;
  border: @size-1 solid transparent;
  outline: 0;
  color: var(--simple-secondary-text);
  align-items: center;


  > button {
    margin-right: @size-8;
  }

  &:focus-within {
    border: @size-1 solid var(--simple-border);
    outline: 0;
  }

  > span {
    flex: 0 auto;
  }

  > input {
    .text-20-bold;

    width: @size-64;
    color: var(--simple-primary-text);
    background-color: var(--simple-light-bg);
    border-radius: @size-8;
    border: 0;
    outline: 0;
    flex: 1 100%;
    padding: @size-14 0;
    margin-right: @size-8;
    text-overflow: ellipsis;

    &:focus {
      border: 0;
      outline: 0;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--simple-light-bg);
    }
  }

  > span:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: @size-2;
    margin-left: @size-16;
  }

  &.Edited {
    color: var(--simple-primary-text);
  }

  &.Error {
    border: @size-1 solid var(--simple-failed);
  }
}

.CurrencyLabel,
.SharesLabel {
  .text-16-semi-bold;

  align-items: center;
  color: var(--simple-primary-text);
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  justify-content: center;
  margin-right: @size-16;

  > svg {
    height: @size-24;
    width: @size-24;
    margin-right: @size-4;
  }
}

.RateLabel {
  .text-14-semi-bold;

  color: var(--simple-primary-text);
  margin-top: @size-12;
  margin-left: auto;
  grid-column: 1 / span 2;
  height: @size-16;

  > span {
    .text-14;

    margin-right: @size-4;
    color: var(--simple-secondary-text);
  }
}

.SharesLabel {
  > button {
    margin-left: @size-12;
  }
}

.TextInput {
  .SimpleBorder;
  .text-16-bold;

  display: flex;
  padding: @size-12 @size-16;
  background: transparent;
  width: unset;
  color: var(--simple-primary-text);

  &:focus {
    .SimpleBorder;
    outline: 0;
  }
}


.Outcomes {
  display: flex;
  flex-direction: column;

  > div {
    &:not(:first-of-type) {
      margin-top: @size-8;
    }
  }

  &.YesNo {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > div {
      &:not(:first-of-type) {
        margin-top: 0;
      }

      &:nth-of-type(3) {
        margin-top: @size-8;
        height: unset;
        min-height: unset;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &.showAsButtons {
    > div:first-of-type {
      margin-right: @size-8;
    }
  }
}

.SelectedBorders {
  border: @size-1 solid var(--simple-no);

  &.ShowAllHighlighted {
    border-left-width: 0;

    &.showAsButton {
      border-left-width: @size-1;
    }
  }

  &.Yes {
    background: var(--simple-yes-15);
    border: @size-1 solid var(--simple-yes);
  }
}

.Outcome {
  .SimpleBorder;

  display: flex;
  color: var(--simple-primary-text);
  cursor: pointer;
  padding: @size-10 @size-24;
  flex: 1;
  text-transform: capitalize;
  min-height: @size-106;
  height: @size-106;
  max-height: @size-106;
  justify-content: center;

  > span {
    &:first-of-type {
      .text-14-semi-bold;
    }
    &:last-of-type {
      .text-16-semi-bold;

      justify-content: flex-end;
      display: flex;
    }
  }

  &.Selected,
  &:not(.Selected):hover:not(.Invalid) {
    .SelectedBorders;

    background: var(--simple-no-15);
  }

  &.Selected {
    &.Invalid:not(.loggedOut) {
      background: var(--simple-invalid-15);
      color: var(--simple-primary-text);
      border: @size-1 solid var(--simple-invalid);
    }
  }

  &:not(.Selected):hover {
    &.Invalid:not(.loggedOut) {
      background: transparent;
      color: var(--simple-primary-text);
      border: @size-1 solid var(--simple-invalid);

      > svg {
        > path {
          fill: var(--simple-primary-text);
        }
      }
    }
  }

  &.YesNo {
    color: var(--simple-secondary-text);
    display: flex;
    flex-direction: column;

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: transparent;
    }

    &:nth-of-type(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: transparent;
    }

    > span {
      &:first-of-type {
        .text-16-bold;
      }

      &:last-of-type {
        .text-30-bold;

        justify-content: flex-start;
        display: flex;
        margin-top: @size-8;
      }
    }

    > div {
      .text-30-bold;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: @size-8;
      justify-content: flex-start;
      display: flex;
      margin-top: @size-8;
      > span {
        color: var(--simple-secondary-text-50);
      }

      > input {
        .text-30-bold;

        justify-content: flex-start;
        display: flex;
        background: transparent;
        outline: 0;
        padding: 0;
        border: 0;
        color: var(--simple-primary-text);
        margin-left: @size-1;

        &:active,
        &:focus {
          outline: 0;
          border: 0;
        }

        &::placeholder {
          color: var(--color-secondary-text-50);
        }
      }
    }

    &.Selected,
    &:not(.Selected):hover {
      .SelectedBorders;

      color: var(--simple-primary-text);
    }

    &.InvalidSelected {
      &:first-of-type {
        border-right: @size-1 solid var(--simple-border);
      }
    }
  }

  &.nonSelectable {
    height: @size-80;
    min-height: @size-80;

    &.Yes {
      border-right-color: var(--simple-border);
    }

    > span:nth-of-type(2) {
      margin-top: @size-8;
    }

    > span:last-of-type,
    > div > span,
    > div > input {
      .text-20-bold;
    }

    > span:first-of-type {
      margin-top: 0;
    }

    &.Selected,
    &:not(.Selected):hover {
      .SimpleBorder;

      background: transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      color: var(--simple-secondary-text);
      border-left: @size-1 solid transparent;
      cursor: auto;

      &.Yes {
        .SimpleBorder;

        background: transparent;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      > span:first-of-type {
        color: var(--simple-secondary-text);
      }
    }

    &.Edited {
      > div > span {
        color: var(--simple-primary-text);
      }
    }
  }

  &.showAsButton {
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: @size-8;

    &:nth-of-type(2),
    &:nth-of-type(1) {
      border-radius: @size-8;
    }
  }

  &.Invalid {
    color: var(--simple-secondary-text);
    grid-column: 1 / span 2;

    > span:first-of-type {
      .text-16;
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &.Error {
    border: @size-1 solid var(--simple-failed);

    &.Yes {
      border-right-color: var(--simple-failed);
    }
    &:hover,
    &:not(.Selected):hover {
      border: @size-1 solid var(--simple-failed);

      &.Yes {
        border: @size-1 solid var(--simple-failed);
      }

      &:not(.Yes) {
        border-left-color: transparent;
      }
    }
  }

  &.noClick {
    pointer-events: none;
    border: 0;
    padding-left: @size-32;

    &.Selected {
      &.Yes {
        border: 0;
      }
    }

    &.ShowAllHighlighted {
      border: 0;
    }
  }
}