@import (reference) '~assets/styles/shared';

.v2Logo {
  width: @size-96;
  height: @size-32;
  align-items: center;
  display: flex;
  align-content: center;

  > svg {
    width: 100%;
    height: 100%;

    &:first-of-type {
      path:first-of-type {
        fill: @color-brand;
      }

      path:last-of-type {
        fill: black;
      }

      @media @breakpoint-mobile {
        display: block;
      }
    }

    &:last-of-type {
      path {
        fill: black;

        &:first-of-type {
          fill: @color-brand;
        }
      }
    }
  }

  &.Dark {
    > svg {
      &:first-of-type {
        path:last-of-type {
          fill: var(--simple-light-bg);
        }
      }
  
      &:last-of-type {
        path:nth-of-type(2) {
          fill: var(--simple-light-bg);
        }
      }
    }
  }
}

@media @breakpoint-mobile-tablet {
  .v2Logo {
    > svg {
      width: @size-40;
      height: @size-40;
    }
  }
}
