@import (reference) '~assets/styles/shared';

.Pagination {
  display: flex;

  > div {
    margin-bottom: @size-48;
    margin-left: @size-16;

    @media @breakpoint-mobile {
      margin: @size-16 0 @size-48 0;
    }
  }

  button {
    background: transparent;
  }

  button > span {
    padding-right: @size-8;
  }

  button > span::before {
    content: 'Show:';

    font-weight: normal;
    padding-right: @size-4;
  }

  @media @breakpoint-mobile {
    align-items: center;
    flex-direction: column;
  }

  > section {
    align-content: center;
    display: flex;

    > span {
      .text-12;
  
      color: var(--simples-primary-text);
      display: flex;
      margin: auto;
      white-space: nowrap;

      @media @breakpoint-mobile {
        display: block;
        padding: 0 @size-16;
        margin: auto 0;
      }
    }

    > button {
      margin-right: @size-16;

      &:last-of-type {
        margin-right: 0;
        margin-left: @size-16;
      }
    }
  }
}

.Active {
  color: var(--color-primary-text);
  font-weight: bold;

  &::after {
    background: var(--color-primary-text);
    border-radius: @border-radius-default;
    content: ' ';
    display: block;
    height: @size-2;
    margin: 0 auto;
    width: @size-16;
  }
}

.PaginationContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: @size-32;
}
