@import (reference) '~assets/styles/shared';

.SyncStatus {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;

  > div:first-of-type {
    .mono-10;

    color: @color-secondary-text;
    text-align: center;
  }

  > div:nth-of-type(2) {
    .mono-12;

    align-items: center;
    color: @color-secondary-text;
    display: flex;
    justify-content: center;
    margin: @size-8 0 @size-4;
    text-align: center;

    > span {
      margin: 0 @size-4 0 0;
    }
  }

  > div:nth-of-type(3) {
    .text-24-bold;

    color: @color-secondary-text;
    text-align: center;
  }

  > div:nth-of-type(4) {
    .mono-10;

    color: @color-in-reporting;
    margin: 2px 0 0;
    text-align: center;
  }

  @media @breakpoint-mobile-mid {
    margin-top: 1rem;
  }
}

.SyncStatus__green {
  > div:nth-of-type(2) {
    > span {
      background: @color-open;
      border-radius: 50%;
      height: 12px;
      width: 12px;
    }
  }

  > div:nth-of-type(4) {
    color: @color-open;
    margin: @size-4 @size-36 0;
  }
}

.SyncStatus__yellow {
  > div:nth-of-type(2) {
    > span svg {
      animation: spin 3s infinite linear;
      height: 12px;
      width: 14px;
    }
  }

  > div:nth-of-type(4) {
    color: @color-in-reporting;
    margin: @size-4 @size-36 0;
  }
}

.SyncStatus__red {
  > div:nth-of-type(2) {
    align-items: center;
    display: flex;

    > span svg {
      height: 12px;
      width: 12px;

      > circle {
        opacity: 0.5;
        stroke: @color-outcome-four;
      }

      > rect {
        fill: @color-outcome-four;
      }

      > path {
        fill: @color-outcome-four;
      }
    }

    > span:nth-of-type(2) {
      .text-10;

      margin: 0 0 0 @size-4;
    }
  }

  > div:nth-of-type(4) {
    color: @color-resolved;
    margin: @size-4 @size-36 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
