.trade-panel {
    color: @color-light-normal;
    background: @color-dark-hover;

    .trade-builder { // table
        width: 100%;

        border-collapse: separate;
        border-spacing: 0 0.6rem;

        .trade-panel-header, .trade-panel-row {
            white-space: nowrap;
        }

        .header-row{
            th, td {
                font-size: 0.8em;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }
        }

        .trade-panel-header { // thead
            th {
                border-bottom: solid 1px @color-dark-active;
            }

            .num-shares, .limit-price {
                background: @color-dark-hover;
            }

            .top-bid {
                text-align: right;
                padding-right: 4rem;
            }

            .top-ask {
                text-align: left;
                padding-left: 4rem;
            }
        }

        .trade-panel-body { // tbody
            .trade-panel-row {
                th, td {
                    text-align: center;
                }

                &.clickable-row {
                    cursor: pointer;
                }

                .outcome-name {
                    text-align: left;
                    text-transform: uppercase;
                    min-width: 12rem;
                }

                .fee-to-pay {
                    text-align: right;
                }

                .total-cost {
                    text-align: right;

                    font-weight: 700;
                    .colorize();

                    .value {
                        font-weight: 900;
                    }
                }

                .num-shares, .limit-price {
                    .box { // input element
                        padding: 0.3em 0;
                        background: fade(@color-dark-active, 30%);
                        border-top: 0; border-left: 0; border-right: 0;
                        font-weight: 700;
                        text-align: center;
                        color: @color-warning-normal;
                    }
                }

                .bid, .ask {
                    .shares-at {
                        margin: 0 0.6rem;
                    }
                }

                .bid {
                    text-align: right;
                    padding-right: 1rem;
                }

                .ask {
                    text-align: left;
                    padding-left: 1rem;
                }
            }
        }
    }

    .transaction-summary {

    }

    //.trade-orders {
    //    padding-top: 0; padding-bottom: 0;
    //    line-height: 1.5em;
    //    white-space: nowrap;
    //
    //    h5 {
    //        display: block;
    //        margin-bottom: 1.4em;
    //        padding: 0;
    //        border-bottom: 1px solid fade(@color-dark-active, 50%);
    //        font-size: 1rem;
    //        font-weight: 400;
    //        text-transform: uppercase;
    //    }
    //
    //    .order {
    //        display: flex;
    //
    //        &.total {
    //            padding: 0.8em 0 0 0;
    //            .value-changes {
    //                .value-change {
    //                    padding: 0.9em 0;
    //                    border-top: 1px solid fade(@color-dark-active, 50%);
    //                    font-size: 1.15em;
    //                }
    //            }
    //        }
    //
    //        .description {
    //            display: inline-block;
    //            width: 50%;
    //            margin: auto;
    //            line-height: 1.5em;
    //            text-align: left;
    //            font-weight: 400;
    //
    //            > * {
    //                display: inline-block;
    //                margin-right: 0.7em;
    //            }
    //
    //            .action, .shares, .avg-price {
    //                font-weight: 700;
    //            }
    //
    //            .outcome-name {
    //                text-transform: uppercase;
    //            }
    //
    //            .market-description {
    //                display: none;
    //            }
    //        }
    //        .value-changes {
    //            display: inline-block;
    //            width: 50%;
    //            margin-right: 1.5em;
    //            text-align: right;
    //
    //            .value-change {
    //                display: inline-block;
    //                width: 33%;
    //                font-weight: 700;
    //                white-space: nowrap;
    //            }
    //        }
    //    }
    //}
    //
    //.place-trade-container {
    //    text-align: right;
    //    padding: 0.7em 6em 2em 0;
    //
    //    .button.place-trade {
    //        font-size: 0.9em;
    //    }
    //}
}