.trade-panel {
    color: @color-light-normal;
    background: @color-dark-hover;

    .place-trade-container {
        text-align: right;
        padding: 1rem;

        .button.place-trade {
            font-size: 0.9em;
        }
    }

    .trade-builder { // table
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 0.6rem;

        .shares-at {
            margin: 0 0.6rem;
        }

        .trade-panel-header, .trade-panel-row {
            white-space: nowrap;
        }

        .header-row{
            th {
                font-size: 0.8em;
                font-weight: 700;
                text-transform: uppercase;
                border-bottom: solid 1px @color-dark-active;
            }
        }

        th, td {
            padding: 0 0.5em;
        }

        .outcome-name {
            text-align: left;
        }

        .last-price {
            text-align: right;
        }

        .buy-sell-button {
            width: 3em;
        }

        .num-shares {
            max-width: 4em;
            text-align: center;
            background: @color-dark-hover;
        }

        .limit-price {
            max-width: 4em;
            text-align: center;
            background: @color-dark-hover;
        }

        .bid {
            text-align: center;
        }

        .ask {
            text-align: center;
        }

        .fee-to-pay {
            text-align: right;
        }

        .total-cost {
            text-align: right;
        }

        .trade-panel-body, .transaction-summary {
            .trade-panel-row, .summary-totals {
                .outcome-name {
                    text-transform: uppercase;
                }

                .total-cost {
                    font-weight: 700;
                    .colorize();

                    .value {
                        font-weight: 900;
                    }
                }

                .buy-toggle, .sell-toggle {
                    padding: 0.3em 0.8em;
                }
            	.buy-toggle {
            		background: @color-success-hover;
            	}
        		.sell-toggle {
        			background: @color-danger-dark;
        		}
            }
        }

        .trade-panel-body { // tbody
            .trade-panel-row {
                input.box {
                    display: block;
                    padding: 0.3em 0;
                    background: fade(@color-dark-active, 30%);
                    border-top: 0; border-left: 0; border-right: 0;
                    font-weight: 700;
                    text-align: center;
                    color: @color-warning-normal;
                }

                .order-book-data {
                    display: flex;
                    .shares {
                        flex: 1.6;
                        text-align: right;
                    }
                    .price {
                        flex: 2;
                        text-align: left;
                    }
                }
            }
        }
    }

    .transaction-summary {
        .summary-title td {
            font-size: 1.2rem;
            padding: 0.8rem 0;
            border-top: 2px dotted @color-dark-active;
            border-bottom: 2px dotted @color-dark-active;
        }

        .summary-headers td {
            padding: 0 0 0.6rem;
            border-bottom: 1px solid @color-dark-active;
        }

        .transaction-type {
            padding-right: 0.6rem;
        }

        .summary-totals td {
            padding: 0.8rem 0;
            border-top: 2px solid @color-dark-active;
        }

        .individual-transaction-summary, .total-transaction-summary {
            display: flex;

            .transaction-shares, .transaction-price {
                text-align: right;
            }

            .transaction-type {
                flex: 0.5;
            }

            .shares-at {
                flex: 0.25;
                text-align: center;
            }

            .transaction-shares {
                flex: 1
            }

            .transaction-price {
                flex: 1;
            }
        }
    }
}