.trade-builder {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.6rem;

    th {
        border-bottom: solid 1px @color-dark-active;
    }

    td {
        vertical-align: top;
        padding: 0.2em 0.3em 0 0.3em;
    }

    .outcome-name {
        text-align: left;
    }

    .last-price {
        text-align: right;
    }

    .buy-sell-toggler {
        width: 3em;
        padding-top: 0; padding-bottom: 0;

        .toggler {
            padding: 0.2em 0.6em;
            text-align: center;

        	&.buy {
        		border: 2px solid @color-success-hover;
        		border-rdius: 1px;
        	}
    		&.sell {
        		border: 2px solid  @color-danger-dark;
        		border-rdius: 1px;
    		}
        }
    }

    .num-shares {
        max-width: 4em;
        padding: 0 0.5em;
        text-align: center;
    }

    .limit-price {
        max-width: 4em;
        padding-top: 0; padding-bottom: 0;
        text-align: center;
    }

    .bid {
        width: 12em;
        text-align: center;
    }

    .ask {
        width: 12em;
        text-align: center;
    }

    .fee-to-pay {
        width: 6em;
        text-align: right;
    }

    .total-cost {
        width: 7.55em;
        text-align: right;
    }


    .trade-builder-bid-ask {
        display: flex;
        white-space: nowrap;
        &.is-of-current-user {
            .price .value {
                text-decoration: underline;
            }
        }
        .shares {
            flex: 1.6;
            text-align: right;
        }
        .price {
            flex: 2;
            text-align: left;
        }
        .shares-at {
            margin: 0 0.6rem;
        }
    }

    .trade-builder-body {
        .outcome-name {
            text-transform: uppercase;
        }

        .total-cost {
            font-weight: 700;
            .colorize();

            .value {
                font-weight: 900;
            }
        }
				input[type="number"] {
				    -moz-appearance: textfield;
				}
				input[type=number]::-webkit-inner-spin-button,
				input[type=number]::-webkit-outer-spin-button {
				  -webkit-appearance: none;
					appearance: none;
				  margin: 0;
				}
        input.box {
            display: block;
            padding: 0.3em 0;
            background: fade(@color-dark-active, 30%);
            border-top: 0; border-left: 0; border-right: 0;
            font-weight: 700;
            text-align: center;
            color: @color-warning-normal;
        }
    }
}
