@import (reference) '~assets/styles/shared';

.AccountDeposit {
  background: white;
  padding: 5.625rem 0 3rem 4.375rem;
  width: 100%;
}

.AccountDeposit__heading {
  margin-bottom: 40px;
  width: 100%;

  h1 {
    color: @color-darkpurple;
    font-size: 1.875rem;
    font-weight: 500;
    letter-spacing: 0.14rem;
    margin-right: 1rem;
    text-transform: uppercase;
  }

  > * {
    display: inline-block;
  }
}

.AccountDeposit__main {
  display: flex;
  width: 100%;
}

.AccountDeposit__description {
  border-right: 1px solid @color-lightergray;
  flex: 0 0 auto;
  width: 26.25rem;

  p {
    font-size: 1.125rem;
    margin: 0 0 1.5rem;
  }

  a {
    color: @color-purple;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.AccountDeposit__qrZone {
  border-right: 1px solid @color-lightergray;
  display: flex;
  justify-content: center;
}

.AccountDeposit__qrZone,
.AccountDeposit__address {
  flex: 1 1 auto;
}

.AccountDeposit__address {
  margin-left: 2.56rem;

  > * {
    display: inline-block;
  }
}

.AccountDeposit__copyButtonElement {
  text-align: left;
}

.AccountDeposit__addressLabel {
  color: @color-lightgray;
  display: block;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  width: 100%;
}

.AccountDeposit__addressString {
  font-size: 0.75rem;
  margin-right: 0.5rem;
  vertical-align: text-top;
}

@media @breakpoint-mobile {
  .AccountDeposit {
    padding: 3.125rem 0 0;
  }

  .AccountDeposit__heading {
    font-size: 1.5rem;
    letter-spacing: 0.11rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;

    h1 {
      margin-right: 0.5rem;
    }
  }

  .AccountDeposit__main {
    display: block;
  }

  .AccountDeposit__description {
    border: none;
    margin-bottom: 2rem;
    padding: 0 1rem;

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    a {
      font-size: 1.125rem;
    }
  }

  .AccountDeposit__qrZone {
    border: none;
    margin-bottom: 2rem;
  }

  .AccountDeposit__address {
    margin: 0;
    padding: 0 1rem;
  }

  .AccountDeposit__addressString {
    font-size: 1rem;
  }
}
