@import '~assets/styles/shared'; // NOTE -- this is the ONLY location this file should be brought in w/out the `(reference)` directive

body,
html,
* {
  box-sizing: border-box;
}

body {
  background: var(--color-page-background);

  // See Issue #3504
  top: 0 !important;
  position: initial !important;

  @media @breakpoint-mobile-tablet {
    --is-mobile: true;
  }

  @media @breakpoint-mobile-tablet {
    overflow-y: auto;
  }

  @media @breakpoint-mobile-small {
    --is-mobile-small: true;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @Inter;
}

#root {
  height: 100%;
}

.AppBlur {
  filter: blur(@size-2);
}

.Main {
  display: grid;

  /* topbar height */
  grid-template-rows: @top-bar-height auto;
  height: 100vh;
  overflow: hidden;

  @media @breakpoint-mobile-tablet {
    /* topbar mobile height */
    grid-template-rows: @top-bar-height-mobile auto;
    display: block;
    padding-top: @top-bar-height-mobile;
    overflow-y: auto;
    height: max-content;
  }

  &.TradingTutorial {
    grid-template-rows: @tutorial-banner-height @top-bar-height auto;
  }
}

.TutorialBanner {
  z-index: @mask-illuminate;
  background: var(--color-secondary-action);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: @size-1 solid var(--color-secondary-action-outline);

  > span {
    .text-12-bold;

    color: var(--color-primary-text);
    flex: 1;
    text-align: center;
  }

  > button {
    > svg {
      width: @size-10;
      height: @size-10;
      margin-right: @size-16;

      > path {
        stroke: var(--color-primary-text);
      }
    }
  }
}

.TopBarOverlay {
  position: fixed;
  top: @tutorial-banner-height;
  left: 0;
  width: 100%;
  height: calc(@top-bar-height + @top-nav-height);
  background-color: transparent;
  z-index: @mask-modal;
}

.Wrap {
  display: grid;
  overflow: hidden;

  @media @breakpoint-mobile-tablet {
    grid-template-columns: none;
    grid-template-rows: 0 auto;
    margin-left: 0;
    display: block;
    height: fit-content;
    overflow-y: auto;

    &.StatusErrorShowing {
      > section {
        padding-top: @size-42;
      }
    }

    &.StatusErrorShowingMarket {
      top: @top-bar-height-mobile;

      > section {
        > div:last-of-type {
          > div {
            > div:first-of-type {
              top: calc(~"@{top-bar-height-mobile} + 42px");
            }
          }
        }
      }
    }
  }
}

.WrapMarkets {
  grid-template-columns: minmax(auto, @size-250) auto;

  @media @breakpoint-mobile-tablet {
    grid-template-columns: none;
    grid-template-rows: 0 auto;
    margin-left: 0;

    &.TopBarOpen {
      background: var(--color-dark-grey);
    }
  }
}

.Content {
  height: calc(~"100vh - @{multi-top-bar-height}");
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;

  @media @breakpoint-mobile-tablet {
    height: fit-content;
    width: 100vw;
    padding-bottom: @size-6;

    &.SideNavOpen {
      opacity: 0.1;

      > section {
        pointer-events: none;
      }
    }
  }

  > .BettingUI {
    display: none;

    path {
      &:nth-child(odd) {
        fill: var(--color-secondary-text);
        stroke: none;
      }

      &:nth-child(even) {
        stroke: var(--color-secondary-text);
      }
    }

    @media @breakpoint-mobile-tablet {
      display: flex;
      justify-content: center;
      margin-top: @size-10;
      width: 100%;
    }
  }

  &.Tutorial {
    height: calc(~"100vh - @{multi-top-bar-height} - @{tutorial-banner-height}");
  }

  &.ModalShowing {
    @media @breakpoint-mobile-tablet {
      overflow-y: hidden;
    }
  }
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .Content {
    display: flex;
    justify-content: space-between;

    @media @breakpoint-mobile {
      > div:nth-of-type(2) {
        width: 100%;
        background: var(--color-page-background);

        > h1 {
          .text-24-bold;

          color: var(--color-primary-text);
          margin: @size-40 @size-12 @size-20;
        }
      }
    }

    @media @breakpoint-mobile-tablet {
      display: block;
      background: var(--color-page-background);
    }
  }

  .HideBetslip > div:last-of-type {
    display: none;
  }
}

.SideBar {
  background: var(--color-module-background);

  @media @breakpoint-mobile-tablet {
    padding-top: 0;
  }

  > div:first-of-type {
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: @mask-toast;
  }

  @media @breakpoint-mobile {
    padding-top: 0;
  }
}


.MobileBars {
  top: 0;
  left: 0;
  border-bottom: @size-1 solid var(--color-module-background);
  display: none;
  outline: none;
  padding: @size-16;
  position: fixed;
  width: @size-50;
  z-index: @mask-modal;

  &.Closed {
    height: @top-bar-height-mobile;
  }

  svg {
    height: 100%;
    width: 100%;

    g > path {
      stroke: var(--color-brand-secondary);
    }
  }

  @media @breakpoint-mobile-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: none;

    > svg > g {
      stroke-width: 1.5;
    }
  }
}

.TopBar {
  z-index: @mask-above;
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .TopBar {
    @media @breakpoint-mobile {
      height: @size-64;
    }
  }
}

.FloatAbove {
  z-index: @mask-above;

  @media @breakpoint-mobile-tablet {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: @mask-modal;

    &.SideNavOpen {
      background: var(--color-dark-grey);
      opacity: 0.9;
      > header {
        > div:last-of-type {
          opacity: 0.1;
        }
      }
    }
  }
}

.Betslip {
  padding: @size-32;
}