@import (reference) '~assets/styles/shared';

.HelpResources {
  color: @color-primary-text;
  position: relative;
  display: flex;
  flex: 1;
  max-width: 57px;
  z-index: @above-all-content-above;

  @media @breakpoint-mobile {
    display: none;
  }

  > span {
    padding: @size-18;
    display: flex;
    cursor: pointer;
    border: 1px solid @color-dark-grey;
    border-bottom: 0;

    > svg {
      width: @size-20;
      height: @size-20;

      > circle {
        stroke: @color-primary-text;
        fill: none;
      }

      > path {
        fill: @color-primary-text;
      }
    }

    &:hover {
      border: 1px solid @color-module-background;
      border-bottom: 0;
      background: @color-module-background;
    }


    @media @breakpoint-mobile {
      border: none;

      &:hover {
        border: none;
        background: @color-page-background;
      }
    }
  }

  > div {
    position: absolute;
    top: 0;
    background: @color-module-background;
    border: 1px solid @color-secondary-action-outline;
    border-radius: @border-radius-default;
    width: 210px;
    top: 100%;
    right: -1px;
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    flex-direction: column;

    > span:first-of-type {
      .mono-11-bold;

      text-transform: uppercase;
      padding: @size-22 @size-16;
      color: @color-primary-text;
      background: @color-module-background;
    }

    > span:not(:first-of-type) {
      padding: @size-13 @size-16;
      background: @color-table-header;
      border-top: 1px solid @color-dark-grey;

      &.hideOnTablet {
        @media @breakpoint-smallish-desktop {
          display: none;
        }
      }
    }

    > span:last-of-type {
      border-bottom-left-radius: @border-radius-default;
      border-bottom-right-radius: @border-radius-default;
    }

    @media @breakpoint-mobile {
      bottom: unset;
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      position: absolute;
      right: 0px;
      top: 65px;

      > span:not(:first-of-type) {
        border-bottom: 1px solid @color-dark-grey;
      }

      > span:last-of-type {
        border-top-left-radius: @border-radius-default;
        border-top-right-radius: @border-radius-default;
      }
    }
  }

  &.Open {
    > span {
      border: 1px solid @color-secondary-action-outline;
      border-bottom: 0;
      background: @color-module-background;
      z-index: @above-all-content;

      @media @breakpoint-mobile {
        border: 1px solid @color-secondary-action-outline;
        border-top: 0;
      }
    }
  }
}
