@import (reference) '~assets/styles/shared';

.OddsMenu {
  display: none;
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .OddsMenu {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    width: @size-56;
    order: 2;
    height: 100%;

    @media @breakpoint-mobile-tablet {
      height: @top-bar-height-mobile;
      order: 0;
    }

    > button {
      background: var(--color-primary-text);
      flex: 1;
      width: 100%;
      border-top: @size-3 solid transparent;
      z-index: 11;
      border-right: @size-1 solid var(--color-secondary-text-50);

      @media @breakpoint-mobile-tablet {
        border-right: 0;
        border-left: @size-1 solid var(--color-secondary-text-50);
        padding: 0 @size-8;
      }

      &:hover {
        background: var(--color-secondary-text-25);
        border-top: @size-3 solid var(--color-primary-action);
      }

      > svg {
        height: @size-20;
        width: @size-20;

        > path {
          fill: var(--color-module-background);
        }
      }
    }

    > div {
      display: none;
    }

    &.Open {
      > button {
        background: var(--color-table-header);
        border-top: @size-3 solid var(--color-primary-action);
        border-right: none;

        > svg > path {
          fill: var(--color-primary-text);
        }
      }

      > div {
        display: flex;
        position: absolute;
        top: @top-bar-height;
        right: 234px;
        
        @media @breakpoint-mobile-tablet {
          top: @top-bar-height-mobile;
        }
      }
    }
  }
}

.OptionsMenu {
  display: flex;
  flex-direction: column;
  box-shadow: @size-2 @size-2 @size-5 var(--color-secondary-text-50);
  border-radius: 0 0 @border-radius-default @border-radius-default;

  > div {
    display: flex;
    justify-content: flex-end;
    padding: @size-14 @size-16;
    border-top: @size-1 solid var(--color-dark-grey);

    > button:first-of-type {
      margin-right: @size-8;
    }
  }
}

.OddsOptions {
  background: var(--color-module-background);
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;
  width: @size-240;

  &:last-of-type {
    border-top: @size-1 solid var(--color-dark-grey);
  }

  > li {
    .text-14;

    height: @size-44;
    color: var(--color-secondary-text);
    display: flex;
    align-items: center;
    padding: 0 @size-16;

    &.Selected {
      color: var(--color-primary-text);

      > button > svg {
        display: block;
      }
    }

    > button {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      flex: 1;
      height: 100%;
      justify-content: space-between;
      border-bottom: @size-1 solid var(--color-dark-grey);

      > svg {
        display: none;
        height: @size-9;
        width: @size-11;

        > path {
          stroke: var(--color-primary-text);
        }
      }
    }

    &:first-of-type {
      background: var(--color-table-header);
      border-bottom: @size-1 solid var(--color-dark-grey);
      padding: 0 @size-12;

      > h4 {
        .text-12-semi-bold;

        color: var(--color-primary-text);
        text-transform: uppercase;
      }
    }

    &:last-of-type {
      border-radius: 0 0 @border-radius-default @border-radius-default;

      > button {
        border-bottom: @size-1 solid transparent;
      }
    }
  }
}
