@import (reference) '~assets/styles/shared';

.TermsAndConditions {
  .text-12;

  margin-right: @size-110;

  > a {
    padding: 0 @size-16;
    text-decoration: underline;
  }

  > a:last-of-type {
    border-left: 1px solid @color-secondary-text;
  }
}
