@import (reference) '~assets/styles/shared';

.TermsAndConditions {
  .text-12;

  align-items: center;
  border-top: 1px solid @color-dark-grey;
  color: @color-secondary-text;
  display: flex;
  flex-flow: row nowrap;
  height: @size-40;
  justify-content: flex-end;
  // padding-right needs to be more than the size of global chat button
  padding: 0 105px 0 @size-40;

  > a {
    padding: 0 @size-16;
    text-decoration: underline;
  }

  > a:last-of-type {
    border-left: 1px solid @color-secondary-text;
  }
}
