@import (reference) '~assets/styles/shared';

.TopBar {
  align-items: center;
  background: var(--color-dark-grey);
  display: flex;
  font-size: @size-14;
  height: 100%;
  justify-content: flex-end;

  @media @breakpoint-mobile-tablet {
    height: @top-bar-height-mobile;
    > ul[class*='ThemeSwitch'] {
      display: none;
    }
  }

  // LOGIN/SIGNUP ACCOUNT / ALERTS
  > div:last-of-type {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    height: 100%;

    @media @breakpoint-mobile-tablet {
      padding: 0;
      max-width: 40%;
    }

    > div > button > svg,
    > button > svg {
      width: @size-34;
      height: @size-24;
    }

    > button[class*='SecondaryButton'] {
      margin-left: @size-24;
      margin-right: @size-12;
    }

    > button[class*='PrimaryButton'] {
      margin-right: @size-24;
    }
  }
}

.AccountActivation > button {
  .text-11-bold;
  max-height: 100%;

  @media all and (max-width: @step-4) {
    .text-10-bold;

    padding: @size-4 @size-8;
    width: @size-120;
    white-space: break-spaces;
  }
}

.Logo {
  border-right: @size-1 solid var(--color-module-background);
  padding: 0 @size-20 0 @size-16;
  display: flex;
  align-items: center;
  height: 100%;

  div {
    width: @size-24;
  }

  @media @breakpoint-mobile-tablet {
    display: none;
  }
}

.statsContainer {
  align-items: center;
  display: flex;
  height: 100%;

  @media @breakpoint-mobile-tablet {
    display: none;
  }

  > div:first-of-type {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: min-content;
    padding: @size-6 @size-20;

    > span:first-of-type {
      display: flex;
      justify-content: center;
      align-items: center;

      span label {
        margin-top: -@size-10;
        transform: translateY(@size-10);
      }

      span div {
        margin-top: @size-10;
      }
    }

    > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;

      > span {
        .mono-10-medium;

        color: var(--color-secondary-text);
      }

      > svg {
        display: none;
      }

      > span:first-of-type {
        margin-right: @size-30;
      }

      > span:nth-of-type(2),
      > span:last-of-type {
        .mono-11-medium;

        color: var(--color-primary-text);
      }
    }

    > div:last-of-type {
      display: none;
    }
  }

  // P/L
  > div:last-of-type {
    align-items: flex-start;
    border: @size-1 solid var(--color-dark-grey);
    border-bottom: 0;
    border-top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 @size-20;

    > span {
      .mono-10-medium;

      color: var(--color-secondary-text);
      margin-bottom: @size-2;
      text-transform: uppercase;
      white-space: nowrap;
    }

    > div {
      justify-content: flex-start;

      > div {
        .mono-11-medium;
      }
    }

    @media @breakpoint-mobile-tablet {
      align-items: normal;
      flex-direction: row;
      justify-content: center;
      padding: 0 @size-20;
      flex: 1;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.AlertsDiv {
  position: relative;
  display: flex;
  height: 100%;
}

.alerts {
  align-items: center;
  color: var(--color-primary-text);
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  width: @size-56;
  border-right: @size-1 solid var(--color-module-background);

  > svg {
    margin-left: @size-8;

    path {
      fill: var(--color-brand-secondary);
    }

    > rect {
      fill: var(--color-error);
      stroke: var(--color-brand-secondary-flip);
    }

    > text {
      .text-9-bold;

      fill: var(--color-brand-secondary);
      font-size: @size-8; // special case.
    }
  }

  &.Empty {
    > svg {
      margin-left: @size-16;
    }
  }

  @media @breakpoint-mobile-tablet {
    border-left: @size-1 solid var(--color-module-background);
  }

  &:hover {
    background-color: var(--color-module-background);
  }

  &:focus {
    outline: none;
  }
}

.alertsDisabled {
  cursor: default;

  &:hover {
    background-color: var(--color-module-background);
  }

  @media @breakpoint-mobile-tablet {
    display: none;
  }
}

.alertsDark {
  background-color: var(--color-module-background);
}

.ActiveBets {
  display: none;
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .TopBar {
    background: var(--color-primary-text);

    > div:last-of-type {
      @media @breakpoint-mobile-tablet {
        padding: 0;
        max-width: none;
      }

      > button[class*='SecondaryButton'][title*='Connect'] {
        border: @size-1 solid var(--color-secondary-action);
        color: var(--color-secondary-action);
        background: transparent;
        order: 2;

        &:hover {
          border: @size-1 solid var(--color-secondary-action);
          background: var(--color-secondary-action);
          color: var(--color-primary-text);
        }

        @media @breakpoint-mobile-tablet {
          .text-10-semi-bold;

          text-transform: uppercase;
          padding: 0 @size-8;
          max-height: @size-30;
          height: @size-30;
        }
      }

      > button[class*='PrimaryButton'][title*='Sign up'] {
        color: var(--color-module-background);
        order: 2;

        &:hover {
          border: @size-1 solid var(--color-secondary-action);
          background: var(--color-secondary-action);
          color: var(--color-primary-text);
        }

        @media @breakpoint-mobile-tablet {
          .text-10-semi-bold;

          text-transform: uppercase;
          padding: 0 @size-8;
          max-height: @size-30;
          height: @size-30;
        }
      }

      > button:not([title*='Sign up']):not([title*='Connect']) {
        order: 2;

        &[class*='Confirmed'] {
          > svg {
            width: @size-10;
            height: @size-10;
            margin-right: @size-8;

            > path {
              stroke: var(--color-module-background);
            }
          }
        }

        @media @breakpoint-mobile-tablet {
          display: none;
        }
      }
    }

    @media @breakpoint-mobile-tablet {
      height: @top-bar-height-mobile;
      max-height: @top-bar-height-mobile;

      > div:last-of-type {
        > button[class*='SecondaryButton'][title*='Connect'],
        > button[class*='PrimaryButton'][title*='Signup'] {
          .text-10-semi-bold;

          text-transform: uppercase;
        }
      }
    }
  }

  .Logo {
    border-right: @size-1 solid var(--color-secondary-text-50);
  }

  .statsContainer {
    display: none;
  }

  .AlertsDiv {
    order: 3;
  }

  .ActiveBets {
    .AlertsDiv;

    order: 2;
    display: none;
    height: 100%;
    width: @size-56;

    @media @breakpoint-mobile-tablet {
      display: flex;

      &.Empty {
        > button > svg > g {
          transform: none;
        }
      }

      > button {
        .alerts;

        border-right: 0;
        border-left: @size-1 solid var(--color-secondary-text-50);
        flex: 1;

        > svg {
          margin-left: 0;

          > g {
            transform: translate(-@size-10, 0);

            > path {
              stroke: var(--color-module-background);
            }
          }

          > text > tspan {
            fill: var(--color-module-background);
          }
        }
      }
    }
  }

  .alerts {
    border-top: @size-3 solid transparent;
    border-right: @size-1 solid var(--color-secondary-text-50);
    border-left-color: var(--color-secondary-text-50);

    > svg {
      margin-left: @size-8;

      > path {
        fill: var(--color-module-background);
      }

      > rect {
        fill: var(--color-resolved);
        stroke: var(--color-primary-text);
      }
    }

    &.Empty {
      > svg {
        margin-left: @size-16;
      }
    }

    &:hover {
      border-top: @size-3 solid var(--color-primary-action);
      background: var(--color-secondary-text-25);
    }
  }

  .alertsDark,
  .alertsDark:hover {
    border-top: @size-3 solid var(--color-primary-action);
    background: var(--color-page-background);

    > svg {
      > path {
        fill: var(--color-primary-text);
      }

      > rect {
        stroke: var(--color-page-background);
      }
    }
  }

  .alertsDark {
    border-right: @size-1 solid var(--color-page-background);
    border-left: @size-1 solid var(--color-page-background);
  }

  .AccountActivation {
    display: none;
  }
}
