@import (reference) '~assets/styles/shared';

// Used in Betting UI
.TopBar {
  align-items: center;
  background: @color-dark-grey;
  display: flex;
  font-size: @size-14;
  height: 100%;
  justify-content: flex-end;

  // LOGIN/SIGNUP ACCOUNT / ALERTS
  > div:last-of-type {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    height: 100%;

    @media @breakpoint-mobile {
      padding: 0;
      max-width: 40%;
    }

    > button[class*="SecondaryButton"] {
      margin: 0 @size-16;
    }

    > button[class*="PrimaryButton"] {
      margin-right: @size-16;
      margin-left: @size-16;
    }
  }

  @media @breakpoint-mobile {
    > div[class*='statsContainer'] {
      display: none;
    }
  }
}

.AccountActivation > button {
  .text-11-bold;
  max-height: 100%;

  @media all and (max-width: @step-4) {
    .text-10-bold;

    padding: @size-4 @size-8;
    width: @size-120;
    white-space: break-spaces;
  }
}

.Logo {
  border-right: 1px solid @color-module-background;
  padding: 0 @size-20 0 @size-16;

  div {
    width: @size-24;
  }

  @media @breakpoint-tablet {
    padding: 0 @size-16;

    span {
      display: none;
    }
  }

  @media @breakpoint-mobile {
    display: none;

    div {
      width: @size-40;
    }
  }
}

.statsContainer {
  align-items: center;
  display: flex;
  height: 100%;

  > div:first-of-type {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: min-content;
    padding: @size-6 @size-20;

    @media @breakpoint-mobile {
      padding: 0;
    }

    > span:first-of-type {
      display: flex;
      justify-content: center;
      align-items: center;

      span label {
        margin-top: -10px;
        transform: translateY(10px);
      }

      span div {
        margin-top: 10px;

        @media @breakpoint-mobile {
          margin-top: 0;
        }
      }
    }

    > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;

      > span {
        .mono-10-medium;

        color: @color-secondary-text;
      }

      > svg {
        display: none;
      }

      > span:first-of-type {
        margin-right: @size-30;

        @media @breakpoint-mobile {
          margin-right: @size-23;
        }
      }

      > span:nth-of-type(2),
      > span:last-of-type {
        .mono-11-medium;

        color: @color-primary-text;
      }
    }

    > div:last-of-type {
      display: none;

      @media @breakpoint-mobile {
        display: flex;
      }
    }
  }

  // P/I
  > div:last-of-type {
    align-items: flex-start;
    border: @size-1 solid @color-dark-grey;
    border-bottom: 0;
    border-top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 @size-20;

    > span {
      .mono-10-medium;

      color: @color-secondary-text;
      margin-bottom: 2px;
      text-transform: uppercase;
      white-space: nowrap;
    }

    > div {
      justify-content: flex-start;

      > div {
        .mono-11-medium;
      }
    }

    @media @breakpoint-mobile {
      display: none;
    }
  }

  @media @breakpoint-tablet {
    > div:first-of-type {
      padding: @size-6 @size-10;
    }

    > div:last-of-type {
      padding: 0 @size-10;
    }
  }
}

.alerts {
  color: @color-primary-text;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding: @size-16 @size-16 @size-16 @size-24;
  width: unset;

  > svg {
    width: @size-34;
  }

  @media @breakpoint-tablet {
    padding: @size-16 @size-6 @size-16 @size-14;
  }

  @media @breakpoint-mobile {
    border-left: 1px solid @color-module-background;
    padding: @size-12 @size-10 @size-12 @size-18;
  }

  &:hover {
    background-color: @color-module-background;
  }

  &:focus {
    outline: none;
  }
}

.alertsDisabled {
  cursor: default;

  &:hover {
    background-color: @color-module-background;
  }

  @media @breakpoint-mobile {
    display: none;
  }
}

.alertsDark {
  background-color: @color-module-background;
}
