@import (reference) '~assets/styles/shared';

.FilledOrdersTable {
  background-color: @color-active-hover;
  cursor: default;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.FilledOrdersTable__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > span {
    color: @color-white;
    font-size: @size-11;
    font-weight: 500;
    padding: 0.875rem 1.5rem;

    > a > span {
      color: @color-neutral;
      font-weight: 400;
    }
  }
}

.FilledOrdersTable__header {
  .mono-10;

  color: @color-shadow-text;
  display: grid;
  grid-template-columns: 1fr 165px 125px;
  justify-content: flex-end;
  padding: 0.375rem 1.5rem;
  text-transform: uppercase;

  > li {
    max-width: unset !important;
    text-align: right;

    &:first-child {
      text-align: right;
    }

    &:last-of-type {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      max-width: 16.25rem;
    }
  }
}

.FilledOrdersTable__trade {
  border-top: 0.0625rem solid fade(@color-primary-background, 50%);
  display: grid;
  grid-template-columns: 1fr 165px 125px;
  justify-content: flex-end;
  margin: 0 1.5rem;

  > li {
    .mono-11;

    align-items: center;
    color: @color-tertiary-text;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 0;
    text-align: right;

    > span > label {
      .mono-11;
    }

    &:last-of-type {
      padding-right: 0.5rem;
    }

    &:nth-of-type(2) {
      font-family: @roboto-mono;
      text-align: right;
    }
  }
}

.FilledOrdersTable__innerMobile {
  display: none;
}

@media @breakpoint-mobile-mid {
  .FilledOrdersTable__inner {
    display: none;
  }

  .FilledOrdersTable__innerMobile {
    display: flex;
    flex-direction: column;
    padding: 0 @size-16;

    > div {
      border-top: 1px solid @color-primary-background;
      padding-bottom: @size-10;
      padding-top: @size-10;
    }

    > span {
      color: @color-white;
      font-size: @size-11;
      font-weight: 500;
      padding: @size-14 0;

      > a > span {
        color: @color-neutral;
        font-weight: 400;
      }
    }
  }
}
