@import (reference) "~assets/styles/shared";

.MarketOutcomeChartsHeader__chart__interaction {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0.875rem;
  padding: 0 0.5rem;

  @media @breakpoint-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0.875rem;
  }
}

.MarketOutcomeChartsHeader__label_hover {
  > div {
    background-color: @color-highlight;
  }
}

.MarketOutcomeChartsHeader__label_container {
  @media @breakpoint-mobile {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}

.MarketOutcomeChartsHeader__selector__mobile {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;

  @media @breakpoint-mobile {
    justify-content: space-between;
  }
}

span.MarketOutcomeChartsHeader__stat {
  margin-right: 16px;
  min-width: 55px;

  @media @breakpoint-mobile {
    min-width: unset;
  }
}

.MarketOutcomeChartsHeader__stat-value,
.MarketOutcomeChartsHeader__stat-title {
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.MarketOutcomeChartsHeader__stat-value {
  margin-left: 3px;
}

div.MarketOutcomeChartsHeader__stats {
  justify-content: center;

  @media @breakpoint-mobile {
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
  }
}

.MarketOutcomeCandlestick {
  background: @color-light-purple;
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  min-height: @charts-min-height;
  padding-left: 0.5rem;
  position: relative;

  @media @breakpoint-mobile {
    padding: 0;
  }
}

.MarketOutcomeCandlestick__container {
  cursor: cell;
  display: flex;
  flex: 1;

  & > div {
    display: flex;
    flex-grow: 1;
  }
}
