@import (reference) "~assets/styles/shared";

.MarketOutcomeCandlestick {
  background: @color-light-purple;
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  min-height: @charts-min-height;
  padding: 0.5rem;
  position: relative;

  @media @breakpoint-mobile {
    padding-bottom: 0;
  }
}

.MarketOutcomeChartsHeader__chart__interaction {
  display: flex;
  flex-direction: column;

  > div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.MarketOutcomeCandlestick__container {
  cursor: cell;
  display: flex;
  flex: 1;

  & > div {
    display: flex;
    flex-grow: 1;
  }
}

.MarketOutcomeChartsHeader__selector__mobile {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;

  @media @breakpoint-mobile {
    justify-content: space-between;
  }
}

span.MarketOutcomeChartsHeader__stat {
  margin-right: 16px;
  min-width: 55px;

  @media @breakpoint-mobile {
    min-width: unset;
  }
}

.MarketOutcomeChartsHeader__stats {
  .mono-10;

  display: flex;
  min-height: 2rem;
  padding-top: 1rem;
  width: 100%;

  > span {
    color: @color-secondary-text;

    > span:first-of-type {
      color: @color-shadow-text;
      padding-right: 0.5rem;
    }

    > span:nth-of-type(2) {
      padding-right: 1rem;
    }
  }

  > span:last-of-type {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
  }

  @media @breakpoint-mobile {
    display: flex;
    justify-content: space-between;

    > span:last-of-type {
      display: none;
    }
  }
}
