@import (reference) "~assets/styles/shared";

.Candlestick {
  svg {
    :global {


      .highcharts-background {
        fill: @color-module-background;
      }

      g.highcharts-axis-labels > text > tspan {
        .mono-9;

        color: @color-primary-text;
        fill: @color-primary-text;
      }

      .highcharts-yaxis-labels,
      .highcharts-label {
        .mono-10-bold;

        fill: @color-primary-text;
      }

      .highcharts-no-data {
        .text-16;
      }

      .highcharts-label-box {
        fill: @color-module-background;
        font-weight: bold;

        > text > tspan:last-child {
          .text-12;
        }
      }

      .highcharts-tick,
      .highcharts-axis-line {
        stroke: fade(@color-primary-text, 40%);
      }

      .highcharts-xaxis-grid,
      g.highcharts-yaxis-grid path.highcharts-grid-line:nth-child(1),
      g.highcharts-yaxis path.highcharts-axis-line {
        display: none;
      }

      .highcharts-yaxis-grid {
        .dashline-long;

        .highcharts-grid-line {
          stroke: fade(@color-primary-text, 40%);
        }
      }

      .highcharts-xaxis-category {
        display: none;
      }

      .highcharts-crosshair-label.highcharts-crosshair-label > .highcharts-label-box {
        .mono-9;

        stroke: @color-primary-text;
      }

      .highcharts-crosshair-label {
        .mono-10;

        background-color: @color-module-background;
        padding: @size-8;
        z-index: @above-all-content;
      }

      .highcharts-crosshair {
        .dashline-long;
      }

      .highcharts-plot-band {
        fill: @color-inactive-text;
        z-index: @default-behind;
      }

      .highcharts-point-down {
        color: @color-negative;
        fill: @color-negative;
        stroke: @color-negative;
      }

      .highcharts-point-up {
        color: @color-positive;
        fill: none;
        stroke: @color-positive;
      }

      path.highcharts-crosshair-thin:nth-of-type(2) {
        stroke-width: 0;
      }

      @media @breakpoint-mobile {
        path.highcharts-crosshair-thin:nth-of-type(1) {
          stroke-width: 0;
        }

        path.highcharts-crosshair-thin:nth-of-type(2) {
          stroke-width: 1;
        }

        path.highcharts-crosshair-thin:only-of-type {
          stroke-width: 1;
        }
      }

      .eth-label {
        .text-9;
      }
    }
  }
}

.Candlestick_display_none {
  display: none;
}
