@import (reference) '~assets/styles/shared';

.TopNav {
  background: @color-table-header;
  display: flex;
  flex-flow: column nowrap;

  @media @breakpoint-mobile {
    display: none;
  }

  > ul {
    display: flex;
    align-items: center;
    border-bottom: 1px solid @color-dark-grey;
    max-height: 37px;
    min-height: 37px;

    > li {
      border-bottom: 2px solid transparent;
      height: 100%;
      max-height: 37px;
      min-height: 37px;
      width: auto;
      margin: 0 @size-16;
      display: flex;
      align-items: center;

      > span {
        height: @size-19;
        right: 96px;
        width: @size-16;
        margin-left: @size-10;
      }

      &.AlternateStyle {
        > a > span {
          .text-12-medium;

          color: @color-secondary-text;
        }
      }
    }

    > li:hover {
      &:not(.CreatetButton) {
        span {
          color: @color-primary-text;
        }
      }
    }

    > li a {
      align-items: center;
      display: flex;
      height: @size-35;

      > span {
        .text-12-semi-bold;

        align-self: center;
        color: @color-primary-text;
        text-transform: uppercase;
      }

      > svg {
        height: @size-4;
        width: @size-4;
        fill: none;
        margin-left: @size-4;
        margin-bottom: @size-4;

        > circle {
          fill: @color-outcome-five;
        }
      }
    }

    .Selected {
      border-bottom: 2px solid @color-primary-action;

      > a {
        text-decoration: none;
      }

      > a > span {
        color: @color-primary-text;
      }
    }

    li.CreateButton {
      > a {
        height: @size-22;

        > button {
          .mono-10-bold;

          padding: @size-4 @size-6;
          text-transform: uppercase;
        }
      }
    }

    > .MigrateRep {
      button {
        .mono-10-bold;
        text-transform: uppercase;
      }
      position: absolute;
      right: calc(96px + @size-48);
    }

    > .BettingUI {
      position: absolute;
      right: @size-32;

      path {
        &:nth-child(odd) {
          fill: @color-secondary-text;
          stroke: none;
        }

        &:nth-child(even) {
          stroke: @color-secondary-text;
        }
      }

      @media @breakpoint-mobile {
        display: none;
      }
    }
  }
}

button.AddFunds {
  .mono-10-bold;

  align-items: center;
  background: fade(@color-brand, 20%);
  border: @size-1 solid @color-brand;
  border-radius: @border-radius-default;
  color: @color-primary-text;
  display: flex;
  justify-content: center;
  min-height: @size-22;
  height: @size-22;
  max-height: @size-22;
  width: @size-85;
  min-width: @size-85;
  max-width: @size-85;
  text-transform: uppercase;
  position: absolute;
  right: @size-16;

  > svg {
    fill: none;
    height: @size-12;
    width: @size-12;
    margin-left: @size-4;

    > circle {
      fill: @color-brand;
    }

    > rect {
      fill: @color-brand;
      height: 1px;
      width: @size-8;
    }
  }
}

.FillSpace {
  flex: 1;
}

.ToolTip {
  height: 0;
  visibility: hidden;
  width: 0;

  @media @breakpoint-mobile {
    display: none;
  }
}
