@import (reference) '~assets/styles/shared';

.TopNav {
  background: @color-tertiary-background;
  display: flex;
  flex-flow: column nowrap;

  @media @breakpoint-mobile {
    display: none;
  }

  > ul {
    display: flex;
    align-items: center;
    border: 1px solid @color-primary-light;
    border-left: none;
    border-right: none;
    border-top: none;

    > li {
      width: auto;
      margin: 0 @size-16;
    }

    > li:hover {
      &:not(.CreatetButton) {
        span {
          color: @color-secondary-text;
        }
      }
    }

    > li a {
      display: flex;
      margin: @size-13 0;

      > span {
        .text-9-bold;

        color: @color-tertiary-info-text;
        text-transform: uppercase;
      }
    }

    .Selected {
      > a {
        border-bottom-width: @size-1;
        border-bottom-style: solid;
        color: @color-primary-action;
        margin-bottom: @size-6;
        margin-top: @size-9;
        padding-bottom: @size-3;
        text-decoration: none;
      }

      > a > span {
        color: @color-secondary-text;
      }
    }

    .CreatetButton {
      border-bottom: none;
      margin-left: @size-24;
      text-transform: uppercase;

      button {
        .text-9-bold;

        padding: @size-4 @size-8;
        text-transform: uppercase;
      }
    }
  }
}
