@import '~assets/styles/shared.less';

.Connect {
  &:extend(.view);

  align-items: center;
  display: flex;
  flex-direction: column;
}

.Connect--constrained {
  &:extend(.view--constrained);

  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.Connect__header {
  h1 {
    &:extend(.caps);

    color: @color-text-light;
  }

  align-items: flex-end;
  display: flex;
  flex: 1;
}

.Connect__content {
  display: flex;
  height: 40vh;
  width: 100%;
}

.Connect__connections {
  background: @color-white;
  flex: 1;
}

.Connect__faq {
  flex: 1;
}
