@import (reference) '~assets/styles/shared';

// Close icon is not part of SideNav
.SideNav {
  display: none;

  @media @breakpoint-mobile {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    left: -100%;
    top: 0;
    overflow: auto;
    position: fixed;
    transition: left 0.2s ease-in-out;
    width: 100%;
    z-index: @mask-modal;

    > div:first-of-type {
      z-index: @above-all-content;

      > div:first-of-type {
        border-right: 1px solid @color-module-background;
      }

      > div:last-of-type {
        padding: @size-6 @size-12 @size-6 @size-16;
      }
    }

    > div {
      // Background for close icon and help icon when AccountFunds is closed.
      background: @color-dark-grey;
      display: flex;
      justify-content: flex-end;

      > div:first-of-type {
        position: unset;
        display: flex;

        > div:first-of-type {
          // Background for close icon and help icon when AccountFunds is opened.
          background: @color-dark-grey;
          border-bottom: @size-1 solid @color-dark-grey;
          display: flex;
          justify-content: flex-end;
          width: 100%;
        }
      }

      // ConnectAccount
      > div:nth-of-type(2) {
        > div:first-of-type {
          display: flex;
          justify-content: flex-end;
          width: 100%;
        }
      }
    }

    &.showNav {
      left: 0;
    }
  }
}

.SideNavMigrateRep {
  button {
    .mono-12-bold;
  }
}

.SideNavMigrateTooltipHint {
  display: inline;
  position: relative;
  top: @size-3;
  left: @size-10;

  > svg {
    max-height: @size-16;
    max-width: @size-16;

    > circle {
      fill: @color-secondary-action;
      stroke: @color-secondary-text;
    }

    > path {
      fill: @color-secondary-text;
    }
  }

  &:hover {
    > svg {
      > circle {
        stroke: @color-primary-text;
      }

      > path {
        fill: @color-primary-text;
      }
    }
  }
}

.SideNav__container {
  background: @color-module-background;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;

  > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: min-content;
    overflow: auto;
  }

  > div > ul {
    background: @color-active-background;
    height: calc(100vh - @top-bar-height-mobile);
    margin-top: @side-bar-top-menu-height-mobile;
    padding-bottom: @top-bar-height-mobile;

    > button {
      display: flex;
      margin-top: @size-10;
      margin-right: @size-16;
      align-items: center;
      margin-left: auto;
    }

    &.accountDetailsOpen {
      margin-top: 0;
    }

    > li {
      &.disabled {
        pointer-events: none;
        opacity: 0.25;
      }

      &.selected {
        a {
          padding: @size-21 @size-16 @size-14;
        }

        span {
          .text-12-semi-bold;

          border-bottom: @size-2 solid @color-primary-action;
          padding-bottom: @size-5;
          color: @color-primary-text;
          width: fit-content;
        }

        svg {
          margin-bottom: @size-12;
        }
      }

      a,
      button {
        display: flex;
        padding: @size-21 @size-16;
        align-items: center;

        > span {
          .text-12-semi-bold;

          align-items: center;
          color: @color-secondary-text;
          display: flex;
          text-transform: uppercase;
        }

        > svg {
          height: @size-4;
          width: @size-4;
          fill: none;
          margin-left: @size-4;
          margin-bottom: @size-4;

          > circle {
            fill: @color-outcome-five;
          }
        }
      }

      button {
        padding: @size-8 @size-12;
      }
    }

    > div {
      margin-left: @size-16;
    }
  }

  > div > footer {
    align-items: center;
    background: @color-active-background;
    bottom: 0px;
    display: flex;
    height: @top-bar-height-mobile;
    justify-content: flex-start;
    padding: 0 @size-18 @size-16;
    position: fixed;
    width: 100%;

    > div {
      > span {
        padding: 0;
      }
    }

    > button {
      margin-left: auto;
    }
  }
}
