@import (reference) '~assets/styles/shared';

.SideNav {
  display: none;

  @media @breakpoint-mobile {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    left: -100%;
    overflow: auto;
    position: fixed;
    transition: left 0.2s ease-in-out;
    width: calc(100% - 52px);
    z-index: @mask-modal;

    > div {
      background: @color-module-background;
      display: flex;
      justify-content: flex-end;

      > div {
        width: 100%;

        > div:first-of-type {
          background: @color-page-background;
          border-bottom: 1px solid @color-dark-grey;
          display: flex;
          justify-content: flex-end;
          width: 100%;
        }
      }
    }

    &.showNav {
      left: 0;
    }
  }
}

.SideNav__container {
  background: @color-module-background;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;

  > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: min-content;
    overflow: auto;
  }

  > div > ul {
    background: @color-page-background;
    height: calc(100vh - @top-bar-height-mobile);
    margin-top: @top-bar-height-mobile;
    padding-bottom: @top-bar-height-mobile;
    padding-top: 1.6875rem;

    &.accountDetailsOpen {
      margin-top: 0;
    }

    > li {
      &.disabled {
        pointer-events: none;
        opacity: 0.25;
      }

      &.selected {
        span {
          .text-11-bold;

          border-bottom: 2px solid @color-primary-action;
          padding-bottom: @size-5;
          color: @color-primary-text;
          width: fit-content;
        }
      }

      a,
      button {
        display: flex;
        padding: @size-21 @size-24;

        > span {
          .text-11-bold;

          align-items: center;
          color: @color-inactive-text;
          display: flex;
          margin-left: @size-8;
          text-transform: uppercase;
        }
      }
    }
  }

  > div > footer {
    align-items: center;
    background: @color-module-background;
    bottom: 0px;
    display: flex;
    height: @top-bar-height-mobile;
    justify-content: flex-start;
    padding: 0 @size-22;
    position: fixed;
    width: calc(100% - 52px);

    > div:nth-of-type(2) {
      .mono-10;

      display: flex;
      color: @color-primary-text;
      cursor: pointer;
      text-transform: uppercase;
      order: 1;

      > svg {
        width: @size-9;
        height: @size-13;
      }
    }

    > div:nth-of-type(3) {
      @media @breakpoint-mobile {
        bottom: 75px;
        display: flex;
        position: absolute;
        right: 24px;
      }
    }

    > .GlobalChat {
      background: @color-dark-grey;
      margin-left: auto;
      order: 2;

      // Closed global chat window
      > button {
        .mono-9-bold;

        align-items: center;
        background: @color-module-background;
        color: @color-primary-text;
        display: flex;
        flex-direction: row-reverse;
        text-transform: uppercase;

        > svg {
          fill: @color-primary-text;
          height: @size-12;
          margin-left: @size-8;
          transform: rotate(180deg);
          width: @size-12;
        }
      }
    }
  }
}
