@import '~assets/styles/shared.less';

.MarketOutcomesCategorical__outcomes {
  display: flex;
  justify-content: space-between;
}

.MarketOutcomesCategorical__outcome {
  > span {
    display: inline-block;
    vertical-align: middle;
  }
}

.MarketOutcomesCategorical__outcome-name {
  max-width: 9.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
