@import '~assets/styles/shared.less';

.MarketOutcomesCategorical {
  height: 1.5rem;
  overflow: hidden;
  transition: height .3s ease;
}

.MarketOutcomesCategorical__inner-table {
  display: table;
  width: 100%;
}

.MarketOutcomesCategorical__inner-tr {
  display: table-row;
}

.MarketOutcomesCategorical__outcomes {
  display: table;
}

.MarketOutcomesCategorical__outcomes-container {
  display: inline-block;
  position: relative;
}

.MarketOutcomesCategorical__outcome {
  border-left: 5vw solid transparent;
  border-top: 0.75rem solid transparent;
  display: table-cell;

  &:first-child {
    border-left: 0;
  }
}

.MarketOutcomesCategorical__outcome-name {
  display: table-cell;
  line-height: 1.3rem;
  max-width: 9.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.MarketOutcomesCategorical__outcome-row {
  display: table-row;

  &:first-child > .MarketOutcomesCategorical__outcome {
    border-top: 0;
  }
}

.MarketOutcomesCategorical__outcome-value {
  &:extend(.number--large);

  display: table-cell;
  /* margin-left: 1.75rem; */
  vertical-align: middle;
}

.MarketOutcomesCategorical__show-more {
  &:extend(.caps--medium);

  color: @color-lightgray;
  cursor: pointer;
  position: absolute;
  right: -3.5rem;
  top: .3rem;
  transform: translateX(100%);
}
