@import (reference) '~assets/styles/shared';

.AddressPickerContent__direction {
  .text-14-medium;

  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: none;
}

.AddressPickerContent__arrow {
  align-items: center;
  display: flex;
  justify-content: center;

  > svg {
    width: @size-7;
    height: @size-11;

    g > path {
      fill: var(--color-primary-text);
    }
  }
}

.AddressPickerContent__directionDisabled {
  cursor: default;
}
