@import (reference) '~assets/styles/shared';

.AddressPickerContent__direction {
  .text-14-medium;

  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: none;
}

.AddressPickerContent__arrow {
  align-items: center;
  display: flex;
  justify-content: center;
}

.AddressPickerContent__directionDisabled {
  cursor: default;
}
