@import (reference) "~assets/styles/shared";

.DerivationPathEditor {
  padding: @size-16 @size-24 @size-8;
}

.DerivationPathEditor__title {
  .text-12-bold;

  color: @color-primary-text;
}

.DerivationPathEditor__row {
  display: flex;
  margin-top: @size-12;
}

.DerivationPathEditor__address {
  margin-left: @size-16;
}

.DerivationPathEditor__pathDetails {
  .text-12;

  color: @color-primary-text;
  margin-left: @size-8;
  text-transform: none;
}

.DerivationPathEditor__path {
  .mono-12;

  color: @color-primary-text;
  text-transform: none;
}

.DerivationPathEditor__pathInputContainer {
  display: flex;
  flex-grow: 1;
}

.DerivationPathEditor__radioButtons {
  display: flex;
  flex-grow: 1;

  > li {
    display: flex;
    flex-grow: 1;
    text-transform: none;

    > button {
      .text-18;

      color: @color-primary-text;
      cursor: pointer;
      display: flex;
      flex-grow: 1;
      min-height: 1.7rem;
      padding-left: @size-36;
      position: relative;
      text-align: left;

      &::before {
        background-color: @color-primary-text;
        border: 0;
        border-radius: 100%;
        content: "";
        height: @size-20;
        left: 0;
        margin: auto;
        margin-top: @size-5;
        top: 0;
        width: @size-20;
      }

      &::after {
        background-color: @color-secondary-text;
        height: @size-12;
        left: @size-4;
        margin-top: @size-5;
        top: @size-4;
        width: @size-12;
      }
    }
  }
}

.DerivationPathEditor__radioButtonsInput {
  > li {
    > button {
      padding-left: @size-32;
    }
  }
}

.DerivationPathEditor__pathInput {
  border: none;
  color: @color-primary-text;
  font-weight: bold;
  height: @size-24;
  max-height: @size-24;
  padding: 3px @size-12;
  text-transform: none;

  &::placeholder {
    color: @color-secondary-text;
    font-weight: normal;
  }

  &:focus {
    border: none;
  }
}
