@import (reference) '~assets/styles/shared';

.ErrorContainer__header {
  .text-12-bold;

  align-items: center;
  color: @color-primary-text;
  display: flex;
}

.ErrorContainer__headerIcon {
  margin-right: @size-8;
}

.ErrorContainer__subheader {
  .text-12;

  color: @color-primary-text;
  font-stretch: normal;
  line-height: 1.54;
  margin-top: @size-8;
}

.ErrorContainer__link {
  margin-left: @size-4;
  text-decoration: underline;
  text-decoration-color: @color-primary-text;
}
