.account-export-airbitz {
  display: flex;
  flex: 1;
  justify-content: center;

  div.account-export-password {
    z-index: @above-all-content;
  }

  .account-export-overlappers {
    position: relative;

    .account-export-password-suggestions {
      color: @color-orange-light;
      left: 1em;
      list-style-type: disc;
      padding: 0.4em 0 0 0.4em;
      position: absolute;
      top: 0;
    }

    div.account-export-password-confirm {
      border-top: none;
      transition-duration: @animation-speed-very-fast;
      transition-property: transform;
      transition-timing-function: @animation-default-type;
      z-index: @above-all-content;

      &.password-confirm-enter {
        transform: translateY(-100%);

        &.password-confirm-enter-active {
          transform: translateY(calc(~"0% - 1px"));
        }
      }

      &.password-confirm-leave {
        transform: translateY(0);

        &.password-confirm-leave-active {
          transform: translateY(-100%);
        }
      }
    }
  }
}
