.account-export-airbitz {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: hidden;

  & > div {
    display: flex;
    justify-content: center;
  }

  form {
    z-index: @above-all-content;

    &.export-form-leave {
      opacity: 1;
      transform: translateY(0);

      &.export-form-leave-active {
        opacity: 0;
        transform: translateY(-10%);
        transition-duration: @animation-speed-very-fast;
        transition-property: opacity, transform;
        transition-timing-function: @animation-default-type;
      }
    }
  }

  div.account-export-password {
    z-index: @above-all-content;
  }

  .account-export-overlappers {
    position: relative;

    .account-export-password-suggestions {
      color: @color-orange-light;
      left: 1em;
      list-style-type: disc;
      padding: 0.4em 0 0 0.4em;
      position: absolute;
      top: 0;
    }

    div.account-export-password-confirm {
      border-top: none;
      transition-duration: @animation-speed-very-fast;
      transition-property: transform;
      transition-timing-function: @animation-default-type;
      z-index: @above-all-content;

      &.password-confirm-enter {
        transform: translateY(-100%);

        &.password-confirm-enter-active {
          transform: translateY(0);
        }
      }

      &.password-confirm-leave {
        transform: translateY(0);

        &.password-confirm-leave-active {
          transform: translateY(-100%);
        }
      }
    }
  }

  .account-export-generating-keyfile {
    transition-duration: @animation-speed-very-fast;
    transition-property: opacity, transform;
    transition-timing-function: @animation-default-type;

    &.generating-enter {
      opacity: 0;
      transform: translateY(-20%);

      &.generating-enter-active {
        opacity: 1;
        transform: translateY(0);
        transition-delay: @animation-speed-very-fast;
      }
    }

    &.generating-leave {
      opacity: 1;
      transform: translate(0);

      &.generating-leave-active {
        opacity: 0;
        transform: translateY(-10%);
      }
    }

    .spinner {
      margin-top: 1em;
    }
  }

  .account-export-airbitz-keyfile {
    transition-duration: @animation-speed-very-fast;
    transition-property: opacity, transform;
    transition-timing-function: @animation-default-type;

    &.keyfile-enter {
      opacity: 0;
      transform: translateY(-20%);

      &.keyfile-enter-active {
        opacity: 1;
        transform: translateY(0);
        transition-delay: @animation-speed-very-fast;
      }
    }
  }
}
