#account_view {
  .constrained-view();

  align-self: center;
  display: flex;
  margin: 0;
  width: 100%;
  z-index: @default-z-index;

  .account-sub-view {
    display: flex;
    padding: 1em;

    aside {
      .border(true, @border-right);

      flex: 1;
      padding-right: 1em;

      .warning {
        .font-weight-normal();

        color: @color-red;
      }

      .italic {
        font-style: italic;
      }

      .notice {
        .font-weight-normal();
      }
    }

    & > div {
      display: flex;
      flex: 3;
      justify-content: center;

      canvas {
        .border(true, @border-all, @border-muted);

        padding: 1em;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 50%;

        .account-input-error {
          color: @color-red;
          display: inline-block;
          opacity: 0;
          padding: 0.4em 0 0 0.4em;
          transition-duration: @animation-speed-very-fast;
          transition-property: opacity;
          transition-timing-function: @animation-default-type;
          visibility: hidden;

          &.input-in-error {
            opacity: 1;
            visibility: visible;
          }
        }

        .account-convert-submit {
          cursor: default;
          opacity: 0;
          transition-duration: @animation-speed-very-fast;
          transition-property: opacity;
          transition-timing-function: @animation-default-type;

          &.form-is-valid {
            opacity: 1;
          }
        }
      }
    }
  }

  .account-content {
    .border(true, @border-right);
    .border(true, @border-bottom);
    .border(true, @border-left);

    background-color: @color-white;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  }
}
