.account-deposit {
  display: flex;

  .account-deposit-data {
    align-items: center;
    display: flex;
    flex: 3;
    flex-direction: column;

    .account-deposit-address {
      .font-weight-normal();

      margin: 2em 0;
      padding: 0 1em;
    }
  }
}
