.account-details {
  display: flex;
  flex-direction: column;

  .account-detail {
    display: table-row;

    .account-detail-label {
      .font-weight-normal();

      display: table-cell;
    }

    .account-detail-value {
      display: table-cell;
      margin-left: 0.2em;
    }
  }
}
