.account-details {
  align-items: center;
  display: flex;
  margin: 1em;

  .link {
    align-self: flex-start;
    flex: 1;
    text-align: right;
  }

  .account-details-name {
    margin-bottom: 0.5em;

    .account-details-name-copy {
      &.name-unset {
        color: @color-text-dark-extra-light;
      }
    }
  }

  .identicon {
    border-radius: 50%;
  }

  .account-details-address {
    margin: 0.5em 0 1em;
  }
}
