.account-details {
  display: flex;
  margin: 1em;

  .account-details-core {
    align-items: center;
    display: flex;
    flex: 1;

    .identicon-container {
      position: relative;

      .identicon {
        border-radius: 50%;
        margin-right: 1em;
      }

      .airbitz-logo-container {
        background-color: @color-airbitz-logo-background;
        border-radius: 50%;
        cursor: pointer;
        height: 30px;
        position: absolute;
        right: 10px;
        top: -10px;
        width: 30px;

        .airbitz-logo-icon {
          height: 20px;
          position: relative;
          top: 2px;
        }
      }
    }

    .account-details-core-values {
      align-content: flex-start;
      display: flex;
      flex: 1;
      flex-direction: column;

      .account-details-name {
        left: calc(~"-0.2em - 1px");
        position: relative;
        top: -0.2em;

        .account-details-name-copy,
        .input {
          .font-size-large();
          .font-weight-normal();
        }

        .input {
          left: -1px;
          opacity: 1;
          padding: 0.2em;
          position: absolute;
          top: calc(~"-0.2em - 1px");
          transition-duration: @animation-speed-very-fast;
          transition-property: opacity;
          transition-timing-function: @animation-default-type;
          width: 50%;

          &.name-input-enter {
            opacity: 0;

            &.name-input-enter-active {
              opacity: 1;
            }
          }

          &.name-input-leave {
            opacity: 1;

            &.name-input-leave-active {
              opacity: 0;
            }
          }

          &.name-unset input::placeholder {
            font-style: italic;
          }

          input {
            padding: 0;
          }
        }

        .account-details-name-copy {
          opacity: 1;
          padding: 0.2em;
          position: relative;

          &.name-unset {
            color: @color-text-dark-extra-light;
            font-style: italic;
          }

          &.input-visible {
            opacity: 0;
            transition-duration: @animation-speed-very-fast;
            transition-property: opacity;
            transition-timing-function: @animation-default-type;
          }
        }
      }

      .account-details-address {
        .font-size-medium();

        height: @font-size-medium;
        padding-top: 0.3em;
        position: relative;

        .account-details-address-values {
          height: @font-size-medium; // Match whatever the font size is set to for the addresses
        }

        span {
          opacity: 1;
          position: absolute;
          transition-duration: @animation-speed-very-fast;
          transition-property: opacity;
          transition-timing-function: @animation-default-type;

          &.address-enter {
            opacity: 0;

            &.address-enter-active {
              opacity: 1;
            }
          }

          &.address-leave {
            opacity: 1;

            &.address-leave-active {
              opacity: 0;
            }
          }
        }
      }

      .account-details-airbitz {
        cursor: pointer;
        padding-top: 0.6em;
      }

      .account-details-address,
      .account-details-airbitz {
        align-self: flex-start;
      }
    }
  }

  .link {
    align-self: flex-start;
    cursor: pointer;
  }
}
