.account-export {
  .account-export-account {
    display: flex;
    flex-direction: column;

    h4 {
      color: @color-text-light-light;
      display: flex;
      flex: 1;
      font-size: @font-size-large;
      font-style: italic;
      font-weight: @font-weight-extra-light;
      justify-content: center;
      margin: 1em 0;
      overflow: hidden;

      &::before,
      &::after {
        background-color: @color-border-light;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        top: 0.6em;
        width: 40%;
      }

      &::before {
        margin-left: -50%;
        right: 1em;
      }

      &::after {
        left: 1em;
        margin-right: -50%;
      }
    }

    .link {
      text-align: center;
    }
  }
}
