@import (reference) '~assets/styles/shared';

.Watchlist {
  span[class*="ArrowContainer"] {
    display: none;
  }

  @media @breakpoint-mobile {
    > div:nth-of-type(2) > div:nth-of-type(3) > div:first-of-type {
      margin-top: 0;
    }
  }

  > div:last-of-type {
    @media @breakpoint-mobile {
      > div:nth-of-type(2):not([class*="EmptyDisplay"]) {
        border-top: @size-1 solid var(--color-dark-grey);
      }

      > div[class*="MarketRow"] {
        &:last-of-type {
          border-radius: 0;
        }

        > div {
          border-left: @size-1 solid var(--color-dark-grey);
          border-right: @size-1 solid var(--color-dark-grey);
        }
      }

      div[class*="box-header-styles_ShowOnMobile"] {
        > div:first-of-type {
          height: @size-32;
          min-height: @size-32;
          max-height: @size-32;
          margin-top: @size-8;
          margin-bottom: @size-16;
        }

        > div[class*="Middle"] > div[class*="BottomContent"] {
          margin-top: @size-8;
          border-radius: @border-radius-default;

          > div {
            align-items: center;
            padding: 0;
            min-height: @size-40;
            height: @size-40;
            max-height: @size-40;
            justify-content: space-around;

            > button {
              margin: 0;
              padding: 0;
              min-height: @size-40;
              height: @size-40;
              max-height: @size-40;

              > span {
                .mono-10-medium;

                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .Watchlist {
    div[class*='Subheader'] {
      > div {
        display: flex;
        width: 100%;

        > span {
          .text-14;

          color: var(--color-secondary-text);
          margin: auto @size-4 auto 0;
        }

        > div {
          border: none;
          margin: auto 0;
          min-width: unset;

          > button {
            padding: 0;

            > svg {
              margin: 0 0 0 @size-8;
            }
          }
        }

        > span:last-of-type {
          margin-left: auto;
        }
      }
    }

    > div:last-of-type {
      min-height: @size-414;

      @media @breakpoint-mobile {
        min-height: unset;

        > div:nth-of-type(2):not([class*="EmptyDisplay"]) {
          border-top: none;
        }
      }
    }
  }

  .WatchlistEmptyDisplay {
    .Watchlist;

    > div:last-of-type {
      min-height: @size-198;
    }
  }
}
