@import (reference) '~assets/styles/shared';

.WatchList {
  align-items: center;
  text-align: left;
  width: 100%;
}

.WatchList__SortBar {
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 2rem;
  width: 100%;
}

.WatchList__SortBar-title {
  color: @color-white;
  font-size: @font-size-extra-large;
}

.WatchList__SortBar-sort {
  display: flex;
  flex: 1;
  margin-left: 1rem;
}

.WatchList__SortBar-filter {
  display: flex;
}

@media @breakpoint-mobile {
  .WatchList__SortBar {
    padding: 0 1rem;
  }

  .WatchList__SortBar-title {
    font-size: @font-size-large;
  }
}
