@import (reference) '~assets/styles/shared';

.DisputeMarket__round-number {
  display: inline-block;
  white-space: nowrap;
}

.DisptueMarket__round-label {
  color: @color-lightgray;
  font-size: @font-size-medium;
  margin-right: 0.75rem;
  text-transform: uppercase;
}

.DisptueMarket__round-text {
  background: @color-purple-dark;
  border-radius: 100%;
  color: @color-white;
  display: inline-block;
  font-size: @font-size-normal;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 2rem;
  padding: 0 0.75em;
}
