@import (reference) '~assets/styles/shared';

.DisptueMarket_label__text {
  color: @color-lightgray;
  font-size: @font-size-medium;
  text-transform: uppercase;
  margin-right: 0.75rem;
}

.DisptueMarket_bubble__text {
  font-size: @font-size-normal;
  color: @color-white;
  letter-spacing: 0;
  background: @color-purple-dark;
  border-radius: 50%;
  padding: 0.25em 0.75em;
  font-weight: 600;
}
