.Careers {
  background-color: $gray;
  padding-top: 6.5rem;

  > .max-width {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 6.5rem;
  }
}

.CareerDetails {
  width: 41.75rem;
  padding-right: 4rem;
}

.CareerBreadcrumbs {
  margin-bottom: 1rem;
  margin-top: -2rem;

  > a {
    color: $purple;
  }

  > a.active {
    font-weight: bold;
  }
}

.CareerDetail {
  padding-bottom: 4rem;

  > p > a {
    color: $purple;
  }

  > ul {
    font-size: 1.125rem;
    font-weight: 400;
    list-style: disc outside;
    padding-left: 2.4rem;

    > li {
      margin-bottom: 1rem;
    }
  }

  > h5 {
    @extend .with-line;

    margin-bottom: 2.5rem;

    &::after {
      bottom: -1.25rem;
    }
  }
}

.CareerIndex {
  position: relative;
  top: -11.5rem;
  padding: 2.8125rem 2.5rem 2.5rem;
  width: 24.5rem;
  background-color: $purple--light;
}

.CareerIndex__position {
  margin-top: 2rem;

  > a {
    font-weight: 700;
    font-size: 1.125rem;
  }

  > a.active {
    @extend .with-full-line;

    color: $purple;
  }
}

.BackToCareers {
  > a {
    color: $purple;
    font-weight: 500;
    padding-left: 2rem;
    position: relative;

  &::before {
    background: url('../images/icon--arrow.svg') center no-repeat;
    color: $purple;
    content: '';
    height: 1rem;
    margin-top: -0.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(0.5turn);
    width: 1.5rem;
  }
  }
}

@media only screen and (max-width: 900px) {
  .CareerIndex {
    display: none;
  }
  .CareerDetails {
    width: 100%;
    padding-right: 0;
  }
}
