// Scope

.Scope {
  background-color: $gray;
  padding: 6.5rem 0 2.125rem;
}

.Scope__wrap {
  @extend .max-width;

  overflow: hidden;
}

.Scope__blocks {
  max-width: 58rem;
  position: relative;
  z-index: 1;
}

.Scope__block {
  @extend .white-box;

  padding: 3rem 2.5rem 3rem;

  &:first-child {
    margin-bottom: 2rem;
  }
}

.Scope__block-wrap {
  display: flex;
  justify-content: space-between;

  > div {
    width: 42.4%;

    > h3 {
      @extend .with-line;

      font-size: 1.5rem;
      margin-bottom: 3.125rem;

      &::after {
        bottom: -1.5625rem;
        width: 3rem;
      }
    }

    > p > a {
      @extend .link--mono;

      color: $purple;
    }
  }

  .Scope__links-list {
    @extend .list--links;

    width: 48.1%;
  }

  .Scope__rewards-list {
    @extend .list--dark;

    width: 48.1%;

    > li {
      display: flex;
      justify-content: space-between;

      > span:first-child {
        text-transform: uppercase;
      }

      > span:last-child {
        font-size: 1.5rem;
        text-align: left;
        width: 11.2rem;

        > span {
          font-size: 1rem;
        }
      }
    }
  }
}

.Scope__disclaimer {
  border: 1px solid $purple;
  float: right;
  max-width: 58rem;
  padding: 7rem 4rem 5rem;
  position: relative;
  top: -4.375rem;
  z-index: 0;
}

// References

.References {
  background-color: $purple--dark;
  color: $white;
  padding: 6.5rem 0 2.5rem;
}

.References__references {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > h4 {
    width: 31%;

    > a {
      border: 4px solid transparent;
      box-sizing: border-box;
      display: block;
      margin-bottom: 1.5rem;
      padding: 4rem 2.375rem 2.375rem;
      position: relative;
      transition: border-color 0.2s ease;

      &:hover {
        border-color: $white;
      }

      &::after {
        background-color: $white;
        content: '';
        height: 2px;
        left: 2.375rem;
        position: absolute;
        top: 2.5rem;
        width: 3rem;
      }
    }
  }
}

// BountiesFAQ

.BountiesFAQ {
  padding: 6.5rem 0 3rem;
}

.BountiesFAQ__questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.BountiesFAQ__question {
  margin-bottom: 3.5rem;
  width: 46.6%;

  > h5 {
    @extend .with-line;

    margin-bottom: 2.125rem;

    &::after {
      bottom: -1.0625rem;
    }
  }

  > p > a {
    color: $purple;
    font-family: $apercu-mono;
    text-decoration: underline;
  }
}

// Other Bounties

.OtherBounties {
  padding-top: 8.5rem;
}

.OtherBounties__wrap {
  background-color: $purple--light;
  margin: 11.5rem 5rem 5rem;
}

.OtherBounties__bounties {
  @extend .max-width;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  top: -6.5rem;

  &::after {
    content: '';
    width: 31.4%;
  }
}

.OtherBounties__bounty {
  @extend .white-box;

  border-radius: 0;
  min-height: 28.875rem;
  padding: 3rem 2.5rem 6.75rem;
  position: relative;
  width: 31.4%;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    margin-bottom: 2rem;
  }

  > h5 {
    @extend .with-line;

    margin-bottom: 3.25rem;

    &::after {
      bottom: -1.625rem;
    }
  }

  > p {
    margin-bottom: 0;

    > a {
      color: $purple;
    }
  }

  > a {
    bottom: 3rem;
    position: absolute;
    left: 2.5rem;
  }

  &:last-child {
    background: none;
    border: 1px solid $purple;
    box-shadow: none;

    &::after {
      background: url('/dist/images/icon--discord.svg') center no-repeat;
      background-size: 100%;
      bottom: 2rem;
      content: '';
      height: 7.75rem;
      opacity: 0.15;
      position: absolute;
      right: 2rem;
      width: 6.875rem;
    }
  }
}

.bounty-button {
  margin-top: 23px;
}

@media only screen and (max-width: 1200px) {
  .OtherBounties__bounty {
    width: 47%;
  }
  .OtherBounties__bounty:nth-child(4) {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .OtherBounties__bounty {
    width: 100%;
    min-height: 0;
  }
}

@media only screen and (max-width: 900px) {
  .Scope__block-wrap {
    flex-wrap: wrap;

    > div {
      width: 90%;
      margin: auto;
      padding: 2rem 0;
    }

    > .Scope__links-list,
    .Scope__rewards-list {
      width: 100%;
      font-size: 1rem;
    }
  }

  .Scope__block-wrap .Scope__rewards-list > li > span:last-child {
    font-size: 1rem;
  }

  .Scope__block {
    padding: 0;
  }

  .Scope__disclaimer {
    top: 0;
    padding: 2rem 1rem 0rem 1rem;
    border: none;
  }

  .OtherBounties__wrap {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .References__references > h4 {
    width: 48%;
  }
}

@media only screen and (max-width: 700px) {
  .BountiesFAQ {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .BountiesFAQ__question {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .References__references > h4 {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .OtherBounties__bounty {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
