.CookieTable {
  border-collapse: collapse;
  border: 1px solid #000;
  padding: 0.5rem;
  text-align: left;
  table-layout: fixed;
  margin-bottom: 2rem;
  width: 70rem; // fixed width is intentional

  td {
    border: solid thin;
    padding: 1rem;
  }

  th {
    border: solid thin;
    padding: 1rem;
  }

  thead {
    tr {
      border: solid thin;
      padding: 1rem;

      :nth-child(2) {
        width: 45rem;
      }
    }
  }

  tbody {
    > tr > td:nth-child(1) {
      font-style: italic;
    }
  }
}
