@font-face {
  font-family: 'Apercu';
  src: url('https://fonts.augur.net/apercu-regular-pro.woff2')  format('woff2'),
       url('https://fonts.augur.net/apercu-regular-pro.woff')  format('woff'),
       url('https://fonts.augur.net/apercu-regular-pro.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('https://fonts.augur.net/apercu-regular-italic-pro.woff2')  format('woff2'),
       url('https://fonts.augur.net/apercu-regular-italic-pro.woff')  format('woff'),
       url('https://fonts.augur.net/apercu-regular-italic-pro.ttf')  format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url('https://fonts.augur.net/apercu-medium-pro.woff2')  format('woff2'),
       url('https://fonts.augur.net/apercu-medium-pro.woff')  format('woff'),
       url('https://fonts.augur.net/apercu-medium-pro.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('https://fonts.augur.net/apercu-medium-italic-pro.woff2')  format('woff2'),
       url('https://fonts.augur.net/apercu-medium-italic-pro.woff')  format('woff'),
       url('https://fonts.augur.net/apercu-medium-italic-pro.ttf')  format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url('https://fonts.augur.net/apercu-bold-pro.woff2')  format('woff2'),
       url('https://fonts.augur.net/apercu-bold-pro.woff')  format('woff'),
       url('https://fonts.augur.net/apercu-bold-pro.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('https://fonts.augur.net/apercu-bold-italic-pro.woff2')  format('woff2'),
       url('https://fonts.augur.net/apercu-bold-italic-pro.woff')  format('woff'),
       url('https://fonts.augur.net/apercu-bold-italic-pro.ttf')  format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('https://fonts.augur.net/apercu-mono-regular-pro.woff2')  format('woff2'),
       url('https://fonts.augur.net/apercu-mono-regular-pro.woff')  format('woff'),
       url('https://fonts.augur.net/apercu-mono-regular-pro.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: MuseoSans;
    src: url("../fonts/MuseoSans_500.otf") format("opentype");
}