$black: #000;
$white: #fff;
$gray: #F5F5F5;
$gray--dark: #383B41;
$purple: #553580;
$purple--light: #F0EFF6;
$purple--bright: #EBE8FD;
$purple--mid: #E3E0F5;
$purple--dark: #44415A;

$apercu: 'Apercu', 'sans-serif';
$apercu-mono: 'Apercu Mono', 'sans-serif';