@import (reference) "~assets/styles/shared";

// Used in Betting UI

.Tooltip {
  margin: @size-4 0 0 @size-16;
  width: @size-12;
}

.Search {
  .text-16;

  position: relative;
  height: @size-44;
  align-items: center;
  background: @color-dark-grey;
  border: @size-1 solid @color-secondary-action;
  box-sizing: border-box;
  border-radius: @border-radius-default;
  color: @color-secondary-text;
  display: grid;
  grid-template-columns: @size-14 1fr;
  grid-gap: @size-20;
  padding: 0;
  transition: min-width @animation-speed-normal @animation-default-type;
  width: 100%;

  @media @breakpoint-mobile {
    .text-12;

    height: @size-32;
    padding: 0;
    border: @size-1 solid @color-dark-grey;
  }

  > svg {
    fill: @color-primary-text;
    margin-left: @size-13;
    height: @size-14;
    width: @size-14;
  }

  > input {
    .text-14;

    border: none;
    color: @color-primary-text;
    line-height: normal;
    padding: 0;
    height: @size-20;
    margin: @size-8 0 @size-10 0;
    text-overflow: ellipsis;

    @media @breakpoint-mobile {
      .text-12;
      height: @size-15;
      margin: @size-6 0 @size-7 0;
    }

    &::placeholder {
      color: @color-dark-text;
    }
  }

  // Override css in Input in common/form.styles.less
  input:focus {
    border: @size-1 solid @color-dark-grey;
  }

  &:focus-within {
    border: @size-1 solid @color-secondary-action;
    @media @breakpoint-mobile {
      border: @size-1 solid @color-dark-grey;
    }
  }

  // Loading
  > div {
    position: absolute;
    right: @size-12;

    @media @breakpoint-mobile {
      right: @size-6;
    }
  }

  // Close button
  > button {
    position: absolute;
    right: @size-12;

    @media @breakpoint-mobile {
      right: @size-6;
    }

    > svg {
      height: @size-12;
      width: @size-12;

      @media @breakpoint-mobile {
        margin-top: @size-2;
      }
    }
  }
}

.LoadingBesidesCloseButton {
  > div {
    position: absolute;
    right: @size-32;

    @media @breakpoint-mobile {
      right: @size-26;
    }
  }
}
