@import (reference) "~assets/styles/shared";

// Used in Betting UI
.FilterDropdowns {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;

  > div:first-of-type {
    min-width: 250px;

    > button {
      > span::before {
        content: 'Sort By:';
        padding-right: @size-4;
      }
    }
  }
}
