@import (reference) "~assets/styles/shared";

.FilterDropdowns {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;

  @media @breakpoint-mobile {
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: @size-16;
  }

  > div {
    margin-bottom: @size-24;
    min-width: 250px;
    height: 44px;
    background: @color-secondary-action;
    border-color: @color-primary-light;

    > button {
      .text-14-bold;

      color: @color-alternate-info-text;
      background: @color-secondary-action;

      @media @breakpoint-mobile {
        padding: 0 @size-16;
      }

      > span {
        font-weight: bold;
      }

      > span::before {
        content: 'Sort By:';
        font-weight: normal;
        padding-right: @size-4;
      }

      > svg {
        height: @size-12;
        width: @size-12;

        > path {
          stroke: @color-secondary-text;
        }
      }
    }
  }

  > button {
    display: none;

    @media @breakpoint-mobile {
      display: flex;
    }
  }

  > label {
    margin: 0;

    @media @breakpoint-mobile {
      margin-right: @size-12;
    }
  }
}
