@import (reference) "~assets/styles/shared";

.FilterSearch {
  display: flex;
}

.Tooltip {
  margin: @size-4 0 0 @size-16;
  width: @size-12;
}

.Search {
  .text-16;

  align-items: center;
  background: #1B1528;
  border: none;
  border-radius: 6px;
  color: @color-highlight;
  display: flex;
  padding: @size-16 0;
  transition: min-width @animation-speed-normal @animation-default-type;
  width: 100%;

  > svg {
    fill: @color-highlight;
    height: @size-16;
    margin-left: @size-16;
    min-width: @size-16;
    width: @size-16;
  }

  > input {
    border: none;
    color: inherit;
    font-size: inherit;
    line-height: normal;
    padding: 0 0 0 @size-8;
    text-overflow: ellipsis;

    &::placeholder {
      color: @color-highlight;
    }

    &:focus {
      .border(false);
    }
  }
}
