@import (reference) "~assets/styles/shared";

.FilterDropdowns {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;

  > div {
    min-width: 250px;
    height: @size-36;
    background: @color-secondary-action;
    border-color: @color-primary-light;

    > button {
      .text-14-bold;

      color: @color-alternate-info-text;
      background: @color-secondary-action;

      > span {
        font-weight: bold;
      }

      > span::before {
        content: 'Sort By:';
        font-weight: normal;
        padding-right: @size-4;
      }

      > svg {
        height: @size-12;
        width: @size-12;

        > path {
          stroke: @color-secondary-text;
        }
      }
    }
  }

  > label {
    margin: 0;
  }
}
