@import (reference) "~assets/styles/shared";

// Used in Betting UI
.FilterSearch {
  display: flex;
}

.Tooltip {
  margin: @size-4 0 0 @size-16;
  width: @size-12;
}

.Search {
  .text-16;
  height: @size-44;

  align-items: center;
  background: var(--color-dark-grey);
  border: @size-1 solid var(--color-secondary-action);
  box-sizing: border-box;
  border-radius: @border-radius-default;
  color: var(--color-secondary-text);
  display: flex;
  padding: 0;
  transition: min-width @animation-speed-normal @animation-default-type;
  width: 100%;

  @media @breakpoint-mobile {
    .text-12;
    height: @size-32;
    padding: 0;
    border: @size-1 solid var(--color-dark-grey);
  }

  > svg {
    fill: var(--color-primary-text);
    margin-left: @size-13;
    height: @size-14;
    width: @size-14;
  }

  > input {
    .text-14;

    border: none;
    color: var(--color-primary-text);
    line-height: normal;
    padding: 0;
    height: @size-20;
    margin: @size-8 0 @size-10 @size-10;
    text-overflow: ellipsis;

    @media @breakpoint-mobile {
      .text-12;
      height: @size-15;
      margin: @size-6 0 @size-7 @size-10;
    }

    &::placeholder {
      color: var(--color-dark-text);
    }
  }

  // Override css in Input in common/form.styles.less
  input:focus {
    border: @size-1 solid var(--color-dark-grey);
  }

  &:focus-within {
    border: @size-1 solid var(--color-secondary-action);
    @media @breakpoint-mobile {
      border: @size-1 solid var(--color-dark-grey);
    }
  }

  // Close button
  > button {
    margin-right: @size-12;

    @media @breakpoint-mobile {
      margin-right: @size-6;
    }

    > svg {
      height: @size-12;
      width: @size-12;

      @media @breakpoint-mobile {
        margin-top: @size-2;
      }
    }
  }
}

:root[theme="BETTING"] {
  .Search {
    background: var(--color-secondary-action);
    border: @size-1 solid var(--color-dark-grey);

    &:hover {
      border: @size-1 solid var(--color-dark-text);
    }

    &:focus {
      border: @size-1 solid var(--color-dark-text);
    }

    &:active {
      border: @size-1 solid var(--color-dark-grey);
    }

    &:disabled {
      opacity: 0.5;
    }

    > input {
      border: none;
    }

    input:hover {
      border: none;
    }

    input:focus {
      border: none;
    }

    input:active {
      border: none;
    }

    input:disabled {
      border: none;
    }
  }
}
