@import (reference) "~assets/styles/shared";

.MarketCardFormats {
  .text-10-medium;

  color: @color-secondary-text;
  display: flex;

  @media @breakpoint-mobile {
    color: @color-dark-text;
    margin: 0;
  }

  > div:first-of-type {
    margin: @size-2 0 0 0;

    @media @breakpoint-mobile {
      margin: 0;
    }
  }

  > span {
    cursor: pointer;
    margin: 0 @size-4;
    @media @breakpoint-mobile {
      margin: 0 @size-6;
    }
  }

  > span:first-of-type {
    margin: 0 @size-4 0 @size-8;
  }

  > span:nth-of-type(2) {
    @media @breakpoint-mobile {
      margin: 0 @size-6 0 @size-4;
    }
  }

  > span:last-of-type {
    margin: 0 0 0 @size-4;
    @media @breakpoint-mobile {
      display: none;
    }
  }
}

.ViewSwitcher {
  @media @breakpoint-mobile {
    svg {
      height: @size-20;
      width: @size-20;
    }
  }

  > svg rect,
  > svg path {
    fill: @color-secondary-action-outline;
  }

  &:hover {
    > svg rect,
    > svg path {
      fill: @color-primary-text;
    }
  }

  &.selected {
    > svg rect,
    > svg path {
      fill: @color-primary-text;
    }
  }
}
