@import (reference) '~assets/styles/shared';

.Outcome {
	background: var(--color-secondary-action);
	border: 1px solid var(--color-secondary-action-outline);
	border-radius: @border-radius-default;
	display: flex;
	flex-direction: column;
	padding: @size-8 @size-12;
	height: 100%;

	> div:first-of-type {
		margin-bottom: @size-8;
		justify-content: space-between;
		display: flex;

		> span:first-of-type {
			.text-12-bold;

			color: var(--color-primary-text);
		}

		> span:last-of-type {
			.mono-12-medium;

			color: var(--color-primary-text);

			&.Zero {
				color: var(--color-secondary-text);
			}

			&.InvalidPrice {
        color: var(--color-error);
        font-weight: 900;
      }
		}
	}

	&.invalid {
		> div:first-of-type > span:first-of-type {
			color: var(--color-outcome-invalid);
		}

		> div:last-of-type > span {
    		background: var(--color-outcome-invalid);
    	}
	}

	.generate-trading-indexed-color-outcome-classes({
	    &.Outcome-@{newIndex} {
	    	> div:last-of-type {
	    		> span {
	    			background: @value;
	    		}
	    	}
	    }
	});

	&:hover {
		background: var(--color-secondary-hover);

		> div:first-of-type > span:first-of-type {
			text-decoration: underline
		}
	}

	@media @breakpoint-mobile {
		grid-column: 1 / span 2;
	}
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .Outcome {
    .generate-betting-indexed-color-outcome-classes({
      &.showColor-@{newIndex} {
        &::before {
          background-color: @value;
        };
      }
    });
  }
}
.DisputeOutcome {
	.Outcome;

	> span:first-of-type {
		.text-12-bold;

    color: var(--color-primary-text);
	}

	> span:nth-of-type(2) {
		.mono-10;

		color: var(--color-tenative-winner);
		margin-bottom: @size-6;
		margin-top: @size-4;
		text-transform: uppercase;
	}

	> div {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-bottom: 0;

		> div {
			display: flex;
			flex-direction: column;
			flex: 1;

			> span:first-of-type {
				.mono-10;

				color: var(--color-secondary-text);
				margin-bottom: @size-2;
				text-transform: uppercase;
			}

			> span:nth-of-type(2) {
				.mono-10;

				color: var(--color-primary-text);

				> span {
					color: var(--color-secondary-text);
					margin-left: @size-5;
				}
			}
		}
	}

	> div:first-of-type {
    margin-bottom: 0;

    &.blank {
      padding-top: @size-16;
    }
	}

	> div:not(:last-of-type) {
		border-radius: @size-4;
		margin-bottom: @size-9;
		margin-top: @size-10;

		> span {
			background: var(--color-negative);
			border-radius: @size-4;
		}
	}

	&.invalid {
		> span:first-of-type {
			color: var(--color-outcome-invalid);
		}
	}

	@media @breakpoint-mobile-tablet {
		display: grid;
		flex-direction: unset;
		grid-template-columns: 1fr 1fr;

		> span:first-of-type {
			grid-column: 1;
			grid-row: 1;
			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		> span:nth-of-type(2) {
			grid-column: 2;
			grid-row: 1;
			margin-left: auto;
		}

		> div:first-of-type {
			grid-column: 1 / span 2;
			grid-row: 2;
		}

		> div:last-of-type {
			grid-column: 1 / span 2;
			grid-row: 3;

			> button {
				align-self: flex-end;
			}
		}
	}

	&.forking {
		grid-template-columns: 1fr auto;
		grid-template-rows: auto auto;
		display: grid;

		> button {
			grid-row: 2;
			grid-column: 2;
		}
	}
}

.Percent {
	background: var(--color-module-background);
	border-radius: @border-radius-default;
	height: 2px;

	> span {
		height: 2px;
		display: block;
		border-radius: @border-radius-default;
	}

	&.invalid {
		background-color: var(--color-outcome-invalid-50);
	}
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
	.Percent {
		background: var(--color-dark-grey);
	}
}

.ScalarOutcome {
	background: var(--color-secondary-action);
	border: 1px solid var(--color-secondary-action-outline);
	border-radius: @border-radius-default;
	display: flex;
	flex-direction: column;
	padding: @size-16 @size-8 @size-6;

	> div:first-of-type {
		.mono-11-bold;

		background: var(--color-dark-grey);
		border-radius: @size-4;
		height: @size-4;
		margin-bottom: @size-3;
		color: var(--color-outcome-invalid);
		position: relative;

		> span {
			position: absolute;
			bottom: @size-5;

			&::before {
				background-color: var(--color-outcome-invalid);
				border-radius: 50%;
				content: "";
				height: @size-6;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 100%;
				width: @size-6;
			}
		}
	}

	> div:last-of-type {
		.mono-10-medium;

		color: var(--color-secondary-text);
		display: flex;
    	justify-content: space-between;

		> span {
			.mono-12-bold;
		}
	}
}

.OutcomeGroup {
  display: grid;
	grid-gap: @size-6;
	padding-left: @size-12;
	border-left: 1px solid var(--color-dark-grey);

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: min-content;

	@media @breakpoint-mobile {
		grid-template-columns: repeat(1, 1fr);
	}

	&.Scalar {
		> span:first-of-type {
			grid-column: 1 / span 2;
		}
	}

	&.Dispute {
		grid-template-columns: repeat(2, 1fr);
		grid-column: 2;

		> div {
			grid-column: span 1;

			@media @breakpoint-mobile-tablet {
				grid-column: 1 / span 2;
			}
		}
	}

  @media @breakpoint-mobile-tablet {
    grid-column: 1 / span 2;
		padding: 0;
		border: none;
  }

  @media @breakpoint-mobile {
    grid-template-columns: repeat(1, 1fr);
	}
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
	.OutcomeGroup {
		&.Scalar {
			grid-template-columns: 1fr 0fr;
		}
	}
}

.LabelValue {
	display: flex;
	flex: 1;
	max-width: 96px;

	> span:first-of-type {
		.mono-10-medium;

		color: var(--color-secondary-text);
		display: flex;
		flex: 1;
		text-transform: capitalize;
	}

	> span:last-of-type {
		.mono-12-medium;

		color: var(--color-primary-text);
	}

	@media @breakpoint-mobile{
		flex-direction: column;

		> span:first-of-type {
			> span {
				display: none;
			}
		}
	}

	&.Condensed {
		flex-direction: column;

		> span:first-of-type {
			> span {
				display: none;
			}
		}
	}
}

.HoverIcon {
	display: flex;
	> svg {
		width: @size-16;
		height: @size-16;

		> mask {
			fill: var(--color-primary-text);
		}

    > circle {
      fill: var(--color-secondary-action);
      stroke: var(--color-secondary-action-outline);
    }

    > path {
      fill: var(--color-primary-text);
    }

    > rect {
			stroke: var(--color-primary-text);
		}
	}

	@media @breakpoint-mobile {
		display: flex;
	}
}

.ResolvedOutcomes {
	color: white;

	> span:first-of-type {
		.mono-10;

		color: var(--color-open);
		display: flex;
		margin-bottom: @size-2;
		text-transform: uppercase;

		> svg {
			height: @size-12;
			margin-left: @size-4;
			width: @size-12;

			> path {
				fill: var(--color-open);
			}
		}
	}

	> span:last-of-type {
		.text-18-bold;

		color: var(--color-primary-text);
	}

	> div {
		display: flex;
		margin-top: @size-12;
    	flex-direction: column;

		> span:first-of-type {
			.mono-10;

			margin-bottom: @size-4;
			color: var(--color-secondary-text);
			text-transform: uppercase;
		}

		> div {
			display: flex;

			> span {
				.text-12-bold;

				color: var(--color-primary-text);

				> span {
					.text-12;

					color: var(--color-secondary-text);
					margin: 0 @size-3;
				}
			}
		}
	}

	@media @breakpoint-mobile {
		margin-top: @size-12;
	}
}

.TentativeWinner {
	> span:first-of-type {
		.text-10-medium;

		color: var(--color-tenative-winner);
	}

	> span:last-of-type {
		.text-12-bold;
		
		color: var(--color-primary-text);
	}

	> button {
		grid-row: 1 / span 2;
		grid-column: 2;
		margin-left: auto;
		width: fit-content;
		height: fit-content;
	}

	&.forking {
		grid-row: unset;
		grid-column: unset;
		margin-left: unset;
	}
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
	.BettingOutcome {
		border: @size-1 solid var(--color-secondary-action-outline);
		border-radius: @border-radius-default;
		display: grid;
		grid-gap: @size-3 @size-4;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0fr 0fr;
		padding: @size-5;

		> span {
			.text-12-semi-bold;

			color: var(--color-primary-text);
			grid-row: 1;
			grid-column: span 2;
			text-align: center;
		}
	}
}

.TopRow {
	display: flex;
	align-items: center;
	grid-column: 2 / span 1;

	@media @breakpoint-mobile-tablet {
		display: grid;
		grid-template-columns: auto @size-16 @size-16;
		grid-template-rows: auto;
		grid-gap: @size-8;
		margin-top: 0;
		margin-bottom: @size-12;

		> div[class*="CategoryTagTrail"] {
			> div {
				align-items: flex-end;
				display: flex;
				margin-right: @size-8;
			}

			grid-column: unset;
			grid-row: unset;
			display: flex;
		}
	}

	> span {
		margin-right: @size-10;
		flex-flow: row nowrap;
	}

	> div[class*='CategoryTagTrail'] {
		display: flex;
		flex: 1;
	}

	> span:last-of-type {
		margin-right: @size-12;

		> span:first-of-type {
			margin-right: @size-4;
		}
	}

	> button {
		margin-right: @size-10;
	}

	> div[class*='DotSelection'] {

		> div > div:first-of-type > svg {
			stroke: none;
			height: @size-16;
			margin-right: @size-8;
			width: @size-16;

			> path:first-of-type {
				fill: var(--color-facebook);
			}

			> path:last-of-type {
				fill: var(--color-facebook-2);
			}
		}

		> div > div:nth-of-type(2) > svg {
			stroke: none;
			height: @size-16;
			margin-right: @size-8;
			width: @size-16;

			> path:first-of-type {
				fill: var(--color-twitter);
			}

			> path:last-of-type {
				fill: var(--color-twitter-2);
			}

		}

		> div > div:nth-of-type(3), > div > div:nth-of-type(4) {
			& > svg {
				fill: var(--color-primary-text);
				stroke-width: 0.5;
				stroke: var(--color-primary-text);
				height: @size-16;
				margin-right: @size-8;
				width: @size-16;
			}
		}
		> button {
			margin-right: 0 !important;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media @breakpoint-mobile-tablet {
	.TopRow {
		div:nth-last-child(2) {
			margin-right: 0;
		}

		> label {
			grid-row: 1;
			grid-column: 1;
			max-width: fit-content;
		}

		> button {
			margin-right: 0;
			grid-row: 1;
			grid-column: 2;
		}

		> div:last-of-type {
			grid-row: 1;
			grid-column: 3;
		}

		> span[class*="MarketStatus"] {
			order: 10;
			width: fit-content;
			order: unset;
			grid-column: unset;
		}

		&.template {
			> div[class*="CategoryTagTrail"] {
				margin-left: 0;
			}
		}

		&.scalar {
			> label {
				margin-left: 128px;
			}

			> div[class*="CategoryTagTrail"] {
				grid-column: 1;
				grid-row: 3;
				margin-left: 0;
			}
		}

		&.invalid {
			grid-template-columns: @size-16 auto @size-16 @size-16;
			> div[class*='CategoryTagTrail'] {
				grid-column: 2;
				margin-left: 0;
			}

			> label:first-of-type {
				grid-column: 2;
			}
		}

		> div:first-of-type {
			margin-top: 0;

			> svg {
				grid-row: 1;
			}
		}

		> span[class*="MarketTypeLabel"] {
			grid-row: 1;
			grid-column: 1;
			width: fit-content;
		}

		> span[class*="ProgressLabel"] {
			display: none;
		}
	}
}

.hoverIconTray {
	display: none;

	@media @breakpoint-mobile-tablet {
		display: flex;
		flex-flow: row nowrap;

		> div:not(:last-of-type) {
			margin-right: @size-8;
		}
	}

	> div:nth-of-type(3),
	> div:nth-of-type(4) {
		svg {
			fill: none;

			> circle {
				fill: none;
				stroke: var(--color-secondary-action-outline);
			}

			> path {
				fill: var(--color-primary-text);
			}
		}
	}
}

.OutcomeArticle {
	// used for sportsbook.
	background: var(--color-page-background);
	border-radius: @border-radius-default;
	border: @size-1 solid var(--color-outline);
	display: flex;
	flex-flow: row nowrap;
	padding: @size-8;

	> h3 {
		.text-12-semi-bold;

		color: var(--color-primary-text);
		text-transform: capitalize;
		white-space: nowrap;
		flex: 1;

		@media @breakpoint-mobile {
			margin-left: @size-4;
		}
	}

	> div {
		flex: 0 0 90px;
	}
}

.MatchedLine {
	.text-12;

	align-items: center;
	color: var(--color-secondary-text);
	display: flex;
	flex: 1;
	justify-content: flex-end;
	height: @size-18;
	
	@media @breakpoint-mobile-tablet {
		display: none;
	}

	> b {
		.text-12-bold;

		color: var(--color-primary-text);
		margin-left: @size-4;
	}
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
	.TopRow {
		border: 0;
		grid-column: span 2;
		grid-row: 1;
		padding-left: 0;

		> label {
			// this is the template shield
			display: none;
			margin-bottom: 0;
		}

		@media @breakpoint-mobile-tablet {
			grid-template-columns: @size-20 1fr 0fr 0fr 0fr;
			margin-bottom: 0;

			> div[class*="CategoryTagTrail"] {
				grid-row: 1;
				grid-column: 1 / span 3;
			}
		}

		> button[class*="FavoriteButton"] {
			margin-left: @size-10;
			margin-right: 0;
			order: 4;

			@media @breakpoint-mobile-tablet {
				grid-column: 5;
			}
		}

		> div[class*='DotSelection'] {

			@media @breakpoint-mobile-tablet {
				grid-column: 4;
			}

			> button > svg {
				height: @size-18;
				width: @size-18;
				fill: var(--color-inactive-text);
				stroke: none;
			}
			> div {
				border: 0;
				box-shadow: 0 0 @size-4 var(--color-primary-text-15);
				top: @size-22;

				> div {
					.text-14;

					align-content: center;
					color: var(--color-secondary-text);
					height: @size-44;

					&:after {
						top: @size-13;
					}

					> span {
						.text-14;

						color: var(--color-secondary-text);
					}
				}

				> div:nth-of-type(3):after {
					display: none;
				}

				> div:nth-of-type(4) {
					display: none;
				}
			}
		}

		&.futures {
			> .MatchedLine,
			> button[class*="FavoriteButton"], 
			> div[class*='DotSelection'] {
				display: none;
			}

		}

		@media @breakpoint-mobile {
			display: flex;
			flex-flow: row nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			> div[class*="CategoryTrail"] {
				flex: 1;
			}
		}
	}

  .RulesButton {
    .text-10-semi-bold;

		align-items: center;
    color: var(--color-primary-text);
		display: flex;
    flex-flow: row nowrap;
		height: @size-18;
		text-transform: uppercase;
		
		@media @breakpoint-mobile-tablet {
			grid-column: 3;
		}

    > svg {
      height: @size-12;
      width: @size-15;
      margin-right: @size-4;

      > path {
        stroke: var(--color-secondary-text);
      }
    }
	}

	.MultiOutcomeMarketGrid {
		display: grid;
		grid-gap: @size-8;
		grid-template-columns: 1fr 1fr;

		> article {
			.OutcomeArticle;
			
			width: 100%;
		}

		@media @breakpoint-mobile {
			grid-template-columns: 1fr;
			grid-gap: 0;

			> article {
				border: 0;
				border-radius: 0;
				border-bottom: @size-1 solid var(--color-outline);

				&:last-of-type {
					border-bottom: 0;
				}
			}
		}
	}

	.MultiOutcomeMarketRow {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		> article {
			.OutcomeArticle;

			> div {
				flex: 1;
			}

			flex: .34;
			margin-right: @size-8;

			&:last-of-type {
				margin-right: 0;
			}
		}

		&.FourOutcomes {
			> article {
				flex: 0.25;
			}
		}

		@media @breakpoint-mobile {
			flex-flow: column nowrap;

			> article {
				border-left: none;
				border-radius: unset;
				border-right: none;
				border-top: none;
				margin: 0;
				
				&:last-of-type {
					border-bottom: none;
				}

				> div {
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-between;

					> h6 {
						flex: 1;
						text-align: left;
						margin-left: @size-4;
					}
				}
			}
		}
	}

	.SportsOutcome {
		display: grid;
		grid-gap: @size-4;

		&.Winner {
			> button {
				align-items: center;
				background: var(--color-primary-action-20);
				border: @size-1 solid transparent;
				border-radius: @border-radius-default;
				flex-flow: row nowrap;
				justify-content: center;
				
				> svg {
					height: @size-16;
					width: @size-16;
				}

				> span:last-of-type {
					.text-10;

					color: var(--color-primary-text);
					display: flex;
					flex-flow: column;
					padding: 0 @size-8;

					> span:last-of-type {
						.text-10-semi-bold;

						text-transform: uppercase;
					}
				}
	
				&:hover:enabled,
				&:active:enabled {
					background: var(--color-primary-action-20) !important;
				}
			}
		}

		> h6 {
			.text-14-bold;
			
			color: var(--color-primary-text);
			text-align: center;
			margin-bottom: @size-4;
		}

		> button {
			border: @size-1 solid var(--color-positive);
			border-radius: @border-radius-default;
			background: var(--color-positive-15);
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;
			height: @size-36;

			&:hover:enabled,
			&:active:enabled {
				background: var(--color-positive-40);
			}

			&:disabled {
				opacity: 0.25;

				> span:first-of-type {
					display: none;
				}

				> span:last-of-type {
					display: block;
				}
			}

			> span {
				.text-10-semi-bold;

				color: var(--color-primary-text);

				&:first-of-type:not(:last-of-type) {
					.text-12;
				}
			}

			> p {
				.text-10;

				display: none;
				margin: 0;
				padding: 0;
				color: var(--color-primary-text);
				text-align: center;
				min-height: @size-12;
			}
		}

		> span {
			.text-10;

			color: var(--color-primary-text);
			text-align: center;
			min-height: @size-12;
		}

		@media @breakpoint-mobile {
			grid-gap: 0;

			> span {
				display: none;
			}

			> button {
				min-width: @size-90;

				> span:first-of-type:not(:last-of-type) {
					display: none;
				}

				> p {
					display: block;
				}
			}
		}
	}

	.RelatedMarketsDivider {
		.text-14;

		align-items: center;
		color: var(--color-primary-text);
		display: flex;
		flex-flow: row nowrap;
		grid-column: span 2;
		height: @size-20;
		margin: @size-24 0;

		> svg {
			height: @size-14;
			width: @size-14;
			margin-left: @size-4;

			> circle {
				stroke: var(--color-dark-text);
				fill: none;
			}

			> path {
				fill: var(--color-dark-text);
				stroke: none;
			}
		}
	}

	.SportsMarketContainer {
		flex-flow: column nowrap;
		flex: 1;
		border: @size-1 solid var(--color-outline);
		border-radius: @border-radius-default;

		> header { 
			> span:first-of-type[class*="ProgressLabel"] {
				> span:first-of-type {
					.text-12;
				}

				> span:last-of-type {
					.text-12-semi-bold;
				}
			}

			> svg {
			height: @size-20;
			width: @size-20;
			padding: @size-2;
			border: @size-1 solid var(--color-dark-grey);
			border-radius: @size-16;
			margin-left: @size-8;

				> g > path {
					fill: var(--color-secondary-text);
				}
			}
		}

		&.Collapsed {
			> header {
				border-radius: @border-radius-default;
				border-bottom: @size-1 solid transparent;

				> button:not([class*="FavoriteButton"]) > svg {
					transform: none;
				}
			}
			
			> div {
				display: none;
			}

			&:hover {
				border: @size-1 solid var(--color-dark-text);
			}
		}

		&.NoHeader {
			> header {
				display: none;
			}
		}

		&.GroupPage {
			> div:first-of-type {
				background: var(--color-module-background);

				> ul:hover {
					background: var(--color-page-background);
				}
			}
		}

		&.ComboContainer {
			> div {
				display: flex;
				flex-flow: column nowrap;
				background: var(--color-page-background);
				padding: 0;
	
				> ul {
					align-items: center;
					display: flex;
					flex-flow: row nowrap;
					flex: 1;
					padding: @size-8;
					width: 100%;
	
					&:last-of-type {
						border-bottom-right-radius: @border-radius-default;
						border-bottom-left-radius: @border-radius-default;
					}
					
					&:not(:last-of-type) {
						border-bottom: @size-1 solid var(--color-outline);
					}
	
					> li:first-of-type {
						.text-14-bold;
	
						align-self: baseline;
						color: var(--color-primary-text);
						flex: 1;
						margin-left: 0;
					}
	
					> li {
						flex: 0.2;
						margin-left: @size-8;
					}
				}
			}
		}

		> header {
			align-items: center;
			display: flex;
			background: var(--color-table-header);
			border-top-right-radius: @border-radius-default;
			border-top-left-radius: @border-radius-default;
			border-bottom: @size-1 solid var(--color-outline);
			max-height: @size-30;
			height: @size-30;
			padding: 0 @size-12;

			> ul {
				align-items: center;
				display: flex;
				flex-flow: row nowrap;
				height: @size-30;
				width: 100%;
				flex: 1;

				> li:first-of-type {
					flex: 1;
					margin-left: 0;
				}

				> li {
					.text-10-semi-bold;
					color: var(--color-secondary-text);
					flex: 0.2;
					text-align: center;
					text-transform: uppercase;
					margin-left: @size-8;
				}
			}

			> h6 {
				.text-10-semi-bold;
				.limit-lines(2);

				color: var(--color-secondary-text);
				text-transform: uppercase;
				display: flex;
				height: 100%;
				align-items: center;
				text-overflow: ellipsis;
			}

			> span[class*="ProgressLabel"] {
				flex-flow: row nowrap;
				flex: 0;
				align-items: center;
				height: 100%;
				margin-left: auto;

				@media @breakpoint-mobile {
					display: none;
				}

				> span { 
					margin: 0;

					&:last-of-type {
						margin-left: @size-4;
					}
				}
			}

			> div[class*="DotSelection"],
			> button[class*="FavoriteButton"] {
				margin-left: @size-12;
			}

			> button:not([class*="FavoriteButton"]) {
				align-items: center;
				display: flex;
				width: 100%;
				height: 100%;
				justify-content: space-between;

				&.toggleCollapsed {
					// margin-left: auto;
					width: @size-24;
					justify-content: flex-end;
				}

				> h6 {
					.text-10-semi-bold;
	
					color: var(--color-secondary-text);
					text-transform: uppercase;
					margin-right: auto;
				}

				> svg {
					height: @size-6;
					transform: rotate(.5turn);
					width: @size-10;

					> path {
						fill: var(--color-primary-text);
					}
				}
			}
		}

		> div {
			border-bottom-right-radius: @border-radius-default;
			border-bottom-left-radius: @border-radius-default;
			background: var(--color-module-background);
			padding: @size-8;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;

			@media @breakpoint-mobile {
				&:first-of-type {
					padding: 0;
				}
			}

			> section {
				width: 100%;
			}
		}
	}
}

:root[theme="SPORTS"] {
	.TopRow {
		> label:first-of-type {
			margin-right: @size-8;
		}

		span[class*="MarketTypeLabel"] {
			display: none;
		}
	}

	.ShowCopied {
		position: relative;
		
	  &:before {
			.text-12;
		
			content: 'Copied!';
			align-items: center;
			color: var(--color-module-background);
			background: var(--color-primary-text-80);
			border-radius: @border-radius-default;
			display: flex;
			justify-content: center;
			padding: @size-8;
			position: absolute;
			left: -@size-24;
			right: -@size-24;
			text-transform: capitalize;
			top: -@size-39;
		}

		&:after {
			content: '';
		
			border-top: solid @size-8 var(--color-primary-text-80);
			border-left: solid @size-8 transparent;
			border-right: solid @size-8 transparent;
			position: absolute;
			top: -@size-8;
		}
	}
	
	div.ReportedOutcome {
		max-width: @size-106;

		> div {
			align-items: center;
			background: var(--color-open-20);
			border-radius: @border-radius-default;
			display: flex;
			flex-flow: row nowrap;
			height: @size-36;
			justify-content: center;
			width: @size-106;

			> svg {
				height: @size-16;
				margin-right: @size-8;
				width: @size-16;
			}

			> div {
				display: flex;
				flex-flow: column nowrap;

				> span {
					.text-12;
	
					color: var(--color-primary-text);
					white-space: nowrap;
				}
	
				> span:last-of-type {
					.text-10-semi-bold;
				}
			}

		}

		&.Tenatative > div {
			background: var(--color-reporting-15);

			> svg {
				display: none;
			}

			> div > span:nth-of-type(2) {
				display: none;
			}
		}

		> span:last-of-type {
			.text-10-semi-bold;

			text-transform: uppercase;
		}
	}

	div.OutcomeGroupFooter {
		height: @size-40;
		flex-flow: row-reverse nowrap;
		padding: 0;

		> span.MatchedLine {
			margin: 0 @size-8;
			justify-content: unset;
			display: flex;
		}

		> span[class*="ProgressLabel"] {
			display: none;
			margin: 0 @size-8;
		}

		&.NoLeader {
			display: none;
		}

		> span > a {
			.text-10-semi-bold;

			color: var(--color-primary-text);
			text-transform: uppercase;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;
			padding: 0 @size-16;

			> svg {
				height: @size-6;
				width: @size-8;
				transform: rotate(-90deg);
				margin-right: @size-4;

				> path {
					fill: var(--color-primary-text);
				}
			}
		}

		> p {
			.text-14;
	
			align-items: center;
			border-top: @size-1 solid var(--color-outline);
			color: var(--color-primary-text);
			display: flex;
			flex-flow: row nowrap;
			flex: 1;
			margin: 0;
			height: 100%;
			font-style: italic;
			padding: 0 @size-8;

			> svg {
				height: @size-24;
				width: @size-24;
			}

			> b {
				margin: 0 @size-4;
			}
		}

		@media @breakpoint-mobile {
			height: unset;
			flex-flow: row-reverse wrap;
			padding: @size-12 @size-10 @size-10;
			border-top: @size-1 solid var(--color-outline);

			> span,
			> span[class*="ProgressLabel"] {
				flex: 1;
				display: flex;
				margin: 0;

				&.MatchedLine {
					height: unset;
					flex-flow: column nowrap;
					justify-content: center;
					align-items: flex-end;
					margin: 0;
					margin-left: @size-8;
				}
			}

			> span:first-of-type {
				flex: 1 100%;
				order: 3;
				border: @size-1 solid var(--color-outline);
				border-radius: @border-radius-default;
				justify-content: center;
				padding: @size-8;
				margin-top: @size-10;
			}
		}
	}

	div.FuturesDivider {
		.text-14;

		align-items: center;
		color: var(--color-primary-text);
		display: flex;
		flex-flow: row nowrap;
		grid-column: span 2;
		height: @size-20;

		@media @breakpoint-mobile {
			height: unset;
		}

		> svg {
			height: @size-14;
			width: @size-14;
			margin-left: @size-4;

			> circle {
				stroke: var(--color-dark-text);
				fill: none;
			}

			> path {
				fill: var(--color-dark-text);
				stroke: none;
			}
		}
	}
}