@import (reference) '~assets/styles/shared';

.Outcome {
	background: @color-secondary-action;
	border: 1px solid @color-secondary-action-outline;
	border-radius: @border-radius-default;
	display: flex;
	flex-direction: column;
	padding: @size-8 @size-12;

	> div:first-of-type {
		margin-bottom: @size-8;
		justify-content: space-between;
		display: flex;

		> span:first-of-type {
			.text-12-bold;

			color: @color-primary-text;
		}

		> span:last-of-type {
			.mono-12-bold;

			color: @color-primary-text;

			&.Zero {
				color: @color-secondary-text;
			}
		}
	}

	&.invalid {
		> div:first-of-type > span:first-of-type {
			color: @color-outcome-invalid;
		}

		> div:last-of-type > span {
    		background: @color-outcome-invalid;
    	}
	}

	.generate-indexed-color-outcome-alternate-classes({
	    &.Outcome-@{newIndex} {
	    	> div:last-of-type {
	    		> span {
	    			background: @value;
	    		}
	    	}
	    }
	});

	&:hover {
		background: @color-secondary-hover;

		> div:first-of-type > span:first-of-type {
			text-decoration: underline
		}
	}

	@media @breakpoint-mobile-mid {
		grid-column: 1 / span 2;
	}
}

.DisputeOutcome {
	.Outcome;

	> span:first-of-type {
		.text-12-bold;

    color: @color-primary-text;
	}

	> span:nth-of-type(2) {
		.mono-10;

		color: @color-tenative-winner;
		margin-bottom: @size-6;
		margin-top: @size-4;
		text-transform: uppercase;
	}

	> div {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-bottom: 0;

		> div {
			display: flex;
			flex-direction: column;
			flex: 1;

			> span:first-of-type {
				.mono-10;

				color: @color-secondary-text;
				margin-bottom: @size-2;
				text-transform: uppercase;
			}

			> span:nth-of-type(2) {
				.mono-10;

				color: @color-primary-text;

				> span {
					color: @color-secondary-text;
					margin-left: @size-5;
				}
			}
		}
	}

	> div:first-of-type {
    margin-bottom: 0;

    &.blank {
      padding-top: @size-16;
    }
	}

	> div:not(:last-of-type) {
		border-radius: @size-4;
		margin-bottom: @size-9;
		margin-top: @size-10;

		> span {
			background: @color-negative;
			border-radius: @size-4;
		}
	}

	&.invalid {
		> span:first-of-type {
			color: @color-outcome-invalid;
		}
	}

	@media @breakpoint-max-tablet {
		display: grid;
		flex-direction: unset;
		grid-template-columns: 1fr 1fr;

		> span:first-of-type {
			grid-column: 1;
			grid-row: 1;
		}

		> span:nth-of-type(2) {
			grid-column: 2;
			grid-row: 1;
			margin-left: auto;
		}

		> div:first-of-type {
			grid-column: 1 / span 2;
			grid-row: 2;
		}

		> div:last-of-type {
			grid-column: 1 / span 2;
			grid-row: 3;

			> button {
				align-self: flex-end;
			}
		}
	}
}

.Percent {
	background: @color-module-background;
	border-radius: @border-radius-default;
	height: 2px;

	> span {
		height: 2px;
		display: block;
		border-radius: @border-radius-default;
	}

	&.invalid {
		background-color: fade(@color-outcome-invalid, 50);
	}
}

.ScalarOutcome {
	background: @color-secondary-action;
	border: 1px solid @color-secondary-action-outline;
	border-radius: @border-radius-default;
	display: flex;
	flex-direction: column;
	padding: @size-20 @size-8 @size-6;

	> div:first-of-type {
		.mono-11-bold;

		background: @color-dark-grey;
		border-radius: @size-4;
		height: @size-4;
		margin-bottom: @size-3;
		color: @color-outcome-invalid;
		position: relative;

		> span {
			position: absolute;
			bottom: @size-5;

			&::before {
				background-color: @color-outcome-invalid;
				border-radius: 50%;
				content: "";
				height: @size-6;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 100%;
				width: @size-6;
			}
		}
	}

	> div:last-of-type {
		.mono-10;

		color: @color-secondary-text;
		display: flex;
    	justify-content: space-between;

		> span {
			.mono-9;
		}
	}
}

.OutcomeGroup {
  display: grid;
	grid-gap: @size-6;
	padding-left: @size-12;
	border-left: 1px solid @color-dark-grey;

	grid-template-columns: repeat(3, 1fr);

	@media @breakpoint-mobile-mid {
		grid-template-columns: repeat(1, 1fr);
	}

	&.Scalar {
		> span:first-of-type {
			grid-column: 1 / span 2;
		}
	}

	&.Dispute {
		grid-template-columns: repeat(2, 1fr);
		grid-column: 2;

		> div {
			grid-column: span 1;

			@media @breakpoint-max-tablet {
				grid-column: 1 / span 2;
			}
		}
	}

  @media @breakpoint-max-tablet {
    grid-column: 1 / span 2;
		padding: 0;
		border: none;
  }

  @media @breakpoint-mobile-mid {
    grid-template-columns: repeat(1, 1fr);
	}
}

.LabelValue {
	display: flex;
	flex: 1;
	max-width: 96px;

	> span:first-of-type {
		.mono-10-bold;

		color: @color-secondary-text;
		display: flex;
		flex: 1;
	}

	> span:last-of-type {
		.mono-11-medium;

		color: @color-primary-text;
	}

	@media @breakpoint-mobile-mid{
		flex-direction: column;

		> span:first-of-type {
			> span {
				display: none;
			}
		}
	}

	&.Condensed {
		flex-direction: column;

		> span:first-of-type {
			> span {
				display: none;
			}
		}
	}
}

.HoverIcon {
	> svg {
		width: @size-16;
		height: @size-16;

		> mask {
			fill: @color-primary-text;
		}

		> rect {
			stroke: @color-primary-text;
		}
	}
}

.ResolvedOutcomes {
	color: white;

	> span:first-of-type {
		.mono-10;

		color: @color-open;
		display: flex;
		margin-bottom: @size-2;
		text-transform: uppercase;

		> svg {
			height: @size-12;
			margin-left: @size-4;
			width: @size-12;

			> path {
				fill: @color-open;
			}
		}
	}

	> span:last-of-type {
		.text-18-bold;

		color: @color-primary-text;
	}

	> div {
		display: flex;
		margin-top: @size-12;
    	flex-direction: column;

		> span:first-of-type {
			.mono-10;

			margin-bottom: @size-4;
			color: @color-secondary-text;
			text-transform: uppercase;
		}

		> div {
			display: flex;

			> span {
				.text-12-bold;

				color: @color-primary-text;

				> span {
					.text-12;

					color: @color-secondary-text;
					margin: 0 @size-3;
				}
			}
		}
	}
}
