@import (reference) '~assets/styles/shared';

.MarketCard {
  background: @color-module-background;
  border-radius: @border-radius-default;
  border: 1px solid @color-dark-grey;
  margin: @size-4 0;
  display: grid;
  grid-template-columns: 102px auto;
  grid-template-rows: @size-32 auto;
  padding-right: @size-12;

  > div:last-of-type,
  > div:nth-of-type(2) {
    padding-left: @size-12;

    > label {
      height: @size-16;
      margin-bottom: 0;
      margin-right: @size-8;
    }
  }

  > div:nth-of-type(2),
  > div:nth-last-of-type(2),
  > span,
  > h2,
  > h3 {
    border-left: 1px solid @color-dark-grey;
    padding-left: @size-12;
  }

  > div:first-of-type {
    grid-row: 1 / span 3;
    padding: 0 @size-12;
    margin-top: @size-12;

    > span {
      display: none;
    }

    > div {
      flex-direction: column;
      text-transform: uppercase;
      text-align: left;
    }

    > div.hoverIconTray {
      display: none;

      > div:nth-of-type(3),
      > div:nth-of-type(4) {
        svg {
          fill: none;

          > circle {
            fill: none;
            stroke: @color-secondary-action-outline;
          }

          > path {
            fill: @color-primary-text;
          }
        }
      }
    }

    > div:nth-child(even) {
      margin-top: @size-8;
      padding-bottom: 0;
    }
  }

  > div.TopRow {
    display: flex;
    align-items: center;
    grid-column: 2 / span 1;

    > span {
      margin-right: @size-10;
      flex-flow: row nowrap;
    }

    > div[class*='CategoryTagTrail'] {
      display: flex;
      flex: 1;
    }

    > span:last-of-type {
      margin-right: @size-12;

      > span:first-of-type {
        margin-right: @size-4;
      }
    }

    > button {
      margin-right: @size-10;
    }

    > div[class*='DotSelection'] {

      > div > div:first-of-type > svg {
        stroke: none;
        height: @size-16;
        margin-right: @size-8;
        width: @size-16;

        > path:first-of-type {
          fill: @color-facebook;
        }

        > path:last-of-type {
          fill: @color-outcome-seven;
        }
      }

      > div > div:nth-of-type(2) > svg {
        stroke: none;
        height: @size-16;
        margin-right: @size-8;
        width: @size-16;

        > path:first-of-type {
          fill: @color-twitter;
        }

        > path:last-of-type {
          fill: @color-outcome-seven;
        }

      }

      > div > div:nth-of-type(3), > div > div:nth-of-type(4) {
        & > svg {
          fill: @color-primary-text;
          stroke-width: 0.5;
          stroke: @color-primary-text;
          height: @size-16;
          margin-right: @size-8;
          width: @size-16;
        }
      }
      > button {
        margin-right: 0 !important;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  > div:last-of-type {
    display: flex;
    grid-row: 4 / span 1;
    grid-column: 1;
    padding-bottom: @size-8;
    border-right: 1px solid @color-dark-grey;
    margin-right: -1px;
    align-items: flex-end;

    > div:not(:first-of-type) {
      margin-left: @size-4;
    }

    > div:nth-of-type(3),
    > div:nth-of-type(4) {
      svg {
        fill: none;

        > circle {
          fill: none;
          stroke: @color-secondary-action-outline;
        }

        > path {
          fill: @color-primary-text;
        }
      }
    }
  }

  > span,
  > h2,
  > h3 {
    .text-16-bold;

    align-self: center;
    color: @color-primary-text;
    grid-column: 2;
    padding-bottom: @size-16;
    padding-top: @size-4;
    height: 100%;
    justify-content: center;

    > a {
      .limit-lines(3);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  > div:nth-last-of-type(2) {
    display: grid;
    grid-column: 2;
  }

  > button:last-of-type {
    .mono-10-medium;

    align-self: flex-start;
    color: @color-primary-text;
    display: flex;
    text-transform: uppercase;
    grid-column: 2;
    padding: @size-4 @size-12;

    > span {
      margin-right: @size-6;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  @keyframes colorchange {
    0% {
      background-color: fade(@color-secondary-action-outline, 70);
    }

    100% {
      background-color: fade(@color-secondary-action-outline, 100);
    }
  }

  &.Loading {
    display: grid;
    grid-template-columns: 82px auto 96px;
    grid-row-gap: @size-19;
    grid-column-gap: @size-12;
    padding: @size-12;

    > div {
      animation: colorchange 0.5s infinite;
      animation-direction: alternate-reverse;

      background: @color-secondary-action-outline;
      height: @size-12;
    }

    > div:nth-of-type(1) {
      max-width: 53px;
      grid-row: 1 / span 2;
      margin-top: 0;
    }

    > div:nth-of-type(2) {
      max-width: 264px;
    }

    > div:nth-of-type(3) {
      max-width: 96px;
      margin: 0;
    }

    > div:nth-of-type(4) {
      max-width: 82px;
    }

    > div:nth-of-type(5) {
      max-width: 412px;
    }

    > div:nth-of-type(6) {
      max-width: 74px;
    }

    > div:nth-of-type(7) {
      max-width: 70px;
      padding-bottom: 1px;
      grid-row: 3 / span 1;
    }
  }

  &.Nonexpanding {
    > div:last-of-type {
      align-items: flex-end;
      grid-row: 3 / span 1;
    }

    > div:nth-last-of-type(2) {
      padding-bottom: @size-8;
      grid-column: 2;
    }

    > div:first-of-type {
      grid-row: 1 / span 2;
    }
  }

  &.Condensed {
    > span,
    > h2,
    > h3 {
      align-self: flex-start;
      padding-top: 0;
      margin-top: 0;
      padding-bottom: @size-12;

      > a {
        .text-14-bold;

        -webkit-line-clamp: 2;
      }
    }

    > div:last-of-type {
      grid-row: 3;
      padding-bottom: @size-8;
      padding-top: 0;

      > div {
        display: flex;
      }
    }

    > div:nth-of-type(1) {
      grid-row: 1 / span 1;
      margin-top: @size-10;
    }
  }

  &.Forking {
    > div:last-of-type {
      grid-row: 5 / span 1;
      align-items: flex-end;
    }

    > div[class*="OutcomeGroup"] {
      grid-column: 2;
    }

    > button {
      border-left: 1px solid @color-dark-grey;
    }

    &.Nonexpanding {
      > div:last-of-type {
        grid-row: 4 / span 1;
      }

      > div[class*="MigrateMarketNotice"] {
        grid-row: 4;
      }
    }

    &.Condensed {
      > div[class*="MigrateMarketNotice"] {
        grid-column: 2;
        grid-row: 4;
      }
    }

    @media @breakpoint-mobile-tablet {
      > div[class*="MigrateMarketNotice"] {
        margin-top: @size-10;
        grid-column: 1 / span 2;
        padding: 0;
      }

      > div[class*="OutcomeGroup"] {
        grid-column: 1 / span 2;
      }

      &.Condensed {
        > div[class*="MigrateMarketNotice"] {
          grid-row: 3;
          margin-top: 0;
          grid-column: 1 / span 2;
        }
      }

      &.Nonexpanding {
        > div[class*="MigrateMarketNotice"] {
          grid-column: 1 / span 2;
          padding: 0;
          margin-bottom: @size-10;
        }
      }
    }
  }

  @media @breakpoint-mobile {
    margin: @size-4 0;

    > div:nth-of-type(2) {
      > label {
        margin-right: 0;
      }

      > svg {
        grid-row: 1;
      }
    }

    &.Nonexpanding {
      > div:nth-last-of-type(2) {
        grid-column: 1 / span 2;
        margin-bottom: 0;
      }
    }

    > div:nth-last-of-type(2) {
      column-gap: 0;
    }

    &.Condensed {
      > div:first-of-type {
        grid-row: unset;
      }

      > span,
      > h2,
      > h3 {
        padding-bottom: 0;
        margin: 0;
      }
    }

    &.invalid {
      > label:first-of-type {
        grid-column: 2;
      }
    }
  }

  @media @breakpoint-mobile-tablet {
    grid-template-rows: auto;
    grid-template-columns: auto;
    padding: @size-12;
    margin: @size-4 0;

    &.Nonexpanding {
      > div:nth-last-of-type(2) {
        grid-column: 1 / span 2;
        margin-bottom: 0;
      }
    }

    > div:last-of-type {
      display: none;
    }

    > div:nth-of-type(2),
    > div:nth-last-of-type(2),
    > span,
    > h2,
    > h3,
    > button:last-of-type {
      border: 0;
      padding: 0;
      grid-column: 1 / span 2;
    }

    > div:nth-last-of-type(2) {
      grid-column: 1 / span 2;
      margin-bottom: @size-10;

      > label {
        margin-right: 0;
      }
    }

    > span,
    > h2,
    > h3 {
      .limit-lines(3);

      margin: 0 0 @size-12;
      height: min-content;
    }

    &.Nonexpanding > div:first-of-type,
    > div:first-of-type {
      align-items: flex-end;
      display: flex;
      grid-column: 1 / span 2;
      grid-row: unset;
      justify-content: space-between;
      margin-top: @size-12;
      order: 10;
      padding: 0;

      > div.hoverIconTray {
        display: flex;
        flex-flow: row nowrap;

        > div:not(:last-of-type) {
          margin-right: @size-8;
        }
      }

      > div[class*="LabelValue"]:nth-of-type(2) {
        display: none;
      }

      > span {
        display: flex;

        > span:last-of-type {
          text-align: right;
        }
      }
    }

    > div.TopRow {
      display: grid;
      grid-template-columns: auto 1fr @size-16 @size-16;
      grid-template-rows: auto;
      grid-gap: @size-8;
      margin-top: 0;
      margin-bottom: @size-12;

      div:nth-last-child(2) {
        margin-right: 0;
      }

      > label {
        grid-row: 1;
        grid-column: 1;
        max-width: fit-content;
      }

      > button {
        margin-right: 0;
        grid-row: 1;
        grid-column: 3;
      }

      > div:last-of-type {
        grid-row: 1;
        grid-column: 4;
      }

      > div[class*="CategoryTagTrail"] {
        > div {
          align-items: flex-end;
          display: flex;
          margin-right: @size-8;
        }

        grid-column: unset;
        grid-row: unset;
        display: flex;
      }

      > span[class*="MarketStatus"] {
        order: 10;
        width: fit-content;
        order: unset;
        grid-column: 1 / span 2;
      }

      &.template {
        > div[class*="CategoryTagTrail"] {
          grid-row: 1;
          grid-column: 2;
        }
      }

      &.scalar {
        > label {
          margin-left: 128px;
        }

        > div[class*="CategoryTagTrail"] {
          grid-column: 1;
          grid-row: 3;
          margin-left: 0;
        }
      }

      &.invalid {
        grid-template-columns: @size-16 auto @size-16 @size-16;
        > div[class*='CategoryTagTrail'] {
          grid-column: 2;
          margin-left: 0;
        }

        > label:first-of-type {
          grid-column: 2;
        }
      }

      > div:first-of-type {
        margin-top: 0;

        > svg {
          grid-row: 1;
        }
      }

      > span[class*="MarketTypeLabel"] {
        grid-row: 1;
        grid-column: 1;
        width: 118px;
        width: -moz-fit-content;
        width: fit-content;
      }

      > span[class*="ProgressLabel"] {
        display: none;
      }

      &.inReport.scalar {
        > span[class*="MarketStatus"] {
          grid-column: 2;
          grid-row: 1;
        }

        > div[class*="CategoryTagTrail"] {
          grid-row: 2;
          grid-column: 1 / span 4;
        }

        > span[class*="MarketTypeLabel"] {
          margin-right: 0;
        }
      }

      &.inReport.scalar.template {
        grid-template-columns: auto auto 1fr 1rem 1rem;

        > span[class*="MarketStatus"] {
          grid-column: 3;
          grid-row: 1;
        }

        > button {
          grid-column: 4;
        }

        > div:last-of-type {
          grid-column: 5;
        }

        > div[class*="CategoryTagTrail"] {
          grid-column: 1 / span 4;
          grid-row: 2;
        }

        > label {
          margin-left: 0;
          grid-column: 2;
        }

        > span[class*="MarketTypeLabel"] {
          margin-right: 0;
        }
      }
    }
  }

  > div:nth-last-of-type(2) {
    margin-bottom: 0;
  }

  > button:last-of-type {
    margin-top: 0;
    height: 100%;
    margin-bottom: @size-12;

    @media @breakpoint-mobile {
      border: @size-1 solid @color-secondary-action-outline;
      border-radius: @border-radius-default;
      height: @size-32;
      justify-content: center;
      align-items: center;
      margin-top: @size-8;
      margin-bottom: 0;
    }

    @media @breakpoint-mobile-tablet {
      grid-row: unset;
      margin-bottom: 0;
      margin-top: @size-8;

    }
  }
}

.MigrateMarketNotice {
  grid-row: 5 / span 1;
  padding: @size-10 @size-16;
}
