@import (reference) '~assets/styles/shared';

.MarketCard {
	background: @color-secondary-action;
	border-radius: @border-radius-default;
	border: 1px solid @color-primary-light;
	display: flex;
	margin: @size-4 @size-16;
    display: grid;
    grid-template-columns: 111px auto;
	padding: 0 @size-16;

	> div:first-of-type, 
	> div:nth-of-type(2) {
		padding-top: @size-12;
	}

	> div:nth-of-type(2),
	> div:last-of-type, 
	> span {
		border-left: 1px solid @color-primary-background;
		padding-left: @size-16;
	}

	> div:first-of-type {
		display: flex;
		grid-column: 1 / span 1;
		
		> div:not(:first-of-type) {
			margin-left: @size-4;
		}
	}

	> span {
		.text-16-medium;

		color: @color-alternate-info-text;
		padding-bottom: @size-16;
		padding-top: @size-4;
	}

	> div:nth-of-type(2) {
		display: flex;
    	align-items: flex-start;

    	> span:nth-of-type(2) {
    		margin: 0 @size-10;
    	}

    	> div:first-of-type {
    		display: flex;
    		flex: 1;
    	}

    	> span:last-of-type {
    		margin-right: @size-12;
    	}

    	> div:nth-of-type(2) {
    		> button {
    	    	margin-right: 0 !important;
    	    }
    	}
	}

	> div:last-of-type {
		display: grid;
		grid-column: 2;
		padding-bottom: @size-12;
	}

	@media @breakpoint-mobile-mid {
		grid-template-rows: repeat(4, auto);
    	grid-template-columns: auto auto;
    	padding: @size-16 @size-12 @size-12;

		> div:nth-of-type(2),
		> div:last-of-type, 
		> span {
			border: 0;
			padding: 0;
			grid-column: 1 / span 2;
		}
		
		> div:last-of-type {
			grid-column: 1 / span 2;
		}

		> div:nth-of-type(3) {
			order: 4;
			margin-top: @size-10;

			> div:last-of-type {
				display: none;
			}
		}

		> span {
			margin: @size-12 0;
		}

		> div:first-of-type {
			grid-column: unset;
			order: 5;
			padding-top: 0;
		    display: flex;
		    justify-content: flex-end;
		    margin-top: @size-10;
		}
	}
}