@import (reference) '~assets/styles/shared';

.MarketAdditionalDetails__details-wrapper {
  background-color: @color-darkpurple;
}

.MarketAdditionalDetails__details-container {
  color: @color-white;
  font-size: @font-size-small;
  line-height: @font-size-medium;
  margin: auto;
  max-width: 62.75rem;
  overflow: auto;
  padding: 1.875rem 2rem;
  transition: height @animation-speed-normal @animation-default-type;

  > h4 {
    &:extend(.caps--small);

    color: @color-lightgray;
    display: inline-block;
    padding-right: 0.5em;
  }
}

.MarketAdditionalDetails__details-helper-text {
  margin-bottom: 0;
}

.MarketAdditionalDetails__details-details-text,
.MarketAdditionalDetails__details-details-text:disabled {
  background: none;
  border: 0;
  color: @color-lightgray;
  margin: 1rem 0 0;
  overflow: hidden;
  padding: 0;
  resize: none;
  text-transform: none;
  white-space: pre-wrap;
}

@media @breakpoint-mobile-medium {
  .MarketAdditionalDetails__details-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
