@import (reference) '~assets/styles/shared';
@import (reference) '~modules/market/components/market-view/market-view.styles';

.MarketAdditional__details-wrapper {
  &:extend(.caps--small);

  color: @color-lightgray;
  display: block;
  margin-top: 2rem;
  max-width: 62.75rem;
}

.MarketAdditional__details-button {
  &:extend(.caps--small);

  margin-left: 1rem;

  svg {
    height: 1em;
    margin-left: 0.2em;

    polyline {
      stroke: @color-lightgray;
    }
  }
}

.MarketAdditional__details {
  color: @color-lightgray;
  display: inline-block;
  max-height: 200px;
  overflow-y: auto;
  padding: 1em 1em 0;
}

.MarketAdditional__details-container {
  background-color: @color-darkpurple;
  display: absolute;
  font-size: @font-size-small;
  line-height: @font-size-medium;
  overflow: auto;
  margin-top: 2rem;
  transition: height @animation-speed-normal @animation-default-type;
}

.MarketAdditional__resolution-source {
  &:extend(.caps--small);

  color: @color-lightgray;
  padding: 1em;

  h4 {
    display: inline-block;
    padding-right: 0.5em;
  }

  span {
    color: @color-white;
  }
}
