@import (reference) '~assets/styles/shared';

.OrderBook {
  background-color: @color-tertiary-background;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Side {
  flex: 1 1;
  font-size: @size-12;
  font-weight: 400;
  height: auto;
  justify-content: flex-end;
  letter-spacing: 0.3px;
  line-height: @size-12;
  text-transform: capitalize;
  position: relative;

  > div {
    bottom: 0;
    left: 0;
    max-height: 100%;
    overflow: overlay;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;

    &.Asks {
      top: unset;
    }

    > button {
      display: flex;
      padding: @size-4 @size-16 @size-4 @size-10;
      position: relative;
      width: 100%;

      &::before {
        background-color: @color-positive;
        bottom: 0;
        content: '';
        display: block;
        height: @size-18;
        left: 0;
        position: absolute;
        top: 55%;
        transform: translate(-50%, -50%);
        width: 1px;
      }

      &.Positive {
        &::before {
          background-color: @color-negative;
        }
      }

      &.Hover {
        background-color: @color-theme-primary;

        &::before {
          width: @size-6;
        }
      }

      > div:not(:first-of-type) {
        z-index: @above-all-content;
      }

      > div:first-of-type {
        max-width: @size-38;
        width: @size-38;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        > div {
          background-color: fade(@color-positive, 50%);
          bottom: 0;
          cursor: pointer;
          left: 0;
          pointer-events: none;
          position: absolute;
          top: 1px;
          z-index: @default-z-index;

          &.Neg {
            background-color: fade(@color-negative, 50%);
          }
        }
      }
    }
  }
}

.NoOrders {
  .mono-10;

  align-items: center;
  align-self: center;
  color: @color-inactive-text;
  display: flex;
  justify-content: center;
}

.EncompassedHover {
  background-color: @color-theme-primary;
}

.AskHead {
  .Ask {
    color: @color-primary-text;
  }
}

.BidHead {
  .Bid {
    color: @color-primary-text;
  }
}

.Ask,
.Bid {
  &:nth-of-type(2) {
    justify-content: flex-start;
  }

  &:nth-of-type(3) {
    justify-content: center;
  }
}

.Ask {
  .mono-9;

  color: @color-primary-text;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  overflow: hidden;
  line-height: @size-11;

  &:nth-child(3) {
    color: @color-negative;
  }
}

.Bid {
  .mono-9;

  color: @color-primary-text;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  overflow: hidden;
  line-height: @size-11;

  &:nth-child(3) {
    color: @color-positive;
  }
}

.NoSize {
  color: @color-inactive-text;
}

.Midmarket {
  .mono-9-bold;

  background-color: fade(@color-primary-alternate, 70%);
  color: @color-inactive-text;
  margin: 1px 0;
  padding: @size-6 @size-12;
  text-transform: uppercase;

  > div {
    align-items: center;
    display: flex;
    justify-content: center;

    > span:first-of-type {
      margin-right: @size-6;
    }

    > span:last-of-type {
      margin-left: 2px;
    }
  }
}
