@import (reference) "~assets/styles/shared";

.TradingIndicator_arrow_buy_up,
.TradingIndicator_arrow_buy_down,
.TradingIndicator_arrow_sell_up,
.TradingIndicator_arrow_sell_down,
.TradingIndicator_arrow {
  border: solid transparent;
  border-color: rgba(136, 183, 213, 0);
  border-width: 10px;
  bottom: 45%;
  margin-left: 15px;
  position: absolute;
}

.TradingIndicator_arrow_buy_up {
  border-bottom-color: @color-positive;
}

.TradingIndicator_arrow_buy_down {
  border-top-color: @color-positive;
  top: 40%;
}

.TradingIndicator_arrow_sell_up {
  border-bottom-color: @color-negative;
}

.TradingIndicator_arrow_sell_down {
  border-top-color: @color-negative;
  top: 40%;
}
