@import (reference) "~assets/styles/shared";

.TradingIndicator_arrow_up,
.TradingIndicator_arrow_down,
.TradingIndicator_arrow {
  border: solid transparent;
  border-color: rgba(136, 183, 213, 0);
  border-width: 0.625rem;
  bottom: 45%;
  margin-left: 0.9375rem;
  position: relative;

  &.small {
    border-width: 0.325rem;
  }
}

.TradingIndicator_arrow_up {
  border-bottom-color: @color-darkpurple;
}

.TradingIndicator_arrow_down {
  border-top-color: @color-darkpurple;
}
