@import (reference) '~assets/styles/shared';

.SingleSlicePieGraph {
  border: 2px solid @color-white;
  border-radius: 50%;
  display: block;
  height: 1.5rem;
  transform: scaleY(-1);
  width: 1.5rem;
}
