@import (reference) '~assets/styles/shared';

.MigrateRep {
  color: @color-secondary-text;
  overflow: hidden;
}

.NoMarkets__container {
  .text-18;

  color: @color-lightgray;
  padding: 0 @size-32;
}

@media @breakpoint-mobile {
  .NoMarkets__container {
    padding-left: @size-16;
    padding-right: @size-16;
  }
}
