@import (reference) '~assets/styles/shared';

ul.MigrateRepForm__fields {
  flex-flow: column nowrap;
  justify-content: flex-start;

  h3 {
    color: @color-secondary-text;
  }
}

.MigrateRepForm__outcome_rep_total {
  .text-12;

  color: @color-secondary-text;
  padding-left: @size-16;
}

.MigrateRepForm__winning_outcome {
  .text-12-bold;

  color: #9e82ef;
  margin-left: @size-32;
  text-transform: uppercase;
}

.MigrateRepForm__button {
  .text-10-medium;

  background: @color-lighter-purple;
  border-radius: @border-radius-default;
  color: @color-secondary-text;
  padding: @size-12;
}

.MigrateRepForm__container {
  margin-right: @size-10;
  position: absolute;
  right: 0;
}
