@import (reference) "~assets/styles/shared";

.Trading {
  min-height: 28.25rem;
}

.Trading__button--add-funds {
  &:extend(.button--purple all);

  margin: 2rem auto 0;
  max-width: 9.5rem;
}

.Trading__initial-message {
  font-size: @font-size-large;
  line-height: @font-size-rather-large;
  margin: 7.75rem auto 0;
  max-width: 14rem;
}
