@import (reference) "~assets/styles/shared";

.Trading__button--trade {
  &:extend(.button--purple all);

  border-radius: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.Trading__initial-message {
  border-top: 1px solid @color-darkpurple-2;
  color: @color-lightgray;
  text-align: center;
  padding: 3.5rem 0;
}
