@import (reference) "~assets/styles/shared";

.Trading__button--trade {
  min-height: 3.125rem;

  > button {
    &:extend(.button--purple all);

    border-radius: 0;
    bottom: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: fixed;
    width: 100%;
  }
}

.Trading__initial-message {
  border-top: 1px solid @color-darkpurple-2;
  color: @color-lightgray;
  padding: 3.5rem 0;
  text-align: center;
}
