@import (reference) '~assets/styles/shared';

.Alert {
  background-color: fade(@color-contrast-background-theme, 90%);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: @size-6 @size-8;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: @size-4;
  border: 1px solid @color-contrast-dark-alternate;
  border-radius: @size-3;

  &:last-of-type {
    border-bottom: 0;
  }

  > div {
    display: flex;
    flex-direction: column;

    &:first-of-type {
      flex: 1;
    }

    &:last-of-type {
      justify-content: center;
    }
  }
}

.Seen {
  background-color: fade(@color-alternate-contrast, 90%);

  > div {
    > div:first-of-type > div,
    > div:nth-of-type(2) > span {
      color: @color-dark-alternate;
    }
  }
}

.Row {
  display: flex;
}

.Title {
  .text-10;

  color: @color-contrast-dark;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: @size-2 0;
}

.Status {
  .mono-9-bold;

  color: @color-contrast-dark;
  text-transform: uppercase;
}

.EtherLink {
  color: @color-secondary-text;
  font-size: @font-size-extra-small;
  font-weight: 500;
  text-decoration: underline;
}

.Dot {
  flex: 0 @size-16;
  height: @size-16;
  left: @size-8;
  margin-top: -0.025rem;
  position: absolute;
  transition: flex 500ms ease-out;
  width: @size-16;
}

.DotSeen {
  flex: 0 0 0;
  height: 0;
  margin: 0;
  transition: flex 500ms ease-out;
  width: 0;
}

.Close {
  align-self: baseline;
  margin-left: auto;

  > svg {
    width: @size-8;
    height: size-8;
    > path {
      fill: @color-dark-alternate;
    }
  }
}

.Description {
  .text-9;

  color: @color-dark-alternate;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media @breakpoint-mobile {
    flex: 1 0 100%;
    font-size: @font-size-small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.Time {
  color: @color-secondary-text;
  font-size: @font-size-extra-small;
  margin-right: @size-4;
}
