@import (reference) '~assets/styles/shared';

.AlertsView {
  background-color: transparent;
  border-top: 0;
  color: var(--color-primary-text);
  display: flex;
  flex-direction: column;
  max-height: 470px;
  position: relative;
  text-align: left;
  width: @size-360;
  z-index: @mask-above;

  @media @breakpoint-mobile {
    width: 100%;
    top: @top-bar-height-mobile;
    left: 0;

    &.isOpen {
      position: fixed;
    }

    &::after {
      border: none;
      bottom: 0;
      content: "";
      display: none;
      right: 0;
    }
  }
}

.dark {
  background-color: var(--color-dark-grey);
}

.parent {
  position: absolute;
  right: 0;
  top: @top-bar-height;

  @media @breakpoint-mobile-tablet {
    top: @top-bar-height-mobile;
  }

  @media @breakpoint-mobile {
    bottom: 0;
    left: 0;
    top: 0;
  }
}

.box {
  overflow-y: auto;
  width: 100%;

  @media @breakpoint-mobile {
    max-height: unset;
  }
}

.close {
  cursor: pointer;
  display: none;
  height: @size-16;
  left: @size-16;
  position: absolute;
  top: @size-16;
  width: @size-16;

  @media @breakpoint-mobile {
    display: block;
  }
}

.NullStateMessage {
  .text-16;

  align-self: center;
  color: var(--color-secondary-text);
  margin-top: @size-8;
  padding: @size-30;
  text-align: center;
  width: 100%;
  border: @size-1 solid var(--color-secondary-action-outline);
}

.dismissContainer {
  align-items: flex-end;

  background: var(--color-primary-text);
  border-radius: @size-3;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 0 @size-9;

  > span {
    display: none;
  }

  > button {
    .mono-9;

    align-self: flex-end;
    background: var(--color-secondary-action);
    border: @size-1 solid var(--color-secondary-action-outline);
    border-radius: @size-3;
    color: var(--color-secondary-text);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: @size-4;
    margin: @size-6 0;
    text-transform: uppercase;

    &:hover {
      color: var(--color-primary-text);
    }

    &:focus {
      outline: none;
    }
  }
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .AlertsView {
    flex-direction: column-reverse;
    background: var(--color-module-background);
  }

  article.NullStateMessage {
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;

    > span:first-of-type {
      background: var(--color-page-background);

      > svg {
        width: @size-50;
        height: @size-50;
        margin-left: @size-20;
      }
    }
  }

  .parent {
    right: 0;
    box-shadow: 0 @size-2 @size-2 var(--color-secondary-text-50);
    border-radius: 0 0 @border-radius-default @border-radius-default;
  }

  .box {
    > article:first-of-type {
      margin-top: @size-8;
    }

    > article:last-of-type {
      margin-bottom: @size-8;
    }
  }

  .dismissContainer {
    background-color: var(--color-page-background);
    border-bottom: @size-1 solid var(--color-dark-grey);
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 @size-12;
    margin: 0;

    > span {
      .mono-12-semi-bold;

      display: initial;
      color: var(--color-primary-text);
      text-transform: uppercase;
      padding: @size-14 0;
    }

    > button {
      .mono-12-semi-bold;

      color: var(--color-primary-text);
      text-transform: capitalize;
      background-color: var(--color-page-background);
      border: none;
      text-decoration: none;
      position: relative;
      padding: 0;
      margin: 0;
      align-self: center;

      &:after {
        content: '';
        position: absolute;
        bottom: -@size-1;
        left: 0;
        right: 0;
        border-bottom: @size-1 dotted var(--color-primary-text);
      }

      &:hover:after {
        border-bottom: @size-1 solid var(--color-primary-text);
      }
    }
  }
}
