@import (reference) '~assets/styles/shared';

.AlertsView {
  background-color: transparent;
  border-top: 0;
  color: var(--color-primary-text);
  display: flex;
  flex-direction: column;
  max-height: 470px;
  position: relative;
  text-align: left;
  width: @size-360;
  z-index: @mask-above;

  @media @breakpoint-mobile {
    width: 100%;
    top: @top-bar-height-mobile;
    left: 0;

    &.isOpen {
      position: fixed;
    }

    &::after {
      border: none;
      bottom: 0;
      content: '';
      display: none;
      right: 0;
    }
  }
}

.noAlerts {
  background-color: var(--color-dark-grey);
}

.parent {
  position: absolute;
  right: 0;
  top: @top-bar-height;

  @media @breakpoint-mobile-tablet {
    top: @top-bar-height-mobile;
  }

  @media @breakpoint-mobile {
    bottom: 0;
    left: 0;
    top: 0;
  }
}

.box {
  overflow-y: auto;
  width: 100%;

  @media @breakpoint-mobile {
    max-height: unset;
  }
}

.close {
  cursor: pointer;
  display: none;
  height: @size-16;
  left: @size-16;
  position: absolute;
  top: @size-16;
  width: @size-16;

  @media @breakpoint-mobile {
    display: block;
  }
}

.NullStateMessage {
  .text-16;

  align-self: center;
  color: var(--color-secondary-text);
  margin-top: @size-8;
  padding: @size-30;
  text-align: center;
  width: 100%;
  border: @size-1 solid var(--color-secondary-action-outline);
}

.dismissContainer {
  align-items: flex-end;

  background: var(--color-primary-text);
  border-radius: @size-3;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 0 @size-9;

  > span {
    display: none;
  }

  > button {
    .mono-9;

    align-self: flex-end;
    background: var(--color-secondary-action);
    border: @size-1 solid var(--color-secondary-action-outline);
    border-radius: @size-3;
    color: var(--color-secondary-text);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: @size-4;
    margin: @size-6 0;
    text-transform: uppercase;

    &:hover {
      color: var(--color-primary-text);
    }

    &:focus {
      outline: none;
    }
  }
}

.SportsHeader {
  display: none;
}

.SportsMobileHeading {
  display: none;
}

.ListArea {
  overflow-y: auto;
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .AlertsView {
    flex-direction: column-reverse;
    background: var(--color-module-background);
    pointer-events: all;

    @media @breakpoint-mobile {
      &.isOpen {
        bottom: 0;
        max-height: unset;

        > div:not(.dismissContainer) {
          height: 100%;
        }
      }

      &.noAlerts {
        flex-direction: column;

        > article {
          order: 2;
        }
      }
    }
  }

  article.NullStateMessage {
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;

    > span:first-of-type {
      background: var(--color-page-background);

      > svg {
        width: @size-50;
        height: @size-50;
        margin-left: @size-20;
      }
    }
  }

  .parent {
    right: 0;
    box-shadow: 0 @size-2 @size-2 var(--color-secondary-text-50);
    border-radius: 0 0 @border-radius-default @border-radius-default;
    pointer-events: none;
  }

  .box {
    display: flex;
    flex-flow: column nowrap;
    grid-gap: @size-8 0;
    padding: @size-8;

    > div {
      margin: 0;
      background: var(--color-module-background);
      border: @size-1 solid var(--color-secondary-action-outline);
      border-radius: @border-radius-default;

      &:hover {
        background: var(--color-active-background);
      }
    }
  }

  .dismissContainer {
    background-color: var(--color-page-background);
    border-bottom: @size-1 solid var(--color-dark-grey);
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 @size-12;
    margin: 0;

    > span {
      .mono-12-semi-bold;

      display: initial;
      color: var(--color-primary-text);
      text-transform: uppercase;
      padding: @size-14 0;
    }

    > button {
      .mono-12-semi-bold;

      color: var(--color-primary-text);
      text-transform: capitalize;
      background-color: var(--color-page-background);
      border: none;
      text-decoration: none;
      position: relative;
      padding: 0;
      margin: 0;
      align-self: center;

      &:after {
        content: '';
        position: absolute;
        bottom: -@size-1;
        left: 0;
        right: 0;
        border-bottom: @size-1 dotted var(--color-primary-text);
      }

      &:hover:after {
        border-bottom: @size-1 solid var(--color-primary-text);
      }
    }
  }
}

.SportsTabs {
  display: none;
}

:root[theme='SPORTS'] {
  .SportsTabs {
    display: flex;
  }

  .AlertsView {
    > .dismissContainer {
      display: none;
      background-color: var(--color-page-background);
      border-bottom: 0;
      border-radius: 0;
      justify-content: space-between;
      align-items: center;
      padding: 0 @size-12;
      margin: 0;
      min-height: @size-45;
      height: @size-45;
      max-height: @size-45;
      border-top: @size-1 solid var(--color-dark-grey);

      > button {
        .mono-12-semi-bold;

        color: var(--color-primary-text);
        text-transform: capitalize;
        background-color: var(--color-page-background);
        border: none;
        text-decoration: none;
        position: relative;
        padding: 0;
        margin: 0;
        margin-left: auto;
        align-self: center;

        &:after {
          content: '';
          position: absolute;
          bottom: -@size-1;
          left: 0;
          right: 0;
          border-bottom: @size-1 dotted var(--color-primary-text);
        }

        &:hover:after {
          border-bottom: @size-1 solid var(--color-primary-text);
        }
      }
    }

    &.AlertsTab {
      > .dismissContainer {
        display: flex;
        order: 0;

        @media @breakpoint-mobile-tablet {
          order: 4;
        }

        > span {
          display: none;
        }
      }
    }

    @media @breakpoint-mobile-tablet {
      flex-direction: column;

      &.isOpen {
        top: 0;
      }

      > button.close {
        display: none;
      }

      > .SportsMobileHeading {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 @size-24;
        min-height: @side-bar-top-menu-height-mobile;
        height: @side-bar-top-menu-height-mobile;
        max-height: @side-bar-top-menu-height-mobile;
        order: 0;

        > h1 {
          .text-16-bold;

          color: var(--color-primary-text);
          flex: 1 100%;
          text-align: center;
          padding: 0;
          margin: 0;
        }

        > button {
          display: flex;

          > svg {
            height: @size-12;
            width: @size-12;

            > path {
              fill: var(--color-primary-text);
            }
          }
        }
      }

      > .SportsTabs {
        order: 1;
      }

      > .box {
        order: 2;
      }

      > .NullStateMessage {
        order: 3;
      }

      > .dismissContainer {
        order: 4;
      }
    }
  }

  .ListArea,
  .box {
    order: 1;
  }

  .NullStateMessage {
    order: 2;
  }

  .SportsTabs {
    background-color: var(--color-page-background);
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: @size-45;
    min-height: @size-45;
    max-height: @size-45;
    order: 3;

    > li {
      border-bottom: @size-1 solid var(--color-dark-grey);
      height: 100%;
      width: 100%;
      flex: 1 100%;
      justify-content: center;
      align-items: center;

      > button {
        .text-12-bold;

        color: var(--color-secondary-text);
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        flex: 1 100%;
        justify-content: center;
        align-items: center;
        border-bottom: @size-1 solid transparent;
      }

      &.Selected {
        border-bottom: @size-1 solid var(--color-primary-text);

        > button {
          border-bottom: @size-1 solid var(--color-primary-text);
          color: var(--color-primary-text);
        }
      }
    }
  }
}
