@import (reference) '~assets/styles/shared';

.ToastsView {
    position: absolute;
    right: 0;
    top: @top-bar-height;
    min-width: 360px;
    max-width: 360px;
    z-index: @mask-toast;

    @media @breakpoint-mobile {
        position: fixed;
        left: 0;
        max-width: unset;
        min-width: unset;
    }

    &.MoveDown {
        top: calc(~"@{top-bar-height} + @{tutorial-banner-height}")
    }
}