@import (reference) '~assets/styles/shared';

.ToastsView {
    position: absolute;
    right: 0;
    top: @top-bar-height;
    min-width: 360px;
    z-index: @mask-toast;

    @media @breakpoint-mobile {
        position: fixed;
    }
}