.open-orders-list {
  padding: 4vmin 6vmin;
}

.market-open-orders {
  .open-order {
    height: 27px; // same height as when action is visible
  }

  .open-order:not(:hover) .cancel-order-action {
    display: none;
  }

  .open-order.isDisabled {
    text-decoration: line-through;
  }
}
