@import (reference) '~assets/styles/shared';

.ModalView {
  background-color: var(--simple-primary-text-40);
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: @mask-modal;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    .SimpleBorder;

    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    width: fit-content;
    padding: @size-16;
    background: var(--simple-light-bg);
  }
}

.ModalAddLiquidity {
  display: flex;
  flex: 1;
  padding: @size-16;
  flex-direction: row;
  width: 597px;
}

.Header {
    display: flex;
    flex: 1;

    > span {
        .text-20-bold;

        color: var(--simple-primary-text);
        text-transform: capitalize;
        flex: 1;
    }

    > button {
        background: transparent;
        outline: 0;
        border: 0;
    }
}