@import (reference) '~assets/styles/shared';

.ReportingPercent {
	background: @color-primary-background;
	height: @size-12;
	border: @size-1 solid @color-primary-alternate;
	border-radius: 100px;
	display: flex;

	> span {
		height: @size-10;

		&:first-of-type {
			background: fade(@color-faded-bright, 50);
			border-top-left-radius: 100px;
    		border-bottom-left-radius: 100px;
		}

		&:nth-of-type(2) {
			background: @color-faded-bright;
		}

		&:nth-of-type(3) {
			background: repeating-linear-gradient(
			  -45deg,
			  @color-faded-bright,
			  @color-faded-bright @size-1,
			  @color-primary-background @size-2,
			  @color-primary-background @size-4
			);			
		}

		&:last-of-type {
			border-top-right-radius: 100px;
    		border-bottom-right-radius: 100px;
		}
	}

	&.invalid {
		background-color: fade(@color-invalid, 50);
	}
}

div.ReportingSubheaders {
  display: flex;
  flex-direction: column;

  > span {
    .mono-10;

    color: @color-tertiary-info-text;
    margin-bottom: @size-4;
    text-transform: uppercase;
  }

  > p {
    .mono-14;

    color: @color-alternate-info-text;
    line-height: @size-16;
    margin: 0;
  }
}
