@import (reference) '~assets/styles/shared';

.PreFilledStake {
	background: @color-tertiary-background;
	border-radius: @size-8;
	border: 1px solid @color-primary-alternate-two;
	display: flex;
	padding: @size-20;
	width: 574px;
    flex-direction: column;

	> span:first-of-type {
		.text-14-medium;

		color: @color-negative;
		text-transform: capitalize;
	}

	> span:nth-of-type(2) {
		.text-12;

		color: @color-tertiary-info-text;
		margin-bottom: @size-12;
		margin-top: @size-8;
	}

	> button {
		max-width: 180px;
	}

	> div:first-of-type {
		margin-bottom: @size-8;
		max-width: 340px;
	}

	> div:nth-of-type(2) {
		display: flex;
		max-width: 340px;
    	justify-content: space-between;
	}

	> span:nth-of-type(3) {
		.text-14-medium;

		color: @color-alternate-info-text;
		margin-bottom: @size-10;
		margin-top: @size-16;
	}
}

.ReportingPercent {
	background: @color-primary-background;
	height: @size-12;
	border: @size-1 solid @color-primary-alternate;
	border-radius: 100px;
	display: flex;

	> span {
		height: @size-10;

		&:first-of-type {
			background: fade(@color-faded-bright, 50);
			border-top-left-radius: 100px;
    		border-bottom-left-radius: 100px;
		}

		&:nth-of-type(2) {
			background: @color-faded-bright;
		}

		&:nth-of-type(3) {
			background: repeating-linear-gradient(
			  -45deg,
			  @color-faded-bright,
			  @color-faded-bright @size-1,
			  @color-primary-background @size-2,
			  @color-primary-background @size-4
			);			
		}

		&:last-of-type {
			border-top-right-radius: 100px;
    		border-bottom-right-radius: 100px;
		}
	}

	&.invalid {
		background-color: fade(@color-invalid, 50);
	}
}

div.ReportingSubheaders {
  display: flex;
  flex-direction: column;

  > span {
    .mono-10;

    color: @color-tertiary-info-text;
    margin-bottom: @size-4;
    text-transform: uppercase;
  }

  > p {
    .mono-14;

    color: @color-alternate-info-text;
    line-height: @size-16;
    margin: 0;
  }
}

.ReportingModalButton {
  .text-14-bold;

  background-color: @color-secondary-dark;
  border: 1px solid @color-alternate-info-text;
  color: @color-alternate-info-text;
  display: flex;
  justify-content: center;
  line-height: @size-16;
  padding: 0.5rem;
  width: 100%;
}