@import (reference) '~assets/styles/shared';

.ReportingPercent {
	background: fade(@color-secondary-action, 50);
	height: @size-4;

	> span {
		height: @size-4;
		display: block;
	}

	&.invalid {
		background-color: fade(@color-invalid, 50);
	}
}

.ReportingModalButton {
  .text-14-bold;

  background-color: @color-secondary-dark;
  border: 1px solid @color-alternate-info-text;
  color: @color-alternate-info-text;
  display: flex;
  justify-content: center;
  line-height: @size-16;
  padding: 0.5rem;
  width: 100%;
}
