@import (reference) '~assets/styles/shared';

.Disputing {
  display: grid;
  grid-gap: 0 @size-16;
  grid-template-rows: auto;

  @media @breakpoint-mobile-new {
    grid-template: 1fr;
    padding: 0;

    > div[class*='ModuleTabs']:first-of-type {
      grid-column: 1;
      max-width: 100vw;

      >div[class*='Content'] {
        display: grid;
        grid-gap: @size-16;
        grid-template-columns: auto;
        padding: @size-8;
        justify-content: center;

        > div[class*='UserRepDisplay'] {
          grid-row: 1;
        }

        > div[class*='WindowProgress'] {
          grid-row: 2;
        }

        > div[class*='ParticipationTokensView'] {
          grid-row: 3;
        }

        > div[class*='Quad'] {
          grid-row: 1 / span 3;
        }

        > button[class*='ReportingModalButton'] {
          grid-row: 4;
          margin: 0;
        }
      }
    }
  }

  @media @breakpoint-tablet {
    grid-template-columns: 1fr;

    > div[class*='ModuleTabs']:first-of-type {
      grid-column: 1;

      > div[class*='Content'] {
        display: grid;
        grid-gap: @size-16;
        grid-template-columns: 1fr minmax(369px, 376px) minmax(369px, 376px) 1fr;

        > div[class*='UserRepDisplay'],
        > div[class*='WindowProgress'],
        > div[class*='WindowProgress'] + button[class*='ReportingModalButton'] {
          grid-column: 2;
        }

        > div[class*='ParticipationTokensView'] {
          grid-column: 3;
          grid-row: 1 / span 4;
        }

        > div[class*='Quad'] {
          grid-column: 1 / span 4;
        }

        > div[class*='Quad'] + button[class*='ReportingModalButton'] {
          grid-column: 1 / span 4;
          margin-bottom: 0;
        }
      }
    }
  }

  @media @breakpoint-desktop {
    grid-template-columns: minmax(767px, 900px) minmax(340px, 440px);
    padding: @size-40 @size-32;
  }

  @media @breakpoint-desktop-large {
    grid-template-columns: minmax(767px, 900px) minmax(340px, 440px) minmax(
        340px,
        482px
      );
    padding: @size-40 @size-32;

    > div:last-of-type {
      grid-column: 3;
      grid-row: 1 / span 4;
    }
  }

  > div {
    grid-column: 2;
    margin-bottom: @size-16;

    > button:first-child {
      height: @size-40;
      margin-bottom: @size-16;
    }
  }

  > div:first-of-type {
    grid-column: 1;
    grid-row: 1 / span 4;
  }
}
