@import (reference) '~assets/styles/shared';

.Disputing {
  display: grid;
  grid-gap: 0 @size-8;
  max-width: 1657px;
  padding: @size-16 @size-8;
  grid-template-columns: minmax(767px, 1fr) minmax(340px, 440px);
  margin: auto;

  > div {
    grid-column: 2;
    margin-bottom: @size-8;

    > button:first-child {
      height: @size-40;
      margin-bottom: @size-8;
    }
  }

  > div:first-of-type {
    grid-column: 1;
    grid-row: 1 / span 4;
  }

  @media @breakpoint-tablet {
    grid-template-columns: 2fr 1fr;
  }

  @media @breakpoint-mobile {
    grid-template-columns: unset;
    padding: 0;

    > div {
      > div:last-of-type {
        padding: 0 @size-8;

        > div {
          margin-bottom: @size-8;
        }

        > button {
          margin: @size-16 0;
        }
      }
    }
  }
}
