@import (reference) '~assets/styles/shared';

.ForkingLabel {
  background: fade(@color-error, 20%);
  border-radius: @border-radius-default;
  border: 1px solid @color-error;
  border-left-width: @size-4;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  margin: @size-16 4rem 0;
  padding: @size-12 @size-16;

  &.Hide {
    display: none;
  }

  > svg {
    height: @size-16;
    margin-right: @size-6;
    width: @size-16;

    > circle {
      fill: fade(@color-error, 20%);
      opacity: 1;
      stroke: @color-error;
    }

    > rect {
      fill: @color-error;
    }

    > path {
      fill: @color-error;
    }
  }

  > div:first-of-type {
    display: flex;
    flex-direction: column;

    > span:first-of-type {
      .mono-14-bold;

      color: @color-primary-text;
      text-transform: uppercase;
      margin-bottom: @size-9;
    }

    > span:last-of-type {
      .text-11;

      color: @color-primary-text;
    }

    > div:first-of-type {
      margin-top: @size-12;
      display: flex;

      > button:not(:last-of-type) {
        .text-12-medium;
        
        margin-right: @size-16;
        color: @color-primary-text;
      }
    }
  }

  > div:last-of-type {
    align-items: center;
    border: 1px solid @color-error;
    display: flex;
    margin: @size-16;
    padding: @size-16;
    width: fit-content;

    > span {
      > span:first-of-type {
        .text-10;

        color: @color-primary-text;
      }

      > span:nth-of-type(2) {
        .text-14;

        color: @color-error;
        line-height: @size-19;
      }
    }
  }

  @media @breakpoint-mobile-tablet {
    grid-template-columns: @size-28 auto @size-28;
    margin: @size-16;

    > svg {
      grid-column: 1;
      grid-row: 2;
    }

    > div:first-of-type {
      grid-column: 2;
      grid-row: 2;
    }

    > div:last-of-type {
      grid-column: 2;
      grid-row: 1;
      margin: 0 0 @size-16;
      width: 100%;

      span {
        text-align: center;
        width: 100%;
      }
    }
  }
}
