@import (reference) '~assets/styles/shared';

.Reporting {
	display: flex;
	padding: @size-60 @size-40 @size-80;

	> div:first-of-type {
		flex: 1;
		margin-right: @size-20;
	}

	> div:last-of-type {
		> button {
			margin-top: @size-32;
		}
	}

	@media @breakpoint-smallish-desktop {
		padding: @size-16 @size-8;

		> div > div:last-of-type {
			padding: 0 @size-10;

			> div:first-of-type {
				margin: @size-32 0 @size-28;
				max-width: unset;
			}

			> button {
				margin-top: @size-24;
			}
		}

		> div:first-of-type {
			margin-right: @size-8;
		}
	}

  @media @breakpoint-max-tablet {
    padding: @size-16 @size-8;

    > div > div:last-of-type > div:first-of-type {
        margin: @size-16 0;
    }
  }

  @media @breakpoint-tablet {
    > div:first-of-type {
      flex: 1;
      margin-right: @size-8;
    }

    > div:last-of-type {
      flex: 1;
    }
  }
}
