@import (reference) '~assets/styles/shared';

.Reporting {
	display: flex;
	padding: 60px @size-40 80px;

	> div:first-of-type {
		flex: 1;
		margin-right: @size-20;
	}

	> div:last-of-type {
		> button {
			margin-top: @size-32;
		}
	}
}