@import (reference) '~assets/styles/shared';

// Used in Betting UI
.AccountInfo {
  border: @size-1 solid var(--color-secondary-action-outline);
  box-sizing: border-box;
  border-radius: @size-3;
  min-width: @account-details-menu-width;

  @media @breakpoint-mobile {
    border: none;
    min-width: 100%;
  }
}

.WalletProvider,
.GasEdit,
.TxFee,
.Logout,
.AddFunds,
.AccountFunds  {
  align-items: center;
  background: var(--color-module-background);
  border-bottom: @size-1 solid var(--color-dark-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: @size-20 @size-16;
  height: @size-56;
}

.AddFunds {
  @media @breakpoint-mobile {
    display: none;
  }

  > div {
    .mono-11-bold;

    align-items: center;
    color: var(--color-primary-text);
    display: flex;
    text-transform: uppercase;

    > svg {
      fill: var(--color-primary-text);
      height: @size-16;
      margin-right: @size-8;
      width: @size-22;
    }
  }

  > button {
    .text-11-bold;

    padding: @size-9 @size-12;
  }
}

.AccountFunds {
  background: var(--color-table-header);

  @media @breakpoint-mobile {
    background: var(--color-module-background);
  }

  > div:first-of-type {
    .mono-11-bold;

    align-items: center;
    color: var(--color-primary-text);
    display: flex;
    text-transform: uppercase;

    @media @breakpoint-mobile {
      .mono-12-bold;
    }

    > svg {
      fill: var(--color-primary-text);
      height: @size-16;
      margin-right: @size-8;
      width: @size-16;
    }
  }

  > div:last-of-type {
    .mono-11-bold;

    color: var(--color-primary-text);

    @media @breakpoint-mobile {
      .mono-12-medium;
    }
  }
}

.WalletProvider,
.GasEdit {
  > div > div:first-of-type {
    .mono-10-medium;

    color: var(--color-secondary-text);
    margin: @size-4 0;
    display: flex;

    > span > label {
      margin: 0;

      > svg {
        height: @size-12;
        margin-left: @size-20;
        width: @size-12;

        > path {
          fill: var(--color-secondary-text);
        }
      }
    }
  }

  > div > div:last-of-type {
    .text-12;

    color: var(--color-primary-text);
    display: flex;
    margin: 0 0 @size-4;
  }

  button {
    .mono-10-semi-bold;

    align-items: center;
    padding: @size-5 @size-6 ;
    flex-direction: row-reverse;
    display: flex;
    background: var(--color-secondary-action);

    > svg {
      height: @size-9;
      margin-left: @size-5;
    }
  }
}

.GasEdit {
  align-items: center;
  border: none;
  height: @size-57;
  padding: @size-12 @size-16;

  > div > div:first-of-type {
    display: block;
    cursor: pointer;
    color: var(--color-primary-text);
    width: @size-136;
    width: -moz-fit-content;
    width: fit-content;
    
    // Transation fee
    > div:first-of-type {
      .mono-10-medium;

      display: inline-flex;
      color: var(--color-secondary-text);
      margin: @size-4 0;

      // hint tip icon
      > span {
        color: var(--color-secondary-text);

        width: @size-12;
        height: @size-12;
        margin-left: @size-20;
      }
    }

    // Gas price
    > div:nth-of-type(2) {
      .text-12;
      color: var(--color-primary-text);
      margin-bottom: @size-4;
    }
  }
}

.WalletProvider.MetaMask {
  @media @breakpoint-mobile {
    display: none;
  }
}

.MobileAddFunds {
  display: none;

  @media @breakpoint-mobile {
    background: var(--color-module-background);
    border-bottom: @size-1 solid var(--color-dark-grey);
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: @size-16 @size-12;
    width: 100%;

    > button {
      width: @size-85;
    }
  }
}

.Logout {
  @media @breakpoint-mobile {
    display: none;
  }

  height: 44px;
  justify-content: flex-end;

  > div {
    cursor: pointer;
    display: flex;

    > div:first-of-type {
      .mono-10;

      text-transform: uppercase;
    }

    > div:last-of-type {
      align-items: center;
      display: flex;

      > svg {
        height: @size-8;
        margin: 0 !important;
      }
    }

  }
}
