@import (reference) '~assets/styles/shared';

.AccountInfo {
  border: 1px solid @color-secondary-action-outline;
  box-sizing: border-box;
  border-radius: @size-3;
  min-width: @account-details-menu-width;

  @media @breakpoint-mobile {
    padding-top: @top-bar-height-mobile;
    border: none;
    min-width: 100%;
  }
}

.WalletProvider,
.GasEdit,
.TxFee,
.Logout,
.AddFunds,
.AccountFunds  {
  align-items: center;
  background: @color-module-background;
  border-bottom: 1px solid @color-dark-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: @size-20 @size-16;
  height: 56px;
}

.AddFunds {
  @media @breakpoint-mobile {
    display: none;
  }

  > div {
    .mono-11-bold;

    align-items: center;
    color: @color-primary-text;
    display: flex;
    text-transform: uppercase;

    > svg {
      fill: @color-primary-text;
      height: @size-16;
      margin-right: @size-8;
      width: @size-22;
    }
  }

  > button {
    .text-11-bold;

    padding: @size-9 @size-12;
  }
}

.AccountFunds {
  background: @color-table-header;

  > div:first-of-type {
    .mono-11-bold;

    align-items: center;
    color: @color-primary-text;
    display: flex;
    text-transform: uppercase;

    > svg {
      fill: @color-primary-text;
      height: @size-16;
      margin-right: @size-8;
      width: @size-22;
    }
  }

  > div:last-of-type {
    .mono-11-bold;

    color: @color-primary-text;
  }
}

.WalletProvider,
.GasEdit {
  > div > div:first-of-type {
    .mono-9-bold;

    color: @color-secondary-text;
    display: flex;
    text-transform: uppercase;

    > span > label {
      margin: 0;

      > svg {
        height: @size-12;
        margin-left: @size-4;
        width: @size-12;
      }
    }

  }

  > div > div:last-of-type {
    .text-10;

    color: @color-primary-text;
    display: flex;
    margin: @size-6 0 0 0;
  }

  button {
    .mono-10;

    align-items: center;
    padding: @size-5 @size-6 ;
    flex-direction: row-reverse;
    display: flex;

    > svg {
      height: @size-9;
      margin-left: @size-5;
    }
  }
}

.WalletProvider.MetaMask{
  @media @breakpoint-mobile {
    display: none;
  }
}

.MobileAddFunds {
  display: none;

  @media @breakpoint-mobile {
    background: @color-module-background;
    border-bottom: 1px solid @color-dark-grey;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: @size-16 @size-12;
    width: 100%;

    > button {
      width: 100%;
    }
  }
}

.Logout {
  @media @breakpoint-mobile {
    display: none;
  }

  height: 44px;
  justify-content: flex-end;

  > div {
    cursor: pointer;
    display: flex;

    > div:first-of-type {
      .mono-10;

      text-transform: uppercase;
    }

    > div:last-of-type {
      align-items: center;
      display: flex;

      > svg {
        height: @size-8;
        margin: 0 !important;
      }
    }

  }
}
