@import '~assets/styles/shared.less';

.MarketBasics__content {
  padding: 1.5rem 2em 1.875rem;
}

.MarketBasics__description {
  position: relative;
}

.MarketBasics__header {
  display: flex;
  justify-content: space-between;
}

.MarketBasics__link {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.MarketBasics__status {
  height: 1.5rem;
  width: 1.5rem;

  > svg {
    height: 100%;
    width: 100%;
  }
}

.MarketBasics__tags {
  &:extend(.caps--medium);

  margin-bottom: 1.625rem;

  > li {
    display: inline-block;

    &::before {
      content: "/";
      margin: 0 4px;
    }

    &:first-child {
      color: @color-lightgray;

      &::before {
        display: none;
      }
    }

    > button {
      text-transform: uppercase;
    }
  }
}
