@import (reference) '~assets/styles/shared';

.Header {
  .text-22-bold;

  color: @color-primary-text;
  margin-bottom: @size-24;

  @media @breakpoint-mobile-mid {
    .text-18-bold;
  }
}

.LargeHeader {
  .text-24-bold;

  color: @color-primary-text;
  margin-top: @size-48;
  margin-bottom: @size-24;
}

.MediumHeader {
  .text-default;

  color: @color-secondary-text;

  > span {
    .text-16-bold;
  }
}

.Subheaders {
  display: flex;
  flex-direction: column;

  > h1 {
    .text-16-medium;

    color: @color-primary-text;
    margin-bottom: @size-8;
  }

  > p {
    .text-12;

    color: @color-secondary-text;
    line-height: @size-20;
    margin: 0;
    margin-bottom: @size-8;

    > span {
      margin-right: 3px;
    }
  }

  &:not(:first-of-type) {
    > h1 {
      margin-top: @size-32;
    }
  }
}

.LargeSubheaders {
  margin-bottom: @size-16;

  > h2 {
    margin-bottom: 0;
  }

  > p {
    margin-top: @size-4;
    margin-bottom: 0;

    > span {
      margin-right: 3px;
    }
  }

  &.Small {
    > p {
      margin-top: @size-8;
    }
  }
}

.XLargeSubheaders {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: @size-40 0;

  > span:first-of-type {
    margin-bottom: @size-4;
    margin-top: 0;
  }

  @media @breakpoint-mobile-mid {
    align-items: flex-start;
    padding: 0 @size-8;
  }
}

.SmallHeaderLink {
  > span,
  > button {
    .text-12;
  }

  > span {
    color: @color-secondary-text;
  }

  &.XSmall {
    > span,
    > button {
      .text-12;
    }

    > span {
      color: @color-primary-text;
    }
  }

  @media @breakpoint-mobile-mid {
    > span,
    > button {
      .text-12;
    }
  }
}

.NumberedList {
  > li {
    margin-bottom: @size-12;
  }

  > li:last-of-type {
    margin-bottom: 0;

    > button {
      display: flex;
      margin-left: @size-44;

      > svg {
        height: @size-10;
        width: @size-10;
        margin-right: @size-8;

        > path {
          fill: @color-primary-text;
        }
      }

      &:hover:enabled {
        > svg > path {
          fill: @color-primary-text;
        }
      }

      &:disabled {
        > svg > path {
          fill: @color-inactive-text;
        }
      }
    }
  }
}

.NumberedInput {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;

  > span {
    .text-14;

    color: @color-primary-text;
    flex: 0 0 auto;
    padding: @size-16;
  }

  > div {
    width: 440px;
  }

  > button {
    margin-left: @size-44;

    svg {
      height: @size-10;
      width: @size-10;

      > path {
        stroke: @color-primary-text;
      }
    }
  }

  > span:nth-of-type(2) {
    .text-12;

    color: @color-error;
    margin-top: @size-4;
  }
}

.SmallSubheaders {
  display: flex;
  flex-direction: column;

  > h1 {
    .mono-10;

    color: @color-secondary-text;
    margin-bottom: @size-4;
    text-transform: uppercase;
  }

  > span,
  > div > span,
  > label > p {
    .text-16-medium;

    color: @color-primary-text;
  }

  > span:nth-of-type(2) {
    .text-14-medium;

    margin-top: @size-4;
  }
}

.SmallSubheadersTooltip {
  .SmallSubheaders;

  > h1 > label {
    margin-bottom: @size-2;
    margin-left: @size-4;

    > svg {
      width: @size-12;
      height: @size-12;
    }
  }

  > span > label {
    margin-bottom: 0;
    margin-left: @size-5;

    > svg {
      width: @size-16;
      height: @size-16;
    }
  }

  > h1,
  > span {
    align-items: center;
    display: flex;

    > label > svg > path {
      fill: @color-primary-action;
    }
  }
}

.OutcomesList {
  .SmallSubheaders;

  > div {
    display: flex;
    flex-direction: column;

    > span:not(:last-of-type) {
      margin-bottom: @size-8;
    }
  }
}

.ExplainerBlock {
  border: 1px solid @color-secondary-action-outline;
  border-radius: @border-radius-extra-rounded;
  padding: @size-16;
  margin-bottom: @size-24;
  display: flex;
  flex-direction: column;

  > h2 {
    .text-18-bold;

    color: @color-primary-text;
    margin-bottom: @size-8;
  }
  > ul {
    list-style-position: outside;
    list-style-type: disc;
    margin: 0 @size-16;

    &.NotBulleted {
      margin: 0;
    }

    > p,
    > li {
      .text-14;

      color: @color-secondary-text;
      line-height: 140%;
      margin: 0;

      > span {
        color: @color-primary-text;
      }
    }

    > p:not(:last-of-type),
    > li:not(:last-of-type) {
      margin-bottom: @size-8;
    }
  }
}

.ContentBlock {
  flex-direction: column;
  display: flex;
  background: @color-module-background;
  border-radius: @border-radius-extra-rounded;
  padding: @size-40;
  border: 1px solid @color-dark-grey;

  > button {
    max-width: 200px;
  }

  &.NoDark {
    background: transparent;
    padding: 0;
    border: 0;
  }

  &.Dark {
    background: @color-dark-grey;
    padding: @size-24;
  }

  @media @breakpoint-mobile-mid {
    padding: @size-24 @size-16;
    width: 100%;
  }
}

.LineBreak {
  border-bottom: 1px solid @color-dark-grey;
  margin-bottom: @size-24;
  padding-bottom: @size-24;
}

.HasError {
  margin-top: @size-32;

  > section {
    margin-top: @size-12;
  }
}

.DateTimeSelector {
  > span:first-of-type {
    display: flex;
    justify-content: space-between;

    @media @breakpoint-mobile-mid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: @size-12;

      > div > div > div > div:first-of-type {
        min-width: 100%;
      }
    }
  }

  > span:nth-of-type(2) {
    border: 1px solid @color-dark-grey;
    border-radius: @size-8;
    display: flex;
    padding: @size-20;
    margin-top: @size-24;

    @media @breakpoint-mobile-mid {
      flex-direction: column;
      min-width: unset;
      padding: 0;
    }

    > div {
      display: flex;
      flex-direction: column;
      min-width: 280px;
	    margin-right: @size-22;

      > span:first-of-type {
        .text-14-medium;

        color: @color-secondary-text;
      }

      > span:nth-of-type(2) {
        .text-16-medium;

        color: @color-positive;
        margin-top: @size-4;

      }
    }

    > span {
      .text-12;

      color: @color-secondary-text;
      line-height: 140%;
    }
  }

  &.Condensed {
    > span:first-of-type {
      justify-content: center;
      align-items: center;
      margin-top: @size-6;

      > div {
        margin-right: @size-4;
      }
    }
  }
}

.QuestionBuilder {
  > div:nth-of-type(2) {
    .text-14-medium;

    color: @color-primary-text;
    background: @color-dark-grey;
    border: 1px solid @color-secondary-action-outline;
    border-radius: @border-radius-default;
    line-height: @size-18;
    display: flex;
    flex-flow: row wrap;
    padding: 0 @size-20 @size-12;
    align-items: center;

    > span {
      margin-right: @size-4;
      margin-top: @size-12;
    }

    > div {
      margin: @size-12 @size-8 0;

      > div {
        > input {
          min-width: 150px;
        }
      }
    }
  }
}

.TopBannerMargin {
  margin-top: @size-16;
}
.EstimatedStartSelector {
  margin-top: @size-32;
}

.ResolutionRules {
  margin-top: @size-24;

  > span {
    .text-12;

    color: @color-secondary-text;
    line-height: @size-20;
    display: flex;
    margin: @size-8 0;

    > span:nth-of-type(2) {
      margin-top: @size-24;
    }
  }
}

.InputHeading {
  display: flex;
  flex-direction: column;

  > h1 {
    .text-16-medium;

    color: @color-primary-text;
    margin-bottom: @size-32 0 @size-8;
  }

  > span {
    .text-12;

    color: @color-secondary-text;
    padding-right: @size-8;

    > button {
      padding-left: @size-8;
    }
  }

  > ul {
    list-style-position: outside;
    list-style-type: disc;
    margin: 0 @size-16;

    > li {
      .text-12;

      color: @color-secondary-text;
      margin-top: @size-4;

      &:last-of-type {
        margin-bottom: @size-12;
      }
    }
  }
}

.AddResolutionRules {
  display: flex;
  flex: 1;
  flex-direction: column;

  > div {
    .text-14;

    align-items: center;
    background: @color-secondary-action;
    border: 1px solid @color-secondary-action-outline;
    border-radius: @border-radius-default;
    margin-bottom: @size-8;
    padding: @size-16;
  }
}

.OutcomeDropdownInput {
  > div {
    display: flex;
    flex-flow: row nowrap;

    > span {
      .text-14;

      color: @color-primary-text;
      flex: 0 0 auto;
      padding: @size-16;
    }

    > div {
      margin-bottom: @size-24;
      max-width: 260px;
    }
  }

  > Button {
    display: flex;
    width: 70px;
    height: @size-40;
    margin-left: @size-44;

    > svg {
      height: @size-16;
      width: @size-16;
      margin-right: @size-8;

      > path {
        fill: @color-primary-text;
      }
    }
  }
}
