@import (reference) '~assets/styles/shared';

.Header {
  .text-24-bold;

	color: @color-alternate-info-text;
	margin-bottom: @size-24;

	@media @breakpoint-mobile-mid {
		.text-18-bold;
	}
}

.LargeHeader {
	.text-30-bold;

	color: @color-alternate-info-text;
	margin-top: @size-48;
	margin-bottom: @size-24;
}

.MediumHeader {
	.text-default;

	color: @color-tertiary-info-text;

	> span {
		.text-16-bold;
	}
}

.Subheaders {
  display: flex;
  flex-direction: column;

  > h1 {
    .text-16-medium;

    color: @color-alternate-info-text;
    margin-bottom: @size-8;
  }

  > p {
    .text-12;

    color: @color-tertiary-info-text;
    line-height: @size-20;
    margin: 0;
    margin-bottom: @size-8;

    > span {
    	margin-right: 3px;
    }
  }

  &:not(:first-of-type) {
    > h1 {
      margin-top: @size-32;
    }
  }
}

.LargeSubheaders {
	> h2 {
		margin-bottom: 0;
	}

	> p {
		margin-top: @size-4;
		margin-bottom: 0;

		> span {
	    	margin-right: 3px;
	    }
	}

	&.Small {
		> p {
			margin-top: @size-2;
		}
	}
}

.XLargeSubheaders {
	flex-direction: column;
    align-items: center;
    display: flex;
    margin: 64px 0;

	> span:first-of-type {
		margin-bottom: @size-4;
		margin-top: 0;
	}

	@media @breakpoint-mobile-mid {
		align-items: flex-start;
		padding: 0 @size-8;
	}
}

.SmallHeaderLink {	
	> span,
	> button {
		.text-14;
	}

	> span {
		color: @color-tertiary-info-text;
	}

	&.XSmall {
		> span,
		> button {
			.text-12;
		}

		> span {
			color: @color-tertiary-text;
		}
	}

	@media @breakpoint-mobile-mid {
		> span,
		> button {
			.text-12;
		}
	}
}

.NumberedList {
  > li {
    margin-bottom: @size-12;
  }

  > li:last-of-type {
    margin-bottom: 0;

    > button {
			display: flex;
			margin-left: 44px;

      > svg {
        height: @size-16;
        width: @size-16;
        margin-right: @size-8;

        > path {
          fill: @color-alternate-info-text;
        }
			}

			&:hover:enabled {
				> svg > path {
					fill: @color-secondary-text;
				}
			}
			
			&:disabled {
				> svg > path {
					fill: @color-neutral;
				}
			}
    }
  }
}

.NumberedInput {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;

  > span {
    .text-14;

    color: @color-alternate-info-text;
    flex: 0 0 auto;
    padding: @size-16;
	}
	
	> div {
		width: 440px;
	}

  > button {
    margin: @size-16;

		svg {
			height: @size-10;
			width: @size-10;

			> path {
				stroke: @color-alternate-info-text;
			}
		}
	}
}

.SmallSubheaders {
	display: flex;
	flex-direction: column;
			
	> h1 {
		.mono-10;

		color: @color-tertiary-info-text;
		margin-bottom: @size-4;
		text-transform: uppercase;
	}

	> span,
	> div > span {
		.text-16-medium;

		color: @color-alternate-info-text;
	}
}

.SmallSubheadersTooltip {
	.SmallSubheaders;

	> h1 > label {
      margin-bottom: @size-2;
      margin-left: @size-4;

      > svg {
        width: @size-12;
        height: @size-12;
      }
	}

	> span > label {
      margin-bottom: 0;
      margin-left: @size-5;

      > svg {
        width: @size-16;
        height: @size-16;
      }
	}	

	> h1, 
	> span {
		align-items: center;
		display: flex;
		
		> label > svg > path {
			fill: @color-primary-action;
		}
	}
}

.OutcomesList {
	.SmallSubheaders;

	> div {
		display: flex;
    	flex-direction: column;

    	> span:not(:last-of-type) {
    		margin-bottom: @size-8;
    	}
	}
}

.ExplainerBlock {
	border: 1px solid @color-primary-alternate-two;
	border-radius: @border-radius-extra-rounded;
	padding: @size-16;
	margin-bottom: @size-24;
	display: flex;
	flex-direction: column;

	> h2 {
		.text-18-bold;

		color: @color-alternate-info-text;
		margin-bottom: @size-8;
	}

	> p {
		.text-14;

		color: @color-tertiary-info-text;
		line-height: 140%;
		margin: 0;

		> span {
			color: @color-alternate-info-text;
		}
	}

	> p:not(:last-of-type) {
		margin-bottom: @size-8;
	}
}

.ContentBlock {
	flex-direction: column;
    display: flex;
    background: @color-tertiary-background;
	border-radius: @border-radius-extra-rounded;
	padding: @size-40;

    > button {
    	max-width: 200px;
    }

    > section,
    > button {
    	margin-top: @size-24;
    }

    &.NoDark {
    	background: transparent;
    	padding: 0;
    }

    &.Dark {
    	background: @color-theme-primary;
    	padding: @size-24;
    }

    @media @breakpoint-mobile-mid {
    	padding: @size-24 @size-16;
    }
}

.LineBreak {
	border-bottom: 1px solid @color-primary-alternate;
	margin-bottom: @size-48;
	padding-bottom: @size-48;
}
