@import (reference) "~assets/styles/shared";

.Form {
	color: @color-primary-text;
	display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 87px;
    padding-top: @size-32;

    > div:last-of-type {
    	> div:last-of-type {
			margin-top: @size-40;
            display: flex;

            @media @breakpoint-mobile {
                margin-top: @size-36;
            }

	    	> div {
	    		display: flex;
			    flex: 1;
			    justify-content: flex-end;

			    > button:nth-last-of-type(2) {
			    	margin-right: @size-24
			    }
	    	}
	   	}
    }

    > button {
    	margin-bottom: @size-24;
    }

    &.Preview {
        flex: 1;
        max-width: unset;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: @mask-toast;
        padding: 0;

    	> div {
        background: @color-table-header;
        display: grid;
        width: 100%;
        align-items: center;
        justify-items: center;
        overflow-y: auto;

        > span {
          width: 100%;
          margin-top: 0;
        }

        > button {
          margin: @size-14 0;
        }

        > button:first-of-type {
          margin: @size-16 0;
        }
      }
    }

    @media @breakpoint-mobile {
        padding: @size-16 @size-8 46px;
        align-items: flex-start;

        > span {
            padding-left: @size-8;
        }
    }
}

.MultipleTransactions {
  margin: @size-24 0 0;
}
