@import (reference) "~assets/styles/shared";

.Form {
	color: @color-secondary-text;
	display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 750px;
    padding-bottom: 87px;

    > div {
    	max-width: 750px;
    }
}