@import (reference) "~assets/styles/shared";

.Form {
	color: @color-secondary-text;
	display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 87px;

    > div:last-of-type {
    	> div:last-of-type {
	    	display: flex;
			margin-top: 54px;    
	    	justify-content: space-between
	   	}
    }
}