@import (reference) "~assets/styles/shared";

.FormDetails {
	flex-direction: column;
    display: flex;

    > div:not(:last-of-type) {
		> section {
			display: flex;

			> span {
				.text-14;

				margin: @size-12 @size-12 0;
				color: @color-primary-text;
			}
		}

		> div > div > input {
			max-width: @size-210;
		}
    }

    > div {
    	display: flex;
		flex-direction: column;
	}
}
