@import (reference) "~assets/styles/shared";

.Review {
	display: flex;
    flex-direction: column;

    > div:first-of-type {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        grid-row-gap: @size-32;

        > div:first-of-type {
            grid-column: 1 / span 10;
        }

        > div:nth-of-type(5) {
            grid-column: 1 / span 10;
        }

        @media @breakpoint-mobile {
            > div:nth-of-type(3),
            > div:last-of-type {
                grid-column: 2 / span 3;
                margin-left: auto;
                margin-right: auto;
            }

            > div:nth-of-type(4) {
                grid-column: 1 / span 3;
            }
        }
    }

    > div:nth-of-type(3) {

        > div:not(:last-of-type) {
            margin-bottom: @size-32;
        }
    }

    > div:last-of-type {
    	> span > div {
    		max-width: 260px;

            > span > div {
                max-width: 260px;
            }
    	}

        > section:last-of-type {
            margin-top: @size-16;
        }
    }

    &.Scalar {
        > div:first-of-type {
            > div:nth-of-type(8) {
                grid-column: 3 / span 8;
            }
        }
    }

    &.Categorical {
        > div:first-of-type {
            > div:nth-of-type(6) {
                grid-column: 1 / span 10;
            }
        }
    }

    @media @breakpoint-mobile {
        > div:first-of-type {
            grid-row-gap: @size-22;
        }

        > div:nth-of-type(3) {
            > div:not(:last-of-type) {
                margin-bottom: @size-22;
            }
        }

        > div:last-of-type {
            > span > div {
                max-width: unset;

                > span > div {
                    max-width: unset;
                }
            }
        }
    }
}