@import (reference) '~assets/styles/shared';

.SubCategories {
  > section:last-of-type {
    margin-top: @size-16;

    > div {
      margin-bottom: @size-16;
    }
  }

  > div:last-of-type > section:last-of-type > ul {
    margin: @size-24 0;
  }
}