@import (reference) "~assets/styles/shared";

.Visibility {
	> div:not(:first-of-type) {
		margin-top: @size-24;
	}

	> div:nth-of-type(2) {
		> span {
			color: @color-negative;
		}
	}

	@media @breakpoint-mobile {
		> div:not(:first-of-type) {
			margin-top: @size-14;
		}
	}
}

.Positive {
	color: @color-positive;
}

.Passing {
	> div:nth-of-type(2) {
		> span {
			.Positive;
		}
	}
}
