@import (reference) '../../../../assets/styles/shared';

:local(.ProcessingView) {
	max-width: 291px;
	height: 169px;
	margin-top: 40px;
	margin-bottom: 24px;
	border: solid 1px #736e89;
}

:local(.ProcessingView__connectingContainer) {
	padding: 24px 16px 0 16px;
}

:local(.ProcessingView__processingTitle) {
  opacity: 0.8;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #736e89;
  margin-bottom: 14px;
}

:local(.ProcessingView__processingText) {
  opacity: 0.8;
  font-size: 48px;
  font-weight: bold; 
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(115, 110, 137, 0.99);
  margin-bottom: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
}

:local(.ProcessingView__processingText-percent) {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 7px;
  margin-left: 2px;
}

:local(.ProcessingView__loadingIndicator) {
	max-height: 32px;
	height: 32px;
	border-top: solid 1px #736e89;
}