@import '../../less/global.less';

.SideNav {}

.SideNav__nav {
  border: 1px solid #553580;
  border-left: none;
  border-right: none;
  list-style: none;
  margin: 0;
  padding: 0;

  > li button {
    background: none;
    border-bottom: 1px solid #553580;
    height: 64px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;

    &.selected {
      background: @color-lightpurple;
    }

    &:hover {
      background: @color-lightpurple;
      cursor: pointer;
    }

    &:last-child { border: none; }

    span {
      .font-family-dinpro();
      .font-size-small();
      .font-weight-light();

      bottom: 13px;
      color: @color-white;
      left: 0;
      letter-spacing: 0.3px;
      position: absolute;
      right: 0;
      text-align: center;
      text-transform: uppercase;
    }

    svg {
      height: 24px;
      transform: translateY(-8px);
      width: 24px;
    }

    svg.nav-create-icon {
      margin-top: 2px;
      transform: scale(0.85), translateY(-8px);
    }

    svg.nav-portfolio-icon {
      transform: scale(0.95), translateY(-8px);
    }
  }
}

@media @breakpoint-mobile {

  .SideNav {
    left: -200px;
    padding-top: 70px;
    position: absolute;
    transition: left 0.2s ease-in-out;
    width: 200px;

    &.mobileShow {
      left: 0;
    }
  }

  .SideNav {
    border: none;
    padding-left: 16px;

    > li {
      border: none;
      height: 70px;
      padding: 0;
      text-align: left;

      &:hover { background: none; }

      svg {
        vertical-align: middle;
        width: 30px;
      }

      span {
        .font-size-large();

        line-height: 70px;
        padding-left: 18px;
        position: static;
      }
    }
  }
}
