@import (reference) "~assets/styles/shared";

.MarketOutcomeCandlestick {
  flex: 3;
}

.MarketOutcomeCandlestick__graph {
  cursor: cell;

  :global(.highcharts-axis-labels) { // NOTE -- had to break this one off since we're using a mixin
    .caps--small();

    fill: @color-lightgray;
  }

  :global {
    .highcharts-background,
    .highcharts-plot-background,
    .highcharts-plot-border {
      fill: @color-transparent;
    }

    .highcharts-point-up {
      fill: @color-positive;
      stroke: @color-positive;
    }

    .highcharts-point-down {
      fill: @color-negative;
      stroke: @color-negative;
    }

    .highcharts-xaxis {
      height: 1px;
      stroke: @color-darkgray;

      .highcharts-tick {
        stroke: @color-darkgray;
        stroke-width: 1px;
      }
    }

    .highcharts-series {
      &.highcharts-series-1 {
        fill: fadeout(@color-white, 75%);
      }

    }

    .highcharts-plot-lines-0 .highcharts-plot-line { // Manually rendered crosshair
      stroke: red;
    }
  }
}
