@import (reference) "~assets/styles/shared";

.MarketOutcomeCandlestick {
  flex: 3;
  height: 100%;
}

.MarketOutcomeCandlestick__chart {
  cursor: cell;
  height: 100%;

  #outcome_candlestick {
    height: 100%;
    width: 100%;
  }

  :global {
    .tick-line {
      stroke: @color-gray;
    }

    .tick-value {
      &:extend(.caps--extra-small all);

      stroke: @color-lightgray;
    }

    rect {
      &.up-period {
        fill: @color-positive;
      }

      &.down-period {
        fill: @color-negative;
      }
    }

    line {
      &.up-period {
        stroke: @color-positive;
      }

      &.down-period {
        stroke: @color-negative;
      }
    }
  }
}
