.basics,
.advanced {
	.description {
		display: block;
		font-size: 3.5vmin;
		font-weight: 400;
		line-height: 1.3em;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.properties {
		font-size: 1.2rem;
		line-height: 1em;
		margin: 0.5rem 0 0;

		.property {
			display: inline-block;
			margin: 0.5rem 2rem 0 0;

			.property-value {
				font-weight: 900;
				margin-left: 0.5rem;
			}
		}
	}

	.tags {
		line-height: 1em;
		margin: 0.5rem 0 0;

		.tag {
			display: inline-block;
			font-size: 1rem;
			padding: 0.5em 0;
			text-transform: uppercase;

			&:not(:last-child)::after {
				content: '>';
				display: inline-block;
				margin: 0 0.5em;
			}

			&.link {
				cursor: pointer;

				&:hover,
				&:active,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}

.advanced {
	.properties {
		margin: 0;

		.property {
			vertical-align: top;

			.distinct {
				display: block;
				margin: 0.5rem 0 0;
			}
		}
	}
}
