.market-open-orders-group {
	display: flex;
	flex-direction: column;

	&:hover {
		.market-open-orders-row {
			& > * {
				&:first-child {
					background-color: @color-gray-light;
				}
			}
		}
	}
}
