@import (reference) '~assets/styles/shared';

.Button {
  .text-16-bold;
  .SimpleBorder;

  color: var(--simple-primary-text);
  padding: 0 @size-16;
  background-color: var(--light-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  min-height: @size-48;
  height: @size-48;
  max-height: @size-48;
  outline: none;

  &:focus {
    outline: none;
  }

  > div > img {
    max-height: @size-16;
  }

  > span {
    .text-12-semi-bold;
  }

  &.TextAndIcon {
    > svg,
    > div {
      margin-left: @size-8;
    }

    > div {
      display: flex;
    }
  }

  .Focused;

  &:disabled,
  &.Disabled {
    pointer-events: none;
    opacity: .5;
  }
}

.Focused {
  &:not(:disabled):not(.Disabled) {
    &:focus {
      outline: 0;
    }

    &:focus-visible {
      outline: 0;
      border: @size-1 solid var(--color-focused);
      box-shadow: inset 0 0 0 @size-2 var(--color-focused);
    }
  }
}

.TinyButton {
  .Button;
  .text-12-semi-bold;

  background-color: transparent;
  color: var(--simple-secondary-text);
  min-height: @size-25;
  height: @size-25;
  max-height: @size-25;
  padding: 0 @size-8;
  flex-direction: row-reverse;
  grid-gap: 0;
  white-space: nowrap;
  
  > svg {
    max-width: @size-16;
    max-height: @size-16;
  }

  &.TextAndIcon > svg {
    margin-left: 0;
    margin-right: @size-4;
  }

  &:not(:disabled):not(.Disabled) {
    &:hover {
      border: @size-1 solid var(--simple-secondary-text);
    }

    &:active,
    &.Selected {
      background-color: var(--simple-alternate-background);
      border: @size-1 solid var(--simple-secondary-text);
      color: var(--simple-primary-text);
    }
  }
}

.TinyTransparentButton {
  .TinyButton;

  background-color: transparent;
  border: @size-1 solid var(--simple-border);

  &:not(:disabled):not(.Disabled) {
    &:hover {
      background-color: var(--simple-alternate-background);
    }

    &:focus {
      background-color: transparent;
    }

    &:active,
    &.Selected {
      background-color: var(--simple-alternate-background);
      border: @size-1 solid var(--color-secondary-text);
    }
  }
}
