@import (reference) '~assets/styles/shared';

.Button {
  .text-16-bold;
  .SimpleBorder;

  color: var(--simple-primary-text);
  padding: @size-20 @size-16;
  background-color: var(--light-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  min-height: @size-48;
  height: @size-48;
  max-height: @size-48;

  > div > img {
    max-height: @size-16;
  }

  &.TextAndIcon {
    > svg,
    > div {
      margin-left: @size-8;
    }

    > div {
      display: flex;
    }
  }

  &:disabled,
  &.Disabled {
    opacity: .5;
  }
}

.Focused {
  outline: 0;
  border: @size-1 solid var(--color-focused);
  box-shadow: inset 0 0 0 @size-2 var(--color-focused);
}

.PrimaryButton {
  .Button;

  background-color: var(--simple-yes-15);
  border: @size-1 solid var(--simple-yes);

  &:not(:disabled):not(.Disabled) {
    &:hover {
      background-color: var(--simple-yes-30);
    }

    &:focus {
      .Focused;

      background-color: var(--simple-yes-15);
    }

    &:active {
      background-color: var(--simple-yes-30);
    }
  }


}

.SecondaryButton {
  .Button;

  background-color: var(--light-background-color);
  border: @size-1 solid var(--simple-border);

  &:not(:disabled):not(.Disabled) {
    &:hover {
      background-color: var(--simple-alternate-background);
    }

    &:focus {
      .Focused;

      background-color: var(--light-background-color);
    }

    &:active {
      background-color: var(--simple-alternate-background);
    }
  }

  &.Error {
    background-color: var(--color-error);
    border: @size-1 solid var(--color-error);
    color: var(--color-brand-secondary);

    &:not(:disabled):not(.Disabled) {
      &:hover,
      &:focus,
      &:active {
        background-color: var(--color-error);
        border: @size-1 solid var(--color-error);
        color: var(--color-brand-secondary);
      }

      &:focus {
        border: @size-1 solid var(--color-focused);
      }
    }
  }
}

.TinyButton {
  .SecondaryButton;
  .text-12-semi-bold;

  color: var(--simple-secondary-text);
  min-height: @size-25;
  height: @size-25;
  max-height: @size-25;
  padding: 0 @size-8;
  flex-direction: row-reverse;
  grid-gap: 0;

  > svg {
    max-width: @size-16;
    max-height: @size-16;
  }

  &.TextAndIcon > svg {
    margin-left: 0;
    margin-right: @size-4;
  }

  &:not(:disabled):not(.Disabled):active,
  &.Selected {
    color: var(--simple-primary-text);
    border: @size-1 solid var(--simple-secondary-text);
  }
}

.DirectionButton {
  align-items: center;
  border: 0;
  display: flex;
  justify-content: center;

  &.Left {
    > svg {
      transform: rotate(180deg);
    }
  }
}

.BuySellButton {
  .Button;

  background: var(--simple-primary-text);
  color: var(--simple-light-bg)
}