@import (reference) '~assets/styles/shared';

.Button {
  .text-16-bold;
  .SimpleBorder;

  color: var(--simple-primary-text);
  padding: @size-13 @size-16;
  background: var(--light-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;

  > svg {
    margin-left: @size-8;
  }

  &.disabled {
    color: var(--simple-secondary-text);
  }
}

.PrimaryButton {
  .Button;
}

.RoundedButton {
  .SimpleBorder;
  .text-12-semi-bold;

  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  grid-gap: @size-8;
  outline: none;

  &:hover {
    border: @size-1 solid var(--simple-secondary-text);
  }
}

.SmallRoundedButton {
  .RoundedButton;

  color: var(--simple-secondary-text);
  height: @size-25;
  min-height: @size-25;
  max-height: @size-25;
  padding: @size-4 @size-8;
  text-transform: capitalize;

  &.selected {
    color: var(--simple-primary-text);
    border: @size-1 solid var(--simple-secondary-text);
  }
}

.SecondaryButton {
  .Button;

  background: var(--simple-buy-15);
  border: @size-1 solid var(--simple-buy);
}

.DirectionButton {
  align-items: center;
  border: 0;
  display: flex;
  justify-content: center;

  &.left {
    > svg {
      transform: rotate(180deg);
    }
  }
}
