@import (reference) '~assets/styles/shared';

.DefaultLabelHeight {
  height: @size-32;
  min-height: @size-32;
  max-height: @size-32;

  &[data-big="true"] {
    height: @size-44;
    min-height: @size-44;
    max-height: @size-44;

    @media @breakpoint-mobile-tablet {
      height: @size-32;
      min-height: @size-32;
      max-height: @size-32;
    }
  }
}

.ValueLabel {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: @size-4;

  > span {
    display: flex;
    align-items: center;
  }

  > span:first-of-type {
    .text-12;

    color: var(--simple-secondary-text);
    text-transform: capitalize;
    white-space: nowrap;
  }

  > span:last-of-type {
    .text-16-semi-bold;

    color: var(--simple-primary-text);
    grid-column: 1 / span 2;
  }

  &.large {
    grid-row-gap: @size-10;

    > span:first-of-type {
      .text-16-bold;
    }

    > span:nth-of-type(2) {
      .text-14;
    }

    > span:last-of-type {
      .text-36-bold;
    }
  }

  &.light {
    > span:last-of-type {
      color: var(--simple-secondary-text);
    }
  }
}

.IconLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > span:nth-of-type(2) {
    .text-14;

    color: var(--simple-primary-text);
    margin-top: @size-12;
  }
}

.CategoryLabel {
  .text-14;
  .SimpleBorder;

  color: var(--simple-primary-text);
  white-space: nowrap;
  justify-content: center;
  display: flex;
  text-transform: capitalize;
  padding-left: @size-8;
  padding-right: @size-8;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.CurrencyLabel {
  .RoundedLabel;

  cursor: default;
  margin-left: auto;

  &:hover {
    border: @size-1 solid var(--simple-border);
  }

  @media @breakpoint-mobile-tablet {
    border: none;
    border-radius: 0;
    padding: 0;

    > span {
      display: none;
    }
  }
}

.AppStats {
  .SimpleBorder;

  display: flex;
  padding: 0 @size-36;
  border-radius: @size-16;
  height: @size-150;
  background: var(--simple-light-bg);

  > div {
    border-right: @size-1 solid var(--simple-border);
    padding: @size-36;

    &:first-of-type {
      padding-left: 0;
    }

    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5) {
      margin: @size-36 0;
      padding: 0 @size-36;
    }

    &:last-of-type {
      border-right: 0;
      padding-right: 0;
    }
  }

  &.CashAmounts {
    > div {
      padding-right: @size-36;

      &:last-of-type {
        border-right: @size-1 solid var(--simple-border);
      }
    }
  }
}

.CategoryIcon {
  .DefaultLabelHeight;

  display: flex;
  border-radius: @size-8;
  justify-content: center;
  align-items: center;
  width: @size-40;
  min-width: @size-40;
  max-width: @size-40;
  border: @size-1 solid var(--simple-invalid);

  > svg {
    height: @size-20;
    width: @size-20;
  }

  &[data-big="true"] {
    width: @size-55;
    min-width: @size-55;
    max-width: @size-55;

    > svg {
      height: @size-28;
      width: @size-28;
    }

    @media @breakpoint-mobile-tablet {
      width: @size-40;
      min-width: @size-40;
      max-width: @size-40;

      > svg {
        height: @size-20;
        width: @size-20;
      }
    }
  }

  &.medical {
    border: @size-1 solid var(--medical-color);
  }

  &.crypto {
    border: @size-1 solid var(--crypto-color);
  }

  &.finance,
  &.economics {
    border: @size-1 solid var(--finance-color);
  }

  &.politics {
    border: @size-1 solid var(--politics-color);
  }

  &.sports {
    border: @size-1 solid var(--sports-color);
  }

  &.entertainment {
    border: @size-1 solid var(--entertainment-color);
  }
}

.AddLiquidity {
  .SimpleBorder;
  .HoverDropShadow;

  background: transparent;
  padding: @size-16;
  display: flex;
  flex-flow: column wrap;
  height: fit-content;
  cursor: pointer;

  > span:first-of-type {
    .text-20-bold;

    text-transform: capitalize;
    color: var(--simple-primary-text);

    > svg {
      margin-right: @size-10;
    }
  }

  > span:last-of-type {
    .text-16;

    margin-top: @size-8;
    text-transform: capitalize;
    color: var(--simple-secondary-text);
  }

  &:hover {
    .FixedBoxShadow;

    background: var(--simple-light-bg);
  }
}

.AddCurrencyLiquidity {
  .AddLiquidity;
  .text-14-semi-bold;

  align-items: center;
  color: var(--simple-secondary-text);
  flex-flow: row nowrap;
  margin-top: @size-12;

  > svg {
    margin-right: @size-12;
  }
}

@media @breakpoint-mobile-tablet {
  .ValueLabel {
    &.large {
      grid-template-columns: 1fr;
      grid-row-gap: @size-2;

      > span {
        justify-content: center;
        text-align: center;
      }

      > span:first-of-type {
        .text-12;

        align-items: flex-end;
      }

      > span:last-of-type {
        .text-14-semi-bold;

        grid-row: 2;
        align-items: flex-start;
      }
    }

    &.Sublabel {
      > span:nth-of-type(2) {
        .text-12-semi-bold;

        grid-column: 1 / span 2;
        grid-row: 3;
      }

      > span:last-of-type {
        grid-row: 2;
      }
    }
  }

  .AppStats {
    padding: 0 @size-14;
    height: @size-85;
    justify-content: center;

    > div {
      flex: 1;
      position: relative;
      padding: 0;
    }

    > div:nth-of-type(4),
    > div:nth-of-type(5) {
      display: none;
    }

    > div:nth-of-type(3) {
      margin: 0;
      border-right: 0;
      padding: 0;
      border-left: @size-1 solid var(--simple-border);
    }

    > div:nth-of-type(2) {
      border: 0;
      height: fit-content;
      margin: auto;
      padding: 0;
    }

    > div:nth-of-type(1) {
      padding: 0;
    }
  }
}

.ErrorBlock {
  .text-14-semi-bold;

  line-height: @size-20;
  color: var(--simple-primary-text);
  padding: @size-16;
  background: var(--simple-no-15);
  border: @size-1 solid var(--simple-no);
  border-radius: @size-8;
}

.NetworkMismatch {
  .SimpleBorder;
  .text-16-bold;

  border: none;
  background: var(--simple-no-15);
  color: var(--simple-failed);
  text-align: center;
  width: 100%;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  max-height: @size-48;
  min-height: @size-48;
  height: @size-48;
  margin-bottom: @size-16;
  margin-top: -@size-24;

  @media @breakpoint-mobile-tablet {
    .text-14-bold;

    margin-top: 0;
  }

  &.Market {
    margin-bottom: -@size-24;

    @media @breakpoint-mobile-tablet {
      margin-bottom: @size-16;
      margin-top: -@size-8;
    }
  }
}

.ReportingStatusLabel {
  .DefaultLabelHeight;
  .text-14;

  align-items: center;
  justify-content: center;
  padding: @size-5 @size-8;
  border-radius: @size-8;
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  margin-right: @size-8;

  &[data-big="true"] {
    margin-left: @size-8;
  }
}

.Resolved {
  .ReportingStatusLabel;

  background: var(--simple-failed-5);
  color: var(--simple-failed);
}

.InSettlement {
  .ReportingStatusLabel;

  background: var(--simple-warning-5);
  color: var(--simple-warning);
}