@import (reference) '~assets/styles/shared';

.v2Logo {
  width: @size-72;
  height: @size-24;

  > svg:first-of-type {
    path:first-of-type {
      fill: @color-brand;
    }

    path:last-of-type {
      fill: black;
    }

    @media @breakpoint-mobile {
      display: block;
    }
  }

  > svg:last-of-type {
    path {
      fill: black;

      &:first-of-type {
        fill: @color-brand;
      }
    }
  }
}