@import (reference) '~assets/styles/shared';

.Dropdown {
  border: @size-1 solid var(--color-secondary-action-outline);
  border-radius: @border-radius-default;
  cursor: pointer;
  display: flex;
  position: relative;
  width: 100%;
 
  > span {
    display: none;
  }

  > select {
    display: none;
  }

  > button {
    align-items: center;
    border-radius: @border-radius-default;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;

    background: var(--color-secondary-action);
    color: var(--color-primary-text);

    > b {
      margin-right: auto;
    }

    // arrow
    > svg {
      height: @size-6;
      margin: 0 @size-1 0 @size-13;
      width: @size-10;

      > path {
        fill: var(--color-secondary-text);
      }
    }
  }

  // div wrapper for hover state when margin-top is not zero.
  > div {
    min-width: 100%;
    max-height: 256px;
    overflow-y: auto;
    position: absolute;
    top: 106%;
    z-index: @mask;

    > div:first-of-type {
      background-color: var(--color-secondary-action);
      border: @size-1 solid var(--color-secondary-action-outline);
      border-radius: @border-radius-default;
      box-shadow: 0 @size-8 @size-8 var(--color-dark-grey);
      display: none;
      margin-top: @size-2;

      &.active {
        display: block;
      }

      > button {
        color: var(--color-primary-text);
        background-color: var(--color-secondary-action);
        position: relative;
        text-align: left;
        transition: background-color 0.15s ease;
        white-space: nowrap;
        width: 100%;

        &.invalidColor {
          color: var(--color-outcome-invalid);
        }

        &:hover {
          background-color: var(--color-secondary-action-outline);
        }

        &:not(:last-of-type)::before {
          background: var(--color-secondary-action-outline-50);
          bottom: 0;
          content: "";
          height: @size-1;
          position: absolute;
        }
      }
    }
  }

  &:focus {
    outline: none;
  }
}

.label {
  display: flex;

  > span {
    .text-16-bold;

    color: var(--simple-primary-text);
    text-transform: capitalize;

  }

  &.Selected {
    display: flex;
  }
}

.SelectedLabel {
  color: var(--color-primary-text);

  &.invalidColor {
    color: var(--color-outcome-invalid);
  }
}

.Disabled {
  pointer-events: none;
}

// Used in Trading Page - Outcome selector
.Large {
  .Dropdown;

  height: @size-32;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  @media @breakpoint-mobile {
    height: @size-40;
  }

  > button {
    .text-12-medium;

    @media @breakpoint-mobile {
      .text-12-bold;
    }

    background: var(--color-dark-grey);
    padding: 0 @size-12;

    // vertical line before arrow icon
    > span {
      flex: 1;
      display: flex;
      border-right: @size-1 solid var(--color-secondary-action-outline);
      padding: @size-5 @size-8 @size-5 0;

      @media @breakpoint-mobile {
        border-right: @size-1 solid var(--color-secondary-action);
        padding: @size-10 0;
      }
    }

    &:hover {
      background: var(--color-secondary-hover);
    }
  }

  > div {
    > div:first-of-type {
      margin-top: @size-4;
    }

    > div {
      width: 100%;
    }

    > div > button {
      .text-12-medium;

      padding: 0 @size-12;
      height: @size-32;

      @media @breakpoint-mobile {
        .text-12-bold;
        height: @size-48;
      }

      &::before {
        left: @size-12;
        right: @size-12;
      }
    }
  }
}

// Used in expiration date selection and top section in outcome candlesticks
.Normal {
  .Dropdown;

  max-width: fit-content;
  max-width: -moz-fit-content;
  border: 0;

  @media @breakpoint-mobile {
    height: @size-32;
  }

  > button {
    .text-10-semi-bold;
    .SimpleBorder;

    @media @breakpoint-mobile {
      .text-10-bold;
    }

    background: var(--simple-alternate-background);
    padding: @size-12 @size-18 @size-12 @size-16;
    display: flex;
    align-items: center;
    justify-content: center;

    // vertical line before arrow icon
    > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
      display: flex;

      @media @breakpoint-mobile {
        border-right: @size-1 solid var(--color-secondary-action-outline);
        padding: @size-9 @size-8 @size-9 0;
      }
    }

    // arrow
    > svg {
      margin-left: @size-46;
      display: flex;
      width: @size-15;
      height: @size-9;
    }

    &:hover {
      background: var(--simple-alternate-background);
    }
  }

  > div {
    width: fit-content;

    > div:first-of-type {
      margin: @size-2 auto;
    }

    > div {
      width: 100%;
    }

    > div > button {
      .text-10-semi-bold;

      padding: 0 @size-8;
      height: @size-24;
      text-transform: uppercase;

      > svg {
        display: none;
      }

      @media @breakpoint-mobile {
        .text-10-bold;
        height: @size-40;
      }

      &::before {
        left: @size-8;
        right: @size-8;
      }
    }
  }
}

.stretchOut {
  @media @breakpoint-mobile {
    height: @size-48;
    // height: unset;
    max-width: unset;

    > div {
      left: 0;
    }

    > button {
      .mono-9;
    }

    > .list > button {
      .text-12;
      // height: unset;
      height: @size-48;
      padding: 1rem 0.75rem;
    }
  }
}

.isOpen {
  > button {
    background: var(--color-secondary-hover);

    // arrow
    > svg {
      transform: rotate(180deg);

      > path {
        fill: var(--color-primary-text);
      }
    }
  }
}

.highlight {
  > button {
    background: var(--color-primary-action);
    border-radius: 0;
  }
}

.openTop {
  > div {
    bottom: 106%;
    top: unset;
  }
}

// Used in outcome selector in order ticket
.showColor {
  position: relative;

  &::before {
    width: @size-2;
    content: '';
    position: absolute;
    top: @size-1;
    left: @size-1;
    bottom: @size-1;
    border-top-left-radius: @size-3;
    border-bottom-left-radius: @size-3;
  }

  .generate-trading-indexed-color-outcome-classes({
    &.showColor-@{newIndex} {
      &::before {
        background-color: @value;
      };
    }
  });
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .MenuItems {
    > div:hover {
      background: var(--color-table-header);
    }
  }
  .Dropdown {
    > span {
      display: flex;
    }

    > button {
      // arrow
      > svg {
        > path {
          fill: var(--color-primary-text);
        }
      }
    }
  }

  .Normal {
    align-items: center;

    > span {
      display: flex;
      height: 100%;
      border-bottom: @size-1 solid transparent;
    }

    > button {
      .text-12;

      text-transform: none;
      display: flex;
      flex-flow: row nowrap;
      height: 100%;
      align-items: center;
      justify-content: center;

      > span {
        height: 100%;
        align-items: center;
        justify-content: center;
      }

      @media @breakpoint-mobile {
        .text-12;
      }
    }

    &.Minimal {
      height: @size-24;
      border: 0;

      > span {
        .text-14;

        white-space: nowrap;
        text-transform: capitalize;
        margin-right: @size-4;
        color: var(--color-secondary-text);
        display: flex;
        align-items: center;
        margin-left: @size-2;
      }

      > button {
        background-color: transparent;
        padding: 0;

        > span {
          .text-14;

          border: none;
          color: var(--color-primary-text);
          padding: 0;
          position: relative;

          &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: @size-2;
            border-bottom: @size-1 dotted var(--color-primary-text);
          }
        }

        > svg {
          width: @size-10;
          height: @size-7;
          margin: @size-2 @size-8 0 @size-4;

          > path {
            stroke: var(--color-primary-text);
            fill: none;
          }
        }
      }

      &.isOpen,
      &:hover {
        > button > span:before {
          border-bottom: @size-1 solid var(--color-primary-text);
        }
      }
    }

    > div {
      max-height: unset;
      top: calc(100% + @size-12);
      margin-bottom: @size-16;
      overflow: visible;

      > div {
        margin-top: @size-4;
        border: @size-1 solid var(--color-secondary-action-outline);
        box-shadow: 0px 0px @size-4 var(--color-primary-text-15);
        border-radius: @border-radius-default;
        min-width: fit-content;
        width: 100%;

        > button {
          .text-14;

          background: transparent;
          color: var(--color-secondary-text);
          padding: @size-12 @size-16;
          text-transform: none;
          height: unset;
          display: flex;
          justify-content: space-between;
          align-items: center;
          grid-gap: 0 @size-8;

          > svg {
            width: @size-10;
            height: @size-8;
            display: flex;

            > path {
              fill: var(--color-primary-text);
            }
          }

          &.Selected {
            color: var(--color-primary-text);
          }

          &:hover {
            background-color: var(--color-active-background);
          }
        }
      }
    }
  }

  .Large {
    height: @size-36;

    .Normal;

    > button {
      background-color: var(--color-secondary-action);
    }

    &:hover,
    &:focus,
    &:hover:focus {
      border: @size-1 solid var(--color-dark-text);

      > button > span {
        border-right: @size-1 solid vaR(--color-dark-text);
      }
    }
  }

  .showColor {
    .generate-betting-indexed-color-outcome-classes({
      &.showColor-@{newIndex} {
        &::before {
          background-color: @value;
        };
      }
    });
  }
}

.PillSelection {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: @size-24;

  > li {
    background: transparent;
    border: @size-1 solid var(--color-secondary-action-outline);
    border-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    white-space: nowrap;

    &.Selected,
    &:hover {
      background: var(--color-secondary-action-outline-30);
      border-right: @size-1 solid var(--color-secondary-action-outline);

      > button {
        color: var(--color-primary-text);

        > span {
          .text-9;

          color: var(--color-secondary-text);
        }
      }

      & + li {
        border-left: 0;
      }
    }

    &:first-of-type {
      border-bottom-left-radius: @border-radius-default;
      border-top-left-radius: @border-radius-default;
    }

    &:last-of-type {
      border-bottom-right-radius: @border-radius-default;
      border-right: @size-1 solid var(--color-secondary-action-outline);
      border-top-right-radius: @border-radius-default;
    }

    > button {
      .mono-9-semi-bold;

      background: transparent;
      color: var(--color-secondary-text);
      height: 100%;
      padding: @size-4 @size-16;
      text-transform: uppercase;

      > span {
        .text-9;

        color: var(--color-secondary-text);
      }
    }
  }

  &.LargePillSelection {
    display: flex;
    height: @size-40;

    > li {
      background: var(--color-module-background);

      &:first-of-type:hover:not([class*="Selected"]) {
        border-right: 0;
      }

      > button {
        .text-14-bold;

        color: var(--color-inactive-text);
        text-transform: capitalize;
      }

      &[class*="Selected"] {
        border: @size-1 solid var(--color-primary-text);

        > button {
          color: var(--color-primary-text);
        }
      }
    }
  }

  &.hide {
    display: none;
  }
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .PillSelection {
      > li > button {
      padding: @size-6 @size-8;
    }

    &.LargePillSelection {
      > li > button {
        padding: @size-12 @size-24;
        height: @size-40;
      }
    }
  }
}

.Tab {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: @size-40;

  > li {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    white-space: nowrap;
    background: transparent;
    border: 0;
    border-bottom: @size-1 solid var(--color-secondary-action-outline);
    border-radius: 0;

    > button {
      .mono-12-bold;

      height: 100%;
      color: var(--color-secondary-text);
      background: var(--color-page-background);
      padding: 0px @size-24;
      border-radius: 0;
      text-transform: uppercase;
    }

    &.Selected,
    &:hover {
      > button {
        color: var(--color-primary-text);
      }
    }

    &:focus {
      outline: none;
      border: @size-2 solid var(--color-focused);
    }

    &:active {
      border-bottom: @size-2 solid var(--color-primary-text);
      > button {
        color: var(--color-primary-text);
      }
    }

    &:disabled {
      opacity: 0.25;
    }
  }

  &.TabLarge,
  &.TabSmall {
    > li {
      background: transparent;
      border: @size-1 solid var(--color-secondary-action-outline);
      border-right: 0;

      &:first-of-type {
        border-bottom-left-radius: @border-radius-default;
        border-top-left-radius: @border-radius-default;

        > button {
          border-bottom-left-radius: @border-radius-default;
          border-top-left-radius: @border-radius-default;
        }
      }

      &:last-of-type {
        border-bottom-right-radius: @border-radius-default;
        border-right: @size-1 solid var(--color-secondary-action-outline);
        border-top-right-radius: @border-radius-default;

        > button {
          border-bottom-right-radius: @border-radius-default;
          border-top-right-radius: @border-radius-default;
        }
      }

      &.Selected,
      &:hover {
        border: @size-1 solid var(--color-primary-text);
        border-right: @size-1 solid var(--color-primary-text);

        &:last-of-type {
          border-right: @size-1 solid var(--color-primary-text);
        }

        > button {
          color: var(--color-secondary-text);
        }

        & + li {
          border-left: 0;
        }
      }

      &:focus {
        border: @size-2 solid var(--color-focused);
        border-right: @size-2 solid var(--color-focused);

        &:last-of-type {
          border-right: @size-2 solid var(--color-focused);
        }

        & + li {
          border-left: 0;
        }
      }

      &:active {
        border: @size-1 solid var(--color-primary-text);
        border-right: @size-1 solid var(--color-primary-text);

        &:last-of-type {
          border-right: @size-1 solid var(--color-primary-text);
        }

        & + li {
          border-left: 0;
        }
      }

      &:disabled {
        border: @size-1 solid var(--color-module-background-25);
        border-right: @size-1 solid var(--color-module-background-25);

        &:last-of-type {
          border-right: @size-1 solid var(--color-module-background-25);
        }

        & + li {
          border-left: 0;
        }
      }
    }
  }

  &.TabLarge {
    height: @size-40;

    > li {
      > button {
        .mono-14-bold;

        padding: 0px @size-24;
        text-transform: none;
      }
    }
  }

  &.TabSmall {
    height: @size-26;

    > li {
      > button {
        .mono-12-semi-bold;

        padding: 0px @size-8;
      }
    }
  }
}

// Used in Betting UI
.DotSelection {
  cursor: pointer;
  position: relative;

  > button {
    display: flex;
    > svg {
      fill: var(--color-secondary-text);
      height: @size-16;
      width: @size-16;

      @media @breakpoint-mobile {
        transform: scale(1.3);
      }
    }
  }

  > button:hover,
  > button:active {
    > svg {
      fill: var(--color-primary-text);
    }
  }
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .DotSelection {
    > button {
      > svg {
        fill: var(--color-inactive-text);
        stroke: none;
      }
    }
  }
}

.MenuOpen {
  > button > svg {
    fill: var(--color-primary-text);
  }
}

.MenuItems {
  .text-12-medium;

  align-items: flex-start;
  background: var(--color-secondary-action);
  border-radius: @border-radius-default;
  border: 1px solid var(--color-secondary-action-outline);
  color: var(--color-primary-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 36px;
  user-select: none;
  width: 189px;
  z-index: @above-all-content;
  outline: none;

  > div {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    height: @size-32;
    padding: @size-8 @size-12;
    outline: none;

    &:not(:last-of-type) {
      &::after {
        content: "";
        height: 1px;
        background: var(--color-secondary-action-outline);
        width: 100%;
        position: relative;
        top: 7px;
      }
    }
  }

  > div:hover {
    background: var(--color-secondary-hover);
  }
}

.CategorySelector {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  > div {
    .text-14;

    color: var(--color-inactive-text);
    cursor: pointer;
    height: @size-32 ;
    margin: @size-24 @size-32 @size-24 0;


    &.selected {
      color: var(--color-primary-text);
      border-bottom: @size-1 solid var(--color-primary-text);
    }

    @media @breakpoint-mobile {
      .text-12;
    }
  }
}
