@import (reference) '~assets/styles/shared';
@import (reference) '~modules/common/buttons.styles.less';

.EmptyMessage {
  .text-12;

  color: var(--simple-primary-text);
  padding: @size-20 0;
  background-color: var(--simple-light-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: @size-8;
  border-bottom-left-radius: @size-8;
}

.MarketTableHeader {
  padding: @size-20 @size-32;
  display: flex;
  border-bottom: @size-1 solid var(--simple-border);
  justify-content: center;
  align-items: center;

  > span {
    .text-16-semi-bold;

    color: var(--simple-primary-text);
    flex: 1;
    margin-right: @size-12;
  }

  > svg {
    width: @size-20;
    height: @size-20;
  }

  @media @breakpoint-mobile-tablet {
    padding: @size-16;
  }
}

// shared styles

.SharedTable {
  .SimpleBorder;

  display: flex;
  background: var(--simple-light-bg);
  flex-direction: column;

  > span {
    .EmptyMessage;

    border-top: @size-1 solid var(--simple-border);
  }
}

.RowHeaderSharedStyles {
  padding: @size-20 @size-32;
  display: grid;
  align-items: center;

  &:not(:last-of-type) {
    border-bottom: @size-1 solid var(--simple-border);
  }

  > li {
    display: flex;

    &:not(:first-of-type) {
      text-align: right;
      justify-content: flex-end;
    }
  }

  @media @breakpoint-mobile-tablet {
    padding: @size-10 @size-16;
  }
}

.HeaderSharedStyles {
  > li {
    .text-12-semi-bold;

    color: var(--simple-primary-text);
    text-transform: capitalize;
  }
}

.RowSharedStyles {
  > li {
    .text-12;

    color: var(--simple-primary-text);
  }
  @media @breakpoint-mobile-tablet {
    padding: @size-20 @size-16;
  }
}

// positions table

.PositionRowHeader {
  grid-template-columns: repeat(6, 1fr);

  @media @breakpoint-mobile-tablet {
    grid-template-columns: repeat(5, 1fr);
    
    > li:nth-of-type(4) {
      display: none;
    }
  }
}

.PositionTable {
  .SharedTable;
}

.PositionRow {
  .RowHeaderSharedStyles;
  .RowSharedStyles;
  .PositionRowHeader;
}

.PositionHeader {
  .RowHeaderSharedStyles;
  .HeaderSharedStyles;
  .PositionRowHeader;
}

// liquidity table

.LiquidityRowHeader {
  grid-template-columns: repeat(4, 1fr);
}

.LiquidityRow {
  .RowHeaderSharedStyles;
  .RowSharedStyles;
  .LiquidityRowHeader;
}

.LiquidityHeader {
  .RowHeaderSharedStyles;
  .HeaderSharedStyles;
  .LiquidityRowHeader;
}

.LiquidityTable {
  .SharedTable;

  > span {
    justify-content: space-between;
    padding: @size-20 @size-32;
  }
}

.FooterSharedStyles {
  display: flex;
  justify-content: flex-end;
  padding: @size-20;
  border-top: @size-1 solid var(--simple-border);

  > button:nth-of-type(2) {
    margin-left: @size-11;
  }

  @media @breakpoint-mobile-tablet {
    > button {
      flex: 1;
    }
  }
}

.LiquidityFooter {
  .FooterSharedStyles;
}

.PositionFooter {
  .FooterSharedStyles;
}

div.PositionsLiquidityViewSwitcher {
  flex-direction: column;

  > span:first-of-type {
    .EmptyMessage;
    .SimpleBorder;
  }

  > div:nth-of-type(1) {
    margin-bottom: @size-24;
    display: flex;

    > span {
      .TableTitle;

      cursor: pointer;

      &.Selected {
        color: var(--simple-primary-text);
      }

      &:first-of-type {
        margin-right: @size-32;
      }
    }
  }

  > div:nth-of-type(2) {
    > div {
      &:not(:last-of-type) {
        margin-bottom: @size-12;
      }
    }

    > div:last-of-type {
      justify-content: center;

      &:not(:first-of-type) {
        margin-top: @size-40;
      }
    }
  }
}

.PaginationFooter {
  .FooterSharedStyles;

  justify-content: center;
}

.TransactionsSharedRowHeader {
  grid-template-columns: @size-150 repeat(5, 1fr);

  @media @breakpoint-mobile-tablet {
    grid-template-columns: @size-150 repeat(2, 1fr);
    > li {
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5) {
        display: none;
      }
    }
  }
}

.TransactionsHeader {
  .RowHeaderSharedStyles;
  .HeaderSharedStyles;
  .TransactionsSharedRowHeader;

  > li:first-of-type {
    > span:not(:first-of-type) {
      margin-left: @size-8;
    }

    > span {
      cursor: pointer;
      color: var(--simple-secondary-text);

      &.Selected {
        color: var(--simple-primary-text);
      }
    }
  }
}

.TransactionsTable {
  .SharedTable;

  > span {
    .EmptyMessage;
  }
}

.TransactionRow {
  .RowHeaderSharedStyles;
  .RowSharedStyles;
  .TransactionsSharedRowHeader;

  > li {
    &:first-of-type {
      white-space: nowrap;
    }
  }
}

@media @breakpoint-mobile-tablet {
  .PositionsLiquidityViewSwitcher {
    > div:first-of-type {
      > button {
        margin-left: auto;
      }
    }
  }
}
