@import (reference) '~assets/styles/shared';

.MarketTableHeader {
  padding: @size-20 @size-32;
  display: flex;
  border-bottom: @size-1 solid var(--simple-border);
  justify-content: center;
  align-items: center;

  > span {
    .text-16-semi-bold;

    color: var(--simple-primary-text);
    flex: 1;
  }

  > svg {
    width: @size-20;
    height: @size-20;
  }
}

// shared styles

.SharedTable {
  display: flex;
  background: var(--simple-light-bg);
  border: @size-1 solid var(--simple-border);
  border-radius: @size-8;
  flex-direction: column;
}

.RowHeaderSharedStyles {
  padding: @size-20 @size-32;
  display: grid;

  &:not(:last-of-type) {
    border-bottom: @size-1 solid var(--simple-border);
  }

  > li {
    display: flex;

    &:not(:first-of-type) {
      justify-content: flex-end;
    }
  }
}

.HeaderSharedStyles {
  > li {
    .text-12-semi-bold;

    color: var(--simple-primary-text);
    text-transform: capitalize;
  }
}

.RowSharedStyles {
  > li {
    .text-12;

    color: var(--simple-primary-text);
  }
}

// positions table

.PositionRowHeader {
  grid-template-columns: repeat(6, 1fr);
}

.PositionTable {
  .SharedTable;
}

.PositionRow {
  .RowHeaderSharedStyles;
  .RowSharedStyles;
  .PositionRowHeader;
}

.PositionHeader {
  .RowHeaderSharedStyles;
  .HeaderSharedStyles;
  .PositionRowHeader;
}

// liquidity table

.LiquidityRowHeader {
  grid-template-columns: repeat(4, 1fr);
}

.LiquidityRow {
  .RowHeaderSharedStyles;
  .RowSharedStyles;
  .LiquidityRowHeader;
}

.LiquidityHeader {
  .RowHeaderSharedStyles;
  .HeaderSharedStyles;
  .LiquidityRowHeader;
}

.LiquidityTable {
  .SharedTable;
}
