@import (reference) '~assets/styles/shared';

.PositionTable {
    display: flex;
}

.PositionRow {
    display: flex;
}

.PositionHeader {
    display: flex;
}

.LiquidityRow {
    display: flex;
}

.LiquidityHeader {
    display: flex;
}