@import (reference) '~assets/styles/shared';

.SearchSort {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;

  @media @breakpoint-mobile-mid {
    flex-direction: column;
  }
}

.SearchSort_dropdown {
  flex: 1;
  margin-top: 0.85rem;
  width: 100%;
}

.ShowOnMobile,
.Hide {
  display: none;
}

@media @breakpoint-mobile-mid {
  .ShowOnMobile {
    display: flex;
  }

  .HideOnMobile {
    display: none;
  }
}
