@import (reference) '~assets/styles/shared';

.Checkbox {
  cursor: pointer;
  display: block;
  font-size: @size-22;
  margin-bottom: @size-8;
  position: relative;
  user-select: none;
}

.Checkbox__checkmark {
  background-color: @color-theme-primary;
  border: 1px solid @color-highlight;
  border-radius: @border-radius-default;
  height: @size-24;
  left: 0;
  position: absolute;
  top: 0;
  width: @size-24;

  > svg {
    display: none;
    height: @size-9;
    left: @size-6;
    position: absolute;
    top: @size-6;
    width: @size-11;

    > path {
      stroke: @color-secondary-text;
    }
  }
}

.Checkbox__checkmark:focus {
  outline: none;
}

.Checkbox input {
  visibility: hidden;
}

.Checkbox:hover input ~ .Checkbox__checkmark {
  filter: brightness(95%);
}

.Checkbox input:checked ~ .Checkbox__checkmark {
  background: fade(@color-highlight, 30%);
  border: 1px solid @color-highlight;

  > svg {
    display: block;
  }
}

.Checkbox__small {
  margin-bottom: 0;

  @media @breakpoint-mobile {
    margin-bottom: @size-8;
  }
}

.Checkbox__checkmark__small {
  height: @size-16;
  width: @size-16;

  @media @breakpoint-mobile {
    height: @size-24;
    width: @size-24;
  }
}

.Checkbox__small .Checkbox__checkmark__small {
  > svg {
    height: @size-6;
    left: 3px;
    top: @size-4;
    width: @size-8;

    @media @breakpoint-mobile {
      height: @size-9;
      left: @size-6;
      top: @size-16;
      width: @size-11;
    }
  }
}
