@import (reference) '~assets/styles/shared';

.NullState {
  .text-18;

  color: @color-lightgray;
  line-height: @size-24;
  padding: 0 @size-32;
}

.NullState__padding {
  padding-bottom: 3.75rem;
}

@media @breakpoint-mobile {
  padding: 0 @size-16;
}
