@import (reference) '~assets/styles/shared';

.NullState {
  color: @color-lightgray;
  font-size: @font-size-large;
  line-height: @font-size-rather-large;
  padding: 0 2rem;
}

.NullState__padding {
  padding-bottom: 3.75rem;
}

@media @breakpoint-mobile {
  padding: 0 1rem;
}
