@import (reference) '~assets/styles/shared';

.Markets {
  align-items: center;
  text-align: left;
  width: 100%;
}

.NoMarkets__container {
  color: @color-lightgray;
  font-size: @font-size-large;
  font-weight: 500;
  line-height: @font-size-rather-large;
  padding: 2rem;
  text-align: center;
}

.NoMarkets__link {
  color: @color-lightgray;
  margin-left: 0.5rem;
  text-decoration-line: underline;
}

.Markets__nullState--spacer {
  height: 3.125rem;
  margin: 2.5rem 0;
}

