@import (reference) "~assets/styles/shared";

.MarketRow__container {
  border-bottom: 0.125rem solid @color-theme-primary;

  &:not(:last-of-type) {
    margin-bottom: 0.125rem;
  }

  @media @breakpoint-mobile-mid {
    border: 1px solid #2b2438;
    border-radius: 3px;

    &:not(:last-of-type) {
      margin-bottom: 4px;
    }
  }
}

.MarketRow__noToggle {
  background-color: @color-grayish-purple;
  padding-right: 0.875rem;
}

.MarketRow__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 0 1rem 1.5rem;
}

.MarketRow__contentContainer {
  display: flex;
  flex: 1;
}

.MarketRow__contentShow {
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.MarketRow__Arrow {
  margin-left: 1.25rem;
  margin-right: 1.5rem;
}

.MarketRow__firstRow {
  padding: 0 0 0.625rem;
}

.MarketRow__description {
  .text-12-medium;

  align-items: center;
  color: @color-white;
  display: flex;
  flex: 1;
  line-height: 1rem;
  margin-right: 1rem;
}

.MarketRow__time {
  .text-12;

  align-items: center;
  color: @color-milky-gray;
  display: flex;
  font-family: @roboto-mono;
  justify-content: center;
  min-width: min-content;
  text-align: right;
}

.MarketRow__timeShow {
  padding-bottom: 0.125rem;
}

@media @breakpoint-mobile-mid {
  .MarketRow__content,
  .MarketRow__contentShow {
    padding-left: 1rem;
  }

  .MarketRow__Arrow {
    margin-right: 1rem;
  }
}
