.topic-button.unstyled {
  .border(true);

  background-color: @color-white;
  display: flex;
  flex: 1;
  font-size: 3em;
  margin: 0 0.5rem;
  overflow: hidden;

  .topic-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;

    & > span {
      z-index: 20;
    }

    .topic-popularity {
      align-self: flex-end;
      font-size: 0.7em;
      margin-right: 0.2em;
    }

    .topic-name {
      align-content: center;
      background-color: fadeout(@color-black, @amount-extra-light);
      color: @color-text-light;
      display: flex;
      justify-content: center;
      margin-top: 0.5em;
      white-space: nowrap;
      z-index: 20;

      span {
        align-items: center;
        padding: 0 0.5em;
      }
    }
  }

  &.isHero {
    font-size: 8em;
  }
}
