.topic-icon {
  color: fadeout(@color-base, @amount-extra-light);
  font-size: 2em;
  left: -0.2em;
  position: absolute;
  top: -0.2em;
  z-index: 10;

  .augur-logo-icon {
    height: 1em;

    .icon-cls-5 {
      fill: fadeout(@color-base, @amount-extra-light);
    }
  }
}
