#topics_view {
  flex-direction: row;
  justify-content: center;

  #topics_container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 960px;
    width: 100%;

    .topics-search {
      align-self: stretch;
      display: flex;
      justify-content: center;
      margin: 0.75rem 0.5rem 1rem;

      .input {
        flex: 0 1 50%;
      }
    }

    .topics {
      display: flex;
      flex-direction: column;
      height: 600px;

      @media @breakpoint-1 {
        height: auto;
      }
    }
  }
}
