@import (reference) '~assets/styles/shared';

ul.ReportingReportForm__fields {
  flex-flow: column nowrap;
  font-size: @font-size-normal;
  justify-content: flex-start;
  min-height: 0;
}

.ReportingReport__RepAmount {
  color: @color-white;
  font-size: @font-size-large;
  margin-top: 2rem;
}

.ReportingReportREP {
  display: flex;
  flex-flow: row nowrap;

  > div:last-of-type {
    margin-left: @size-32;
  }
}

.ReportingReport__insufficient-funds > svg {
  margin: 0 0.2rem;
  max-height: 1rem;
  max-width: 1rem;
  vertical-align: top;
}

.ReportingReport__insufficient-funds {
  color: @color-error;
  display: inline-block;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 3rem;
  margin-right: 1.5rem;
  text-transform: none;
  white-space: nowrap;
}

.ReportingReport__outcome_selection_msg {
  color: @color-secondary-text;
  font-size: @size-20;
  line-height: @size-30;
  position: relative;
}

div.ReportingReport__outcome_selection_msg {
  margin-bottom: 1.25rem;
}

.ReportingReport__outcome_selection_msg li {
  list-style-type: circle;
  margin: 0.3125rem 0 0 1.25rem;
}
