.MarketOutcomeChartsHeader {
  display: flex;
  width: 100%;
}

.MarketOutcomeChartsHeader__Candlestick {
  flex: 3;
}

.MarketOutcomeChartsHeader__Depth {
  flex: 1;
}

.MarketOutcomeChartsHeader__Orders {
  flex: 1;
}
