@import (reference) "~assets/styles/shared";

.ReportingDisputeProgress {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;

    @media @breakpoint-mobile {
      flex-direction: column;
    }

    > div:first-of-type {
      align-content: center;
      background-color: @color-highlight-background;
      display: flex;
      height: 0.5rem;
      min-width: 8em;
      position: relative;
      width: 15rem;

      > div:first-child {
        background: @color-bright-teal;
        height: 100%;
        transition: width 0.4s linear;
      }

      > div:last-child {
        background: @color-bright-highlight;
        height: 100%;
        transition: width 0.4s linear;
      }
    }

    > div:last-of-type {
      .text-10;

      color: @color-lightgray;
      letter-spacing: 0.3px;
      margin-left: 1rem;
      white-space: nowrap;

      @media @breakpoint-mobile {
        margin: 0;
        padding-top: 0.25rem;
      }
    }
  }

  div:nth-of-type(2) {
    .text-12-bold;

    align-self: flex-start;
    color: @color-bright-highlight;
    text-transform: uppercase;
  }
}
