@import (reference) '~assets/styles/shared';

.BettingMarketView {
  width: 100%;
  padding: @size-32 @size-40 @size-32 @size-32;

  > section[class*='SportsMarketContainer'] {
    margin-bottom: @size-8;
  }

  > div:first-of-type {
    display: flex;
    flex-direction: column;
    margin-bottom: @size-24;

    > span {
      .text-30-bold;

      color: var(--color-primary-text);
      margin: @size-24 0;
    }

    > div:nth-of-type(2) {
      display: flex;
      justify-content: space-between;
      max-width: 70%;

      > div > span {
        align-items: center;

        &:first-of-type {
          margin-bottom: @size-2;

          > label {
            height: @size-14;
            width: @size-14;

            > svg {
              height: @size-14;
              width: @size-14;
            }
          }
        }
      }

      > div:last-of-type {
        flex-direction: column;
      }
    }
  }

  > div:nth-of-type(2) {
    margin-top: @size-40;

    > div:first-of-type,
    > div:nth-of-type(2) {
      margin-bottom: @size-28;
    }
  }

  > div:nth-of-type(3) {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    margin: @size-40 0;

    > div {
      margin-top: @size-24;
    }

    > div:not(:first-of-type) {
      margin-left: @size-24;
    }
  }

  > div:nth-of-type(4) {
    display: flex;
    margin-bottom: @size-30;

    > div:not(:first-of-type) {
      margin-left: @size-26;
    }
  }
}
