@import (reference) '~assets/styles/shared';

.BettingMarketView {
  width: 100%;
  padding: @size-32 @size-40 @size-32 @size-32;

  @media @breakpoint-mobile-tablet {
    padding: @size-10 @size-12 @size-32;
  }

  @media @breakpoint-mobile {
    padding: 0 @size-12 @size-32;
  }

  > section[class*='SportsMarketContainer'] {
    margin-bottom: @size-8;
  }

  > div:first-of-type {
    display: flex;
    flex-direction: column;
    margin-bottom: @size-24;

    @media @breakpoint-mobile {
      margin-bottom: @size-16;
    }

    > span {
      .text-30-bold;

      color: var(--color-primary-text);
      margin: @size-24 0;

      @media @breakpoint-mobile-tablet {
        .text-20-bold;

        margin: @size-16 0;
      }
    }

    > div:nth-of-type(2) {
      display: flex;
      justify-content: space-between;
      max-width: 70%;

      @media @breakpoint-mobile-tablet {
        flex-flow: row nowrap;
        max-width: 100%;

      }

      > div > span {
        align-items: center;

        &:first-of-type {
          margin-bottom: @size-2;

          @media @breakpoint-mobile {
            .text-10-semi-bold;
          }

          > label {
            height: @size-14;
            width: @size-14;

            @media @breakpoint-mobile {
              height: @size-10;
              width: @size-10;
            }

            > svg {
              height: @size-14;
              width: @size-14;

              @media @breakpoint-mobile {
                height: @size-10;
                width: @size-10;
              }
            }
          }
        }

        @media @breakpoint-mobile {
          &:nth-of-type(2) {
            .text-12-semi-bold;
          }
  
          &:nth-of-type(3) {
            .text-10;

            margin-top: @size-2;
          }
        } 
      }

      > div:last-of-type {
        flex-direction: column;
      }
    }
  }

  > div:nth-of-type(2) {
    margin-top: @size-40;

    > div:first-of-type,
    > div:nth-of-type(2) {
      margin-bottom: @size-28;
    }

    @media @breakpoint-mobile {
      margin-top: @size-24;

      > div:first-of-type,
      > div:nth-of-type(2) {
        margin-bottom: @size-24;
      }

      > div[class*="ReportingSubheaders"] {
        > span:first-of-type {
          .text-10-semi-bold;

          > label {
            height: @size-12;
            width: @size-12;

            > svg {
              height: @size-12;
              width: @size-12;
            }
          }
        }

        > p > span {
          .text-14;
        }
      }
    }
  }

  > div:nth-of-type(3) {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin: @size-40 0;

    > div {
      margin-top: @size-24;
    }

    > div:not(:first-of-type) {
      margin-left: @size-24;
    }

    @media @breakpoint-mobile {
      flex-flow: column nowrap;
      margin-top: @size-8;

      > div,
      > div:not(:first-of-type) {
        margin-top: @size-8;
        margin-left: 0;
        width: 100%;
      }
    }
  }

  > div:nth-of-type(4) {
    display: flex;
    margin-bottom: @size-30;

    > div:not(:first-of-type) {
      margin-left: @size-26;
    }
  }
}

.SpreadRisk {
  .text-14;

  color: var(--color-primary-text);

  > span {
    margin-right: @size-4;
  }
}

.EmptyMarket {
  margin: 0 0 0 auto;
  max-width: 1042px;
  width: 100%;
}