@import (reference) "~assets/styles/shared";

.MarketView {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &.Inactive {
    pointer-events: none;
    min-width: 100%;
  }
}

.MarketView__button {
  > svg {
    height: 0.5rem;
    margin-left: 1rem;
    width: 0.25rem;

    > path {
      stroke: @color-primary-text;
    }
  }
}

.MarketView__orders,
.MarketView__history {
  @media @breakpoint-mobile-mid {
    height: 50vh;
  }
}

.MarketView__overlay {
  background-color: @color-module-background;
  bottom: 0;
  color: @color-primary-text;
  height: calc(~"100vh - @{multi-top-bar-height}");
  left: 0;
  min-height: 800px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: @mask-modal;
}

.MarketView__paneContainer--mobile {
  flex: 1;
  padding: @size-8 @size-4;

  > div:first-of-type {
    margin-bottom: @size-8;
  }

  > div:nth-of-type(2) {
    margin-bottom: @size-8;
  }

  > div:last-of-type {
    margin-top: @size-8;
  }

  > h1 {
    display: none;
  }
}

.MarketView__parent {
  display: flex;
  margin: @size-4 0;
  height: calc(~"100vh - @{multi-top-bar-height}");
  min-height: 800px;
}

.MarketView__body {
  color: @color-primary-text;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 @size-4;

  > section:first-of-type {
    flex: unset;
    margin: 0 0 @size-4;
    min-height: fit-content;
  
    @media @breakpoint-mobile {
      padding: 0;
    }
  }
}

.MarketView__firstColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.MarketView__secondColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: @size-4;
  max-width: 20.3125rem;
  min-width: 20.3125rem;
}

.MarketView__component {
  background-color: @color-module-background;
  display: flex;
  flex: 1 auto;
  flex-flow: column nowrap;
  border: 1px solid @color-dark-grey;
  border-radius: @size-2;
  max-height: fit-content;
}

.MarketView__component__history {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
}

.MarketView__firstRow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  > div:first-of-type {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: @size-4;
    max-width: 325px;
    min-width: 325px;
  }
}

.MarketView__innerSecondColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > div:first-of-type {
    flex-grow: unset;
    margin-bottom: @size-4;
  }

  > div:nth-of-type(2) {
    margin-bottom: @size-4;
  }

  > div:last-of-type {
    min-height: 200px;
    height: 100%;
  }
}

.Market__graphs {
  height: 400px;
}

.Market__details {
  background-color: @color-primary-text;
  display: flex;
  justify-content: space-between;
}

.Market__details-outcomes {
  width: calc(100% - 25rem);
}

.Market__details-trading {
  width: 25rem;
}

.MarketView__orders {
  display: flex;
  flex-direction: column;
  margin-bottom: @size-4;
}

.MarketView__hide {
  height: 2rem !important;
  max-height: 2rem !important;
}

.MarketView__show {
  max-height: 100% !important;
}

.MarketView__history,
.MarketView__orders {
  max-height: 50%;
  transition: max-height 0.2s ease;
}

.MarketView__priceHistoryChart {
  background-color: @color-module-background;
  border: 1px solid @color-dark-grey;  
  border-radius: 1px;
  margin-top: @size-16;

  > h3 {
    .text-16;

    background-color: @color-module-background;
    border-bottom: 1px solid @color-dark-grey;
    color: @color-primary-text;
    padding: 1.125rem 1rem;
  }
}

.MarketView__comments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 0 22.5625rem;
}

.Hide {
  height: @size-32;
  max-height: @size-32;
  min-height: @size-32;
  overflow-y: hidden;
}

div.OutcomeNameDisplay {
  .text-12;

  align-items: center;
  background: @color-dark-grey;
  border: 1px solid @color-secondary-action-outline;
  border-radius: @border-radius-default;
  color: @color-primary-text;
  display: flex;
  flex-flow: row nowrap;
  height: @size-40;
  padding: 0 @size-16;
  z-index: @mask;
}

@media @breakpoint-mobile {
  .OutcomeSelectionArea {
    padding: @size-12;
    width: 100%;
    margin-top: @size-8;
    background: @color-module-background;

    > h1 {
      .text-14-bold;

      color: @color-primary-text;
      margin-bottom: @size-8;
    }
  }

  .TradesMobile {
    > div,
    > section {
      border: 1px solid @color-dark-grey;
      border-radius: 1px;
    }
  }

  .Market__upper {
    padding: 0 1rem;
  }

  .Market__details {
    background-color: transparent;
    display: block;
    padding-bottom: 3rem;
  }

  .Market__details-outcomes {
    width: 100%;
  }

  .Market__details-trading {
    width: auto;
  }

  .MarketView__paneContainer--mobile {
    > h1 {
      .text-14-bold;

      color: @color-primary-text;
      display: block;
      margin: 0;
      padding: @size-12;
      background: @color-module-background;
      border: 1px solid @color-dark-grey;
      border-radius: 1px;
    }

    > div:last-of-type {
      margin-top: @size-4;
      border: 1px solid @color-dark-grey;
      border-radius: 1px;
    }
  }

  .MarketView__orders {
    margin-bottom: 0;
  }

  .MarketView__history {
    background: @color-module-background;
    margin-bottom: 0;
    max-height: unset;
  }

  .MarketView {
    height: unset;
  }

  .MarketView__button {
    > svg {
      height: 0.75rem;
      margin-left: @size-14;
      width: 0.5rem;
    }
  }

  .MarketView__priceHistoryChart > h3 {
    .mono-11-bold;

    margin-top: @size-8;
    text-transform: uppercase;
    padding: @size-12 @size-16;
    background: @color-dark-grey;
  }

  .MarketView__comments {
    justify-content: center;
    margin: 0rem;
    width: 100%;
  }
}
