@import (reference) '~assets/styles/shared';

.MarketPreview {
  .border(true);

  background-color: @color-white;
  margin: 2em 0;

  &:first-child {
    margin-top: 0;
  }
}

.details {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.footer {
  border-top: 1px solid @color-almost-black;
  padding: 20px 2rem;

  &.single-card {
    margin: auto;
    max-width: 62.75rem;
  }
}

.returns {
  background-color: @color-medium-gray;
  border-top: 1px solid @color-almost-black;
  padding: 1rem 2rem;

  &.single-card {
    margin: auto;
    max-width: 62.75rem;
  }
}

.outcomes {
  .border(true, @border-left);

  display: flex;
  flex: 1;
  padding-left: 2em;

  .outcome .outcome-price {
    color: @color-blue;
  }
}

@media @breakpoint-mobile-medium {
  .footer,
  .returns {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
