@import (reference) '~assets/styles/shared';

.PortfolioView {
  display: flex;
  min-height: calc(~'100vh - @{multi-top-bar-height} - @{footer-height}');

  > section {
    display: flex;
    flex: 1;
    margin: 0 auto @size-12;
    max-width: 2000px;
  
    > div {
      flex: 1;
      flex-direction: column;
      margin: @size-8;
  
      > div {
        display: flex;
        flex-direction: column;
        margin-bottom: @size-8;
        max-height: calc(~'50vh - @{multi-top-bar-height} - @{footer-height}');
      }
    }
  
    > div:last-of-type {
      margin-left: 0;
    }
  }
}

@media @breakpoint-tablet {
  .PortfolioView {
    > section {
      flex-direction: column;

      > div {
        margin: @size-16 @size-24;

        &:last-of-type {
          margin-left: @size-24;
        }

        > div:first-of-type {
          margin-bottom: @size-16;
        }

        > div:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
