@import (reference) '~assets/styles/shared';

.PortfolioView {
  display: flex;
  flex: 1;
  height: 100%;

  > section {
    display: flex;
    flex: 1;
    margin-bottom: 0;
  
    > div {
      flex: 1;
      flex-direction: column;
      margin: @size-8;
      height: 100%;
  
      > div {
        display: flex;
        flex-direction: column;
        margin-bottom: @size-8;
      }
    }
  
    > div:last-of-type {
      margin-left: 0;
    }
  }
}
