@import (reference) '~assets/styles/shared';

.Headers {
  background: @color-table-header;
  border-bottom: 1px solid @color-dark-grey;
  display: flex;
  overflow-x: auto;
  min-height: @size-32;

  > ul {
    display: flex;
    flex: 1;
    width: @size-40;

    > li {
      color: @color-secondary-text;
      margin: 0 @size-8;
      border-bottom: @size-2 solid transparent;

      &.ActiveTab {
        color: @color-primary-text;

        @media @breakpoint-mobile {
          border-bottom: @size-2 solid @color-primary-action;
        }

        .IsNew::before {
          background: @color-outcome-five;
          border-radius: @border-radius-default;
          content: ' ';
          height: @size-4;
          position: absolute;
          right: -@size-6;
          top: @size-3;
          width: @size-4;
        }
      }

      &:hover {
        color: @color-primary-text;
      }

      > button {
        .mono-12-bold;

        height: 100%;
        padding: 0;
        position: relative;
        white-space: nowrap;
        text-transform: uppercase;

        > h1 {
          .mono-12-bold;

          margin-bottom: 0;
        }
      }
    }
  }

  @media @breakpoint-mobile {
    height: @size-48;
    max-height: @size-48;

    > ul {
      > li {
        > button {
          .text-12-bold;

          > h1 {
            .text-12-bold;

            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.IsNew {
  position: relative;
}

.IsNew::before {
  background: @color-outcome-five;
  border-radius: @border-radius-default;
  content: ' ';
  height: @size-4;
  position: absolute;
  right: -@size-6;
  top: @size-3;
  width: @size-4;
}

.ModuleTabs {
  display: flex;
  flex: 1 auto;
  flex-flow: column nowrap;

  @media @breakpoint-mobile {
    height: fit-content;
  }
}

.ScrollOver {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  padding-top: @size-48;

  @media @breakpoint-mobile {
    padding-top: @size-40;
  }

  > div.Headers {
    position: fixed;
    top: @top-bar-height-mobile;
    z-index: @above-all-content;
    width: 100%;
    transition: top .15s ease-in-out;

    &.scrolling {
      top: 0;
    }
  }
}

.Content {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  position: relative;

  @media @breakpoint-mobile {
    overflow-y: auto;
  }
}

.FillWidth {
  background-color: @color-dark-grey;

  > li {
    .text-14;

    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.FillWidthMobile {
  @media @breakpoint-mobile {
    .FillWidth;
  }
}

.Fill {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  left: 0;
  right: 0;
  z-index: @above-all-content;

  > li > button {
    .text-14;

    > h1 {
      .text-14;

      margin-bottom: 0;
    }
  }
}

.ActiveTabFill {
  background-color: transparent;
}

.ActiveSpanFill {
  border-bottom: 1px solid @color-primary-text;
}

.NoBorder {
  background-color: unset;
  border: 0;
  overflow-x: auto;

  > li {
    > button {
      .text-12;

      padding: @size-24 @size-8;
      text-transform: uppercase;

      > h1 {
        .text-12;

        margin-bottom: 0;
      }
    }
  }
}

.NoBorder::-webkit-scrollbar {
  display: none;
}

.ActiveNoBorder {
  border: 0;
  position: relative;
}
