@import (reference) '~assets/styles/shared';

.Headers {
  display: flex;
  overflow-x: auto;

  > ul {
    border-bottom: 1px solid @color-tertiary-one;
    display: flex;
    flex: 1;

    > li {
      color: rgba(255, 255, 255, 0.4);

      &:hover {
        color: white;
      }

      > button {
        .text-16;

        padding: @size-14 @size-48;
        position: relative;
        white-space: nowrap;
        width: 100%;

        @media @breakpoint-mobile {
          .mono-12;
        }
      }
    }
  }
}

.IsNew {
  position: relative;
}

.ActiveTab {
  background-color: @color-theme-primary;
  color: white !important;

  .IsNew::before {
    background: @color-outcome-four;
    border-radius: @border-radius-default;
    content: ' ';
    height: @size-4;
    position: absolute;
    right: -@size-4;
    top: -@size-4;
    width: @size-4;
  }
}

.IsNew::before {
  background: @color-outcome-four;
  border-radius: @border-radius-default;
  content: ' ';
  height: @size-4;
  position: absolute;
  right: -@size-4;
  top: -@size-4;
  width: @size-4;
}

.ModuleTabs {
  display: flex;
  flex: 1 auto;
  flex-flow: column nowrap;
  height: 100%;

  @media @breakpoint-mobile {
    height: fit-content;
  }
}

.ScrollOver {
  display: grid;
  grid-template-rows: @size-48 auto;
  height: 100vh;
  overflow: hidden;
}

.Content {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;

  @media @breakpoint-mobile {
    overflow-y: auto;
  }
}

.FillWidth {
  background-color: @color-tertiary-background;

  > li {
    .text-14;

    align-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;

    > button {
      padding: @size-14 0;
    }
  }
}

.FillWidthMobile {
  @media @breakpoint-mobile {
    .FillWidth;
  }
}

.Fill {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  left: 0;
  right: 0;
  z-index: @above-all-content;

  > li > button {
    .text-14;
  }
}

.ActiveTabFill {
  background-color: transparent;
}

.ActiveSpanFill {
  border-bottom: 1px solid white;
}

.NoBorder {
  background-color: unset;
  border: 0;
  overflow-x: auto;
  padding: 0 @size-8;

  > li {
    > button {
      .text-12;

      padding: @size-24 @size-8;
      text-transform: uppercase;
    }
  }
}

.NoBorder::-webkit-scrollbar {
  display: none;
}

.BorderBetween {
  > li {
    display: flex;
    flex: 1;
    justify-content: center;

    > button {
      flex: 1;
      margin: @size-8 0;
      padding: @size-6 @size-8;
    }

    &:not(:first-child) {
      > button {
        border-left: 1px solid fade(@color-primary-alternate, 50%);
      }
    }
  }
}

.ActiveBorderBetween {
  border-left: 0;
}

.ActiveNoBorder {
  border: 0;
  padding-bottom: @size-4;
  position: relative;

  &::after {
    background-color: @color-underline;
    border-radius: @size-9;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
  }
}
