.my-markets {
	width: 92%;
	margin: 1vmin 0 0 4%;

	tr {
		border-bottom: 1px solid @color-border;
	}

	th, td {
		padding: 0.75em 1.5em;
		line-height: 1.4em;
	}

	.market.description {
		text-align: left;
	}
	.end-date {
		text-align: left;
	}
	.open-volume {
		text-align: right;
	}
	.volume {
		text-align: right;
	}
	.num-trades {
		text-align: right;
	}
	.avg-trade-size {
		text-align: right;
	}
	.fees-collected {
		text-align: right;
		.colorize();
	}
}
