.component-header {
    .portfolio-summary {
        align-content: stretch;
        margin: 0 5vmin;
        padding: 0;

        .summary-item {
            flex: 1;

            border: 1px solid @color-border-dark;
            &:not(:last-of-type) {
                border-right: none;
            }

            .summary-content {
                display: flex;
                justify-content: center;
                align-items: center;

                height: 100%;

                .summary-value {
                    font-weight: @font-weight-bold;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}