.portfolio-market {
  .border(true);

  background-color: @color-white;
  margin-bottom: 1em;
}

.portfolio-market-overview {
  .font-size-large();

  font-weight: 400;
  padding: 1em 1em 0.4em;

  &:not(.my-positions-overview) {
    .border(true, @border-bottom, @border-light);
  }
}

.portfolio-detail {
  display: flex;
  flex-wrap: wrap;
  padding: 0.6em 1em;

  &:first-of-type {
    @media @breakpoint-2-3 {
      .portfolio-group {
        flex-basis: 100%;
        justify-content: center;

        .portfolio-pair {
          flex-basis: 0;

          &:not(:last-of-type) {
            margin-right: 2em;
          }
        }
      }
    }

    @media @breakpoint-1 {
      .portfolio-group {
        flex-basis: 100%;
        justify-content: center;

        .portfolio-pair {
          flex-basis: 0;

          &:not(:last-of-type) {
            margin-right: 1em;
          }
        }
      }
    }
  }

  &:not(:first-of-type) {
    .border(true, @border-top, @border-light);
  }

  &:hover {
    background-color: @color-gray-light;
  }
}

.portfolio-group {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  text-align: right;

  &:not(:first-of-type) {
    margin-left: 1em;
  }

  @media @breakpoint-2-3 {
    flex-wrap: wrap;
  }

  @media @breakpoint-1 {
    flex-wrap: wrap;
  }

  .portfolio-pair {
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    white-space: nowrap;

    &:not(:last-of-type) {
      margin-right: 1em;

      @media @breakpoint-2-3 {
        margin-bottom: 1em;
        margin-right: 0;
      }

      @media @breakpoint-1 {
        margin-bottom: 1em;
        margin-right: 0;
      }
    }

    @media @breakpoint-2-3 {
      flex-basis: 100%;
    }

    @media @breakpoint-1 {
      flex-basis: 100%;
    }

    &.realized-net,
    &.unrealized-net,
    &.total-net {
      .colorize();
    }
  }
}

.main-group {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  @media @breakpoint-2-3 {
    align-items: flex-start;
    flex-direction: column;
  }

  @media @breakpoint-1 {
    align-items: flex-start;
    flex-direction: column;
  }

  & > * {
    flex: 0;
  }

  .main-group-title {
    .font-size-medium();

    flex-basis: 33%;
    text-align: left;
  }

  .value-denomination {
    .colorize();
  }

  .portfolio-pair {
    @media @breakpoint-2-3 {
      flex-basis: 0;
      text-align: left;

      .value-denomination {
        text-align: right;
      }
    }

    @media @breakpoint-1 {
      flex-basis: 0;
      text-align: left;

      .value-denomination {
        text-align: right;
      }
    }
  }
}
