@import (reference) '~assets/styles/shared';

.PortfolioView {
  .TwoTonePage;
  .TwoTonePageGrid;

  > section:first-of-type {
    flex-flow: column nowrap;

    > div[class*="AppStats"] {
      padding: 0 @size-10;

      > div {
        grid-gap: 0;
        padding: @size-36 @size-10;

        &:first-of-type {
          padding: @size-36 @size-10 @size-36 0;
        }

        &:last-of-type {
          padding: 0 0 0 @size-10;
        }

        > span {
          text-align: center;
          justify-content: center;
          align-items: center;
          grid-column: span 2;

          &:last-of-type {
            .text-24-bold;
          }
        }
      }
    }

    > div[class*="PositionsLiquidityViewSwitcher"] {
      margin-top: @size-64;
    }

    > div[class*="Activity"] {
      display: none;
    }

    //div[class*="PositionTable"] {
    //  min-width: @size-434;
    //  overflow-x: scroll;
    //}
  }
}

@media @breakpoint-mobile-tablet {
  .PortfolioView {
    grid-template-columns: 1fr;
    padding: @size-16 @size-16 @size-40;
    flex-flow: column nowrap;

    > section:last-of-type {
      display: none;
    }

    > section:first-of-type  {
      padding: 0;
      max-width: 100%;
      overflow: hidden;

      > div[class*="AppStats"] > div {
        padding: 0;
        grid-gap: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        > span {
          text-align: center;
          justify-content: center;
          align-items: center;
          grid-column: span 2;

          &:last-of-type {
            .text-14-bold;
          }
        }
      }

      > div[class*="PositionsLiquidityViewSwitcher"] {
        margin-top: @size-40;
      }

      > div[class*="Activity"] {
        display: flex;
      }
    }

  }
}

.ClaimableWinningsSection {
  display: flex;
  flex-flow: row nowrap;

  > button {
    margin-top: @size-16;
    flex: 1;

    &:first-of-type:not(:last-of-type) {
      margin-right: @size-8;
    }
  }

  @media @breakpoint-mobile-tablet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: @size-8 0;
    margin-top: @size-16;

    > button {
      margin-top: 0;

      &:first-of-type:not(:last-of-type) {
        margin-right: 0;
      }
    }
  }
}
