@import (reference) '~assets/styles/shared';

// Used in Betting UI
.CategoryFilters {
  display: flex;
  flex-direction: column;
  margin: @size-32 0 0;

  > .CategoriesGroup:first-of-type {
    margin: 0 @size-32 @size-26;

    @media @breakpoint-mobile {
      margin: @size-10 @size-24 @size-16;
    }

    > div {
      margin: 0;
      height: @size-14;
    }
  }

  > .CategoriesGroup:nth-of-type(2) {
    margin: 0 @size-32;

    @media @breakpoint-mobile {
      margin: @size-16 @size-24 0;
    }
  }

  @media @breakpoint-mobile {
    margin: @size-10 0 @size-16;
  }
}

.CategoriesGroup {
  > span {
    .mono-12-bold;

    display: block;
    color: @color-primary-text;
    margin: 0 0 @size-13;

    @media @breakpoint-mobile {
      .mono-14-bold;
    }
  }

  > span:not(:first-of-type) {
    .text-12-bold;

    color: @color-primary-text;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    > svg {
      height: @size-12;
      margin-right: @size-6;

      > g > path {
        fill: @color-primary-text;
      }
    }
  }
}

.ShowAll {
  .text-10-semi-bold;

  cursor: pointer;
  color: @color-primary-text;
  background: @color-secondary-action;
  border: 1px solid @color-secondary-action-outline;
  border-radius: @border-radius-default;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: @size-4 @size-6;
  margin: @size-2 0 @size-8;

  @media @breakpoint-mobile {
    margin-top: -@size-4
  }
}

.AllCategories {
  margin: 0 @size-32;
  user-select: none;
  cursor: pointer;

  @media @breakpoint-mobile {
    margin: @size-10 @size-24 0;
  }

  > span {
    .mono-12-bold;

    display: block;
    color: @color-primary-text;
    margin: 0 0 @size-13;

    @media @breakpoint-mobile {
      .mono-14-bold;
      margin: 0 0 @size-22;
    }
  }

  > div {
    .text-12-bold;

    text-transform: capitalize;
    color: @color-secondary-text;

    > svg {
      fill: @color-secondary-text;
      width: @size-10;
      height: @size-10;
      margin-right: @size-14;

      @media @breakpoint-mobile {
        width: @size-16;
        height: @size-16;
        margin-right: @size-13;
        transform: translateY(@size-3);
      }
    }

    @media @breakpoint-mobile {
      .text-14-bold;
    }

    &:hover {
      color: @color-primary-text;

      > svg {
        fill: @color-primary-text;
      }
    }
  }
}

.SelectedCategories {
  .text-12-bold;

  color: @color-primary-text;
  text-transform: capitalize;
  user-select: none;
  cursor: pointer;

  @media @breakpoint-mobile {
    .text-14;
  }

  > svg {
    fill: @color-primary-text;
    height: @size-10;
    margin-right: @size-8;
  }

  > div:not(.SelectedCategory):not(.backToCategory) {
    margin: @size-8 @size-40 0 @size-72;

    @media @breakpoint-mobile {
      margin: @size-8 @size-24 0 @size-66;
    }
  }
}

.SelectedCategories > .backToCategory {
  .text-12-bold;

  margin: @size-13 @size-32;
  color: @color-secondary-text;

  @media @breakpoint-mobile {
    .text-14-bold;
    margin: @size-21 @size-24;
  }

  > svg {
    fill: @color-secondary-text;
    width: @size-10;
    height: @size-10;
    margin-right: @size-14;

    @media @breakpoint-mobile {
      width: @size-16;
      height: @size-16;
      margin-right: @size-13;
      transform: translateY(@size-3);
    }
  }

  &:hover {
    color: @color-primary-text;

    > svg {
      fill: @color-primary-text;
    }
  }
}

.SelectedCategory {
  .text-12-bold;

  color: @color-primary-text;

  margin: @size-8 @size-40 @size-8 @size-60;

  @media @breakpoint-mobile {
    .text-14-bold;

    margin: @size-8 @size-24 @size-8 @size-56;
  }

}

.disabled {
  pointer-events: none;
}
