@import (reference) '~assets/styles/shared';

// Used in Betting UI
.CategoryFilters {
  display: flex;
  flex-direction: column;
  margin: @size-32 0 0;

  > .CategoriesGroup:first-of-type {
    margin: 0 @size-32 @size-26;

    @media @breakpoint-mobile {
      margin: @size-10 @size-24 @size-16;
    }

    > div {
      margin: 0;
      height: @size-14;
    }
  }

  > .CategoriesGroup:nth-of-type(2) {
    margin: 0 @size-32;

    @media @breakpoint-mobile {
      margin: @size-16 @size-24 0;
    }
  }

  @media @breakpoint-mobile {
    margin: @size-10 0 @size-16;
  }
}

.CategoriesGroup {
  > span {
    .mono-12-bold;

    display: block;
    color: var(--color-primary-text);
    margin: 0 0 @size-13;

    @media @breakpoint-mobile {
      .mono-14-bold;
    }
  }

  > span:not(:first-of-type) {
    .text-12-bold;

    color: var(--color-primary-text);
    text-transform: uppercase;
    display: flex;
    align-items: center;

    > svg {
      height: @size-12;
      margin-right: @size-6;

      > g > path {
        fill: var(--color-primary-text);
      }
    }
  }
}

.ShowAll {
  .text-10-semi-bold;

  cursor: pointer;
  color: var(--color-primary-text);
  background: var(--color-secondary-action);
  border: @size-1 solid var(--color-secondary-action-outline);
  border-radius: @border-radius-default;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: @size-4 @size-6;
  margin: @size-2 0 @size-8;

  @media @breakpoint-mobile {
    margin-top: -@size-4
  }
}

.AllCategories {
  margin: 0 @size-32;
  user-select: none;
  cursor: pointer;

  @media @breakpoint-mobile {
    margin: @size-10 @size-24 0;
  }

  > span {
    .mono-12-bold;

    display: block;
    color: var(--color-primary-text);
    margin: 0 0 @size-13;

    @media @breakpoint-mobile {
      .mono-14-bold;
      margin: 0 0 @size-22;
    }
  }

  > div {
    .text-12-bold;

    text-transform: uppercase;
    color: var(--color-secondary-text);

    > svg {
      fill: var(--color-secondary-text);
      width: @size-10;
      height: @size-10;
      margin-right: @size-14;

      @media @breakpoint-mobile {
        width: @size-16;
        height: @size-16;
        margin-right: @size-13;
        transform: translateY(@size-3);
      }
    }

    @media @breakpoint-mobile {
      .text-14-bold;
    }

    &:hover {
      color: var(--color-primary-text);

      > svg {
        fill: var(--color-primary-text);
      }
    }
  }
}

.SelectedCategories {
  .text-12-bold;

  color: var(--color-primary-text);
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;

  @media @breakpoint-mobile {
    .text-14;
  }

  > svg {
    fill: var(--color-primary-text);
    height: @size-10;
    margin-right: @size-8;
  }

  > div:not(.SelectedCategory):not(.backToCategory) {
    margin: @size-8 @size-40 0 @size-72;

    @media @breakpoint-mobile {
      margin: @size-8 @size-24 0 @size-66;
    }
  }
}

.SelectedCategories > .backToCategory {
  .text-12-bold;

  margin: @size-13 @size-32;
  color: var(--color-secondary-text);

  @media @breakpoint-mobile {
    .text-12-bold;
    margin: @size-21 @size-24;
  }

  > svg {
    fill: var(--color-secondary-text);
    width: @size-10;
    height: @size-10;
    margin-right: @size-14;

    @media @breakpoint-mobile {
      width: @size-16;
      height: @size-16;
      margin-right: @size-13;
      transform: translateY(@size-3);
    }
  }

  &:hover {
    color: var(--color-primary-text);

    > svg {
      fill: var(--color-primary-text);
    }
  }
}

.SelectedCategory {
  .text-12-bold;

  color: var(--color-primary-text);

  margin: @size-8 @size-40 @size-8 @size-60;

  @media @breakpoint-mobile {
    .text-14-bold;

    margin: @size-8 @size-24 @size-8 @size-56;
  }

}

.disabled {
  pointer-events: none;
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .CategoryFilters {
    margin: 0;
    padding: @size-32 0 0 @size-30;

    > h3 {
      .text-20-bold;

      color: var(--color-primary-text);
      margin-bottom: @size-32;
      text-transform: uppercase;
    }

    > .CategoriesGroup:first-of-type {
      > div {
        height: auto;

        > section {
          padding-left: @size-28;

        }
      }
    }

    > .CategoriesGroup:nth-of-type(2) {
      margin-top: @size-24;
    }
  }

  .CategoriesGroup {
    > span {
      .mono-14-bold;
    }

    margin: 0;
    padding-bottom: @size-8;
    border-bottom: @size-1 solid var(--color-secondary-action-outline);
  }

  .BackButtonForCategories {
    .text-12-semi-bold;

    color: var(--color-secondary-text);
    display: flex;
    align-items: center;

    > svg {
      width: @size-20;
      height: @size-20;
      padding: @size-4;
      border: @size-1 solid var(--color-dark-text);
      border-radius: @border-radius-default;
      background-color: var(--color-module-background);
      margin-right: @size-8;
      fill: var(--color-primary-text);
    }

    &:not(:disabled):hover {
      color: var(--color-primary-text);

      > svg {
        border: @size-1 solid var(--color-primary-text);
      }
    }

    &:not(:disabled):focus > svg {
      background-color: transparent;
    }

    &:not(:disabled):active {
      .text-12-bold;

      color: var(--color-primary-text);
    }

    &:disabled {
      opacity: 0.25;
    }
  }

  .AllCategories {
    margin: 0;

    > span {
      display: none;
      .text-14-bold;
    }

    > div {
      .BackButtonForCategories;
    }
  }

  .SelectedCategories {
    margin: 0;
    border-bottom: @size-1 solid var(--color-secondary-action-outline);

    > div:not(.SelectedCategory):not(.backToCategory) {
      margin: 0;
      padding-left: @size-30;
    }

    &.SubCategories {
      > div:not(.SelectedCategory):not(.backToCategory) {
        margin: 0;
        padding-left: @size-46;
      }
    }
  }

  .SelectedCategories > .backToCategory {
    .BackButtonForCategories;

    margin: @size-13 0;
  }

  .SelectedCategory {
    margin: @size-8 0;
  }

  .backToCategory + .SelectedCategory {
    padding-left: @size-30;
  }

  @media @breakpoint-mobile-tablet {
    .CategoryFilters {
      margin: 0;
      margin-bottom: @size-80;
      padding: 0 @size-12;

      > h3 {
        .text-16-bold;

        margin-bottom: 0;

        > div[class*='CategoryRow'] > {
          margin: 0;

          > span:first-of-type {
            .text-14-bold;

            margin-bottom: 0;
            text-transform: uppercase;
          }
        }
      }

      > .CategoriesGroup:first-of-type {
        > div {
          > section {
            padding-left: @size-48;
          }
        }
      }
    }

    .CategoriesGroup {
      border-bottom: 0;

      > span {
        display: none;
      }
    }
  }
}
