@import (reference) '~assets/styles/shared';

.Filters {
  display: flex;
  border-top: @size-1 solid @color-active-background;
  flex-direction: column;
  margin: @size-16 0 @size-48;
  overflow: auto;
  min-height: 100%;

  @media @breakpoint-mobile {
    border-top: none;
    margin: 0 0 @size-16 0;
  }
}

.FiltersGroup {
  > div {
    margin: @size-13 @size-32 0;

    > div {
      grid-template-columns: @size-32 auto @size-16;
      border: none;
      height: auto;
      margin: 0 0 @size-12 0;
      cursor: pointer;
      background: @color-module-background;

      @media @breakpoint-mobile {
        grid-template-columns: @size-34 auto @size-16;
        height: @size-32;
      }

      > h5,
      > span {
        .text-12-medium;

        color: @color-secondary-text;
        text-transform: capitalize;

        @media @breakpoint-mobile {
          .text-14-medium;
        }
      }

      // radio icon
      > svg {
        margin: 0;
        height: @size-20;
      }

      &:hover {
        border: none;
      }
    }

    > div:last-of-type {
      margin: 0 0 @size-16 0;
    }

    @media @breakpoint-mobile {
      margin: @size-13 @size-24 0;
    }
  }

  // Filters header
  > div:first-of-type {
    .text-12-bold;

    text-transform: uppercase;
    color: @color-primary-text;
    margin: @size-24 @size-32 @size-19 @size-32;
    display: flex;
    align-items: center;
    cursor: pointer;

    > span {
      display: flex;
      margin-left: @size-8;
    }

    > svg {
      margin: 0 @size-15 0 @size-3;
      width: @size-16;
      height: @size-16;
    }

    @media @breakpoint-mobile {
      .text-14-bold;

      margin: @size-24;
    }
  }
}

.Filter {
  align-items: center;
  display: flex;

  > span:first-of-type {
    .text-12-bold;

    text-transform: uppercase;
    color:@color-primary-text;

    @media @breakpoint-mobile {
      .text-14-bold;
    }
  }

  > span:last-of-type {
    > label {
      margin: 0;
      width: @size-16;
      height: @size-16;
    }
  }
}

.Filter_TooltipHint {
  > svg {
    height: @size-12;
    width: @size-12;
    fill: @color-secondary-text;

    @media @breakpoint-mobile {
      margin-bottom: @size-1;
    }
  }
}

.Filter_TooltipContainer {
  margin: 0 0 0 @size-4;
}

.Searching {
  pointer-events: none;
  opacity: 0.5;
}
