@import (reference) '~assets/styles/shared';

.Filters {
  display: flex;
  flex-direction: column;
  display: none;

  @media @breakpoint-mobile {
    border-top: 1px solid rgba(175, 167, 193, 0.15);
    display: flex;
    margin-bottom: @size-24;
  }
}

.FiltersGroup {
  > div {
    margin: 0 @size-40;

    @media @breakpoint-mobile {
      margin: 0 @size-16;
    }

    > div {
      background: @color-module-background;
      border: none;
      cursor: pointer;
      grid-template-columns: 34px auto @size-16;
      height: auto;
      margin: 0 0 @size-12 0;

      > h5 {
        text-transform: capitalize;
      }

      > svg {
        margin: 0
      }

      &:hover {
        border: none;
      }
    }
  }

  > div:first-of-type {
    .text-14-bold;

    text-transform: uppercase;
    color: @color-secondary-text;

    @media @breakpoint-mobile {
      margin: @size-24 @size-16 @size-16 @size-16;
    }
  }
}

.Searching {
  pointer-events: none;
  opacity: 0.5;
}
