@import (reference) '~assets/styles/shared';

.Filters {
  display: flex;
  flex-direction: column;
  display: none;

  @media @breakpoint-mobile {
    border-top: @size-1 solid @color-active-background;
    display: flex;
    margin-bottom: 0;
  }
}

.FiltersGroup {
  > div {
    margin: 0 @size-40;

    @media @breakpoint-mobile {
      margin: 0 @size-24;
    }

    > div {
      grid-template-columns: @size-32 auto @size-16;
      border: none;
      height: auto;
      margin: 0 0 @size-12 0;
      cursor: pointer;
      background: @color-module-background;

      @media @breakpoint-mobile {
        grid-template-columns: @size-34 auto @size-16;
        height: @size-32;
      }

      > h5, > span {
        .text-12-medium;

        color: @color-secondary-text;
        text-transform: capitalize;

        @media @breakpoint-mobile {
          .text-14-medium;
        }
      }

      // radio icon
      > svg {
        margin: 0;
        height: @size-20;
      }

      &:hover {
        border: none;
      }
    }
  }

  > div:first-of-type {
    .text-12-bold;

    text-transform: uppercase;
    color: @color-primary-text;
    margin: @size-24 @size-32 @size-19;
    display: flex;
    align-items: center;

    > svg {
      margin: 0 @size-14 0 @size-4;
      width: @size-16;
      height: @size-16;

      > path {
        fill: @color-primary-text;
      }
    }

    @media @breakpoint-mobile {
      .text-14-bold;

      margin: @size-24 @size-24 @size-16;
    }
  }
}

.Searching {
  pointer-events: none;
  opacity: 0.5;
}
