@import (reference) '~assets/styles/shared';

.Filters {
  display: flex;
  border-top: 1px solid rgba(175, 167, 193, 0.15);
  flex-direction: column;
  margin: @size-16 0 0 0;
  overflow: auto;
  min-height: 100%;

  @media @breakpoint-mobile {
    margin: 0;
  }
}

.FiltersGroup {
  > div {
    margin: @size-20 @size-32 @size-14 @size-32;

    > div {


      grid-template-columns: 28px auto @size-16;
      border: none;
      height: auto;
      margin: 0 0 @size-12 0;
      cursor: pointer;
      background: @color-dark-grey;

      @media @breakpoint-mobile {
        grid-template-columns: 34px auto @size-16;
      }

      > h5 {
        .text-11;

        text-transform: capitalize;

        @media @breakpoint-mobile {
          .text-14;
        }
      }

      > svg {
        margin: 0;
        height: 1rem;

        @media @breakpoint-mobile {
          height: 1.25rem;
        }
      }

      &:hover {
        border: none;
      }
    }

    > div:last-of-type {
      margin: 0 0 @size-14 0;
    }

    @media @breakpoint-mobile {
      margin-right: @size-16;
      margin-left: @size-16;
    }
  }

  > div:first-of-type {
    .text-11-bold;

    text-transform: uppercase;
    color: @color-secondary-text;
    margin: @size-24 @size-32 0 @size-32;

    @media @breakpoint-mobile {
      .text-14-bold;

      margin: @size-24 @size-16 0 @size-16;
    }
  }
}

.Filter {
  align-items: center;
  display: flex;

  > span:first-of-type {
    .text-11-bold;

    text-transform: uppercase;
    color:@color-secondary-text;

    @media @breakpoint-mobile {
      .text-14-bold;
    }
  }

  > span:last-of-type {

    > label {
      margin: 0;
    }
  }
}

.Filter_TooltipHint {
  > svg {
    height: @size-12;
    width: @size-12;
    fill: @color-secondary-text;

    @media @breakpoint-mobile {
      height: @size-16;
      width: @size-16;
    }
  }
}

.Filter_TooltipContainer {
  margin: 0 0 0 @size-6;
}

.Searching {
  pointer-events: none;
  opacity: 0.5;
}
