@import (reference) '~assets/styles/shared';

.WordTrail {
  display: inline-flex;
  // Required to make ellipsis work.
  min-width: 0;

  &__label {
    color: @color-lightgray;

    &::after {
      margin: 0 4px;
    }
  }

  > button {
    .overflow-ellipsis;

    &:not(:first-of-type)::before {
      margin: 0 4px;
    }
  }
}

.WordTrail__button {
  &:extend(.button--transparent--rounded all);

  border-width: 1px;
  color: @color-dark-light-gray;
  font-size: @font-size-extra-small;
  text-transform: capitalize;
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  &:hover {
    border-width: 1px;
    color: @color-white;
  }
}
