.markets-pagination {

	.font-size-large();

	align-items: center;
	display: flex;
	flex: 1;
	justify-content: space-around;

	& > div {
		flex: 1;
	}

	.markets-pagination-group-2 {
		display: flex;
		justify-content: center;
	}

	.markets-pagination-group-3 {
		display: flex;
		justify-content: flex-end;
	}

	button {

		.font-size-extra-large();

		background-color: @color-transparent;
		color: @color-text-dark;
	}
}
