.markets {
	.page-content {
		color: @color-dark-hover;

		.markets-content {
			display: flex; flex-wrap: wrap;
			width: 100%;
			.l-container();
		}

		.markets-header-bar {
			display: flex;
			width: 100%;
			padding: 1vmin 0 0 0;

			.button.make {
				width: @filters-width; height: 6.5rem;
				padding: 0;
				line-height: 6.5rem;
				text-align: center;
				border-radius: 1px;
				font-size: 1.6em;
			}

			.markets-header {
				display: flex;
				flex: 2;
				width: 100%; height: 6.5rem;
				margin-left: 1vmin;
				padding: 0 0 0 5vmin;
				line-height: 6rem;
				color: @color-dark-hover;
				background: white;
				font-weight: 400;
				font-size: 1.5rem;
				text-transform: uppercase;

				.markets-header-item {
					display: inline-block;
					margin-right: 3vw;
					cursor: pointer;
					opacity: 0.5;

					* {
						vertical-align: middle;
					}

					&.active {
						opacity: 1;
					}

					&.favorites {
						white-space: nowrap;

						.name {
							&:before {
								display: inline-block; position: relative;
								top: 0.12em;
								margin-right: 0.5rem;
								content: '';
								color: #FFDA00;
								font-family: FontAwesome;
								font-size: 1.6em;
								transform: rotate(58deg);
								opacity: 0.45;
							}
						}
					}

					&.pending-reports {
						color: fade(@color-danger-active, 90%);
						font-weight: 700;
						white-space: nowrap;

						.name {
							&:before {
								display: inline-block; position: relative;
								top: 0.12em;
								margin-right: 0.5rem;
								content: '\f12a';
								color: fade(@color-danger-active, 70%);
								font-family: FontAwesome;
								font-size: 1.2em;
							}
						}
					}

					&.button {
						opacity: 1;
					}

					.num {
						font-weight: 900;
						margin-left: 0.5rem;
					}
				}
			}
		}

		.filters {
			position: relative; z-index: 2;
			width: @filters-width; height: 100%;
			margin: 1vmin 0 0 0;
			padding: 0 0 3rem 0;
			color: @color-dark-normal;
			background: white;
			border-radius: 1px;
			font-size: 1.4rem;

			.title {
				display: block;
				margin: 3rem 1rem 1rem 4rem;
				font-size: 1.5rem;
				font-weight: 700;
			}

			.filter {
				display: block;
				margin: 0.5rem 1rem 0.5rem 4rem;
			}
		}

		.markets-list {
			flex: 2;
			line-height: 2.5em;
			overflow: hidden;
		}
	}
}

@media only screen and (max-width: @media-small-width) {
	.markets {
		.page-content {
			.filters {
				flex: 2;
				width: 100%;
				margin: 1vmin 0 0 0;
				padding: 0 1em 1em 1em;

				.filters-group {
				    display: inline-block;
				    min-width: 31%;
					.title {
						margin: 1em;
					}
				}
			}

			.markets-list {
				flex: unset;
				width: 100%;
			}
		}
	}
}