.markets {
	.page-content {
		.pagination {
			display: block;
			width: 100%;
			margin: 1vmin 0;
			padding-left: @filters-width;
			font-size: 2em;

			.button-container {
				display: inline-block;
				width: 3em;
				margin: 0 2em;
				color: @color-plain-active;
				font-weight: 900;
				font-size: 2rem;
				cursor: pointer;

				> * {
					vertical-align: middle;
				}

				.button.next, .button.prev {
					height: 1em;
					margin: 0;
					padding: 0;
					line-height: 1em;
					color: @color-plain-active;
					background: transparent;
					font-family: FontAwesome;
					font-weight: 900;
					font-size: 5rem;
				}

				&.next {
					float: right;
					text-align: right;
				}
				&.prev {
					float: left;
					text-align: left;
				}

				.selected-page-num {
					flex: 2;
				}
			}
		}
	}
}