@import (reference) '~assets/styles/shared';

.ConnectAccount {
  align-items: center;
  color: @color-secondary-text;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: @above-all-content-above;

  &:hover {
    background-color: @color-primary-light;
  }

  @media @breakpoint-mobile-extra-small {
    max-width: 12.5rem;
  }
}

.ConnectAccountLoggedIn {
  @media @breakpoint-mobile-mid {
    pointer-events: none;

    &:hover {
      background-color: unset;
    }
  }
}

.selected {
  background-color: @color-primary-light;
}

.container {
  cursor: pointer;
  display: flex;
  flex: 1;
  padding: 1.25rem 1.375rem 1.125rem 1.5rem;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.containerLoggedIn {
  @media @breakpoint-mobile-mid {
    padding-top: 18px;
  }
}

.status {
  .mono-10;

  color: @color-less-neutral;
  margin-bottom: 4px;
}

.statusIndicator {
  background-color: @color-offwhite;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  min-height: 8px;
  min-width: 8px;
}

.statusGreen {
  background-color: #00ffb1;
}

.title {
  .text-14-bold;

  display: flex;
}

.arrow {
  margin-left: 16px;
  margin-top: -3px;
  max-width: 12px;

  > span {
    display: inline-block;
    margin-top: -0.5rem;
  }
}

.arrowHide {
  @media @breakpoint-mobile-mid {
    display: none;
  }
}

.connectDropdown {
  background-color: @color-primary-light;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.5);
  height: 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 100%;
  width: 308px;
  z-index: @above-all-content;

  @media @breakpoint-mobile {
    right: 0;
  }
}
