@import (reference) '~assets/styles/shared';

.ConnectAccount {
  align-items: center;
  color: @color-primary-text;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: @above-all-content-above;

  &:hover {
    background-color: @color-module-background;
  }

  > div:first-of-type {
    cursor: pointer;
    display: flex;
    padding: @size-12;

    &:focus {
      outline: none;
    }

    > div:first-of-type {
      display: flex;
      align-items: center;

      > span {
        margin-left: @size-16;
        margin-top: -@size-3;
        max-width: @size-12;

        > span {
          display: inline-block;
          margin-top: -@size-8;
        }

        @media @breakpoint-mobile {
          display: none;
        }
      }
    }
  }
}

.ConnectDropdown {
  position: absolute;
  right: 0;
  z-index: @above-all-content;
}

.AccountInfo {
  align-items: center;
  display: flex;
  user-select: none;

  > img, > canvas {
    border-radius: 50%;
    height: @size-32;
    width: @size-32;
  }

  > div {
    display: flex;
    flex-direction: column;
    margin-left: @size-8;

    > div:first-of-type {
      .mono-9-bold;

      color: @color-secondary-text;
      text-transform: uppercase;
    }

    > div:last-of-type {
      .text-12;

      color: @color-primary-text;
    }
  }
}
