@import 'Colors';

.SendMessage {
  box-sizing: border-box;
  font-size: 0.9em;
  padding: 0.1em;
  color: rgb(128, 128, 128);
  display: flex;
  flex: 1 1 auto;
  max-width: 60vmax;
  margin-top: 0;

  form {
    display: flex;
    flex: 1 1 auto;
    margin-right: 0.5em;
  }

  input[type='text'] {
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    flex: 1 1 100%;

    font-size: 10px;
    font-family: "Roboto";
    font-weight: 400;

    color: $input-text-color;
    background-color: #0E0E0F;

    border: 1px solid #252429;

    padding: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  .username {
    display: flex;
    align-items: center;
    color: $main-text-color;
    margin-right: 0.5em;
    padding: 0em 0.25em;
  }
}
