@import 'Colors';
@import 'AugurColors';

.SendMessage {
  box-sizing: border-box;
  font-size: 0.75rem; // 12px
  display: flex;
  flex: 1 1 auto;
  max-width: 100%;
  margin-top: 0;
  height: 100%;

  form {
    display: flex;
    flex: 1 1 auto;
    margin-right: 0;
  }

  input[type='text'] {
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    flex: 1 1 100%;

    font-family: "Roboto";
    font-weight: 400;

    color: $input-text-color;
    background-color: #0E0E0F;

    border: 1px solid #252429;

    padding: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  textarea {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.75rem; // 12px

    color: $orbit-color-primary-text;
    background-color: #0E0E0F;

    border: 1px solid #252429;
    border-radius: 0.1875rem; // 3px

    padding: 0.1875rem; // 3px

    margin-left: 0;
    margin-right: 0;

    height: 100%;
    width: 100%;

    box-sizing: border-box;

    resize: none;
  }

  textarea::placeholder {
    color: $orbit-color-secondary-text;
    opacity: 1;
  }

  input[type='submit'] {
    display: none;
  }

  .username {
    display: flex;
    align-items: center;
    color: $main-text-color;
    margin-right: 0.5em;
    padding: 0em 0.25em;
  }
}
