.notification {
  .font-size-normal();

  background-color: @color-white;
  display: flex;
  overflow-x: none;
  overflow-y: hidden;
  pointer-events: all;
  transition-duration: @animation-speed-slow;
  transition-property: background-color;
  transition-timing-function: @animation-default-type;

  &.notification-unseen {
    background-color: @color-orange-light;
  }

  .notification-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.2em 0 0.2em 0.2em;

    .notification-title {
      .font-weight-normal();

      text-transform: capitalize;
    }

    .notification-description {
      .font-size-small();
    }
  }

  .notification-remove {
    min-width: 2em;
  }

  .notification-details,
  .notification-remove {
    &:not(:first-of-type),
    &:not(:last-of-type) {
      .border(true, @border-bottom, @border-light);
    }
  }

  &.notification-enter,
  &.notification-appear {
    max-height: 0px; /* stylelint-disable-line length-zero-no-unit */
    opacity: 0;

    &.notification-enter-active,
    &.notification-appear-active {
      max-height: 1000px;
      opacity: 1;
      transition-duration: @animation-speed-fast;
      transition-property: max-height, opacity;
      transition-timing-function: @animation-default-type;
    }
  }

  &.notification-leave {
    max-height: 1000px;
    opacity: 1;

    &.notification-leave-active {
      max-height: 0px; /* stylelint-disable-line length-zero-no-unit */
      opacity: 0;
      transition-duration: @animation-speed-very-fast;
      transition-property: max-height, opacity;
      transition-timing-function: @animation-default-type;
    }
  }
}
