#transition_notifications_view {
  bottom: 0;
  position: absolute;
  transform: translateY(100%);

  @media @breakpoint-mobile {
    left: auto !important; // Overrides inline style
    right: 0;
  }

  #notifications_view {
    .border(true, @border-right);
    .border(true, @border-bottom);
    .border(true, @border-left);

    background-color: @color-white;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
    margin: 0;
    transform: translateX(-50%);
    width: 300px;

    @media @breakpoint-mobile {
      transform: translateX(0);
    }

    @media @breakpoint-1 {
      width: 100vw;
    }

    &.notifications-enter {
      opacity: 0;

      &.notifications-enter-active {
        opacity: 1;
        transition-duration: @animation-speed-fast;
        transition-property: opacity;
        transition-timing-function: @animation-default-type;
      }
    }

    &.notifications-leave {
      opacity: 1;

      &.notifications-leave-active {
        opacity: 0;
        transition-duration: @animation-speed-very-fast;
        transition-property: opacity;
        transition-timing-function: @animation-default-type;
      }
    }

    h3 {
      .border(true, @border-bottom);
      .font-color-dark();

      padding-left: 1em;
    }
  }
}
