#notifications_arrow_up {
  @arrow-size: 8px;
  .border(true, @border-right, transparent, @arrow-size);
  .border(true, @border-bottom, @color-white, @arrow-size);
  .border(true, @border-left, transparent, @arrow-size);

  bottom: 0;
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  z-index: @above-all-content;
}

#notifications_view {
  .border(true, @border-right);
  .border(true, @border-bottom);
  .border(true, @border-left);

  background-color: @color-white;
  bottom: 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  margin: 0;
  position: absolute;
  right: 0;
  text-align: left;
  transform: translate(0, 100%) rotate(0.0001deg);
  width: 300px;

  @media @breakpoint-mobile {
    left: initial;
    right: 0;
    transform: translate(0, 100%) rotate(0.0001deg);
  }

  @media @breakpoint-1 {
    width: 100vw;
  }

  .notifications-header {
    .border(true, @border-bottom);

    align-items: flex-end;
    display: flex;

    h3 {
      flex: 1;
      margin-bottom: 0;
      padding-left: 1em;
    }

    .notifications-button-clear {
      color: @color-text-dark-light;
      padding-right: 1em;
    }
  }

  .notifications {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

&.notifications-enter {
  opacity: 0;

  &.notifications-enter-active {
    opacity: 1;
    transition-duration: @animation-speed-fast;
    transition-property: opacity;
    transition-timing-function: @animation-default-type;
  }
}

&.notifications-leave {
  opacity: 1;

  &.notifications-leave-active {
    opacity: 0;
    transition-duration: @animation-speed-fast;
    transition-property: opacity;
    transition-timing-function: @animation-default-type;
  }
}
