@import (reference) "~assets/styles/shared";

.AccountView {
  display: flex;
  flex-direction: column;
  margin: @size-4;

  @media @breakpoint-mobile {
    min-height: unset;
  }

  > div:first-of-type {
    flex: 1;
    min-height: 800px;
    height: calc(~"100vh - @{multi-top-bar-height}");
  }

  > div {
    display: flex;

    > div {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: @size-4;
      height: inherit;

      > div {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-bottom: @size-8;
        min-height: 6.25rem;
      }
    }

    > div:nth-of-type(2) {
      max-width: 470px;

      > div {
        max-height: unset;
      }
    }

    > div:last-of-type {
      flex: 1;
      flex-direction: column;

      > div:last-of-type {
        flex: 1;
        margin-left: 0;
        min-height: fit-content;
      }
    }
  }

  &.HideNotifications {
    > div > div:first-of-type > div:last-of-type {
      max-height: unset;
      flex: 1;
    }

    > div > div:first-of-type > div:first-of-type {
      max-height: @size-32;
      overflow-y: hidden;
      min-height: unset;
    }
  }

  &.HideTransactions {
    > div > div:last-of-type > div:first-of-type {
      max-height: unset;
      flex: 1;
    }

    > div > div:last-of-type > div:last-of-type {
      max-height: @size-32;
      overflow-y: hidden;
      min-height: unset;
    }
  }

  &.HideActiveMarkets {
    > div > div:first-of-type > div:first-of-type {
      max-height: unset;
      flex: 1;
    }

    > div > div:first-of-type > div:last-of-type {
      max-height: @size-32;
      min-height: unset;
      overflow-y: hidden;
    }
  }
}
