@import (reference) '~assets/styles/shared';

.AccountView {
  margin: @size-8;
  min-height: calc(~'100vh - @{multi-top-bar-height} - @{footer-height}');
  display: grid;
  grid-gap: @size-8 @size-12;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: @size-40 44vh 44vh @size-40 @size-40;

  @media @breakpoint-mobile {
    margin: @size-8 @size-12;
    min-height: unset;
    display: flex;
    flex-direction: column;
  }

  @media @breakpoint-tablet-tiny {
    grid-gap: @size-16;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: @size-16 @size-24;

    > div:first-of-type {
      grid-column: 1;
      order: 1;
    }

    > div:nth-of-type(2) {
      grid-column: 2;
      order: 2;
    }

    > div:nth-of-type(3) {
      grid-column: 1 / span 2;
      order: 4;
    }
    > div:nth-of-type(4) {
      grid-column: 1 / span 2;
      order: 3;
    }
    > div:nth-of-type(5) {
      grid-column: 1 / span 2;
      order: 5;
    }

    > footer {
      order: 6;
      grid-column: 1 / span 2;
    }
  }

  > div {
    display: flex;
    flex-flow: column nowrap;

    @media @breakpoint-tablet-tiny {
      button[class*='ToggleExtendButton'] {
        display: none;
      }
    }
  }

  > div:first-of-type,
  > div:nth-of-type(3) {
    grid-row: 1 / span 2;

    @media @breakpoint-tablet-tiny {
      grid-row: unset;
    }
  }

  > div:nth-of-type(2) {
    grid-row: 1 / span 4;

    @media @breakpoint-tablet-tiny {
      grid-row: unset;
    }

    > div[class*='Headers'] {
      background: var(--color-dark-grey);
      min-height: @size-40;

      > ul {
        padding: 0 @size-8;
      }
    }
  }

  > div:nth-of-type(4),
  > div:nth-of-type(5) {
    grid-row: 3 / span 2;

    @media @breakpoint-tablet-tiny {
      grid-row: unset;
    }
  }

  > div:nth-of-type(5) {
    div[class*='BoxHeader'] {
      > div:first-of-type > div:last-of-type {
        display: none;
      }
    }
  }

  > footer {
    grid-column: 1 / span 3;
    grid-row: -1;
    margin-top: @size-8;
  }

  &.HideNotifications {
    > div:first-of-type {
      grid-row: 1 / span 3;
    }

    > div:nth-of-type(4) {
      grid-row: 4;
      max-height: @size-40;
      overflow-y: hidden;
    }
  }

  &.HideTransactions {
    > div:nth-of-type(3) {
      grid-row: 1 / span 3;
    }

    > div:nth-of-type(5) {
      grid-row: 4;
      max-height: @size-40;
      overflow-y: hidden;
    }
  }

  &.HideActiveMarkets {
    > div:nth-of-type(4) {
      grid-row: 2 / span 3;
    }

    > div:first-of-type {
      grid-row: 1;
      max-height: @size-40;
      overflow-y: hidden;
    }
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .AccountView {
    display: block;
    margin: 0;
    width: 100%;

    > div:first-of-type {
      padding: @size-22 @size-32 @size-82;
      display: grid;
      grid-gap: @size-24;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      grid-template-rows: @size-64 @size-128;
      min-height: calc(@size-16 * 101);
      width: 100%;

      > div {
        border-radius: @border-radius-rounded;
        min-height: unset;
        background: var(--color-module-background);
        margin: 0;

        &:not(:first-of-type) {
          min-height: @size-420;
          height: fit-content;
          max-height: @size-600;

          > div[class*='Container'] {
            min-height: @size-420;
            height: fit-content;
            max-height: @size-600;
          }
        }

        div[class*='BoxHeader'] {
          background: var(--color-table-header-50);
          border-radius: @border-radius-rounded;

          > div:first-of-type {
            background: transparent;
            max-height: @size-56;
            min-height: @size-56;
            padding: 0 @size-12;

            > div:first-of-type {
              .text-16-bold;

              text-transform: capitalize;
            }

            > div:last-of-type {
              div[class*='SearchBar'] {
                padding-right: @size-8;
              }

              div[class*='isFocused'] {
                max-width: @size-178;
                margin-left: auto;
                border: @size-1 solid var(--color-dark-text);

                > input {
                  .text-14;

                  color: var(--color-primary-text);
                }

                > button > svg > path {
                  stroke: var(--color-primary-text);
                }
              }
            }
          }
        }
      }

      > h1 {
        .text-24-bold;

        color: var(--color-primary-text);
        margin: @size-10 0 @size-16 0;
        grid-column: 1 / span 3;
        grid-row: 1;
      }

      > section:first-of-type {
        grid-column: 1;
        grid-row: 2 / span 10;

        > div {
          min-height: @size-420;
          height: fit-content;
          max-height: @size-600;

          > div[class*='Container'] {
            min-height: @size-420;
            height: fit-content;
            max-height: @size-600;
          }
        }
      }

      > section:last-of-type {
        grid-column: 2;
        grid-row: 2 / span 10;

        > div:first-of-type {
          min-height: @size-744;
          max-height: @size-744;
        }

        > div:last-of-type {
          min-height: @size-540;
          max-height: @size-540;
        }
      }

      > section {
        display: grid;
        grid-gap: @size-24;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr;
      }

      > div:first-of-type {
        grid-column: 3;
        grid-row: 2;
      }

      > div:nth-of-type(2) {
        grid-column: 3;
        grid-row: 3 / span 3;
      }

      > div:last-of-type {
        grid-column: 3;
        grid-row: 6 / span 5;
      }

      > footer {
        grid-column: 1 / span 3;
        grid-row: auto;
      }

      @media @breakpoint-tablet-tiny {
        grid-template-columns: repeat(2, 1fr);
        width: unset;
        margin-bottom: 0;
        grid-auto-rows: auto;

        > h1 {
          grid-column: 1 / span 2;
          grid-row: 1;
        }

        > section:first-of-type {
          grid-column: 1;
          grid-row: span 4;
        }

        > section:last-of-type {
          grid-column: 2;
          grid-row: span 5;
        }

        > div:first-of-type {
          grid-column: 2;
          grid-row: 2;
        }

        > div:nth-of-type(2) {
          grid-column: 1;
          grid-row: auto;
        }

        > div:last-of-type {
          grid-column: 2;
          grid-row: auto;
        }

        > footer {
          grid-column: 1 / span 2;
          grid-row: auto;
        }
      }
    }
  }

  .MobileAccountView {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - @top-bar-height-mobile);
  }
}
