@import (reference) '~assets/styles/shared';

.AccountView {
  margin: @size-8;
  min-height: calc(~'100vh - @{multi-top-bar-height}');
  display: grid;
  grid-gap: @size-8 @size-12;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: @size-40 44vh 44vh @size-40 @size-40;

  @media @breakpoint-mobile {
    margin: @size-8 @size-12;
    min-height: unset;
    display: flex;
    flex-direction: column;
  }

  @media @breakpoint-tablet {
    grid-gap: @size-16;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: @size-16 @size-24;

    > div:first-of-type {
      grid-column: 1;
      order: 1;
    }

    > div:nth-of-type(2) {
      grid-column: 2;
      order: 2;
    }

    > div:nth-of-type(3) {
      grid-column: 1 / span 2;
      order: 4;
    }
    > div:nth-of-type(4) {
      grid-column: 1 / span 2;
      order: 3;
    }
    > div:nth-of-type(5) {
      grid-column: 1 / span 2;
      order: 5;
    }

    > footer {
      order: 6;
      grid-column: 1 / span 2;
    }
  }

  > div {
    display: flex;
    flex-flow: column nowrap;

    @media @breakpoint-tablet {
      button[class*="ToggleExtendButton"] {
        display: none;
      }
    }
  }

  > div:first-of-type,
  > div:nth-of-type(3) {
    grid-row: 1 / span 2;

    @media @breakpoint-tablet {
      grid-row: unset;
    }
  }

  > div:nth-of-type(2) {
    grid-row: 1 / span 4;

    @media @breakpoint-tablet {
      grid-row: unset;
    }

    > div[class*='Headers'] {
      background: var(--color-dark-grey);
      min-height: @size-40;

      > ul {
        padding: 0 @size-8;
      }
    }
  }

  > div:nth-of-type(4),
  > div:nth-of-type(5) {
    grid-row: 3 / span 2;

    @media @breakpoint-tablet {
      grid-row: unset;
    }
  }

  > div:nth-of-type(5) {
    div[class*='BoxHeader'] {
      > div:first-of-type > div:last-of-type {
        display: none;
      }
    }
  }

  > footer {
    grid-column: 1 / span 3;
    grid-row: -1;
    margin-top: @size-8;
  }

  &.HideNotifications {
    > div:first-of-type {
      grid-row: 1 / span 3;
    }

    > div:nth-of-type(4) {
      grid-row: 4;
      max-height: @size-40;
      overflow-y: hidden;
    }
  }

  &.HideTransactions {
    > div:nth-of-type(3) {
      grid-row: 1 / span 3;
    }

    > div:nth-of-type(5) {
      grid-row: 4;
      max-height: @size-40;
      overflow-y: hidden;
    }
  }

  &.HideActiveMarkets {
    > div:nth-of-type(4) {
      grid-row: 2 / span 3;
    }

    > div:first-of-type {
      grid-row: 1;
      max-height: @size-40;
      overflow-y: hidden;
    }
  }
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .AccountView {
    display: block;
    margin: 0;
    width: 100%;

    > div:first-of-type {
      padding: @size-22 @size-32 @size-82;
      display: grid;
      grid-auto-rows: @size-128 @size-10 auto;
      grid-gap: @size-24;
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      grid-template-rows: auto;
      min-height: unset;
      width: 100%;

      > div {
        min-height: unset;
        background: var(--color-module-background);
        margin: 0;

        div[class*='BoxHeader'] {
          background: var(--color-table-header-50);
          border-radius: @border-radius-rounded;

          > div:first-of-type {
            background: transparent;
            max-height: @size-56;
            min-height: @size-56;
            padding: 0 @size-12;

            > div:first-of-type {
              .text-16-bold;

              text-transform: capitalize;
            }

            > div:last-of-type {
              div[class*='SearchBar'] {
                padding-right: @size-8;
              }

              div[class*='isFocused'] {
                max-width: @size-178;
                margin-left: auto;
                border: @size-1 solid var(--color-dark-text);

                > input {
                  .text-14;

                  color: var(--color-primary-text);
                }

                > button > svg > path {
                  stroke: var(--color-primary-text);
                }
              }
            }
          }
        }

        > div:last-of-type {
          border-bottom-left-radius: @border-radius-rounded;
          border-bottom-right-radius: @border-radius-rounded;
        }
      }

      > h1 {
        .text-24-bold;

        color: var(--color-primary-text);
        margin: @size-10 0 @size-16 0;
        grid-column: 1 / span 3;
        grid-row: 1;
      }

      > div:first-of-type {
        grid-column: ~"1/2";
        grid-row: ~"2/6";
        max-height: @size-600;
      }

      > div:nth-of-type(2) {
        grid-column: ~"1/2";
        grid-row: ~"6/12";
      }

      > div:nth-of-type(3) {
        grid-column: ~"2/3";
        grid-row: ~"2/11";
        min-height: @size-778;
        max-height: @size-778;
      }

      > div:nth-of-type(4) {
        grid-column: ~"2/3";
        grid-row: ~"11/17";
        min-height: @size-540;
        max-height: @size-540;
      }

      > div:nth-of-type(5) {
        grid-column: 3;
        grid-row: 2;
        // min-height: @size-160;
        // max-height: @size-160;

        div[class*='BoxHeader'] {
          > div:first-of-type > div:last-of-type {
            display: initial;
          }
        }
      }

      > div:nth-of-type(6) {
        grid-column: ~"3/4";
        grid-row: ~"3/10";
      }

      > div:nth-of-type(7) {
        grid-column: ~"3/4";
        grid-row: ~"10/17";
      }

      > footer {
        grid-column: 1 / span 3;
        grid-row: 18;
      }

      @media @breakpoint-tablet {
        grid-template-columns: repeat(2, 1fr);
        width: unset;
        margin-bottom: 0;

        > h1 {
          grid-column: 1 / span 2;
          grid-row: 1;
        }

        > div:first-of-type {
          grid-column: ~"1/2";
          grid-row: ~"2/7";
        }

        > div:nth-of-type(2) {
          grid-column: ~"1/2";
          grid-row: ~"7/13";
        }

        > div:nth-of-type(3) {
          grid-column: ~"2/3";
          grid-row: ~"3/12";
        }

        > div:nth-of-type(4) {
          grid-column: ~"2/3";
          grid-row: ~"12/18";
        }

        > div:nth-of-type(5) {
          grid-column: ~"2/3";
          grid-row: ~"2/3";
        }

        > div:nth-of-type(6) {
          grid-column: ~"1/2";
          grid-row: ~"13/20";
        }

        > div:nth-of-type(7) {
          grid-column: ~"2/3";
          grid-row: ~"18/23";
        }

        > footer {
          grid-column: 1 / span 2;
          grid-row: 24;
        }
      }
    }
  }

  .MobileAccountView {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - @top-bar-height-mobile);
  }
}
