@import (reference) "~assets/styles/shared";

.Activity {
  align-items: center;
  background: @color-table-header;
  border-radius: @border-radius-default;
  display: flex;
  flex-direction: column;
  padding-top: @size-16;

  > h4 {
    .mono-12-semi-bold;

    color: @color-primary-text;
    text-transform: uppercase;
  }

  > div[class*="LinearPropertyLabel"] {
    align-items: baseline;
    min-width: 269px;
    max-width: 80%;
    margin: @size-24 auto @size-8;

    @media @breakpoint-mobile {
      margin: @size-10 @size-28 0;
      max-width: 100%;
    }

    > span:first-of-type {
      .text-10-medium;

      color: @color-secondary-text;
    }

    > span {
      .mono-12-medium;

      color: @color-primary-text;
    }
  }
}
