@import (reference) "~assets/styles/shared";

.Activity {
  align-items: center;
  border-radius: @border-radius-default;
  border-top: 1px solid @color-dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 @size-24;
  padding-top: @size-24;

  @media @breakpoint-mobile-mid {
    border-top: 1px solid @color-module-background;
    margin: 0;

    > div:first-of-type { 
      max-width: unset;
    }
  }

  > span {
    .mono-11-bold;

    margin-bottom: @size-20;
    text-transform: uppercase;
  }

  > div:first-of-type {
    margin-bottom: @size-24;
    max-width: 300px;
  }

  > ul {
    margin-bottom: @size-24;
  }
}
