@import (reference) '~assets/styles/shared';

.Funds {
  align-items: center;
  background: @color-table-header;
  border-radius: @border-radius-default;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: @size-16;
  text-transform: uppercase;

  @media @breakpoint-mobile-mid {
    background: unset;
    margin: 0;
  }

  > div:first-of-type {
    .mono-11-bold;

    color: @color-primary-text;
  }

  > div:nth-of-type(2) {
    margin-top: @size-16;
  }

  > div:nth-of-type(3) {
    .mono-22-bold;

    margin: @size-2 @size-4 0;

    @media @breakpoint-mobile-mid {
      color: @color-primary-text;
      margin-bottom: @size-12;
    }

    > svg {
      fill: @color-primary-text;
      height: @size-16;
      margin: 0 0 0 @size-4;
      width: @size-16;
    }
  }

  > div:last-of-type {
    display: flex;
    width: 100%;
  }
}

.BalanceFrozenFunds {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 300px;
  
  > div:last-of-type {
    flex-grow: unset;

    > svg {
      fill: @color-primary-text;
      height: @size-12;
      margin: 0 0 0 @size-4;
      width: @size-8;
    }
  }

  &:last-of-type {
    > div {
      margin-botttom: 0;
    }
  }

  @media @breakpoint-mobile-mid {
    max-width: unset;
  }
}

.Linear {
  flex-direction: column;
  margin-top: @size-20;
}
