@import (reference) '~assets/styles/shared';

.Funds {
  background: var(--color-table-header);
  border-radius: @border-radius-default;
  padding: @size-16;
  text-transform: uppercase;
  text-align: center;

  @media @breakpoint-mobile-mid {
    padding: @size-16 @size-28;
  }

  > h4 {
    .mono-12-bold;

    color: var(--color-secondary-text);
    margin-bottom: @size-8;
  }

  > div:first-of-type {
    margin: 0 auto;
    width: fit-content;
  }

  > div:nth-of-type(2) {
    .mono-22-bold;

    margin: @size-2 @size-4 @size-20;

    @media @breakpoint-mobile-mid {
      margin-bottom: @size-12;
    }
  }

  > div[class*="LinearPropertyLabel"] {
    align-items: baseline;
    min-width: @size-269;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @media @breakpoint-mobile-mid {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }

    > span:first-of-type {
      color: var(--color-secondary-text);
    }

    > svg > line {
      stroke: var(--color-dark-text);
    }

    > span {
      .mono-12-medium;

      color: var(--color-primary-text);
    }
  }
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .Funds {
    background: transparent;
    padding: @size-24 @size-16 @size-8;

    @media @breakpoint-mobile-mid {
      background: var(--color-module-background);
      padding: @size-24 0 @size-8;
    }

    > h4 {
      .mono-12-semi-bold;

      margin-bottom: @size-11;
    }

    > div:first-of-type {
      padding-bottom: @size-6;

      > div {
        .mono-12-semi-bold;
      }
    }

    > div:nth-of-type(2) {
      .mono-24-bold;

      @media @breakpoint-mobile-mid {
        margin-bottom: @size-18;
      }
    }

    > div[class*="LinearPropertyLabel"] {
      > span:first-of-type {
        .mono-10-semi-bold;
      }

      @media @breakpoint-mobile-mid {
        width: unset;
        margin-left: @size-12;
        margin-right: @size-12;
      }  

      > span {
        .mono-12;  
      }
    }
  }
}