@import (reference) '~assets/styles/shared';

.NotificationCard {
  background: @color-module-background;
  border-radius: @border-radius-default;
  display: flex;
  flex-direction: column;
  padding: @size-12 @size-16;
}

.NewNotificationCard {
  background: @color-secondary-action;
  border-bottom: 1px solid fade(@color-secondary-action-outline, 50%);

  &:last-of-type {
    border-bottom: 0;
  }
}

.TitleBar {
  align-items: center;
  display: flex;
  margin: 0 0 @size-4;

  > span:last-of-type {
    min-height: @size-16;
    min-width: 1.9375rem;
  }
}

.Importance {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 @size-8 0 0;

  > svg {
    height: @size-12;
    width: @size-12;

    > circle {
      fill: none;
      stroke: @color-reporting;
    }

    > rect {
      fill: @color-reporting;
    }

    > path {
      fill: @color-reporting;
    }
  }
}

.Title {
  .mono-11-bold;

  color: @color-inactive-text;
  margin: 0 @size-9 0 0;
  text-transform: uppercase;

  @media @breakpoint-mobile {
    .mono-10-bold;
  }
}

.Message {
  .text-11;

  color: @color-inactive-text;
  line-height: 0.9375rem;
  display: flex;
  flex-direction: column;

  @media @breakpoint-mobile {
    .text-10;

    line-height: @size-14;
  }
}

.TitleNew {
  color: @color-primary-text;
}

.MessageNew {
  color: @color-primary-text;

  > span > span {
    font-weight: bold;
  }
}

.NotificationCard button {
  margin-left: auto;
}

.BottomRow {
  align-items: flex-end;
  display: flex;
}

.Countdown {
  margin: @size-12 0 0;

  > span {
    > span {
      width: max-content !important;
    }

    > span:first-of-type {
      .mono-10;

      color: @color-inactive-text;
      line-height: normal;
      text-transform: uppercase;
    }

    > span:last-of-type {
      .mono-12;

      line-height: normal;
    }
  }
}
