@import (reference) '~assets/styles/shared';

.NotificationCard {
  background: @color-module-background;
  border-radius: @border-radius-default;
  display: flex;
  flex-direction: column;
  padding: 0 @size-16;

  > section {
    padding: @size-12 0;
    border-bottom: 1px solid @color-dark-grey;

    @media @breakpoint-mobile {
      border-bottom: 0;
    }
  }

  @media @breakpoint-mobile {
    &:not(last-of-type) {
      margin-bottom: @size-4;
    }
  }
}

.NewNotificationCard {
  background: @color-active-background;
}

.TitleBar {
  align-items: center;
  display: flex;
  margin: 0 0 @size-4;

  > span:last-of-type {
    min-height: @size-16;
    min-width: 1.9375rem;
  }
}

.Importance {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 @size-4 0 0;

  > svg {
    height: @size-12;
    width: @size-12;

    > circle {
      fill: none;
      stroke: @color-reporting;
    }

    > rect {
      fill: @color-reporting;
    }

    > path {
      fill: @color-reporting;
    }
  }
}

.ImportantRed {
  > svg {
    > circle {
      stroke: @color-outcome-five;
    }

    > rect {
      fill: @color-outcome-five;
    }

    > path {
      fill: @color-outcome-five;
    }
  }
}

.Title {
  .mono-12-semi-bold;

  color: @color-secondary-text;
  margin: 0 @size-4 0 0;
  text-transform: uppercase;
}

.Message {
  .text-12;

  color: @color-secondary-text;
  display: flex;
  flex-direction: column;

  > span {
    .limit-lines(2);
  }
}

.TitleNew {
  color: @color-primary-text;
}

.MessageNew {
  color: @color-primary-text;

  > span > span {
    font-weight: bold;
  }

  > div.BottomRow > div.Countdown > span > span:first-of-type {
    color: @color-primary-text;
  }
}

div.HasCheckbox {
  > section > div.Message {
    flex-direction: column;

    > div.BottomRow {
      margin-left: 0;
      padding-left: 0;
    }
  }
} 

.NotificationCard button {
  margin-left: auto;
}

.BottomRow {
  align-items: flex-end;
  display: flex;

  @media @breakpoint-mobile {
    flex-flow: column-reverse nowrap;

    > div {
      margin: @size-8 auto 0 0;
    }

    > button {
      justify-content: center;
      margin-left: 0;
      margin-top: @size-12;
      width: 100%;
    }
  }

  &.HasCheckbox {
    display: grid;
    grid-template-columns: @size-30 1fr 1fr;
    align-items: center;
    margin-top: @size-6;

    > div {
      margin-bottom: 0;
    }
  }
}

.noCounter {
  > section > div.Message {
    display: flex;
    flex-flow: row nowrap;

    @media @breakpoint-mobile {
      flex-flow: column nowrap;
    }

    > div.BottomRow {
      margin-left: auto;
      padding-left: @size-12;

      @media @breakpoint-mobile {
        padding-left: 0;
      }
    }
  }
}

.Countdown {
  margin: @size-12 0 0;

  > span {
    > span:first-of-type {
      .mono-10-medium;

      color: @color-secondary-text;
      text-transform: capitalize;
    }

    > span:last-of-type {
      .mono-12-medium;
    }
  }
}

.NewTopLabel {
  margin-right: auto;
}

div.DarkBackgroundMobile {
  @media @breakpoint-mobile {
    > div:last-of-type {
      background: @color-dark-grey;
    }
  }
}
