@import (reference) '~assets/styles/shared';

.NotificationCard {
  background: var(--color-module-background);
  border-radius: @border-radius-default;
  display: flex;
  flex-direction: column;
  padding: 0 @size-16;

  > section {
    padding: @size-12 0;
    border-bottom: @size-1 solid var(--color-dark-grey);

    @media @breakpoint-mobile {
      border-bottom: 0;
    }
  }

  @media @breakpoint-mobile {
    &:not(last-of-type) {
      margin-bottom: @size-4;
    }
  }
}

.NewNotificationCard {
  background: var(--color-active-background);
}

.TitleBar {
  align-items: center;
  display: flex;
  margin: 0 0 @size-4;

  > span:last-of-type {
    min-height: @size-16;
    min-width: @size-31;
  }
}

.Importance {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 @size-4 0 0;

  > svg {
    height: @size-12;
    width: @size-12;

    > circle {
      fill: none;
      stroke: var(--color-reporting);
    }

    > rect {
      fill: var(--color-reporting);
    }

    > path {
      fill: var(--color-reporting);
    }
  }
}

.ImportantRed {
  > svg {
    > circle {
      stroke: var(--color-focused);
    }

    > rect {
      fill: var(--color-focused);
    }

    > path {
      fill: var(--color-focused);
    }
  }
}

.Title {
  .mono-12-semi-bold;

  color: var(--color-secondary-text);
  margin: 0 @size-4 0 0;
  text-transform: uppercase;
}

.Message {
  .text-12;

  color: var(--color-secondary-text);
  display: flex;
  flex-direction: column;

  > span {
    .limit-lines(2);

    margin-right: @size-80;
  }
}

.TitleNew {
  color: var(--color-primary-text);
}

.MessageNew {
  color: var(--color-primary-text);

  > span > span {
    font-weight: bold;
  }

  > div.BottomRow > div.Countdown > span > span:first-of-type {
    color: var(--color-primary-text);
  }
}

div.HasCheckbox {
  > section > div.Message {
    flex-direction: column;

    > div.BottomRow {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.NotificationCard button {
  margin-left: auto;
}

.BottomRow {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;

  @media @breakpoint-mobile {
    flex-flow: column-reverse nowrap;

    > div {
      margin: @size-8 auto 0 0;
    }

    > button {
      justify-content: center;
      margin-left: 0;
      margin-top: @size-12;
      width: 100%;
    }
  }

  &.HasCheckbox {
    display: grid;
    grid-template-columns: @size-30 1fr 1fr;
    align-items: center;
    margin-top: @size-6;

    > div {
      margin-bottom: 0;
    }
  }
}

.noCounter {
  > section > div.Message {
    display: flex;
    flex-flow: row nowrap;

    @media @breakpoint-mobile {
      flex-flow: column nowrap;
    }

    > div.BottomRow {
      margin-left: auto;
      padding-left: @size-12;

      @media @breakpoint-mobile {
        padding-left: 0;
      }
    }
  }
}

.Countdown {
  margin: @size-12 0 0;

  > span {
    > span:first-of-type {
      .mono-10-medium;

      color: var(--color-secondary-text);
      text-transform: capitalize;
    }

    > span:last-of-type {
      .mono-12-medium;
    }
  }
}

.NewTopLabel {
  margin-right: auto;
}

div.HasNotifications {
  @media @breakpoint-mobile {
    > div:last-of-type {
      background: var(--color-dark-grey);
    }
  }
}

:root[theme="BETTING"],
:root[theme="SPORTS"] {
  .NotificationCard {
    border-radius: 0;
    border-bottom: @size-1 solid var(--color-dark-grey);
    padding: 0 @size-12;

    button {
      height: @size-29;
      padding: @size-8;
      border: @size-1 solid var(--color-dark-text);
    }

    > section {
      border-bottom: none;

      > .Message > span {
        margin-bottom: @size-8;
      }
    }

    &.noCounter > section > .Message > span{
      margin-bottom: 0;
    }
  }

  .TitleBar {
    > span[class*="PillLabel"] {
      .text-8-semi-bold;

      text-transform: uppercase;
      background: var(--color-positive);
      color: var(--color-module-background);
      border: none;
      border-radius: @size-1;
      padding: @size-2;
      height: @size-12;
      min-height: unset;
      min-width: unset;
    }
  }

  .Importance {
    > svg {
      width: @size-16;
      height: @size-16;

      > circle {
        fill: var(--color-resolved);
        stroke: none;
      }

      > rect {
        fill: var(--color-module-background);
      }

      > path {
        fill: var(--color-module-background);
      }
    }
  }

  .ImportantRed {
    > svg {
      > circle {
        fill: var(--color-resolved);
        stroke: none;
      }

      > rect {
        fill: var(--color-module-background);
      }

      > path {
        fill: var(--color-module-background);
      }
    }
  }

  .Title {
    color: var(--color-primary-text);
    align-items: center;
    display: flex;
  }

  .Message {
    color: var(--color-primary-text);

    > span {
      margin-right: 0;

      > span {
        .text-12-semi-bold;
      }
    }
  }

  .MessageNew {
    > span > span {
      .text-12-semi-bold;
    }

    > div.BottomRow > div.Countdown > span > span:first-of-type {
      color: var(--color-secondary-text);
    }
  }

  .Countdown {
    align-self: flex-start;
    margin: @size-4 0 auto;

    > span {
      flex-flow: row nowrap;

      > span:first-of-type {
        .mono-12;

        text-transform: none;
      }

      > span:last-of-type {
        .mono-12-bold;

        color: var(--color-reporting);
        margin-left: @size-3;
      }
    }
  }

  .NewTopLabel {
    > span {
      .text-10;

      text-transform: uppercase;
      background: var(--color-positive-15);
      color: var(--color-secondary-text);
      border: @size-1 solid var(--color-positive);
      padding: @size-4 @size-6;
      max-height: unset;
      height: @size-21;
    }
  }

  .BottomRow {
    margin-top: 0;
  }

  @media @breakpoint-mobile {
    .NotificationCard {
      border: @size-1 solid var(--color-dark-grey);

      > section > .Message > span {
        margin-bottom: 0;
      }
    }

    .HasNotifications > div[class$="Container"] {
      background-color: transparent;
      border: none;
    }

    .noCounter > section > div.Message > div.BottomRow,
    .BottomRow {
      flex-flow: column-reverse nowrap;
      margin: 0;

      > div {
        margin: @size-8 auto 0 0;
      }

      > button {
        justify-content: center;
        margin: @size-8 0 0;
        width: 100%;
      }
    }
  }
}
