@import (reference) "~assets/styles/shared";

div.OpenMarkets {
  > div:last-of-type > div:nth-of-type(2):not([class*="EmptyDisplay"]) {
    @media @breakpoint-mobile {
      border-top: 1px solid @color-dark-grey;
    }
  }
  div[class*="box-header-styles_ShowOnMobile"] {
    @media @breakpoint-mobile {
      align-items: center;
      flex-flow: row nowrap;
      height: @size-40;

      > div:first-of-type {
        flex: 1;
        margin: 0;

        > div[class*="RightContent"] > div[class*="SearchSort"] {
          justify-content: flex-end;
        }
      }

      > div[class*="Middle"] {
        background: @color-module-background;
        border-radius: @border-radius-default;
        flex: unset;
        padding: @size-2 @size-4;

        > div {
          border: 0;
        }
      }
    }
  }

  > div > div[class*="market-row-styles_MarketRow"] {
    @media @breakpoint-mobile {
      &:last-of-type {
        border-radius: 0;
      }

      > div[class*="ToggleRow"] {
        border-left: 1px solid @color-dark-grey;
        border-right: 1px solid @color-dark-grey;
      }
    }
  }
}

.ExpandedContent {
  background: @color-active-background;
  flex: 1;

  > div {
    align-items: center;
    border-top: 1px solid @color-dark-grey;
    display: flex;
    flex: 1;
    margin: 0 @size-16;
    height: @size-28;
    max-height: @size-28;
    min-height: @size-28;

    > span {
      .text-11-medium;

      color: @color-primary-text;
      flex: 1;
    }

    > div[class*="MovementLabel"] {
      > div[class*="MovementLabel_Icon"] {
        margin: 0 @size-2 0 0;
      }
  
      > div[class*="MovementLabel_Text"] {
        .mono-11-medium;
      }
    }
  }
}

.OpenMarketsRow {
  min-height: @size-48;
  max-height: @size-48;
  align-items: center;

  > div {
    padding: 0 0 0 @size-16;
  }

  > span > div[class*="MovementLabel"] {
    > div[class*="MovementLabel_Icon"] {
      margin: 0 @size-2 0 0;
    }

    > div[class*="MovementLabel_Text"] {
      .mono-11-medium;
    }
  }
}

.BottomBar {
  display: flex;
  justify-content: flex-end;
  background: fade(@color-secondary-action-outline, 30%);
  padding: @size-2;
  border-radius: @border-radius-default;
  margin-left: auto;

  @media @breakpoint-mobile {
    background: transparent;
  }

  > span {
    .mono-9-semi-bold;

    color: @color-secondary-text;
    margin-right: @size-8;
    text-transform: uppercase;

    @media @breakpoint-mobile {
      .mono-12-medium;
    }
  }

  > div[class*="MovementLabel"] {

    @media @breakpoint-mobile {
      > div {
        .mono-12-medium;
      }
    }

    > div[class*="MovementLabel_Icon"] {
      margin: 0 @size-2 0 0;
    }
  }
}