@import (reference) "~assets/styles/shared";

.OpenMarkets {
  > div:last-of-type > div:nth-of-type(2):not([class*="EmptyDisplay"]) {
    @media @breakpoint-mobile {
      border-top: @size-1 solid var(--color-dark-grey);
    }
  }
  div[class*="box-header-styles_ShowOnMobile"] {
    @media @breakpoint-mobile {
      align-items: center;
      flex-flow: row nowrap;
      height: @size-40;

      > div:first-of-type {
        flex: 1;
        margin: 0;

        > div[class*="RightContent"] > div[class*="SearchSort"] {
          justify-content: flex-end;
        }
      }

      > div[class*="Middle"] {
        background: var(--color-module-background);
        border-radius: @border-radius-default;
        flex: unset;
        padding: @size-2 @size-4;

        > div {
          border: 0;
        }
      }
    }
  }

  > div > div[class*="market-row-styles_MarketRow"] {
    @media @breakpoint-mobile {
      &:last-of-type {
        border-radius: 0;
      }

      > div[class*="ToggleRow"] {
        border-left: 1px solid var(--color-dark-grey);
        border-right: 1px solid var(--color-dark-grey);
      }
    }
  }

  .SubHeader {
    background: unset;
  }
}

.ExpandedContent {
  background: var(--color-active-background);
  flex: 1;

  > div {
    align-items: center;
    border-top: @size-1 solid var(--color-dark-grey);
    display: flex;
    flex: 1;
    margin: 0 @size-16;
    height: @size-28;
    max-height: @size-28;
    min-height: @size-28;

    > span {
      .text-11-medium;

      color: var(--color-primary-text);
      flex: 1;
    }

    > div[class*="MovementLabel"] {
      > div[class*="MovementLabel_Icon"] {
        margin: 0 @size-2 0 0;
      }

      > div[class*="MovementLabel_Text"] {
        .mono-11-medium;
      }
    }
  }
}

.OpenMarketsRow {
  min-height: @size-48;
  max-height: @size-48;
  align-items: center;

  > div {
    padding: 0 0 0 @size-16;
  }

  > span > div[class*="MovementLabel"] {
    > div[class*="MovementLabel_Icon"] {
      margin: 0 @size-2 0 0;
    }

    > div[class*="MovementLabel_Text"] {
      .mono-11-medium;
    }
  }
}

.BottomBar {
  display: flex;
  justify-content: flex-end;
  background: var(--color-secondary-action-outline-30);
  padding: @size-2;
  border-radius: @border-radius-default;
  margin-left: auto;

  @media @breakpoint-mobile {
    background: transparent;
  }

  > span {
    .mono-9-semi-bold;

    color: var(--color-secondary-text);
    margin-right: @size-8;
    text-transform: uppercase;

    @media @breakpoint-mobile {
      .mono-12-medium;
    }
  }

  > div[class*="MovementLabel"] {

    @media @breakpoint-mobile {
      > div {
        .mono-12-medium;
      }
    }

    > div[class*="MovementLabel_Icon"] {
      margin: 0 @size-2 0 0;
    }
  }
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .OpenMarkets {
    > div:last-of-type {
      min-height: @size-414;
    }
  }

  .OpenMarketsEmptyDisplay {
    .OpenMarkets;

    > div:last-of-type {
      min-height: @size-198;
    }
  }

  .ExpandedContent {
    > div {
      border-top: @size-1 dotted var(--color-dark-grey);
      height: @size-36;
      max-height: @size-36;
      min-height: @size-36;

      > span {
        .text-12;
      }

      > div[class*="MovementLabel"] {
        > div[class*="MovementLabel_Icon"] {
          margin: 0 @size-4 0 0;

          > svg {
            height: @size-8;
            width: @size-13;
          }
        }

        > div[class*="MovementLabel_Text"] {
          .mono-12-semi-bold;
        }

        > div[class*="_positive"] {
          color: var(--color-open);
        }

        > div[class*="_negative"] {
          color: var(--color-resolved);
        }

        > div[class*="_neutral"] {
          color: var(--color-secondary-text);
        }
      }
    }
  }

  .OpenMarketsRow {
    min-height: @size-54;
    max-height: @size-54;

    > div {
      flex-direction: row;

      > span:first-of-type {
        flex: 1;
      }
      > span:nth-of-type(2) {
        flex: unset;
        margin-top: 0;
      }
    }
  }

  .BottomBar {
    background: transparent;

    > span {
      .mono-12-semi-bold;

      color: var(--color-primary-text);
      height: @size-19;
      text-transform: none;
      padding: @size-3 0;
    }

    > div[class$="MovementLabel"] {
      color: var(--color-primary-text);

      > div[class*="MovementLabel_Text"] {
        .mono-12-semi-bold;

        margin: 0;
        padding: @size-3 @size-4 @size-3 0;
        border-top-right-radius: @border-radius-default;
        border-bottom-right-radius: @border-radius-default;
      }

      > div[class*="MovementLabel_Icon"] {
        margin: 0;
        transform: none;

        padding: 0 @size-4;
        height: 100%;
        border-top-left-radius: @border-radius-default;
        border-bottom-left-radius: @border-radius-default;
      }

      > div[class*="_positive"] {
        background: var(--color-open-15);
      }

      > div[class*="_negative"] {
        background: var(--color-resolved-15);
      }

      > div[class*="_neutral"] {
        color: var(--color-secondary-text);
      }
    }
  }

  @media @breakpoint-mobile {
    .OpenMarkets > div:last-of-type {
      min-height: unset;

      > div[class$="Content"] > div:last-of-type {
        border: none;
      }
    }
  }
}
