@import (reference) '~assets/styles/shared';

.AccountOverview {
  background: @color-module-background;
  padding: @size-16 @size-24 0;

  @media @breakpoint-mobile-mid {
    background: unset;
    display: flex;
    flex-direction: column;
    height: calc(~"100vh - @{multi-top-bar-height-mobile}");
    padding: 0;
    margin-top: @size-6;
  }
}

.PillSelector {
  display: flex;
  justify-content: center;
  margin-bottom: @size-16;

  @media @breakpoint-mobile-mid {
    margin-bottom: @size-20;
  }
}
