@import (reference) '~assets/styles/shared';

.AccountOverview {
  display: grid;
  grid-gap: @size-2;
  margin: @size-12 @size-16;

  @media @breakpoint-mobile {
    margin: 0;
  }
}

.RepBalances {
  align-items: center;
  border-radius: @border-radius-default;
  background: @color-table-header;
  display: grid;
  grid-template-columns: 1fr @size-30 1fr;
  grid-template-rows: @size-64;
  grid-gap: @size-8;
  padding: 0 @size-28;

  > div {
    margin: 0 auto;

    > span,
    > span:first-of-type {
      display: block;
      text-align: center;
    }
  }

  > svg {
    justify-self: center;
    height: @size-24;
    width: @size-22;
  }
}
