@import (reference) "~assets/styles/shared";

.OverviewChart {
  align-items: center;
  background: @color-table-header;
  display: flex;
  flex-direction: column;
  padding: @size-16 0;
  border-radius: @border-radius-default;
  overflow: hidden;
  max-height: 350px;

  > h3 {
    .mono-12-semi-bold;

    color: @color-secondary-text;
    padding-bottom: @size-8;
    text-transform: uppercase;
  }

  > span {
    .text-12;

    color: @color-inactive-text;
    padding: @size-16 0 @size-8;
  }

  @media @breakpoint-mobile-mid {
    flex: 1;
    justify-content: flex-end;
  }
}

.ProfitLossChart {
  margin: 0;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  max-height: 250px;

  svg {
    :global {
      .highcharts-background {
        fill: transparent;
      }

      g.highcharts-yaxis-labels > text {
        .mono-9-bold;
        // y axis labels
        fill: @color-primary-text;
      }

      g.highcharts-xaxis-labels > text > tspan,
      g.highcharts-xaxis-labels > text {
        .mono-9-bold;
        // x axis labels
        fill: @color-primary-text;
        text-transform: uppercase;
      }

      .highcharts-yaxis-labels,
      .highcharts-label {
        .mono-10-medium;

        fill: @color-primary-text;
      }

      .highcharts-no-data {
        font-size: @size-16;
      }

      .highcharts-label-box {
        fill: @color-secondary-text;
        font-weight: bold;

        > text > tspan:last-child {
          font-size: @size-12;
        }
      }

      .highcharts-tick,
      .highcharts-axis-line {
        stroke: fade(@color-primary-text, 40%);
      }

      .highcharts-xaxis-grid,
      g.highcharts-yaxis-grid path.highcharts-grid-line:nth-child(1),
      g.highcharts-yaxis path.highcharts-axis-line {
        display: none;
      }

      .highcharts-yaxis-grid {
        .dashline-long;

        .highcharts-grid-line {
          stroke: fade(@color-primary-text, 40%);
        }
      }

      .highcharts-xaxis-category {
        display: none;
      }

      .highcharts-crosshair-label.highcharts-crosshair-label > .highcharts-label-box {
        stroke: @color-primary-text;
      }

      .eth-label {
        font-size: @size-9;
      }

      .highcharts-area {
        opacity: 0.4;
      }

      .highcharts-area-series.highcharts-color-0 > path.highcharts-graph {
        stroke: @color-primary-action;
      }

      .highcharts-area-series.highcharts-halo.highcharts-color-0 {
        fill: @color-primary-action;
        stroke: @color-primary-action;
      }

      .highcharts-area-series.highcharts-series-hover,
      .highcharts-area-series.highcharts-color-0.highcharts-tracker > path,
      .highcharts-area-series > .highcharts-area {
        fill: @color-primary-action;
        stroke: @color-primary-action;
      }
    }
  }
}
