@import (reference) "~assets/styles/shared";

.OverviewChart {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: @size-48;
  border-top: 1px solid @color-table-header;
  border-radius: @border-radius-default;

  > h3 {
    .mono-11-bold;

    color: @color-secondary-text;
    padding-bottom: @size-8;
    text-transform: uppercase;
  }

  > h4 {
    .mono-14-bold;

    color: @color-primary-text;
    margin: @size-4 0;
  }

  > span {
    .text-12;

    color: @color-inactive-text;
    padding: 1rem 0 0.5rem;
  }

  @media @breakpoint-mobile {
    padding-top: @size-24;
  }

  @media @breakpoint-mobile-mid {
    flex: 1;
    justify-content: flex-end;
    padding-bottom: 0;
  }
}

.ProfitLossChart {
  margin: 0;
  pointer-events: none;

  svg {
    :global {
      .highcharts-background {
        fill: transparent;

        // @media @breakpoint-mobile-mid {
        //   fill: @color-dark-grey;
        // }
      }

      g.highcharts-yaxis-labels > text {
        // y axis labels
        fill: @color-primary-text;
        font-family: @roboto-mono;
        font-size: @size-9;
        font-weight: bold;
        line-height: @size-11;

      }
      g.highcharts-xaxis-labels > text > tspan,
      g.highcharts-xaxis-labels > text {
        // x axis labels
        fill: @color-primary-text;
        font-family: @roboto-mono;
        font-size: @size-9;
        line-height: @size-11;
      }

      .highcharts-yaxis-labels,
      .highcharts-label {
        .mono-9;

        fill: @color-primary-text;
      }

      .highcharts-no-data {
        font-size: @size-16;
      }

      .highcharts-label-box {
        fill: @color-secondary-text;
        font-weight: bold;

        > text > tspan:last-child {
          font-size: @size-12;
        }
      }

      .highcharts-tick,
      .highcharts-axis-line {
        stroke: fade(@color-primary-text, 40%);
      }

      .highcharts-xaxis-grid,
      g.highcharts-yaxis-grid path.highcharts-grid-line:nth-child(1),
      g.highcharts-yaxis path.highcharts-axis-line {
        display: none;
      }

      .highcharts-yaxis-grid {
        .dashline-long;

        .highcharts-grid-line {
          stroke: fade(@color-primary-text, 40%);
        }
      }

      .highcharts-xaxis-category {
        display: none;
      }

      .highcharts-crosshair-label.highcharts-crosshair-label > .highcharts-label-box {
        stroke: @color-primary-text;
      }

      .eth-label {
        font-size: @size-9;
      }

      .highcharts-area {
        opacity: 0.4;
      }

      .highcharts-area-series.highcharts-color-0 > path.highcharts-graph {
        stroke: @color-primary-action;
      }

      .highcharts-area-series.highcharts-halo.highcharts-color-0 {
        fill: @color-primary-action;
        stroke: @color-primary-action;
      }

      .highcharts-area-series.highcharts-series-hover,
      .highcharts-area-series.highcharts-color-0.highcharts-tracker > path,
      .highcharts-area-series > .highcharts-area {
        fill: @color-primary-action;
        stroke: @color-primary-action;
      }
    }
  }
}
