@import (reference) '~assets/styles/shared';

.Stats {
  border-radius: @border-radius-default;
  background: @color-table-header;
  padding: @size-16;
  display: grid;
  grid-gap: @size-12 @size-16;
  grid-template-columns: repeat(2, 1fr);

  > ul:first-of-type {
    grid-column: 1 / span 2;
    margin: 0 auto;

    @media @breakpoint-mobile-mid {
      grid-column: 1;
      margin: @size-6 auto;
    }
  }

  > div[class*="LinearPropertyLabel"] {
    align-items: baseline;
    margin: 0;

    > span:first-of-type {
      .mono-10-medium;

      color: @color-secondary-text;
    }

    > span {
      .mono-12-medium;

      color: @color-primary-text;
    }
  }

  @media @breakpoint-mobile-mid {
    grid-template-columns: 1fr;
    grid-gap: @size-10 0;
    padding: @size-12 @size-28;
  }
}

