@import (reference) '~assets/styles/shared';

.AugurStatusContent {
  background: @color-module-background;
  display: grid;
  grid-gap: @size-4;
  margin: @size-12 @size-16;
  width: fit-content;

  @media @breakpoint-mobile {
    margin: 0;
  }
}

.BlockStatus {
  width: 100%;

  > div[class*="LinearPropertyLabel"] {
    align-items: baseline;
    min-width: 269px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    @media @breakpoint-mobile-mid {
      margin-left: @size-12;
      margin-right: @size-12;
      max-width: 100%;
    }

    > span:first-of-type {
      .mono-10-medium;

      color: @color-secondary-text;
    }

    > span {
      .mono-12-medium;

      color: @color-primary-text;
    }
  }
}


.SyncStatus {
  align-items: center;
  background: @color-table-header;
  border-radius: @border-radius-default;
  display: flex;
  flex-flow: column nowrap;
  padding: @size-16 @size-12;
  width: 100%;

  &.synced {
    > span {
      color: @color-open;

      > span {
        background: @color-open;
        border-radius: 50%;
        height: @size-12;
        width: @size-12;
      }
    }

    > div:not([class*="BlockStatus"]) {
      color: @color-open;
      padding: 0 @size-12;
    }
  }

  &.syncing {
    > span {
      color: @color-reporting;
      
      > span > svg > path {
        fill: @color-reporting;
      }
    }

    > div:not([class*="BlockStatus"]) {
      color: @color-reporting;
      padding: 0 @size-12;
    }
  }

  > h4 {
    .mono-12-semi-bold;

    color: @color-primary-text;
    text-transform: uppercase;
    margin: 0 0 @size-8;
  }

  > span {
    .mono-12-semi-bold;

    align-items: center;
    color: @color-resolved;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: @size-2;
    
    > span {
      align-items: center;
      display: flex;
      margin-right: @size-4;

      > svg {
        animation: spin 3s infinite linear;
        height: @size-12;
        width: @size-12;

        > path {
          fill: @color-resolved;
        }
      }
    }
  }

  > h5 {
    .mono-22-bold;

    color: @color-primary-text;
  }

  > div:not([class*="BlockStatus"]) {
    .text-12-medium;

    align-items: center;
    background: @color-dark-grey;
    border-radius: @border-radius-default;
    color: @color-resolved;
    display: flex;
    flex-flow: row nowrap;
    height: @size-40;
    justify-content: center;
    margin: @size-12 0 @size-16;
    padding: 0 @size-40;
    text-align: center;
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
