@import (reference) '~assets/styles/shared';

.Content {
  background: var(--color-module-background);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: @size-2 0;
  padding: @size-12 @size-16;

  @media @breakpoint-mobile {
    padding: 0;
  }

  > div {
    background: var(--color-table-header);
    border-radius: @border-radius-default;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: @size-12 0;
    padding: @size-24;
    justify-content: center;

    @media @breakpoint-mobile {
      padding: @size-16 @size-8;
      grid-template-columns: 1fr;
      grid-gap: @size-24;
    }

    > h4 {
      .text-12-semi-bold;

      color: var(--color-secondary-text);
      text-align: center;
      text-transform: uppercase;
    }

    > button {
      padding: @size-12;
    }

    &:nth-of-type(2) {
      grid-template-columns: auto auto;
      grid-gap: @size-12;

      @media @breakpoint-mobile {
        grid-template-columns: 1fr;
        grid-gap: @size-24;
      }

      > h4 {
        grid-column: 1 / span 3;

        @media @breakpoint-mobile {
          grid-column: 1;
        }
      }

      > div {
        display: none;
      }
    }

    &:nth-of-type(3) {
      grid-template-columns: auto auto;
      grid-gap: @size-12 @size-64;

      @media @breakpoint-mobile {
        grid-template-columns: 1fr;
        grid-gap: @size-24;

        h4:first-of-type {
          order: 1;
        }

        button:first-of-type {
          order: 2;
        }

        h4:last-of-type {
          order: 3;
        }

        button:last-of-type {
          order: 4;
        }
      }
    }
  }
}

.RightContent {
  display: none;
}

:root[theme='BETTING'],
:root[theme='SPORTS'] {
  .Content {
    padding: @size-12;

    @media @breakpoint-mobile {
      padding: @size-12 @size-12 @size-20;
    }

    > div {
      background: transparent;
      display: none;
      padding: 0;
      justify-content: initial;

      > button {
        .text-14-bold;

        max-height: unset;
        height: @size-48;
        align-items: center;

        &:nth-of-type(3) {
          border: @size-1 solid var(--color-primary-text);

          &:not(:disabled):hover {
            background: var(--color-primary-text);
            color: var(--color-secondary-action);
          }

          &:not(:disabled):focus,
          &:not(:disabled):focus:hover {
            background: var(--color-secondary-action);
            color: var(--color-primary-text);
            border: @size-2 solid var(--color-focused);
          }

          &:not(:disabled):active {
            background: var(--color-primary-text);
            color: var(--color-secondary-action);
          }
        }
      }

      &:nth-of-type(2) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: @size-12;

        @media @breakpoint-mobile {
          grid-gap: @size-16 @size-12;
        }

        > button:nth-of-type(2) {
          display: none;
        }

        > h4 {
          display: none;
        }

        > div {
          display: initial;
          grid-column: 1 / span 2;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase;

          > span {
            .text-10-semi-bold;

            color: var(--color-primary-text);
            padding-top: @size-8;

            > svg {
              width: @size-10;
              height: @size-10;
              margin: 0 @size-7;
            }
          }
        }
      }
    }
  }

  .RightContent {
    display: initial;
    float: right;

    > button {
      .mono-10-semi-bold;

      flex-direction: row-reverse;
      border: none;
      text-transform: uppercase;

      > svg {
        margin: auto @size-6 auto 0;
      }
    }
  }

  .ShowHeaderOnMobile {
    > div:nth-of-type(2) > div:first-of-type {
      display: flex;
    }
  }
}
