@import (reference) '~assets/styles/shared';

.Content {
  background: @color-module-background;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: @size-2 0;
  padding: @size-12 @size-16;

  @media @breakpoint-mobile {
    padding: 0;
  }

  > div {
    background: @color-table-header;
    border-radius: @border-radius-default;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: @size-12 0;
    padding: @size-24;
    justify-content: center;

    @media @breakpoint-mobile {
      padding: @size-16 @size-8;
      grid-template-columns: 1fr;
      grid-gap: @size-24;
    }

    > h4 {
      .text-12-semi-bold;

      color: @color-secondary-text;
      text-align: center;
      text-transform: uppercase;
    }

    > button {
      padding: @size-12;
    }

    &:nth-of-type(2) {
      grid-template-columns: auto auto;
      grid-gap: @size-12;

      @media @breakpoint-mobile {
        grid-template-columns: 1fr;
        grid-gap: @size-24;
      }

      > h4 {
        grid-column: 1 / span 3;

        @media @breakpoint-mobile {
          grid-column: 1;
        }
      }
    }

    &:nth-of-type(3) {
      grid-template-columns: auto auto;
      grid-gap: @size-12 @size-64;

      @media @breakpoint-mobile {
        grid-template-columns: 1fr;
        grid-gap: @size-24;

        h4:first-of-type {
          order: 1;
        }

        button:first-of-type {
          order: 2;
        }

        h4:last-of-type {
          order: 3;
        }

        button:last-of-type {
          order: 4;
        }
      }
    }
  }
}
