@import (reference) '~assets/styles/shared';

.BoxHeader__title {
  .text-16;

  line-height: @size-18;
  margin-right: 1rem;
  white-space: nowrap;
}

.BoxHeader__header--top-row {
  align-items: center;
  border-bottom: 0.0625rem solid @color-secondary-background;
  display: flex;
  flex-direction: row;
  height: 4rem;
  padding: 1rem @size-24;

  > div:last-of-type {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.BoxHeader__header--bottom-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  justify-content: flex-end;
  padding: 0 @size-24 0;
}

.BoxHeader__topContent--mobile {
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5rem;
}

.BoxHeader__rightContent--mobile {
  .BoxHeader__topContent--mobile;
}

.BoxHeader__mostRightContent--mobile {
  .BoxHeader__topContent--mobile;

  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.BoxHeader__bottomRightContent--mobile {
  .BoxHeader__topContent--mobile;

  margin-bottom: 0.75rem;
}

.BoxHeader__bottomContent--mobile {
  background: @color-theme-primary;
  margin-top: 1rem;
  padding: 0 0.5rem;
}

.noBackground {
  background: unset;
  margin-top: 0;
}

.ShowOnMobile {
  display: none;
}

.HideOnMobile {
  display: block;
}

.BoxHeader_middleContainer {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
}

.isSwitched {
  flex-direction: column;
}

@media @breakpoint-mobile-mid {
  .ShowOnMobile {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .HideOnMobile {
    display: none;
  }
}
