@import (reference) "~assets/styles/shared";

.MarketOutcomeDepth {
  flex: 1;
}

.MarketOutcomeDepth__chart {
  cursor: cell;
  height: 100%;

  :global {
    #outcome_depth {
      height: 100%;
      width: 100%;
    }

    .depth-line {
      fill: none;
      stroke: @color-lighter-purple;
    }

    .stop-left {
      stop-color: transparent;
    }

    .stop-right {
      stop-color: @color-lighter-purple;
    }

    .filled-subtle {
      fill: url(#subtleGradient);
      opacity: 0.15;
    }

    .line .crosshair {
      fill: none;
      stroke-width: 1px;
    }

    .line #crosshairX {
      stroke: red;
    }

    .line #crosshairY {
      stroke: blue;
    }

    .overlay {
      fill: none;
      pointer-events: visible;
    }
  }
}
