@import (reference) "~assets/styles/shared";

.OutcomeCandlestick {
  background: @color-module-background;
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  max-height: @charts-max-height;
  height: @charts-max-height;
  min-height: @charts-max-height;
  padding: @size-8 0 0;
  position: relative;
  overflow: visible;

  @media @breakpoint-mobile {
    padding-bottom: 0;
    min-height: @charts-max-height;
    max-height: unset;
    overflow: hidden;
  }
}

.TopSection {
  display: grid;
  grid-gap: 0 @size-24;
  grid-template-columns: minmax(92px, 130px) 1fr minmax(130px, 155px);
  grid-template-rows: 1fr;
  margin-bottom: @size-8;
  padding: 0 @size-8;

  @media @breakpoint-mobile {
    grid-gap: @size-8;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1rem;
  }

  > div:first-of-type {
    max-width: 130px;
    min-width: 92px;
    width: 100%;
    grid-column: 1;

    @media @breakpoint-mobile {
      order: 1;
    }
  }

  @media all and (max-width: 510px) {
    > div:nth-of-type(2) {
      grid-row: 2;
      grid-column: span 3;
    }
  }

  > div:last-of-type {
    max-width: 155px;
    min-width: 130px;
    width: 100%;
    grid-column: 3;

    @media @breakpoint-mobile {
      margin-left: auto;
      order: 2;
    }
  }
}

.ChartContainer {
  cursor: cell;
  display: flex;
  flex: 1;

  & > div {
    display: flex;
    flex: 1 100%;
    max-height: @charts-min-height;
    height: @charts-min-height;
    min-height: @charts-min-height;
  }
}

.Stats {
  .mono-10;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
  min-height: @size-32;
  width: 50%;
  margin: 0 auto;
  min-width: min-content;

  @media @breakpoint-mobile {
    grid-column: span 3;
    margin: 0;
    min-height: 0;
    order: 3;
    width: 100%;
  }

  > span {
    color: @color-primary-text;

    > span:first-of-type {
      color: @color-inactive-text;
      padding-right: @size-8;
    }

    > span:nth-of-type(2) {
      padding-right: @size-16;
    }
  }
}
