@import (reference) '~assets/styles/shared';

.MarketPositionsListMobile__wrapper {
  border-top: 1px solid @color-darkpurple-2;
  padding: 2rem 1rem;

  &:first-child {
    margin-top: 2rem;
  }

  > h2 {
    color: @color-white;
    font-size: @font-size-rather-large;
    line-height: @font-size-rather-large;
    margin-bottom: 1.5rem;
  }
}

.MarketPositionsListMobile__position {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > li {
    color: @color-white;

    > span {
      &:extend(.caps--small);

      color: @color-lightgray;
      display: block;
      margin-bottom: 0.5rem;
      white-space: nowrap;
    }
  }
}

.MarketPositionsListMobile__position-heading {

}

.MarketPositionsListMobile__pending {
  color: @color-lighter-purple;
  font-size: @font-size-small;
  font-weight: 500;
  line-height: @font-size-small;
  margin-left: 0.5rem;
}

.MarketPositionsListMobile__orders {
  display: table;
  width: 100%;
}

.MarketPositionsListMobile__order {
  display: table-row;

  > li {
    border-bottom: 1px solid @color-darkpurple-2;
    color: @color-white;
    display: table-cell;
    padding: 1rem 0;

    &:nth-child(1),
    &:nth-child(3) {
      &:extend(.caps--small);

      color: @color-lightgray;
    }

    &:nth-child(1) {
      width: 3.25rem;
    }

    &:nth-child(3) {
      width: 4.5rem;
    }

    &:last-child {
      text-align: right;
    }
  }

  &:first-child > li {
    padding-top: 0;
  }

  &:last-child > li {
    border-bottom-width: 0;
  }

  &.pending > li {
    &:nth-child(2),
    &:nth-child(4) {
      color: @color-lighter-purple;
    }
  }
}

.MarketPositionsListMobile__close-order > svg {
  width: 0.8rem;
}

.MarketPositionsListMobile__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > li {
    color: @color-white;

    > span:first-child {
      &:extend(.caps--small);

      color: @color-lightgray;
      margin-right: 1rem;
    }
  }
}

@media @breakpoint-mobile-medium {
  .MarketPositionsListMobile__wrapper > h2 {
    font-size: @font-size-normal;
    line-height: @font-size-normal;
  }

  .MarketPositionsListMobile__position > li {
    width: 50%;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 2rem;
    }
  }

  .MarketPositionsListMobile__stats > li {
    width: 50%;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 1rem;
    }
  }
}

@media @breakpoint-mobile-small {
  .MarketPositionsListMobile__position {
    justify-content: space-between;
  }
}
