@import (reference) '~assets/styles/shared';

.ToggleRow {
  background-color: @color-grayish-purple;
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: row;
  }

  &:focus {
    outline: none;
  }
}

.ToggleRow__arrowContainer {
  align-items: center;
  display: flex;
  margin-left: 0.625rem;
  padding-right: 0;
}

div.ToggleRow__rowActive {
  background-color: @color-active-hover;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ToggleRow__rowContent {
  display: flex;
  flex-grow: 1;
}

.ToggleRow__arrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ToggleRow__row {
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: @color-active-hover;
  }
}

.ToggleRow__row:hover .ToggleRow__arrow {
  > svg {
    > path {
      stroke: @color-white;
    }
  }
}

.ToggleRow__rowContainer {
  display: flex;
  flex: 1;
}

.ToggleContent {
  > div {
    min-height: fit-content;
  }
}
