@import (reference) "~assets/styles/shared";

.MarketOutcomeMidpoint {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.MarketOutcomeMidpointValue {
  color: @color-white;
  display: flex;
  flex-direction: column;
  font-size: @font-size-large;
  font-weight: bold;
}

.MarketOutcomeMidpointLine {
  border-top: 2px solid @color-gray;
  flex-grow: 1;
  height: 0;
  margin-right: 10px;
}

.MarketOutcomeMidpointNullState {
  color: @color-lightgray;
  font-size: @font-size-normal;
  text-align: center;
}
