@import (reference) "~assets/styles/shared";

.MarketOutcomeMidpoint {
  > svg {
    display: block;
    height: 1.5rem;
    margin-bottom: 0.4rem;
  }
}

.MarketOutcomeMidpoint__line {
  stroke: @color-gray;
  stroke-width: 2px;
}

.MarketOutcomeMidpoint__label {
  &:extend(.caps--heavy);

  fill: @color-white;
  letter-spacing: 1.6px;
  stroke: @color-white;
}

.MarketOutcomeMidpoint__null-message {
  &:extend(.caps--small);
  &:extend(.caps--heavy);

  fill: @color-gray;
  stroke: @color-gray;
}
