.create-market-main-title {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin: 0 1em;
  position: relative;

  @media @breakpoint-mobile {
    flex-grow: 0;
  }

  h1 {
    .font-size-massive();

    &.title-animation-helper {
      width: 0;
    }
  }

  .title-animation-helper {
    margin: 2em 0;
    transition-delay: @animation-speed-normal;
    transition-duration: @animation-speed-normal;
    transition-property: margin;

    &.hide-title {
      margin: 2em 0;
    }

    &.display-title {
      margin: 2em 0 0;
    }
  }

  h1:not(.title-animation-helper) {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -100%);

    &.hide-title {
      animation-duration: @animation-speed-very-fast;
      animation-fill-mode: forwards;
      animation-name: hideTitle;
    }
  }

  .initial-title {
    display: block;
  }

  .preview-title {
    .font-size-large();

    visibility: hidden;

    &.display-title {
      animation-delay: @animation-speed-very-fast, 1s;
      animation-duration: @animation-speed-very-fast, @animation-speed-normal;
      animation-fill-mode: forwards;
      animation-name: displayTitle, moveLeft;
    }
  }
}

.keyframes(hideTitle, {
0% {
display: block;
opacity: 1;
}
99% {
display: block;
opacity: 0;
}
100% {
display: none;
opacity: 0;
}
});

.keyframes(displayTitle, {
0% {
visibility: visible;
opacity: 0;
}
100% {
visibility: visible;
opacity: 1;
}
});

.keyframes(moveLeft, {
from {
left: 50%;
transform: translate(-50%, -100%);
}
to {
left: 0;
transform: translate(0, -60%);
}
});
