.create-market-form-type {
  flex-direction: column;
  padding: 0;

  h2 {
    align-self: center;
  }

  .create-market-type-buttons {
    .border(true, @border-top, @border-light);

    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1em;

    .market-type {
      flex: 1 0 0;
      padding: 2em;

      & > *:first-child {
        padding: 2em 0;
        width: 50%;
      }

      &:hover {
        background-color: @color-blue;
        color: @color-white;

        & > *:first-child {
          path,
          line,
          rect,
          circle {
            fill: @color-white;
            stroke: @color-white;
          }
        }
      }

      h3 {
        .font-size-large();
      }
    }
  }
}
