.create-market-form-part-end-date {
  button {
    align-self: flex-start;

    @media @breakpoint-1 {
      align-self: auto;
    }
  }

  .rdtPicker {
    @media @breakpoint-1 {
      width: auto;
    }
  }
}
