.create-market-form-type {
  display: flex;
  flex-direction: column;
  opacity: 1;
  padding: 0;

  .create-market-type-buttons {
    .border(true, @border-top, @border-light);

    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1em;

    @media @breakpoint-1 {
      flex-wrap: wrap;
    }

    .market-type {
      cursor: pointer;
      flex-grow: 1;
      padding: 2em;

      @media @breakpoint-1 {
        &:not(:last-of-type) {
          .border(true, @border-bottom, @border-light);
        }

        flex-basis: 100%;
      }

      & > *:first-child {
        width: 50%;

        @media @breakpoint-1 {
          width: 20%;
        }
      }

      &:hover {
        background-color: @color-blue;
        color: @color-white;

        & > *:first-child {
          path,
          line,
          rect,
          circle {
            fill: @color-white;
            stroke: @color-white;
          }
        }
      }

      h3 {
        .font-size-extra-large();
      }
    }
  }
}
