.create-market-preview {
  .market-preview();

  margin: 0 0 2em;

  &.preview-is-hidden {
    display: none;
  }

  &.preview-is-visible {
    display: flex;
  }

  .is-null {
    background-color: @color-gray-muted;
    border-radius: 1em;
    padding: 0.6em;
  }

  .has-value {
    // TODO
  }

  .create-market-details {
    .market-preview-details();

    & > * {
      margin-bottom: 0.4em;
    }

    .create-market-tags {
      display: flex;

      li {
        align-self: flex-start;

        &.is-null {
          flex-basis: 5%;
          margin-right: 0.4em;
        }
      }
    }

    .create-market-description,
    .create-market-resolution-source {
      flex: 1;
    }

    .create-market-properties {
      display: flex;

      li {
        align-self: flex-start;

        &.is-null {
          flex-basis: 10%;
          margin-right: 0.4em;
        }
      }
    }
  }

  .create-market-outcomes {
    .market-preview-outcomes();
  }
}
