.create-market-form-order-book {
  .order-book-actions {
    display: flex;

    .order-book-outcomes-table {
      .table();

      flex: 1;

      .order-book-outcomes-header {
        .table-header();
      }

      .order-book-outcomes {
        .order-book-outcome-row {
          .table-row();

          span {
            margin-left: 1em;
          }
        }
      }
    }

    .order-book-entry-container {
      display: flex;
      flex: 2;
      justify-content: center;

      .order-book-entry {
        .border(true);

        display: flex;
        flex-direction: column;
      }
    }
  }

  .order-book-preview {
    display: flex;

    .order-book-entry-preview-chart {
      display: flex;
      flex: 4;
    }

    .order-book-entry-preview-table {
      display: flex;
      flex: 1;
    }
  }
}
