.create-market-form-order-book {
  .order-book-actions {
    display: flex;

    .order-book-outcomes-table {
      .table();

      flex: 1;

      .order-book-outcomes-header {
        .table-header();
      }

      .order-book-outcomes {
        .order-book-outcome-row {
          .table-row();

          span {
            margin-left: 1em;
          }
        }
      }
    }

    .order-book-entry {
      flex: 2;
    }
  }
}
