.create-market-form-review form ul {
  margin-left: 1em;

  li {
    display: flex;

    span:first-of-type {
      flex: 1;
      min-width: 10em;
    }

    span:last-of-type {
      .font-weight-normal();

      flex: 5;

      .cost-denomination {
        .font-weight-light();

        margin-left: 0.2em;
      }
    }
  }
}
