.create-market-preview {
  .market-preview();

  margin: 0 0 2em;

  .isNull {
    background-color: @color-gray-muted;
    border-radius: 1em;
    padding: 0.6em;
  }

  .create-market-details {
    .market-preview-details();

    & > * {
      margin-bottom: 0.4em;
    }

    .create-market-tags {
      display: flex;

      li {
        align-self: flex-start;

        &.isNull {
          flex-basis: 5%;
          margin-right: 0.4em;
        }
      }
    }

    .create-market-description {
      flex: 1;
    }

    .create-market-properties {
      display: flex;
      li {
        align-self: flex-start;

        &.isNull {
          flex-basis: 10%;
          margin-right: 0.4em;
        }
      }
    }
  }

  .create-market-outcomes {
    .market-preview-outcomes();
  }
}
