.create-market-form-input-notifications {
  list-style: disc;
  margin-top: 0.5em;
  opacity: 0;
  padding-left: 2em;
  transform: translateY(-10%);
  transition-duration: @animation-speed-normal;
  transition-property: transform, opacity;

  &.hasNotifications {
    opacity: 1;
    transform: translateY(0%);
  }

  li {
    &.notification-error {
      color: @color-red-muted;
    }

    &.notification-warning {
      color: @color-orange-light;
    }
  }
}
