.create-market-form .create-market-form-part.create-market-form-order-book { // ugh
  .create-market-form-part-content {
    .create-market-form-part-input {
      @media @breakpoint-2-3 {
        flex-wrap: wrap;

        aside {
          .border(true, @border-bottom, @border-light);

          flex-basis: 100%;
          margin-bottom: 1em;
          padding-bottom: 1em;
          text-align: left;
        }

        .vertical-form-divider {
          display: none;
        }

        form {
          flex-basis: 100%;
          justify-content: center;

          .input.is-incrementable {
            width: auto;
          }
        }
      }
    }
  }

  .order-book-actions {
    .border(true, @border-bottom);

    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    padding-bottom: 1em;

    .order-book-outcomes-table {
      .table();

      flex: 1;

      .order-book-outcomes-header {
        .table-header();
      }

      .order-book-outcomes {
        .order-book-outcome-row {
          .table-row();

          button {
            display: flex;
            flex: 1;

            span {
              margin-left: 1em;
            }
          }
        }
      }
    }

    .order-book-entry-container {
      @media @breakpoint-2-3 {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
      }

      @media @breakpoint-1 {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
      }

      .order-book-entry {
        .border(true);

        display: flex;
        flex-basis: 40%;
        flex-direction: column;

        @media @breakpoint-2-3 {
          flex-basis: auto;

          ul.component-nav {
            height: 100%;

            li {
              padding: 1em 0;
            }
          }
        }

        @media @breakpoint-1 {
          flex-basis: auto;

          ul.component-nav {
            height: 100%;

            li {
              padding: 1em 0;
            }
          }
        }

        .order-book-entry-inputs {
          display: flex;
          flex-direction: row;
          margin: 1em;

          .input {
            flex: 1;
            flex-basis: 20%;
          }

          span {
            align-self: center;
            margin: 0 1em;
          }
        }

        .create-market-form-input-notifications {
          margin: 0 0 1em;
        }
      }
    }
  }

  .order-book-preview {
    display: flex;

    @media @breakpoint-1 {
      flex-wrap: wrap-reverse;

      #order_book_preview_chart,
      .order-book-preview-table {
        flex-basis: 100%;
      }
    }

    #order_book_preview_chart {
      display: flex;

      @media @breakpoint-1 {
        & {
          will-change: contents; // Read by the chart resizer method
        }
      }
    }

    .order-book-preview-table {
      .table();

      display: flex;
      flex: 1;

      .order-book-preview-table-header,
      .order-book-preview-table-bids,
      .order-book-preview-table-asks {
        & > * {
          flex: 1;
          text-align: center;
        }
      }

      .order-book-preview-table-header {
        .table-header();

        flex: none;
      }

      .order-book-preview-table-content {
        display: flex;
        max-height: 300px;
        overflow-y: auto;

        .order-book-preview-table-bids,
        .order-book-preview-table-asks {
          flex: 1;

          & > * {
            .table-row();

            display: flex;
            overflow-x: hidden;
            position: relative;

            &:hover {
              .remove-order {
                transform: translateX(0);
              }
            }

            & > * {
              .table-cell-spacing();

              flex: 1;
            }
          }

          & > span {
            .table-cell-spacing();

            justify-content: center;
          }

          .remove-order {
            .border(false);

            background-color: @color-red;
            color: @color-white;
            height: 100%;
            padding: 0 1em;
            position: absolute;
            transition-duration: @animation-speed-very-fast;
            transition-property: transform;
          }
        }

        .order-book-preview-table-bids {
          .border(true, @border-right, @border-light);

          & > * {
            span:first-of-type {
              .border(false, @border-left);
            }
          }

          .remove-order {
            .border(true, @border-right, @border-light);

            transform: translateX(-100%);
          }
        }

        .order-book-preview-table-asks {
          .remove-order {
            right: 0;
            transform: translateX(100%);
          }
        }
      }
    }
  }
}
