.create-market-form {
  .border(true, @border-top);

  position: relative;

  &.no-preview {
    .border(false);
  }

  .create-market-form-part {
    display: none;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;

    &:first-of-type {
      display: flex;
      flex-direction: row;
    }

    &.hide-form {
      display: none;
    }

    &.display-form {
      display: flex;
    }

    h2 {
      flex: 1 0 100%;
    }
  }
}
