.create-market-form {
  .border(true, @border-top);

  margin: 1em 0;
  padding: 1em;
  transition-duration: @animation-speed-very-fast;
  transition-property: height;

  // First Form Part (Type)
  &.hide {
    animation-duration: @animation-speed-very-fast;
    animation-fill-mode: forwards;
    animation-name: hideType;
  }

  &.display {
    animation-duration: @animation-speed-fast;
    animation-fill-mode: forwards;
    animation-name: displayType;
  }

  &.no-preview {
    .border(false);

    padding: 0;
  }

  .create-market-form-preview {
    padding: 1em;
  }

  .create-market-form-part {
    display: none;
    flex: 1;
    left: 0;
    position: absolute;
    right: 0;

    &:first-of-type:not(.can-hide) {
      display: flex;
    }

    &.hide-form-part {
      animation-duration: @animation-speed-normal;
      animation-fill-mode: forwards;
      animation-name: hideFormPart;
      display: flex;

      aside {
        animation-duration: @animation-speed-normal;
        animation-fill-mode: forwards;
        animation-name: slideOutAside;
      }

      form {
        animation-duration: @animation-speed-normal;
        animation-fill-mode: forwards;
        animation-name: slideOutForm;
      }
    }

    &.display-form-part {
      animation-duration: @animation-speed-normal;
      animation-fill-mode: forwards;
      animation-name: revealFormPart;
      display: flex;

      aside {
        animation-duration: @animation-speed-normal;
        animation-fill-mode: forwards;
        animation-name: slideInAside;
      }

      form {
        animation-duration: @animation-speed-normal;
        animation-fill-mode: forwards;
        animation-name: slideInForm;
      }
    }

    .hide-field {
      display: none;
    }

    .create-market-form-part-content {
      display: flex;
      flex: 1;
      padding: 0 1em;

      aside {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-bottom: 5em;
        text-align: right;
      }

      .vertical-form-divider {
        .border(true, @border-right);

        margin: 0 1em;
      }

      form {
        flex: 3;
      }
    }
  }
}

// Animations
@keyframes revealFormPart {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@keyframes hideFormPart {
  0% {
    display: flex;
    opacity: 1;
  }

  99% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes slideInAside {
  from {
    transform: translateX(-10%) scale(1.08);
  }

  to {
    transform: translateX(0%) scale(1);
  }
}

@keyframes slideOutAside {
  from {
    transform: translateX(0%) scale(1);
  }

  to {
    transform: translateX(-10%) scale(0.92);
  }
}

@keyframes slideInForm {
  from {
    transform: translateX(10%) scale(1.08);
  }

  to {
    transform: translateX(0%) scale(1);
  }
}

@keyframes slideOutForm {
  from {
    transform: translateX(0%) scale(1);
  }

  to {
    transform: translateX(10%) scale(0.92);
  }
}
