.create-market-main-title {
  align-items: center;
  display: flex;
  flex: 1;

  h1 {
    margin-left: auto;
    margin-right: auto;

    &.title-animation-helper {
      margin: 2em 0;
      width: 0;
    }
  }

  .initial-title {
    display: flex;
  }

  .preview-title {
    display: none;
  }
}
