.create-market-form-buttons {
  position: relative;
  transition-duration: @animation-speed-normal;
  transition-property: height;

  .create-market-form-buttons-container {
    position: absolute;
    width: 100%;

    .create-market-form-buttons-content {
      .border(true, @border-top);

      display: flex;

      & > * {
        flex: 1;
        padding: 1em 0;

        &:first-of-type {
          .border(true, @border-right);

          padding-left: 1em;
          text-align: left;
        }

        &:last-of-type {
          padding-right: 1em;
          text-align: right;

          &:not(.disable-button) {
            background-color: @color-blue;
          }
        }
      }
    }
  }
}
