#create_market_view {
  align-items: center;
  display: flex;
  margin: 0;

  .create-market-container {
    .border(true, @border-right);
    .border(true, @border-bottom);
    .border(true, @border-left);
    .constrained-view();

    background-color: @color-white;
    width: 100%;

    & > article {
      margin: 1em;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}
