@import (reference) "~assets/styles/shared";

.MarketOutcomeChartsHighcharts {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  max-height: @charts-max-height;
  min-height: @charts-min-height;
  position: relative;

  svg {
    :global {
      .highcharts-background {
        fill: @color-module-background;
      }

      g.highcharts-yaxis-labels {
        .mono-10-bold;

        fill: @color-primary-text;
      }

      g.highcharts-xaxis-labels,
      g.highcharts-xaxis-labels > text,
      g.highcharts-xaxis-labels > text > tspan,
      g.highcharts-xaxis-labels > text > title {
        .mono-9;

        fill: @color-primary-text;
      }

      .highcharts-no-data {
        font-size: @size-16;
      }

      .highcharts-label-box {
        fill: @color-module-background;
        font-weight: bold;

        > text > tspan:last-child {
          font-size: @size-12;
        }
      }

      .highcharts-tick,
      .highcharts-axis-line {
        stroke: @color-secondary-action-outline;
      }

      .highcharts-xaxis-grid,
      g.highcharts-yaxis-grid path.highcharts-grid-line:nth-child(1),
      g.highcharts-yaxis path.highcharts-axis-line {
        display: none;
      }

      .highcharts-yaxis-grid {
        .dashline-long;

        .highcharts-grid-line {
          stroke: @color-secondary-action-outline;
        }
      }

      .highcharts-xaxis-category {
        display: none;
      }

      .highcharts-crosshair-label.highcharts-crosshair-label > .highcharts-label-box {
        stroke: @color-primary-text;
      }

      .highcharts-crosshair-label {
        background-color: @color-module-background;
        color: @color-primary-text;
        font-size: @size-10;
        z-index: @above-all-content;
      }

      .highcharts-crosshair {
        .dashline-long;
      }

      // --- mulitple line styling
      g.highcharts-line-series.highcharts-color-0 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-0 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-0.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-0,
      g.highcharts-area-series.highcharts-color-0 > path.highcharts-point,
      .highcharts-area-series.highcharts-color-0 > .highcharts-halo,
      g.highcharts-area-series.highcharts-color-0.highcharts-tracker > path,
      g.highcharts-markers.highcharts-series-0.highcharts-area-series.highcharts-color-0.highcharts-tracker > path,
      .highcharts-area-series.highcharts-color-0 {
        fill: @color-outcome-one;
        stroke: @color-outcome-one;
      }

      g.highcharts-area-series.highcharts-color-0 > path.highcharts-area {
        fill: fade(@color-outcome-one, 40);
        stroke: fade(@color-outcome-one, 40);
      }

      g.highcharts-area-series.highcharts-color-0 > path.highcharts-graph {
        stroke: @color-outcome-one;
      }

      g.highcharts-line-series.highcharts-color-1 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-1 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-1.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-1,
      g.highcharts-area-series.highcharts-color-1 > path.highcharts-point,
      .highcharts-area-series.highcharts-color-1 > .highcharts-halo,
      g.highcharts-area-series.highcharts-color-1.highcharts-tracker > path,
      g.highcharts-markers.highcharts-series-1.highcharts-area-series.highcharts-color-1.highcharts-tracker > path,
      .highcharts-area-series.highcharts-color-1 {
        fill: @color-outcome-two;
        stroke: @color-outcome-two;
      }

      g.highcharts-area-series.highcharts-color-1 > path.highcharts-area {
        fill: fade(@color-outcome-two, 40);
        stroke: fade(@color-outcome-two, 40);
      }

      g.highcharts-area-series.highcharts-color-1 > path.highcharts-graph {
        stroke: @color-outcome-two;
      }


      g.highcharts-line-series.highcharts-color-2 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-2 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-2.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-2,
      g.highcharts-area-series.highcharts-color-2 > path.highcharts-point,
      .highcharts-area-series.highcharts-color-2 > .highcharts-halo,
      g.highcharts-area-series.highcharts-color-2.highcharts-tracker > path,
      g.highcharts-markers.highcharts-series-2.highcharts-area-series.highcharts-color-2.highcharts-tracker > path,
      .highcharts-area-series.highcharts-color-2 {
        fill: @color-outcome-three;
        stroke: @color-outcome-three;
      }

      g.highcharts-area-series.highcharts-color-2 > path.highcharts-area {
        fill: fade(@color-outcome-three, 40);
        stroke: fade(@color-outcome-three, 40);
      }

      g.highcharts-area-series.highcharts-color-2 > path.highcharts-graph {
        stroke: @color-outcome-three;
      }

      .highcharts-line-series.highcharts-halo.highcharts-color-2,
      .highcharts-line-series.highcharts-color-2 > path.highcharts-graph {
        stroke: @color-outcome-three;
      }

      g.highcharts-line-series.highcharts-color-3 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-3 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-3.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-3,
      g.highcharts-area-series.highcharts-color-3 > path.highcharts-point,
      .highcharts-area-series.highcharts-color-3 > .highcharts-halo,
      g.highcharts-area-series.highcharts-color-3.highcharts-tracker > path,
      g.highcharts-markers.highcharts-series-3.highcharts-area-series.highcharts-color-3.highcharts-tracker > path,
      .highcharts-area-series.highcharts-color-3 {
        fill: @color-outcome-four;
        stroke: @color-outcome-four;
      }

      g.highcharts-area-series.highcharts-color-3 > path.highcharts-area {
        fill: fade(@color-outcome-four, 40);
        stroke: fade(@color-outcome-four, 40);
      }

      g.highcharts-area-series.highcharts-color-3 > path.highcharts-graph {
        stroke: @color-outcome-four;
      }

      g.highcharts-line-series.highcharts-color-4 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-4 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-4.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-4,
      g.highcharts-area-series.highcharts-color-4 > path.highcharts-point,
      .highcharts-area-series.highcharts-color-4 > .highcharts-halo,
      g.highcharts-area-series.highcharts-color-4.highcharts-tracker > path,
      g.highcharts-markers.highcharts-series-4.highcharts-area-series.highcharts-color-4.highcharts-tracker > path,
      .highcharts-area-series.highcharts-color-4 {
        fill: @color-outcome-five;
        stroke: @color-outcome-five;
      }

      g.highcharts-area-series.highcharts-color-4 > path.highcharts-area {
        fill: fade(@color-outcome-five, 40);
        stroke: fade(@color-outcome-five, 40);
      }

      g.highcharts-area-series.highcharts-color-4 > path.highcharts-graph {
        stroke: @color-outcome-five;
      }

      g.highcharts-line-series.highcharts-color-5 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-5 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-5.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-5,
      g.highcharts-area-series.highcharts-color-5 > path.highcharts-point,
      .highcharts-area-series.highcharts-color-5 > .highcharts-halo,
      g.highcharts-area-series.highcharts-color-5.highcharts-tracker > path,
      g.highcharts-markers.highcharts-series-5.highcharts-area-series.highcharts-color-5.highcharts-tracker > path,
      .highcharts-area-series.highcharts-color-5 {
        fill: @color-outcome-six;
        stroke: @color-outcome-six;
      }

      g.highcharts-area-series.highcharts-color-5 > path.highcharts-area {
        fill: fade(@color-outcome-six, 40);
        stroke: fade(@color-outcome-six, 40);
      }

      g.highcharts-area-series.highcharts-color-5 > path.highcharts-graph {
        stroke: @color-outcome-six;
      }

      g.highcharts-line-series.highcharts-color-6 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-6 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-6.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-6,
      g.highcharts-area-series.highcharts-color-6 > path.highcharts-point,
      .highcharts-area-series.highcharts-color-6 > .highcharts-halo,
      g.highcharts-area-series.highcharts-color-6.highcharts-tracker > path,
      g.highcharts-markers.highcharts-series-6.highcharts-area-series.highcharts-color-6.highcharts-tracker > path,
      .highcharts-area-series.highcharts-color-6 {
        fill: @color-outcome-seven;
        stroke: @color-outcome-seven;
      }

      g.highcharts-area-series.highcharts-color-6 > path.highcharts-area {
        fill: fade(@color-outcome-seven, 40);
        stroke: fade(@color-outcome-seven, 40);
      }

      g.highcharts-area-series.highcharts-color-6 > path.highcharts-graph {
        stroke: @color-outcome-seven;
      }

      g.highcharts-line-series.highcharts-color-7 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-7 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-7.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-7,
      g.highcharts-area-series.highcharts-color-7 > path.highcharts-point,
      .highcharts-area-series.highcharts-color-7 > .highcharts-halo,
      g.highcharts-area-series.highcharts-color-7.highcharts-tracker > path,
      g.highcharts-markers.highcharts-series-7.highcharts-area-series.highcharts-color-7.highcharts-tracker > path,
      .highcharts-area-series.highcharts-color-7 {
        fill: @color-outcome-invalid;
        stroke: @color-outcome-invalid;
      }

      g.highcharts-area-series.highcharts-color-7 > path.highcharts-area {
        fill: fade(@color-outcome-invalid, 40);
        stroke: fade(@color-outcome-invalid, 40);
      }

      g.highcharts-area-series.highcharts-color-7 > path.highcharts-graph {
        stroke: @color-outcome-invalid;
      }

      text.highcharts-title tspan,
      text.highcharts-title > tspan {
        .text-10;

        color: @color-primary-text;
        fill: @color-primary-text;
        text-transform: capitalize;
      }
    }
  }
}
