@import (reference) "~assets/styles/shared";

.MarketOutcomeChartsHighcharts {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  min-height: @charts-min-height;
  position: relative;

  svg {
    :global {
      .highcharts-background {
        fill: @color-theme-primary;
      }

      g.highcharts-axis-labels > text > tspan {
        .mono-12;

        color: @color-secondary-text;
        fill: @color-secondary-text;
      }

      .highcharts-yaxis-labels,
      .highcharts-label {
        .mono-12;

        fill: @color-secondary-text;
      }

      .highcharts-no-data {
        font-size: @size-16;
      }

      .highcharts-label-box {
        fill: @color-theme-primary;
        font-weight: bold;

        > text > tspan:last-child {
          font-size: @size-12;
        }
      }

      .highcharts-tick,
      .highcharts-axis-line {
        stroke: fade(@color-secondary-text, 40%);
      }

      .highcharts-xaxis-grid,
      g.highcharts-yaxis-grid path.highcharts-grid-line:nth-child(1),
      g.highcharts-yaxis path.highcharts-axis-line {
        display: none;
      }

      .highcharts-yaxis-grid {
        .dashline-long;

        .highcharts-grid-line {
          stroke: fade(@color-secondary-text, 40%);
        }
      }

      .highcharts-xaxis-category {
        display: none;
      }

      .highcharts-crosshair-label.highcharts-crosshair-label > .highcharts-label-box {
        stroke: @color-secondary-text;
      }

      .highcharts-crosshair-label {
        background-color: @color-theme-primary;
        color: @color-secondary-text;
        font-size: @size-10;
        z-index: 2;
      }

      .highcharts-crosshair {
        .dashline-long;
      }

      .eth-label {
        font-size: @size-9;
      }

      // --- area styling
      .highcharts-area {
        opacity: 0.4;
      }

      .highcharts-area-series.highcharts-color-0 > path.highcharts-graph {
        stroke: @color-outcome-two;
      }

      .highcharts-area-series.highcharts-halo.highcharts-color-0 {
        fill: @color-outcome-two;
        stroke: @color-outcome-two;
      }

      .highcharts-area-series.highcharts-series-hover,
      .highcharts-area-series.highcharts-color-0.highcharts-tracker > path,
      .highcharts-area-series > .highcharts-area {
        fill: @color-outcome-two;
        stroke: @color-outcome-two;
      }

      // --- mulitple line styling
      g.highcharts-line-series.highcharts-color-0 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-0 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-0.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-0 {
        fill: @color-outcome-one;
        stroke: @color-outcome-one;
      }

      .highcharts-line-series.highcharts-color-0 > path.highcharts-graph {
        stroke: @color-outcome-one;
      }

      g.highcharts-line-series.highcharts-color-1 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-1 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-1.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-1 {
        fill: @color-outcome-two;
        stroke: @color-outcome-two;
      }

      .highcharts-line-series.highcharts-series-hover.highcharts-color-1,
      .highcharts-line-series.highcharts-color-1 > path.highcharts-graph {
        stroke: @color-outcome-two;
      }

      g.highcharts-line-series.highcharts-color-2 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-2 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-2.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-2 {
        fill: @color-outcome-three;
        stroke: @color-outcome-three;
      }

      .highcharts-line-series.highcharts-halo.highcharts-color-2,
      .highcharts-line-series.highcharts-color-2 > path.highcharts-graph {
        stroke: @color-outcome-three;
      }

      g.highcharts-line-series.highcharts-color-3 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-3 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-3.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-3 {
        fill: @color-outcome-four;
        stroke: @color-outcome-four;
      }

      .highcharts-line-series.highcharts-halo.highcharts-color-3,
      .highcharts-line-series.highcharts-color-3 > path.highcharts-graph {
        stroke: @color-outcome-four;
      }

      g.highcharts-line-series.highcharts-color-4 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-4 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-4.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-4 {
        fill: @color-outcome-five;
        stroke: @color-outcome-five;
      }

      .highcharts-line-series.highcharts-halo.highcharts-color-4,
      .highcharts-line-series.highcharts-color-4 > path.highcharts-graph {
        stroke: @color-outcome-five;
      }

      g.highcharts-line-series.highcharts-color-5 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-5 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-5.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-5 {
        fill: @color-outcome-six;
        stroke: @color-outcome-six;
      }

      .highcharts-line-series.highcharts-halo.highcharts-color-5,
      .highcharts-line-series.highcharts-color-5 > path.highcharts-graph {
        stroke: @color-outcome-six;
      }

      g.highcharts-line-series.highcharts-color-6 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-6 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-6.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-6 {
        fill: @color-outcome-seven;
        stroke: @color-outcome-seven;
      }

      .highcharts-line-series.highcharts-halo.highcharts-color-6,
      .highcharts-line-series.highcharts-color-6 > path.highcharts-graph {
        stroke: @color-outcome-seven;
      }

      g.highcharts-line-series.highcharts-color-7 > path.highcharts-point,
      .highcharts-line-series.highcharts-color-7 > .highcharts-halo,
      g.highcharts-line-series.highcharts-color-7.highcharts-tracker > path:nth-child(2),
      .highcharts-line-series.highcharts-color-7 {
        fill: @color-outcome-eight;
        stroke: @color-outcome-eight;
      }

      .highcharts-line-series.highcharts-halo.highcharts-color-7,
      .highcharts-line-series.highcharts-color-7 > path.highcharts-graph {
        stroke: @color-outcome-eight;
      }

      text.highcharts-title tspan {
        color: @color-secondary-text;
        fill: @color-secondary-text;
        font-size: @size-10;
      }
    }
  }
}

.MarketOutcomeChartsHighcharts__yLabels {
  color: @color-secondary-text;
}
