@import (reference) "~assets/styles/shared";
@import (reference) "~modules/market/components/market-view/market-view.styles";

.CoreProperties {
  display: flex;
  flex: 1 0 20%;
  flex-flow: row wrap;
  justify-content: space-between;

  > div {
    flex: 0 0 50%;
    margin-top: @size-14;
  }

  > div:first-of-type,
  > div:nth-of-type(2) {
    margin-top: 0;
  }
}

@media @breakpoint-mobile {
  .CoreProperties {
    background: @color-secondary-action;
    padding: @size-16;
  }
}
