@import (reference) '~assets/styles/shared';

.CoreProperties {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-top: 1px solid @color-dark-grey;

  > div:first-of-type {
    display: flex;

    > div:first-of-type {
      display: grid;
      grid-gap: @size-8 0;
      grid-template-columns: auto auto;
      grid-template-rows: @size-34 @size-34;
      margin: @size-12 @size-16;
      flex: 1;

      > div[class*="PropertyLabel"] > {
        span:first-of-type {
          .mono-10-bold;

          margin-bottom: @size-4;
        }

        span:last-of-type {
          .text-12-medium;
        }
      }
    }
  }

  > div {
    flex: 1;
  }

  &.ReportingBarShowing {
    > div:first-of-type {
      display: flex;
      align-items: flex-start;

      > button {
        padding: @size-12 @size-16 0 @size-32;
      }
  
      > div:first-of-type {
        grid-template-columns: 215px auto;
        grid-template-rows: @size-34;

        > div:nth-of-type(2),
        > div:nth-of-type(4) {
          flex-direction: column;
          justify-content: flex-end;

          > span:nth-of-type(3) {
            line-height: 160%;
            margin-left: @size-4;
          }
        }
      }
    }
  }

  @media @breakpoint-mobile {
    > div:first-of-type {
      border-top: 1px solid @color-dark-grey;
      
      > div:first-of-type {
        grid-template-rows: auto auto; 
      }
    }

    &.ReportingBarShowing {
      > div:first-of-type {
        border-top: 0;
        flex-direction: column;
        align-items: center;

        > div:first-of-type {
          grid-template-rows: @size-34;
          
          > div:nth-of-type(2) {
            grid-row: 1 / span 2;
            grid-column: 2;

            > span:nth-of-type(3) {
              margin-left: 0;
            }
          }
        }

        > button {
          display: flex;
          padding: 0;
          margin-bottom: @size-12;

          > span {
            display: flex;
          }
        }
      }
    }
  }
}

.TimeSection {
  background: @color-module-background;
  border-left: 1px solid @color-dark-grey;
  max-width: 240px;
  min-width: 240px;
  padding: @size-12 @size-16;

  > div:first-of-type {
    margin-bottom: @size-8;
  }

  > div[class*="TimeLabel"] {
    span:first-of-type {
      .mono-10-bold;
      
      margin-bottom: @size-4;
    }

    span:nth-of-type(2) {
      .mono-12-medium;

      color: @color-primary-text;
      margin-bottom: @size-2;
    }

    span:nth-of-type(3) {
      .mono-9-bold;
    }
  }
}

.ScalarBox {
  border-top: 1px solid @color-dark-grey;
}
