@import (reference) '~assets/styles/shared';

.CoreProperties {
  display: grid;
  grid-gap: @size-8 0;
  grid-template-columns: auto auto;
  grid-template-rows: @size-34 @size-34;
  margin: @size-12 @size-16;

  @media @breakpoint-mobile {
    background: @color-dark-grey;
    padding: @size-16;
  }
}
