@import (reference) '~assets/styles/shared';

.ReportingHeader {
  color: @color-white;
  padding: 4.5rem 2rem 0;
}

.ReportingHeader__dispute-graph {
  margin-top: 0.25rem;
}

.ReportingHeader__dispute-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.675rem;
}

.ReportingHeader__graph {
  background-color: @color-darkgray;
  border-radius: 3px;
  display: flex;
  height: 1.5rem;
  justify-content: space-between;
  overflow: hidden;
}

.ReportingHeader__graph-current {
  width: 100%;

  > div {
    background-image: linear-gradient(-90deg, rgba(155, 139, 245, 0.5) 3%, rgba(155, 139, 245, 0) 96%);
    height: 100%;
    position: relative;

    > span {
      font-size: 0.625rem;
      left: 100%;
      line-height: 0.625rem;
      margin-left: 0.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      white-space: nowrap;
    }
  }
}

.ReportingHeader__daysLeft {
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: @font-size-small;
  font-weight: 500;
  justify-content: flex-end;
  margin-bottom: 18px;
  margin-top: 8px;
  text-transform: uppercase;
}

.ReportingHeader__value-label {
  color: @color-lightgray;
  font-size: @font-size-small;
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.ReportingHeader__value-number {
  align-items: flex-end;
  color: @color-white;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: @font-size-rather-large;
}

.ReportingHeader__value-number:focus {
  outline: none;
}

.ReportingHeader__readMore-value-label {
  color: @color-grayish-purple;
  font-size: @font-size-small;
  font-weight: 500;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.ReportingHeader__border {
  border-bottom: 1px solid @color-border-gray;
  margin-bottom: 28px;
  padding-bottom: 24px;
}

.ReportingHeader__statsContainer {
  margin-right: 10px;
  position: relative;
}

.ReportingHeader__readMore-value-number {
  color: @color-almostblack;
  font-family: 'Roboto Mono', monospace;
  font-size: @font-size-medium;
  font-weight: 500;
}

.ReportingHeader__value-unit {
  font-family: @roboto;
  font-size: @font-size-medium;
  font-weight: 400;
  margin-bottom: 0.125rem;
  margin-left: 0.625rem;
  margin-right: 0.3125rem;
}

.ReportingHeader__rowFees {
  display: flex;
  flex-grow: 1;
}

.ReportingHeader__readMore-value-unit {
  font-size: @font-size-medium;
  font-weight: 400;
  margin-right: 0.3125rem;
}

.ReportingHeader__endTime {
  &:extend(.caps--small);

  align-items: baseline;
  color: @color-lightgray;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: @font-size-small;
  font-weight: 500;
  justify-content: flex-end;
}

.ReportingHeader__endTimeValue {
  color: @color-white;
  font-family: 'Roboto Mono', monospace;
  font-size: @font-size-large;
  font-weight: 500;
  margin-left: 12px;
  text-transform: none;
}

.ReportingHeader__row {
  display: flex;
  flex-grow: 1;
  margin-top: 20px;
}

.ReportingHeader__column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ReportingHeader__endTimeRow {
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 5px;
}

.ReportingHeader__participation {
  background-color: rgba(55, 46, 75, 0.41);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 25px;
  max-width: 526px;
  padding: 24px;
}

.ReportingHeader__heading {
  color: @color-lightergray;
  letter-spacing: 0.125rem;
  margin: 0 0 1rem;
  text-transform: uppercase;

  > span {
    color: @color-white;
    font-weight: 500;
  }
}

.ReportingHeader__labels {
  &:extend(.caps--extra-small);

  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin-top: 0.5rem;
  text-align: left;

  > span:last-child {
    width: 22%;
  }
}

.ReportingHeader__participationTokens {
  .button--offWhite();

  display: flex;
  flex-grow: 1;
  margin-top: 30px;
  max-height: 39px;
  max-width: 289px;
  padding: 5px 10px;
}

.ReportingHeader__participationHeader {
  color: @color-lightgray;
  font-size: @font-size-small;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.ReportingHeader__participationText {
  color: #d8d8d8;
  font-size: @font-size-normal;
  line-height: 1.313rem;
}

.ReportingHeader__participationTokens--disabled {
  &:extend(.ReportingHeader__participationTokens);

  background-color: @color-lightgray;
  color: @color-lightergray;
  cursor: default;
}

.ReportingHeader__tooltip {
  &::after {
    border: 0;
  }
}

.ReportingHeader__readMore {
  background-color: #f6f6f6;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  left: -1.313rem;
  margin-top: -50px;
  max-height: 64px;
  min-width: 438px;
  padding: 13px 24px;
  position: absolute;
}

.ReportingHeader__participationTokens--text {
  font-size: @font-size-large;
}

.ReportingHeader__stake {
  &:extend(.caps--extra-small);

  color: @color-lightgray;
  font-weight: 700;
  padding-left: 0.5rem;
}

@media @breakpoint-mobile {
  .ReportingHeader__statsContainer {
    width: 100%;
  }

  .ReportingHeader__participation {
    margin-top: 20px;
    max-width: 100%;
  }

  .ReportingHeader {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3.25rem;
  }

  .ReportingHeader__rowFees {
    flex-direction: row;
  }

  .ReportingHeader__row {
    flex-direction: column;
  }

  .ReportingHeader__readMore {
    left: 0;
  }
}

@media @breakpoint-mobile-small {
  .ReportingHeader__stake {
    font-weight: 500;
  }

  .ReportingHeader__readMore {
    min-width: 12.5rem;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }
}
