@import (reference) '~assets/styles/shared';

.ReportingHeader {
  color: @color-white;
  margin-bottom: 2.125rem;
  padding: 4.5rem 2rem 2rem;
}

.ReportingHeader__dispute-graph {
  margin-top: 0.25rem;
}

.ReportingHeader__dispute-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.875rem;
}

.ReportingHeader__endDate {
  &:extend(.caps--small);

  font-weight: 500;
}

.ReportingHeader__graph {
  background-color: @color-darkgray;
  border-radius: 3px;
  display: flex;
  height: 1.5rem;
  justify-content: space-between;
  overflow: hidden;
}

.ReportingHeader__graph-current {
  width: 78%;

  > div {
    background-image: linear-gradient(-90deg, rgba(155, 139, 245, 0.5) 3%, rgba(155, 139, 245, 0) 96%);
    border-right: 2px solid @color-white;
    height: 100%;
    position: relative;

    > span {
      font-size: 0.625rem;
      left: 100%;
      line-height: 0.625rem;
      margin-left: 0.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      white-space: nowrap;
    }
  }
}

.ReportingHeader__heading {
  margin: 0 0 1rem;
  text-transform: uppercase;

  &:extend(.h1--heavy);
}

.ReportingHeader__labels {
  &:extend(.caps--extra-small);

  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin-top: 0.5rem;
  text-align: left;

  > span:last-child {
    width: 22%;
  }
}

.ReportingHeader__participationTokens {
  &:extend(.caps);

  border-bottom: 1px solid @color-white;
  padding-bottom: 2px;
  white-space: nowrap;
}

.ReportingHeader__stake {
  &:extend(.caps--extra-small);

  color: fadeout(@color-white, 75);
  font-weight: 700;
  padding-left: 1rem;
}

@media @breakpoint-mobile {
  .ReportingHeader {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3.25rem;
  }
}

@media @breakpoint-mobile-small {
  .ReportingHeader__stake {
    font-weight: 500;
  }
}
