@import (reference) "~assets/styles/shared";

.ModalUport__header {
  align-items: flex-end;
  display: flex;
  flex: 1;
}

.ModalUport__qr {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
}
