@import (reference) '~assets/styles/shared';

.Finalization,
.ClaimHold {
  background: @color-secondary-action;
  border: 1px solid fade(@color-secondary-action-outline, 50%);
  border-radius: @border-radius-default;
  margin-bottom: @size-16;
  padding: @size-16;

  @media @breakpoint-mobile {
    margin-bottom: @size-8;
  }
}

.Finalization {
  > div:first-of-type {
    .mono-11-bold;

    color: @color-primary-text;
    text-transform: uppercase;
  }

  > div:last-of-type {
    .text-11;

    color: @color-primary-text;
    margin: @size-8 0 0;
  }
}

.ClaimHold {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div:first-of-type {
    > div:first-of-type {
      .mono-11-bold;

      color: @color-primary-text;
      text-transform: uppercase;
    }

    > div:last-of-type {
      .text-11;

      color: @color-primary-text;
      margin: @size-8 0 0;
    }
  }

  > div:last-of-type {
    margin-bottom: 0;

    > span > span:first-of-type {
      .mono-10;

      color: @color-inactive-text;
      text-align: right;
      text-transform: uppercase;
    }

    > span > span:last-of-type {
      .mono-11;

      text-align: right;
    }

    @media @breakpoint-1-0 {
      margin-bottom: @size-24;
    }

    @media @breakpoint-mobile {
      margin-bottom: 0;
    }
  }
}

.EmptyBreak {
  background: @color-module-background;
  height: 0.125rem;

  @media @breakpoint-mobile {
    display: none;
  }
}

.Content {
  background: @color-module-background;
  display: flex;
  padding: @size-12 @size-16;
  justify-content: space-between;
  border-top: 1px solid @color-dark-grey;

  > button {
    margin-left: auto;

    @media @breakpoint-mobile {
      margin-left: unset;
    }
  }

  @media @breakpoint-mobile {
    flex-direction: column;

    > div:first-of-type {
      > span:nth-of-type(2) {
        margin-bottom: @size-12;
      }
    }
  }

  @media @breakpoint-mobile-extra-small {
    flex-direction: column;
    text-align: center;
  }

  > div:first-of-type {
    display: flex;
    flex-direction: column;
  }

  &.Dispute,
  &.Set {
    > div:first-of-type {
      > span:first-of-type {
        .mono-12-bold;

        text-transform: uppercase;
        color: @color-secondary-text;
      }

      > span:not(:first-of-type) {
        .text-11-medium;

        color: @color-primary-text;
        margin-top: @size-4;
      }
    }
  }

  &.Set {
    min-width: 250px;

    > div:first-of-type {
      > span:first-of-type {
        .mono-12-bold;

        color: @color-tenative-winner;
        text-transform: uppercase;
      }
    }
  }

  &.Report {
    max-width: fit-content;
    margin-left: auto;
    
    > div:first-of-type {
      @media @breakpoint-mobile {
        flex: 1 50%;
      }

      > span:last-of-type {
        .text-12;

        color: @color-primary-text;
        margin-top: @size-8;
      }
    }

    > span {
      @media @breakpoint-mobile {
        margin-left: @size-16;
      }
    }
  }
}
