@import (reference) "~assets/styles/shared";
@import (reference) "~modules/market/components/market-view/market-view.styles";

.MarketHeader {
  color: @color-lightgray;
  display: flex;
  flex: 1;
  flex-direction: column;

  &.Collapsed {
    color: @color-lightgray;
    display: flex;
    flex: 1;
    flex-direction: column;

    > div:nth-of-type(2) {
      flex: 1;
      margin: 0 0 @size-8;
      overflow: auto;
    }
  }

  > h1 {
    display: none;
  }

  > div:first-of-type {
    align-items: flex-start;
    display: flex;
    width: 100%;

    > div:first-of-type {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      margin-right: @size-20;
      max-width: 654px;
      padding-top: 2px;

      > span {
        margin: 0 @size-8 0 0;
      }
    }

    > div:last-of-type {
      display: flex;
      flex: 1;
    }

    > span {
      margin: 0 @size-8 0 0;
    }
  }
}

.Toggle {
  display: flex;
  justify-content: center;
  margin-top: @size-30;

  > button {
    background: @color-theme-primary;
    border: 1px solid @color-highlight;
    border-radius: 4.6875rem;
    height: @size-24;
    width: 4rem;

    &:hover {
      background-color: @color-highlight;
    }

    > span {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  &.Collapsed {
    margin-top: 0;
  }
}

.AdditionalDetails,
.AdditionalDetails:disabled {
  background: none;
  border: 0;
  margin: 0;
  margin-top: -@size-10;
  max-height: 90px;
  overflow: hidden;
  padding: 0 0 @size-8 0;
  resize: none;
  text-transform: none;
  transition: max-height 0.15s ease-out;
  white-space: pre-wrap;

  > p {
    margin-top: 0;
  }

  &.Tall {
    max-height: 1000px;
    overflow-y: auto;
    transition: max-height 0.15s ease-in;
  }
}

.BackButton {
  .text-10;

  display: flex;
  text-transform: capitalize;

  span {
    color: @color-alternate-text;
  }

  svg {
    height: @size-16;
    margin-right: @size-20;

    rect {
      fill: @color-alternate-text;
    }

    path {
      stroke: @color-alternate-text;
    }
  }

  &:hover {
    span {
      color: @color-secondary-text;
    }

    svg {
      rect {
        fill: @color-secondary-text;
      }

      path {
        stroke: @color-secondary-text;
      }
    }
  }
}

.MainValues {
  display: flex;
  width: 100%;

  > .Properties > section {
    display: none;
  }

  > div:first-of-type {
    flex: 1;
    margin-right: @size-20;
    max-width: 654px;

    &.Collapsed { 
      display: flex;
      flex: 1;
      width: 100%;
    }

    > h1 {
      .text-24-bold;

      color: @color-secondary-text;
      flex-grow: 1;
    }

    > div:first-of-type {
      padding: 0 0 @size-16;

      > p {
        margin-bottom: 0;
      }
    }
  }   
}

.Details {
  padding: 0;

  h4 {
    .mono-10;

    color: @color-shadow-text;
    display: block;
    padding-bottom: 2px;
    padding-right: @size-8;
    text-transform: uppercase;
  }

  > span,
  > p,
  > textarea,
  > label {
    .text-12;

    color: @color-tertiary-text;

    @media @breakpoint-mobile-small {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > button {
    .text-12;

    color: @color-secondary-text;
    cursor: pointer;
    margin-top: @size-12;
    text-transform: uppercase;

    svg {
      height: @size-16;
      margin-right: @size-8;

      polyline {
        stroke: @color-secondary-text;
        stroke-width: 3;
      }
    }

    &.Less {
      align-items: center;
      display: flex;
      margin-top: 0;
    }
  }
}

.Properties {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: @size-48;
}

.Core {
  display: flex;
  padding: @size-18 0 0;

  > div:first-of-type {
    padding-top: 1px;

    @media @breakpoint-mobile {
      padding-top: @size-16;
    }

    > div:nth-of-type(3) {
      padding-top: 1px;
    }
  }

  > div {
    flex: 1;
  }
}

@media @breakpoint-mobile {
  .MarketHeader {
    > h1 {
      .text-18-bold;

      display: flex;
      color: @color-secondary-text;
      margin: 0 @size-8 @size-24;
    }

    > div:first-of-type {
      align-items: normal;
      margin-left: @size-8;
      overflow: auto;

      div.Properties {
        display: none;
      }

      > div:first-of-type {
        padding-top: 0;

        > span {
          margin: 0 @size-8 0 0;
        }
      }
    }
  }

  .Core {
    flex-direction: column;
    padding: 0;

    > div {
      border-radius: @border-radius-default;
    }
  }

  .BackButton {
    display: none;
  }

  .MainValues {
    flex-direction: column;

    > .Properties {
      border-bottom: 1px solid @color-primary-background;
      margin-left: 0;

      > section {
        display: flex;
      }
    }

    > div:first-of-type {
      > h1 {
        display: none;
      }

      > div {
        margin: @size-12 0 @size-10 @size-8;
      }
    }
  }

  .Time {
    align-items: normal;
    background-color: @color-secondary-action;
    margin: @size-8 0;
    padding: @size-16;
  }

  .Toggle {
    display: none;
  }
}
