@import (reference) '~assets/styles/shared';
@import (reference) '~modules/market/components/market-view/market-view.styles';

.MarketHeader {
  background: @color-module-background;
  border: 1px solid @color-dark-grey;
  color: @color-secondary-text;
  display: flex;
  flex: 1;
  flex-direction: column;

  .copy_marketId {
    margin-left: @size-8;
  }

  &.Collapsed {
    color: @color-secondary-text;
    display: flex;
    flex: 1;
    flex-direction: column;

    > div:nth-of-type(2) {
      flex: 1;
      margin: 0 0 @size-8;
      overflow: auto;
    }
  }

  > div:first-of-type {
    align-items: flex-start;
    display: flex;
    width: 100%;
    padding-left: @size-16;

    > div:first-of-type {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      margin-right: @size-8;
      padding-top: @size-8;
      flex-direction: column;

      > div:first-of-type {
        flex: 1;

        > div {
          > span {
            margin: 0 @size-8 0 0;
          }

          > button[class*="WordTrailButton"] {
            .mono-10-bold;
          }
        }
      }

      > div {
        > span {
          .text-18-bold;

          color: @color-primary-text;
          flex-grow: 1;
          margin-bottom: @size-8;
        }
      }

      > div:first-of-type {
        display: flex;
        height: fit-content;

        > span {
          margin: 0 @size-8 0 0;
        }

        > button {
          height: @size-20;
          margin-left: @size-8;
          width: @size-20;
        }

        > button:first-of-type {
          justify-content: flex-end;
          margin-left: auto;

          > svg {
            > path:first-of-type {
              fill: @color-facebook;
            }

            > path:last-of-type {
              fill: #FFFFFF;
            }
          }
        }

        > button:last-of-type {
          > svg {
            > path:first-of-type {
              fill: @color-twitter;
            }

            > path:last-of-type {
              fill: #FFFFFF;
            }
          }
        }

        > div:nth-of-type(2),
        > div:last-of-type {
          display: flex;
          margin-left: @size-8;

          > svg {
            cursor: pointer;
          }
        }
      }

      > div:last-of-type {
        display: flex;
        margin-left: 0;
        flex-direction: column;
        margin-top: @size-10;
      }
    }

    > div:last-of-type {
      display: flex;
      border-bottom: 0;
      border-top: 0;
    }
  }
}

div.Toggle {
  display: flex;
  justify-content: center;
  height: @size-32;

  > button {
    background: @color-dark-grey;
    display: flex;
    width: 100%;

    > svg {
      height: @size-16;
      width: @size-12;
      margin-left: auto;
      margin-right: @size-10;

      > path {
        fill: @color-secondary-text;
      }
    }
  }

  &.CollapsedToggle {
    align-items: unset;
    background: @color-dark-grey;
    align-items: center;

    > button {
      width: unset;
    }

    > button:first-of-type {
      width: unset;

      > svg {
        height: @size-6;
        width: @size-10;
        margin-right: 0;

        > path {
          fill: unset;
        }
      }
    }

    > h1 {
      .text-12-bold;

      color: @color-primary-text;
      padding: 0;
      margin: 0;
      flex: 1;
    }
  }
}

.AdditionalDetails,
.AdditionalDetails:disabled {
  background: none;
  border: 0;
  margin: 0;
  max-height: @size-52;
  overflow: hidden;
  resize: none;
  text-transform: none;
  transition: max-height 0.15s ease-out;
  white-space: pre-wrap;
  margin-bottom: @size-12;

  > p {
    margin-top: 0;
  }

  &.Tall {
    max-height: 1000px;
    overflow-y: auto;
    transition: max-height 0.15s ease-in;
  }
}

.BackButton {
  .mono-10;

  align-items: center;
  color: @color-primary-text;
  display: flex;
  text-transform: uppercase;
  margin-right: @size-10;

  span {
    color: @color-primary-text;
  }

  svg {
    height: @size-6;
    width: @size-10;

    path {
      stroke: @color-primary-text;
    }
  }
}

.MainValues {
  display: flex;
  width: 100%;
  padding-left: @size-16;

  > .Properties > section {
    display: none;
  }

  > div:first-of-type {
    flex: 1;
    margin-right: @size-8;

    &.Collapsed {
      display: flex;
      flex: 1;
      width: 100%;
    }

    > span,
    > span > div {
      .text-18-bold;

      color: @color-primary-text;
      flex-grow: 1;
      margin-bottom: @size-8;
    }

    > div:first-of-type {
      .mono-9-bold;

      padding: @size-8 0 @size-8;

      > p {
        margin-bottom: 0;
      }

      > span {
        .text-12;

        color: @color-primary-text;
      }
    }
  }
}

.Details {
  padding: 0;

  h4 {
    .mono-10-bold;

    color: @color-secondary-text;
    display: block;
    padding-bottom: 2px;
    padding-right: @size-8;
    text-transform: uppercase;
  }

  > div {
    display: flex;
    align-items: flex-start;

    > button {
      .text-12;

      color: @color-primary-text;
      cursor: pointer;
      margin-left: @size-5;
      text-transform: uppercase;

      svg {
        height: @size-12;

        polyline {
          stroke: @color-primary-text;
          stroke-width: 3;
        }
      }

      &.Less {
        align-items: center;
        display: flex;
        margin-top: 0;
      }
    }

    > span,
    > p,
    > textarea,
    > label {
      .text-12;

      color: @color-primary-text;

      @media @breakpoint-mobile-small {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media @breakpoint-mobile {
    > div {
      flex-direction: column;
      align-items: center;
      margin-bottom: @size-12;

      > label {
        margin-bottom: @size-8;
      }
    }
  }
}

.Properties {
  border-left: 1px solid @color-dark-grey;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 630px;
  background: @color-module-background;
}

.ShowTutorial {
  z-index: @mask-illuminate;

  > section {
    top: 270px;
  }
}

@media @breakpoint-mobile {
  .MarketHeader {
    border-radius: 1px;

    > h1 {
      .text-18-bold;

      display: flex;
      color: @color-primary-text;
      margin: 0 @size-8 @size-24;
    }

    > div:first-of-type {
      align-items: normal;
      padding-left: 0;
      overflow: auto;
      margin-bottom: @size-5;
      flex-direction: column;

      div.Properties {
        min-width: unset;
        border: 0;
        border-top: 1px solid @color-dark-grey;

        > div:last-of-type {
          border-top: 0;
        }
      }

      > div:first-of-type {
        padding-top: @size-12;
        padding-left: @size-14;
        align-items: flex-start;

        > div:first-of-type {
          align-items: flex-end;
          flex-direction: row;

          > span {
            align-self: center;
          }

          > svg {
            display: flex;
            margin-right: @size-8;
          }
        }
      }
    }
  }

  .Core {
    flex-direction: column;
    padding: 0;

    > div {
      border-radius: @border-radius-default;
    }
  }

  .BackButton {
    display: none;
  }

  .MainValues {
    flex-direction: column;
    padding-left: 0;

    > .Properties {
      border-left: 0;
      margin-left: 0;

      > section {
        display: flex;
        margin-left: @size-14;
      }
    }

    > div:first-of-type {
      padding-left: @size-12;

      > h1 {
        margin-bottom: @size-12;
      }
    }
  }

  .Time {
    align-items: normal;
    background-color: @color-dark-grey;
    margin: @size-8 0;
    padding: @size-16;
  }

  div.Toggle {
    display: none;
  }
}
