@import (reference) "~assets/styles/shared";

.HeaderCollapsed {
  display: flex;

  @media @breakpoint-mobile {
    flex-direction: column;
  }

  > div:first-of-type {
    .text-16-bold;

    color: @color-secondary-text;
    display: flex;
    flex: 1;
    margin-right: @size-16;
    max-width: 100%;
  }

  > div:last-of-type {
    flex: 1;
    margin-left: 3rem;
    min-height: fit-content;
    min-width: 370px;
    padding-left: @size-12;
  }
}