@import (reference) "~assets/styles/shared";
@import (reference) "~modules/market/components/market-view/market-view.styles";

.MarketHeader {
  color: @color-lightgray;
  display: flex;
  flex: 1;
  flex-direction: column;

  &.Collapsed {
    color: @color-lightgray;
    display: flex;
    flex: 1;
    flex-direction: column;

    > div:nth-of-type(2) {
      flex: 1;
      margin: 0 0 @size-8;
      overflow: auto;
    }
  }

  > h1 {
    display: none;
  }

  > div:first-of-type {
    align-items: flex-start;
    display: flex;
    width: 100%;

    > div:first-of-type {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      margin-right: @size-20;
      max-width: 654px;
      padding-top: 0.125rem;

      > span {
        margin: 0 @size-8 0 0;
      }
    }

    > div:last-of-type {
      display: flex;
      flex: 1;
    }

    > span {
      margin: 0 @size-8 0 0;
    }
  }
}

.Toggle {
  display: flex;
  justify-content: center;
  margin-top: 1.85rem;

  > button {
    background: @color-theme-primary;
    border: 1px solid @color-highlight;
    border-radius: 4.6875rem;
    height: @size-24;
    width: 4rem;

    &:hover {
      background-color: @color-highlight;
    }

    > span {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  &.Collapsed {
    margin-top: 0;
  }
}

.MarketHeader__AdditionalDetails-text,
.MarketHeader__AdditionalDetails-text:disabled {
  background: none;
  border: 0;
  margin: 0;
  margin-top: -10px;
  max-height: 90px;
  overflow: hidden;
  padding: 0 0 @size-8 0;
  resize: none;
  text-transform: none;
  transition: max-height 0.15s ease-out;
  white-space: pre-wrap;

  > p {
    margin-top: 0;
  }
}

.MarketHeader__AdditionalDetails-tall {
  max-height: 1000px;
  overflow-y: auto;
  transition: max-height 0.15s ease-in;
}

.BackButton {
  .caps--small();

  display: flex;
  font-size: 10px;
  text-transform: capitalize;

  span {
    color: @color-alternate-text;
  }

  svg {
    height: @size-16;
    margin-right: @size-20;
    width: @size-18;

    rect {
      fill: @color-alternate-text;
    }

    path {
      stroke: @color-alternate-text;
    }
  }

  &:hover {
    span {
      color: @color-secondary-text;
    }

    svg {
      rect {
        fill: @color-secondary-text;
      }

      path {
        stroke: @color-secondary-text;
      }
    }
  }
}

.MainValues {
  display: flex;
  width: 100%;

  > .Properties > section {
    display: none;
  }
}

.MarketHeader__description {
  color: @color-secondary-text;
  flex-grow: 1;
  font-size: @font-size-rather-large;
  font-weight: bold;
  line-height: normal;
}

.MarketHeader__descriptionContainer {
  border-radius: @size-4;
  overflow-y: auto;
  padding: @size-16;
  padding-bottom: 0;
  padding-left: 0;
  padding-top: @size-4;

  > p {
    margin-bottom: 0;
  }
}

.MarketHeader__descriptionContainer:focus {
  outline: none;
}

.MarketHeader__readMoreButton {
  .text-12;

  color: @color-secondary-text;
  cursor: pointer;
  margin-top: @size-12;
  text-transform: uppercase;

  svg {
    height: @size-16;
    margin-right: @size-8;

    polyline {
      stroke: @color-secondary-text;
      stroke-width: 3;
    }
  }
}

.MarketHeader__readMoreButton-less {
  align-items: center;
  display: flex;
  margin-top: 0;
}

.MarketHeader__descContainer {
  flex: 1;
  margin-right: @size-20;
  max-width: 654px;
}

.MarketHeader__collapsed {
  display: flex;
  flex: 1;
  width: 100%;
}

.MarketHeader__details:first-of-type {
  padding: 0 0 @size-16 0;
}

.MarketHeader__details {
  padding: 0;

  h4 {
    .mono-10;

    color: @color-shadow-text;
    display: block;
    padding-bottom: 0.125rem;
    padding-right: 0.5em;
    text-transform: uppercase;
  }

  > span,
  > p,
  > textarea,
  > label {
    .text-12;

    color: @color-tertiary-text;

    @media @breakpoint-mobile-small {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.Properties {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 3rem;
  min-height: fit-content;
  min-width: 370px;
  padding-left: @size-8;
}

.Core {
  display: flex;
  padding: 1.125rem 0 0;

  > div:first-of-type {
    padding-top: 1px;

    @media @breakpoint-mobile {
      padding-top: @size-16;
    }

    > div:nth-of-type(3) {
      padding-top: 1px;
    }
  }

  > div {
    flex: 1;
  }
}

@media @breakpoint-mobile {
  .MarketHeader {
    > h1 {
      .text-18-bold;

      display: flex;
      color: @color-secondary-text;
      margin: 0 @size-8 @size-24;
    }

    > div:first-of-type {
      align-items: normal;
      margin-left: @size-8;
      overflow: auto;

      div.Properties {
        display: none;
      }

      > div:first-of-type {
        padding-top: 0;

        > span {
          margin: 0 @size-8 0 0;
        }
      }
    }
  }

  .Core {
    flex-direction: column;
    padding: 0;

    > div {
      border-radius: @border-radius-default;
    }
  }

  .MarketHeader__description,
  .MarketHeader_toggleContainer,
  .BackButton {
    display: none;
  }

  .MarketHeader__descContainer {
    margin: 1.5625rem 0 1.25rem @size-8;
    max-width: unset;
  }

  .MainValues {
    flex-direction: column;

    > .Properties {
      > section {
        display: flex;
      }
    }
  }

  .Properties {
    border-bottom: 1px solid #0f0a19;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 0;
    min-width: unset;
    padding-left: 0;
  }

  .TimeStuff {
    align-items: normal;
    background-color: @color-secondary-action;
    margin: @size-8 0;
    padding: @size-16;
  }
}
