@import (reference) "~assets/styles/shared";

.Finalization,
.ClaimHold {
  background: @color-theme-primary;
  border: 1px solid fade(@color-highlight, 50%);
  border-radius: @border-radius-default;
  margin-bottom: @size-16;
  padding: @size-16;

  @media @breakpoint-mobile {
    margin-bottom: @size-8;
  }
}

.Finalization {
  > div:first-of-type {
    .mono-11-bold;

    color: @color-secondary-text;
    text-transform: uppercase;
  }

  > div:last-of-type {
    .text-11;

    color: @color-tertiary-text;
    margin: @size-8 0 0;
  }
}

.ClaimHold {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div:first-of-type {
    > div:first-of-type {
      .mono-11-bold;

      color: @color-secondary-text;
      text-transform: uppercase;
    }

    > div:last-of-type {
      .text-11;

      color: @color-tertiary-text;
      margin: @size-8 0 0;
    }
  }

  > div:last-of-type {
    margin-bottom: 0;

    > span > span:first-of-type {
      .mono-10;

      color: @color-shadow-text;
      text-align: right;
      text-transform: uppercase;
    }

    > span > span:last-of-type {
      .mono-11;

      text-align: right;
    }

    @media @breakpoint-1-0 {
      margin-bottom: @size-24;
    }

    @media @breakpoint-mobile {
      margin-bottom: 0;
    }
  }
}

.Break {
  background: @color-theme-primary;
  height: 0.125rem;

  @media @breakpoint-mobile {
    display: none;
  }
}

.Content {
  background: @color-tertiary-background;
  border-radius: @border-radius-default;
  display: flex;
  flex-direction: row;
  padding: @size-16;
  justify-content: space-between; 
  
  @media @breakpoint-mobile {
    margin-bottom: @size-8;
  }

  @media @breakpoint-mobile-extra-small {
    flex-direction: column;
    text-align: center;
  }

  > div:first-of-type {
    display: flex;
    flex-direction: column;
  }

  &.Set {
    min-width: 250px;

    > div:first-of-type {
      > span:first-of-type {
        .mono-12-bold;

        color: @color-outcome-four;
        text-transform: uppercase;
      }
    }
  }

  &.Dispute,
  &.Set {
    > div:first-of-type {
      margin-top: @size-8;

      > span:not(:first-of-type) {
        .text-12-bold;

        color: @color-tertiary-text;
      }
    }
  }

  &.Dispute,
  &.Report {
    > div:first-of-type {
      > span:first-of-type {
        .mono-12-bold;

        color: @color-highlight;
        text-transform: uppercase;
      }
    }
  }

  &.Report {
    > div:first-of-type {
      @media @breakpoint-mobile {
        flex: 1 50%;
      }

      > span:last-of-type {
        .text-12;

        color: @color-tertiary-text;
        margin-top: @size-8;
      }
    }

    > span {
      @media @breakpoint-mobile {
        margin-left: @size-16;
      }
    }
  }
}
