@import (reference) '~assets/styles/shared';

.PortfolioHeader {
  color: white;
  .view();
}

.PortfolioHeader__title {
  text-transform: uppercase;
}

@media @breakpoint-mobile {
  .PortfolioHeader {
    padding: 2rem 1rem 0;
  }
}
