@import (reference) '~assets/styles/shared';

.AccountHeader {
  align-content: flex-start;
  align-items: normal;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  padding: 5.625rem 0 3rem 4.375rem;
  width: 100%;
}

.AccountHeader__Currency {
  align-items: flex-end;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  font-size: @font-size-rather-large;
  text-align: center;
  width: 22rem;
}

.AccountHeader__Currency-value {
  align-self: center;
  flex: 0 0 auto;
  margin: 0 auto;
}

.AccountHeader__Currency-label {
  // align-self: flex-end;
  // flex: 0 0 auto;
  // font-size: @font-size-rather-large;
  // font-size: @font-size-extra-small;
  font-size: 0.35rem;
  text-transform: uppercase;
}

.AccountHeader__Charts {
  align-items: flex-end;
  display: flex;
  flex: 2 1 auto;
  flex-wrap: nowrap;
}

.AccountHeader__Chart {
  flex: 0 1 auto;
  flex-basis: 23rem;
  margin: 0 auto;
  // max-width:  33%;
}

@media @breakpoint-mobile {
  .AccountHeader {
    align-content: flex-start;
    align-items: normal;
    color: white;
    display: flex;
    padding: 0;
  }

  .AccountHeader__Currency {
    align-items: flex-end;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    width: 100vw;
    z-index: 1000;
  }

  .AccountHeader__Currency-value {
    flex: 0 0 auto;
    margin: 0 auto;
  }

  .AccountHeader__Currency-label {
    // flex: 0 0 auto;
    // font-size: @font-size-normal;
    // font-size: @font-size-extra-small;
    font-size: 0.45rem;
    // margin: 0;
    text-transform: uppercase;
  }

  .AccountHeader__Chart {
    // padding-top: 10%;
    display: flex;
    flex: 0 0 auto;
    margin: 0;
    width: 100%;
  }
}
