@import (reference) '~assets/styles/shared';

.AccountHeader {
  width: 100%;
  padding: 5.625rem 0 3rem 4.375rem;
  color: white;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  align-content: flex-start;
}

.AccountHeader__Currency {
  font-size: @font-size-rather-large;
  flex: 0 0 auto;
  width: 26.25rem;
  text-align: center;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.AccountHeader__Currency-value {
  flex: 1 0 auto;
}

.AccountHeader__Currency-label {
  font-size: @font-size-rather-large;
  text-transform: uppercase;
  flex: 0 0 auto;
}

.AccountHeader__Chart {
  flex: 0 0 auto;
  display: flex;
  width: 26.25rem;
  // margin: 0 auto;
}

@media @breakpoint-mobile {
  .AccountHeader {
    width: 100%;
    color: white;
    // padding: 5.625rem 0 3rem 4.375rem;
    padding: 0;
    display: flex;
    align-items: flex-end;
    align-content: flex-start;
  }

  .AccountHeader__Currency {
    position: absolute;
    padding-bottom: 5rem;
    z-index: 1000;
    align-self: center;
    width: 100%;
  }

  .AccountHeader__Currency-value {
    flex: 0 0 auto;
    margin-left: auto;
  }

  .AccountHeader__Currency-label {
    font-size: @font-size-rather-large;
    text-transform: uppercase;
    flex: 0 0 auto;
    margin-right: auto;
  }

  .AccountHeader__Chart {
    flex: 0 0 auto;
    display: flex;
    width: 100%;
    // margin: 0 auto;
  }

}
