{
  "augur-node": "ws://127.0.0.1:9001",
  "ethereum-node": {
    "http": "http://127.0.0.1:8545",
    "ws": "ws://127.0.0.1:8546"
  },
  "auto-login": false,
  "universe": null,
  "bug-bounty": false,
  "bug-bounty-address": "0x913da4198e6be1d5f5e4a40d0667f70c0b5430eb",
  "debug": {
    "connect": true,
    "broadcast": false
  }
}
