<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Decentralized Prediction Markets | Augur</title>

    <meta charset="utf-8">
    <meta name="fragment" content="!">

    <meta name="description" content="Augur is a decentralized prediction market built on the Ethereum blockchain. It allows you to forecast events and be rewarded for predicting them correctly.">

    <!-- Open Graph -->
    <meta property="og:title" content="Augur | Decentralized Prediction Markets">
    <meta property="og:description" content="Augur is a decentralized prediction market built on the Ethereum blockchain. It allows you to forecast events and be rewarded for predicting them correctly.">
    <meta property="og:site_name" content="Augur | Decentralized Prediction Markets">
    <meta property="og:url" content="http://www.app.augur.net">
    <meta property="og:image" content="assets/images/apple-touch-icon-152x152.png">
    <meta property="article:tag" content="Augur">
    <meta property="article:tag" content="Prediction Markets">
    <meta property="article:tag" content="Predictive Markets">
    <meta property="article:tag" content="Market Predictions">
    <meta property="article:tag" content="Share Market">
    <meta property="article:tag" content="Bet Predictions">
    <meta property="article:tag" content="Prediction Site">
    <meta property="article:tag" content="Decentralized">
    <meta property="article:published_time" content="2016-10-10T04:21:28+00:00">

    <!-- Twitter -->
    <meta name="twitter:card" content="Augur | Decentralized Prediction Markets">
    <meta name="twitter:description" content="Augur is a decentralized prediction market built on the Ethereum blockchain. It allows you to forecast events and be rewarded for predicting them correctly.">
    <meta name="twitter:title" content="Augur | Decentralized Prediction Markets">
    <meta name="twitter:domain" content="Augur">
    <meta name="twitter:image" content="assets/images/apple-touch-icon-152x152.png">

    <!-- Favicons -->
    <!-- 	iOS 10+ -->
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon-180x180.png">
    <!-- 	Android -->
    <meta name="theme-color" content="#5C2634">
    <link rel="manifest" href="config/manifest.json">
    <!-- 	Safari -->
    <link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#5F2652">
    <!-- 	Windows 10 Tiles -->
    <meta name="msapplication-TileColor" content="#5F2652">
    <meta name="application-name" content="Augur">
    <meta name="msapplication-square70x70logo" content="assets/images/augur-tile-small.png">
    <meta name="msapplication-square150x150logo" content="assets/images/augur-tile-medium.png">
    <meta name="msapplication-wide310x150logo" content="assets/images/augur-tile-wide.png">
    <meta name="msapplication-square310x310logo" content="assets/images/augur-tile-large.png">
    <!-- 	fallback if favicon.ico isn't utilized -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,minimal-ui,user-scalable=0">
    <meta name="e840127dba35b2939858e9ed30d25cb70b353e25" content="117ae21d29f8732b0bde7381da50aa67b1548bd9">

    <link rel="stylesheet" type="text/css" href="assets/styles/splash.css">

    <script>
      document.documentElement.className += (("ontouchstart" in document.documentElement) ? ' touch-enabled' : ' touch-disabled');
    </script>
    <script>
      if (window.location.pathname.match(/\/blog\//)) {
        window.location = "http://augur.strikingly.com" + window.location.pathname;
      }
    </script>
  </head>
  <body>
    <div id="app"> <!-- attachment point for the app -->
      <div id="splash">
        <span id="splash-text"></span>
      </div>
    </div>


    <% if(htmlWebpackPlugin.options.environment === 'development') { %>

    <!-- Hotjar Analytics -->
    <script type="text/javascript">
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:360502,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');

    </script>

    <!-- Google Translate -->
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, multilanguagePage: true}, 'google_translate_element');}</script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- Google Analytics -->
    <script src="//www.google-analytics.com/analytics.js" defer=""></script>

    <% } %>

    <!-- NOTE: all relevant entry scripts are automatically appended here during build -->
  </body>
</html>
