html,
body,
#app,
#splash {
  height: 100%;
  margin: 0;
  width: 100%;
}

#splash {
  background: #efefef;
  color: #f5f5f5;
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}

#splash-text {
  animation-direction: alternate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: splash-anim;
  animation-timing-function: cubic-bezier(0.11, 0.63, 0.25, 0.89);
  background-image: url('../../assets/images/augur-logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  color: #fbfbfb;
  display: inline-block;
  font-family: Impact, "Arial Black", "Avant Garde", Charcoal, sans-serif;
  font-size: 20vh;
  font-weight: 700;
  height: 50px;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 0 0 50px #e9e9e9;
  top: 0;
  width: 50px;
}

@keyframes splash-anim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4);
  }
}
