html, body, #app, #splash {
	width: 100%; height: 100%;
}

#splash {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #f5f5f5;
	background: #efefef;
	overflow: hidden;
}

#splash-text {
	display: inline-block; position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	width:50px; height: 50px;
	margin: auto;
	color: #fbfbfb;
	background-image: url('/${build_folder}/assets/images/augur_logo_200_white.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	font-family: Impact, "Arial Black", "Avant Garde", Charcoal, sans-serif;
	font-size: 20vh;
	font-weight: 700;
	text-shadow: 0 0 50px #e9e9e9;
	text-align: center;
	overflow: hidden;

	animation-name: splash-anim;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.11,.63,.25,.89);
	animation-direction: alternate;
}

@keyframes splash-anim {
	0% {
		transform: scale(1) rotate(0deg);
	}
	100% {
		transform: scale(4) rotate(3deg);
	}
}
