@import (reference) '~assets/styles/shared';

.Tabs {
  cursor: default;
}

div.Table {
  color: @color-primary-text;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 0;
  position: relative;
  width: 100%;

  > div:first-of-type {
    overflow-y: auto;
  }

  &.Outcomes {
    > div:first-of-type {
      max-height: unset;
      min-height: unset;
    }
  }
}

.scrollable {
  > ul {
    // if the module becomes scrollable, we pad 15 more px for scrollbar.
    padding-right: @size-31;
  }
}

div.TableHeight {
  top: 0;
  left: 0;
  right: 0;
  bottom: @size-32;
  position: absolute;
}

.Empty {
  background-color: @color-module-background;
}

.Footer {
  border-top: 1px solid @color-dark-grey;
  display: flex;
  justify-content: flex-end;
  min-height: @size-32;
  padding: @size-8 @size-16;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

div.HideOutcomes {
  > div:last-of-type {
    max-height: 87px !important;
  }
}

@media @breakpoint-mobile-mid {
  .Footer {
    background: @color-dark-grey;
    margin-top: 2px;
    position: relative;
  }

  div.Table {
    > div:first-of-type {
      max-height: calc(100vh - 300px);
      min-height: unset;
    }

    &.Outcomes {
      > div:first-of-type {
        max-height: unset;
      }
    }
  }

  div.TableHeight {
    position: relative;
  }
}