// COLORS
// this file should replace the older colors.less ASAP

@color-purple: #412468;
@purple--lighter: #9b8bf5;
@color-lightpurple: #553580;
@color-darkpurple: #372e4b;
@color-darkgray: #44415a;
@color-gray: #736e89;
@color-lightgray: #a7a2b2;
@color-lightergray: #dbdae1;
@color-offwhite: #f0eff6;
@color-white: #ffffff;
@color-almostblack: #1e1a31;

