// COLORS
// this file should replace the older colors.less ASAP

// Color Pallete (only use these color values)
@color-purple: #412468;
@color-grayish-purple: #5a407e;
@color-very-lightpurple: #9c90b1;
@color-lighter-purple: #9b8bf5;
@color-lightpurple: #553580;
@color-darkpurple: #372e4b;
@color-darkpurple-2: #3c3451;
@color-darkgray: #44415a;
@color-gray: #736e89;
@color-gray2: #9592a4;
@color-lightgray: #a7a2b2;
@color-lightgray-2: #ceccd8;
@color-lightergray: #dbdae1;
@color-lightergray-2: #d1d1d3;
@color-lightest-gray: #dfdfdf;
@color-offwhite: #f0eff6;
@color-white: #ffffff;
@color-almostblack: #231a3a;
@color-red: #d0021b;
@color-pink: #f12a66;
@color-transparent: transparent;

// Purpose Colors
@color-text-light: @color-white;
@color-text-light-muted: @color-lightgray;
@color-text-disabled: @color-offwhite;
@color-text-dark: @color-darkpurple;

@color-disabled: @color-lightest-gray;

@color-input-background: #f6f6f8;
@color-input-border: @color-lightpurple;

@color-selection-modal-background: #f6f6f8;

// Movement
@color-positive: #00f1c4;
@color-negative: #ff0068;

//  Chart
@color-outcome-one: #4ebeff;
@color-outcome-two: #ff6e00;
@color-outcome-three: #8ee500;
@color-outcome-four: #ff45aa;
@color-outcome-five: #9b8bf5;
@color-outcome-six: #ffd500;
// NOTE -- these two were not spec'd
@color-outcome-seven: #ff9d81;
@color-outcome-eight: #42ffec;
