label {
  &:extend(.caps--small);

  color: @color-text-light;
  display: block;
  margin-bottom: 0.625rem;

  &[for] {
    cursor: pointer;
  }
}

.Label--dark {
  color: @color-text-dark;
}

input,
textarea {
  .border(true, @border-all, transparent, @border-width-2);

  background-color: @color-input-background;
  color: @color-text-dark;
  display: block;
  font-family: @din-pro;
  padding: 0.75rem 1rem;
  width: 100%;

  &:focus {
    .border(true, @border-all, @color-input-border, @border-width-2);
  }

  &:disabled {
    background-color: @color-disabled;
    cursor: default;
  }

  &::placeholder {
    color: @color-offwhite;
    font-family: @din-pro;
  }
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
