@import '../../../node_modules/normalize.css/normalize.css';

button {
  .font-defaults();

  background-color: transparent;
  color: inherit;
  cursor: default;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
