@import '_normalize';
@import '_animations';
@import '_arrangement';
@import '_borders';
@import '_colors_OLD';
@import '_colors';
@import '_responsive';
@import '_typography';

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: @color-darkpurple;
  font-family: @din-pro;
  font-style: normal;
  font-weight: 400;
}
