.augur-logo-icon {
  .icon-cls-1,
  .icon-cls-3,
  .icon-cls-5 {
    fill: #ffffff;
  }

  .icon-cls-1 {
    clip-rule: evenodd;
  }

  .icon-cls-2 {
    fill: none;
  }

  .icon-cls-3 {
    fill-rule: evenodd;
  }

  .icon-cls-4 {
    clip-path: url("#clip-path-icon");
  }
}
