@import (reference) '~assets/styles/shared';

div.Tooltip {
  .text-10;

  background-color: @color-primary-alternate;
  border: 1px solid transparent;
  border-radius: @border-radius-default;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
  color: @color-primary-text;
  line-height: @size-13;
  max-width: 13.7rem;
  padding: @size-8;
  pointer-events: auto;
  text-transform: none;
  white-space: initial;
  z-index: @mask-above;

  > h4 {
    font-weight: 500;
    margin-bottom: 0.75rem;
  }

  > p {
    margin: 0 0 0.75rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover {
    opacity: 1;
    visibility: visible;
  }
}

.TooltipHint {
  > svg {
    max-height: 1rem;
    max-width: 1rem;
  }
}

:global {
  div.__react_component_tooltip {
    transition: none;

    &.show {
      opacity: 1;
    }

    &.place-top {
      box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: -@size-14;

      &::after {
        border-top: @size-8 solid @color-dark-gray;
        bottom: -@size-8;
      }

      &.type-light::after {
        border-left-width: @size-8;
        border-right-width: @size-8;
        border-top-width: @size-8;
      }

      &::before {
        border: 0 solid transparent;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
        border-top-color: #443b59;
        bottom: -22px;
        content: '';
        display: block;
        height: 0;
        left: 50.5%;
        margin-left: -@size-8;
        position: absolute;
        top: unset;
        width: 0;
      }
    }

    &.place-bottom {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
      margin-top: -@size-14;

      &::after {
        border-bottom-color: @color-dark-gray;
        top: -@size-8;
      }

      &.type-light::after {
        border-bottom-width: @size-8;
        border-left-width: @size-8;
        border-right-width: @size-8;
      }

      &::before {
        border: 0 solid transparent;
        border-bottom-color: #443b59;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
        bottom: 100%;
        content: '';
        display: block;
        height: 0;
        left: 50.5%;
        margin-left: -@size-8;
        position: absolute;
        top: unset;
        width: 0;
      }
    }

    &.place-left {
      margin-left: -@size-14;
      margin-top: -@size-8;

      &::after {
        border-left-color: @color-dark-gray;
        right: -@size-8;
      }

      &.type-light::after {
        border-bottom-width: @size-8;
        border-left-width: @size-8;
        border-top-width: @size-8;
      }

      &::before {
        border: 0 solid transparent;
        border-bottom: 0 solid transparent;
        border-left-color: #443b59;
        border-top: 0 solid transparent;
        bottom: unset;
        content: '';
        display: block;
        height: 0;
        left: unset;
        position: absolute;
        right: -22px;
        top: 50%;
        width: 0;
      }
    }

    &.place-right {
      margin-right: -@size-14;
      margin-top: -@size-8;

      &::after {
        border-right-color: @color-dark-gray;
        left: -@size-8;
      }

      &.type-light::after {
        border-bottom-width: @size-8;
        border-right-width: @size-8;
        border-top-width: @size-8;
      }

      &::before {
        border: 0 solid transparent;
        border-bottom: 0 solid transparent;
        border-right-color: #443b59;
        border-top: 0 solid transparent;
        bottom: unset;
        content: '';
        display: block;
        height: 0;
        left: -22px;
        position: absolute;
        right: unset;
        top: 50%;
        width: 0;
      }
    }
  }
}
