@import (reference) '~assets/styles/shared';

.CreateMarketDefine_bugBountyDisclaimer {
  background-color: #80808052;
  color: #cacccd;
  margin-bottom: 2rem;
  padding: 1.25rem 0.75rem;
}

.CreateMarketDefine__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > label {
    width: 100%;
  }

  > input {
    width: 48%;
  }
}

.CreateMarketDefine__suggested-categories {
  color: @color-white;
  font-size: 1.125rem;
  font-weight: 500;
  position: absolute;
  top: 2.5rem;

  > li {
    display: inline-block;
    margin-right: 0.25rem;

    &:not(:last-child)::after {
      content: ",";
    }
  }
}

li.CreateMarketDefine__question {
  margin-bottom: 2rem;
}

.CreateMarketDefine__question-disclaimer {
  color: @color-white;
  font-size: 0.75rem;
  line-height: 1rem;
  position: relative;
  top: 0.25rem;
}

@media @breakpoint-mobile-medium {
  .CreateMarketDefine__suggested-categories {
    min-height: 1.375rem;
    position: static;
  }

  .CreateMarketDefine__tags > input {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
}
