@import (reference) "~assets/styles/shared";

.CreateMarketDefine_bugBountyDisclaimer {
  background-color: @color-primary-background;
  color: @color-alternate-text;
  margin-bottom: 2rem;
  padding: 1.25rem 0.75rem;
}

.CreateMarketDefine__tags {
  display: flex;
  min-width: 100%;
  padding-top: 1rem;

  > div {
    display: flex;
    flex-direction: column;
    min-width: 50%;

    > label {
      width: 100%;
    }

    > input {
      margin: 0.5rem 0;
    }
  }
}

.CreateMarketDefine_time {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;

  > * {
    width: 31%;
  }

  > div:not(:first-of-type) {
    margin-left: 0.5rem;
  }
}

.CreateMarketDefine__suggested-categories {
  color: @color-white;
  font-size: 1.125rem;
  font-weight: 500;
  position: absolute;
  top: 2.5rem;

  > li {
    display: inline-block;
    margin-right: 0.25rem;

    &:not(:last-child)::after {
      content: ",";
    }
  }
}

li.CreateMarketDefine__question {
  display: flex;
  margin: 1rem 0;

  div:first-of-type {
    min-width: 50%;
  }
}

.CreateMarketDefine_bolden {
  font-weight: bold;
}

.highlighted {
  .text-12;

  color: @color-highlight;
  padding-left: 0.5rem;
  text-transform: uppercase;
}

.CreateMarketDefine_time_display {
  margin: 1rem 0;
  min-height: 6rem;

  > div {
    .text-12-bold;

    color: @color-highlight;
    text-transform: uppercase;

    &.simple {
      color: @color-secondary-text;
    }
  }

  > span {
    display: flex;

    > div {
      color: @color-secondary-text;
      font-size: @font-size-normal;
      font-style: normal;
      font-weight: bold;
      padding: 0.25rem 0;
    }
  }

  span:last-of-type {
    color: @color-tertiary-text;
    font-size: @size-11;
  }
}

.CreateMarketDefine_message {
  color: @color-tertiary-text;
  padding: 1rem;

  > div {
    padding: 0.5rem 0.5rem 1rem;

    &.Suggestions {
      .text-16-bold;

      padding: 0 0.5rem;

      > span:not(:first-child) {
        padding-left: 0.25rem;
      }
    }

    &.blockit {
      padding: 0.5rem 0 1rem;
    }

    > button {
      .text-16-bold;
    }
  }
}

.CreateMarketDefine__question-disclaimer {
  color: @color-white;
  font-size: 0.75rem;
  line-height: 1rem;
  position: relative;
  top: 0.25rem;
}

@media @breakpoint-mobile-medium {
  .CreateMarketDefine__suggested-categories {
    min-height: 1.375rem;
    position: static;
  }

  .CreateMarketDefine__tags > input {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
}
