.transaction {
  display: flex;
  overflow-y: hidden;

  &:not(:first-of-type) {
    .border(true, @border-top, @border-muted, @style: @border-dashed);
  }

  .transaction-group + & {
    .border(true, @border-top, @border-muted);
  }

  .transaction-index,
  .transaction-spinner,
  .transaction-toggle {
    .font-size-medium();

    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 3em;
  }

  > .transaction-status {
    // Left Border
    .border(true, @border-left, @color-orange-light, @border-width-3);

    &.failed,
    &.interrupted {
      .border(true, @border-left, @color-red-light, @border-width-3);
    }

    &.pending {
      .border(true, @border-left, @color-gray, @border-width-3);
    }

    &.success {
      .border(true, @border-left, @color-green-light, @border-width-3);
    }
  }

  .transaction-toggle {
    .border(true, @border-left, @style: @border-dotted);
  }

  .transaction-content {
    display: flex;
    flex: 1;
    flex-direction: column;

    .transaction-content-main {
      display: flex;
      flex: 1;

      .transaction-summary {
        flex: 1;

        &.transaction-grouped {
          & > .transaction-summary-content {
            padding: 0.4em 1.4em;
          }

          .link {
            padding: 0.4em 1.4em;
          }
        }

        & > .transaction-summary-content {
          padding: 0.4em;
        }

        .link {
          padding: 0.4em;
        }
      }
    }
  }
}

.transaction-action {
  .font-size-medium();
  .font-weight-normal();

  margin-bottom: 0.3em;
}
