.transaction-group {
  .border(true, @border-top, @border-muted);

  .transaction-group-summary {
    display: flex;
    flex-direction: column;
    padding: 0.4em 1em;

    // Left Border
    .border(true, @border-left, @color-orange-light, @border-width-3);

    &.failed,
    &.interrupted {
      .border(true, @border-left, @color-red-light, @border-width-3);
    }

    &.pending {
      .border(true, @border-left, @color-gray, @border-width-3);
    }

    &.success {
      .border(true, @border-left, @color-green-light, @border-width-3);
    }

    .transaction-group-summary-message {
      .font-size-medium();
      .font-weight-normal();
    }
  }

  .transaction {
    .border(true, @border-top, @border-muted, @style: @border-dashed);

    margin: 0;
  }
}
