.transactions-loading-actions {
  .transactions-load-buttons {
    .border(true);

    background-color: @color-white;
    display: flex;
    flex-wrap: none;
    position: relative;

    & > button {
      cursor: pointer;
      padding: 1em 1.2em;
    }

    & > button:not(:last-of-type) {
      .border(true, @border-right);
    }
  }

  .transactions-loading-spinner {
    min-width: 3em;
    position: relative;

    .transactions-loading-message {
      margin-right: 2.2em;
    }

    .spinner-container {
      position: absolute;
      right: 1em;
      top: 50%;
    }
  }

  .transactions-loaded {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    position: relative;

    & > button {
      .border(true);

      background-color: @color-white;
      cursor: pointer;
      margin-left: 1em;
      padding: 1em 1.2em;
    }

    & > button:not(:last-of-type) {
      .border(true, @border-right);
    }
  }
}
