.transaction-details {
  .border(true, @border-top, @border-light);

  overflow-y: hidden;

  .transaction-details-content {
    padding: 0.4em;
  }

  &.transaction-details-enter {
    border-top: 0px dotted transparent; /* stylelint-disable-line length-zero-no-unit */
    max-height: 0px; /* stylelint-disable-line length-zero-no-unit */

    &.transaction-details-enter-active {
      .border(true, @border-top, @border-light);

      max-height: 1000px;
      transition-duration: @animation-speed-normal;
      transition-property: border-top, max-height;
      transition-timing-function: @animation-default-type;
    }
  }

  &.transaction-details-leave {
    .border(true, @border-top, @border-light);

    max-height: 1000px;

    &.transaction-details-leave-active {
      border-top: 0px dotted transparent; /* stylelint-disable-line length-zero-no-unit */
      max-height: 0px; /* stylelint-disable-line length-zero-no-unit */
      transition-duration: @animation-speed-normal;
      transition-property: border-top, max-height;
      transition-timing-function: @animation-default-type;
    }
  }
}

.transaction-group .transaction-details-content {
  padding: 0.4em 1.4em;
}
