.transaction-summary {
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;

  .transaction-action,
  .transaction-description {
    margin-bottom: 0.3em;
  }

  .transaction-action {
    font-weight: 400;
    text-transform: capitalize;

    .short-word {
      text-transform: lowercase;
    }

    .denomination {
      font-weight: 400;
      margin-left: 0;
    }

    * {
      display: inline;
    }
  }

  .transaction-description {
    font-weight: 300;
  }

  .transaction-timestamp {
    font-weight: 200;
  }

  &.report-unequal,
  &.report-unethical {
    color: @color-red-light;
  }

  &.report-equal {
    color: @color-green-light;
  }
}
