.transaction {
  display: flex;
  overflow: hidden;
  width: 100%;

  &:not(:first-of-type) {
    .border(true, @border-top, @border-muted, @style: @border-dashed);
  }

  .transaction-group + & {
    .border(true, @border-top, @border-muted);
  }

  .transaction-index,
  .transaction-spinner,
  .transaction-toggle {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 3em;
  }

  > .transaction-status {
    .border(true, @border-left, @color-orange-light, @border-width-3);

    &.failed,
    &.interrupted {
      .border(true, @border-left, @color-red-light, @border-width-3);
    }

    &.pending {
      .border(true, @border-left, @color-gray, @border-width-3);
    }

    &.success {
      .border(true, @border-left, @color-green-light, @border-width-3);
    }
  }

  .transaction-toggle {
    .border(true, @border-left, @style: @border-dotted);
  }

  .transaction-content {
    display: flex;
    flex-direction: column;
    width: calc(~"100% - 3px");

    .transaction-content-main {
      display: flex;
      width: calc(~"100% - 3px");

      .transaction-summary {
        flex: 1;

        &.transaction-grouped {
          .transaction-summary-content {
            padding: @transaction-default-padding calc(@transaction-default-padding * 2);
          }

          .link {
            padding: @transaction-default-padding calc(@transaction-default-padding * 2);
          }
        }

        .transaction-summary-content {
          padding: @transaction-default-padding;
        }

        .link {
          padding: @transaction-default-padding;
        }
      }
    }
  }
}

.transaction-action {
  font-weight: 400;
  margin-bottom: 0.3em;
}
