.transaction-summary {
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;

  .transaction-action,
  .transaction-description {
    margin-bottom: 0.3em;
  }

  .transaction-action {
    .font-weight-normal();

    text-transform: capitalize;

    .short-word {
      text-transform: lowercase;
    }

    .denomination {
      .font-weight-normal();

      margin-left: 0;
    }

    * {
      display: inline;
    }
  }

  .transaction-description {
    .font-weight-light();
  }

  .transaction-timestamp {
    .font-weight-extra-light();
  }

  &.report-unequal,
  &.report-unethical {
    color: @color-red-light;
  }

  &.report-equal {
    color: @color-green-light;
  }
}
