@transaction-default-padding: 0.8em;

#transactions_view {
  margin-bottom: 1em;

  .transactions-loading-status {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 1em 0;

    .spinner-container {
      margin-top: 1em;
    }
  }
}
