.transaction-summary {
  display: flex;
  flex-direction: column;

  .transaction-action {
    .font-size-medium();
    .font-weight-normal();

    * {
      display: inline;
    }
  }

  &.report-unequal,
  &.report-unethical {
    color: @color-red-light;
  }

  &.report-equal {
    color: @color-green-light;
  }
}
