@transaction-default-padding: 0.8em;

#transactions_view {
  margin-bottom: 1em;

  .view-header {
    .transactions-loading-spinner {
      min-width: 3em;
    }

    .transactions-load-buttons {
      .border(true);

      background-color: @color-white;
      position: relative;

      & > button {
        padding: 1em 1.2em;
      }

      & > button:not(:last-of-type) {
        .border(true, @border-right);
      }

      .transactions-loading-spinner {
        position: absolute;
        top: 0;
        width: 100%;

        .spinner {
          margin-top: 1em;
        }
      }
    }
  }

  .transactions-loading-status {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 1em 0;

    .spinner-container {
      margin-top: 1em;
    }
  }
}
