.transaction-details {
  border-top: 0px solid transparent; /* stylelint-disable-line length-zero-no-unit */
  max-height: 0px; /* stylelint-disable-line length-zero-no-unit */
  overflow-y: hidden;
  transform: translateZ(0); // Force hardware accelleration
  transition-duration: @animation-speed-normal;
  transition-property: border-top, max-height;

  &.visible {
    .border(true, @border-top, @border-light);

    max-height: 1000px;
  }

  .transaction-details-content {
    padding: 0.4em;
  }
}

.transaction-group .transaction-details-content {
  padding: 0.4em 1.4em;
}
