.transactions-loading-actions {
  .transactions-load-buttons,
  .transactions-loaded {
    align-items: baseline;
    display: flex;
    flex-wrap: none;
    position: relative;

    & > button {
      .border(true, @border-right);
      .border(true, @border-top);
      .border(true, @border-bottom);

      background-color: @color-white;
      cursor: pointer;
      padding: 1em 1.2em;
    }

    & > button.disabled {
      background-color: @color-gray;
      cursor: default;
      padding: 1em 1.2em;
    }

    & > button.hidden {
      display: none;
    }

    & > button:first-of-type {
      .border(true);
    }

    & > button:last-of-type {
      .border(true);

      margin-left: 1em;
    }
  }

  .transactions-loading-spinner {
    min-width: 3em;
    position: relative;

    .transactions-loading-message {
      margin-right: 2.2em;
    }

    .spinner-container {
      position: absolute;
      right: 1em;
      top: 50%;
    }
  }
}
