@import (reference) "~assets/styles/shared";

.FilterSearch {
  display: flex;
  flex-flow: row-reverse nowrap;
  min-width: 15.625rem; // 250px

  @media @breakpoint-mobile {
    min-width: 12.5rem; //200px

    > label,
    > div:last-of-type {
      display: none;
    }
  }
}

.Tooltip {
  margin: @size-4 @size-16 0 0;
  width: @size-12;
}

.Search {
  .text-16;

  align-items: center;
  background-color: @color-secondary-text;
  border-radius: 17px;
  color: @color-primary-alternate;
  display: flex;
  height: 35px;
  min-width: 250px;
  padding: 5px 12px;
  transition: min-width @animation-speed-normal @animation-default-type;

  @media @breakpoint-mobile {
    margin-right: @size-12;
    min-width: 75vw;
    transition: none;
    width: 100%;
  }

  > svg {
    height: @size-12;
    min-width: @size-12;
    width: @size-12;
  }

  > input {
    border: none;
    color: inherit;
    font-size: inherit;
    line-height: normal;
    padding: 0 0 0 0.5rem;

    &::placeholder {
      color: @color-alternate-text;
    }

    &:focus {
      .border(false);

      min-width: 400px;

      @media @breakpoint-mobile {
        max-width: 100%;
        min-width: auto;
        width: 100%;
      }
    }
  }
}
