@import (reference) '~assets/styles/shared';

.ChevronFlip {
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 1rem;

  &.pointDown {
    transform: rotate(-180deg);
  }

  > polyline {
    fill: @color-lightgray;
  }

  &.big {
    width: 1.5rem;
  }

  &.quick {
    transition: transform 0.2s ease-in-out;
  }

  &.hover {
    &:hover {
      > g {
        > g {
          stroke: @color-white;
        }
      }

      > path {
        stroke: @color-white;
      }
    }
  }
}
