@import '~assets/styles/shared.less';

.Keystore {
  padding: 2rem;
  padding-left: 6rem;
}

.Keystore__content {
  display: flex;
  height: 100%;
  width: 100%;
}

.Keystore__form {
  display: flex;
  flex: 3;
  flex-direction: column;
  padding-right: 1rem;

  & > * {
    flex-basis: 100%;
  }

  h3 {
    font-size: @font-size-medium;
  }

  label {
    &:extend(.Label--dark);
  }
}

.Keystore__instruction {
  flex: 2;
}
