@import (reference) "~assets/styles/shared";

.TradingWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.TradingWrapper__close {
  display: block;
  left: 20px;
  max-height: 1.25rem;
  max-width: 1.25rem;
  position: absolute;
  top: 40%;
}

.TradingWrapper__header_buy,
.TradingWrapper__header_sell,
.TradingWrapper__header {
  background-color: @color-grayish-purple;
  border-bottom: 1px solid @color-very-dark-purple;
  color: @color-light-gray;
  display: flex;

  > li {
    color: @color-lightgray;
    text-align: center;
    width: 50%;

    &.active_buy {
      background-color: @color-light-purple;
      color: @color-white;
    }

    &.active_sell {
      background-color: @color-light-purple;
      color: @color-white;
    }

    &:hover {
      color: @color-white;
    }

    > div {
      padding: 1.25rem 0;
      width: 100%;
    }

    > button {
      .mono-12;

      align-items: center;
      display: flex;
      flex-direction: column;
      height: 56px;
      padding: 1.125rem 0;
      position: relative;
      text-transform: uppercase;
      width: 100%;
    }
  }
}

.TradingWrapper__actions {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  margin-bottom: 8px;
  margin-top: 0.75rem;
  padding: 0 1rem;

  > button {
    .mono-14-bold;

    border-width: 2px;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
  }
}

.TradingWrapper__fullActions {
  flex-grow: unset;
}

.TradingWrapper__scalar__line {
  background-color: @color-light-purple;
  padding: 0.25rem;
  width: 100%;
}

.TradingWrapper__underline__sell,
.TradingWrapper__underline__buy,
.TradingWrapper__underline {
  border-radius: 100px;
  bottom: 14px;
  margin-top: 0.25rem;
  position: absolute;
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 5rem;

  &.notActive {
    display: none;
  }
}

.TradingWrapper__underline__buy {
  border-bottom: 1px solid @color-positive;
}

.TradingWrapper__underline__sell {
  border-bottom: 1px solid @color-negative2;
}

.TradingWrapper__padding__bar {
  border-bottom-color: @color-lightgray;
}

.TradingWrapper__button--login {
  &:extend(.button--purple all);

  margin: 2rem auto 0;
  max-width: 12rem;
}

.TradingWrapper__mobile-header {
  color: @color-white;
  padding: 1.5rem 1rem 0;
  position: relative;
  text-align: center;

  > span {
    display: block;
  }
}

.TradingWrapper__mobile-header-close {
  left: 1rem;
  position: absolute;
  top: 1rem;

  > svg {
    height: 1rem;
    width: 1rem;
  }
}

.TradingWrapper__mobile-header-outcome {
  &:extend(.caps--small);

  font-weight: 500;
  margin-bottom: 1rem;
}

.TradingWrapper__mobile-header-last {
  color: @color-lightgray;
}
