.order-book-row-side {
	flex: 1;

	&:first-child {

		.border(true, @border-right, @border-light);
	}

	&.order-book-row-side-trading {
		background-color: @color-blue-extra-light;
	}

	.order-book-side-row {

		.table-row();

		.border(true, @border-top, @border-light);

		display: flex;

		& > * {

			.table-cell-spacing();

			flex: 1;
		}
	}
}
