@import (reference) '~assets/styles/shared';

.MarketOutcomeOrderBook {
  background-color: @color-grayish-purple;
  border-bottom: 8px solid @color-light-purple;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.MarketOutcomeOrderBook__stats {
  flex: 0;
  margin: 0.4em 0 -3px;
}

.MarketOutcomeOrderBook__Side {
  &:extend(.caps--small);

  flex: 1 1;
}

.MarketOutcomeOrderBook__side--asks {
  height: auto;
  justify-content: flex-end;
  position: relative;
}

.MarketOutcomeOrderBook__container {
  bottom: 0;
  left: 0;
  max-height: 100%;
  overflow: overlay;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.MarketOutcomeOrderBook__container--asks {
  top: unset;
}

.MarketOutcomeOrderBook__side--bids {
  height: auto;
  justify-content: flex-end;
  position: relative;
}

.MarketOutcomeOrderBook__row {
  display: flex;
  padding: 4.5px 24px 4.5px 10px;
  position: relative;
  width: 100%;

  &::before {
    background-color: @color-positive;
    bottom: 0;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
  }
}

.MarketOutcomeOrderBook__rowScale {
  background-color: @color-positive;
  bottom: 1px;
  cursor: pointer;
  left: 0;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  top: 1px;
}

.MarketOutcomeOrderBook__rowScaleNeg {
  background-color: @color-negative2;
}

.MarketOutcomeOrderBook__rowPositive {
  &::before {
    background-color: @color-negative2;
  }
}

.MarketOutcomeOrderBook__row--head-ask {
  .MarketOutcomeOrderBook__RowItem_ask {
    color: @color-white;
  }
}

.MarketOutcomeOrderBook__row--head-bid {
  .MarketOutcomeOrderBook__RowItem_bid {
    color: @color-white;
  }
}

.MarketOutcomeOrderBook__row--hover {
  background-color: @color-light-purple;

  &::before {
    width: 6px;
  }
}

.MarketOutcomeOrderbook__row--hover-encompassed {
  background-color: @color-light-purple;
}

.MarketOutcomeOrderBook__RowItem_ask {
  color: @color-white;
  display: flex;
  flex: 1;
  font-family: 'Roboto Mono', monospace;
  font-size: @size-11;
  justify-content: flex-end;
  overflow: hidden;

  &:nth-child(3) {
    color: @color-negative2;
  }
}

.MarketOutcomeOrderBook__RowItem_bid {
  color: @color-white;
  display: flex;
  flex: 1;
  font-family: 'Roboto Mono', monospace;
  font-size: @size-11;
  justify-content: flex-end;
  overflow: hidden;

  &:nth-child(3) {
    color: @color-positive;
  }
}

.MarketOutcomeOrderBook__Midmarket {
  .mono-10;

  background-color: fade(@color-primary-alternate, 70%);
  color: @color-neutral;
  margin: 0.0625rem 0;
  padding: @size-10 @size-12;

  > div {
    align-items: center;
    display: flex;
    justify-content: center;

    > span:first-of-type {
      .mono-10;

      margin-right: @size-8;
      text-transform: uppercase;
    }
  }
}

.MarketOutcomeOrderBook__MidmarketSpread {
  font-family: @roboto;
  font-size: 10px;
  font-weight: bold;
  margin-right: 60px;
}

.MarketOutcomeOrderBook__MidmarketEth {
  font-family: @roboto;
  font-size: 10px;
  margin-left: 2px;
}

@media @breakpoint-mobile {
  .MarketOutcomeOrderBook__trading {
    display: none;
  }

  .MarketOutcomeOrderBook__row__trading {
    min-height: 30px;

    &::before {
      height: 28px;
    }
  }
}
