.positions-summary {
	> * {
		margin-right: 0.5em;
	}
}
.page-content {
	background: white;
}
.positions-container {
	border-bottom: 4px solid @color-border;

	.description {
		display: inline-block;
		padding: 1vmin 4vmin 0vmin 4vmin;
		font-size: 1.1rem;
	}
}

.positions {
	width: 100%;
	padding: 2vmin 6vmin 1vmin 6vmin;
	line-height: 1.9rem;
	font-size: 1.2rem;

	.position {
		display: flex;
		padding: 1rem;

		.position-group {
			padding: 0 4vmin;
			text-align: right;

			.position-pair {
				white-space: nowrap;
				> * {
					margin-left: 0.5em;
				}

				.title {
					font-size: 0.8em;
				}
			}
		}

		.main-group {
			text-align: right;
			font-size: 1.4em;

			> * {
				display: inline-block;
				margin-right: 1.5em;
				vertical-align: middle;
			}

			.position-name {
				padding: 0.25em 0.5em;
				border: 3px solid @color-border;
			}
		}
	}
}