.positions {

.page-header {
    .big-line {
        > * {
            margin-right: 0.5em;
        }
    }
}

.positions-content {
    display: flex;
    padding: 2vmin 4vmin;
    background: white;
    font-size: 1.15rem;

    .positions-table {
        width: 100%;

        th, td {
            padding: 1rem;
            text-align: right;
            vertical-align: middle;
            border-bottom: 1px solid @color-border;
            white-space: nowrap;

            &.description {
                text-align: left;
                vertical-align: middle;
                white-space: normal;
            }

            &.outcome {
                text-align: center;
            }

            &.gain {
                font-weight: 700;
                border-right: 2px solid @color-border;
            }
            &.cost {
                border-left: 2px solid @color-border;
            }
            &.value, &.change, &.net {
                font-weight: 700;
            }
        }
        td {
            &.description {
                font-size: 1rem;
            }
            &.buttons {
            	padding-left: 2rem;
                text-align: left;
                white-space: nowrap;

                .button {
                    margin-right: 0.1rem;
                }
            }
        }

        .positive {
            .gain, .change, .net {
                color: @color-positive;
            }
        }

        .negative {
            .gain, .change, .net {
                color: @color-negative;
            }
        }
    }
}
}