@import '~assets/styles/shared.less';

.AuthView {
  &:extend(.view);

  display: flex;
  height: 100%;
}

.AuthView__content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  z-index: @default-z-index;
}

.AuthView__header {
  .caps();

  align-self: center;
  color: @color-white;
  letter-spacing: 0.075em;
  line-height: calc(@font-size-normal ~"*" 2.5);
  text-align: center;

  @media @breakpoint-mobile {
    .caps--large();
  }
}

.AuthView__actions {
  align-items: center;
  display: flex;
}

.AuthView__button {
  &:extend(.button--white);
  &:extend(.caps--extra-large);

  margin: 0 calc(@font-size-extra-large ~"*" 1.5);
}

.AuthView__spacer {
  display: flex;
  flex: 1;
}

.AuthView__footer {
  color: @color-text-light;
  font-size: @font-size-large;

  a::after {
    content: "|";
    padding: 0.5em;
  }

  a:last-child::after {
    content: "";
  }
}
