@import (reference) '~assets/styles/shared';

.GlobalChat {
  background: @color-dark-grey;
  bottom: @size-4;
  position: fixed;
  right: @size-22;
  z-index: @mask-modal;

  // Closed global chat window
  > button {
    .mono-9-bold;

    align-items: center;
    background: @color-module-background;
    color: @color-primary-text;
    display: flex;
    flex-direction: row-reverse;
    text-transform: uppercase;

    > svg {
      fill: @color-primary-text;
      height: @size-12;
      margin-left: @size-8;
      transform: rotate(180deg);
      width: @size-12;
    }
  }

  // Open global chat window
  > div {
    background-color: @color-module-background;
    border: 1px solid @color-dark-grey;
    height: 18.125rem;
    width: 17.5rem;

    // Header section
    > div:first-of-type {
      align-items: center;
      border-bottom: 1px solid @color-dark-grey;
      display: flex;
      flex-direction: row;
      padding: @size-8 @size-8;

      > span {
        color: @color-primary-text;
        margin: 0 0;
        text-transform: uppercase;
      }

      > span:first-of-type {
        .mono-11;

        margin: 0 @size-8 0 0;
      }

      > span:nth-of-type(2) {
        .mono-9;

        background: fade(@color-open, 15%);
        border-radius: 0.1875rem;
        color: @color-open;
        padding: 0 1px;
      }

      > button {
        margin: 0 0 0 auto;

        > svg {
          height: @size-6;
          fill: @color-primary-text;
          margin: 0;
          width: @size-6;
        }
      }
    }

    // Chat content
    > div:nth-of-type(2) {
      .text-10;

      background-color: @color-module-background;
      color: @color-primary-text;
      // height: 13.25rem;
      padding: @size-8
    }

    // Input section
    > div:nth-of-type(3) {
      background-color: @color-module-background;
      border-top: 1px solid @color-dark-grey;
      bottom: @size-4;
      height: 2.8125rem;
      padding: @size-4;
      position: absolute;
      width: 100%;

      > textarea {
        .text-10;

        height: @size-38;
        resize: none;
      }
    }
  }

  @media @breakpoint-mobile {
    bottom: 0;
    position: relative;
    margin-left: auto;
    z-index: @mask-toast;

    // Open global chat window
    > div {
      background-color: @color-module-background;
      border: 1px solid @color-dark-grey;
      bottom: 0;
      height: 100vh;
      left: 0;
      position: fixed;
      width: 100vw;
      z-index: @mask-toast;

      // Header section
      > div:first-of-type {
        > button {
          margin: 0 20px 0 auto;

          > svg {
            height: @size-8;
            fill: @color-primary-text;
            margin: 0;
            width: @size-8;
          }
        }
      }
    }
  }
}
