@import (reference) "~assets/styles/shared";

.FilterDropdowns {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

:root[theme="SPORTS"] {
  .FilterDropdowns > button[class*="SecondaryButton"] {
    display: none;
  }
}
