@import (reference) '../../../../assets/styles/shared';

:local(.ConnectingView) {
	max-width: 291px;
	height: 136px;
	margin-top: 40px;
	margin-bottom: 24px;
	border: solid 1px #736e89;
}

:local(.ConnectingView__connectingContainer) {
	padding: 24px 16px 0 16px;
}

:local(.ConnectingView__conectingTitle) {
  opacity: 0.8;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #736e89;
  margin-bottom: 14px;
}

:local(.ConnectingView__conectingText) {
  opacity: 0.8;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(115, 110, 137, 0.99);
  margin-bottom: 24px;
  text-transform: uppercase;
}

:local(.ConnectingView__loadingIndicator) {
	max-height: 32px;
	border-top: solid 1px #736e89;
}