html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'roboto';
  font-weight: 300;
  src: url('assets/fonts/Roboto-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'roboto';
  font-weight: 400;
  src: url('assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'roboto';
  font-weight: 500;
  src: url('assets/fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'roboto';
  font-weight: 600;
  src: url('assets/fonts/Roboto-Bold.woff2') format('woff2');
}

body {
  color: white;
  background-color: #231A3A;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

body, html {
  margin: 0;
  height: 100%;
}

input[type=text] {
  background-color: white;
}

input[type=submit],
button {
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.3px;
  line-height: 1.125rem;
  min-height: 2.5rem;
  min-width: 9.75rem;
  padding: 0 0.4em 0.166em;
  text-transform: uppercase;
  transition: background-color 0.15s ease, color 0.15s ease;
  background-color: white;
  color: #412468;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  min-width: 800px;
  height: 100%;
}

.scrollableContainer {
  padding: 3.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-grow: 1;
}
.outlineButton {
  border: 1px solid white;
  background-color: #231A3A !important;
  color: white !important;
}

.outlineButton:disabled {
  border: 1px solid #9c9c9c;
  color: #9c9c9c !important;
  background: none;
}

.resetButton {
  background: url(reset.svg) no-repeat 80%;
  border: 1px solid #ff0068;
  background-color: transparent !important;
  color: #ff0068 !important;
  min-width: 150px !important;
  font-weight: 500 !important;
  padding-left: 40px !important;
  justify-content: flex-start !important;
}

input[type=submit]:disabled,
button:disabled {
  background-color: #A7A2B2;
  color: #DBDAE1;
  cursor: default;
}

input[type=submit]:hover,
button:hover {
  filter: brightness(90%);
}

input[type=submit]:disabled:hover,
button:disabled:hover {
  background-color: #a7a2b2;
  color: #dbdae1;
  cursor: default;
  filter: none;
}

select {
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  color: #372E4B;
  letter-spacing: 0;
}

tbody tr td:first-child {
  width: 30%;
}

input {
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  height: 2rem;
  padding-top: 0;
  padding-left: 5px;
  font-size: 18px;
  color: #372E4B;
  letter-spacing: 0;
  border: none;
}

.inputText {
  border: solid 1px #9b8bf5;
}

.success {
  color: #00f1c4
}

.failure {
  color: #ff0068;
}

.notice {
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  letter-spacing: 0.3px;
  line-height: 1.125rem;
  text-transform: none;
  cursor: pointer;
  justify-content: flex-end;
}

.networkForm {
  width: 60%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 700px;
  padding-right: 3.5rem;
  min-width: 450px;
  padding-bottom: 10px;
}

.label {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 17px;
  padding: 1rem 0 .3rem 0;
}

.formFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.ledgerSupport {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 80px;
}

.sideMenu {
  color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  flex-grow: 1;
}

.syncLineInfo {
  margin-top: 18px;
}

.connectedInfo {
  display: flex;
  max-height: 90px;
  background-color: white;
  flex-grow: 1;
  margin-bottom: 0.5rem;
  width: 100%;
  align-items: center;
  min-height: 90px;
}

#connectedInfoLight {
  padding: 34px 0;
  min-height: 50px;
  max-height: 50px;
  font-size: 16px;
  color: #372e4b;
  margin-bottom: 18px;
}

#syncing_info {
  display: flex;
  max-height: 220px;
  background-color: white;
  flex-grow: 1;
  flex-direction: column;
  padding: 40px 32px;
}

#geth_syncing_info {
  max-height: 220px;
  background-color: white;
  flex-direction: column;
  padding: 40px 0px;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}

.dbInfo {
  font-size: 16px;
  color: #372E4B;
}

#syncPercentInfo {
  font-size: 24px;
  color: #A7A2B2;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 13px;
  margin-bottom: 16px;
}

#geth_syncPercentInfo {
  font-size: 24px;
  color: #A7A2B2;
  padding-bottom: 13px;
  margin-bottom: 10px;
}

#sync_percent {
  font-size: 48px;
  font-weight: 500;
}

#geth_sync_percent {
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}

.blocksBehind {
  font-size: 16px;
  color: #372E4B;
  margin-bottom: 16px;
}

#blocks_behind {
  font-size: 24px;
  color: #372E4B;
  font-weight: 500;
}

#geth_blocks_behind {
  font-size: 24px;
  color: #372E4B;
  font-weight: 500;
}

.blocksProcessed {
  font-size: 14px;
  color: #372E4B;
  font-weight: 500;
}

.blocksLabel {
  font-size: 16px;
  font-weight: 400;
}

.networkName {
  flex-grow: 1;
  padding: 0 32px;
}

.connected,
.notConnected,
.networkConnected {
  min-height: 24px;
  min-width: 24px;
  padding-left: 2rem;
  padding-top: 0.4rem;
}

.errorIcon {
  width: 24px;
  height: 20px;
  background: url(alert-icon.svg) no-repeat center center;
}

.notConnected {
  background: url(notConnected.svg) no-repeat center center;
}

.connected {
  background: url(connected.svg) no-repeat center center;
}

.status {
  text-transform: uppercase;
  font-weight: 700;
}

.networkSelect {
  height: 2rem;
  width: 20rem;
  -webkit-appearance: none;
  border-radius: 0px;
  background-image: url(arrow.svg);
  background-position: 98% 50%;
  background-repeat: no-repeat;
  padding-left: 5px;
  background-color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  flex-grow: 1;
}

.tail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.versionNumber {
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  align-self: flex-end;
  text-transform: none;
}

.borderTop {
  border-top: 1px solid #dbdae1;
  padding-top: 40px
}

#open_app_screen > .networkName {
  padding-left: 0;
  text-transform: none;
}

.instructions {
  padding: .5rem 0 1.5rem 0;
}

.instruction {
  text-transform: none;
}

.networkInfo {
  text-transform: none;
}

.networkInfoBlock {
  margin-bottom: 20px;
}

.cancelButton {
  margin-top: 20px;
  display: none;
  font-size: 16px;
  cursor: pointer;
}

.cancelButton:hover {
  filter: brightness(90%);
}

.ledgerSupportText {
  margin-top:  16px;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  letter-spacing: 0.3px;
  line-height: 1.125rem;
  text-transform: none;
  cursor: pointer;
}

.resetText {
  display: flex;
  align-items: center;
  max-width: 160px;
  color: #ff0068 !important;
  margin-right: 5px;
  font-size: 14px;
  text-transform: none;
}


.reset {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-top: 5px;
}

#blocks_synced {
  display:inline-block;
  margin-right: 5px;
}

#geth_blocks_synced {
  display:inline-block;
  margin-right: 5px;
}

.neverBreakup {
  white-space: nowrap;
  display: inline;
}

.about_versions {
  padding: 10px 20px;
}

.about_top_section {
  align-content: center;
  display: flex;
  flex-direction: row;
  padding: 40px 40px;
  justify-content: center;
}

.about_bottom_section {
  padding: 10px 40px;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
}
