html {
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'DINPro';
    font-weight: 300;
    src: url('assets/fonts/3449FB_0_0.woff2') format('woff2');
}

@font-face {
    font-family: 'DINPro';
    font-weight: 400;
    src: url('assets/fonts/3449FB_1_0.woff2') format('woff2');
}

@font-face {
    font-family: 'DINPro';
    font-weight: 500;
    src: url('assets/fonts/3449FB_2_0.woff2') format('woff2');
}

@font-face {
    font-family: 'DINPro';
    font-weight: 600;
    src: url('assets/fonts/3449FB_3_0.woff2') format('woff2');
}

body {
    color: white;
    background-color: #372e4b;
    font-family: 'DINPro', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

input[type=submit],
button {
    border: 1px solid white;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0.3px;
    line-height: 1.125rem;
    min-height: 2.5rem;
    min-width: 9.75rem;
    padding: 0 0.4em 0.166em;
    text-transform: uppercase;
    transition: background-color 0.15s ease, color 0.15s ease;
    background-color: #412468;
    color: #ffffff;
}
input[type=submit]:disabled,
button:disabled {
    background-color: #dfdfdf;
    color: #79797b;
    cursor: default;
}
input[type=submit]:hover,
button:hover {
    background-color: #553580;
}
input[type=submit]:disabled:hover,
button:disabled:hover {
    background-color: #a7a2b2;
    color: #dbdae1;
    cursor: default;
}

select {
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    color: #372E4B;
    letter-spacing: 0;
}

tbody tr td:first-child {
    width: 30%;
}

input {
    border: none;
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    height: 2rem;
    padding-top: 0;
    padding-left: 5px;
    font-size: 18px;
    color: #372E4B;
    letter-spacing: 0;
}

.success {
    color: #00f1c4
}

.failure {
    color: #ff0068;
}

.notice {
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    letter-spacing: 0.3px;
    line-height: 1.125rem;
    padding: 0.5em 0.5em;
    text-transform: uppercase;
    cursor: pointer;
}

.networkForm {
    padding-left: 10%;
    padding-top: 2rem;
    width: 60%;
    text-transform: uppercase;
}

.label {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.3px;
    line-height: 17px;
    padding: 1rem 0 .2rem 0;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    min-height: 10rem;
}

.formFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.header {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    justify-content: space-between;
    min-height: 20%;
}

.networkName {
    padding-left: 10%;
    white-space: nowrap;
}

.connected,
.notConnected,
.networkConnected {
    min-height: 24px;
    min-width: 24px;
    padding-left: 2rem;
    padding-top: 0.1rem;
}

.notConnected {
    background: url(notConnected.svg) no-repeat center center;
}

.connected {
    background: url(connected.svg) no-repeat center center;
}

.synced {
    padding-right: 10%;
    white-space: nowrap;
}

.status {
    font-weight: bolder;
}

.networks {
    display: inline-block;
}

.networkSelect {
    display: block;
    height: 2rem;
    width: 27rem;
}

.padThis {
    padding-right: 1rem;
}

.openAugur {
    display: flex;
    justify-content: end;
    float: right;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
}
