@import (reference) "~assets/styles/shared";

.OnlyPortfolio {
  .text-12;

  align-items: center;
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;

  @media @breakpoint-mobile {
    margin-top: @size-8;
    margin-left: 0;
  }

  > div {
    margin-right: @size-32;
  }
}

.MarketsInDispute {
  > label {
    .text-10-medium; 

    display: grid;
    grid-template-columns: @size-24 auto;
    margin: @size-12 @size-8;
    align-items: center;

    > div {
      margin-bottom: 0;
    }
  }
}

.MarketCards {
  display: grid;
  grid-gap: @size-12;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-height: 300px;
  padding: @size-12;

  > div[class*="MarketCard"],
  > div[class*="EmptyDisplay"] {
    margin: 0;
  }

  @media @breakpoint-mobile-mid {
    padding: @size-12 0 0 0;
  }
}
