@import (reference) '~assets/styles/shared';

.LinkedTransaction__message {
  align-items: center;
  background-color: @color-input-background;
  border-top: 1px solid @color-lightergray;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  text-align: left;
  width: 100%;

  > span:first-child {
    &:extend(.caps--large);

    font-weight: 700;
  }

  > span:last-child {
    transition: transform .3s ease;

    &.is-open {
      transform: rotate(-180deg);
    }

    > svg {
      width: 1.5rem;
    }
  }
}
