@import (reference) "~assets/styles/shared";

.MarketOutcomeChartsHeader__chart-interaction {
  display: flex;
  flex-wrap: wrap;

  div:first-of-type {
    flex: 1;
  }
}

.MarketOutcomeChartsHeader__selector {
  align-self: flex-end;
}
